Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

fix(github): retain unknown rate probe reset for admission
  apps/backend/internal/github/pat_client.go
  apps/backend/internal/github/pat_client_testserver_test.go
  apps/backend/internal/github/rate_limit_fetch.go
  docs/plans/github-rate-limit-coordination/task-02-rate-coordinator.md
Due: gofmt, go-tests, go-lint

fix(github): handle invalid primary reset headers
  apps/backend/internal/github/pat_client_test.go
  apps/backend/internal/github/rate_coordinator.go
  apps/backend/internal/github/rate_coordinator_test.go
  apps/backend/internal/github/rate_error.go
  apps/backend/internal/github/ratelimit.go
  docs/plans/github-rate-limit-coordination/task-01-rate-classification.md
  docs/plans/github-rate-limit-coordination/task-02-rate-coordinator.md
  docs/specs/integrations/requirements/github-rate-limit-coordination.md
  docs/specs/integrations/system-design/github-rate-limit-coordination.md
Due: gofmt, go-tests, go-lint

fix(github): sanitize rate snapshot reason
  apps/backend/internal/github/ratelimit.go
  apps/backend/internal/github/service_rate_limit_test.go
Due: gofmt, go-tests, go-lint

fix(workflowsync): sanitize provider failure details
  apps/backend/internal/workflowsync/failure.go
  apps/backend/internal/workflowsync/handlers.go
  apps/backend/internal/workflowsync/handlers_test.go
  apps/backend/internal/workflowsync/service.go
Due: gofmt, go-tests, go-lint

fix(github): retain primary retry after concurrent success
  apps/backend/internal/github/rate_coordinator_test.go
  apps/backend/internal/github/ratelimit.go
Due: gofmt, go-tests, go-lint

fix(github): keep later primary retry boundary
  apps/backend/internal/github/rate_coordinator_test.go
  apps/backend/internal/github/ratelimit.go
Due: gofmt, go-tests, go-lint

fix(github): honor primary retry-after boundary
  apps/backend/internal/github/pat_client.go
  apps/backend/internal/github/pat_client_test.go
  apps/backend/internal/github/rate_coordinator.go
  apps/backend/internal/github/rate_error.go
  apps/backend/internal/github/rate_error_test.go
  apps/backend/internal/github/ratelimit.go
Due: gofmt, go-tests, go-lint

fix(workflowsync): sanitize suspension reasons
  apps/backend/internal/workflowsync/backoff.go
  apps/backend/internal/workflowsync/handlers_test.go
  apps/backend/internal/workflowsync/service.go
Due: gofmt, go-tests, go-lint

fix(workflowsync): sanitize legacy failure details
  apps/backend/internal/workflowsync/failure.go
  apps/backend/internal/workflowsync/handlers_test.go
  apps/backend/internal/workflowsync/service.go
Due: gofmt, go-tests, go-lint

fix(github): defer primary exhaustion without reset
  apps/backend/internal/github/rate_coordinator.go
  apps/backend/internal/github/rate_coordinator_test.go
  apps/backend/internal/github/ratelimit.go
Due: gofmt, go-tests, go-lint

fix(workflowsync): surface connection failures
  apps/backend/internal/workflowsync/backoff.go
  apps/backend/internal/workflowsync/failure.go
  apps/backend/internal/workflowsync/handlers_test.go
  apps/backend/internal/workflowsync/service_test.go
Due: gofmt, go-tests, go-lint

fix(github): align snapshot and retry admission
  apps/backend/internal/github/rate_coordinator.go
  apps/backend/internal/github/rate_coordinator_test.go
  apps/backend/internal/github/service_rate_limit_test.go
Due: gofmt, go-tests, go-lint

fix(github): defer background pacing outside sync workers
  apps/backend/internal/github/rate_coordinator.go
  apps/backend/internal/github/rate_coordinator_test.go
Due: gofmt, go-tests, go-lint

fix(coordinator): disable agent profile picker for read-only viewers
  apps/web/components/coordinators/coordinator-form-fields.test.tsx
  apps/web/components/coordinators/coordinator-form-fields.tsx
  apps/web/e2e/tests/auth/coordinator-settings-reader.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: preserve Kubernetes executor identity on workspace restore
  apps/backend/internal/task/service/handoff_workspace_orphan_test.go
  apps/backend/internal/task/service/service_turns.go
  apps/backend/internal/task/service/service_turns_test.go
Due: gofmt, go-tests, go-lint

fix(coordinator): toast on non-400 create failures in Add flow
  apps/web/components/coordinators/coordinator-add-page.test.tsx
  apps/web/components/coordinators/coordinator-add-page.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(coordinator): reset stale direct-fetch state and settle workflows independently
  apps/web/app/coordinator/use-coordinator-prs.test.ts
  apps/web/app/coordinator/use-coordinator-prs.ts
  apps/web/app/coordinator/use-coordinator-tasks.test.ts
  apps/web/app/coordinator/use-coordinator-tasks.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: harden database statistics retries
  apps/backend/internal/system/database/stats.go
  apps/backend/internal/system/database/stats_cache.go
  apps/backend/internal/system/database/stats_cache_test.go
  apps/backend/internal/system/database/stats_test.go
  apps/backend/internal/system/system.go
  apps/backend/internal/system/system_routes_test.go
  apps/web/components/settings/system/database-stats-card.test.tsx
  apps/web/components/settings/system/database-stats-card.tsx
  apps/web/e2e/helpers/database-stats.ts
  apps/web/e2e/tests/system/database-page.spec.ts
  apps/web/e2e/tests/system/mobile-database-page.spec.ts
  apps/web/hooks/domains/system/use-database-stats.test.ts
  apps/web/hooks/domains/system/use-database-stats.ts
  apps/web/lib/api/domains/system-api.test.ts
  apps/web/lib/api/domains/system-api.ts
  docs/plans/database-statistics-resilience/plan.md
  docs/plans/database-statistics-resilience/task-01-background-statistics.md
  docs/plans/database-statistics-resilience/task-02-settings-feedback.md
  docs/public/cli.md
  docs/specs/system-page/requirements/database-statistics-snapshot.md
  docs/specs/system-page/system-design/database-statistics-snapshot.md
  docs/specs/system-page/system-design/system-page-01.md
  docs/specs/system-page/system-design/tool-payload-retention.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(agentctl): recover Codex app-server probe on npm resolution failure
  apps/backend/internal/agent/hostutility/managed_runtime_recovery_test.go
  apps/backend/internal/agentctl/server/utility/codex_app_server.go
  apps/backend/internal/agentctl/server/utility/codex_app_server_process_test.go
  apps/backend/internal/agentctl/server/utility/codex_app_server_test.go
Due: gofmt, go-tests, go-lint

fix(agentctl): prefer streamable HTTP over SSE for Codex app-server MCP
  apps/backend/internal/agentctl/server/adapter/transport/codexappserver/adapter.go
  apps/backend/internal/agentctl/server/adapter/transport/codexappserver/adapter_test.go
  apps/backend/internal/agentctl/server/utility/codex_app_server.go
  apps/backend/internal/agentctl/server/utility/codex_app_server_test.go
Due: gofmt, go-tests, go-lint

test: use published coordinator template identity
  apps/web/e2e/tests/plugins/mobile-reference-coordinator-operations.spec.ts
  apps/web/e2e/tests/plugins/mobile-reference-coordinator-policy.spec.ts
  apps/web/e2e/tests/plugins/mobile-reference-coordinator.spec.ts
  apps/web/e2e/tests/plugins/reference-coordinator-helpers.ts
  apps/web/e2e/tests/plugins/reference-coordinator-operations.spec.ts
  apps/web/e2e/tests/plugins/reference-coordinator-policy.spec.ts
  apps/web/e2e/tests/plugins/reference-coordinator.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: fix coordinator template Docker mounts
  apps/web/e2e/scripts/run-e2e.sh
  apps/web/e2e/scripts/run-e2e.test.ts
  apps/web/e2e/tests/plugins/mobile-reference-coordinator-operations.spec.ts
  apps/web/e2e/tests/plugins/mobile-reference-coordinator-policy.spec.ts
  apps/web/e2e/tests/plugins/mobile-reference-coordinator.spec.ts
  apps/web/e2e/tests/plugins/reference-coordinator-helpers.ts
  apps/web/e2e/tests/plugins/reference-coordinator-operations.spec.ts
  apps/web/e2e/tests/plugins/reference-coordinator-policy.spec.ts
  apps/web/e2e/tests/plugins/reference-coordinator.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(workflowsync): wait for automatic sync completion
  apps/backend/internal/workflowsync/service_test.go
  docs/plans/github-rate-limit-pr3143-repair/plan.md
  docs/plans/github-rate-limit-pr3143-repair/task-04-continuations.md
Due: gofmt, go-tests, go-lint

ci: search PR documentation against exact Git heads
  .github/AGENTS.md
  .github/scripts/pr-docs-git.cjs
  .github/scripts/pr-docs-git.test.cjs
  .github/scripts/pr-docs-workflow-contract_test.py
  .github/scripts/pr-docs.cjs
  .github/scripts/pr-docs.test.cjs
  .github/workflows/lint-action-pinning.yml
  .github/workflows/pr-docs.yml
  Makefile
  docs/decisions/2026-09-27-pr-documentation-git-lookup.md
  docs/plans/pr-documentation-git-lookup/plan.md
  docs/plans/pr-documentation-git-lookup/task-01-replace-requirement-search.md
  docs/specs/ci/requirements/pull-request-documentation-coverage.md
  docs/specs/ci/system-design/pull-request-documentation-coverage.md
Due: none

fix: restore desktop control sizing
  apps/web/app/office/workspace/settings/export/export-preview.tsx
  apps/web/components/automations/automation-delete-confirm-dialog.tsx
  apps/web/components/confirmation/action-confirm-popover.test.tsx
  apps/web/components/confirmation/action-confirm-popover.tsx
  apps/web/components/runs/automation-detail-page.tsx
  apps/web/components/settings/canvas-rename-dialog.tsx
  apps/web/components/settings/plugin-executor-profile-dialog.tsx
  apps/web/components/settings/plugin-executor-profile-page.tsx
  apps/web/components/task-edit-dialog-dependencies.test.tsx
  apps/web/components/task-edit-dialog-dependencies.tsx
  apps/web/components/task/add-workspace-sources/add-workspace-sources-dialog.tsx
  apps/web/components/task/close-terminal-confirm-popover.test.tsx
  apps/web/components/task/file-upload-conflict-dialog.tsx
  apps/web/components/task/remote-contribution-resolution-dialog.tsx
  apps/web/e2e/tests/automations-run-detail.spec.ts
  apps/web/e2e/tests/automations-settings.spec.ts
  apps/web/e2e/tests/canvas/canvas-host-rename.spec.ts
  apps/web/e2e/tests/office/config-export.spec.ts
  apps/web/e2e/tests/settings/mobile-automations-settings.spec.ts
  apps/web/e2e/tests/settings/plugin-executor-profiles.spec.ts
  apps/web/e2e/tests/task/add-workspace-sources.spec.ts
  apps/web/e2e/tests/task/create-task-dependency-selector.spec.ts
  apps/web/e2e/tests/task/workspace-file-transfer.spec.ts
  apps/web/e2e/tests/terminal/mobile-terminal-close.spec.ts
  apps/web/e2e/tests/terminal/terminal-dockview-ui.spec.ts
  docs/plans/control-sizing-follow-up/plan.md
  docs/plans/control-sizing-follow-up/task-01-confirmation-and-recovery-actions.md
  docs/plans/control-sizing/sweep-inventory.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(coordinator): gate direct-tasks reset to real workspaceId transitions
  apps/web/app/coordinator/use-coordinator-tasks.test.ts
  apps/web/app/coordinator/use-coordinator-tasks.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: fence standalone agentctl port lease cleanup (#3961)
  apps/backend/internal/agent/runtime/agentctl/control.go
  apps/backend/internal/agent/runtime/agentctl/control_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_recovery_inventory_unknown_test.go
  apps/backend/internal/agentctl/AGENTS.md
  apps/backend/internal/agentctl/server/api/control_instance_list_test.go
  apps/backend/internal/agentctl/server/instance/instance.go
  apps/backend/internal/agentctl/server/instance/manager.go
  apps/backend/internal/agentctl/server/instance/manager_abandon_test.go
  apps/backend/internal/agentctl/server/instance/manager_ports_test.go
  apps/backend/internal/agentctl/server/instance/manager_shutdown_test.go
  apps/backend/internal/agentctl/server/instance/port_allocator.go
  apps/backend/internal/agentctl/server/instance/port_allocator_test.go
  docs/plans/agentctl-owned-port-leases/plan.md
  docs/plans/agentctl-owned-port-leases/task-01-owned-reservations.md
  docs/plans/agentctl-owned-port-leases/task-02-lease-diagnostics.md
  docs/specs/platform/requirements/agentctl-instance-stop.md
  docs/specs/platform/system-design/agentctl-instance-stop.md
Due: gofmt, go-tests, go-lint

fix: use constants for database statistics states
  apps/backend/internal/system/database/stats_cache.go
  apps/backend/internal/system/database/stats_cache_test.go
  apps/backend/internal/system/database/stats_scanner_test.go
  apps/backend/internal/system/database/stats_test.go
Due: gofmt, go-tests, go-lint

test: avoid pinning confirmation class names
  apps/web/components/confirmation/action-confirm-popover.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(coordinator): resolve build round 4 review punch list
  apps/web/components/coordinators/coordinator-add-page.test.tsx
  apps/web/components/coordinators/coordinator-add-page.tsx
  apps/web/components/coordinators/coordinator-card.test.tsx
  apps/web/components/coordinators/coordinator-card.tsx
  apps/web/components/coordinators/coordinator-editor-page.test.tsx
  apps/web/components/coordinators/coordinator-editor-page.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: preserve Git lookup failure context (#4003)
  .github/AGENTS.md
  .github/scripts/pr-docs-git.cjs
  .github/scripts/pr-docs-git.test.cjs
  docs/decisions/2026-09-27-pr-documentation-git-lookup.md
  docs/plans/pr-documentation-git-lookup/plan.md
  docs/plans/pr-documentation-git-lookup/task-01-replace-requirement-search.md
  docs/specs/ci/system-design/pull-request-documentation-coverage.md
Due: none

test: remove stale desktop confirmation class assertion
  apps/web/components/task/task-detach-confirm-dialog.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test: close PR hover popover after leaving trigger
  apps/web/e2e/pages/session-page.ts
  apps/web/e2e/tests/pr/pr-merge-queue.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: close PR status popovers before switching panels
  apps/web/e2e/tests/pr/pr-merge-queue.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: retain focus in shared PR hover helper
  apps/web/e2e/pages/session-page.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: synchronize backend fixture shutdown (#3986)
  apps/web/e2e/fixtures/process-group.ts
  apps/web/e2e/helpers/process-group.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
