Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

docs(i18n): state the coverage oracle as a regression floor, not total coverage
  apps/web/e2e/tests/i18n/pseudo-coverage.spec.ts
  docs/i18n.md
  docs/specs/platform/i18n.md
Due: prettier-format, web-lint, web-tests, web-typecheck

perf(i18n): drop the pseudo QA locale from production bundles
  .github/workflows/e2e-tests.yml
  Makefile
  apps/web/e2e/global-setup.ts
  apps/web/e2e/scripts/run-e2e.sh
  apps/web/lib/i18n/bundling.test.ts
  apps/web/lib/i18n/bundling.ts
  apps/web/lib/i18n/index.test.ts
  apps/web/lib/i18n/index.ts
  apps/web/package.json
  apps/web/vite-env.d.ts
  apps/web/vite.config.ts
  docs/i18n.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test(i18n): assert the pending-review tooltip value, not its presence
  apps/web/components/github/my-github/pr-status-badges.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor: extract cold-resume retry helpers, fix test goroutine leak
  apps/backend/internal/orchestrator/ensure_session_running_cold_resume_test.go
  apps/backend/internal/orchestrator/task_operations.go
Due: gofmt, go-tests, go-lint

fix(i18n): make the pseudo-bundle e2e guard unable to silently no-op
  apps/web/e2e/global-setup.ts
  apps/web/lib/i18n/index.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: apply fallback model on SetModel rejection and surface it in the picker
  apps/backend/internal/agent/runtime/lifecycle/start_model.go
  apps/backend/internal/agent/runtime/lifecycle/start_model_test.go
  apps/backend/internal/orchestrator/event_handlers_streaming.go
  apps/web/components/model-config-selector.test.tsx
  apps/web/components/model-config-selector.tsx
  apps/web/components/task/model-selector.tsx
  apps/web/lib/state/slices/session-runtime/types.ts
  apps/web/lib/ws/handlers/session-models.test.ts
  apps/web/lib/ws/handlers/session-models.ts
  apps/web/src/locales/en/settings.json
  apps/web/src/locales/pseudo/settings.json
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(i18n): localize date-fns distances and drop redundant t() test stubs
  apps/web/app/linear/linear-page-client.tsx
  apps/web/app/tasks/columns.tsx
  apps/web/components/command-panel-footer.tsx
  apps/web/components/github/github-rate-limit.tsx
  apps/web/components/global-commands.test.tsx
  apps/web/components/jira/jira-ticket-common.tsx
  apps/web/components/jira/jira-ticket-dialog.tsx
  apps/web/components/jira/my-jira/ticket-row.tsx
  apps/web/components/linear/linear-issue-common.tsx
  apps/web/components/linear/linear-issue-dialog.tsx
  apps/web/components/quick-chat/quick-chat-modal.test.tsx
  apps/web/components/quick-chat/quick-chat-tab-item.test.tsx
  apps/web/components/quick-chat/quick-tab-add-menu.test.tsx
  apps/web/components/quick-chat/quick-terminal-tab-view.test.tsx
  apps/web/components/sentry/sentry-issue-common.tsx
  apps/web/components/settings/workflow-pipeline-editor-step-actions.test.tsx
  apps/web/components/system-metrics/status-surface-metrics.tsx
  apps/web/components/task/chat/voice-input-button.tsx
  apps/web/components/task/commit-detail-panel.test.tsx
  apps/web/components/task/session-tab-close-action.test.tsx
  apps/web/eslint.i18n.options.mjs
  apps/web/eslint.i18n.options.test.ts
  apps/web/hooks/domains/session/use-commit-detail.test.ts
  apps/web/hooks/domains/settings/use-settings-discovery.test.ts
  apps/web/lib/i18n/date-locale.test.ts
  apps/web/lib/i18n/date-locale.ts
  apps/web/src/locales/en/task.json
  apps/web/src/locales/pseudo/task.json
  apps/web/src/locales/pt-pt/task.json
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): compact integrations index card header to shave row height
  apps/web/app/settings/integrations/page.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(mcp): apply workflow start-step launch profile over explicit on step-omitted create
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/handlers_test.go
  docs/public/coordination.md
  docs/public/tasks-and-workflows.md
  docs/specs/tasks/mcp-task-agent-profile-default/spec.md
Due: gofmt, go-tests, go-lint

fix: remove duplicate useTranslation import/declaration from merge
  apps/web/components/task/dockview-add-panel-items.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor(i18n): address review on the date-locale resolver
  apps/web/app/tasks/columns.tsx
  apps/web/components/jira/jira-ticket-common.tsx
  apps/web/components/linear/linear-issue-common.tsx
  apps/web/components/sentry/sentry-issue-common.tsx
  apps/web/lib/i18n/date-locale.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): address review feedback on integration enable toggles
  apps/web/hooks/domains/azure-devops/use-azure-devops-enabled.test.ts
  apps/web/hooks/domains/github/use-github-enabled.test.ts
  apps/web/hooks/domains/gitlab/use-gitlab-enabled.test.ts
  apps/web/hooks/domains/integrations/local-storage-mock.test-helpers.ts
  apps/web/hooks/domains/integrations/use-hide-disabled-integrations-in-nav.test.ts
  apps/web/hooks/domains/integrations/use-hide-disabled-integrations-in-nav.ts
  docs/plans/integrations-enable-disable-toggle/plan.md
  docs/plans/integrations-enable-disable-toggle/task-03-index-page-sliders.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test(i18n): add the twelve Office screens to the pseudo-coverage oracle
  apps/web/e2e/tests/i18n/pseudo-coverage.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: clarify passthrough prompt delivery
  apps/backend/internal/agent/agents/agent.go
  apps/backend/internal/agent/runtime/lifecycle/manager_passthrough.go
  apps/backend/internal/agentctl/server/process/interactive_lifecycle.go
  docs/specs/cli-mode-parity/spec.md
Due: gofmt, go-tests, go-lint

fix(i18n): tie the pseudo-coverage oracle to the screen it claims to check
  apps/web/components/settings/secrets-settings.tsx
  apps/web/components/settings/sprites-settings.tsx
  apps/web/e2e/tests/i18n/pseudo-coverage.spec.ts
  apps/web/src/office-routes.tsx
  docs/i18n.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(plugins): repair credential routing and host fixtures
  apps/backend/cmd/plugin-fixture/main_test.go
  apps/backend/cmd/plugin-fixture/plugin.go
  apps/backend/internal/orchestrator/executor/executor_credentials.go
  apps/backend/internal/orchestrator/executor/executor_credentials_test.go
  apps/backend/internal/orchestrator/executor/executor_resume.go
  apps/backend/internal/orchestrator/executor/executor_resume_clone_transport_test.go
  apps/web/components/task/dockview-panel-content.tsx
  apps/web/lib/plugins/host-initialize-timeout.test.ts
  apps/web/lib/plugins/host-lifecycle.test.ts
  apps/web/lib/plugins/host.repository-providers.test.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(agents): default custom TUI agents to Ink-safe passthrough stdin
  apps/backend/internal/agent/agents/tui_agent.go
  apps/backend/internal/agent/agents/tui_agent_test.go
Due: gofmt, go-tests, go-lint

feat(make): accept port overrides on the dev target
  Makefile
  docs/public/contributing.md
Due: none

fix(i18n): extend the pseudo-coverage anchors to the Office route tree
  apps/web/e2e/tests/i18n/pseudo-coverage.spec.ts
  apps/web/src/office-routes.tsx
  docs/i18n.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test(lsp): stabilize task status and crash recovery E2E
  apps/web/e2e/fixtures/fake-lsp-server.mjs
  apps/web/e2e/tests/lsp/lsp-e2e-helpers.ts
  apps/web/e2e/tests/lsp/lsp-file-intelligence.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(i18n): pass the routine cron example through as a value
  apps/web/app/office/routines/create-routine-dialog.i18n.test.ts
  apps/web/app/office/routines/create-routine-dialog.tsx
  apps/web/src/locales/en/office.json
  apps/web/src/locales/pseudo/office.json
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(plugins): restore native review integration contracts
  apps/web/components/integrations/change-request-ci-anatomy.tsx
  apps/web/components/integrations/integration-change-request-status-content.tsx
  apps/web/components/integrations/integration-change-request-status.test.tsx
  apps/web/components/task/dockview-add-panel-items.test.tsx
  apps/web/e2e/pages/session-page.ts
  apps/web/e2e/tests/gitlab/mobile-gitlab-parity.spec.ts
  apps/web/e2e/tests/plugins/bitbucket-plugin-contract.spec.ts
  apps/web/e2e/tests/pr/mobile-pr-rerequest-review.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): bare integration toggle sliders and JSDoc coverage
  apps/web/app/settings/integrations/page.tsx
  apps/web/components/azure-devops/azure-devops-enabled-control.tsx
  apps/web/components/azure-devops/azure-devops-settings.tsx
  apps/web/components/github/github-enabled-control.tsx
  apps/web/components/github/github-settings.tsx
  apps/web/components/gitlab/gitlab-enabled-control.tsx
  apps/web/components/gitlab/gitlab-settings.tsx
  apps/web/components/integrations/drafted-integration-enabled-control.tsx
  apps/web/components/jira/jira-enabled-control.tsx
  apps/web/components/linear/linear-enabled-control.tsx
  apps/web/components/linear/linear-settings.tsx
  apps/web/components/sentry/sentry-enabled-control.tsx
  apps/web/components/sentry/sentry-settings.tsx
  apps/web/e2e/tests/integrations/integrations-index-layout-helpers.ts
  apps/web/hooks/domains/azure-devops/use-azure-devops-enabled.ts
  apps/web/hooks/domains/github/use-github-enabled.ts
  apps/web/hooks/domains/gitlab/use-gitlab-enabled.ts
  apps/web/hooks/domains/integrations/local-storage-mock.test-helpers.ts
  apps/web/hooks/domains/integrations/use-hide-disabled-integrations-in-nav.ts
  apps/web/hooks/use-nav-availability.ts
  apps/web/src/locales/en/integrations.json
  apps/web/src/locales/pseudo/integrations.json
  apps/web/src/locales/pt-pt/integrations.json
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): wire GitHub settings page wrapper into the SPA router
  apps/web/app/settings/integrations/github/page.tsx
  apps/web/components/integrations/drafted-integration-enabled-control.test.tsx
  apps/web/src/settings-routes.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test: cover workflow prompt web serialization
  apps/web/app/actions/workspaces.test.ts
  apps/web/components/settings/use-workflow-draft-contributor.test.ts
  apps/web/components/settings/workflow-card-actions.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(i18n): scope the office cron guard to the namespace, not one dialog
  apps/web/app/office/office-cron-i18n.test.ts
  apps/web/app/office/routines/create-routine-dialog.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): align GitHub integration settings layout
  apps/web/components/github/github-settings.tsx
  apps/web/components/integrations/drafted-integration-enabled-control.test.tsx
  apps/web/components/settings/settings-section.tsx
  apps/web/e2e/tests/integrations/integrations-index-enabled-toggle.spec.ts
  apps/web/e2e/tests/settings/mobile-github-integration-layout.spec.ts
  apps/web/src/settings-routes.test.ts
  apps/web/src/settings-routes.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

perf: batch workflow prompt and profile meta fetch
  apps/backend/internal/backendapp/orchestrator.go
  apps/backend/internal/orchestrator/event_handlers_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/workflow_meta.go
  apps/backend/internal/orchestrator/workflow_prompt_test.go
  apps/backend/internal/workflow/service/service.go
  apps/backend/internal/workflow/service/service_test.go
Due: gofmt, go-tests, go-lint

fix: hide empty shell output disclosure
  apps/web/components/task/chat/messages/tool-execute-message.test.tsx
  apps/web/components/task/chat/messages/tool-execute-message.tsx
  apps/web/e2e/tests/chat/mobile-tool-execute-output.spec.ts
  apps/web/e2e/tests/chat/tool-execute-output.spec.ts
  docs/plans/shell-output-disclosure-visibility/plan.md
  docs/plans/shell-output-disclosure-visibility/task-01-gate-empty-output-disclosure.md
  docs/specs/ui/acp-shell-command-output.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): remove duplicate GitHub route import
  apps/web/src/settings-routes.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: preserve queue mode for queued steering messages
  apps/web/components/task/chat/use-chat-panel-state.ts
  apps/web/hooks/domains/session/session-input-mode.test.ts
  apps/web/hooks/domains/session/session-input-mode.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: tighten passthrough launch path assertion
  apps/backend/internal/agent/runtime/lifecycle/manager_passthrough_resume_intent_test.go
Due: gofmt, go-tests, go-lint

fix(plugins): stabilize task filter identity and rendering
  apps/web/components/kanban-display-dropdown.test.tsx
  apps/web/components/kanban-display-dropdown.tsx
  apps/web/hooks/use-plugin-task-filters.test.ts
  apps/web/hooks/use-plugin-task-filters.ts
  apps/web/lib/plugins/registry.ts
  apps/web/lib/plugins/types.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(agentctl): preserve UTF-8 error body limit
  apps/backend/cmd/agentctl/github_credential.go
  apps/backend/cmd/agentctl/github_credential_test.go
  apps/backend/cmd/agentctl/github_credential_utf8_test.go
Due: gofmt, go-tests, go-lint

refactor: share shell output presence predicate
  apps/web/components/task/chat/messages/tool-execute-message.tsx
  apps/web/components/task/chat/messages/turn-group-message.tsx
  apps/web/components/task/chat/types.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: harden GetWorkflowMeta cache edge-case coverage
  apps/backend/internal/orchestrator/event_handlers_test.go
  apps/backend/internal/orchestrator/workflow_prompt_test.go
Due: gofmt, go-tests, go-lint

fix: support gh account status on stderr (#2348)
  apps/backend/internal/github/gh_accounts.go
  apps/backend/internal/github/gh_accounts_test.go
  docs/plans/github-cli-account-stderr/plan.md
  docs/plans/github-cli-account-stderr/task-01-gh-account-stderr.md
  docs/specs/integrations/github-authentication.md
Due: gofmt, go-tests, go-lint

ci: label allowlisted fork pull requests
  .github/scripts/claude-code-review-workflow-contract_test.py
  .github/scripts/preview-env-workflow-contract_test.py
  .github/workflows/claude-code-review.yml
  .github/workflows/lint-action-pinning.yml
  .github/workflows/preview-env.yml
  docs/decisions/2026-08-07-claude-allowlist-label-bridge.md
  docs/decisions/INDEX.md
  docs/plans/claude-fork-review-allowlist/plan.md
  docs/plans/claude-fork-review-allowlist/task-02-label-allowlisted-fork-prs.md
  docs/specs/claude-fork-review-allowlist/spec.md
Due: none

fix: coalesce concurrent GetWorkflowMeta loads
  apps/backend/internal/orchestrator/event_handlers_test.go
  apps/backend/internal/orchestrator/workflow_meta.go
  apps/backend/internal/orchestrator/workflow_prompt_test.go
  apps/backend/internal/workflow/service/service_test.go
  apps/backend/internal/workflow/service/workflow_meta_test.go
Due: gofmt, go-tests, go-lint

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
