Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

fix(passthrough): set resume intent before the execution is published
  apps/backend/internal/agent/runtime/lifecycle/manager_execution.go
  apps/backend/internal/agent/runtime/lifecycle/manager_passthrough_resume_intent_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_passthrough_test.go
Due: gofmt, go-tests, go-lint

refactor: extract shared TodosContent from the duplicate registries
  apps/web/components/task/dockview-panel-content.tsx
  apps/web/components/task/dockview-shared.tsx
  apps/web/components/task/todos-panel-content.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: list Todos in the task workbench's + add-panel menu
  apps/web/components/task/dockview-add-panel-items.test.tsx
  apps/web/components/task/dockview-add-panel-items.tsx
  apps/web/e2e/tests/settings/todo-list-panel.spec.ts
  apps/web/lib/state/dockview-panel-actions.ts
  apps/web/lib/state/dockview-store.ts
  docs/plans/agent-todo-list-panel/task-05-e2e-coverage.md
  docs/specs/INDEX.md
  docs/specs/ui/agent-todo-list-panel.md
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: correct what the plus-menu cross-group assertion actually proves
  docs/plans/agent-todo-list-panel/task-05-e2e-coverage.md
Due: none

fix: back-fill Todos panel content from message history
  apps/web/components/task/dockview-panel-content.todos.test.tsx
  apps/web/components/task/dockview-panel-content.tsx
  apps/web/components/task/dockview-shared.test.tsx
  apps/web/components/task/dockview-shared.tsx
  apps/web/e2e/tests/settings/todo-list-panel.spec.ts
  apps/web/hooks/use-processed-messages.ts
  docs/plans/agent-todo-list-panel/task-05-e2e-coverage.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(e2e): retry the GitLab sync workflow-card poll through a transient reload
  apps/web/e2e/tests/workflow/workflow-sync-gitlab.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(passthrough): deliver prompt to custom TUI agents via stdin
  apps/backend/internal/agent/runtime/lifecycle/manager_passthrough.go
  apps/backend/internal/agent/runtime/lifecycle/manager_passthrough_autoinject_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_passthrough_command_test.go
Due: gofmt, go-tests, go-lint

test(acp): cover live-update CRLF multiline echo strip with no cwd
  apps/backend/internal/agentctl/server/adapter/transport/acp/shell_output_test.go
Due: gofmt, go-tests, go-lint

feat(i18n): localize loose components directly under components/
  apps/web/components/branch-refresh-button.tsx
  apps/web/components/cli-mode-icon.tsx
  apps/web/components/command-panel-footer.tsx
  apps/web/components/command-panel-scope-switcher.tsx
  apps/web/components/create-local-repository-surface.tsx
  apps/web/components/discard-local-changes-dialog.tsx
  apps/web/components/enhance-prompt-button.tsx
  apps/web/components/folder-picker.tsx
  apps/web/components/grid-spinner.tsx
  apps/web/components/improve-kandev-dialog-create.tsx
  apps/web/components/improve-kandev-dialog.test.tsx
  apps/web/components/improve-kandev-dialog.tsx
  apps/web/components/onboarding-dialog.tsx
  apps/web/components/prompt-result-recovery.tsx
  apps/web/components/vcs-multi-repo-menu.tsx
  apps/web/components/vcs-split-button.test.ts
  apps/web/components/vcs-split-button.tsx
  apps/web/components/watcher-repository-fields.tsx
  apps/web/components/workflow-selector-row.tsx
  apps/web/components/workspace-content-search.tsx
  apps/web/eslint.i18n.options.mjs
  apps/web/src/locales/en/common.json
  apps/web/src/locales/en/integrations.json
  apps/web/src/locales/en/workflows.json
  apps/web/src/locales/pseudo/common.json
  apps/web/src/locales/pseudo/integrations.json
  apps/web/src/locales/pseudo/workflows.json
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: compact kandev MCP tool results
  apps/backend/config/prompts/office-context.md
  apps/backend/internal/mcp/server/handlers.go
  apps/backend/internal/mcp/server/handlers_test.go
  apps/backend/internal/mcp/server/handoff_handlers.go
  apps/backend/internal/mcp/server/handoff_handlers_test.go
Due: gofmt, go-tests, go-lint

feat: drop description echo from update_task MCP result
  apps/backend/internal/mcp/server/handlers.go
  apps/backend/internal/mcp/server/handlers_test.go
Due: gofmt, go-tests, go-lint

feat(queue): add admin toggle for queued message merging
  apps/backend/internal/backendapp/message_queue_settings_test.go
  apps/backend/internal/backendapp/orchestrator.go
  apps/backend/internal/orchestrator/handlers/queue_handlers.go
  apps/backend/internal/orchestrator/handlers/queue_handlers_merge_test.go
  apps/backend/internal/orchestrator/messagequeue/service.go
  apps/backend/internal/orchestrator/messagequeue/service_merge_enabled_test.go
  apps/backend/internal/orchestrator/messagequeue/types.go
  apps/backend/internal/system/queuesettings/handler.go
  apps/backend/internal/system/queuesettings/queuesettings_test.go
  apps/backend/internal/system/queuesettings/resolver.go
  apps/backend/internal/system/queuesettings/service.go
  apps/backend/internal/system/queuesettings/types.go
  apps/backend/internal/system/system_routes_test.go
  apps/web/components/settings/system/message-queue-settings.test.tsx
  apps/web/components/settings/system/message-queue-settings.tsx
  apps/web/components/task/chat/queued-ghost-list.test.tsx
  apps/web/components/task/chat/queued-ghost-list.tsx
  apps/web/e2e/tests/system/message-queue-settings.spec.ts
  apps/web/hooks/domains/session/use-queue.ts
  apps/web/lib/api/domains/settings-api.ts
  apps/web/lib/state/slices/session/session-slice.upsert.test.ts
  apps/web/lib/state/slices/session/types.ts
  apps/web/lib/types/backend.ts
  apps/web/lib/types/system.ts
  apps/web/lib/ws/handlers/agent-session.ts
  apps/web/src/locales/en/system.json
  apps/web/src/locales/pseudo/system.json
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(lifecycle): cover all entry points rejecting a terminal session
  apps/backend/internal/agent/runtime/lifecycle/manager_execution_test.go
Due: gofmt, go-tests, go-lint

fix(quick-terminal): make host-shell PTYs durable across reloads
  apps/backend/internal/agent/loginpty/handlers.go
  apps/backend/internal/agent/loginpty/handlers_test.go
  apps/backend/internal/agent/loginpty/manager.go
  apps/backend/internal/agent/loginpty/manager_test.go
  apps/backend/internal/backendapp/helpers.go
  apps/backend/internal/backendapp/httpserver_test.go
  apps/backend/internal/backendapp/loginpty.go
  apps/backend/internal/backendapp/main.go
  apps/backend/internal/quickterminal/service.go
  apps/backend/internal/quickterminal/service_test.go
  apps/web/components/app-sidebar/app-sidebar.tsx
  apps/web/components/quick-chat/quick-tab-add-menu.test.tsx
  apps/web/components/quick-chat/quick-tab-add-menu.tsx
  apps/web/components/quick-chat/quick-terminal-tab-view.test.tsx
  apps/web/components/quick-chat/quick-terminal-tab-view.tsx
  apps/web/e2e/tests/terminal/quick-terminal.spec.ts
  apps/web/hooks/use-quick-terminal-launcher.test.ts
  apps/web/hooks/use-quick-terminal-launcher.ts
  docs/plans/quick-terminal-durable-lifecycle/plan.md
  docs/plans/quick-terminal-durable-lifecycle/task-01-loginpty-lifetime-policy.md
  docs/plans/quick-terminal-durable-lifecycle/task-02-add-menu-alignment.md
  docs/plans/quick-terminal-durable-lifecycle/task-03-shutdown-and-reattach-verification.md
  docs/specs/quick-terminal/spec.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(acp): pin deferred CRLF multiline echo strip with no cwd
  apps/backend/internal/agentctl/server/adapter/transport/acp/shell_output_test.go
Due: gofmt, go-tests, go-lint

feat: add per-integration enable toggle and nav visibility setting
  apps/web/app/settings/integrations/page.test.tsx
  apps/web/app/settings/integrations/page.tsx
  apps/web/components/azure-devops/azure-devops-enabled-control.tsx
  apps/web/components/azure-devops/azure-devops-settings.test.tsx
  apps/web/components/azure-devops/azure-devops-settings.tsx
  apps/web/components/github/github-enabled-control.tsx
  apps/web/components/github/github-settings.tsx
  apps/web/components/gitlab/gitlab-enabled-control.tsx
  apps/web/components/gitlab/gitlab-settings.tsx
  apps/web/components/integrations/integrations-menu.test.ts
  apps/web/components/linear/linear-enabled-control.tsx
  apps/web/components/linear/linear-settings.tsx
  apps/web/components/sentry/sentry-enabled-control.tsx
  apps/web/components/sentry/sentry-settings.tsx
  apps/web/components/slack/slack-enabled-control.tsx
  apps/web/components/slack/slack-settings.tsx
  apps/web/e2e/tests/integrations/hide-disabled-integrations-nav.spec.ts
  apps/web/e2e/tests/integrations/integrations-index-enabled-toggle.spec.ts
  apps/web/e2e/tests/integrations/integrations-index-layout-helpers.ts
  apps/web/hooks/domains/azure-devops/use-azure-devops-enabled.test.ts
  apps/web/hooks/domains/azure-devops/use-azure-devops-enabled.ts
  apps/web/hooks/domains/github/use-github-enabled.test.ts
  apps/web/hooks/domains/github/use-github-enabled.ts
  apps/web/hooks/domains/gitlab/use-gitlab-enabled.test.ts
  apps/web/hooks/domains/gitlab/use-gitlab-enabled.ts
  apps/web/hooks/domains/integrations/use-hide-disabled-integrations-in-nav.test.ts
  apps/web/hooks/domains/integrations/use-hide-disabled-integrations-in-nav.ts
  apps/web/hooks/use-nav-availability.test.ts
  apps/web/hooks/use-nav-availability.ts
  apps/web/src/locales/en/settings.json
  apps/web/src/locales/pseudo/settings.json
  docs/plans/integrations-enable-disable-toggle/plan.md
  docs/plans/integrations-enable-disable-toggle/task-01-enabled-hooks.md
  docs/plans/integrations-enable-disable-toggle/task-02-own-page-sliders.md
  docs/plans/integrations-enable-disable-toggle/task-03-index-page-sliders.md
  docs/plans/integrations-enable-disable-toggle/task-04-hide-disabled-setting.md
  docs/plans/integrations-enable-disable-toggle/task-05-nav-availability.md
  docs/plans/integrations-enable-disable-toggle/task-06-e2e.md
  docs/specs/INDEX.md
  docs/specs/integrations/enable-disable-toggle.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(i18n): address review — scope labels, per-action tooltips, effect deps
  apps/web/components/command-panel-scope-switcher.tsx
  apps/web/components/improve-kandev-dialog.tsx
  apps/web/components/vcs-multi-repo-menu.tsx
  apps/web/src/locales/en/common.json
  apps/web/src/locales/en/integrations.json
  apps/web/src/locales/pseudo/common.json
  apps/web/src/locales/pseudo/integrations.json
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(queue): default merge_enabled to true for pre-existing settings records
  apps/backend/internal/system/queuesettings/queuesettings_test.go
  apps/backend/internal/system/queuesettings/store.go
Due: gofmt, go-tests, go-lint

fix(deps): resolve open npm Dependabot alerts
  apps/package.json
  apps/packages/theme/package.json
  apps/pnpm-lock.yaml
Due: prettier-format

fix(mcp): report workflow-default profile that outranks explicit on a step
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/handlers_test.go
  apps/backend/internal/mcp/server/server.go
Due: gofmt, go-tests, go-lint

fix(tasks): clear the pending-input icon when a request resolves
  apps/backend/internal/task/statussummary/projector.go
  apps/backend/internal/task/statussummary/projector_test.go
Due: gofmt, go-tests, go-lint

docs(queue): mention the merge entity-reference cap in the limitations notice
  apps/web/components/settings/system/message-queue-settings.test.tsx
  apps/web/e2e/tests/system/message-queue-settings.spec.ts
  apps/web/src/locales/en/system.json
  apps/web/src/locales/pseudo/system.json
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(plugins): list the Slack plugin in the marketplace catalog
  plugin-registry/plugins.yaml
Due: none

feat: add optional workflow-level agent prompt
  apps/backend/internal/backendapp/orchestrator.go
  apps/backend/internal/orchestrator/event_handlers_test.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/workflow_prompt_test.go
  apps/backend/internal/task/dto/dto.go
  apps/backend/internal/task/dto/requests.go
  apps/backend/internal/task/handlers/workflow_handlers.go
  apps/backend/internal/task/models/models.go
  apps/backend/internal/task/repository/sqlite/base_migrations.go
  apps/backend/internal/task/repository/sqlite/base_schema.go
  apps/backend/internal/task/repository/sqlite/workflow.go
  apps/backend/internal/task/repository/workflow_repository_test.go
  apps/backend/internal/task/service/service_requests.go
  apps/backend/internal/task/service/service_resources.go
  apps/backend/internal/workflow/models/export.go
  apps/backend/internal/workflow/service/service.go
  apps/backend/internal/workflow/service/sync_apply.go
  apps/backend/pkg/api/v1/workflow.go
  apps/web/app/actions/workspaces.ts
  apps/web/app/settings/workspace/workspace-workflows-client.tsx
  apps/web/components/settings/use-workflow-draft-contributor.ts
  apps/web/components/settings/workflow-card-actions.ts
  apps/web/components/settings/workflow-card.tsx
  apps/web/components/settings/workflow-dirty-state.test.ts
  apps/web/components/settings/workflow-dirty-state.ts
  apps/web/components/task/chat/messages/chat-message.tsx
  apps/web/hooks/domains/settings/use-workflow-settings.ts
  apps/web/lib/types/backend.ts
  apps/web/lib/types/http.ts
  apps/web/lib/utils/workflow-instructions.test.ts
  apps/web/lib/utils/workflow-instructions.ts
  apps/web/src/locales/en/workflows.json
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat(ui): collapse empty workflow prompt in settings
  apps/web/components/settings/workflow-card.tsx
  apps/web/components/settings/workflow-prompt-section.tsx
  apps/web/e2e/helpers/api-client.ts
  apps/web/src/locales/en/workflows.json
Due: prettier-format, web-lint, web-tests, web-typecheck

chore: drop PR screenshot binaries from feature tip
  docs/pr-screenshots/workflow-prompt-chat-collapsed.png
  docs/pr-screenshots/workflow-prompt-chat-expanded.png
  docs/pr-screenshots/workflow-prompt-settings-collapsed.png
  docs/pr-screenshots/workflow-prompt-settings-expanded.png
  docs/pr-screenshots/workflow-prompt-settings.png
Due: none

fix: harden workflow prompt chat split and portable coverage
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/workflow_prompt_test.go
  apps/backend/internal/workflow/models/export_test.go
  apps/backend/internal/workflow/service/service_test.go
  apps/backend/internal/workflow/service/sync_apply_test.go
  apps/web/lib/utils/workflow-instructions.test.ts
  apps/web/lib/utils/workflow-instructions.ts
  apps/web/src/locales/pseudo/workflows.json
  docs/workflow-import-export.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

docs: refresh workflow prompt examples and PR screenshots
  apps/backend/internal/orchestrator/workflow_prompt_test.go
  apps/backend/internal/task/repository/workflow_repository_test.go
  apps/backend/internal/workflow/models/export_test.go
  apps/backend/internal/workflow/service/service_test.go
  apps/backend/internal/workflow/service/sync_apply_test.go
  apps/web/components/settings/workflow-dirty-state.test.ts
  apps/web/lib/utils/workflow-instructions.test.ts
  apps/web/src/locales/en/workflows.json
  apps/web/src/locales/pseudo/workflows.json
  docs/pr-screenshots/workflow-prompt-chat-collapsed.png
  docs/pr-screenshots/workflow-prompt-chat-expanded.png
  docs/pr-screenshots/workflow-prompt-settings-collapsed.png
  docs/pr-screenshots/workflow-prompt-settings-expanded.png
  docs/pr-screenshots/workflow-prompt-settings.png
  docs/workflow-import-export.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(queue): clarify the merge notice caps deduplicated entity references
  apps/web/components/settings/system/message-queue-settings.test.tsx
  apps/web/e2e/tests/system/message-queue-settings.spec.ts
  apps/web/src/locales/en/system.json
  apps/web/src/locales/pseudo/system.json
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(lifecycle): note the passthrough recovery path shares the terminal guard
  apps/backend/internal/agent/runtime/lifecycle/manager_execution.go
Due: gofmt, go-tests, go-lint

chore(web): allow LAN hosts in vite dev server
  apps/web/vite.config.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(tasks): cover rejected and cancelled pending resolutions
  apps/backend/internal/task/statussummary/projector_test.go
Due: gofmt, go-tests, go-lint

fix: address workflow prompt review feedback
  apps/backend/internal/backendapp/services.go
  apps/backend/internal/backendapp/workflow_provider_adapter_test.go
  apps/backend/internal/task/repository/workflow_repository_test.go
  apps/web/app/settings/workspace/workspace-workflows-client.tsx
  apps/web/components/settings/workflow-prompt-section.test.tsx
  apps/web/lib/types/http.ts
  apps/web/lib/utils/workflow-instructions.test.ts
  apps/web/lib/utils/workflow-instructions.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test: cover @prompt expansion in workflow prompts
  apps/backend/internal/orchestrator/workflow_prompt_test.go
  apps/web/src/locales/en/workflows.json
  apps/web/src/locales/pseudo/workflows.json
Due: gofmt, go-tests, go-lint, prettier-format
