Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

fix: address task dialog debug review
  apps/web/components/task-create-dialog-effects.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: avoid sleep in review reset wait
  apps/backend/internal/github/controller_test.go
  apps/backend/internal/github/service_test.go
Due: gofmt, go-tests, go-lint

fix: address task dialog review feedback
  apps/web/components/combobox.tsx
  apps/web/components/task-create-dialog-autopick.ts
  apps/web/components/task-create-dialog-effects.ts
  apps/web/components/task-create-dialog-form-body.tsx
  apps/web/components/task-create-dialog-selectors.tsx
  apps/web/components/task/new-session-dialog.tsx
  apps/web/components/task/new-subtask-form-parts.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test: clarify github mock event bus scope
  apps/backend/internal/github/service_test.go
Due: gofmt, go-tests, go-lint

fix: finish task dialog debug review
  apps/web/components/task-create-dialog-effects.ts
  apps/web/components/task-create-dialog-selectors.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: keep portaled task selectors clickable
  apps/web/components/combobox.tsx
  apps/web/e2e/tests/task/dialog-long-text-overflow.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: cover portaled selector option clicks
  apps/web/e2e/tests/task/dialog-long-text-overflow.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: self-heal watcher binding when bound repo is deleted; reject trailing-slash refs
  apps/backend/internal/backendapp/main.go
  apps/backend/internal/backendapp/turn_adapters.go
  apps/backend/internal/common/securityutil/git.go
  apps/backend/internal/common/securityutil/git_test.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/watcher_dispatch.go
  apps/backend/internal/orchestrator/watcher_dispatch_repo_test.go
  apps/backend/internal/orchestrator/watcher_dispatch_selfheal_test.go
  apps/backend/internal/orchestrator/watcher_dispatch_wiring.go
Due: gofmt, go-tests, go-lint

fix: debug task dialog selection restore (#1493)
  apps/web/components/combobox.tsx
  apps/web/components/task-create-dialog-autopick.ts
  apps/web/components/task-create-dialog-effects.ts
  apps/web/components/task-create-dialog-form-body.tsx
  apps/web/components/task-create-dialog-handlers.ts
  apps/web/components/task-create-dialog-helpers.ts
  apps/web/components/task-create-dialog-selectors.tsx
  apps/web/components/task-create-dialog-state.ts
  apps/web/components/task/new-session-dialog.tsx
  apps/web/components/task/new-subtask-form-parts.tsx
  apps/web/e2e/helpers/layout-assertions.ts
  apps/web/e2e/tests/task/dialog-long-text-overflow.spec.ts
  apps/web/lib/debug/log.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: auto-fit wide mermaid diagrams
  apps/web/components/shared/mermaid-block.tsx
  apps/web/components/shared/mermaid-utils.test.ts
  apps/web/components/shared/mermaid-utils.ts
  apps/web/e2e/tests/chat/mermaid-fit-helpers.ts
  apps/web/e2e/tests/chat/mermaid-fit.spec.ts
  apps/web/e2e/tests/chat/mobile-mermaid-fit.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: prevent invalid MCP task sessions
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/handlers_test.go
  apps/web/components/task/task-select-helpers.test.ts
  apps/web/components/task/task-select-helpers.ts
  apps/web/hooks/domains/session/use-ensure-task-session.test.ts
  apps/web/hooks/domains/session/use-ensure-task-session.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test: cover MCP workflow profile resolution
  apps/backend/internal/mcp/handlers/handlers_test.go
Due: gofmt, go-tests, go-lint

fix: address MCP task session review feedback
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/handlers_test.go
  apps/web/components/task/task-select-helpers.test.ts
  apps/web/components/task/task-select-helpers.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: preserve MCP auto-start context
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/handlers_test.go
Due: gofmt, go-tests, go-lint

fix: harden MCP start step profile fallback
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/handlers_test.go
Due: gofmt, go-tests, go-lint

fix: ignore stale external task selections
  apps/web/components/task/task-select-helpers.test.ts
  apps/web/components/task/task-select-helpers.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address mermaid fit review feedback
  apps/web/components/shared/mermaid-block.tsx
  apps/web/components/shared/mermaid-utils.test.ts
  apps/web/components/shared/mermaid-utils.ts
  apps/web/e2e/tests/chat/mermaid-fit-helpers.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: cover mermaid fit hooks
  apps/web/components/shared/mermaid-block-hooks.test.ts
  apps/web/components/shared/mermaid-block-hooks.ts
  apps/web/components/shared/mermaid-block.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: guard task selection against intermediate switches
  apps/web/components/task/task-select-helpers.test.ts
  apps/web/components/task/task-select-helpers.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address mermaid review follow-ups
  apps/web/components/shared/mermaid-block-hooks.test.ts
  apps/web/components/shared/mermaid-block-hooks.ts
  apps/web/components/shared/mermaid-block.tsx
  apps/web/components/shared/mermaid-utils.test.ts
  apps/web/components/shared/mermaid-utils.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: clean up task selection guard resources
  apps/backend/internal/mcp/handlers/handlers_test.go
  apps/web/components/task/task-select-helpers.test.ts
  apps/web/components/task/task-select-helpers.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test: strengthen mermaid observer coverage
  apps/web/components/shared/mermaid-block-hooks.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: add Devin ACP agent integration
  apps/backend/internal/agent/agents/agent.go
  apps/backend/internal/agent/agents/devin_acp.go
  apps/backend/internal/agent/agents/logos/devin_acp_dark.svg
  apps/backend/internal/agent/agents/logos/devin_acp_light.svg
  apps/backend/internal/agent/agents/new_acp_agents_test.go
  apps/backend/internal/agent/hostutility/manager.go
  apps/backend/internal/agent/hostutility/public.go
  apps/backend/internal/agent/hostutility/stripenv.go
  apps/backend/internal/agent/hostutility/stripenv_test.go
  apps/backend/internal/agent/registry/registry.go
  apps/backend/internal/agent/runtime/agentctl/control.go
  apps/backend/internal/agent/runtime/lifecycle/container.go
  apps/backend/internal/agent/runtime/lifecycle/executor_docker.go
  apps/backend/internal/agent/runtime/lifecycle/executor_sprites_operations.go
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh_operations.go
  apps/backend/internal/agent/runtime/lifecycle/executor_standalone.go
  apps/backend/internal/agent/runtime/lifecycle/utility.go
  apps/backend/internal/agentctl/AGENTS.md
  apps/backend/internal/agentctl/server/config/config.go
  apps/backend/internal/agentctl/server/instance/instance.go
  apps/backend/internal/agentctl/server/instance/manager.go
  apps/backend/internal/agentctl/server/process/manager.go
  apps/backend/internal/agentctl/server/process/manager_test.go
  apps/backend/internal/agentctl/server/utility/acp_executor.go
  apps/backend/internal/agentctl/server/utility/acp_executor_test.go
  apps/backend/internal/agentctl/server/utility/types.go
Due: gofmt, go-tests, go-lint

fix: update ACP SDK large frame handling
  apps/backend/go.mod
  apps/backend/go.sum
  apps/backend/internal/agentctl/server/adapter/transport/acp/adapter.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/adapter_queue_test.go
Due: gofmt, go-tests, go-lint

fix: update ACP SDK large frame handling (#1496)
  apps/backend/go.mod
  apps/backend/go.sum
  apps/backend/internal/agentctl/server/adapter/transport/acp/adapter.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/adapter_queue_test.go
Due: gofmt, go-tests, go-lint

fix(agentctl): preserve one-shot temp env after StripEnv
  apps/backend/internal/agent/agents/helpers.go
  apps/backend/internal/agent/agents/helpers_test.go
  apps/backend/internal/agent/hostutility/manager.go
  apps/backend/internal/agent/hostutility/public.go
  apps/backend/internal/agent/hostutility/stripenv.go
  apps/backend/internal/agent/hostutility/stripenv_test.go
  apps/backend/internal/agent/runtime/lifecycle/utility.go
  apps/backend/internal/agentctl/AGENTS.md
  apps/backend/internal/agentctl/server/process/manager.go
  apps/backend/internal/agentctl/server/process/manager_test.go
Due: gofmt, go-tests, go-lint

docs(readme): mention Devin ACP support
  README.md
Due: none

docs(agentctl): translate StripEnv comments to English
  apps/backend/internal/agent/agents/new_acp_agents_test.go
  apps/backend/internal/agent/runtime/lifecycle/utility.go
  apps/backend/internal/agentctl/server/utility/acp_executor_test.go
Due: gofmt, go-tests, go-lint

fix: address shutdown review feedback
  apps/backend/internal/agent/runtime/agentctl/launcher/launcher.go
  apps/backend/internal/agent/runtime/agentctl/launcher/platform_unix.go
  apps/backend/internal/agent/runtime/agentctl/launcher/platform_unix_test.go
  apps/backend/internal/agentctl/server/process/manager.go
  apps/backend/internal/agentctl/server/utility/acp_command.go
  apps/backend/internal/agentctl/server/utility/acp_executor.go
  apps/backend/internal/agentctl/server/utility/acp_executor_process_unix_test.go
  apps/backend/internal/launcher/process.go
  apps/backend/internal/launcher/process_test.go
Due: gofmt, go-tests, go-lint

fix: address additional shutdown review feedback
  apps/backend/internal/agent/hostutility/manager.go
  apps/backend/internal/agent/hostutility/manager_test.go
  apps/backend/internal/agent/hostutility/testmain_test.go
  apps/backend/internal/agentctl/server/instance/manager.go
  apps/backend/internal/agentctl/server/instance/manager_shutdown_test.go
  apps/backend/internal/agentctl/server/process/manager.go
  apps/backend/internal/agentctl/server/process/manager_killgroup_test.go
  apps/backend/internal/agentctl/server/process/runner_test.go
  apps/backend/internal/agentctl/server/shell/process_group_unix.go
  apps/backend/internal/agentctl/server/shell/process_group_windows.go
  apps/backend/internal/agentctl/server/shell/session.go
  apps/backend/internal/agentctl/server/shell/session_stop_unix_test.go
  apps/backend/internal/agentctl/server/utility/acp_command_windows.go
  apps/backend/internal/launcher/process.go
  apps/backend/internal/launcher/start.go
  apps/backend/internal/launcher/start_test.go
Due: gofmt, go-tests, go-lint

test: remove redundant launcher cleanup kill
  apps/backend/internal/agent/runtime/agentctl/launcher/platform_unix_test.go
Due: gofmt, go-tests, go-lint

fix: address shutdown PR feedback
  apps/backend/internal/agent/runtime/agentctl/launcher/platform_unix_test.go
  apps/backend/internal/agent/runtime/lifecycle/executor_docker.go
  apps/backend/internal/agent/runtime/lifecycle/executor_docker_test.go
  apps/backend/internal/agentctl/server/instance/manager.go
  apps/backend/internal/agentctl/server/instance/manager_shutdown_test.go
  apps/backend/internal/agentctl/server/process/manager.go
  apps/backend/internal/agentctl/server/process/manager_killgroup_test.go
  apps/backend/internal/agentctl/server/utility/acp_command.go
  apps/backend/internal/agentctl/server/utility/acp_executor_process_unix_test.go
  apps/backend/internal/launcher/process.go
Due: gofmt, go-tests, go-lint

fix: force launcher cleanup on repeated interrupt
  apps/backend/internal/launcher/process.go
  apps/backend/internal/launcher/process_group_unix_test.go
Due: gofmt, go-tests, go-lint

test: make launcher signal test race safe
  apps/backend/internal/launcher/process_group_unix_test.go
Due: gofmt, go-tests, go-lint

fix: harden docker and windows shutdown cleanup
  apps/backend/internal/agent/runtime/lifecycle/executor_backend.go
  apps/backend/internal/agent/runtime/lifecycle/executor_docker.go
  apps/backend/internal/agent/runtime/lifecycle/executor_docker_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction.go
  apps/backend/internal/agent/runtime/lifecycle/manager_lifecycle.go
  apps/backend/internal/agentctl/server/process/manager.go
  apps/backend/internal/agentctl/server/process/procattr_linux.go
  apps/backend/internal/agentctl/server/process/procattr_unix.go
  apps/backend/internal/agentctl/server/process/procattr_windows.go
  apps/backend/internal/agentctl/server/shell/process_group_windows.go
  apps/backend/internal/agentctl/server/utility/acp_command.go
  apps/backend/internal/agentctl/server/utility/acp_command_linux.go
  apps/backend/internal/agentctl/server/utility/acp_command_unix.go
  apps/backend/internal/agentctl/server/utility/acp_command_windows.go
  apps/backend/internal/agentctl/server/utility/acp_executor.go
  apps/backend/internal/agentctl/server/utility/acp_executor_process_unix_test.go
  apps/backend/internal/launcher/process_group_default.go
  apps/backend/internal/launcher/process_group_windows.go
Due: gofmt, go-tests, go-lint

fix: release instance port after close failure
  apps/backend/internal/agentctl/server/instance/instance.go
  apps/backend/internal/agentctl/server/instance/manager.go
  apps/backend/internal/agentctl/server/instance/manager_shutdown_test.go
Due: gofmt, go-tests, go-lint

test: cover windows shutdown helpers
  apps/backend/internal/agentctl/server/process/procattr_windows.go
  apps/backend/internal/agentctl/server/process/procattr_windows_test.go
  apps/backend/internal/agentctl/server/process/testmain_test.go
  apps/backend/internal/agentctl/server/utility/acp_command_windows_test.go
  apps/backend/internal/launcher/process_group_windows.go
  apps/backend/internal/launcher/process_group_windows_test.go
Due: gofmt, go-tests, go-lint

fix: attach windows jobs before agent execution
  apps/backend/internal/agentctl/server/process/procattr_windows.go
  apps/backend/internal/agentctl/server/utility/acp_command_windows.go
Due: gofmt, go-tests, go-lint

refactor: share windows process cleanup helpers
  apps/backend/internal/agentctl/server/process/procattr_windows.go
  apps/backend/internal/agentctl/server/utility/acp_command_windows.go
  apps/backend/internal/agentctl/server/winproc/lifecycle_other.go
  apps/backend/internal/agentctl/server/winproc/lifecycle_windows.go
  apps/backend/internal/launcher/process_group_windows.go
Due: gofmt, go-tests, go-lint

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
