Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

fix: use writer connection for max sort_order read in CreateWorkflow
  apps/backend/internal/task/repository/sqlite/workflow.go
Due: gofmt, go-tests, go-lint

fix: apply Prettier formatting to pass CI check
  apps/web/app/settings/workspace/workspace-workflows-client.tsx
  apps/web/components/kanban/swimlane-container.tsx
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/tests/workflow/workflow-sorting.spec.ts
  apps/web/lib/api/domains/kanban-api.ts
  apps/web/lib/state/slices/kanban/types.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: resolve lint errors in workflow sorting components
  apps/web/components/kanban/swimlane-container.tsx
  apps/web/components/task-create-dialog-form-body.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: remove duplicate listWorkflows method in E2E api-client
  apps/web/e2e/helpers/api-client.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(e2e): clear workflow filter before kanban sort order assertion
  apps/web/e2e/tests/workflow/workflow-sorting.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: add reorderWorkflowItems to AppState type in store.ts
  apps/web/lib/state/store.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(e2e): disambiguate workflow lookup in config-management test
  apps/web/e2e/tests/settings/config-management.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: remove desktop dockview auto-add hook to fix E2E interference
  apps/web/components/task/dockview-desktop-layout.tsx
  apps/web/e2e/tests/pr/pr-detail-auto-show.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: re-enable desktop auto-show with inactive panel flag
  apps/web/components/task/dockview-desktop-layout.tsx
  apps/web/e2e/tests/pr/pr-detail-auto-show.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: prevent PR feedback sync from regressing store state
  apps/web/components/github/pr-detail-panel.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: remove dockview auto-add hook to resolve persistent E2E failures
  apps/web/components/task/dockview-desktop-layout.tsx
  apps/web/e2e/tests/pr/pr-detail-auto-show.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: enforce headless mode for E2E tests in agent skills
  .agents/skills/e2e/SKILL.md
  .agents/skills/fix/SKILL.md
Due: none

feat: auto-show PR details panel when task has associated PR (#517)
  apps/web/components/github/pr-detail-panel.tsx
  apps/web/components/task/__tests__/use-auto-pr-panel.test.ts
  apps/web/components/task/dockview-session-tabs.ts
  apps/web/components/task/file-tab-content.tsx
  apps/web/components/task/task-center-panel.tsx
  apps/web/e2e/pages/session-page.ts
  apps/web/e2e/tests/pr/pr-detail-auto-show.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: enforce headless mode for E2E tests in agent skills (#526)
  .agents/skills/e2e/SKILL.md
  .agents/skills/fix/SKILL.md
Due: none

fix(acp): suppress stale events during session resume history replay
  apps/backend/internal/agentctl/server/adapter/transport/acp/adapter.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/load_suppression_test.go
Due: gofmt, go-tests, go-lint

fix: remove prompt timeout and prevent auto-resume of errored sessions
  apps/backend/internal/agent/lifecycle/session.go
  apps/backend/internal/agentctl/server/api/agent.go
  apps/backend/internal/common/appctx/appctx.go
  apps/backend/internal/common/constants/timeouts.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/task_operations_test.go
Due: gofmt, go-tests, go-lint

feat: prioritize local changes above PR files in changes panel
  apps/web/components/task/changes-panel-timeline.tsx
  apps/web/components/task/changes-panel.tsx
  apps/web/e2e/tests/git/changes-panel-section-order.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: increment CI checks elapsed time for in-progress runs in PR panel
  apps/web/components/github/pr-checks-section.tsx
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/tests/pr/pr-checks-timer.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: stop runtime instance in CleanupStaleExecutionBySessionID to prevent leaked git polling
  apps/backend/internal/agent/lifecycle/manager_lifecycle.go
  apps/backend/internal/agent/lifecycle/manager_lifecycle_test.go
  apps/backend/internal/orchestrator/executor/executor.go
Due: gofmt, go-tests, go-lint

fix: add explicit ordering assertion for PR-only case in E2E test
  apps/web/e2e/tests/git/changes-panel-section-order.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: extract error_recovery string to constant for goconst lint
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/task_operations_test.go
Due: gofmt, go-tests, go-lint

fix: remove duplicate DetachedNoTimeout, extend Detached to handle no-timeout
  apps/backend/internal/agent/lifecycle/session.go
  apps/backend/internal/common/appctx/appctx.go
Due: gofmt, go-tests, go-lint

fix: extract fresh-start resume logic to reduce function length
  apps/backend/internal/orchestrator/task_operations.go
Due: gofmt, go-tests, go-lint

fix: move resume tests to separate file for revive file-length-limit
  apps/backend/internal/orchestrator/task_operations_resume_test.go
  apps/backend/internal/orchestrator/task_operations_test.go
Due: gofmt, go-tests, go-lint

fix: gate error-recovery on WAITING_FOR_INPUT state
  apps/backend/internal/common/appctx/appctx.go
  apps/backend/internal/orchestrator/task_operations.go
Due: gofmt, go-tests, go-lint

fix(worktree): handle locked git-crypt repos and localized git errors
  apps/backend/internal/worktree/gitcrypt.go
  apps/backend/internal/worktree/gitcrypt_test.go
Due: gofmt, go-tests, go-lint

fix: address code review feedback
  apps/backend/internal/agent/handlers/git_handlers.go
  apps/backend/internal/agent/handlers/git_handlers_test.go
  apps/backend/internal/orchestrator/task_operations.go
Due: gofmt, go-tests, go-lint

fix: guard against missing referencePanel in dockview focusOrAddPanel
  apps/web/e2e/tests/settings/vscode-open-panel.spec.ts
  apps/web/lib/state/dockview-layout-builders.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: prevent duplicate task.state_changed events and N+1 git show calls
  apps/backend/internal/agentctl/server/process/git.go
  apps/backend/internal/agentctl/server/process/git_log.go
  apps/backend/internal/agentctl/server/process/workspace_git_commits.go
  apps/backend/internal/task/service/service_workflow.go
Due: gofmt, go-tests, go-lint

fix: show Push button when PR exists and commits are ahead
  apps/web/components/vcs-split-button.tsx
  apps/web/e2e/pages/session-page.ts
  apps/web/e2e/tests/pr/vcs-button-context.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: always set upstream tracking on git push and fix task worktree startPoint
  apps/backend/internal/agentctl/server/process/git.go
  apps/backend/internal/worktree/manager.go
Due: gofmt, go-tests, go-lint

feat: prioritize local changes above PR files in changes panel (#528)
  apps/web/components/task/changes-panel-timeline.tsx
  apps/web/components/task/changes-panel.tsx
  apps/web/e2e/tests/git/changes-panel-section-order.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: increment CI checks elapsed time for in-progress runs in PR panel (#529)
  apps/web/components/github/pr-checks-section.tsx
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/tests/pr/pr-checks-timer.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: stop runtime instance in CleanupStaleExecutionBySessionID to prevent leaked git polling (#531)
  apps/backend/internal/agent/lifecycle/manager_lifecycle.go
  apps/backend/internal/agent/lifecycle/manager_lifecycle_test.go
  apps/backend/internal/orchestrator/executor/executor.go
Due: gofmt, go-tests, go-lint

fix: stabilize git operation callbacks to fix staging first-click bug
  apps/web/hooks/domains/session/use-session-git.ts
  apps/web/hooks/use-git-operations.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: associate PR with task when creating task from PR URL
  apps/backend/cmd/kandev/helpers.go
  apps/backend/internal/task/handlers/task_handlers.go
  apps/backend/internal/task/handlers/task_http_handlers.go
  apps/backend/internal/task/handlers/task_http_handlers_test.go
Due: gofmt, go-tests, go-lint

fix(acp): let AvailableCommandsUpdate pass through during session load
  apps/backend/internal/agentctl/server/adapter/transport/acp/adapter.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/load_suppression_test.go
  apps/web/e2e/tests/session/session-resume-commands.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
