Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

fix(web): warn when pasted attachment is too large
  apps/web/components/task/chat/use-attachment-file-feedback.ts
  apps/web/components/task/chat/use-chat-input-state.test.ts
  apps/web/components/task/chat/use-chat-input-state.ts
  apps/web/components/task/session-dialog-shared.tsx
  apps/web/e2e/tests/chat/mobile-attachment-size-warning.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(auth): enforce opt-in auth over HTTP — middleware, auth API, boot payload
  apps/backend/internal/auth/httpapi/cookie.go
  apps/backend/internal/auth/httpapi/handlers.go
  apps/backend/internal/auth/httpapi/handlers_admin.go
  apps/backend/internal/auth/httpapi/handlers_test.go
  apps/backend/internal/auth/httpmw/middleware.go
  apps/backend/internal/auth/httpmw/middleware_test.go
  apps/backend/internal/auth/state.go
  apps/backend/internal/backendapp/auth.go
  apps/backend/internal/backendapp/boot_state.go
  apps/backend/internal/backendapp/helpers.go
  apps/backend/internal/backendapp/helpers_test.go
  apps/backend/internal/backendapp/main.go
  apps/backend/internal/backendapp/storage.go
  apps/backend/internal/backendapp/types.go
  apps/backend/internal/runtimeflags/handlers.go
  apps/backend/internal/runtimeflags/handlers_test.go
  apps/backend/internal/system/system.go
  apps/backend/internal/task/repository/sqlite/workspace.go
Due: gofmt, go-tests, go-lint

fix(cli): bump esbuild to a Vite-8-supported range
  apps/cli/package.json
  apps/pnpm-lock.yaml
Due: prettier-format

fix(web): restore sidebar task title overflow (#1913)
  apps/web/components/task/task-sidebar-scroll-area.tsx
  apps/web/e2e/tests/task/sidebar-scroll-preservation.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(build): support make dev on native Windows (#1886)
  .github/workflows/backend-tests.yml
  Makefile
  apps/backend/Makefile
  scripts/check-make-shells
Due: none

fix(plugins): fence overlapping plugin loads by generation so the newest wins
  apps/web/lib/plugins/duplicate-render.test.tsx
  apps/web/lib/plugins/host.test.ts
  apps/web/lib/plugins/host.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(auth): per-user workspace scoping across HTTP services
  apps/backend/internal/agent/runtime/lifecycle/manager.go
  apps/backend/internal/agent/runtime/lifecycle/manager_execution.go
  apps/backend/internal/backendapp/auth.go
  apps/backend/internal/backendapp/main.go
  apps/backend/internal/secrets/sqlite_store.go
  apps/backend/internal/secrets/sqlite_store_test.go
  apps/backend/internal/task/service/service_access.go
  apps/backend/internal/task/service/service_access_test.go
  apps/backend/internal/task/service/service_resources.go
  apps/backend/internal/task/service/service_tasks.go
Due: gofmt, go-tests, go-lint

test(web): provide toast context to chat input tests
  apps/web/components/task/chat/use-chat-input-container.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(auth): scope WebSocket gateway to authenticated users
  apps/backend/internal/backendapp/auth.go
  apps/backend/internal/backendapp/gateway.go
  apps/backend/internal/backendapp/main.go
  apps/backend/internal/gateway/websocket/access.go
  apps/backend/internal/gateway/websocket/access_test.go
  apps/backend/internal/gateway/websocket/client.go
  apps/backend/internal/gateway/websocket/handler.go
  apps/backend/internal/gateway/websocket/hub.go
  apps/backend/internal/gateway/websocket/office_notifications.go
  apps/backend/internal/gateway/websocket/run_notifications_test.go
  apps/backend/internal/gateway/websocket/setup.go
  apps/backend/internal/gateway/websocket/task_notifications.go
  apps/backend/internal/task/service/service_access.go
Due: gofmt, go-tests, go-lint

test(web): normalize plugin header assertion
  apps/web/lib/api/domains/plugins-api.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(auth): add feature spec and backend architecture notes for opt-in auth
  apps/backend/AGENTS.md
  docs/specs/INDEX.md
  docs/specs/auth/spec.md
Due: none

docs(auth): public documentation for opt-in authentication
  docs/public/authentication.md
  docs/public/meta.json
  docs/public/run-as-a-service.md
Due: none

docs(auth): ADR for opt-in authentication architecture
  docs/decisions/2026-07-24-opt-in-authentication.md
  docs/decisions/INDEX.md
Due: none

docs(plans): mark launcher hardening complete
  docs/plans/agent-launcher-hardening-followups/plan.md
Due: none

feat(web): auth UI — login, setup wizard, invites, users & account settings
  apps/web/app/auth/invite-page.tsx
  apps/web/app/auth/login-page.tsx
  apps/web/app/auth/setup-wizard.tsx
  apps/web/components/app-sidebar/sections/settings/account-group.tsx
  apps/web/components/app-sidebar/sections/settings/settings-tree-render.test.tsx
  apps/web/components/app-sidebar/sections/settings/settings-tree.tsx
  apps/web/components/app-sidebar/sections/settings/system-group.tsx
  apps/web/components/settings/account/api-tokens.tsx
  apps/web/components/settings/account/security-settings.tsx
  apps/web/components/settings/system/authentication-settings.tsx
  apps/web/components/settings/system/create-user-dialog.tsx
  apps/web/components/settings/system/invite-dialog.tsx
  apps/web/components/settings/system/users-table.tsx
  apps/web/lib/api/client.ts
  apps/web/lib/api/domains/auth-api.test.ts
  apps/web/lib/api/domains/auth-api.ts
  apps/web/lib/state/default-state.ts
  apps/web/lib/state/slices/auth/auth-slice.test.ts
  apps/web/lib/state/slices/auth/auth-slice.ts
  apps/web/lib/state/slices/auth/types.ts
  apps/web/lib/state/slices/features/features-slice.test.ts
  apps/web/lib/state/slices/features/features-slice.ts
  apps/web/lib/state/slices/features/types.ts
  apps/web/lib/state/slices/index.ts
  apps/web/lib/state/store-overrides.ts
  apps/web/lib/state/store.ts
  apps/web/src/auth-gate.tsx
  apps/web/src/main.tsx
  apps/web/src/settings-routes.tsx
  apps/web/src/spa-routes.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: unify workspace source actions
  apps/web/components/task-create-dialog-repo-chips.test.tsx
  apps/web/components/task-create-dialog-source-mode.tsx
  apps/web/components/task/add-workspace-sources/add-workspace-sources-dialog.test.tsx
  apps/web/components/task/add-workspace-sources/add-workspace-sources-dialog.tsx
  apps/web/components/task/file-browser-toolbar.test.tsx
  apps/web/components/task/file-browser-toolbar.tsx
  apps/web/components/task/files-panel.tsx
  apps/web/components/task/task-files-panel.tsx
  apps/web/e2e/helpers/http-git-server.ts
  apps/web/e2e/tests/docker/add-workspace-sources.spec.ts
  apps/web/e2e/tests/ssh/add-workspace-sources.spec.ts
  apps/web/e2e/tests/task/add-workspace-sources.spec.ts
  apps/web/e2e/tests/task/mobile-add-workspace-sources.spec.ts
  apps/web/lib/http-git-server.test.ts
  docs/plans/attach-workspace-sources/plan.md
  docs/plans/attach-workspace-sources/task-11-shared-local-remote-selector.md
  docs/plans/attach-workspace-sources/task-12-unified-files-workspace-actions.md
  docs/plans/attach-workspace-sources/task-13-ux-delta-e2e.md
  docs/plans/attach-workspace-sources/task-14-ux-terminology-documentation.md
  docs/public/coordination.md
  docs/public/developer-tools.md
  docs/public/feature-status.md
  docs/public/tasks-and-workflows.md
  docs/specs/INDEX.md
  docs/specs/tasks/attach-workspace-sources.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test: preserve git fixture rewrites across restarts
  apps/web/e2e/fixtures/backend-env.ts
  apps/web/e2e/fixtures/backend.ts
  apps/web/e2e/helpers/http-git-server.ts
  apps/web/e2e/tests/docker/add-workspace-sources.spec.ts
  apps/web/e2e/tests/ssh/add-workspace-sources.spec.ts
  apps/web/lib/backend-fixture-env.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: split workspace repository chip coverage
  apps/web/components/task-create-dialog-repo-chips.test.tsx
  apps/web/components/task-create-dialog-workspace-repo-chips.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test: align workspace source container paths
  apps/web/e2e/tests/docker/add-workspace-sources.spec.ts
  apps/web/e2e/tests/ssh/add-workspace-sources.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: narrow workspace source UX updates
  docs/public/feature-status.md
  docs/public/tasks-and-workflows.md
  docs/specs/tasks/attach-workspace-sources.md
Due: none

test: isolate backend git fixture config
  apps/web/e2e/helpers/http-git-server.ts
  apps/web/e2e/tests/docker/add-workspace-sources.spec.ts
  apps/web/e2e/tests/ssh/add-workspace-sources.spec.ts
  apps/web/lib/http-git-server.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: stabilize workspace source CI checks
  apps/backend/internal/agentctl/server/api/workspace_materialize.go
  apps/web/lib/http-git-server.test.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: simplify workspace actions trigger
  apps/web/components/task/file-browser-toolbar.test.tsx
  apps/web/components/task/file-browser-toolbar.tsx
  apps/web/e2e/tests/task/add-workspace-sources.spec.ts
  apps/web/e2e/tests/task/mobile-add-workspace-sources.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: preserve worktree identity during recovery
  apps/backend/internal/orchestrator/executor/executor_execute.go
  apps/backend/internal/task/service/service_turns.go
  apps/backend/internal/task/service/service_turns_test.go
  apps/backend/internal/worktree/branch_plan.go
Due: gofmt, go-tests, go-lint

fix: preserve SSH workspace across backend restart
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh.go
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh_resume_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_lifecycle.go
  apps/backend/internal/agent/runtime/lifecycle/manager_lifecycle_test.go
Due: gofmt, go-tests, go-lint

fix: preserve ssh agent identity during resume
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh.go
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh_resume_test.go
Due: gofmt, go-tests, go-lint

fix: validate recovered workspace repositories
  apps/backend/internal/task/service/service_turns.go
  apps/backend/internal/task/service/service_turns_test.go
Due: gofmt, go-tests, go-lint

fix: refine add workspace repositories UX
  apps/web/components/create-local-repository-surface.test.tsx
  apps/web/components/create-local-repository-surface.tsx
  apps/web/components/task/add-workspace-sources/add-workspace-sources-dialog.test.tsx
  apps/web/components/task/add-workspace-sources/add-workspace-sources-dialog.tsx
  apps/web/components/task/add-workspace-sources/saved-repository-source-row.tsx
  apps/web/components/task/add-workspace-sources/use-dialog-opener-focus.ts
  apps/web/components/task/add-workspace-sources/use-workspace-repository-options.ts
  apps/web/components/task/add-workspace-sources/use-workspace-source-rows.ts
  apps/web/components/task/file-browser-toolbar.test.tsx
  apps/web/components/task/file-browser-toolbar.tsx
  apps/web/e2e/tests/docker/add-workspace-sources.spec.ts
  apps/web/e2e/tests/ssh/add-workspace-sources.spec.ts
  apps/web/e2e/tests/task/add-workspace-sources.spec.ts
  apps/web/e2e/tests/task/mobile-add-workspace-sources.spec.ts
  docs/public/coordination.md
  docs/public/developer-tools.md
  docs/public/feature-status.md
  docs/public/tasks-and-workflows.md
  docs/specs/tasks/attach-workspace-sources.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: harden workspace source filesystem boundaries
  apps/backend/internal/agentctl/server/api/workspace_materialize.go
  apps/backend/internal/agentctl/server/api/workspace_materialize_test.go
  apps/backend/internal/agentctl/server/api/workspace_rescan.go
  apps/backend/internal/agentctl/server/api/workspace_rescan_test.go
  apps/backend/internal/agentctl/server/process/manager.go
  apps/backend/internal/agentctl/server/process/manager_rescan.go
  apps/backend/internal/agentctl/server/process/manager_rescan_test.go
  apps/backend/internal/agentctl/server/process/workspace_files.go
  apps/backend/internal/agentctl/server/process/workspace_files_test.go
  apps/backend/internal/task/service/service_workspace_sources.go
  apps/backend/internal/task/service/service_workspace_sources_test.go
  docs/decisions/2026-07-23-workspace-source-root-move-boundary.md
  docs/decisions/INDEX.md
  docs/specs/tasks/attach-workspace-sources.md
Due: gofmt, go-tests, go-lint

fix: resume remote workspace executions before creation
  apps/backend/internal/agent/runtime/lifecycle/manager_execution.go
  apps/backend/internal/agent/runtime/lifecycle/manager_execution_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_launch.go
Due: gofmt, go-tests, go-lint

test: canonicalize workspace source paths
  apps/backend/internal/agentctl/server/process/manager_rescan_test.go
Due: gofmt, go-tests, go-lint

fix: populate direct workspace repository names
  apps/backend/internal/orchestrator/executor/executor_environment_test.go
  apps/backend/internal/orchestrator/executor/executor_execute.go
Due: gofmt, go-tests, go-lint

fix: restrict repository rescan recovery paths
  apps/backend/internal/agentctl/server/process/manager_rescan.go
  apps/backend/internal/agentctl/server/process/manager_rescan_path_test.go
Due: gofmt, go-tests, go-lint

test(auth): E2E lifecycle suite + fix workspace event WS leak it caught
  apps/backend/internal/gateway/websocket/access_test.go
  apps/backend/internal/gateway/websocket/task_notifications.go
  apps/web/e2e/helpers/auth.ts
  apps/web/e2e/playwright.config.ts
  apps/web/e2e/tests/auth/auth-lifecycle.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(e2e): authorize agent install streaming
  apps/web/e2e/tests/settings/agent-install-streaming.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): guard clarification shortcuts in editor
  apps/web/components/task/chat/clarification-input-overlay.tsx
  apps/web/e2e/tests/chat/clarification.spec.ts
  apps/web/e2e/tests/chat/mobile-clarification.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(auth): close cross-user access gaps found in security audit
  apps/backend/internal/agent/runtime/lifecycle/manager.go
  apps/backend/internal/agent/runtime/lifecycle/manager_access_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_execution.go
  apps/backend/internal/agent/runtime/routingerr/sanitize.go
  apps/backend/internal/auth/service.go
  apps/backend/internal/auth/service_invites.go
  apps/backend/internal/auth/service_setup.go
  apps/backend/internal/backendapp/helpers.go
  apps/backend/internal/backendapp/main.go
  apps/backend/internal/gateway/websocket/port_proxy.go
  apps/backend/internal/gateway/websocket/vscode_proxy.go
  apps/backend/internal/task/service/service_access.go
  apps/backend/internal/task/service/service_access_test.go
  apps/backend/internal/task/service/service_messages.go
  apps/backend/internal/task/service/service_resources.go
  docs/decisions/2026-07-24-opt-in-authentication.md
  docs/specs/auth/spec.md
Due: gofmt, go-tests, go-lint

fix(auth): scope repository active-session-count endpoint
  apps/backend/internal/task/service/service_resources.go
Due: gofmt, go-tests, go-lint

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
