Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

chore: remove verify step from code-review agent and skill
  .agents/agents/code-review.md
  .agents/skills/code-review/SKILL.md
Due: none

chore: add dedicated sub-agents for skill delegation (#497)
  .agents/agents/code-review.md
  .agents/agents/qa.md
  .agents/agents/simplify.md
  .agents/agents/verify.md
  .agents/skills/commit/SKILL.md
  .agents/skills/feature/SKILL.md
  .agents/skills/pr-fixup/SKILL.md
  .claude/agents
  apps/backend/cmd/mock-agent/main.go
Due: gofmt, go-tests, go-lint

fix(web): deduplicate agent and session tabs in task view
  apps/web/components/task/dockview-session-tabs.ts
  apps/web/components/task/session-tab.tsx
  apps/web/e2e/tests/session-tab-cleanup.spec.ts
  apps/web/lib/state/layout-manager/merger.test.ts
  apps/web/lib/state/layout-manager/merger.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

chore: remove debug logs from session tab fix
  apps/web/components/task/dockview-session-tabs.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: resolve lint warnings in session tab and e2e test
  apps/web/components/task/session-tab.tsx
  apps/web/e2e/tests/session-tab-cleanup.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: guard chat removal against maximized state
  apps/web/components/task/dockview-session-tabs.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: format e2e test with prettier
  apps/web/e2e/tests/session-tab-cleanup.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: format merger test with prettier
  apps/web/lib/state/layout-manager/merger.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(e2e): use stable session tab selector in diff-update tests
  apps/web/e2e/tests/diff-update.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(e2e): retry sidebar menu click when detached by re-render
  apps/web/e2e/pages/session-page.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: ticket
  apps/web/lib/demo/demo-data.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

Notes added by 'git notes add'
  66f80b4c2dd3ba896844c9ed3b4a8c599b7d0ce4
Due: none

ci: increase E2E shards from 4 to 10 for faster CI
  .agents/skills/e2e/SKILL.md
  .github/workflows/e2e-tests.yml
Due: none

ci: extract shared build job from E2E test shards
  .github/workflows/e2e-tests.yml
Due: none

fix(ci): include hidden files in web build artifact upload
  .github/workflows/e2e-tests.yml
Due: none

ci: add debug logging for artifact upload/download
  .github/workflows/e2e-tests.yml
Due: none

ci: add E2E_DEBUG and reduce to 1 shard for debugging
  .github/workflows/e2e-tests.yml
Due: none

fix(ci): use tar to preserve symlinks in web build artifact
  .github/workflows/e2e-tests.yml
Due: none

fix: address PR review feedback
  .agents/skills/e2e/SKILL.md
  apps/web/e2e/tests/session/multi-session-ux.spec.ts
  apps/web/e2e/tests/task/create-task.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): invalidate diff expansion cache when file changes
  apps/web/components/diff/use-expandable-diff.ts
  apps/web/e2e/tests/git/diff-update.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: downgrade auto-start to prepare when step lacks auto_start_agent
  apps/backend/internal/orchestrator/session_launch.go
  apps/web/e2e/tests/workflow/workflow-automation.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: address PR review feedback
  apps/web/components/task/changes-panel.tsx
  apps/web/components/task/commit-row.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): guard against stale dockview group IDs when adding panels
  apps/web/lib/state/dockview-layout-builders.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: force-update tags during repo fetch to prevent stale tag conflicts
  apps/backend/internal/repoclone/clone.go
Due: gofmt, go-tests, go-lint

feat(web): unified commit list with pushed/unpushed indicators
  apps/web/components/task/changes-panel-timeline.tsx
  apps/web/components/task/changes-panel.test.ts
  apps/web/components/task/changes-panel.tsx
  apps/web/components/task/commit-row.tsx
  apps/web/e2e/pages/session-page.ts
  apps/web/e2e/tests/git/git-changes-panel.spec.ts
  apps/web/e2e/tests/pr/pr-detection.spec.ts
  apps/web/e2e/tests/pr/pr-switcher-changes.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(worktree): retry fetch via remote-tracking ref when branch is checked out
  apps/backend/internal/worktree/errors.go
  apps/backend/internal/worktree/manager.go
  apps/backend/internal/worktree/manager_checkout_branch_test.go
Due: gofmt, go-tests, go-lint

fix(e2e): resolve strict mode violation in unified commits test
  apps/web/e2e/tests/git/git-changes-panel.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: block agent auto-start on workflow steps without auto_start_agent
  apps/backend/internal/orchestrator/session_launch.go
  apps/web/components/task/task-page-content.tsx
  apps/web/e2e/tests/workflow/workflow-automation.spec.ts
  apps/web/hooks/domains/session/use-session-agent.ts
  apps/web/lib/services/session-launch-helpers.ts
  apps/web/lib/services/session-launch-service.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(e2e): bind Ctrl+Arrow in bash for macOS compatibility
  apps/web/e2e/tests/terminal/terminal-keyboard.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(worktree): set upstream tracking branch for PR worktrees
  apps/backend/internal/worktree/manager.go
  apps/backend/internal/worktree/manager_checkout_branch_test.go
  apps/web/components/task/commit-row.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat(github): move PR monitoring to backend with lightweight polling
  apps/backend/cmd/kandev/main.go
  apps/backend/internal/github/client.go
  apps/backend/internal/github/client_helpers.go
  apps/backend/internal/github/controller_test.go
  apps/backend/internal/github/gh_client.go
  apps/backend/internal/github/handlers.go
  apps/backend/internal/github/mock_client.go
  apps/backend/internal/github/models.go
  apps/backend/internal/github/noop_client.go
  apps/backend/internal/github/pat_client.go
  apps/backend/internal/github/poller.go
  apps/backend/internal/github/poller_test.go
  apps/backend/internal/github/service.go
  apps/backend/internal/github/service_test.go
  apps/backend/internal/github/store.go
  apps/backend/internal/orchestrator/event_handlers_github.go
  apps/backend/internal/orchestrator/event_handlers_github_test.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/task/models/models.go
  apps/backend/internal/task/repository/sqlite/session_branch.go
  apps/backend/pkg/websocket/actions.go
  apps/web/components/github/pr-task-icon.tsx
  apps/web/components/task/changes-panel.tsx
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/tests/pr/pr-detection.spec.ts
  apps/web/hooks/domains/github/use-task-pr.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(web): align PR icon colors between sidebar and topbar
  apps/web/components/github/pr-task-icon.tsx
  apps/web/components/github/pr-topbar-button.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address PR review feedback
  apps/backend/internal/github/models.go
  apps/backend/internal/github/poller.go
  apps/backend/internal/github/service.go
  apps/backend/internal/github/store.go
  apps/backend/internal/orchestrator/event_handlers_github.go
  apps/backend/internal/orchestrator/event_handlers_github_test.go
  apps/web/hooks/domains/github/use-task-pr.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: address CodeRabbit review feedback
  apps/backend/internal/github/poller.go
  apps/backend/internal/github/poller_test.go
  apps/backend/internal/github/service.go
  apps/backend/internal/github/store.go
  apps/backend/internal/orchestrator/event_handlers_github.go
  apps/backend/internal/task/repository/sqlite/session_branch.go
  apps/web/hooks/domains/github/use-task-pr.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(github): break infinite PR sync loop and improve diff panel targeting
  apps/backend/internal/github/service.go
  apps/web/hooks/domains/github/use-task-pr.ts
  apps/web/lib/state/dockview-layout-builders.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: preserve position fields in dockview group fallback
  apps/web/lib/state/dockview-layout-builders.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(github): add SyncTaskPR event suppression and timeEqual tests
  apps/backend/internal/github/service_test.go
Due: gofmt, go-tests, go-lint

fix(github): break infinite PR sync loop and improve diff panel targeting (#503)
  apps/backend/internal/github/service.go
  apps/backend/internal/github/service_test.go
  apps/web/hooks/domains/github/use-task-pr.ts
  apps/web/lib/state/dockview-layout-builders.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: use dynamic merge-base for git commits to filter main branch commits
  apps/backend/cmd/kandev/adapters.go
  apps/backend/cmd/kandev/gateway.go
  apps/backend/internal/agent/handlers/git_handlers.go
  apps/backend/internal/agent/handlers/git_handlers_test.go
  apps/backend/internal/agentctl/client/git.go
  apps/backend/internal/agentctl/server/api/git.go
  apps/backend/internal/agentctl/server/process/git_log.go
  apps/backend/internal/orchestrator/executor/executor.go
  apps/backend/internal/orchestrator/scheduler/scheduler_test.go
  apps/backend/internal/orchestrator/task_operations.go
Due: gofmt, go-tests, go-lint
