Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

test(e2e): cover routine catch-up policy UI and alias normalization
  apps/web/e2e/helpers/office-api-client.ts
  apps/web/e2e/tests/office/routine-catch-up-policy-ui.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(office): log the underlying cron-parse error on catch-up failure
  apps/backend/internal/office/repository/sqlite/catchup_migration_replay_test.go
  apps/backend/internal/office/routines/catch_up_test.go
  apps/backend/internal/office/routines/handler_catchup_test.go
  apps/backend/internal/office/routines/service.go
  apps/backend/internal/office/routines/service_catchup_test.go
  apps/backend/internal/office/routines/test_helpers.go
  apps/backend/internal/office/service/catchup_prompt_test.go
Due: gofmt, go-tests, go-lint

test(e2e): capture PR screenshots for the routine catch-up policy control
  apps/web/e2e/tests/office/mobile-routine-catch-up-policy-ui.spec.ts
  apps/web/e2e/tests/office/routine-catch-up-policy-ui.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(office): correct catch-up wake-prompt wording and upgrade payload gate
  apps/backend/internal/office/service/catchup_prompt_test.go
  apps/backend/internal/office/service/prompt_builder.go
  apps/backend/internal/office/service/scheduler_integration.go
Due: gofmt, go-tests, go-lint

fix(office): fix routine catch-up default policy migration on postgres
  apps/backend/internal/office/repository/sqlite/catchup_migration_replay_postgres_test.go
  apps/backend/internal/office/repository/sqlite/catchup_migrations.go
  apps/backend/internal/office/repository/sqlite/catchup_migrations_postgres.go
Due: gofmt, go-tests, go-lint

fix(office): register sqlguard exemptions for routine catch-up SQLite migrations
  apps/backend/internal/db/sqlguard/exemptions.json
Due: none

fix(office): silence errcheck on routine catch-up migration statements
  apps/backend/internal/office/repository/sqlite/catchup_migrations.go
Due: gofmt, go-tests, go-lint

feat(agentctl): accept a configured push target and expected branch on push
  apps/backend/internal/agent/handlers/git_handlers.go
  apps/backend/internal/agent/handlers/git_handlers_test.go
  apps/backend/internal/agent/handlers/git_push_options_test.go
  apps/backend/internal/agent/runtime/agentctl/git.go
  apps/backend/internal/agent/runtime/agentctl/git_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_startup.go
  apps/backend/internal/agentctl/server/api/git.go
  apps/backend/internal/agentctl/server/api/git_push_target_test.go
  apps/backend/internal/agentctl/server/process/git.go
  apps/backend/internal/agentctl/server/process/git_empty_remote_test.go
  apps/backend/internal/agentctl/server/process/git_push_expected_branch_test.go
  apps/backend/internal/agentctl/server/process/git_push_preflight_test.go
  apps/backend/internal/agentctl/server/process/git_push_target.go
  apps/backend/internal/agentctl/server/process/git_push_target_test.go
  apps/backend/internal/agentctl/server/process/git_test.go
  apps/backend/internal/common/securityutil/git.go
  apps/backend/internal/common/securityutil/git_test.go
  docs/plans/configured-push-target/plan.md
  docs/plans/configured-push-target/task-01-resolution-primitives.md
  docs/plans/configured-push-target/task-02-push-path.md
  docs/plans/configured-push-target/task-03-preflight.md
  docs/plans/configured-push-target/task-04-transport.md
  docs/specs/workspaces/README.md
  docs/specs/workspaces/requirements/configured-push-target.md
  docs/specs/workspaces/system-design/configured-push-target.md
Due: gofmt, go-tests, go-lint

test(agentctl): cover second-verification mismatch without a baseline
  apps/backend/internal/agentctl/server/process/git_push_expected_branch_test.go
Due: gofmt, go-tests, go-lint

fix(agentctl): report baseline-published only when this push actually published it
  apps/backend/internal/agentctl/server/process/git.go
  apps/backend/internal/agentctl/server/process/git_empty_remote.go
  apps/backend/internal/agentctl/server/process/git_push_expected_branch_test.go
  apps/backend/internal/agentctl/server/process/git_push_target.go
  apps/backend/internal/agentctl/server/process/git_push_target_test.go
  apps/backend/internal/agentctl/server/process/git_test.go
Due: gofmt, go-tests, go-lint

fix(agentctl): stop building the no-target push refspec from an unverified reread
  apps/backend/internal/agentctl/server/process/git_push_expected_branch_test.go
  apps/backend/internal/agentctl/server/process/git_push_preflight_test.go
  apps/backend/internal/agentctl/server/process/git_push_target.go
Due: gofmt, go-tests, go-lint

fix(agentctl): bypass local pre-push hook during push preflight
  apps/backend/internal/agentctl/server/process/git.go
  apps/backend/internal/agentctl/server/process/git_push_preflight_test.go
  apps/backend/internal/common/securityutil/git.go
Due: gofmt, go-tests, go-lint

fix(agentctl): use porcelain dry-run output for history-update detection
  apps/backend/internal/agentctl/server/process/git.go
Due: gofmt, go-tests, go-lint

docs(specs): register kanban task reordering requirement and design
  docs/specs/tasks/README.md
  docs/specs/tasks/requirements/kanban-task-reordering.md
  docs/specs/tasks/system-design/kanban-task-reordering.md
Due: none

feat(tasks): persist step order and add reorder/bulk-move fixes
  apps/backend/internal/events/types.go
  apps/backend/internal/gateway/websocket/task_notifications.go
  apps/backend/internal/gateway/websocket/task_notifications_test.go
  apps/backend/internal/orchestrator/workflow_store.go
  apps/backend/internal/orchestrator/workflow_store_test.go
  apps/backend/internal/task/handlers/task_handlers.go
  apps/backend/internal/task/handlers/task_http_handlers.go
  apps/backend/internal/task/handlers/task_reorder_handlers_test.go
  apps/backend/internal/task/models/step_order.go
  apps/backend/internal/task/models/step_order_test.go
  apps/backend/internal/task/repository/interface.go
  apps/backend/internal/task/repository/repoerrors/errors.go
  apps/backend/internal/task/repository/sqlite/base_migrations.go
  apps/backend/internal/task/repository/sqlite/base_schema.go
  apps/backend/internal/task/repository/sqlite/next_queued_task_ordering_pin_test.go
  apps/backend/internal/task/repository/sqlite/task.go
  apps/backend/internal/task/repository/sqlite/task_reorder.go
  apps/backend/internal/task/repository/sqlite/task_reorder_test.go
  apps/backend/internal/task/repository/sqlite/task_selection_coverage_test.go
  apps/backend/internal/task/service/service_reorder.go
  apps/backend/internal/task/service/service_reorder_test.go
  apps/backend/internal/task/service/service_workflow.go
  apps/backend/internal/task/service/service_workflow_state_test.go
  apps/backend/internal/task/service/service_workflow_test.go
  apps/backend/internal/workflow/repository/sqlite.go
  apps/backend/pkg/pluginsdk/data_types.go
  apps/backend/pkg/websocket/actions.go
  apps/backend/proto/kandev/plugin/v1/plugin.pb.go
  apps/backend/proto/kandev/plugin/v1/plugin.proto
Due: gofmt, go-tests, go-lint

fix(web): align board ordering with AC.1 and fix kanban bulk-move race
  apps/web/components/kanban/swimlane-graph2-content.test.ts
  apps/web/components/kanban/swimlane-graph2-content.tsx
  apps/web/components/kanban/swimlane-kanban-content.tsx
  apps/web/components/kanban/swipeable-columns.tsx
  apps/web/hooks/use-task-multi-select-bulk-move.test.ts
  apps/web/hooks/use-task-multi-select.ts
  apps/web/lib/api/domains/kanban-api.test.ts
  apps/web/lib/api/domains/kanban-api.ts
  apps/web/lib/kanban/task-order.test.ts
  apps/web/lib/kanban/task-order.ts
  apps/web/lib/kanban/wip-queue.test.ts
  apps/web/lib/kanban/wip-queue.ts
  apps/web/lib/types/http.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(web): add within-band reorder submission plumbing
  apps/web/components/task/task-move-error-message.ts
  apps/web/hooks/domains/kanban/use-step-reorder.test.ts
  apps/web/hooks/domains/kanban/use-step-reorder.ts
  apps/web/hooks/domains/kanban/use-task-subtasks.test.tsx
  apps/web/hooks/use-change-request-provider-target.test.tsx
  apps/web/hooks/use-task-in-flight.test.tsx
  apps/web/lib/kanban/reorder-merge.test.ts
  apps/web/lib/kanban/reorder-merge.ts
  apps/web/lib/routing/kanban-route-hydration.test.ts
  apps/web/lib/state/slices/kanban/kanban-slice.test.ts
  apps/web/lib/state/slices/kanban/kanban-slice.ts
  apps/web/lib/state/slices/kanban/types.ts
  apps/web/lib/ws/handlers/agent-session-kanban.test.ts
  apps/web/lib/ws/handlers/kanban-auto-start-failed.test.ts
  apps/web/lib/ws/handlers/kanban.test.ts
  apps/web/lib/ws/handlers/tasks-pending-action.test.ts
  apps/web/src/locales/en/task.json
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(web): apply task.reordered WS events to the kanban board
  apps/web/lib/types/backend.ts
  apps/web/lib/ws/handlers/kanban.ts
  apps/web/lib/ws/handlers/task-reordered.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

media: screenshots for PR #3616
  desktop-comment-free.png
  desktop-saved-feedback.png
  mobile-comment-free.png
  mobile-saved-feedback.png
Due: none

feat(web): wire pointer drag-to-reorder within a kanban band
  apps/web/components/kanban-column.tsx
  apps/web/components/kanban/swimlane-kanban-content.tsx
  apps/web/components/kanban/swipeable-columns.tsx
  apps/web/components/kanban/virtualized-column-task-list.test.ts
  apps/web/components/kanban/virtualized-column-task-list.tsx
  apps/web/hooks/domains/kanban/use-shared-kanban-layout-props.ts
  apps/web/lib/kanban/drop-classification.test.ts
  apps/web/lib/kanban/drop-classification.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(web): support keyboard reordering of kanban cards
  apps/web/components/kanban-card-actions.tsx
  apps/web/components/kanban-card-content.tsx
  apps/web/components/kanban-card-status-icon.tsx
  apps/web/components/kanban-card.tsx
  apps/web/components/kanban-column.tsx
  apps/web/components/kanban/swimlane-kanban-content.tsx
  apps/web/components/kanban/swipeable-columns.tsx
  apps/web/components/kanban/virtualized-column-task-list.test.ts
  apps/web/components/kanban/virtualized-column-task-list.tsx
  apps/web/hooks/domains/kanban/use-keyboard-reorder.test.ts
  apps/web/hooks/domains/kanban/use-keyboard-reorder.ts
  apps/web/hooks/domains/kanban/use-shared-kanban-layout-props.ts
  apps/web/hooks/domains/kanban/use-step-reorder.test.ts
  apps/web/hooks/domains/kanban/use-swimlane-kanban-dnd.ts
  apps/web/lib/kanban/keyboard-reorder.test.ts
  apps/web/lib/kanban/keyboard-reorder.ts
  apps/web/src/locales/en/kanban.json
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): add e2e coverage for kanban card reordering (AC.6/.12/.29)
  apps/web/components/kanban/swimlane-kanban-content.tsx
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/tests/kanban/kanban-reorder.spec.ts
  apps/web/e2e/tests/kanban/mobile-kanban-reorder.spec.ts
  apps/web/e2e/tests/kanban/task-multi-select.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(backend): tolerate a missing workflow_steps row in the arrival-position lock
  apps/backend/internal/task/repository/sqlite/task.go
  apps/backend/internal/task/repository/sqlite/task_arrival_position_postgres_test.go
Due: gofmt, go-tests, go-lint

fix(web): complete kanban reorder error copy in all locales
  apps/web/src/locales/pseudo/kanban.json
  apps/web/src/locales/pseudo/task.json
  apps/web/src/locales/pt-pt/kanban.json
  apps/web/src/locales/pt-pt/task.json
  apps/web/src/locales/zh-cn/kanban.json
  apps/web/src/locales/zh-cn/task.json
  apps/web/src/locales/zh-hk/common.json
  apps/web/src/locales/zh-hk/kanban.json
  apps/web/src/locales/zh-hk/task.json
  apps/web/src/locales/zh-tw/common.json
  apps/web/src/locales/zh-tw/kanban.json
  apps/web/src/locales/zh-tw/task.json
Due: prettier-format

fix(backend): update same-step MoveTask test for AC.28 contract
  apps/backend/internal/task/service/service_workflow_test.go
Due: gofmt, go-tests, go-lint

fix(backend): serialize bulk-move arrival positions before opening a tx
  apps/backend/internal/task/repository/sqlite/base.go
  apps/backend/internal/task/repository/sqlite/task.go
  apps/backend/internal/task/service/service.go
  apps/backend/internal/task/service/service_bulk_move_concurrency_test.go
  apps/backend/internal/task/service/service_workflow.go
Due: gofmt, go-tests, go-lint

fix(web,backend): close review findings and test-rigor gaps for kanban reorder
  apps/backend/internal/orchestrator/event_handlers_agent_error_evaluate_only_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/event_handlers_workflow_test.go
  apps/backend/internal/orchestrator/workflow_store.go
  apps/backend/internal/task/repository/sqlite/task.go
  apps/backend/internal/task/repository/sqlite/task_move_source_lock_postgres_test.go
  apps/backend/internal/task/repository/sqlite/task_reorder_rigor_test.go
  apps/backend/internal/task/repository/sqlite/task_wip_postgres_test.go
  apps/backend/internal/task/repository/task_wip_test.go
  apps/backend/internal/task/service/service_reorder_test.go
  apps/backend/internal/task/service/service_workflow.go
  apps/backend/internal/task/service/service_workflow_feeder_move_test.go
  apps/backend/internal/task/service/service_workflow_race_test.go
  apps/web/components/kanban/graph2-task-pipeline.test.tsx
  apps/web/hooks/domains/kanban/use-cross-step-move.test.ts
  apps/web/hooks/domains/kanban/use-step-reorder-reconciliation.test.ts
  apps/web/hooks/domains/kanban/use-step-reorder.test.ts
  apps/web/hooks/domains/kanban/use-step-reorder.ts
  apps/web/hooks/domains/kanban/use-swimlane-kanban-dnd.test.ts
  apps/web/hooks/domains/kanban/use-swimlane-kanban-dnd.ts
  apps/web/hooks/domains/kanban/use-task-subtasks.test.tsx
  apps/web/hooks/use-change-request-provider-target.test.tsx
  apps/web/hooks/use-task-actions.ts
  apps/web/hooks/use-task-in-flight.test.tsx
  apps/web/lib/api/domains/kanban-api.ts
  apps/web/lib/kanban/reorder-merge.test.ts
  apps/web/lib/kanban/reorder-merge.ts
  apps/web/lib/routing/kanban-route-hydration.test.ts
  apps/web/lib/state/slices/kanban/kanban-slice.test.ts
  apps/web/lib/state/slices/kanban/kanban-slice.ts
  apps/web/lib/state/slices/kanban/types.ts
  apps/web/lib/ws/handlers/agent-session-kanban.test.ts
  apps/web/lib/ws/handlers/kanban-auto-start-failed.test.ts
  apps/web/lib/ws/handlers/kanban.test.ts
  apps/web/lib/ws/handlers/kanban.ts
  apps/web/lib/ws/handlers/task-reordered.test.ts
  apps/web/lib/ws/handlers/tasks-pending-action.test.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(web,backend): lock feeder step during promotion, fix keyboard indicator
  apps/backend/internal/task/models/step_order_test.go
  apps/backend/internal/task/repository/sqlite/base.go
  apps/backend/internal/task/repository/sqlite/task.go
  apps/backend/internal/task/repository/sqlite/task_promotion_lock_postgres_test.go
  apps/backend/internal/task/repository/sqlite/task_reorder.go
  apps/backend/internal/task/service/service_reorder_test.go
  apps/web/components/kanban/virtualized-column-task-list.test.ts
  apps/web/components/kanban/virtualized-column-task-list.tsx
  apps/web/hooks/domains/kanban/use-keyboard-reorder.test.ts
  apps/web/hooks/domains/kanban/use-keyboard-reorder.ts
  apps/web/hooks/domains/kanban/use-swimlane-move.ts
  apps/web/lib/kanban/task-order.test.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(backend): scope reorder existence check to the step's own workspace
  apps/backend/internal/task/repository/sqlite/task_move_source_lock_postgres_test.go
  apps/backend/internal/task/repository/sqlite/task_reorder.go
  apps/backend/internal/task/repository/sqlite/task_reorder_rigor_test.go
  apps/backend/internal/task/service/service_reorder_test.go
Due: gofmt, go-tests, go-lint

fix(backend): route a reorder racing a departed task to step_changed
  apps/backend/internal/task/repository/sqlite/task_reorder.go
  apps/backend/internal/task/repository/sqlite/task_reorder_rigor_test.go
Due: gofmt, go-tests, go-lint

fix(backend): lock a bulk move's whole step set, not target-then-source
  apps/backend/internal/task/repository/sqlite/task.go
  apps/backend/internal/task/service/service.go
  apps/backend/internal/task/service/service_bulk_move_lock_order_test.go
  apps/backend/internal/task/service/service_workflow.go
Due: gofmt, go-tests, go-lint

fix(web,backend): fix round-2 review blockers for kanban reorder
  apps/backend/internal/task/repository/sqlite/task_reorder.go
  apps/backend/internal/task/repository/sqlite/task_reorder_rigor_test.go
  apps/backend/internal/task/service/service_workflow.go
  apps/backend/internal/task/service/service_workflow_test.go
  apps/web/hooks/domains/kanban/use-step-reorder-reconciliation.test.ts
  apps/web/hooks/domains/kanban/use-step-reorder.ts
  apps/web/hooks/domains/kanban/use-swimlane-kanban-dnd.ts
  apps/web/lib/kanban/drop-classification.test.ts
  apps/web/lib/kanban/drop-classification.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(backend): release stale step lock when a task leaves its step mid-lock
  apps/backend/internal/task/repository/sqlite/task.go
  apps/backend/internal/task/repository/sqlite/task_step_lock_retry_release_postgres_test.go
Due: gofmt, go-tests, go-lint

fix(backend): release stale step lock on lockTaskStepForWrite retry
  apps/backend/internal/task/repository/sqlite/task.go
  apps/backend/internal/task/repository/sqlite/task_step_lock_retry_release_postgres_test.go
Due: gofmt, go-tests, go-lint

fix(web): position virtualized kanban rows with top, not transform
  apps/web/components/kanban/virtualized-column-task-list.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(backend): close TOCTOU races in step-lock helpers and cascade delete
  apps/backend/internal/task/repository/sqlite/base.go
  apps/backend/internal/task/repository/sqlite/task.go
  apps/backend/internal/task/repository/sqlite/task_step_lock_toctou_postgres_test.go
  apps/backend/internal/task/repository/sqlite/task_visibility_lock_postgres_test.go
  apps/backend/internal/task/repository/sqlite/workspace.go
  apps/backend/internal/task/repository/sqlite/workspace_cascade_lock_postgres_test.go
  apps/web/components/kanban/virtualized-column-task-list.test.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(web): restore traditional 週 for sidebarWeeks in zh-hk/zh-tw
  apps/web/src/locales/zh-hk/common.json
  apps/web/src/locales/zh-tw/common.json
Due: prettier-format

fix(backend): keep task row locked when its step vanishes mid-lock
  apps/backend/internal/task/repository/sqlite/base.go
  apps/backend/internal/task/repository/sqlite/task.go
  apps/backend/internal/task/repository/sqlite/task_step_lock_reattach_race_postgres_test.go
  apps/backend/internal/task/repository/sqlite/task_step_lock_retry_release_postgres_test.go
Due: gofmt, go-tests, go-lint

fix(backend,web): lock archive/delete against reorder, sort admitted band
  apps/backend/internal/task/repository/sqlite/task.go
  apps/backend/internal/task/repository/sqlite/task_visibility_lock_postgres_test.go
  apps/web/e2e/tests/kanban/kanban-reorder.spec.ts
  apps/web/hooks/domains/kanban/use-keyboard-reorder.test.ts
  apps/web/lib/kanban/drop-classification.test.ts
  apps/web/lib/kanban/wip-queue.test.ts
  apps/web/lib/kanban/wip-queue.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck
