Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

feat(preview): InspectButton and AnnotationsPanel components
  apps/web/components/task/preview/annotations-panel.tsx
  apps/web/components/task/preview/inspect-button.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(preview): catch clipboard write rejection in AnnotationsPanel
  apps/web/components/task/preview/annotations-panel.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

chore(preview): drop unused onInsert prop from AnnotationsPanel
  apps/web/components/task/preview/annotations-panel.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(preview): assign annotation number in React; drop redundant iframe source check
  apps/backend/internal/agentctl/server/api/scripts/inspector.js
  apps/web/components/task/preview/preview-panel.tsx
  apps/web/lib/preview-inspect-bridge.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(preview): clarify net/http.Transport auto-decompression in Accept-Encoding del
  apps/backend/internal/agentctl/server/api/html_injector.go
  apps/backend/internal/agentctl/server/api/port_proxy.go
Due: gofmt, go-tests, go-lint

feat(preview): always route preview iframe through port proxy
  apps/web/components/task/preview/preview-panel.tsx
  apps/web/hooks/use-preview-panel.ts
  apps/web/lib/preview-url-detector.test.ts
  apps/web/lib/preview-url-detector.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(preview): postMessage bridge and annotation formatter
  apps/web/lib/preview-inspect-bridge.test.ts
  apps/web/lib/preview-inspect-bridge.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(preview): wire inspect mode, postMessage handlers, annotations panel
  apps/web/components/task/preview/preview-panel.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(preview): HTML injector strips CSP/X-Frame-Options and embeds inspector
  apps/backend/internal/agentctl/server/api/html_injector.go
  apps/backend/internal/agentctl/server/api/html_injector_test.go
Due: gofmt, go-tests, go-lint

test(preview): E2E for annotation flow, copy, clear, logs round-trip, injection
  apps/web/e2e/tests/preview/preview-annotations.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(preview): defensive narrowing in isInspectorMessage; tidy empty Pin output
  apps/web/lib/preview-inspect-bridge.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(cli): make macOS start/restart idempotent across load states
  apps/cli/src/service/macos.ts
Due: prettier-format

fix(preview): move sendRemoveMarker out of setAnnotations updater
  apps/web/components/task/preview/preview-panel.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test(preview): skip annotations spec - seed repo lacks dev_script
  apps/web/e2e/tests/preview/preview-annotations.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(preview): address review feedback - monotonic counter, marker removal, a11y
  apps/backend/internal/agentctl/server/api/port_proxy.go
  apps/backend/internal/agentctl/server/api/scripts/inspector.js
  apps/web/AGENTS.md
  apps/web/components/task/preview/inspect-button.tsx
  apps/web/components/task/preview/preview-panel.tsx
  apps/web/lib/preview-inspect-bridge.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat(preview): unified Browser panel with opt-in inspect proxy + URL rewriting
  apps/backend/go.mod
  apps/backend/internal/gateway/websocket/port_proxy.go
  apps/backend/internal/gateway/websocket/proxy_rewriter.go
  apps/backend/internal/gateway/websocket/proxy_rewriter_test.go
  apps/web/components/task/browser-panel.tsx
  apps/web/components/task/dockview-desktop-layout.tsx
  apps/web/components/task/inspector/annotations-panel.tsx
  apps/web/components/task/inspector/inspect-button.tsx
  apps/web/components/task/mobile/session-tablet-layout.tsx
  apps/web/components/task/preview-controller.tsx
  apps/web/components/task/preview/preview-controls.tsx
  apps/web/components/task/preview/preview-panel.tsx
  apps/web/hooks/use-inspect-mode.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

ci(frontend): skip symlinks in prettier check
  .github/workflows/frontend-tests.yml
Due: none

docs(agents): split AGENTS.md into scoped per-package guides
  .agents/skills/e2e/SKILL.md
  AGENTS.md
  apps/backend/AGENTS.md
  apps/backend/CLAUDE.md
  apps/backend/internal/agentctl/AGENTS.md
  apps/backend/internal/agentctl/CLAUDE.md
  apps/backend/internal/agentctl/server/api/AGENTS.md
  apps/backend/internal/agentctl/server/api/CLAUDE.md
  apps/backend/internal/integrations/AGENTS.md
  apps/backend/internal/integrations/CLAUDE.md
  apps/web/AGENTS.md
  apps/web/CLAUDE.md
Due: prettier-format

chore(skills): add scripts/pr-resolve + skill docs
  .agents/skills/e2e/SKILL.md
  .agents/skills/pr-fixup/SKILL.md
  scripts/pr-resolve
Due: none

fix(ssh): verify bastion host key + tighten the trust-gate UX
  apps/backend/go.mod
  apps/backend/go.sum
  apps/backend/internal/agent/lifecycle/executor_ssh_connection.go
  apps/web/app/settings/executors/new/[type]/ssh-create-page.tsx
  apps/web/components/settings/ssh-connection-card.tsx
  apps/web/components/settings/ssh-fingerprint-trust-block.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(ssh): defend launch + handshake against several real bugs
  apps/backend/internal/agent/lifecycle/executor_ssh.go
  apps/backend/internal/agent/lifecycle/executor_ssh_connection.go
  apps/backend/internal/agent/lifecycle/executor_ssh_operations.go
  apps/backend/internal/agent/lifecycle/manager_launch.go
  apps/web/components/settings/ssh-connection-card.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

refactor(web): migrate shared FileTree onto useTree
  apps/web/components/shared/file-tree.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): cover file tree lazy-load on directory expand
  apps/web/e2e/tests/task/file-tree-lazy-load.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): unit-cover ReviewFileTree click/checkbox/filter/group behaviour
  apps/web/components/review/review-file-tree.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor(web): migrate ExportFileTree onto useTree
  apps/web/app/office/workspace/settings/export/export-file-tree.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor(web): drop dead `files` prop from ExportFileTree
  apps/web/app/office/workspace/settings/export/export-file-tree.test.tsx
  apps/web/app/office/workspace/settings/export/export-file-tree.tsx
  apps/web/app/office/workspace/settings/export/export-preview.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

style(web): prettier-fix the lazy-load spec setupTask call
  apps/web/e2e/tests/task/file-tree-lazy-load.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): cover drag-and-drop move and self-drop rejection
  apps/web/e2e/tests/task/file-tree-drag-drop.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): guard getCheckState against empty leaf list
  apps/web/app/office/workspace/settings/export/export-file-tree.tsx
  apps/web/components/shared/file-tree.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor(web): migrate ReviewFileTree and FileBrowser onto useTree
  apps/web/components/review/review-file-tree.tsx
  apps/web/components/review/types.ts
  apps/web/components/task/file-browser-hooks.ts
  apps/web/components/task/file-browser-parts.tsx
  apps/web/components/task/file-browser.tsx
  apps/web/hooks/use-tree.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): cover file tree create flow via the New file toolbar button
  apps/web/e2e/tests/task/file-tree-create.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(web): keyboard navigation for useTree-driven file trees
  apps/web/components/shared/file-tree.tsx
  apps/web/hooks/use-tree-keyboard-nav.test.ts
  apps/web/hooks/use-tree-keyboard-nav.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): cover inline rename in the file tree (Enter/Escape/blur/no-op)
  apps/web/e2e/tests/task/file-tree-rename.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(web): add useTree headless hook for unified file-tree state
  apps/web/hooks/use-tree.test.ts
  apps/web/hooks/use-tree.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): unit-cover shared FileTree and ExportFileTree
  apps/web/app/office/workspace/settings/export/export-file-tree.test.tsx
  apps/web/components/shared/file-tree.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): cover file panel search end-to-end
  apps/web/e2e/tests/task/file-tree-search.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor(web): stabilize useTree adapter refs + tighten ReadonlySet types
  apps/web/app/office/workspace/settings/export/export-file-tree.tsx
  apps/web/components/review/review-file-tree.tsx
  apps/web/components/shared/file-tree.tsx
  apps/web/components/task/file-browser-hooks.ts
  apps/web/components/task/file-tree-utils.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor(cli): type-guard the systemctl error shape instead of casting
  apps/cli/src/service/config.ts
Due: prettier-format

fix(web): sort root children dirs-first in FileBrowser tree
  apps/web/components/task/file-browser-hooks.ts
  apps/web/components/task/file-tree-utils.test.ts
  apps/web/components/task/file-tree-utils.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(cli): bound per-request fetch in waitForServiceHealth
  apps/cli/src/service/health_check.test.ts
  apps/cli/src/service/health_check.ts
Due: prettier-format

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
