Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

fix(orchestration): inspect results and unblock worker permissions
  apps/backend/cmd/agentctl/kandev_assistant_mcp_test.go
  apps/backend/internal/backendapp/adapters_workspace_content.go
  apps/backend/internal/backendapp/adapters_workspace_inspection_test.go
  apps/backend/internal/backendapp/adapters_workspace_permissions.go
  apps/backend/internal/backendapp/adapters_workspace_permissions_test.go
  apps/backend/internal/backendapp/adapters_workspace_results.go
  apps/backend/internal/backendapp/adapters_workspace_summaries.go
  apps/backend/internal/backendapp/adapters_workspace_tasks.go
  apps/backend/internal/orchestration/models/workspace_inspection.go
  apps/backend/internal/orchestration/models/workspace_task.go
  apps/backend/internal/orchestration/models/workspace_tools.go
  apps/backend/internal/orchestration/runtime/handler.go
  apps/backend/internal/orchestration/runtime/workspace_content.go
  apps/backend/internal/orchestration/runtime/workspace_control_test.go
  apps/backend/internal/orchestration/runtime/workspace_inspection_test.go
  apps/backend/internal/orchestrator/session_permission_mode.go
  apps/backend/internal/orchestrator/session_permission_mode_test.go
  docs/public/orchestration-personas.md
  docs/review/orchestration/worker-unblocking.md
Due: gofmt, go-tests, go-lint

feat(orchestrator): observe concurrent worktree sessions
  apps/backend/internal/orchestrator/executor/executor_execute.go
  apps/backend/internal/orchestrator/executor/executor_mocks_test.go
  apps/backend/internal/orchestrator/executor/executor_resume.go
  apps/backend/internal/orchestrator/executor/session_coresidency_metrics.go
  apps/backend/internal/orchestrator/executor/session_coresidency_test.go
  docs/plans/concurrent-session-worktree-visibility/plan.md
  docs/plans/concurrent-session-worktree-visibility/task-01-observe-concurrent-worktree-sessions.md
  docs/public/tasks-and-workflows.md
  docs/specs/tasks/requirements/additional-session-workspace-reuse.md
  docs/specs/tasks/system-design/additional-session-workspace-reuse.md
Due: gofmt, go-tests, go-lint

docs(plans): record build results for concurrent-session-worktree-visibility
  docs/plans/concurrent-session-worktree-visibility/plan.md
  docs/plans/concurrent-session-worktree-visibility/task-01-observe-concurrent-worktree-sessions.md
Due: none

fix(orchestration): wait for cold resumes and prefer worker output
  apps/backend/cmd/agentctl/kandev_assistant_mcp.go
  apps/backend/cmd/agentctl/kandev_assistant_resume_test.go
  apps/backend/internal/backendapp/adapters_workspace_inspection_test.go
  apps/backend/internal/backendapp/adapters_workspace_results.go
  docs/review/orchestration/worker-unblocking.md
Due: gofmt, go-tests, go-lint

docs(orchestration): record worker unblocking live validation
  docs/review/orchestration/worker-unblocking.md
Due: none

fix(lifecycle): fence launch receipt startup facts
  apps/backend/internal/agent/runtime/lifecycle/event_types.go
  apps/backend/internal/agent/runtime/lifecycle/manager_events_startup_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_launch.go
  apps/backend/internal/agent/runtime/lifecycle/manager_startup.go
  apps/backend/internal/orchestrator/event_handlers_streaming.go
  apps/backend/internal/orchestrator/launch_receipt_streaming_test.go
Due: gofmt, go-tests, go-lint

fix: support current mobile navigation in e2e
  apps/web/e2e/tests/system/mobile-session-capacity-settings.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: thread deferred-move transition ID into on_enter dispatch
  apps/backend/internal/orchestrator/event_handlers_pending_move_backward_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/workflow_store.go
  docs/plans/deferred-move-onenter-dispatch-identity/plan.md
  docs/plans/deferred-move-onenter-dispatch-identity/task-01-thread-deferred-move-transition-id.md
Due: gofmt, go-tests, go-lint

fix(orchestrator): promote coresidency spec status, clarify test names
  apps/backend/internal/orchestrator/executor/session_coresidency_test.go
  docs/specs/tasks/requirements/additional-session-workspace-reuse.md
Due: gofmt, go-tests, go-lint

test(mcp): preserve cross-workspace queued messages
  apps/backend/internal/mcp/handlers/message_task_test.go
Due: gofmt, go-tests, go-lint

test: cover recovery admission incarnation
  apps/backend/internal/agent/runtime/lifecycle/manager_workspace_recovery_admission_test.go
  apps/backend/internal/orchestrator/executor/executor_worktree_recovery_integration_test.go
  apps/backend/internal/task/service/service_turns_test.go
  docs/plans/worktree-metadata-recovery/plan.md
  docs/plans/worktree-metadata-recovery/task-03-prove-integration.md
Due: gofmt, go-tests, go-lint

fix(orchestration): show accepted messages as queued
  apps/web/lib/api/domains/orchestration-conversation-api.test.ts
  apps/web/lib/api/domains/orchestration-conversation-api.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: fence stale send now transfer claims
  apps/backend/internal/orchestrator/messagequeue/repository_send_now_fallback_test.go
  apps/backend/internal/orchestrator/messagequeue/repository_send_now_recovery.go
  apps/backend/internal/orchestrator/messagequeue/repository_sqlite.go
  apps/backend/internal/orchestrator/messagequeue/service.go
Due: gofmt, go-tests, go-lint

feat(orchestration): surface conversation work state
  apps/web/app/settings/orchestration/conversation-pane.tsx
  apps/web/components/task/simple/components/topbar-working-indicator.test.tsx
  apps/web/components/task/simple/components/topbar-working-indicator.tsx
  apps/web/hooks/domains/orchestration/use-assistant-conversation.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(orchestrator): separate catalog and launch receipts
  apps/backend/internal/orchestrator/launch_receipt_streaming_test.go
Due: gofmt, go-tests, go-lint

docs(orchestration): record public fork deployment
  docs/review/orchestration/worker-unblocking.md
Due: none

fix(plugins): harden managed chat dispatch
  apps/backend/internal/plugins/conversation_handlers.go
  apps/backend/internal/plugins/conversation_managed_test.go
  apps/backend/internal/task/service/agent_conversations.go
  apps/backend/internal/task/service/agent_conversations_test.go
  apps/web/components/agent-conversation/workspace-agent-chat.test.tsx
  apps/web/components/agent-conversation/workspace-agent-chat.tsx
  apps/web/e2e/tests/plugins/managed-conversation-chat-helpers.ts
  apps/web/lib/plugins/conversation-scope.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

docs: complete delivery-package frontmatter for deferred-move fix
  docs/plans/deferred-move-onenter-dispatch-identity/plan.md
  docs/plans/deferred-move-onenter-dispatch-identity/task-01-thread-deferred-move-transition-id.md
  docs/specs/tasks/requirements/deferred-move-onenter-dispatch-identity.md
  docs/specs/tasks/system-design/deferred-move-onenter-dispatch-identity.md
Due: none

fix: authorize inherited recovery sessions
  apps/backend/internal/task/recoveryclaim/claim.go
  apps/backend/internal/task/repository/sqlite/session_turn_admission.go
  apps/backend/internal/task/repository/sqlite/session_turn_admission_test.go
  apps/backend/internal/task/repository/sqlite/task_environment_admission_claim_test.go
  docs/plans/worktree-metadata-recovery/plan.md
  docs/plans/worktree-metadata-recovery/task-03-prove-integration.md
Due: gofmt, go-tests, go-lint

docs(plugins): relocate managed chat contract
  docs/plans/plugins/PLUGIN-API.md
Due: none

fix(mcp): fence launch receipt attachment binding
  apps/backend/internal/agent/runtime/lifecycle/manager_events.go
  apps/backend/internal/agent/runtime/lifecycle/manager_events_routing_test.go
  apps/backend/internal/agentctl/types/streams/mcp_attachment.go
  apps/backend/internal/orchestrator/event_handlers_streaming.go
  apps/backend/internal/orchestrator/launch_receipt_streaming_test.go
  docs/plans/copilot-task-session-catalog/plan.md
  docs/plans/copilot-task-session-catalog/task-01-fence-launch-receipt-mcp-attachment.md
  docs/specs/platform/system-design/mcp-session-observability.md
Due: gofmt, go-tests, go-lint

fix: migrate recovery claim incarnation
  apps/backend/internal/task/repository/sqlite/base_migrations.go
  apps/backend/internal/task/repository/sqlite/base_schema.go
  apps/backend/internal/task/repository/sqlite/task_environment_admission_claim_test.go
  apps/backend/internal/task/repository/sqlite/task_environment_recovery_claim_migration_test.go
Due: gofmt, go-tests, go-lint

fix: block live recovery requesters
  apps/backend/internal/task/models/task_environment_admission.go
  apps/backend/internal/task/recoveryclaim/admission.go
  apps/backend/internal/task/recoveryclaim/admission_test.go
  apps/backend/internal/task/recoveryclaim/claim.go
  apps/backend/internal/task/repository/sqlite/task_environment_recovery_claim_requester_liveness_test.go
Due: gofmt, go-tests, go-lint

test(mcp): verify cross-workspace queued delivery
  apps/backend/internal/mcp/handlers/message_task_test.go
Due: gofmt, go-tests, go-lint

fix: block live recovery claim replays
  apps/backend/internal/task/recoveryclaim/claim.go
  apps/backend/internal/task/repository/sqlite/task_environment_recovery_claim_requester_liveness_test.go
Due: gofmt, go-tests, go-lint

fix(orchestrator): fence receipt activity by startup generation
  apps/backend/internal/agent/runtime/lifecycle/events.go
  apps/backend/internal/agent/runtime/lifecycle/manager_events.go
  apps/backend/internal/agent/runtime/lifecycle/manager_events_startup_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_streaming.go
  apps/backend/internal/agent/runtime/lifecycle/stream_coalescer.go
  apps/backend/internal/agent/runtime/lifecycle/stream_coalescer_test.go
  apps/backend/internal/agentctl/types/streams/agent.go
  apps/backend/internal/orchestrator/event_handlers_streaming.go
  apps/backend/internal/orchestrator/launch_receipt_streaming_test.go
Due: gofmt, go-tests, go-lint

fix(remote-docker): deliver container inputs through the daemon, not the remote host
  apps/backend/internal/agent/docker/container_archive.go
  apps/backend/internal/agent/docker/container_archive_test.go
  apps/backend/internal/agent/runtime/lifecycle/container.go
  apps/backend/internal/agent/runtime/lifecycle/container_archive.go
  apps/backend/internal/agent/runtime/lifecycle/container_archive_integration_test.go
  apps/backend/internal/agent/runtime/lifecycle/container_archive_test.go
  apps/backend/internal/agent/runtime/lifecycle/container_host_files.go
  apps/backend/internal/agent/runtime/lifecycle/container_host_files_test.go
  apps/backend/internal/agent/runtime/lifecycle/docker_launch.go
  apps/backend/internal/agent/runtime/lifecycle/executor_docker.go
  apps/backend/internal/agent/runtime/lifecycle/executor_remote_docker.go
  apps/backend/internal/agent/runtime/lifecycle/remote_docker_footprint_integration_test.go
  apps/backend/internal/agent/runtime/lifecycle/remote_docker_host_files.go
  apps/backend/internal/agent/runtime/lifecycle/remote_docker_inputs.go
  apps/backend/internal/agent/runtime/lifecycle/remote_docker_inputs_test.go
  apps/backend/internal/agent/runtime/lifecycle/remote_docker_seed.go
  apps/backend/internal/agent/runtime/lifecycle/remote_docker_seed_test.go
  apps/backend/internal/agent/runtime/lifecycle/remote_docker_teardown_test.go
  apps/web/e2e/tests/remote-docker/remote-docker-task.spec.ts
  docs/plans/remote-docker-container-inputs/plan.md
  docs/plans/remote-docker-container-inputs/task-01-archive-delivery-seam.md
  docs/plans/remote-docker-container-inputs/task-02-remote-inputs-in-container.md
  docs/plans/remote-docker-container-inputs/task-03-teardown-session-dir.md
  docs/plans/remote-docker-container-inputs/task-04-integration-e2e-docs.md
  docs/public/executors.md
  docs/public/feature-status.md
  docs/specs/executors/README.md
  docs/specs/executors/requirements/remote-docker-container-inputs.md
  docs/specs/executors/requirements/remote-docker-executor.md
  docs/specs/executors/system-design/remote-docker-container-inputs.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(orchestrator): observe co-residency after STARTING
  apps/backend/internal/orchestrator/executor/executor_execute.go
  apps/backend/internal/orchestrator/executor/executor_resume.go
  apps/backend/internal/orchestrator/executor/session_coresidency_test.go
Due: gofmt, go-tests, go-lint

docs(executors): specify Docker container network selection
  docs/plans/docker-container-networks/plan.md
  docs/plans/docker-container-networks/task-01-primary-network.md
  docs/plans/docker-container-networks/task-02-additional-networks.md
  docs/plans/docker-container-networks/task-03-profile-editor.md
  docs/plans/docker-container-networks/task-04-e2e.md
  docs/specs/executors/README.md
  docs/specs/executors/requirements/docker-container-networks.md
  docs/specs/executors/system-design/docker-container-networks.md
Due: none

feat(docker): honour a configured task-container network
  apps/backend/internal/agent/docker/client.go
  apps/backend/internal/agent/docker/client_networks_test.go
  apps/backend/internal/agent/runtime/lifecycle/container.go
  apps/backend/internal/agent/runtime/lifecycle/container_config_test.go
  apps/backend/internal/agent/runtime/lifecycle/container_host_files_test.go
  apps/backend/internal/agent/runtime/lifecycle/container_networks.go
  apps/backend/internal/agent/runtime/lifecycle/container_networks_test.go
  apps/backend/internal/agent/runtime/lifecycle/docker_launch.go
  apps/backend/internal/agent/runtime/lifecycle/executor_backend.go
  apps/backend/internal/agent/runtime/lifecycle/executor_docker.go
  apps/backend/internal/agent/runtime/lifecycle/executor_remote_docker.go
  apps/backend/internal/common/config/catalog.go
  apps/backend/internal/common/config/config.go
  apps/backend/internal/common/config/docker_network_default_test.go
  apps/backend/internal/orchestrator/executor/executor_state.go
  apps/backend/internal/orchestrator/executor/executor_state_networks_test.go
  docs/configuration.md
  docs/plans/docker-container-networks/plan.md
  docs/plans/docker-container-networks/task-01-primary-network.md
  docs/public/configuration.md
  docs/specs/executors/requirements/docker-container-networks.md
  docs/specs/executors/system-design/docker-container-networks.md
Due: gofmt, go-tests, go-lint

fix: remove nested workspace settings cards
  apps/web/app/settings/workspace/workspace-repositories-client.tsx
  apps/web/app/settings/workspace/workspace-workflows-client.tsx
  apps/web/e2e/tests/settings/mobile-settings-composition.spec.ts
  apps/web/e2e/tests/settings/settings-composition.spec.ts
  docs/plans/settings-composition/surface-inventory.md
  docs/plans/settings-composition/task-04-workspace-integration.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test: cover atomic deferred move dispatch
  apps/backend/internal/orchestrator/event_handlers_pending_move_backward_test.go
  apps/backend/internal/orchestrator/event_handlers_pending_move_test.go
Due: gofmt, go-tests, go-lint

feat(docker): attach task containers to additional networks
  apps/backend/internal/agent/docker/client.go
  apps/backend/internal/agent/runtime/lifecycle/container.go
  apps/backend/internal/agent/runtime/lifecycle/container_additional_networks_test.go
  apps/backend/internal/agent/runtime/lifecycle/container_archive.go
  apps/backend/internal/agent/runtime/lifecycle/container_archive_test.go
  apps/backend/internal/agent/runtime/lifecycle/container_networks.go
  apps/backend/internal/agent/runtime/lifecycle/container_networks_test.go
  apps/backend/internal/agent/runtime/lifecycle/executor_backend.go
  apps/backend/internal/orchestrator/executor/executor_state.go
  apps/backend/internal/orchestrator/executor/executor_state_networks_test.go
  docs/plans/docker-container-networks/plan.md
  docs/plans/docker-container-networks/task-02-additional-networks.md
Due: gofmt, go-tests, go-lint

fix: admit worktree recovery before resume startup
  apps/backend/internal/orchestrator/executor/executor_resume.go
  apps/backend/internal/orchestrator/executor/executor_worktree_recovery_integration_test.go
Due: gofmt, go-tests, go-lint

feat(executors): configure container networks from the profile editor
  apps/backend/internal/agent/docker/handlers.go
  apps/backend/internal/agent/docker/handlers_auth_test.go
  apps/backend/internal/agent/docker/handlers_network_default_test.go
  apps/backend/internal/backendapp/helpers.go
  apps/backend/internal/backendapp/main.go
  apps/web/app/settings/executors/[profileId]/page.tsx
  apps/web/app/settings/executors/new/[type]/page.tsx
  apps/web/components/settings/profile-edit/build-create-profile-config.ts
  apps/web/components/settings/profile-edit/build-docker-network-config.ts
  apps/web/components/settings/profile-edit/docker-network-card.tsx
  apps/web/components/settings/profile-edit/profile-runtime-sections.tsx
  apps/web/components/settings/profile-edit/serialize-executor-config.test.ts
  apps/web/components/settings/profile-edit/serialize-executor-config.ts
  apps/web/components/settings/profile-edit/use-docker-networks-form-state.test.ts
  apps/web/components/settings/profile-edit/use-docker-networks-form-state.ts
  apps/web/lib/api/domains/settings-api.ts
  apps/web/src/locales/en/executors.json
  apps/web/src/locales/pseudo/executors.json
  apps/web/src/locales/pseudo/kanban.json
  apps/web/src/locales/pseudo/workflows.json
  apps/web/src/locales/pt-pt/executors.json
  apps/web/src/locales/zh-cn/executors.json
  apps/web/src/locales/zh-hk/executors.json
  apps/web/src/locales/zh-tw/executors.json
  docs/public/executors.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: refresh recovery worktree request identity
  apps/backend/internal/orchestrator/executor/executor_resume.go
  apps/backend/internal/orchestrator/executor/executor_worktree_recovery_integration_test.go
Due: gofmt, go-tests, go-lint

fix: satisfy backend goconst check
  apps/backend/internal/task/service/attachment_service.go
Due: gofmt, go-tests, go-lint

test(docker): cover container network placement end to end
  apps/web/e2e/helpers/docker.ts
  apps/web/e2e/tests/docker/container-networks.spec.ts
  apps/web/e2e/tests/settings/docker-profile-persistence.spec.ts
  docs/plans/docker-container-networks/plan.md
  docs/plans/docker-container-networks/task-03-profile-editor.md
  docs/plans/docker-container-networks/task-04-e2e.md
  docs/specs/executors/system-design/docker-container-networks.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test: align utility settings surface assertions
  apps/web/e2e/tests/settings/utility-agents.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(i18n): unblock the zh-hant generator and make it reproduce the tree
  apps/web/scripts/lib/zh-hant-overrides.json
  apps/web/src/locales/zh-cn/agents.json
  apps/web/src/locales/zh-cn/task.json
  apps/web/src/locales/zh-cn/workflows.json
  apps/web/src/locales/zh-hk/agents.json
  apps/web/src/locales/zh-hk/executors.json
  apps/web/src/locales/zh-hk/task.json
  apps/web/src/locales/zh-hk/workflows.json
  apps/web/src/locales/zh-tw/agents.json
  apps/web/src/locales/zh-tw/executors.json
  apps/web/src/locales/zh-tw/task.json
  apps/web/src/locales/zh-tw/workflows.json
Due: prettier-format
