Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

test(e2e): disambiguate automation trigger notification
  apps/web/e2e/tests/automations-run-detail.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): keep automation PR scope focused
  apps/web/e2e/tests/pr/pr-status-badge.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): stabilize tooltip re-entry
  apps/web/e2e/tests/pr/pr-status-badge.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: deduplicate clarification status announcement
  apps/web/components/task/chat/clarification-overlay-header.tsx
  apps/web/components/task/chat/clarification-panel-section.test.tsx
  apps/web/e2e/tests/chat/clarification.spec.ts
  apps/web/e2e/tests/chat/mobile-clarification.spec.ts
  docs/plans/clarification-header-submitting-status/plan.md
  docs/plans/clarification-header-submitting-status/task-01-show-header-submitting-status.md
  docs/specs/ui/requirements/clarification-submit-feedback.md
  docs/specs/ui/system-design/clarification-submit-feedback.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): reconcile inactive session transcript windows
  apps/web/e2e/tests/chat/inactive-session-transcript-reconciliation.spec.ts
  apps/web/hooks/domains/session/message-window-reconciliation.test.ts
  apps/web/hooks/domains/session/message-window-reconciliation.ts
  apps/web/hooks/domains/session/use-session-messages.test.ts
  apps/web/hooks/domains/session/use-session-messages.ts
  docs/plans/inactive-session-transcript-reconciliation/plan.md
  docs/plans/inactive-session-transcript-reconciliation/task-01-reconcile-latest-transcript-window.md
  docs/specs/ui/requirements/task-prompt-transcript-visibility.md
  docs/specs/ui/system-design/task-prompt-transcript-visibility.md
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: show previews for expandable thinking messages
  apps/web/components/task/chat/messages/thinking-message.test.tsx
  apps/web/components/task/chat/messages/thinking-message.tsx
  apps/web/e2e/tests/chat/mobile-markdown-wrap.spec.ts
  docs/plans/thinking-message-preview/plan.md
  docs/plans/thinking-message-preview/task-01-render-thinking-message-previews.md
  docs/specs/ui/README.md
  docs/specs/ui/requirements/thinking-message-preview.md
  docs/specs/ui/system-design/thinking-message-preview.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(plugins): preserve legacy utility config for direct profiles
  apps/backend/internal/plugins/host_utility.go
  apps/backend/internal/plugins/host_utility_test.go
Due: gofmt, go-tests, go-lint

fix: serialize workflow reset with prompt admission
  apps/backend/internal/orchestrator/event_handlers_clarification.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/event_handlers_workflow_reset_quiescence_test.go
  apps/backend/internal/orchestrator/task_operations.go
  docs/decisions/2026-08-30-context-reset-quiesces-active-turn.md
  docs/plans/workflow-context-reset-quiescence/plan.md
  docs/plans/workflow-context-reset-quiescence/task-01-quiesce-active-reset-turns.md
  docs/specs/tasks/system-design/workflow-step-agent-start-ownership.md
Due: gofmt, go-tests, go-lint

fix: preserve legacy plugin agent config on settings save
  apps/backend/internal/plugins/config_test.go
  apps/backend/internal/plugins/service_config.go
Due: gofmt, go-tests, go-lint

fix: use recent profile for new agent default
  apps/web/components/task/new-session-dialog.test.tsx
  apps/web/components/task/new-session-dialog.tsx
  apps/web/components/task/new-session-profile-selection.test.ts
  apps/web/components/task/new-session-profile-selection.ts
  apps/web/e2e/pages/session-page.ts
  apps/web/e2e/tests/session/mobile-new-session-dialog.spec.ts
  apps/web/e2e/tests/session/new-session-dialog.spec.ts
  apps/web/e2e/tests/session/new-session-recency-helpers.ts
  docs/plans/add-agent-recent-profile-default/plan.md
  docs/plans/add-agent-recent-profile-default/task-01-resolve-recent-profile.md
  docs/plans/add-agent-recent-profile-default/task-02-prove-desktop-mobile-recency.md
  docs/specs/agents/requirements/profile-recent-use.md
  docs/specs/agents/system-design/profile-recent-use.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: preserve Changes data after session deletion
  apps/web/e2e/tests/session/session-tab-management.spec.ts
  apps/web/hooks/use-environment-session-id.test.ts
  apps/web/hooks/use-environment-session-id.ts
  docs/plans/session-delete-changes-continuity/plan.md
  docs/plans/session-delete-changes-continuity/task-01-preserve-live-changes-handle.md
  docs/specs/tasks/requirements/session-delete-resource-cleanup.md
  docs/specs/tasks/system-design/session-delete-resource-cleanup.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: keep platform-only plugin manifests valid
  apps/backend/cmd/plugin-pack/pack.go
Due: gofmt, go-tests, go-lint

fix(web): persist hidden session tabs
  apps/web/components/task/dockview-session-tabs.test.ts
  apps/web/components/task/dockview-session-tabs.ts
  apps/web/lib/local-storage.test.ts
  apps/web/lib/local-storage.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): reconcile concurrent inactive session fetches
  apps/web/e2e/tests/chat/inactive-session-transcript-reconciliation.spec.ts
  apps/web/hooks/domains/session/message-window-reconciliation.test.ts
  apps/web/hooks/domains/session/message-window-reconciliation.ts
  apps/web/hooks/domains/session/use-session-messages.test.ts
  apps/web/hooks/domains/session/use-session-messages.ts
  docs/plans/inactive-session-transcript-reconciliation/plan.md
  docs/plans/inactive-session-transcript-reconciliation/task-01-reconcile-latest-transcript-window.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: harden expandable thinking previews
  apps/web/components/task/chat/messages/thinking-message.test.tsx
  apps/web/components/task/chat/messages/thinking-message.tsx
  apps/web/e2e/tests/chat/mobile-markdown-wrap.spec.ts
  docs/plans/thinking-message-preview/plan.md
  docs/plans/thinking-message-preview/task-01-render-thinking-message-previews.md
  docs/specs/ui/system-design/thinking-message-preview.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: make archived branch compaction crash-safe
  apps/backend/internal/task/models/models.go
  apps/backend/internal/task/repository/sqlite/base_migrations.go
  apps/backend/internal/task/repository/sqlite/base_schema.go
  apps/backend/internal/task/repository/sqlite/task_environment.go
  apps/backend/internal/task/repository/sqlite/worktree_ownership_migration.go
  apps/backend/internal/task/repository/sqlite/worktree_ownership_migration_test.go
  apps/backend/internal/task/repository/sqlite/worktree_ownership_targets.go
  apps/backend/internal/task/repository/task_environment_repo_test.go
  apps/backend/internal/worktree/branch_cleanup.go
  apps/backend/internal/worktree/branch_cleanup_interruption_test.go
  apps/backend/internal/worktree/manager.go
  apps/backend/internal/worktree/manager_cleanup_branch_policy_test.go
  apps/backend/internal/worktree/manager_lifecycle.go
  apps/backend/internal/worktree/manager_test.go
  apps/backend/internal/worktree/store.go
  apps/backend/internal/worktree/worktree.go
  docs/decisions/2026-08-30-compact-integrated-managed-branches.md
  docs/specs/tasks/requirements/runtime-cleanup.md
  docs/specs/tasks/system-design/runtime-cleanup.md
Due: gofmt, go-tests, go-lint

fix: make clarification submission status accessible
  apps/web/components/task/chat/clarification-overlay-header.tsx
  apps/web/components/task/chat/clarification-panel-section.test.tsx
  apps/web/e2e/tests/chat/clarification.spec.ts
  apps/web/e2e/tests/chat/mobile-clarification.spec.ts
  docs/plans/clarification-header-submitting-status/plan.md
  docs/plans/clarification-header-submitting-status/task-01-show-header-submitting-status.md
  docs/specs/ui/requirements/clarification-submit-feedback.md
  docs/specs/ui/system-design/clarification-submit-feedback.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: harden Changes continuity regression
  apps/web/e2e/tests/session/session-tab-management.spec.ts
  docs/plans/session-delete-changes-continuity/plan.md
  docs/plans/session-delete-changes-continuity/task-01-preserve-live-changes-handle.md
  docs/specs/tasks/system-design/session-delete-resource-cleanup.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address new session profile review feedback
  apps/web/components/task/new-session-dialog.test.tsx
  apps/web/components/task/new-session-dialog.tsx
  apps/web/components/task/new-session-profile-selection.test.ts
  apps/web/e2e/pages/new-session-dialog-page.ts
  apps/web/e2e/pages/session-page.ts
  apps/web/e2e/tests/session/mobile-new-session-dialog.spec.ts
  apps/web/e2e/tests/session/new-session-dialog.spec.ts
  apps/web/e2e/tests/session/new-session-recency-helpers.ts
  docs/plans/add-agent-recent-profile-default/plan.md
  docs/plans/add-agent-recent-profile-default/task-01-resolve-recent-profile.md
  docs/plans/add-agent-recent-profile-default/task-02-prove-desktop-mobile-recency.md
  docs/specs/agents/system-design/profile-recent-use.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: harden archived branch maintenance recovery
  apps/backend/internal/worktree/branch_cleanup_interruption_test.go
  apps/backend/internal/worktree/manager_cleanup.go
  apps/backend/internal/worktree/store.go
Due: gofmt, go-tests, go-lint

fix: recheck worktree liveness before branch deletion
  apps/backend/internal/worktree/branch_cleanup.go
Due: gofmt, go-tests, go-lint

fix: preserve compact thinking text on mobile
  apps/web/components/task/chat/messages/thinking-message.test.tsx
  apps/web/components/task/chat/messages/thinking-message.tsx
  apps/web/e2e/tests/chat/mobile-markdown-wrap.spec.ts
  docs/plans/thinking-message-preview/plan.md
  docs/plans/thinking-message-preview/task-01-render-thinking-message-previews.md
  docs/specs/ui/system-design/thinking-message-preview.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: clarify explicit profile selection contract
  apps/backend/internal/orchestrator/session_launch.go
  apps/backend/internal/orchestrator/task_operations.go
Due: gofmt, go-tests, go-lint

fix: rewrite fixture release manifest versions
  apps/web/e2e/helpers/plugin-marketplace-release.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): scope hidden tabs by environment
  apps/web/components/task/dockview-session-tabs.hidden-persistence.test.ts
  apps/web/components/task/dockview-session-tabs.test.ts
  apps/web/components/task/dockview-session-tabs.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: prioritize exact branch recovery during recreate
  apps/backend/internal/worktree/manager_git.go
  apps/backend/internal/worktree/manager_lifecycle.go
  apps/backend/internal/worktree/manager_recreate_recovery_test.go
Due: gofmt, go-tests, go-lint

fix: reconcile UI specification index
  docs/specs/ui/README.md
Due: none

fix(plugins): preserve release and platform identities
  apps/backend/cmd/plugin-pack/pack.go
  apps/backend/cmd/plugin-pack/pack_test.go
  apps/web/e2e/tests/settings/mobile-plugin-updates.spec.ts
  plugin-registry/build-index.mjs
  plugin-registry/check-releases.test.mjs
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(web): keep hidden session tabs in mounted view memory
  apps/web/components/task/dockview-session-tabs.hidden-persistence.test.ts
  apps/web/components/task/dockview-session-tabs.test.ts
  apps/web/components/task/dockview-session-tabs.ts
  apps/web/lib/local-storage.test.ts
  apps/web/lib/local-storage.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): align session tab QA with panel close behavior
  apps/web/components/task/dockview-session-tabs.hidden-persistence.test.ts
  apps/web/components/task/dockview-session-tabs.test.ts
  apps/web/components/task/dockview-session-tabs.ts
  apps/web/components/task/session-tab-close-others.test.tsx
  apps/web/components/task/session-tab.tsx
  apps/web/components/task/use-session-tab-delete.test.ts
  apps/web/components/task/use-session-tab-delete.ts
  apps/web/e2e/tests/session/session-tab-management.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: preserve plugin install and catalog compatibility
  apps/backend/internal/plugins/pkgtar/pkgtar.go
  apps/backend/internal/plugins/pkgtar/pkgtar_test.go
  plugin-registry/build-index.mjs
  plugin-registry/build-index.test.mjs
Due: gofmt, go-tests, go-lint

fix(web): preserve sole hidden session panel
  apps/web/components/task/dockview-session-safety-net.test.ts
  apps/web/components/task/dockview-session-tabs.ts
  apps/web/e2e/tests/session/session-tab-management.spec.ts
  docs/public/sessions-and-review.md
  docs/specs/ui/requirements/session-tab-delete-feedback.md
Due: prettier-format, web-lint, web-tests, web-typecheck

perf(ci): reduce E2E container setup time
  .github/scripts/e2e-tests-workflow-contract_test.py
  .github/workflows/e2e-tests.yml
  apps/web/e2e/README.md
  apps/web/e2e/tests/review/review-file-status.spec.ts
  docs/decisions/2026-08-30-e2e-browser-cache.md
  docs/decisions/INDEX.md
  docs/plans/e2e-ci-efficiency/plan.md
  docs/plans/e2e-ci-efficiency/task-01-cache-host-runner-browsers.md
  docs/plans/e2e-ci-efficiency/task-02-scope-review-diff-readiness.md
  docs/specs/platform/README.md
  docs/specs/platform/requirements/e2e-duration-aware-sharding.md
  docs/specs/platform/system-design/e2e-duration-aware-sharding.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(ci): make E2E browser cache self-healing
  .github/scripts/e2e-tests-workflow-contract_test.py
  .github/workflows/e2e-tests.yml
  apps/web/e2e/README.md
  docs/decisions/2026-08-30-e2e-browser-cache.md
  docs/plans/e2e-ci-efficiency/plan.md
  docs/plans/e2e-ci-efficiency/task-01-cache-host-runner-browsers.md
  docs/specs/platform/requirements/e2e-duration-aware-sharding.md
  docs/specs/platform/system-design/e2e-duration-aware-sharding.md
Due: prettier-format

docs(web): clarify session panel close contract
  apps/web/AGENTS.md
Due: prettier-format

feat(backend): support dual-era MCP protocol
  .agents/skills/pr/SKILL.md
  apps/backend/cmd/mock-agent/mcp_client.go
  apps/backend/cmd/mock-agent/mcp_client_compatibility_test.go
  apps/backend/go.mod
  apps/backend/go.sum
  apps/backend/internal/agentctl/server/api/mcp_routes_test.go
  apps/backend/internal/agentctl/types/streams/mcp_attachment.go
  apps/backend/internal/agentctl/types/streams/mcp_protocol_observability_test.go
  apps/backend/internal/backendapp/mcp_protocol_compatibility_test.go
  apps/backend/internal/jira/mcp_client_test.go
  apps/backend/internal/mcp/server/external_integration_test.go
  apps/backend/internal/mcp/server/protocol_compatibility_test.go
  apps/backend/internal/mcp/server/server.go
  apps/backend/internal/mcp/server/tool_argument_validation.go
  docs/decisions/2026-07-30-session-owned-mcp-observability.md
  docs/decisions/2026-08-30-dual-era-mcp-protocol.md
  docs/decisions/INDEX.md
  docs/plans/mcp-2026-07-28/plan.md
  docs/plans/mcp-2026-07-28/task-01-serve-dual-era-mcp.md
  docs/plans/mcp-2026-07-28/task-02-preserve-stateless-mcp-observability.md
  docs/plans/mcp-2026-07-28/task-03-protect-mcp-client-route-compatibility.md
  docs/plans/mcp-2026-07-28/task-04-document-negotiated-mcp-support.md
  docs/public/automation-and-mcp.md
  docs/public/feature-status.md
  docs/specs/INDEX.md
  docs/specs/agents/README.md
  docs/specs/agents/requirements/mcp-protocol-compatibility.md
  docs/specs/agents/system-design/mcp-protocol-compatibility.md
  docs/specs/platform/requirements/mcp-session-observability.md
  docs/specs/platform/system-design/mcp-session-observability.md
Due: gofmt, go-tests, go-lint

fix(ci): authenticate Playwright image metadata lookup
  .github/scripts/e2e-tests-workflow-contract_test.py
  .github/workflows/e2e-tests.yml
Due: none

fix(ci): retry Playwright image resolution
  .github/scripts/e2e-tests-workflow-contract_test.py
  .github/workflows/e2e-tests.yml
Due: none

fix(github): close scoped CI dispatch races
  apps/backend/internal/github/service_ci_run_request.go
  apps/backend/internal/github/service_ci_run_request_test.go
  docs/decisions/2026-08-30-server-owned-scoped-ci-runs.md
  docs/public/automation-and-mcp.md
  docs/specs/integrations/scoped-coordinator-ci-runs.md
Due: gofmt, go-tests, go-lint
