Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

chore(harness): allow write-authorized PRs to skip issue gate
  .agents/skills/code-review/SKILL.md
  .agents/skills/pr/SKILL.md
  .github/pull_request_template.md
Due: none

fix: resolve dynamic workflow replacement profiles (#3202)
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/event_handlers_workflow_dynamic_profile_test.go
  docs/plans/workflow-dynamic-profile-auto-start/plan.md
  docs/plans/workflow-dynamic-profile-auto-start/task-01-resolve-dynamic-workflow-replacement-profiles.md
Due: gofmt, go-tests, go-lint

fix(office): bind agent decision re-evaluation to the deciding session
  apps/backend/internal/mcp/handlers/agent_decision_handlers.go
  apps/backend/internal/office/dashboard/agent_decisions.go
  apps/backend/internal/office/dashboard/agent_decisions_test.go
  apps/backend/internal/office/dashboard/engine_test_helpers_test.go
  apps/backend/internal/office/engine_dispatcher/dispatcher.go
  apps/backend/internal/office/engine_dispatcher/dispatcher_decisions_test.go
Due: gofmt, go-tests, go-lint

test(office): cover SessionID transport binding, fix stale doc comments
  apps/backend/internal/mcp/handlers/agent_decision_handlers_test.go
  apps/backend/internal/office/dashboard/agent_decisions_test.go
  apps/backend/internal/office/dashboard/engine_test_helpers_test.go
Due: gofmt, go-tests, go-lint

docs(specs): close review gaps in quorum step-preferring resolution
  docs/specs/tasks/requirements/workflow-quorum-decision-recording-agent-surface.md
  docs/specs/tasks/system-design/workflow-quorum-decision-recording.md
Due: none

fix: complete environment-scoped git status fixup
  apps/backend/internal/backendapp/gateway.go
  apps/backend/internal/backendapp/gateway_git_observations_test.go
  apps/backend/internal/delivery/observe.go
  apps/backend/internal/delivery/observe_test.go
  apps/backend/internal/delivery/sweep.go
  apps/backend/internal/delivery/sweep_test.go
  apps/backend/internal/orchestrator/event_handlers_git.go
  apps/backend/internal/orchestrator/event_handlers_git_test.go
  apps/backend/internal/task/service/service_status_summary_rebuild.go
  apps/backend/internal/task/service/service_status_summary_rebuild_test.go
  apps/backend/internal/task/statussummary/model.go
  apps/backend/internal/task/statussummary/rebuild.go
  apps/web/e2e/tests/session/session-tab-management.spec.ts
  docs/plans/environment-scoped-git-status/plan.md
  docs/plans/environment-scoped-git-status/task-03-deliver-environment-status.md
  docs/plans/environment-scoped-git-status/task-04-apply-environment-identity.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

docs(specs): clarify quorum role surface boundary
  docs/specs/tasks/system-design/workflow-quorum-decision-recording.md
Due: none

fix: address PR review feedback (#3217)
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/event_handlers_workflow_dynamic_profile_test.go
  docs/plans/workflow-dynamic-profile-auto-start/plan.md
  docs/plans/workflow-dynamic-profile-auto-start/task-01-resolve-dynamic-workflow-replacement-profiles.md
Due: gofmt, go-tests, go-lint

fix(chat): count text parts in transcript lazy loads
  apps/web/components/task/chat/message-list-native-scroll.ts
  apps/web/components/task/chat/message-list-native.test.tsx
  apps/web/components/task/chat/message-list-native.tsx
  apps/web/e2e/tests/chat/message-pagination-helpers.ts
  apps/web/e2e/tests/chat/message-pagination.spec.ts
  apps/web/e2e/tests/chat/mobile-message-pagination.spec.ts
  apps/web/hooks/use-lazy-load-messages.test.ts
  apps/web/hooks/use-lazy-load-messages.ts
  docs/plans/transcript-text-aware-pagination/plan.md
  docs/plans/transcript-text-aware-pagination/task-01-count-transcript-text.md
  docs/specs/ui/requirements/task-prompt-transcript-visibility.md
  docs/specs/ui/system-design/task-prompt-transcript-visibility.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(workflow): make route effects non-reclaimable
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/route_effect_renewal_test.go
  apps/backend/internal/task/repository/sqlite/workflow_routes.go
  apps/backend/internal/task/repository/sqlite/workflow_routes_postgres_test.go
  apps/backend/internal/task/repository/sqlite/workflow_routes_test.go
  apps/backend/internal/workflow/routing/routing.go
  docs/decisions/2026-08-30-serialize-terminal-workflow-routing.md
  docs/specs/tasks/requirements/atomic-terminal-routing.md
  docs/specs/tasks/system-design/atomic-terminal-routing.md
Due: gofmt, go-tests, go-lint

fix(chat): isolate lazy-load progress from live output
  apps/web/hooks/domains/session/older-message-pagination.ts
  apps/web/hooks/use-lazy-load-messages.test.ts
  apps/web/hooks/use-lazy-load-messages.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor(orchestrator): reuse auto-start eligibility predicate
  apps/backend/internal/orchestrator/event_handlers_workflow.go
Due: gofmt, go-tests, go-lint

fix(plugins): describe on_enter session-shaped split by ownership
  apps/backend/proto/kandev/plugin/v1/plugin.pb.go
  apps/backend/proto/kandev/plugin/v1/plugin.proto
Due: gofmt, go-tests, go-lint

fix: clear stale dispatch gate after context reset (#3210)
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction.go
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction_test.go
  docs/plans/idle-context-reset-dispatch-gate/plan.md
  docs/plans/idle-context-reset-dispatch-gate/task-01-clear-idle-reset-dispatch-gate.md
Due: gofmt, go-tests, go-lint

docs: require explicit PR review thread dispositions
  .agents/skills/pr-fixup/SKILL.md
  .agents/skills/pr-fixup/references/review-evidence.md
Due: none

fix: refresh command panel workflow-step badges
  apps/web/components/command-panel-results.tsx
  apps/web/components/command-panel-task-activity.test.tsx
  apps/web/e2e/tests/command-panel.spec.ts
  apps/web/lib/commands/task-result-activity.ts
  docs/plans/command-panel-workflow-step-freshness/plan.md
  docs/plans/command-panel-workflow-step-freshness/task-01-refresh-workflow-step-badges.md
  docs/specs/ui/requirements/command-panel-task-activity-icons.md
  docs/specs/ui/system-design/command-panel-task-activity-icons.md
Due: prettier-format, web-lint, web-tests, web-typecheck

chore(agentctl): remove unused permission policy field
  apps/backend/internal/agentctl/server/adapter/transport/shared/config.go
Due: gofmt, go-tests, go-lint

ci: revoke stale merge approval after untrusted push
  .github/scripts/revoke-ready-to-merge-workflow-contract_test.py
  .github/workflows/lint-action-pinning.yml
  .github/workflows/revoke-ready-to-merge.yml
  docs/decisions/2026-08-31-revoke-merge-approval-after-untrusted-push.md
  docs/decisions/INDEX.md
  docs/plans/contributor-merge-approval-revocation/plan.md
  docs/plans/contributor-merge-approval-revocation/task-01-add-revocation-workflow.md
  docs/specs/ci/README.md
  docs/specs/ci/requirements/contributor-merge-approval-revocation.md
  docs/specs/ci/system-design/contributor-merge-approval-revocation.md
Due: none

test(task): cover latest plan revision authorization (#3204)
  apps/backend/internal/task/service/service_access_test.go
Due: gofmt, go-tests, go-lint

fix: harden spec-lint sidecar boundaries
  docs/specs/guide/structure-and-ownership.md
  scripts/lint-spec-files.py
  scripts/lint-spec-files.test.py
Due: none

fix(ui): restrict Changes auto-focus to Default layout
  apps/web/components/task/changes-panel-focus.test.ts
  apps/web/components/task/changes-panel-focus.ts
  apps/web/e2e/tests/layout/changes-panel-focus.spec.ts
  docs/plans/default-changes-focus-guard/plan.md
  docs/plans/default-changes-focus-guard/task-01-restrict-changes-auto-focus.md
  docs/specs/ui/requirements/task-layout-profiles.md
  docs/specs/ui/system-design/task-layout-profiles.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test: align environment-owned snapshot fixtures
  apps/backend/internal/task/repository/git_snapshots_upsert_test.go
  apps/backend/internal/task/repository/sqlite/worktree_ownership_migration_test.go
Due: gofmt, go-tests, go-lint

fix(ui): track layout profile for Changes auto-focus
  apps/web/components/task/changes-panel-focus.test.ts
  apps/web/components/task/changes-panel-focus.ts
  apps/web/components/task/dockview-desktop-layout.tsx
  apps/web/components/task/dockview-layout-setup.ts
  apps/web/lib/layout/layout-profiles.ts
  apps/web/lib/local-storage.test.ts
  apps/web/lib/local-storage.ts
  apps/web/lib/state/dockview-preset-persistence.test.ts
  apps/web/lib/state/dockview-store.test.ts
  apps/web/lib/state/dockview-store.ts
  docs/plans/default-changes-focus-guard/plan.md
  docs/plans/default-changes-focus-guard/task-01-restrict-changes-auto-focus.md
  docs/specs/ui/system-design/task-layout-profiles.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(ui): preserve effective Default layout identity
  apps/web/components/task/dockview-desktop-layout.tsx
  apps/web/lib/layout/layout-profiles.test.ts
  apps/web/lib/layout/layout-profiles.ts
  apps/web/lib/state/dockview-env-switch-action.test.ts
  apps/web/lib/state/dockview-preset-persistence.test.ts
  apps/web/lib/state/dockview-store.ts
  docs/plans/default-changes-focus-guard/plan.md
  docs/plans/default-changes-focus-guard/task-01-restrict-changes-auto-focus.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(agents): harden session recovery review findings
  apps/backend/internal/orchestrator/session_branch_recovery.go
  apps/backend/internal/orchestrator/session_branch_recovery_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/task_operations_test.go
  apps/backend/internal/worktree/errors.go
  apps/backend/internal/worktree/errors_test.go
  apps/backend/internal/worktree/manager_lifecycle.go
  apps/backend/internal/worktree/manager_recreate_recovery_test.go
  apps/backend/internal/worktree/manager_test.go
  apps/web/components/task/chat/messages/action-message-recovery.test.tsx
  apps/web/hooks/domains/session/use-session-recovery-actions.ts
  apps/web/hooks/domains/session/use-session-recovery-feedback.ts
  apps/web/hooks/domains/session/use-session-resumption.test.ts
  apps/web/hooks/domains/session/use-session-resumption.ts
  docs/plans/session-resume-recovery/plan.md
  docs/plans/session-resume-recovery/task-02-persist-branch-recovery-warning.md
  docs/plans/session-resume-recovery/task-03-show-recovery-errors.md
  docs/specs/agents/system-design/agent-resume-runtime-recovery.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(github): guard task repository association identity
  apps/backend/internal/github/errors.go
  apps/backend/internal/github/service_pr_watch.go
  apps/backend/internal/github/service_task_issue.go
  apps/backend/internal/github/service_task_repository.go
  apps/backend/internal/github/service_task_repository_validation_test.go
  apps/backend/internal/mcp/handlers/handlers_test.go
Due: gofmt, go-tests, go-lint

fix(office): keep participant session identity stable
  apps/backend/internal/orchestrator/session_ensure.go
  apps/backend/internal/orchestrator/session_ensure_office_test.go
  apps/backend/internal/orchestrator/session_ensure_test.go
  apps/backend/internal/orchestrator/task_operations.go
  docs/public/configuration.md
  docs/public/operations.md
Due: gofmt, go-tests, go-lint

test(office): cover DB-error propagation for supplied-session lookup
  apps/backend/internal/office/engine_dispatcher/dispatcher_decisions_test.go
Due: gofmt, go-tests, go-lint

fix(workflow): clean all deleted-step event references
  apps/backend/internal/workflow/models/export.go
  apps/backend/internal/workflow/models/export_validation_test.go
  apps/backend/internal/workflow/repository/sqlite.go
  apps/backend/internal/workflow/repository/sqlite_test.go
  docs/workflow-import-export.md
Due: gofmt, go-tests, go-lint

fix(worktree): avoid shared cleanup candidate mutation
  apps/backend/internal/worktree/manager_cleanup.go
Due: gofmt, go-tests, go-lint

fix(ui): reconcile layout focus with current main
  apps/web/components/task/changes-panel-focus.test.ts
  apps/web/lib/state/dockview-effective-default-profile.test.ts
  apps/web/lib/state/dockview-preset-persistence.test.ts
  docs/plans/default-changes-focus-guard/plan.md
  docs/plans/default-changes-focus-guard/task-01-restrict-changes-auto-focus.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: preserve snapshots during worktree cutover
  apps/backend/internal/task/repository/sqlite/worktree_ownership_git_snapshot.go
  apps/backend/internal/task/repository/sqlite/worktree_ownership_migration.go
  apps/backend/internal/task/repository/sqlite/worktree_ownership_migration_test.go
  apps/backend/internal/task/repository/sqlite/worktree_ownership_targets.go
Due: gofmt, go-tests, go-lint

test: clarify live snapshot deletion fixture
  apps/backend/internal/task/repository/git_snapshots_upsert_test.go
Due: gofmt, go-tests, go-lint

fix(ci): pass pull request ID to merge cleanup mutations
  .github/scripts/revoke-ready-to-merge-workflow-contract_test.py
  .github/workflows/revoke-ready-to-merge.yml
Due: none

fix(github): lease verified contributor forks to ordinary tasks
  apps/backend/internal/agentctl/server/process/git_test.go
  apps/backend/internal/backendapp/orchestrator.go
  apps/backend/internal/backendapp/services.go
  apps/backend/internal/backendapp/services_contributor_fork_test.go
  apps/backend/internal/orchestrator/executor/executor.go
  apps/backend/internal/orchestrator/executor/executor_credentials.go
  apps/backend/internal/orchestrator/executor/executor_credentials_preflight_test.go
  apps/backend/internal/orchestrator/service.go
  docs/decisions/2026-08-12-task-bound-fork-destinations.md
  docs/decisions/INDEX.md
  docs/public/integrations.md
  docs/specs/integrations/requirements/github-authentication.md
  docs/specs/integrations/system-design/github-authentication-01.md
  docs/specs/integrations/system-design/github-authentication-02.md
Due: gofmt, go-tests, go-lint

test(gateway): fix self-canceling tamper in port-proxy capability test
  apps/backend/internal/gateway/websocket/port_proxy_auth_test.go
Due: gofmt, go-tests, go-lint

feat(plugins): add generic approval ledger and receipts
  apps/backend/internal/plugins/approval.go
  apps/backend/internal/plugins/approval_api.go
  apps/backend/internal/plugins/approval_api_test.go
  apps/backend/internal/plugins/approval_dto.go
  apps/backend/internal/plugins/approval_dto_test.go
  apps/backend/internal/plugins/approval_query_test.go
  apps/backend/internal/plugins/approval_service.go
  apps/backend/internal/plugins/approval_store.go
  apps/backend/internal/plugins/approval_store_test.go
  apps/backend/internal/plugins/approval_test.go
  apps/backend/internal/plugins/registry.go
  apps/backend/internal/plugins/registry_test.go
  apps/backend/internal/plugins/service.go
  apps/backend/internal/plugins/service_install.go
  apps/backend/internal/plugins/service_sync.go
  apps/backend/internal/plugins/store/store.go
  docs/public/plugins-authoring.md
Due: gofmt, go-tests, go-lint

fix(agents): harden session recovery cleanup and identity
  apps/backend/internal/orchestrator/session_branch_recovery_test.go
  apps/backend/internal/orchestrator/task_operations_test.go
  apps/backend/internal/worktree/manager_git.go
  apps/backend/internal/worktree/manager_lifecycle.go
  apps/backend/internal/worktree/manager_recreate_recovery_test.go
  apps/backend/internal/worktree/manager_replacement.go
  apps/backend/internal/worktree/manager_reuse_required_test.go
  apps/web/components/task/chat/messages/action-message-recovery.test.tsx
  apps/web/components/task/chat/messages/action-message-recovery.tsx
  apps/web/components/task/chat/session-stopped-banner.tsx
  apps/web/components/task/ensure-session-error.test.tsx
  apps/web/components/task/ensure-session-error.tsx
  apps/web/components/task/simple/components/run-error-entry.tsx
  apps/web/e2e/tests/session/mobile-session-resume-recovery.spec.ts
  apps/web/e2e/tests/session/session-resume-recovery.spec.ts
  docs/plans/session-resume-recovery/plan.md
  docs/plans/session-resume-recovery/task-01-create-replacement-worktrees.md
  docs/plans/session-resume-recovery/task-02-persist-branch-recovery-warning.md
  docs/plans/session-resume-recovery/task-03-show-recovery-errors.md
  docs/specs/agents/requirements/agent-resume-runtime-recovery.md
  docs/specs/agents/system-design/agent-resume-runtime-recovery.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck
