Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

feat: opencode improve sse
  apps/backend/internal/agent/agents/opencode.go
  apps/backend/internal/agentctl/server/adapter/transport/opencode/adapter.go
  apps/backend/pkg/opencode/client.go
  apps/backend/pkg/opencode/types.go
Due: gofmt, go-tests, go-lint

feat: improvements
  apps/backend/cmd/kandev/adapters.go
  apps/backend/cmd/kandev/main.go
  apps/backend/cmd/kandev/orchestrator.go
  apps/backend/internal/agent/lifecycle/executor_sprites.go
  apps/backend/internal/integration/test_server_test.go
  apps/backend/internal/orchestrator/executor/executor.go
  apps/backend/internal/orchestrator/executor/executor_execute.go
  apps/backend/internal/orchestrator/executor/executor_state.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/secrets/handlers.go
  apps/backend/internal/secrets/models.go
  apps/backend/internal/secrets/provider.go
  apps/backend/internal/secrets/service.go
  apps/backend/internal/secrets/sqlite_store.go
  apps/backend/internal/secrets/store.go
  apps/backend/internal/sprites/handlers.go
  apps/backend/internal/task/dto/dto.go
  apps/backend/internal/task/handlers/executor_profile_handlers.go
  apps/backend/internal/task/models/models.go
  apps/backend/internal/task/repository/sqlite/base.go
  apps/backend/internal/task/repository/sqlite/executor_profile.go
  apps/backend/internal/task/service/service_requests.go
  apps/backend/internal/task/service/service_resources.go
  apps/web/app/settings/executor/[id]/page.tsx
  apps/web/app/settings/executor/[id]/profile/[profileId]/page.tsx
  apps/web/app/settings/general/sprites/page.tsx
  apps/web/components/settings/executor-profile-dialog.tsx
  apps/web/components/settings/executor-profiles-card.tsx
  apps/web/components/settings/secrets-settings.tsx
  apps/web/components/settings/settings-app-sidebar.tsx
  apps/web/components/settings/sprites-settings.tsx
  apps/web/hooks/domains/settings/use-sprites.ts
  apps/web/lib/api/domains/settings-api.ts
  apps/web/lib/api/domains/sprites-api.ts
  apps/web/lib/types/http-secrets.ts
  apps/web/lib/types/http.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat: sprites
  apps/backend/Makefile
  apps/backend/cmd/kandev/agents.go
  apps/backend/cmd/kandev/helpers.go
  apps/backend/cmd/kandev/main.go
  apps/backend/go.mod
  apps/backend/go.sum
  apps/backend/internal/agent/executor/executor.go
  apps/backend/internal/agent/lifecycle/agentctl_resolver.go
  apps/backend/internal/agent/lifecycle/env_preparer_sprites.go
  apps/backend/internal/agent/lifecycle/executor_backend.go
  apps/backend/internal/agent/lifecycle/executor_sprites.go
  apps/backend/internal/agent/lifecycle/manager_launch.go
  apps/backend/internal/sprites/handlers.go
  apps/backend/internal/task/models/models.go
  apps/backend/internal/task/repository/sqlite/defaults.go
  apps/backend/pkg/websocket/actions.go
  apps/web/app/settings/general/sprites/page.tsx
  apps/web/components/settings/settings-app-sidebar.tsx
  apps/web/components/settings/sprites-settings.tsx
  apps/web/hooks/domains/settings/use-sprites.ts
  apps/web/lib/api/domains/sprites-api.ts
  apps/web/lib/executor-icons.ts
  apps/web/lib/state/slices/settings/settings-slice.ts
  apps/web/lib/state/slices/settings/types.ts
  apps/web/lib/state/store.ts
  apps/web/lib/types/http-sprites.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

docs: add remote executor infrastructure plans
  docs/plans/01-secrets-infrastructure.md
  docs/plans/02-executor-profiles-infrastructure.md
  docs/plans/03-sprites-dev-support.md
Due: none

feat: improve sql queries
  apps/backend/cmd/kandev/helpers.go
  apps/backend/cmd/kandev/main.go
  apps/backend/internal/common/httpmw/tracing.go
  apps/backend/internal/orchestrator/executor/executor_test.go
  apps/backend/internal/task/dto/dto.go
  apps/backend/internal/task/handlers/process_handlers_test.go
  apps/backend/internal/task/handlers/repository_handlers.go
  apps/backend/internal/task/handlers/task_http_handlers.go
  apps/backend/internal/task/handlers/task_ws_handlers.go
  apps/backend/internal/task/handlers/workflow_handlers.go
  apps/backend/internal/task/repository/interface.go
  apps/backend/internal/task/repository/sqlite/message.go
  apps/backend/internal/task/repository/sqlite/repository_entity.go
  apps/backend/internal/task/repository/sqlite/session.go
  apps/backend/internal/task/repository/sqlite/task.go
  apps/backend/internal/task/repository/sqlite/task_repository.go
  apps/backend/internal/task/service/service_resources.go
  apps/backend/internal/task/service/service_tasks.go
  apps/backend/internal/workflow/controller/controller.go
  apps/backend/internal/workflow/handlers/handlers.go
  apps/backend/internal/workflow/repository/sqlite.go
  apps/backend/internal/workflow/service/service.go
  apps/web/app/actions/workspaces.ts
  apps/web/app/page.tsx
  apps/web/app/s/[sessionId]/page.tsx
  apps/web/app/settings/executor/[id]/profile/[profileId]/page.tsx
  apps/web/app/settings/executors/[profileId]/page.tsx
  apps/web/app/settings/executors/new/[type]/page.tsx
  apps/web/app/tasks/page.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat: improve sql queries (#260)
  apps/backend/cmd/kandev/helpers.go
  apps/backend/cmd/kandev/main.go
  apps/backend/internal/common/httpmw/tracing.go
  apps/backend/internal/orchestrator/executor/executor_test.go
  apps/backend/internal/task/dto/dto.go
  apps/backend/internal/task/handlers/process_handlers_test.go
  apps/backend/internal/task/handlers/repository_handlers.go
  apps/backend/internal/task/handlers/task_http_handlers.go
  apps/backend/internal/task/handlers/task_ws_handlers.go
  apps/backend/internal/task/handlers/workflow_handlers.go
  apps/backend/internal/task/repository/interface.go
  apps/backend/internal/task/repository/sqlite/message.go
  apps/backend/internal/task/repository/sqlite/repository_entity.go
  apps/backend/internal/task/repository/sqlite/session.go
  apps/backend/internal/task/repository/sqlite/task.go
  apps/backend/internal/task/repository/sqlite/task_repository.go
  apps/backend/internal/task/service/service_resources.go
  apps/backend/internal/task/service/service_tasks.go
  apps/backend/internal/workflow/controller/controller.go
  apps/backend/internal/workflow/handlers/handlers.go
  apps/backend/internal/workflow/repository/sqlite.go
  apps/backend/internal/workflow/service/service.go
  apps/web/app/actions/workspaces.ts
  apps/web/app/page.tsx
  apps/web/app/s/[sessionId]/page.tsx
  apps/web/app/settings/executor/[id]/profile/[profileId]/page.tsx
  apps/web/app/settings/executors/[profileId]/page.tsx
  apps/web/app/settings/executors/new/[type]/page.tsx
  apps/web/app/tasks/page.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat: refactor big repository
  apps/backend/cmd/kandev/adapters.go
  apps/backend/cmd/kandev/gateway.go
  apps/backend/cmd/kandev/helpers.go
  apps/backend/cmd/kandev/orchestrator.go
  apps/backend/cmd/kandev/services.go
  apps/backend/cmd/kandev/types.go
  apps/backend/internal/clarification/handlers.go
  apps/backend/internal/editors/service/service.go
  apps/backend/internal/integration/integration_test.go
  apps/backend/internal/integration/test_server_test.go
  apps/backend/internal/notifications/service/service.go
  apps/backend/internal/orchestrator/event_handlers_test.go
  apps/backend/internal/orchestrator/executor/executor.go
  apps/backend/internal/orchestrator/executor/executor_test.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/task/handlers/message_handlers_test.go
  apps/backend/internal/task/handlers/process_handlers_test.go
  apps/backend/internal/task/handlers/task_handlers.go
  apps/backend/internal/task/repository/interface.go
  apps/backend/internal/task/repository/provider.go
  apps/backend/internal/task/service/auto_archive.go
  apps/backend/internal/task/service/plan_service.go
  apps/backend/internal/task/service/repository_discovery.go
  apps/backend/internal/task/service/repository_discovery_test.go
  apps/backend/internal/task/service/service.go
  apps/backend/internal/task/service/service_messages.go
  apps/backend/internal/task/service/service_resources.go
  apps/backend/internal/task/service/service_sessions.go
  apps/backend/internal/task/service/service_tasks.go
  apps/backend/internal/task/service/service_test.go
  apps/backend/internal/task/service/service_turns.go
  apps/backend/internal/task/service/service_workflow.go
Due: gofmt, go-tests, go-lint

feat: refactor big repository (#261)
  apps/backend/cmd/kandev/adapters.go
  apps/backend/cmd/kandev/gateway.go
  apps/backend/cmd/kandev/helpers.go
  apps/backend/cmd/kandev/orchestrator.go
  apps/backend/cmd/kandev/services.go
  apps/backend/cmd/kandev/types.go
  apps/backend/internal/clarification/handlers.go
  apps/backend/internal/editors/service/service.go
  apps/backend/internal/integration/integration_test.go
  apps/backend/internal/integration/test_server_test.go
  apps/backend/internal/notifications/service/service.go
  apps/backend/internal/orchestrator/event_handlers_test.go
  apps/backend/internal/orchestrator/executor/executor.go
  apps/backend/internal/orchestrator/executor/executor_test.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/task/handlers/message_handlers_test.go
  apps/backend/internal/task/handlers/process_handlers_test.go
  apps/backend/internal/task/handlers/task_handlers.go
  apps/backend/internal/task/repository/interface.go
  apps/backend/internal/task/repository/provider.go
  apps/backend/internal/task/service/auto_archive.go
  apps/backend/internal/task/service/plan_service.go
  apps/backend/internal/task/service/repository_discovery.go
  apps/backend/internal/task/service/repository_discovery_test.go
  apps/backend/internal/task/service/service.go
  apps/backend/internal/task/service/service_messages.go
  apps/backend/internal/task/service/service_resources.go
  apps/backend/internal/task/service/service_sessions.go
  apps/backend/internal/task/service/service_tasks.go
  apps/backend/internal/task/service/service_test.go
  apps/backend/internal/task/service/service_turns.go
  apps/backend/internal/task/service/service_workflow.go
Due: gofmt, go-tests, go-lint

docs: update and review main documentation (#259)
  README.md
  docs/workflow-tips.md
Due: none

feat: remove executor healthcheck
  apps/backend/internal/agent/lifecycle/manager.go
  apps/backend/internal/agent/lifecycle/manager_lifecycle.go
Due: gofmt, go-tests, go-lint

feat: remove executor healthcheck (#263)
  apps/backend/internal/agent/lifecycle/manager.go
  apps/backend/internal/agent/lifecycle/manager_lifecycle.go
Due: gofmt, go-tests, go-lint

feat: test
  README.md
Due: none

test
  CONTRIBUTING.md
Due: none

trigger ci
  apps/backend/pkg/acp/jsonrpc/types.go
  apps/web/components/diff/comment-display.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat: test pr
  apps/backend/pkg/acp/jsonrpc/types.go
  apps/web/components/diff/comment-display.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

perf: optimize settings page load from 5.5s to <200ms
  apps/backend/internal/agent/discovery/discovery.go
  apps/backend/internal/agent/discovery/discovery_test.go
  apps/backend/internal/agent/settings/controller/agent_discovery.go
  apps/backend/internal/agent/settings/controller/agent_discovery_test.go
  apps/backend/internal/agent/settings/handlers/handlers.go
  apps/backend/internal/agent/settings/handlers/handlers_test.go
  apps/backend/internal/task/repository/repository_indexes_test.go
  apps/backend/internal/task/repository/sqlite/base.go
  apps/web/app/actions/workspaces.ts
  apps/web/app/s/[sessionId]/page.tsx
  apps/web/app/settings/agents/[agentId]/profiles/[profileId]/page.tsx
  apps/web/app/settings/agents/page.tsx
  apps/web/app/settings/layout.tsx
  apps/web/app/settings/workspace/[id]/repositories/page.tsx
  apps/web/hooks/domains/settings/use-agent-discovery.ts
  apps/web/lib/state/slices/settings/settings-slice.ts
  apps/web/lib/state/slices/settings/types.ts
  apps/web/lib/state/store.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

perf: optimize settings page load (#268)
  apps/backend/internal/agent/discovery/discovery.go
  apps/backend/internal/agent/discovery/discovery_test.go
  apps/backend/internal/agent/settings/controller/agent_discovery.go
  apps/backend/internal/agent/settings/controller/agent_discovery_test.go
  apps/backend/internal/agent/settings/handlers/handlers.go
  apps/backend/internal/agent/settings/handlers/handlers_test.go
  apps/backend/internal/task/repository/repository_indexes_test.go
  apps/backend/internal/task/repository/sqlite/base.go
  apps/web/app/actions/workspaces.ts
  apps/web/app/s/[sessionId]/page.tsx
  apps/web/app/settings/agents/[agentId]/profiles/[profileId]/page.tsx
  apps/web/app/settings/agents/page.tsx
  apps/web/app/settings/layout.tsx
  apps/web/app/settings/workspace/[id]/repositories/page.tsx
  apps/web/hooks/domains/settings/use-agent-discovery.ts
  apps/web/lib/state/slices/settings/settings-slice.ts
  apps/web/lib/state/slices/settings/types.ts
  apps/web/lib/state/store.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat: improve claude code normalized messages
  apps/backend/internal/agent/lifecycle/manager_events_test.go
  apps/backend/internal/agent/lifecycle/manager_streaming.go
  apps/packages/theme/src/fonts.css
  apps/web/app/globals.css
  apps/web/components/diff/diff-viewer.tsx
  apps/web/components/diff/use-diff-options.tsx
  apps/web/components/review/review-dialog.tsx
  apps/web/components/review/review-diff-list.tsx
  apps/web/components/review/review-file-tree.tsx
  apps/web/components/review/review-top-bar.tsx
  apps/web/components/task/changes-panel-hooks.ts
  apps/web/components/task/changes-panel-timeline.tsx
  apps/web/components/task/changes-panel.tsx
  apps/web/components/task/chat/messages/diff-view-block.tsx
  apps/web/components/task/dockview-desktop-layout.tsx
  apps/web/components/task/tab-context-menu.tsx
  apps/web/components/task/task-changes-panel.tsx
  apps/web/components/task/task-top-bar.tsx
  apps/web/components/vcs-split-button.tsx
  apps/web/hooks/domains/session/use-session-git.ts
  apps/web/lib/theme/colors.ts
  apps/web/public/fonts/monaspace-neon/MonaspaceNeon-Regular.woff2
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat: pr watcher team selector
  apps/backend/internal/github/client.go
  apps/backend/internal/github/client_helpers.go
  apps/backend/internal/github/client_helpers_test.go
  apps/backend/internal/github/gh_client.go
  apps/backend/internal/github/models.go
  apps/backend/internal/github/pat_client.go
  apps/backend/internal/github/service.go
  apps/backend/internal/github/store.go
  apps/web/components/github/review-watch-dialog.tsx
  apps/web/lib/types/github.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat: pr watcher user or team review (#270)
  apps/backend/internal/github/client.go
  apps/backend/internal/github/client_helpers.go
  apps/backend/internal/github/client_helpers_test.go
  apps/backend/internal/github/gh_client.go
  apps/backend/internal/github/models.go
  apps/backend/internal/github/pat_client.go
  apps/backend/internal/github/service.go
  apps/backend/internal/github/store.go
  apps/web/components/github/review-watch-dialog.tsx
  apps/web/lib/types/github.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat: revert commit
  apps/backend/internal/agent/handlers/git_handlers.go
  apps/backend/internal/agentctl/client/git.go
  apps/backend/internal/agentctl/server/api/git.go
  apps/backend/internal/agentctl/server/api/server.go
  apps/backend/internal/agentctl/server/process/git.go
  apps/backend/pkg/websocket/actions.go
  apps/web/components/task/changes-panel-hooks.ts
  apps/web/components/task/changes-panel-timeline.tsx
  apps/web/components/task/changes-panel.tsx
  apps/web/hooks/domains/session/use-session-git.ts
  apps/web/hooks/use-git-operations.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat: improve claude code normalized messages + review ux (#271)
  apps/backend/internal/agent/handlers/git_handlers.go
  apps/backend/internal/agent/lifecycle/manager_events_test.go
  apps/backend/internal/agent/lifecycle/manager_streaming.go
  apps/backend/internal/agentctl/client/git.go
  apps/backend/internal/agentctl/server/api/git.go
  apps/backend/internal/agentctl/server/api/server.go
  apps/backend/internal/agentctl/server/process/git.go
  apps/backend/pkg/websocket/actions.go
  apps/packages/theme/src/fonts.css
  apps/web/app/globals.css
  apps/web/components/diff/diff-viewer.tsx
  apps/web/components/diff/use-diff-options.tsx
  apps/web/components/review/review-dialog.tsx
  apps/web/components/review/review-diff-list.tsx
  apps/web/components/review/review-file-tree.tsx
  apps/web/components/review/review-top-bar.tsx
  apps/web/components/task/changes-panel-hooks.ts
  apps/web/components/task/changes-panel-timeline.tsx
  apps/web/components/task/changes-panel.tsx
  apps/web/components/task/chat/messages/diff-view-block.tsx
  apps/web/components/task/dockview-desktop-layout.tsx
  apps/web/components/task/tab-context-menu.tsx
  apps/web/components/task/task-changes-panel.tsx
  apps/web/components/task/task-top-bar.tsx
  apps/web/components/vcs-split-button.tsx
  apps/web/hooks/domains/session/use-session-git.ts
  apps/web/hooks/use-git-operations.ts
  apps/web/lib/theme/colors.ts
  apps/web/public/fonts/monaspace-neon/MonaspaceNeon-Regular.woff2
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat: improve topbar
  apps/web/components/diff-stat.tsx
  apps/web/components/task/task-top-bar.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: improve onboarding
  apps/web/components/onboarding-dialog.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: improve messages
  apps/pnpm-lock.yaml
  apps/web/app/globals.css
  apps/web/components/editors/codemirror/codemirror-code-block.tsx
  apps/web/components/editors/monaco/monaco-code-block.tsx
  apps/web/components/editors/shiki/shiki-code-block.tsx
  apps/web/components/editors/shiki/shiki-highlighter.ts
  apps/web/components/task/chat/messages/code-block.tsx
  apps/web/lib/state/dockview-store.ts
  apps/web/lib/state/editor-resolver-store.ts
  apps/web/package.json
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: improve create new task dialog
  apps/backend/internal/agent/lifecycle/manager_execution.go
  apps/backend/internal/orchestrator/handlers/handlers.go
  apps/backend/internal/task/service/service_turns.go
  apps/web/app/globals.css
  apps/web/components/diff-stat.tsx
  apps/web/components/kanban-card.tsx
  apps/web/components/onboarding-dialog.tsx
  apps/web/components/task-create-dialog-effects.ts
  apps/web/components/task-create-dialog-footer.tsx
  apps/web/components/task-create-dialog-helpers.ts
  apps/web/components/task-create-dialog-state.ts
  apps/web/components/task-create-dialog-submit.tsx
  apps/web/components/task-create-dialog.tsx
  apps/web/components/task/chat/chat-input-area.tsx
  apps/web/components/task/chat/chat-input-body.tsx
  apps/web/components/task/chat/chat-input-toolbar.tsx
  apps/web/components/task/chat/context-items/context-zone.tsx
  apps/web/components/task/chat/message-renderer.tsx
  apps/web/components/task/chat/messages/chat-message.tsx
  apps/web/components/task/chat/messages/message-actions.tsx
  apps/web/components/task/chat/resize-handle.tsx
  apps/web/components/task/chat/use-chat-input-state.ts
  apps/web/components/task/chat/use-chat-panel-state.ts
  apps/web/lib/settings/constants.ts
  apps/web/lib/state/layout-manager/presets.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: enforce sidebar max-width via dockview group constraints
  apps/web/lib/state/dockview-layout-builders.ts
  apps/web/lib/state/layout-manager/applier.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: add session-state sections to task switcher sidebar
  apps/web/components/task/task-item.tsx
  apps/web/components/task/task-session-sidebar.tsx
  apps/web/components/task/task-switcher.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck
