Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

fix: sync archived task websocket removals
  apps/web/components/task/simple/OfficeSimplePane.test.tsx
  apps/web/lib/ws/handlers/tasks-archive.test.ts
  apps/web/lib/ws/handlers/tasks.test.ts
  apps/web/lib/ws/handlers/tasks.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: preserve nested markdown code fences
  apps/web/components/task/simple/OfficeSimplePane.test.tsx
  apps/web/e2e/tests/chat/markdown-code-fences.spec.ts
  apps/web/lib/markdown/normalize-cache.test.ts
  apps/web/lib/markdown/normalize-cache.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: keep acknowledged agent errors hidden
  apps/web/components/task/mobile/session-task-switcher-sheet-hooks.ts
  apps/web/components/task/simple/OfficeSimplePane.test.tsx
  apps/web/components/task/task-session-sidebar.tsx
  apps/web/components/task/use-agent-error-acknowledgements.ts
  apps/web/lib/session-last-agent-error.test.ts
  apps/web/lib/session-last-agent-error.ts
  apps/web/lib/state/slices/ui/dismissed-agent-errors-actions.ts
  apps/web/lib/state/slices/ui/types.ts
  apps/web/lib/state/slices/ui/ui-slice.test.ts
  apps/web/lib/state/slices/ui/ui-slice.ts
  apps/web/lib/state/store.ts
  apps/web/lib/task-agent-error.test.ts
  apps/web/lib/task-agent-error.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: harden agent task message dispatch
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/message_task_test.go
Due: gofmt, go-tests, go-lint

fix: preserve completed task message sessions
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/message_task_test.go
Due: gofmt, go-tests, go-lint

fix: restore review step on task message failure
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/message_task_test.go
Due: gofmt, go-tests, go-lint

test: cover completed task message handoff
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/message_task_test.go
Due: gofmt, go-tests, go-lint

fix: publish task message rollback events
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/handlers_test.go
  apps/backend/internal/mcp/handlers/message_task_test.go
  apps/backend/internal/task/service/service_requests.go
  apps/backend/internal/task/service/service_tasks.go
Due: gofmt, go-tests, go-lint

fix: address archived task review cleanup
  apps/web/lib/ws/handlers/tasks-archive.test.ts
  apps/web/lib/ws/handlers/tasks.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address markdown fence review feedback
  apps/web/lib/markdown/normalize-cache.test.ts
  apps/web/lib/markdown/normalize-cache.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: skip pagination for default watches and abort on canceled context
  apps/backend/internal/linear/service_issue_watch.go
  apps/backend/internal/linear/service_issue_watch_test.go
Due: gofmt, go-tests, go-lint

fix: restore task message session rollback
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/message_task_test.go
Due: gofmt, go-tests, go-lint

fix: address agent error acknowledgement review
  apps/web/components/task/mobile/session-task-switcher-sheet-hooks.ts
  apps/web/components/task/task-session-sidebar.tsx
  apps/web/components/task/use-agent-error-acknowledgements.test.tsx
  apps/web/components/task/use-agent-error-acknowledgements.ts
  apps/web/lib/session-last-agent-error.ts
  apps/web/lib/state/slices/ui/dismissed-agent-errors-actions.ts
  apps/web/lib/state/slices/ui/types.ts
  apps/web/lib/state/slices/ui/ui-slice.test.ts
  apps/web/lib/state/store.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: handle archived office task routes
  apps/web/lib/ws/handlers/tasks-archive.test.ts
  apps/web/lib/ws/handlers/tasks.test.ts
  apps/web/lib/ws/handlers/tasks.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: handle additional nested markdown fences
  apps/web/lib/markdown/normalize-cache.test.ts
  apps/web/lib/markdown/normalize-cache.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: avoid orphaned task message rows
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/message_task_test.go
Due: gofmt, go-tests, go-lint

docs: explain task message prompt recording
  apps/backend/internal/mcp/handlers/handlers.go
Due: gofmt, go-tests, go-lint

fix: handle untagged nested markdown fences
  apps/web/lib/markdown/normalize-cache.test.ts
  apps/web/lib/markdown/normalize-cache.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: share task route pathname normalization
  apps/web/lib/links.test.ts
  apps/web/lib/links.ts
  apps/web/lib/ws/handlers/tasks-archive.test.ts
  apps/web/lib/ws/handlers/tasks.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: include fallback sessions in error acknowledgements
  apps/web/components/task/mobile/session-task-switcher-sheet-hooks.ts
  apps/web/components/task/task-session-sidebar.tsx
  apps/web/components/task/use-agent-error-acknowledgements.test.tsx
  apps/web/components/task/use-agent-error-acknowledgements.ts
  apps/web/lib/state/slices/ui/dismissed-agent-errors-actions.ts
  apps/web/lib/state/slices/ui/types.ts
  apps/web/lib/state/slices/ui/ui-slice.test.ts
  apps/web/lib/state/store.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: avoid merging separate untagged fences
  apps/web/lib/markdown/normalize-cache.test.ts
  apps/web/lib/markdown/normalize-cache.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: harden task message rollback cleanup
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/message_task_test.go
Due: gofmt, go-tests, go-lint

test: cover agent error acknowledgement helpers
  apps/web/components/task/use-agent-error-acknowledgements.test.tsx
  apps/web/components/task/use-agent-error-acknowledgements.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: refresh office task removal views
  apps/web/lib/ws/handlers/tasks-archive.test.ts
  apps/web/lib/ws/handlers/tasks.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: handle wrapper fence edge cases
  apps/web/lib/markdown/normalize-cache.test.ts
  apps/web/lib/markdown/normalize-cache.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: track nested markdown fence pairs
  apps/web/lib/markdown/normalize-cache.test.ts
  apps/web/lib/markdown/normalize-cache.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

style: apply prettier formatting to linear watcher SortByField
  apps/web/components/linear/linear-issue-watch-fields.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: complete task message rollback cleanup
  apps/backend/internal/events/types.go
  apps/backend/internal/gateway/websocket/task_notifications.go
  apps/backend/internal/gateway/websocket/task_notifications_test.go
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/message_task_test.go
  apps/backend/internal/task/service/service_messages.go
  apps/backend/pkg/websocket/actions.go
  apps/web/lib/state/slices/session/session-slice.ts
  apps/web/lib/state/slices/session/types.ts
  apps/web/lib/state/store.ts
  apps/web/lib/types/backend.ts
  apps/web/lib/ws/client.ts
  apps/web/lib/ws/handlers/messages.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: handle longer nested markdown fences
  apps/web/lib/markdown/normalize-cache.test.ts
  apps/web/lib/markdown/normalize-cache.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: restore task message dispatch side effects
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/message_task_test.go
Due: gofmt, go-tests, go-lint

fix: preserve adjacent markdown code blocks
  apps/web/lib/markdown/normalize-cache.test.ts
  apps/web/lib/markdown/normalize-cache.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: restore task state after capture failure
  apps/backend/internal/mcp/handlers/handlers.go
Due: gofmt, go-tests, go-lint

fix: simplify task message rollback cleanup
  apps/backend/internal/mcp/handlers/handlers.go
Due: gofmt, go-tests, go-lint

fix: handle shorter tagged markdown fences
  apps/web/lib/markdown/normalize-cache.test.ts
  apps/web/lib/markdown/normalize-cache.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: handle shorter bare markdown fences
  apps/web/lib/markdown/normalize-cache.test.ts
  apps/web/lib/markdown/normalize-cache.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: preserve task message rollback snapshots
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/message_task_test.go
  apps/backend/internal/orchestrator/messagequeue/repository.go
  apps/backend/internal/orchestrator/messagequeue/repository_memory.go
  apps/backend/internal/orchestrator/messagequeue/repository_sqlite.go
  apps/backend/internal/orchestrator/messagequeue/service.go
Due: gofmt, go-tests, go-lint

fix: restore task message turn-start snapshots
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/message_task_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/task_operations_test.go
Due: gofmt, go-tests, go-lint

fix: preserve task message queue snapshots
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/message_task_test.go
  apps/backend/internal/orchestrator/messagequeue/repository.go
  apps/backend/internal/orchestrator/messagequeue/repository_memory.go
  apps/backend/internal/orchestrator/messagequeue/repository_sqlite.go
  apps/backend/internal/orchestrator/messagequeue/repository_sqlite_test.go
  apps/backend/internal/orchestrator/messagequeue/service.go
  apps/backend/internal/orchestrator/messagequeue/service_test.go
  apps/backend/internal/orchestrator/task_operations.go
Due: gofmt, go-tests, go-lint

fix: fail closed on office task lookup
  apps/backend/internal/orchestrator/task_operations.go
Due: gofmt, go-tests, go-lint

fix(ssh-executor): restore linux/arm64 + enforce signed darwin helper
  .github/workflows/release.yml
  apps/backend/Makefile
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh_connection_test.go
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh_operations.go
  apps/backend/internal/launcher/bundle.go
  apps/backend/internal/launcher/bundle_test.go
  apps/desktop/e2e/desktop-launch-smoke.mjs
  apps/desktop/src-tauri/src/backend.rs
  docs/specs/ssh-executor/spec.md
  scripts/release-desktop.test.sh
  scripts/release/package-bundle.sh
  scripts/release/prepare-desktop-runtime.sh
  scripts/release/verify-desktop-runtime.sh
Due: gofmt, go-tests, go-lint
