Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

test(agent-settings): cover discovery seed path + tighten profile fakes
  apps/backend/internal/agent/runtime/lifecycle/profile_resolver_test.go
  apps/backend/internal/agent/settings/controller/reconciler_test.go
Due: gofmt, go-tests, go-lint

docs(agent-settings): explain why soft-deleted implies user deletion
  apps/backend/internal/agent/settings/controller/agent_discovery.go
  apps/backend/internal/agent/settings/controller/reconciler.go
Due: gofmt, go-tests, go-lint

fix(orchestrator): deliver initial prompt to passthrough start_agent
  apps/backend/internal/orchestrator/session_launch.go
  apps/backend/internal/orchestrator/session_launch_test.go
  apps/backend/internal/task/handlers/task_http_handlers.go
Due: gofmt, go-tests, go-lint

fix: address local review findings
  apps/backend/internal/orchestrator/session_launch.go
  apps/backend/internal/task/handlers/task_http_handlers.go
  apps/backend/internal/task/handlers/task_http_handlers_test.go
Due: gofmt, go-tests, go-lint

test: pin DeferredStart on the config-chat call site
  apps/backend/internal/task/handlers/task_http_handlers_test.go
Due: gofmt, go-tests, go-lint

docs(backend): clarify PR watch gap-fill behavior
  apps/backend/internal/github/service_pr_watch.go
  apps/backend/internal/github/service_pr_watch_batched.go
Due: gofmt, go-tests, go-lint

test: cover sidebar home from non-settings route
  apps/web/e2e/tests/office/sidebar-navigation.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): align sidebar creation e2e flows
  apps/web/components/app-sidebar/app-sidebar-new-task-item.test.tsx
  apps/web/e2e/tests/task/create-task-github-url.spec.ts
  apps/web/e2e/tests/task/create-task-remote-repo.spec.ts
  apps/web/e2e/tests/task/create-task-url-reopen-no-branches.spec.ts
  apps/web/e2e/tests/task/subtask.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): clarify sidebar task e2e comment
  apps/web/e2e/tests/task/create-task-github-url.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: allow remote external mcp access
  apps/backend/cmd/kandev/helpers.go
  apps/backend/cmd/kandev/helpers_test.go
  apps/web/components/settings/external-mcp-settings.tsx
  docs/specs/integrations/external-mcp.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: use relative external mcp sse endpoint
  apps/backend/cmd/kandev/helpers.go
  apps/backend/internal/mcp/server/external_integration_test.go
  apps/backend/internal/mcp/server/server.go
  apps/backend/internal/mcp/server/server_test.go
Due: gofmt, go-tests, go-lint

test: make external mcp access test deterministic
  apps/backend/cmd/kandev/helpers_test.go
Due: gofmt, go-tests, go-lint

fix(web): keep dockview group alive on task switch to stop layout collapse
  apps/web/lib/state/dockview-env-switch.test.ts
  apps/web/lib/state/dockview-env-switch.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(web): note the raw-index equivalence assumption in env switch
  apps/web/lib/state/dockview-env-switch.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): collapse dockview workflow stepper to current step when cramped
  apps/web/components/task/task-top-bar.tsx
  apps/web/components/task/workflow-stepper.test.tsx
  apps/web/components/task/workflow-stepper.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): focus sidebar-created tasks (#1301)
  apps/web/components/app-sidebar/app-sidebar-new-task-item.test.tsx
  apps/web/components/app-sidebar/app-sidebar-new-task-item.tsx
  apps/web/components/task-create-dialog-setup.tsx
  apps/web/components/task-create-dialog-submit.tsx
  apps/web/components/task-create-dialog-types.ts
  apps/web/components/task-create-dialog.tsx
  apps/web/e2e/tests/task/create-task-github-url.spec.ts
  apps/web/e2e/tests/task/create-task-remote-repo.spec.ts
  apps/web/e2e/tests/task/create-task-url-reopen-no-branches.spec.ts
  apps/web/e2e/tests/task/create-task.spec.ts
  apps/web/e2e/tests/task/subtask.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): stabilize stepper test id and drop margin skewing collapse
  apps/web/components/task/workflow-stepper.test.tsx
  apps/web/components/task/workflow-stepper.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor(web): trim verbose stepper collapse comment
  apps/web/components/task/workflow-stepper.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): tag archived minimal badge with stepper test id
  apps/web/components/task/workflow-stepper.test.tsx
  apps/web/components/task/workflow-stepper.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(acpdbg): read claude agent models and modes from configOptions
  apps/backend/internal/agent/acpdbg/ops.go
  apps/backend/internal/agent/acpdbg/ops_test.go
Due: gofmt, go-tests, go-lint

feat: add checkout service make targets
  Makefile
  apps/backend/internal/system/updates/install_state.go
  apps/backend/internal/system/updates/install_state_test.go
  apps/cli/src/service/paths.test.ts
  apps/cli/src/service/paths.ts
  docs/run-as-a-service.md
Due: gofmt, go-tests, go-lint, prettier-format

test(web): collapse multi-line comments in stepper test to single lines
  apps/web/components/task/workflow-stepper.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address checkout service review
  Makefile
  apps/backend/internal/system/updates/install_state_test.go
  apps/cli/src/service/paths.ts
  docs/run-as-a-service.md
Due: gofmt, go-tests, go-lint, prettier-format

fix(web): drop aria-current on minimal stepper no-current fallback
  apps/web/components/task/workflow-stepper.test.tsx
  apps/web/components/task/workflow-stepper.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: clarify required automation fields
  apps/web/components/automations/automation-editor.tsx
  apps/web/components/automations/config-section.test.tsx
  apps/web/components/automations/config-section.tsx
  apps/web/components/automations/required-field-label.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: quote record skill description
  .agents/skills/record/SKILL.md
Due: none

feat: add checkout service make targets (#1311)
  Makefile
  apps/backend/internal/system/updates/install_state.go
  apps/backend/internal/system/updates/install_state_test.go
  apps/cli/src/service/paths.test.ts
  apps/cli/src/service/paths.ts
  docs/run-as-a-service.md
Due: gofmt, go-tests, go-lint, prettier-format

fix: default changes panel to tree view
  apps/backend/internal/user/store/sqlite.go
  apps/backend/internal/user/store/sqlite_test.go
  apps/web/components/settings/editors-settings-state.tsx
  apps/web/components/task/changes-panel-timeline.tsx
  apps/web/hooks/use-user-display-settings.ts
  apps/web/lib/ssr/user-settings.test.ts
  apps/web/lib/ssr/user-settings.ts
  apps/web/lib/state/slices/settings/settings-slice.ts
  apps/web/lib/ws/handlers/users.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: address automation field review feedback
  apps/web/components/automations/config-section.test.tsx
  apps/web/components/automations/config-section.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: remove unused changes timeline props
  apps/web/components/task/changes-panel-body.tsx
  apps/web/components/task/changes-panel-timeline-grouping.test.tsx
  apps/web/components/task/changes-panel-timeline.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: link automation name help text
  apps/web/components/automations/automation-editor.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test: clarify user settings scanner timestamp
  apps/backend/internal/user/store/sqlite_test.go
Due: gofmt, go-tests, go-lint

fix: allow office mcp mode for existing tasks
  apps/backend/internal/agent/runtime/agentctl/control.go
  apps/backend/internal/agent/runtime/lifecycle/executor_backend.go
  apps/backend/internal/agent/runtime/lifecycle/types.go
  apps/backend/internal/agent/runtime/runtime.go
  apps/backend/internal/agentctl/server/api/mcp_mode_test.go
  apps/backend/internal/agentctl/server/api/server.go
  apps/backend/internal/agentctl/server/config/config.go
  apps/backend/internal/agentctl/server/instance/instance.go
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/handlers_test.go
  apps/backend/internal/orchestrator/executor/executor.go
Due: gofmt, go-tests, go-lint

test: align changes panel e2e with tree layout
  apps/web/e2e/tests/changes-panel-active-tab-highlight.spec.ts
  apps/web/e2e/tests/changes-panel-multi-select.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address office mcp review feedback
  apps/backend/internal/agentctl/server/api/mcp_mode_test.go
  apps/backend/internal/orchestrator/executor/executor.go
Due: gofmt, go-tests, go-lint

fix: contain settings page overscroll
  apps/web/app/globals.css
  apps/web/components/settings/settings-layout-client.tsx
  apps/web/e2e/tests/automations-settings.spec.ts
  apps/web/e2e/tests/mobile-automations-scroll.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: assert staged section in changes e2e
  apps/web/e2e/tests/changes-panel-active-tab-highlight.spec.ts
  apps/web/e2e/tests/changes-panel-multi-select.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address pr review feedback for configOptions support
  apps/backend/internal/agent/acpdbg/ops.go
  apps/backend/internal/agent/acpdbg/ops_test.go
  apps/backend/internal/agent/settings/controller/profile_crud.go
  apps/backend/internal/agent/settings/profileconfig/profileconfig.go
  apps/backend/internal/agent/settings/store/sqlite.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/adapter_session.go
  apps/backend/internal/agentctl/server/utility/acp_executor.go
  apps/backend/internal/agentctl/sessionmodel/sessionmodel.go
  apps/web/app/settings/agents/[agentId]/agent-save-helpers.ts
  apps/web/components/model-config-selector.tsx
  apps/web/components/settings/agent-profile-page.tsx
  apps/web/components/settings/profile-form-fields.tsx
  apps/web/lib/config-options.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: reuse profileconfig sanitizer and add cursor-pointer
  apps/backend/internal/agent/runtime/lifecycle/session.go
  apps/web/components/model-config-selector.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
