Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

fix(web): show tasks from all workflows in the mobile task-switcher sheet (#1025)
  apps/web/components/task/mobile/session-task-switcher-sheet-hooks.ts
  apps/web/components/task/mobile/session-task-switcher-sheet.tsx
  apps/web/components/task/task-session-sidebar.tsx
  apps/web/hooks/domains/kanban/use-workspace-sidebar-tasks.test.ts
  apps/web/hooks/domains/kanban/use-workspace-sidebar-tasks.ts
  apps/web/lib/kanban/find-task.test.ts
  apps/web/lib/kanban/find-task.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(web): VS Code-style file icons and hover stage action in changes tree
  apps/web/components/task/changes-panel-file-row.tsx
  apps/web/components/task/changes-panel-tree.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): anchor new session to stale session's tab slot on env switch
  apps/web/components/task/dockview-session-tabs.test.ts
  apps/web/components/task/dockview-session-tabs.ts
  apps/web/lib/state/dockview-env-switch.test.ts
  apps/web/lib/state/dockview-env-switch.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(e2e): wait for backup-create job success before asserting table
  apps/web/e2e/tests/system/backups-page.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(logs): tighten path-injection sanitiser for CodeQL
  apps/backend/internal/system/logs/files.go
Due: gofmt, go-tests, go-lint

fix(web): force-add app/settings/system/logs/page.tsx
  .gitignore
  apps/web/app/settings/system/logs/page.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(e2e): poll for completed backup creation
  apps/web/components/settings/system/backups-table.tsx
  apps/web/e2e/tests/system/backups-page.spec.ts
  apps/web/hooks/domains/system/use-backups.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: tighten log allow-list timestamp validation, fix stale job id on repeated backup
  apps/backend/internal/system/logs/files.go
  apps/backend/internal/system/logs/files_test.go
  apps/web/components/settings/system/backups-table.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: address more PR review feedback (security + concurrency)
  apps/backend/internal/system/disk/usage.go
  apps/backend/internal/system/logs/files.go
  apps/web/app/settings/system/updates/page.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(system): address PR review findings on logs, backups, db-stats, updates, and sidebar badge
  apps/backend/internal/system/database/reset.go
  apps/backend/internal/system/database/stats.go
  apps/backend/internal/system/database/stats_test.go
  apps/backend/internal/system/logs/files.go
  apps/backend/internal/system/logs/files_test.go
  apps/backend/internal/system/logs/handler_test.go
  apps/backend/internal/system/updates/service.go
  apps/web/components/settings/settings-app-sidebar.tsx
  apps/web/components/settings/system/backups-table.tsx
  apps/web/components/settings/system/database-stats-card.tsx
  apps/web/lib/types/system.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(disk): fix flaky TestGet_SecondColdCallWhileComputingReturnsComputing
  apps/backend/internal/system/disk/usage_test.go
Due: gofmt, go-tests, go-lint

test(logs): cover Open + containedPath + symlink rejection
  apps/backend/internal/system/logs/files.go
  apps/backend/internal/system/logs/files_test.go
Due: gofmt, go-tests, go-lint

fix: restore createSystemSlice 3-arg call + semver/github bugs
  apps/backend/internal/system/updates/github.go
  apps/backend/internal/system/updates/semver.go
  apps/web/lib/state/store.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: address PR review feedback (logs package, dead routes, escapes)
  .github/workflows/frontend-tests.yml
  .gitignore
  apps/backend/internal/system/backups/handler.go
  apps/backend/internal/system/logs/files.go
  apps/backend/internal/system/logs/files_test.go
  apps/backend/internal/system/logs/handler.go
  apps/backend/internal/system/logs/handler_test.go
  apps/backend/internal/system/logs/tail.go
  apps/backend/internal/system/logs/tail_test.go
  apps/backend/internal/system/updates/handler.go
  apps/backend/internal/system/updates/handler_test.go
  apps/web/e2e/tests/system/sidebar-navigation.spec.ts
  apps/web/lib/state/store.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(task): cover lastAutoFilledTitleRef reset on empty taskName
  apps/web/components/task-create-dialog-effects.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(web): clarify edge cases in session-tab anchor fallbacks
  apps/web/components/task/dockview-session-tabs.ts
  apps/web/lib/state/dockview-env-switch.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): keep store.ts under max-lines after rebase
  apps/web/lib/state/store.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): preview chat images in modal
  apps/web/components/task/chat/context-items/image-item.tsx
  apps/web/components/task/chat/file-attachment.test.ts
  apps/web/components/task/chat/file-attachment.ts
  apps/web/components/task/chat/image-preview-dialog.tsx
  apps/web/components/task/chat/messages/chat-message.test.tsx
  apps/web/components/task/chat/messages/chat-message.tsx
  apps/web/components/task/chat/messages/rich-blocks.tsx
  apps/web/components/task/chat/queued-ghost-message.test.tsx
  apps/web/components/task/chat/queued-ghost-message.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): address chat image review feedback
  apps/web/components/task/chat/context-items/image-item.tsx
  apps/web/components/task/chat/file-attachment.test.ts
  apps/web/components/task/chat/image-preview-dialog.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): address image preview review feedback
  apps/web/components/task/chat/image-preview-dialog.tsx
  apps/web/components/task/chat/queued-ghost-message.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(mobile): trim PR to minimum required changes
  apps/web/app/globals.css
  apps/web/components/task/task-center-panel.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(mobile): revert touch-scroll hook from this PR — separate concern
  apps/web/components/task/passthrough-terminal.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(layout): constrain all groups, loosen e2e resize cap, drop stale docs
  apps/web/e2e/helpers/dockview-resize.ts
  apps/web/lib/state/layout-manager/applier.ts
  apps/web/lib/state/layout-manager/sizing.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(layout): mirror viewportBound clamp in e2e test cap helper
  apps/web/e2e/helpers/dockview-resize.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(editors): truncate file path in editor toolbar with hover-scroll (#1029)
  apps/web/components/editors/codemirror/codemirror-code-editor.tsx
  apps/web/components/editors/monaco/monaco-editor-toolbar.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(task): add per-group minimize state to dockview store
  apps/web/lib/state/dockview-store.test.ts
  apps/web/lib/state/dockview-store.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(task): add minimize button to dockview group header
  apps/web/app/dockview-theme.css
  apps/web/components/task/dockview-desktop-layout.tsx
  apps/web/components/task/dockview-group-actions.test.tsx
  apps/web/components/task/dockview-group-actions.tsx
  apps/web/components/task/dockview-header-actions.tsx
  apps/web/components/task/dockview-minimize-sync.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(task): tighten minimize-icon test, drop unused TID
  apps/web/components/task/dockview-group-actions.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(task): minimize-from-maximize used stale group ID
  apps/web/components/task/dockview-header-actions.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

perf(task): skip redundant data-attribute writes in minimize sync
  apps/web/components/task/dockview-minimize-sync.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(task): cover useMinimizedGroupSync hook
  apps/web/components/task/dockview-minimize-sync.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(task): defer minimize toggle to next RAF when exiting maximize
  apps/web/components/task/dockview-header-actions.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(task): guard deferred minimize against env-switch + redundant setSize
  apps/web/components/task/dockview-header-actions.tsx
  apps/web/components/task/dockview-minimize-sync.test.ts
  apps/web/components/task/dockview-minimize-sync.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(github): mobile-friendly /github page with sidebar drawer
  apps/web/app/github/github-page-client.tsx
  apps/web/components/github/my-github/list-toolbar.tsx
  apps/web/e2e/pages/mobile-github-page.ts
  apps/web/e2e/tests/github/mobile-github-sidebar.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(github): use data-testid for mobile toolbar title selector
  apps/web/components/github/my-github/list-toolbar.tsx
  apps/web/e2e/pages/mobile-github-page.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(cli-mode): route Preview chat input through PTY stdin in passthrough sessions
  apps/backend/internal/orchestrator/executor/executor_interaction.go
  apps/backend/internal/orchestrator/executor/executor_mocks_test.go
  apps/backend/internal/orchestrator/executor/executor_passthrough_prompt_test.go
Due: gofmt, go-tests, go-lint

feat(cli-mode): add Preview-screen compose box for passthrough sessions (#989)
  apps/web/components/task/preview-session-tabs.test.tsx
  apps/web/components/task/preview-session-tabs.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(cli-mode): warn when dropping attachments on passthrough prompts
  apps/backend/internal/orchestrator/executor/executor_interaction.go
  apps/backend/internal/orchestrator/executor/executor_passthrough_prompt_test.go
Due: gofmt, go-tests, go-lint

refactor(github): address mobile /github bot review feedback
  apps/web/app/github/github-page-client.tsx
  apps/web/e2e/pages/mobile-github-page.ts
Due: prettier-format, web-lint, web-tests, web-typecheck
