Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

test(web): cover AC.7's insertion indicator render and AC.9's real drop path
  apps/web/components/kanban/virtualized-column-task-list.test.tsx
  apps/web/components/kanban/virtualized-column-task-list.tsx
  apps/web/hooks/domains/kanban/use-swimlane-kanban-dnd.test.ts
  apps/web/lib/kanban/drop-classification.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

media: refreshed screenshots for PR #3614
  mobile-pr-delivery-capture--desktop-dashboard.png
  mobile-pr-delivery-capture--phone-dashboard.png
  mobile-pr-delivery-capture--phone-page-picker.png
  mobile-pr-delivery-capture--phone-task-views.png
  mobile-pr-delivery-capture--phone-views.png
Due: none

fix(web): close plan comment recovery edge cases
  apps/web/components/task/plan-comment-migration-notice.test.tsx
  apps/web/e2e/tests/session/plan-comment-recovery-helpers.ts
  apps/web/hooks/domains/comments/plan-comment-loading.test.ts
  apps/web/hooks/domains/comments/plan-comment-loading.ts
  apps/web/hooks/domains/comments/plan-comment-migration.test.ts
  apps/web/hooks/domains/comments/plan-comment-migration.ts
  apps/web/hooks/domains/comments/use-plan-comment-migration.test.tsx
  apps/web/hooks/domains/comments/use-plan-comment-migration.ts
  apps/web/hooks/domains/comments/use-plan-comments.test.tsx
  apps/web/lib/plan-comment-recovery.test.ts
  apps/web/scripts/lib/zh-hant-overrides.json
  apps/web/src/locales/en/task.json
  apps/web/src/locales/pseudo/task.json
  apps/web/src/locales/pt-pt/task.json
  apps/web/src/locales/zh-cn/task.json
  apps/web/src/locales/zh-hk/task.json
  apps/web/src/locales/zh-tw/task.json
  docs/plans/plan-comment-recovery/plan.md
  docs/plans/plan-comment-recovery/task-01-recover-plan-comment-context.md
  docs/specs/tasks/system-design/plan-comments.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): add reorder state fields to kanban test fixtures
  apps/web/components/kanban-card.render-stability.test.tsx
  apps/web/components/kanban/swimlane-container.render-stability.test.tsx
  apps/web/components/threads/thread-task-actions.test.tsx
  apps/web/lib/ws/handlers/kanban-priority.test.ts
  apps/web/lib/ws/handlers/kanban-workspace-orphaned.test.ts
  apps/web/lib/ws/handlers/workflows.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): remove dead virtualized kanban card helpers
  apps/web/components/kanban/virtualized-column-task-list.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

media: refresh PR #3616 screenshots at 81b997f
  desktop-comment-free.png
  desktop-saved-feedback.png
  mobile-comment-free.png
  mobile-saved-feedback.png
Due: none

fix(web): extract branch-policy refresh hook to clear post-merge line limit
  apps/web/components/task-create-dialog-setup.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(office): make ListStuckParents' backstop query dialect-portable
  apps/backend/internal/db/dialect/aggregate.go
  apps/backend/internal/db/dialect/aggregate_test.go
  apps/backend/internal/office/repository/sqlite/base.go
  apps/backend/internal/office/repository/sqlite/blockers.go
  apps/backend/internal/office/repository/sqlite/dashboard.go
  apps/backend/internal/office/repository/sqlite/tasks.go
  apps/backend/internal/office/repository/sqlite/wake_receipts.go
  apps/backend/internal/office/repository/sqlite/wake_receipts_postgres_test.go
Due: gofmt, go-tests, go-lint

fix(office): order RunnerProjection's third tier by created_at on both dialects
  apps/backend/internal/office/repository/sqlite/base.go
  apps/backend/internal/office/repository/sqlite/blockers.go
  apps/backend/internal/office/repository/sqlite/dashboard.go
  apps/backend/internal/office/repository/sqlite/tasks.go
  apps/backend/internal/office/repository/sqlite/wake_receipts.go
  apps/backend/internal/office/repository/sqlite/wake_receipts_postgres_test.go
  apps/backend/internal/office/repository/sqlite/wake_receipts_test.go
  apps/backend/internal/office/repository/sqlite/wake_receipts_wave_identity_postgres_test.go
Due: gofmt, go-tests, go-lint

fix(task): resolve pending interactions through currentTurnAuthority
  apps/backend/internal/task/repository/sqlite/pending_interactions.go
  apps/backend/internal/task/repository/sqlite/pending_interactions_postgres_test.go
  apps/backend/internal/task/repository/sqlite/pending_interactions_test.go
Due: gofmt, go-tests, go-lint

test(task): pin both currentTurnAuthority axes in pending-interaction tests
  apps/backend/internal/task/repository/sqlite/pending_interactions_postgres_test.go
  apps/backend/internal/task/repository/sqlite/pending_interactions_test.go
Due: gofmt, go-tests, go-lint

fix(office): close review-round-4 findings in wave identity feature
  apps/backend/internal/backendapp/main.go
  apps/backend/internal/office/repository/sqlite/participants.go
  apps/backend/internal/office/scheduler/reactivity.go
  apps/backend/internal/office/scheduler/reactivity_children_completed_wave_foreach_test.go
  apps/backend/internal/office/scheduler/reactivity_test.go
  apps/backend/internal/office/scheduler/run.go
  apps/backend/internal/office/scheduler/run_test.go
  apps/backend/internal/runs/service/service_test.go
  apps/backend/internal/runs/service/service_wave_coalesce_test.go
  apps/backend/internal/workflow/engine/phase2_callbacks.go
Due: gofmt, go-tests, go-lint

fix(tasks): remove review-round narration from orphan-reap comments
  apps/backend/internal/task/service/resource_cleanup_orphan_reap.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_ownership_test.go
Due: gofmt, go-tests, go-lint

fix(tasks): recheck cancellation before each orphan-reap signal
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_signal.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_signal_test.go
Due: gofmt, go-tests, go-lint

feat(tasks): reap orphaned host processes after workspace removal
  apps/backend/internal/task/handlers/process_handlers_test.go
  apps/backend/internal/task/repository/interface.go
  apps/backend/internal/task/repository/sqlite/session.go
  apps/backend/internal/task/service/resource_cleanup_jobs.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_e2e_test.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_host_darwin.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_host_linux.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_host_other.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_match.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_match_test.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_metrics.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_ownership.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_ownership_test.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_phase_test.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_roots_test.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_signal.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_signal_test.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_signal_unix.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_signal_windows.go
  apps/backend/internal/task/service/service.go
  docs/specs/tasks/README.md
  docs/specs/tasks/requirements/workspace-orphan-process-reaping.md
  docs/specs/tasks/system-design/workspace-orphan-process-reaping.md
Due: gofmt, go-tests, go-lint

fix(tasks): detach orphan-reap snapshot persistence from cancellation
  apps/backend/internal/task/service/resource_cleanup_orphan_reap.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_stopgate_test.go
Due: gofmt, go-tests, go-lint

fix(tasks): fail closed on ambiguous orphan-reap safety checks
  apps/backend/internal/task/service/resource_cleanup_orphan_reap.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_host_darwin.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_host_linux.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_host_parse.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_host_parse_test.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_metrics_test.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_ownership.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_ownership_test.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_phase_test.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_roots_test.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_signal.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_signal_test.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_stopgate_test.go
Due: gofmt, go-tests, go-lint

fix(tasks): reject orphan-reap lsof records with a raw control byte
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_host_parse.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_host_parse_test.go
Due: gofmt, go-tests, go-lint

fix(tasks): decouple orphan-reap root recording from the stop gate
  apps/backend/internal/task/service/resource_cleanup_jobs.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_metrics_test.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_phase_test.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_stopgate_test.go
Due: gofmt, go-tests, go-lint

fix(tasks): record orphan-reap root before cancellation can skip it
  apps/backend/internal/task/service/resource_cleanup_jobs.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_stopgate_test.go
Due: gofmt, go-tests, go-lint

fix(tasks): carry forward cancelled orphan-reap sigkill candidates
  apps/backend/internal/task/repository/interface.go
  apps/backend/internal/task/repository/sqlite/session.go
  apps/backend/internal/task/repository/sqlite/session_test.go
  apps/backend/internal/task/service/resource_cleanup_jobs.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_host_darwin.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_host_linux.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_host_other.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_host_parse.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_host_parse_test.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_match.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_metrics.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_ownership.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_ownership_test.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_phase_test.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_signal.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_signal_test.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_signal_unix.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_signal_windows.go
  apps/backend/internal/task/service/service.go
Due: gofmt, go-tests, go-lint

fix(tasks): reject a control byte in the pre-signal cwd re-verification
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_host_darwin.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_host_parse.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_host_parse_test.go
Due: gofmt, go-tests, go-lint

fix(tasks): drop AC shorthand citation from orphan-reap skip comment
  apps/backend/internal/task/service/resource_cleanup_orphan_reap.go
Due: gofmt, go-tests, go-lint

fix(tasks): fail closed when orphan-reap ancestry hits an unresolved ppid
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_host_parse.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_host_parse_test.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_ownership.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_ownership_test.go
Due: gofmt, go-tests, go-lint

fix(tasks): fail closed when the backend's own ancestry walk is unresolved
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_ownership.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_ownership_test.go
Due: gofmt, go-tests, go-lint

test(tasks): pin the exact live-state list ListLiveWorkspaceSessions uses
  apps/backend/internal/task/repository/sqlite/session_test.go
Due: gofmt, go-tests, go-lint

test(tasks): assert the Command field on persisted orphan-reap records
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_phase_test.go
Due: gofmt, go-tests, go-lint

fix(tasks): recheck cancellation before resolving orphan-reap survivors
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_signal.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_signal_test.go
Due: gofmt, go-tests, go-lint

fix(tasks): recheck cancellation per-candidate when resolving orphan-reap survivors
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_signal.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_signal_test.go
Due: gofmt, go-tests, go-lint

fix(tasks): stop timers on cancel and guard nil logger in orphan reap
  apps/backend/internal/task/service/resource_cleanup_orphan_reap.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_signal.go
  docs/specs/tasks/requirements/workspace-orphan-process-reaping.md
  docs/specs/tasks/system-design/workspace-orphan-process-reaping.md
Due: gofmt, go-tests, go-lint

fix(tasks): correct orphan reap's worktree containment direction
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_ownership.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_ownership_test.go
  docs/specs/tasks/requirements/workspace-orphan-process-reaping.md
  docs/specs/tasks/system-design/workspace-orphan-process-reaping.md
Due: gofmt, go-tests, go-lint

fix(ui): keep hosted mobile confirmations compact
  apps/web/app/github/github-page-client.tsx
  apps/web/app/gitlab/gitlab-page-client.tsx
  apps/web/components/confirmation/AGENTS.md
  apps/web/components/confirmation/mobile-confirmation-content.test.tsx
  apps/web/components/confirmation/mobile-confirmation-content.tsx
  apps/web/components/confirmation/mobile-confirmation-host.test.tsx
  apps/web/components/confirmation/mobile-confirmation-host.tsx
  apps/web/components/integrations/integration-filters-sheet.tsx
  apps/web/components/task/mobile/mobile-picker-sheet.tsx
  apps/web/components/task/mobile/task-switcher-drawer.tsx
  apps/web/components/task/sidebar-filter/sidebar-filter-popover.tsx
  apps/web/components/threads/threads-view-controls.tsx
  apps/web/e2e/helpers/mobile-confirmations.ts
  apps/web/e2e/tests/github/mobile-github-sidebar.spec.ts
  apps/web/e2e/tests/gitlab/mobile-gitlab-parity.spec.ts
  apps/web/e2e/tests/session/mobile-session-deletion.spec.ts
  apps/web/e2e/tests/task/mobile-action-confirmations.spec.ts
  apps/web/e2e/tests/task/mobile-sidebar-views.spec.ts
  apps/web/e2e/tests/task/mobile-threads-view.spec.ts
  apps/web/e2e/tests/terminal/mobile-terminal-close.spec.ts
  docs/plans/mobile-confirmation-sheet-sizing/plan.md
  docs/plans/mobile-confirmation-sheet-sizing/task-01-compact-drawer-hosts.md
  docs/plans/mobile-confirmation-sheet-sizing/task-02-bottom-filter-hosts.md
  docs/public/mobile-remote-access.md
  docs/specs/ui/requirements/mobile-action-confirmations.md
  docs/specs/ui/system-design/mobile-action-confirmations.md
Due: prettier-format, web-lint, web-tests, web-typecheck

media: screenshots for PR #3621
  desktop-saved-view.png
  phone-archive.png
  phone-provider-confirmation.png
  phone-provider-filters.png
  phone-saved-view.png
  tablet-filters.png
Due: none

fix(tasks): extract repeated orphan-reap signal-sent strings to constants
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_signal.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_signal_test.go
Due: gofmt, go-tests, go-lint

fix(ci): avoid Kubernetes E2E package-install timeout
  apps/web/e2e/fixtures/kubernetes-tools.ts
  apps/web/e2e/scripts/kubernetes-pins.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: harden persistent motion visibility controls
  apps/packages/ui/src/compositor-pulse.tsx
  apps/packages/ui/src/compositor-spin.tsx
  apps/packages/ui/src/index.ts
  apps/packages/ui/src/persistent-motion-visibility.tsx
  apps/web/components/grid-spinner.test.tsx
  apps/web/components/grid-spinner.tsx
  apps/web/e2e/helpers/animation-assertions.ts
  apps/web/e2e/tests/chat/animation-performance-trace.spec.ts
  apps/web/e2e/tests/chat/mobile-persistent-animation-motion.spec.ts
  apps/web/e2e/tests/chat/persistent-animation-motion.spec.ts
  apps/web/lib/ui/compositor-pulse.test.tsx
  apps/web/lib/ui/compositor-spin.test.tsx
  apps/web/lib/ui/persistent-motion-visibility.test.tsx
  apps/web/lib/ui/state-icons.test.tsx
  docs/plans/frontend-rendering-cpu/evidence.md
  docs/plans/frontend-rendering-cpu/plan.md
  docs/plans/frontend-rendering-cpu/task-01-attribute-rendering.md
  docs/plans/frontend-rendering-cpu/task-04-pause-hidden-motion.md
Due: prettier-format, web-lint, web-tests, web-typecheck

perf: pause hidden status motion
  apps/packages/ui/src/compositor-pulse.tsx
  apps/packages/ui/src/compositor-spin.tsx
  apps/packages/ui/src/index.ts
  apps/packages/ui/src/persistent-motion-visibility.tsx
  apps/web/components/grid-spinner.test.tsx
  apps/web/components/grid-spinner.tsx
  apps/web/components/task/chat/token-usage-display.test.tsx
  apps/web/components/task/chat/token-usage-display.tsx
  apps/web/e2e/helpers/animation-assertions.ts
  apps/web/e2e/tests/chat/animation-performance-trace.spec.ts
  apps/web/e2e/tests/chat/context-window-source-helpers.ts
  apps/web/e2e/tests/chat/context-window-source.spec.ts
  apps/web/e2e/tests/chat/mobile-context-window-source.spec.ts
  apps/web/e2e/tests/chat/mobile-persistent-animation-motion.spec.ts
  apps/web/e2e/tests/chat/persistent-animation-motion.spec.ts
  apps/web/lib/ui/compositor-pulse.test.tsx
  apps/web/lib/ui/persistent-motion-visibility.test.tsx
  apps/web/lib/ui/state-icons.test.tsx
  docs/plans/frontend-rendering-cpu/evidence.md
  docs/plans/frontend-rendering-cpu/plan.md
  docs/plans/frontend-rendering-cpu/task-01-attribute-rendering.md
  docs/plans/frontend-rendering-cpu/task-02-bound-ring-transitions.md
  docs/plans/frontend-rendering-cpu/task-03-repair-rendering-trigger.md
  docs/plans/frontend-rendering-cpu/task-04-pause-hidden-motion.md
  docs/specs/ui/requirements/persistent-status-motion.md
  docs/specs/ui/system-design/persistent-status-motion.md
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: show task attachments during workspace preparation
  apps/backend/internal/orchestrator/initial_prompt_preview_test.go
  apps/backend/internal/orchestrator/session_launch.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/task/handlers/task_http_handlers.go
  apps/backend/internal/task/handlers/task_http_handlers_initial_preview_test.go
  apps/backend/internal/task/models/initial_prompt_preview.go
  apps/backend/internal/task/models/initial_prompt_preview_test.go
  apps/web/components/task/chat/messages/chat-message.tsx
  apps/web/components/task/chat/use-chat-panel-state.ts
  apps/web/e2e/helpers/preparation-attachments.ts
  apps/web/e2e/tests/task/mobile-preparation-attachments.spec.ts
  apps/web/e2e/tests/task/preparation-attachments.spec.ts
  apps/web/hooks/initial-prompt-preview.ts
  apps/web/hooks/use-processed-messages-initial-preview.test.ts
  apps/web/hooks/use-processed-messages.ts
  docs/plans/preparation-attachment-previews/plan.md
  docs/plans/preparation-attachment-previews/task-01-initial-attachment-previews.md
  docs/public/tasks-and-workflows.md
  docs/specs/tasks/requirements/prompt-attachments.md
  docs/specs/tasks/system-design/prompt-attachments.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: preserve initial previews across passthrough launches
  apps/backend/internal/orchestrator/initial_prompt_preview_test.go
  apps/backend/internal/orchestrator/session_launch.go
  apps/web/e2e/helpers/preparation-attachments.ts
  apps/web/e2e/tests/chat/mention-recency.spec.ts
  apps/web/hooks/initial-prompt-preview.ts
  apps/web/hooks/use-processed-messages-initial-preview.test.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: harden workspace restoration review paths
  apps/backend/internal/agent/runtime/lifecycle/manager_execution.go
  apps/backend/internal/agent/runtime/lifecycle/manager_execution_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_launch.go
  apps/backend/internal/agent/runtime/lifecycle/manager_passthrough.go
  apps/backend/internal/agent/runtime/lifecycle/manager_startup.go
  apps/backend/internal/agent/runtime/lifecycle/manager_workspace_admission.go
  apps/backend/internal/agent/runtime/lifecycle/manager_workspace_restore_test.go
  apps/backend/internal/orchestrator/handlers/handlers.go
  apps/backend/internal/orchestrator/session_launch.go
  apps/backend/internal/orchestrator/session_launch_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/task_operations_test.go
  apps/web/components/task/changes-panel-body.tsx
  apps/web/components/task/changes-panel-data.tsx
  apps/web/components/task/ensure-session-error.test.tsx
  apps/web/components/task/file-browser-content-area.tsx
  apps/web/components/task/file-browser.tsx
  apps/web/components/task/passthrough-terminal.tsx
  apps/web/components/task/shell-terminal.tsx
  apps/web/components/task/task-changes-panel.tsx
  apps/web/components/task/workspace-unavailable.tsx
  apps/web/e2e/tests/session/completed-session-resume.spec.ts
  apps/web/e2e/tests/session/completed-workspace-restoration.spec.ts
  apps/web/e2e/tests/session/mobile-completed-session-resume.spec.ts
  apps/web/e2e/tests/session/mobile-completed-workspace-restoration.spec.ts
  apps/web/hooks/domains/session/use-session-resumption-operations.ts
  apps/web/hooks/domains/session/use-session-resumption-request-guard.ts
  apps/web/hooks/domains/session/use-session-resumption.test.ts
  apps/web/hooks/domains/session/use-workspace-restoration.test.ts
  apps/web/hooks/domains/session/use-workspace-restoration.ts
  apps/web/lib/services/session-recovery-service.ts
  apps/web/lib/state/slices/session-runtime/migrate-env-keyed-data.test.ts
  apps/web/lib/state/slices/session-runtime/session-runtime-slice.ts
  apps/web/lib/state/slices/session-runtime/workspace-restoration.test.ts
  apps/web/lib/state/slices/session-runtime/workspace-restoration.ts
  apps/web/lib/ws/handlers/agent-session.test.ts
  apps/web/lib/ws/handlers/agent-session.ts
  docs/plans/completed-workspace-restoration/plan.md
  docs/plans/completed-workspace-restoration/task-01-workspace-admission.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
