Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

fix(web): align empty sidebar task message
  apps/web/components/app-sidebar/sections/tasks-section.tsx
  apps/web/components/task/task-switcher.tsx
  apps/web/e2e/tests/task/mobile-task-listing-display.spec.ts
  apps/web/e2e/tests/task/sidebar-scroll-preservation.spec.ts
  docs/plans/sidebar-empty-task-alignment/plan.md
  docs/plans/sidebar-empty-task-alignment/task-01-align-empty-task-message.md
  docs/specs/INDEX.md
  docs/specs/ui/sidebar-empty-task-alignment.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(integrations): restore legacy toggles per workspace, not install-wide
  apps/web/components/app-sidebar/sections/settings/use-settings-menu-branches.ts
  apps/web/components/integrations/integration-enabled-controls.test.tsx
  apps/web/hooks/domains/azure-devops/use-azure-devops-enabled.test.ts
  apps/web/hooks/domains/github/use-github-enabled.test.ts
  apps/web/hooks/domains/gitlab/use-gitlab-enabled.test.ts
  apps/web/hooks/domains/integrations/use-integration-enabled.test.ts
  apps/web/hooks/domains/integrations/use-integration-enabled.ts
  apps/web/hooks/domains/linear/use-linear-enabled.test.ts
  apps/web/hooks/use-nav-availability.test.ts
  apps/web/hooks/use-nav-availability.ts
  docs/specs/integrations/enable-disable-toggle.md
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: make sidebar verification commands shell-safe
  docs/plans/sidebar-empty-task-alignment/task-01-align-empty-task-message.md
Due: none

test(integrations): name the surviving-workspace id in the nav test
  apps/web/hooks/use-nav-availability.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(agents): expose kandev MCP tools to custom TUI agents
  apps/backend/internal/agent/agents/agent.go
  apps/backend/internal/agent/agents/tui_agent.go
  apps/backend/internal/agent/agents/tui_agent_test.go
  apps/backend/internal/agent/mcpconfig/strategy_registry.go
  apps/backend/internal/agent/mcpconfig/strategy_registry_test.go
  apps/backend/internal/agent/registry/custom_tui.go
  apps/backend/internal/agent/registry/custom_tui_test.go
  apps/backend/internal/agent/registry/registry_test.go
  apps/backend/internal/agent/runtime/lifecycle/container.go
  apps/backend/internal/agent/runtime/lifecycle/executor_docker.go
  apps/backend/internal/agent/runtime/lifecycle/executor_standalone.go
  apps/backend/internal/agent/settings/controller/controller.go
  apps/backend/internal/agent/settings/controller/custom_tui.go
  apps/backend/internal/agent/settings/controller/custom_tui_test.go
  apps/backend/internal/agent/settings/controller/profile_crud.go
  apps/backend/internal/agent/settings/dto/dto.go
  apps/backend/internal/agent/settings/handlers/custom_tui_handlers.go
  apps/backend/internal/agent/settings/handlers/handlers.go
  apps/backend/internal/agent/settings/models/models.go
  apps/backend/internal/backendapp/services.go
  apps/backend/internal/orchestrator/event_handlers_workflow_session_config_test.go
  apps/web/app/settings/agents/[agentId]/custom-tui-mcp-card.tsx
  apps/web/app/settings/agents/[agentId]/page.tsx
  apps/web/app/settings/agents/page.tsx
  apps/web/components/settings/add-tui-agent-dialog.tsx
  apps/web/components/settings/mcp-strategy-select.test.tsx
  apps/web/components/settings/mcp-strategy-select.tsx
  apps/web/eslint.i18n.options.mjs
  apps/web/lib/api/domains/settings-api.ts
  apps/web/lib/types/http-agents.ts
  apps/web/src/locales/en/agents.json
  apps/web/src/locales/pseudo/agents.json
  apps/web/src/locales/pt-pt/agents.json
  apps/web/src/locales/zh-cn/agents.json
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(i18n): translate MCP strategy copy for zh-hk and zh-tw
  apps/web/src/locales/zh-hk/agents.json
  apps/web/src/locales/zh-tw/agents.json
Due: prettier-format

fix(agents): persist and surface the custom TUI MCP strategy
  apps/backend/internal/agent/registry/custom_tui.go
  apps/backend/internal/agent/registry/custom_tui_mcp_test.go
  apps/backend/internal/agent/settings/controller/custom_tui.go
  apps/backend/internal/agent/settings/controller/reconciler_test.go
  apps/backend/internal/agent/settings/handlers/custom_tui_handlers.go
  apps/backend/internal/agent/settings/store/sqlite.go
  apps/backend/internal/agent/settings/store/sqlite_tui_update_test.go
  apps/backend/pkg/websocket/actions.go
  apps/web/app/settings/agents/[agentId]/custom-tui-mcp-card.tsx
  apps/web/app/settings/agents/[agentId]/page.tsx
  apps/web/app/settings/agents/custom-tui-mcp-mount.test.tsx
  apps/web/app/settings/agents/page.tsx
  apps/web/components/settings/custom-tui-mcp-card.tsx
  apps/web/lib/types/backend.ts
  apps/web/lib/ws/handlers/agents-settings-updated.test.ts
  apps/web/lib/ws/handlers/agents.ts
  apps/web/src/locales/en/agents.json
  apps/web/src/locales/pseudo/agents.json
  apps/web/src/locales/pt-pt/agents.json
  apps/web/src/locales/zh-cn/agents.json
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(backend): cover settings, workflow and utility handler routes
  apps/backend/internal/agent/settings/handlers/agent_crud_handlers_test.go
  apps/backend/internal/agent/settings/handlers/discovery_handlers_test.go
  apps/backend/internal/agent/settings/handlers/mcp_config_handlers_test.go
  apps/backend/internal/agent/settings/handlers/profile_crud_handlers_test.go
  apps/backend/internal/agent/settings/handlers/profile_duplicate_handlers_test.go
  apps/backend/internal/utility/handlers/crud_handlers_test.go
  apps/backend/internal/utility/handlers/execute_handlers_test.go
  apps/backend/internal/utility/handlers/fixture_test.go
  apps/backend/internal/utility/handlers/handlers_integration_test.go
  apps/backend/internal/utility/handlers/handlers_test.go
  apps/backend/internal/workflow/handlers/http_handlers_test.go
  apps/backend/internal/workflow/handlers/step_events_test.go
  apps/backend/internal/workflow/handlers/ws_handlers_test.go
Due: gofmt, go-tests, go-lint

test(backend): guard fake utility repo error injection with its mutex
  apps/backend/internal/utility/handlers/crud_handlers_test.go
  apps/backend/internal/utility/handlers/fixture_test.go
  apps/backend/internal/workflow/handlers/http_handlers_test.go
Due: gofmt, go-tests, go-lint

test(backend): drop deleted ids from the fake utility repo ordering
  apps/backend/internal/utility/handlers/crud_handlers_test.go
  apps/backend/internal/utility/handlers/fixture_test.go
Due: gofmt, go-tests, go-lint

feat: collapse task creation advanced settings
  apps/web/components/task-create-dialog-advanced-settings.test.tsx
  apps/web/components/task-create-dialog-advanced-settings.tsx
  apps/web/components/task-create-dialog-form-body.test.tsx
  apps/web/components/task-create-dialog-form-body.tsx
  apps/web/components/task-create-dialog.tsx
  apps/web/e2e/tests/task/create-task-dependency-selector.spec.ts
  apps/web/e2e/tests/task/mobile-create-task-dependency-selector.spec.ts
  apps/web/src/locales/en/task.json
  apps/web/src/locales/pseudo/task.json
  docs/plans/task-create-advanced-settings/plan.md
  docs/plans/task-create-advanced-settings/task-01-advanced-settings-ui.md
  docs/plans/task-create-advanced-settings/task-02-advanced-settings-e2e.md
  docs/specs/INDEX.md
  docs/specs/task-dependencies/create-dialog-advanced-settings.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): replace fixed sleeps in chat message-queue specs
  apps/web/e2e/helpers/type-while-busy.ts
  apps/web/e2e/tests/chat/message-queue-pin.spec.ts
  apps/web/e2e/tests/chat/message-queue-reorder.spec.ts
  apps/web/e2e/tests/chat/message-queue.spec.ts
  apps/web/e2e/tests/chat/mobile-message-queue-management.spec.ts
  apps/web/e2e/tests/chat/mobile-message-queue-reorder.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(e2e): compute Playwright-parity flake rate and trend history
  apps/web/e2e/scripts/e2e-timings.ts
  apps/web/e2e/scripts/flake-report.test.ts
  apps/web/e2e/scripts/flake-report.ts
  apps/web/e2e/scripts/retry-summary.test.ts
  apps/web/e2e/scripts/retry-summary.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): add causal-wait primitives for HTTP and WS signals
  apps/web/e2e/helpers/causal-waits.test.ts
  apps/web/e2e/helpers/causal-waits.ts
  apps/web/e2e/helpers/wait-for-mutation.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): replace fixed sleeps in the remaining chat specs
  apps/web/e2e/tests/chat/agent-message-attribution.spec.ts
  apps/web/e2e/tests/chat/auto-scroll-toggle.spec.ts
  apps/web/e2e/tests/chat/busy-signal.spec.ts
  apps/web/e2e/tests/chat/kandev-system-wrap.spec.ts
  apps/web/e2e/tests/chat/last-prompt-scroll.spec.ts
  apps/web/e2e/tests/chat/markdown-preview.spec.ts
  apps/web/e2e/tests/chat/message-timestamp-tooltip.spec.ts
  apps/web/e2e/tests/chat/mobile-busy-signal.spec.ts
  apps/web/e2e/tests/chat/tool-execute-output.spec.ts
  apps/web/e2e/tests/chat/toolbar-overflow.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): wait on causal signals in three known-flaky specs
  apps/web/e2e/helpers/causal-waits.test.ts
  apps/web/e2e/helpers/causal-waits.ts
  apps/web/e2e/tests/office/comment-run-status.spec.ts
  apps/web/e2e/tests/task/create-task-new-local-repository.spec.ts
  apps/web/e2e/tests/task/mobile-plan-toolbar-implement.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

ci(e2e): surface the flake rate and its trend in the job summary
  .github/workflows/e2e-tests.yml
  apps/web/e2e/README.md
  apps/web/e2e/scripts/__fixtures__/playwright-parity/README.md
  apps/web/e2e/scripts/__fixtures__/playwright-parity/playwright-stats.json
  apps/web/e2e/scripts/__fixtures__/playwright-parity/report.jsonl
  apps/web/e2e/scripts/flake-report.test.ts
  apps/web/e2e/scripts/flake-report.ts
  apps/web/e2e/scripts/retry-summary.test.ts
  apps/web/e2e/scripts/retry-summary.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(e2e): document the causal-wait convention
  apps/web/AGENTS.md
  apps/web/e2e/README.md
Due: prettier-format

test(e2e): replace fixed sleeps in task specs
  apps/web/e2e/helpers/settled-box.ts
  apps/web/e2e/tests/task/create-task-repository-tooltip.spec.ts
  apps/web/e2e/tests/task/file-tree-rename.spec.ts
  apps/web/e2e/tests/task/mobile-create-task-repository-selection.spec.ts
  apps/web/e2e/tests/task/mobile-subtask-reparent-drag-drop.spec.ts
  apps/web/e2e/tests/task/plan-checkpointing.spec.ts
  apps/web/e2e/tests/task/sidebar-layout.spec.ts
  apps/web/e2e/tests/task/sidebar-scroll-preservation.spec.ts
  apps/web/e2e/tests/task/subtask-reparent-drag-drop.spec.ts
  apps/web/e2e/tests/task/task-default-layout.spec.ts
  apps/web/e2e/tests/task/task-dependencies.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(backend): report missing agent profile and unknown agent as 404
  apps/backend/internal/agent/settings/controller/agent_config.go
  apps/backend/internal/agent/settings/controller/profile_crud.go
  apps/backend/internal/agent/settings/controller/profile_crud_soft_delete_test.go
  apps/backend/internal/agent/settings/handlers/discovery_handlers_test.go
  apps/backend/internal/agent/settings/handlers/profile_crud_handlers_test.go
  apps/backend/internal/mcp/handlers/config_agent_handlers.go
  apps/backend/internal/mcp/handlers/config_agent_handlers_test.go
Due: gofmt, go-tests, go-lint

test(e2e): mark deliberate sleeps with a machine-detectable marker
  apps/web/e2e/helpers/type-while-busy.ts
  apps/web/e2e/tests/chat/auto-scroll-toggle.spec.ts
  apps/web/e2e/tests/chat/message-timestamp-tooltip.spec.ts
  apps/web/e2e/tests/chat/mobile-message-queue-reorder.spec.ts
  apps/web/e2e/tests/chat/tool-execute-output.spec.ts
  apps/web/e2e/tests/task/create-task-repository-tooltip.spec.ts
  apps/web/e2e/tests/task/file-tree-rename.spec.ts
  apps/web/e2e/tests/task/mobile-create-task-repository-selection.spec.ts
  apps/web/e2e/tests/task/mobile-subtask-reparent-drag-drop.spec.ts
  apps/web/e2e/tests/task/sidebar-layout.spec.ts
  apps/web/e2e/tests/task/sidebar-scroll-preservation.spec.ts
  apps/web/e2e/tests/task/task-dependencies.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: stamp occurred_at after the transactional lock, not before BeginTx
  apps/backend/internal/task/repository/sqlite/task.go
Due: gofmt, go-tests, go-lint

fix: pin updateTaskTx after upstream WIP-queueing extracted it from UpdateTask
  apps/backend/internal/task/repository/sqlite/step_transition_writers_pin_test.go
Due: gofmt, go-tests, go-lint

test(e2e): add dwell, the only sanctioned wall-clock wait
  apps/web/AGENTS.md
  apps/web/e2e/README.md
  apps/web/e2e/helpers/causal-waits.test.ts
  apps/web/e2e/helpers/causal-waits.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: add barrier-controlled Postgres concurrency coverage for the ledger writer
  apps/backend/internal/task/repository/sqlite/step_transitions_writer_postgres_test.go
Due: gofmt, go-tests, go-lint

fix(backend): log only unclassified MCP profile-delete failures
  apps/backend/internal/mcp/handlers/config_agent_handlers.go
Due: gofmt, go-tests, go-lint

fix(e2e): count each --repeat-each repetition as its own execution
  .github/workflows/e2e-tests.yml
  apps/web/e2e/scripts/__fixtures__/repeat-each-parity/README.md
  apps/web/e2e/scripts/__fixtures__/repeat-each-parity/playwright-stats.json
  apps/web/e2e/scripts/__fixtures__/repeat-each-parity/report.jsonl
  apps/web/e2e/scripts/e2e-timings.ts
  apps/web/e2e/scripts/flake-report.test.ts
  apps/web/e2e/scripts/flake-report.ts
  apps/web/e2e/scripts/retry-summary.test.ts
  apps/web/e2e/scripts/retry-summary.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): give dwell a typed, runtime-validated category
  apps/web/AGENTS.md
  apps/web/e2e/README.md
  apps/web/e2e/helpers/causal-waits.test.ts
  apps/web/e2e/helpers/causal-waits.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: move advanced task settings to dialog footer
  apps/web/components/task-create-dialog.tsx
  apps/web/e2e/tests/task/create-task-dependency-selector.spec.ts
  docs/plans/task-create-advanced-settings/plan.md
  docs/plans/task-create-advanced-settings/task-01-advanced-settings-ui.md
  docs/plans/task-create-advanced-settings/task-02-advanced-settings-e2e.md
  docs/specs/task-dependencies/create-dialog-advanced-settings.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: attribute MCP-created task genesis row to the source session
  apps/backend/internal/mcp/handlers/config_task_handlers_ledger_test.go
  apps/backend/internal/mcp/handlers/handlers.go
Due: gofmt, go-tests, go-lint

test(e2e): add a page-less dwell overload
  apps/web/AGENTS.md
  apps/web/e2e/README.md
  apps/web/e2e/helpers/causal-waits.test.ts
  apps/web/e2e/helpers/causal-waits.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): fix three waits that could not fail
  apps/web/e2e/helpers/settled-box.ts
  apps/web/e2e/tests/chat/busy-signal.spec.ts
  apps/web/e2e/tests/chat/mobile-busy-signal.spec.ts
  apps/web/e2e/tests/chat/mobile-message-queue-reorder.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(e2e): reject typeless frames in waitForEvent
  apps/web/e2e/helpers/causal-waits.test.ts
  apps/web/e2e/helpers/causal-waits.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: rename step-transition metric to make insert-not-commit semantics explicit
  apps/backend/internal/steptelemetry/metrics.go
  apps/backend/internal/steptelemetry/metrics_test.go
  apps/backend/internal/steptelemetry/metrics_vars.go
  apps/backend/internal/task/repository/sqlite/step_transitions.go
Due: gofmt, go-tests, go-lint

test(e2e): add injectLatency for deliberate response slowdowns
  apps/web/AGENTS.md
  apps/web/e2e/README.md
  apps/web/e2e/helpers/causal-waits.test.ts
  apps/web/e2e/helpers/causal-waits.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(backend): address maintainer review on commit-capture telemetry
  apps/backend/internal/orchestrator/commit_capture_failure_test.go
  apps/backend/internal/orchestrator/commit_capture_metrics.go
  apps/backend/internal/orchestrator/event_handlers_agent.go
  apps/backend/internal/orchestrator/event_handlers_agent_commit_sweep_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/plugins/host_data_mappers.go
  apps/backend/internal/plugins/host_data_test.go
  apps/backend/internal/plugins/host_data_wire_test.go
  apps/backend/pkg/pluginsdk/data_types.go
  apps/backend/pkg/pluginsdk/data_types_test.go
  apps/backend/pkg/pluginsdk/host_data_test.go
  apps/backend/proto/kandev/plugin/v1/plugin.pb.go
  apps/backend/proto/kandev/plugin/v1/plugin.proto
Due: gofmt, go-tests, go-lint

ci(e2e): log the flake cross-check verdict on every run, not just mismatches
  apps/web/e2e/README.md
  apps/web/e2e/scripts/flake-report.test.ts
  apps/web/e2e/scripts/flake-report.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): replace fixed sleeps in office specs
  apps/web/e2e/tests/office/advanced-mode.spec.ts
  apps/web/e2e/tests/office/agent-run-detail.spec.ts
  apps/web/e2e/tests/office/mobile-tasks.spec.ts
  apps/web/e2e/tests/office/office-routing-agent-override.spec.ts
  apps/web/e2e/tests/office/office-routing-blocked.spec.ts
  apps/web/e2e/tests/office/office-routing-fallback.spec.ts
  apps/web/e2e/tests/office/office-routing-recovery.spec.ts
  apps/web/e2e/tests/office/onboarding-task-launch.spec.ts
  apps/web/e2e/tests/office/realtime-dashboard.spec.ts
  apps/web/e2e/tests/office/task-chat.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
