Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

fix(office): validate cron fires against schedule wall-clock fields
  apps/backend/internal/office/shared/cron.go
  apps/backend/internal/office/shared/cron_test.go
  docs/specs/office/requirements/scheduler.md
  docs/specs/office/system-design/scheduler-01.md
Due: gofmt, go-tests, go-lint

fix(office): correct Lord_Howe DST spec claim, whole day is skipped
  apps/backend/internal/office/shared/cron_test.go
  docs/specs/office/requirements/scheduler.md
  docs/specs/office/system-design/scheduler-01.md
Due: gofmt, go-tests, go-lint

fix(office): re-arm cron trigger on recoverable catch-up failure
  apps/backend/internal/office/routines/service.go
  apps/backend/internal/office/routines/service_cron_advance_failure_test.go
Due: gofmt, go-tests, go-lint

fix(office): recover Lord_Howe cron fires lost across its 30-min DST shift
  apps/backend/internal/office/shared/cron.go
  apps/backend/internal/office/shared/cron_test.go
  docs/specs/office/requirements/scheduler.md
  docs/specs/office/system-design/scheduler-01.md
Due: gofmt, go-tests, go-lint

fix(office): harden cron transitions and migration errors
  apps/backend/internal/office/repository/sqlite/base_migrations.go
  apps/backend/internal/office/repository/sqlite/base_migrations_routine_timezone_postgres_test.go
  apps/backend/internal/office/repository/sqlite/base_migrations_routine_timezone_test.go
  apps/backend/internal/office/shared/cron.go
  apps/backend/internal/office/shared/cron_edge_cases_test.go
Due: gofmt, go-tests, go-lint

fix(office): correct dayMatches comment and fail loudly on schedule type mismatch
  apps/backend/internal/office/shared/cron.go
Due: gofmt, go-tests, go-lint

media: reviewed screenshots for PR #3626
  desktop-grid-ci-only.png
  desktop-grid-composer.png
  desktop-view-settings.png
  phone-chat.png
  phone-protected-draft.png
  phone-view-settings.png
Due: none

media: refresh screenshots for PR #3627
  git-changes-panel--remote-contribution-menu-desktop.png
  mobile-pr-checkout-drift--remote-contribution-menu-mobile.png
Due: none

fix(office): store trigger enabled flags portably
  apps/backend/internal/office/repository/sqlite/routines.go
Due: gofmt, go-tests, go-lint

fix: reset chat mention suggestions after Escape
  apps/web/components/task/chat/tiptap-suggestion.test.ts
  apps/web/components/task/chat/tiptap-suggestion.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: derive managed runtime versions from catalogue
  apps/backend/internal/agent/agents/ACP_BRIDGE_VERSIONS.md
  docs/decisions/0034-agentclientprotocol-codex-acp.md
  docs/specs/agents/system-design/mcp-timeout-budgets.md
Due: none

fix(office): make completion updates atomic and gate errors explicit
  apps/backend/internal/office/dashboard/approval_gate_step_test.go
  apps/backend/internal/office/dashboard/decisions.go
  apps/backend/internal/office/dashboard/decisions_test.go
  apps/backend/internal/office/dashboard/handler.go
  apps/backend/internal/office/dashboard/service.go
  apps/backend/internal/office/dashboard/service_tasks.go
  apps/backend/internal/office/dashboard/status_change_activity_test.go
  apps/backend/internal/office/repository/sqlite/tasks.go
  apps/backend/internal/office/repository/sqlite/terminal_step_test.go
  apps/backend/internal/orchestrator/event_handlers_children_completed.go
  apps/backend/internal/orchestrator/office_task_status_test.go
  apps/backend/internal/task/service/service_events_test.go
  apps/web/lib/api/domains/office-status-gate.test.ts
  apps/web/lib/api/domains/office-status-gate.ts
  apps/web/src/locales/en/task.json
  apps/web/src/locales/pseudo/task.json
  apps/web/src/locales/pt-pt/task.json
  apps/web/src/locales/zh-cn/task.json
  apps/web/src/locales/zh-hk/task.json
  apps/web/src/locales/zh-tw/task.json
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

media: screenshots for PR #3628
  desktop-release-review.png
  phone-release-review.png
Due: none

chore(threads): remove unused layout label translations
  apps/web/src/locales/en/threads.json
  apps/web/src/locales/pseudo/threads.json
  apps/web/src/locales/pt-pt/threads.json
  apps/web/src/locales/zh-cn/threads.json
  apps/web/src/locales/zh-hk/threads.json
  apps/web/src/locales/zh-tw/threads.json
Due: prettier-format

test: make history observer shims portable
  apps/backend/internal/agentctl/server/process/git_contribution_history_edge_test.go
  apps/backend/internal/agentctl/server/process/testmain_test.go
Due: gofmt, go-tests, go-lint

fix: address contribution history review findings
  apps/backend/internal/backendapp/e2e_reset.go
  apps/backend/internal/backendapp/e2e_reset_test.go
  apps/web/components/task/remote-contribution-header-actions.test.tsx
  apps/web/components/task/remote-contribution-header-actions.tsx
  apps/web/components/vcs-split-button-parts.tsx
  apps/web/components/vcs-split-button.test.ts
  apps/web/components/vcs-split-button.tsx
  apps/web/e2e/tests/git/git-changes-panel.spec.ts
  apps/web/e2e/tests/git/mobile-pr-checkout-drift.spec.ts
  apps/web/hooks/domains/session/use-contribution-history-explanation.test.tsx
  apps/web/hooks/domains/session/use-contribution-history-explanation.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(ci): harden pull request documentation coverage
  .github/AGENTS.md
  .github/scripts/pr-docs-workflow-contract_test.py
  .github/scripts/pr-docs.cjs
  .github/scripts/pr-docs.test.cjs
  .github/workflows/lint-action-pinning.yml
  .github/workflows/pr-docs.yml
  Makefile
  docs/ci-merge-queue.md
  docs/plans/pr-documentation-coverage/plan.md
  docs/plans/pr-documentation-coverage/task-01-coverage-validator.md
  docs/plans/pr-documentation-coverage/task-02-pr-workflow.md
  docs/plans/pr-documentation-coverage/task-03-queue-coverage.md
  docs/specs/ci/system-design/pull-request-documentation-coverage.md
Due: none

fix(ci): preserve documentation coverage reevaluations
  .github/AGENTS.md
  .github/scripts/pr-docs-workflow-contract_test.py
  .github/scripts/pr-docs.cjs
  .github/scripts/pr-docs.test.cjs
  .github/workflows/pr-docs.yml
  docs/ci-merge-queue.md
  docs/plans/pr-documentation-coverage/plan.md
  docs/plans/pr-documentation-coverage/task-01-coverage-validator.md
  docs/plans/pr-documentation-coverage/task-02-pr-workflow.md
  docs/plans/pr-documentation-coverage/task-03-queue-coverage.md
  docs/specs/ci/system-design/pull-request-documentation-coverage.md
Due: none

ci: enforce pull request documentation coverage
  .github/AGENTS.md
  .github/pull_request_template.md
  .github/scripts/pr-docs-workflow-contract_test.py
  .github/scripts/pr-docs.cjs
  .github/scripts/pr-docs.test.cjs
  .github/workflows/lint-action-pinning.yml
  .github/workflows/pr-docs.yml
  CONTRIBUTING.md
  docs/ci-merge-queue.md
  docs/decisions/2026-09-10-pr-documentation-coverage.md
  docs/plans/pr-documentation-coverage/plan.md
  docs/plans/pr-documentation-coverage/task-01-coverage-validator.md
  docs/plans/pr-documentation-coverage/task-02-pr-workflow.md
  docs/plans/pr-documentation-coverage/task-03-queue-coverage.md
  docs/specs/ci/README.md
  docs/specs/ci/requirements/pull-request-documentation-coverage.md
  docs/specs/ci/system-design/pull-request-documentation-coverage.md
Due: none

docs: simplify PR documentation guidance
  CONTRIBUTING.md
Due: none

fix: build canvas inspector from backend module
  .github/workflows/plugin-registry-index.yml
Due: none

docs: plan GitHub credential upgrade recovery (#3071)
  docs/plans/github-credential-upgrade-recovery/plan.md
  docs/plans/github-credential-upgrade-recovery/task-01-document-upgrade-recovery.md
  docs/specs/integrations/requirements/github-authentication.md
  docs/specs/integrations/system-design/github-authentication-03.md
Due: none

docs: improve planning assumption checks
  .agents/skills/fix/SKILL.md
  .agents/skills/interview-me/SKILL.md
  .agents/skills/interview-me/references/decision-mapping.md
  .agents/skills/plan/SKILL.md
  .agents/skills/spec-driven-development/SKILL.md
  .agents/skills/spec/SKILL.md
  .agents/skills/using-agent-skills/SKILL.md
Due: none

fix: harden canvas marketplace delivery
  apps/backend/internal/agentctl/server/api/workspace_canvas_source.go
  apps/backend/internal/agentctl/server/api/workspace_canvas_source_test.go
  apps/backend/internal/backendapp/canvas_distribution_routes.go
  apps/backend/internal/backendapp/canvas_distribution_routes_test.go
  apps/backend/internal/backendapp/services.go
  apps/backend/internal/canvas/authoring.go
  apps/backend/internal/canvas/authoring_test.go
  apps/backend/internal/canvas/distribution_download.go
  apps/backend/internal/canvas/distribution_download_test.go
  apps/backend/internal/canvas/distribution_export.go
  apps/backend/internal/canvas/distribution_export_test.go
  apps/backend/internal/canvas/distribution_install.go
  apps/backend/internal/plugins/instances/store.go
  apps/backend/internal/plugins/manifest/semver.go
  apps/backend/internal/plugins/service_install.go
  apps/backend/internal/plugins/webapp/distribution.go
  apps/backend/internal/plugins/webapp/distribution_test.go
  apps/web/components/settings/canvas-share-dialog.tsx
  apps/web/components/settings/plugins/canvas-install-dialog.tsx
  apps/web/hooks/domains/canvas/use-canvas-share.test.ts
  apps/web/hooks/domains/canvas/use-canvas-share.ts
  docs/plans/canvas-marketplace/task-03-reviewed-installation.md
  docs/plans/canvas-marketplace/task-04-registry-catalog.md
  docs/plans/canvas-marketplace/task-05-marketplace-ui.md
  docs/plans/canvas-marketplace/task-06-sharing-ui.md
  plugin-registry/build-index.mjs
  plugin-registry/build-index.test.mjs
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: repair durable-session rebase and CI regressions
  apps/web/e2e/pages/session-page.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: format rebased executor payloads
  apps/backend/internal/agent/runtime/lifecycle/executor_sprites_operations.go
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh_operations.go
Due: gofmt, go-tests, go-lint

fix: harden canvas sharing and installation
  apps/backend/internal/agentctl/server/api/workspace_canvas_source_test.go
  apps/backend/internal/backendapp/canvas_distribution_routes.go
  apps/backend/internal/backendapp/services.go
  apps/backend/internal/canvas/distribution_export.go
  apps/backend/internal/canvas/distribution_export_test.go
  apps/backend/internal/canvas/distribution_install.go
  apps/backend/internal/canvas/release_projection.go
  apps/backend/internal/canvas/release_projection_test.go
  apps/backend/internal/canvas/types.go
  apps/backend/internal/plugins/webapp/distribution.go
  apps/web/components/settings/canvas-host-route.tsx
  apps/web/components/settings/canvas-share-dialog.test.tsx
  apps/web/components/settings/canvas-share-dialog.tsx
  apps/web/components/settings/plugins/canvas-install-dialog.test.tsx
  apps/web/components/settings/plugins/canvas-install-dialog.tsx
  apps/web/components/settings/plugins/canvas-marketplace.test.ts
  apps/web/components/settings/plugins/canvas-marketplace.tsx
  apps/web/e2e/tests/canvas/canvas-sharing.spec.ts
  apps/web/e2e/tests/canvas/mobile-canvas-sharing.spec.ts
  apps/web/hooks/domains/canvas/use-canvas-install.test.ts
  apps/web/hooks/domains/canvas/use-canvas-install.ts
  apps/web/hooks/domains/canvas/use-canvas-share.test.ts
  apps/web/hooks/domains/canvas/use-canvas-share.ts
  apps/web/lib/api/domains/canvas-api.ts
  apps/web/src/locales/en/canvases.json
  apps/web/src/locales/en/plugins.json
  apps/web/src/locales/pseudo/canvases.json
  apps/web/src/locales/pseudo/plugins.json
  apps/web/src/locales/pt-pt/canvases.json
  apps/web/src/locales/pt-pt/plugins.json
  apps/web/src/locales/zh-cn/canvases.json
  apps/web/src/locales/zh-cn/plugins.json
  apps/web/src/locales/zh-hk/canvases.json
  apps/web/src/locales/zh-hk/plugins.json
  apps/web/src/locales/zh-tw/canvases.json
  apps/web/src/locales/zh-tw/plugins.json
  docs/specs/canvases/system-design/agent-authored-web-apps.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: harden canvas review and runtime bootstrap
  apps/backend/internal/plugins/webapp/runtime_bootstrap.go
  apps/backend/internal/plugins/webapp/runtime_test.go
  apps/web/components/settings/canvas-lifecycle-dialogs.test.tsx
  apps/web/components/settings/canvas-release-review.tsx
  apps/web/e2e/tests/canvas/canvas-fixture.ts
  apps/web/e2e/tests/canvas/plugin-canvas.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test: stabilize canvas review e2e
  apps/web/e2e/tests/canvas/plugin-canvas.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: handle foreign canvas bootstrap templates
  apps/backend/internal/plugins/webapp/runtime_bootstrap.go
  apps/backend/internal/plugins/webapp/runtime_test.go
Due: gofmt, go-tests, go-lint

test: avoid race shim startup deadlines
  apps/backend/internal/agentctl/server/process/git.go
  apps/backend/internal/agentctl/server/process/git_contribution_history.go
  apps/backend/internal/agentctl/server/process/git_contribution_history_edge_test.go
  apps/backend/internal/agentctl/server/process/testmain_test.go
Due: gofmt, go-tests, go-lint

docs: document GitHub credential upgrade recovery (#3071)
  docs/plans/github-credential-upgrade-recovery/plan.md
  docs/plans/github-credential-upgrade-recovery/task-01-document-upgrade-recovery.md
  docs/public/integrations.md
  docs/public/use-kandev.md
Due: none

test: await agentctl process reap in stop test
  apps/backend/internal/agentctl/server/api/processes_test.go
Due: gofmt, go-tests, go-lint

docs(threads): clarify chat limits and composer controls
  apps/web/src/locales/zh-cn/threads.json
  apps/web/src/locales/zh-hk/threads.json
  apps/web/src/locales/zh-tw/threads.json
  docs/public/sessions-and-review.md
  docs/specs/ui/requirements/threads-saved-views.md
  docs/specs/ui/system-design/threads-saved-views.md
Due: prettier-format

fix: make contribution history validation deterministic
  apps/backend/internal/agentctl/server/api/git.go
Due: gofmt, go-tests, go-lint

docs: clarify GitHub recovery review feedback
  docs/plans/github-credential-upgrade-recovery/plan.md
  docs/plans/github-credential-upgrade-recovery/task-01-document-upgrade-recovery.md
  docs/public/integrations.md
  docs/public/use-kandev.md
Due: none

fix: recover delayed session entry
  apps/web/components/task/chat/message-list-native.tsx
  apps/web/components/task/chat/message-list-shared.test.tsx
  apps/web/components/task/chat/message-list-shared.tsx
  apps/web/components/task/chat/session-entry-feedback.test.tsx
  apps/web/components/task/chat/session-entry-feedback.tsx
  apps/web/components/task/chat/use-chat-panel-state.ts
  apps/web/components/task/ensure-session-error.test.tsx
  apps/web/components/task/ensure-session-error.tsx
  apps/web/components/task/preview-session-tabs.tsx
  apps/web/components/task/task-chat-panel.tsx
  apps/web/components/task/task-page-inner.tsx
  apps/web/e2e/helpers/session-entry-recovery.ts
  apps/web/e2e/tests/session/mobile-session-entry-recovery.spec.ts
  apps/web/e2e/tests/session/session-entry-recovery.spec.ts
  apps/web/hooks/domains/session/use-message-fetch-state.ts
  apps/web/hooks/domains/session/use-session-message-fetch.test.ts
  apps/web/hooks/domains/session/use-session-message-fetch.ts
  apps/web/hooks/domains/session/use-session-messages.test.ts
  apps/web/hooks/domains/session/use-session-messages.ts
  apps/web/hooks/domains/session/use-session-recovery-feedback.ts
  apps/web/hooks/domains/session/use-session-resumption-operations.ts
  apps/web/hooks/domains/session/use-session-resumption.archive.test.ts
  apps/web/hooks/domains/session/use-session-resumption.test.ts
  apps/web/hooks/domains/session/use-session-resumption.ts
  apps/web/lib/ws/client.test.ts
  apps/web/lib/ws/client.ts
  apps/web/lib/ws/request-error.ts
  apps/web/src/locales/en/task.json
  apps/web/src/locales/pseudo/task.json
  apps/web/src/locales/pt-pt/task.json
  apps/web/src/locales/zh-cn/task.json
  apps/web/src/locales/zh-hk/task.json
  apps/web/src/locales/zh-tw/task.json
  docs/plans/session-entry-recovery/plan.md
  docs/plans/session-entry-recovery/task-01-entry-recovery.md
  docs/plans/session-entry-recovery/task-02-recovery-feedback.md
Due: prettier-format, web-lint, web-tests, web-typecheck
