Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

fix: support preview description skip flag
  apps/backend/cmd/preview/deploy.go
  docs/plans/pr-status-summary-color-parity/plan.md
  docs/plans/pr-status-summary-color-parity/task-01-align-pr-status-precedence.md
Due: gofmt, go-tests, go-lint

fix(web): refine queued message row controls (#3449)
  apps/web/components/task/chat/queued-ghost-message-overflow.test.tsx
  apps/web/components/task/chat/queued-ghost-message.tsx
  apps/web/components/task/chat/queued-ghost-row-actions.tsx
  apps/web/components/task/chat/use-queued-message-overflow.ts
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/tests/chat/message-queue.spec.ts
  apps/web/e2e/tests/chat/mobile-message-queue-management.spec.ts
  apps/web/e2e/tests/kanban/wip-overflow-queue.spec.ts
  docs/plans/message-queue-row-controls/plan.md
  docs/plans/message-queue-row-controls/task-01-refine-queued-row-controls.md
  docs/specs/ui/README.md
  docs/specs/ui/requirements/message-queue-management.md
  docs/specs/ui/system-design/message-queue-row-controls.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): load nested review diffs before assertions
  apps/web/e2e/tests/review/submodule-review.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(office): attribute session-bridged comments to the acting agent
  apps/backend/internal/office/service/comments.go
  apps/backend/internal/office/service/event_subscribers.go
  apps/backend/internal/office/service/event_subscribers_session_attribution_test.go
Due: gofmt, go-tests, go-lint

fix(office): attribute session-bridged comments in every shipped profile
  apps/backend/internal/agent/runtime/lifecycle/event_types.go
  apps/backend/internal/agent/runtime/lifecycle/events.go
  apps/backend/internal/agent/runtime/lifecycle/manager_events_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_streaming.go
  apps/backend/internal/office/service/event_subscribers.go
  apps/backend/internal/office/service/event_subscribers_session_attribution_test.go
  apps/backend/internal/orchestrator/event_handlers_streaming.go
  apps/backend/internal/orchestrator/event_handlers_transient.go
Due: gofmt, go-tests, go-lint

fix: preserve Office identity during recovery
  apps/backend/internal/agent/runtime/lifecycle/executor_backend.go
  apps/backend/internal/agent/runtime/lifecycle/executor_backend_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_execution.go
  apps/backend/internal/agent/runtime/lifecycle/manager_identity_recovery_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_launch.go
  apps/backend/internal/agent/runtime/lifecycle/persistence.go
  apps/backend/internal/agent/runtime/lifecycle/persistence_test.go
  apps/backend/internal/orchestrator/dynamic_launch.go
  apps/backend/internal/orchestrator/dynamic_launch_identity_test.go
  apps/backend/internal/orchestrator/event_handlers_streaming.go
  apps/backend/internal/orchestrator/event_handlers_streaming_identity_test.go
  apps/backend/internal/orchestrator/executor/executor_environment_test.go
  apps/backend/internal/task/service/service_turns.go
  apps/backend/internal/task/service/service_turns_test.go
Due: gofmt, go-tests, go-lint

fix(backend): carry step_complete handoff and blockers across the workflow transition
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/step_complete_bounds.go
  apps/backend/internal/mcp/handlers/step_complete_bounds_test.go
  apps/backend/internal/mcp/handlers/step_complete_truncation_test.go
  apps/backend/internal/mcp/server/server.go
  apps/backend/internal/mcp/server/step_complete_description_test.go
  apps/backend/internal/orchestrator/event_handlers_duplicate_autostart_test.go
  apps/backend/internal/orchestrator/event_handlers_initial_prompt_dedup_test.go
  apps/backend/internal/orchestrator/event_handlers_step_completion.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/event_handlers_workflow_profile_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow_prompt_claim_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow_reset_quiescence_test.go
  apps/backend/internal/orchestrator/queue_auto_run_review_test.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/step_handoff_carry.go
  apps/backend/internal/orchestrator/step_handoff_carry_dispatch_test.go
  apps/backend/internal/orchestrator/step_handoff_carry_write_test.go
  apps/backend/internal/orchestrator/step_history_handoff_blockers_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/task_pull_request_target_prompt_test.go
  apps/backend/internal/task/models/models.go
  apps/backend/internal/task/repository/sqlite/step_handoff_carry_claim_test.go
  apps/backend/internal/task/repository/sqlite/task.go
  apps/backend/internal/workflow/service/service.go
  docs/specs/tasks/README.md
  docs/specs/tasks/requirements/workflow-completion-signal-payload-delivery.md
  docs/specs/tasks/system-design/workflow-completion-signal-payload-delivery.md
Due: gofmt, go-tests, go-lint

fix(backend): carry the step-handoff CAS token past a queued transition and drain
  apps/backend/internal/mcp/handlers/step_complete_test.go
  apps/backend/internal/orchestrator/event_handlers_agent.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/event_handlers_workflow_moved_test.go
  apps/backend/internal/orchestrator/messagequeue/types.go
  apps/backend/internal/orchestrator/queue_send_now.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/step_handoff_carry.go
  apps/backend/internal/orchestrator/step_handoff_carry_dispatch_test.go
  apps/backend/internal/orchestrator/step_handoff_carry_write_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/task/repository/sqlite/step_handoff_carry_claim_test.go
  apps/backend/internal/workflow/repository/session_step_history_test.go
Due: gofmt, go-tests, go-lint

test(backend): add Postgres coverage for the step-handoff carry CAS
  apps/backend/internal/task/repository/sqlite/step_handoff_carry_claim_postgres_test.go
  docs/decisions/0015-explicit-completion-signal-for-auto-advance.md
  docs/decisions/INDEX.md
Due: gofmt, go-tests, go-lint

fix(backend): clear the consumed signal bag before a queued transition returns
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/step_handoff_carry_write_test.go
Due: gofmt, go-tests, go-lint

test(backend): pass the handoff-once param through the rebased dedup test
  apps/backend/internal/orchestrator/event_handlers_initial_prompt_dedup_test.go
Due: gofmt, go-tests, go-lint

fix(backend): aggregate the completion handoff across Send Now sources
  apps/backend/internal/orchestrator/messagequeue/send_now.go
  apps/backend/internal/orchestrator/messagequeue/send_now_test.go
Due: gofmt, go-tests, go-lint

fix(backend): carry the composed handoff through the fresh-launch fallback
  apps/backend/internal/orchestrator/coordinator_stop_edges_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/fallback_fresh_launch_handoff_test.go
  apps/backend/internal/orchestrator/step_handoff_carry_dispatch_test.go
  apps/backend/internal/orchestrator/task_operations.go
Due: gofmt, go-tests, go-lint

fix(backend): remove requirement/plan-ID narration from production comments
  apps/backend/internal/mcp/handlers/step_complete_bounds.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
Due: gofmt, go-tests, go-lint

fix(backend): carry the composed handoff through promptTask's own fallback
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/prompt_dispatch_failure_handoff_test.go
  apps/backend/internal/orchestrator/task_operations.go
Due: gofmt, go-tests, go-lint

docs(specs): redact local filesystem details from the design doc
  docs/specs/tasks/system-design/workflow-completion-signal-payload-delivery.md
Due: none

fix(backend): preserve the composed handoff in StartSessionForWorkflowStep's fallback
  apps/backend/internal/orchestrator/step_handoff_carry_dispatch_test.go
  apps/backend/internal/orchestrator/task_operations.go
Due: gofmt, go-tests, go-lint

fix(orchestrator): harden step handoff delivery
  apps/backend/internal/mcp/server/server.go
  apps/backend/internal/orchestrator/event_handlers_step_completion.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/prompt_dispatch_failure_handoff_test.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/step_handoff_carry.go
  apps/backend/internal/orchestrator/step_handoff_carry_dispatch_test.go
  apps/backend/internal/orchestrator/step_handoff_carry_write_test.go
  apps/backend/internal/orchestrator/step_history_handoff_blockers_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/workflow_store.go
  apps/backend/internal/task/models/public_metadata.go
  apps/backend/internal/task/models/public_metadata_test.go
  apps/backend/internal/task/service/service.go
  apps/backend/internal/task/service/service_step_handoff_metadata_test.go
  apps/backend/internal/task/service/service_task_metadata.go
  apps/backend/internal/task/service/service_workflow.go
  apps/backend/internal/workflow/service/service.go
  docs/decisions/0015-explicit-completion-signal-for-auto-advance.md
  docs/specs/tasks/system-design/workflow-completion-signal-payload-delivery.md
Due: gofmt, go-tests, go-lint

fix(web): format task repository chip imports
  apps/web/components/task-create-dialog-repo-chip-parts.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(e2e): reset shared repository seed baseline
  apps/web/e2e/fixtures/test-base.ts
  apps/web/e2e/tests/task/workspace-file-transfer.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(workspaces): prevent repository set dialog clipping
  apps/web/app/settings/workspace/workspace-repository-set-editor-members.tsx
  apps/web/e2e/tests/settings/mobile-workspace-repository-sets.spec.ts
  apps/web/e2e/tests/settings/workspace-repository-sets.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(workspaces): share saved-base branch picker
  apps/web/app/settings/workspace/workspace-repository-set-editor-members.tsx
  apps/web/app/settings/workspace/workspace-repository-set-editor.test.tsx
  apps/web/components/branch-picker-options.tsx
  apps/web/components/task-create-dialog-branch-options.tsx
  apps/web/components/task-create-dialog-helpers.ts
  apps/web/components/task-create-dialog-options.tsx
  apps/web/components/task-create-dialog-pill.test.tsx
  apps/web/components/task-create-dialog-pill.tsx
  apps/web/components/task-create-dialog-repo-base-branch.tsx
  apps/web/components/task-create-dialog-repo-chip-parts.tsx
  apps/web/components/task-create-dialog-repo-chips.test.tsx
  apps/web/components/task-create-dialog-repo-chips.tsx
  apps/web/components/task-create-dialog-setup.test.ts
  apps/web/components/task-create-dialog-setup.ts
  apps/web/components/task-create-dialog-workspace-repo-chips.tsx
  apps/web/e2e/tests/settings/mobile-workspace-repository-sets.spec.ts
  apps/web/e2e/tests/settings/workspace-repository-sets.spec.ts
  apps/web/src/locales/en/workspaces.json
  apps/web/src/locales/pseudo/workspaces.json
  apps/web/src/locales/pt-pt/workspaces.json
  apps/web/src/locales/zh-cn/workspaces.json
  apps/web/src/locales/zh-hk/workspaces.json
  apps/web/src/locales/zh-tw/workspaces.json
  docs/plans/repository-set-base-branches/plan.md
  docs/plans/repository-set-base-branches/task-03-responsive-inline-editor.md
  docs/plans/repository-set-base-branches/task-04-saved-base-e2e.md
  docs/specs/workspaces/system-design/repository-sets.md
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: correct repository set work order path
  docs/plans/repository-set-base-branches/task-02-apply-saved-bases.md
Due: none

fix(web): clear lint warnings after rebase
  apps/web/components/task-create-dialog-pill.tsx
  apps/web/components/task-create-dialog-setup.ts
  apps/web/components/task-create-dialog-workspace-repo-chips.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(workspaces): address repository set review findings
  apps/backend/internal/task/repository/sqlite/repository_set_base_branch_postgres_test.go
  apps/backend/internal/task/repository/sqlite/repository_set_base_branch_test.go
  apps/backend/internal/task/service/service_repository_sets.go
  apps/backend/internal/task/service/service_repository_sets_base_branch_test.go
  apps/web/app/settings/workspace/workspace-repository-set-editor-members.tsx
  apps/web/app/settings/workspace/workspace-repository-set-editor.test.tsx
  apps/web/components/combobox.test.tsx
  apps/web/components/combobox.tsx
  apps/web/components/task-create-dialog-helpers-saved-base.test.ts
  apps/web/components/task-create-dialog-helpers.multi-repo.test.ts
  apps/web/components/task-create-dialog-helpers.ts
  apps/web/components/task-create-dialog-prop-builders.ts
  apps/web/components/task-create-dialog-repo-base-branch.tsx
  apps/web/components/task-create-dialog-repo-chip-parts.tsx
  apps/web/components/task-create-dialog-repo-chip-utils.tsx
  apps/web/components/task-create-dialog-repo-chips.test.tsx
  apps/web/components/task-create-dialog-repo-chips.tsx
  apps/web/components/task-create-dialog-repository-sets-save.tsx
  apps/web/components/task-create-dialog-repository-sets.test.ts
  apps/web/components/task-create-dialog-repository-sets.ts
  apps/web/components/task-create-dialog-setup.ts
  apps/web/components/task-create-dialog-types.ts
  apps/web/components/task-create-dialog-workspace-repo-chips.test.tsx
  apps/web/components/task-create-dialog-workspace-repo-chips.tsx
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/tests/settings/workspace-repository-sets.spec.ts
  apps/web/lib/api/domains/workspace-api.ts
  apps/web/src/locales/zh-tw/workspaces.json
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(orchestrator): close AC-S7 and AC-S1 write-half gaps in operation ledger tests
  apps/backend/internal/orchestrator/workflow_operation_ledger_test.go
  apps/backend/internal/orchestrator/workflow_store_test.go
Due: gofmt, go-tests, go-lint

fix(orchestrator): give the workflow engine's operation ledger a Service-scoped lifetime
  apps/backend/internal/orchestrator/deferred_launch_consume_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow_guarded_transition_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow_passthrough_profile_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow_profile_preflight_test.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/workflow_operation_ledger_test.go
  apps/backend/internal/orchestrator/workflow_step_cache_test.go
  apps/backend/internal/orchestrator/workflow_step_ledger_test.go
  apps/backend/internal/orchestrator/workflow_store.go
  apps/backend/internal/orchestrator/workflow_store_test.go
  docs/specs/workflow-engine-operation-ledger-lifetime/spec.md
Due: gofmt, go-tests, go-lint

fix(orchestrator): preserve workflow idempotency during late wiring
  apps/backend/internal/orchestrator/event_handlers_agent_error_test.go
  apps/backend/internal/orchestrator/event_handlers_children_completed.go
  apps/backend/internal/orchestrator/workflow_callbacks.go
  apps/backend/internal/workflow/engine/engine.go
  apps/backend/internal/workflow/engine/engine_test.go
  apps/backend/internal/workflow/engine/office_default_smoke_test.go
  docs/specs/workflow-engine-operation-ledger-lifetime/spec.md
Due: gofmt, go-tests, go-lint

docs: register ledger-lifetime spec and fix stale field refs (#3447)
  docs/specs/INDEX.md
  docs/specs/spec-lint-exceptions.tsv
  docs/specs/workflow-on-agent-error-dispatch/spec.md
Due: none

fix(backend): publish lifecycle-sweep WaitGroup.Add under the sweep mutex
  apps/backend/internal/orchestrator/lifecycle_sweep_logging_test.go
  apps/backend/internal/orchestrator/lifecycle_sweep_startup_test.go
  apps/backend/internal/orchestrator/service.go
Due: gofmt, go-tests, go-lint

fix(backend): stop lifecycle-sweep GC from replaying finished manual moves
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/lifecycle_sweep_startup_test.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/task/models/models.go
  docs/specs/startup-listener-before-recovery/spec.md
Due: gofmt, go-tests, go-lint

fix(events): avoid reentrant memory bus deadlock
  apps/backend/internal/events/bus/memory.go
  apps/backend/internal/events/bus/memory_test.go
Due: gofmt, go-tests, go-lint

fix(backend): run startup lifecycle sweep after the watcher subscribes
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/lifecycle_sweep_logging_test.go
  apps/backend/internal/orchestrator/lifecycle_sweep_startup_test.go
  apps/backend/internal/orchestrator/service.go
  docs/specs/startup-listener-before-recovery/spec.md
Due: gofmt, go-tests, go-lint

fix(backend): converge stale lifecycle tokens and bound the sweep dispatcher to its deadline
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/lifecycle_sweep_logging_test.go
  apps/backend/internal/orchestrator/lifecycle_sweep_startup_test.go
Due: gofmt, go-tests, go-lint

fix(backend): harden startup lifecycle recovery
  apps/backend/internal/orchestrator/event_handlers_feeder_lifecycle_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/lifecycle_sweep_fixup_test.go
  apps/backend/internal/orchestrator/lifecycle_sweep_logging_test.go
  apps/backend/internal/orchestrator/lifecycle_sweep_startup_test.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/task/repository/sqlite/task.go
  apps/backend/internal/task/repository/sqlite/task_metadata_cas_test.go
  apps/backend/internal/task/service/service_tasks.go
Due: gofmt, go-tests, go-lint

fix(backend): recover dynamic route launch failure on reloaded state
  apps/backend/internal/backendapp/dynamic_routing.go
  apps/backend/internal/backendapp/dynamic_routing_cancel_race_test.go
  apps/backend/internal/orchestrator/service.go
Due: gofmt, go-tests, go-lint

fix(backend): close remaining cancel-guard/lifecycle-lock inversion in agent-completed handling
  apps/backend/internal/orchestrator/event_handlers_agent.go
  apps/backend/internal/orchestrator/route_action_lock_order_test.go
  apps/backend/internal/orchestrator/service.go
Due: gofmt, go-tests, go-lint
