Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

fix(i18n): translate attachment controls into Chinese
  apps/web/src/locales/zh-cn/chat.json
Due: prettier-format

fix(lsp): defer installer support to task host
  apps/backend/internal/backendapp/helpers.go
  apps/backend/internal/backendapp/web_runtime_test.go
  apps/backend/internal/gateway/websocket/lsp_handler.go
  apps/backend/internal/gateway/websocket/lsp_handler_test.go
  apps/backend/internal/lsp/installer/registry.go
  apps/backend/internal/lsp/installer/registry_test.go
  apps/backend/internal/user/service/service.go
  apps/backend/internal/user/service/service_test.go
  apps/backend/internal/webapp/payload.go
  apps/web/components/settings/lsp-language-cards.tsx
  apps/web/components/settings/lsp-language-options.test.ts
  apps/web/components/settings/lsp-language-options.ts
  apps/web/src/boot-payload.test.ts
  apps/web/src/boot-payload.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

docs(lsp): clarify task-host installer authority
  docs/plans/lsp-file-intelligence-progress/plan.md
  docs/plans/lsp-file-intelligence-progress/task-02-progress-disclosure.md
  docs/public/developer-tools.md
  docs/specs/lsp-file-intelligence/spec.md
Due: none

fix(lsp): forward completion trigger context
  apps/web/e2e/tests/lsp/lsp-file-intelligence.spec.ts
  apps/web/lib/lsp/lsp-providers.test.ts
  apps/web/lib/lsp/lsp-providers.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(lsp): resolve cache from task environment
  apps/backend/internal/lsp/installer/registry.go
  apps/backend/internal/lsp/installer/registry_test.go
  apps/backend/internal/tools/installer/command_runner.go
Due: gofmt, go-tests, go-lint

docs(lsp): record final review hardening
  docs/plans/lsp-file-intelligence-progress/plan.md
  docs/plans/lsp-file-intelligence-progress/task-01-progress-protocol.md
  docs/public/developer-tools.md
  docs/specs/lsp-file-intelligence/spec.md
Due: none

docs: add Scoop as a Windows install channel
  README.md
  docs/public/use-kandev.md
Due: none

fix(lsp): reject cold unsupported executors
  apps/backend/internal/agent/runtime/lifecycle/manager_execution.go
  apps/backend/internal/agent/runtime/lifecycle/manager_execution_test.go
  apps/backend/internal/gateway/websocket/lsp_handler.go
  apps/backend/internal/gateway/websocket/lsp_handler_test.go
Due: gofmt, go-tests, go-lint

docs(lsp): clarify unsupported runtime isolation
  docs/plans/lsp-file-intelligence-progress/plan.md
  docs/plans/lsp-file-intelligence-progress/task-01-progress-protocol.md
  docs/public/developer-tools.md
  docs/specs/lsp-file-intelligence/spec.md
Due: none

fix(lsp): notify servers after file saves
  apps/web/components/task/task-center-panel-restoration.test.ts
  apps/web/components/task/task-center-panel-restoration.ts
  apps/web/e2e/fixtures/fake-lsp-server.mjs
  apps/web/e2e/tests/lsp/lsp-file-intelligence.spec.ts
  apps/web/hooks/use-file-save-delete.test.ts
  apps/web/hooks/use-file-save-delete.ts
  apps/web/lib/lsp/lsp-client-manager.document-sync.test.ts
  apps/web/lib/lsp/lsp-client-manager.test-harness.ts
  apps/web/lib/lsp/lsp-client-manager.test.ts
  apps/web/lib/lsp/lsp-client-manager.ts
  apps/web/lib/lsp/lsp-document-sync.test.ts
  apps/web/lib/lsp/lsp-document-sync.ts
  docs/plans/lsp-file-intelligence-progress/plan.md
  docs/plans/lsp-file-intelligence-progress/task-01-progress-protocol.md
  docs/public/developer-tools.md
  docs/specs/lsp-file-intelligence/spec.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(backend): seed every workspace with its stored base branch
  apps/backend/internal/agent/runtime/lifecycle/base_branches_metadata_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager.go
  apps/backend/internal/agent/runtime/lifecycle/manager_base_branches.go
  apps/backend/internal/agent/runtime/lifecycle/manager_startup.go
  apps/backend/internal/agentctl/server/process/workspace_git_status.go
  apps/backend/internal/agentctl/server/process/workspace_git_status_base_branch_test.go
  apps/backend/internal/backendapp/main.go
  apps/backend/internal/task/service/service_branch_update.go
  docs/plans/workspace-base-branch-propagation/plan.md
  docs/plans/workspace-base-branch-propagation/task-01-push-base-branches-every-workspace.md
  docs/plans/workspace-base-branch-propagation/task-02-log-base-branch-fallback.md
  docs/specs/workspace-base-branch-propagation/spec.md
Due: gofmt, go-tests, go-lint

fix(backend): close base-branch seeding gaps found in review
  apps/backend/internal/agent/runtime/lifecycle/manager_lifecycle.go
  apps/backend/internal/agentctl/server/process/workspace_git_status.go
  apps/backend/internal/agentctl/server/process/workspace_tracker.go
  apps/backend/internal/task/service/service_branch_update.go
  apps/backend/internal/task/service/service_branch_update_test.go
  docs/specs/workspace-base-branch-propagation/spec.md
Due: gofmt, go-tests, go-lint

fix(lsp): flush document changes before save
  apps/web/e2e/tests/lsp/lsp-file-intelligence.spec.ts
  apps/web/lib/lsp/lsp-client-manager.document-sync.test.ts
  apps/web/lib/lsp/lsp-client-manager.ts
  docs/plans/lsp-file-intelligence-progress/plan.md
  docs/plans/lsp-file-intelligence-progress/task-01-progress-protocol.md
  docs/public/developer-tools.md
  docs/specs/lsp-file-intelligence/spec.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address codex review findings in mid-turn steering
  apps/backend/internal/agentctl/server/adapter/transport/acp/adapter_prompt.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/steer.go
  apps/backend/internal/orchestrator/steer_test.go
  apps/backend/internal/task/handlers/message_handlers.go
Due: gofmt, go-tests, go-lint

fix(lsp): localize connection close fallbacks
  apps/web/lib/lsp/lsp-client-manager.progress.test.ts
  apps/web/lib/lsp/lsp-client-manager.ts
  apps/web/src/locales/en/lsp.json
  apps/web/src/locales/pseudo/lsp.json
  apps/web/src/locales/zh-cn/lsp.json
  docs/plans/lsp-file-intelligence-progress/task-01-progress-protocol.md
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: add mid-turn steering composer screenshot
  docs/plans/mid-turn-steering/assets/mid-turn-steering-composer.png
  docs/plans/mid-turn-steering/plan.md
Due: none

docs: document the claudeMidTurnSteering runtime flag
  docs/decisions/2026-08-04-mid-turn-steering.md
  docs/public/configuration.md
Due: none

fix: surface the steer placeholder over the caller placeholder
  apps/web/components/task/chat/use-chat-input-container.test.ts
  apps/web/components/task/chat/use-chat-input-container.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: extract session-update field carries to satisfy complexity limit
  apps/web/lib/ws/handlers/agent-session.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: bound the steer dispatch write so the lifecycle lock can't pin
  apps/backend/internal/agent/runtime/agentctl/client_stream.go
  apps/backend/internal/agent/runtime/lifecycle/session_steer_test.go
Due: gofmt, go-tests, go-lint

fix: remove ineffective steer handoff pre-arm; pin steer wiring
  apps/backend/internal/agentctl/server/adapter/adapter.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/adapter_prompt_cancel.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/prompt_steer_test.go
  apps/backend/internal/agentctl/server/api/agent.go
  apps/backend/internal/backendapp/adapters.go
  docs/specs/platform/mid-turn-steering.md
Due: gofmt, go-tests, go-lint

docs: mid-turn steering spec residuals, probe + frontend test hardening
  apps/web/hooks/domains/session/use-session-state.test.ts
  docs/specs/platform/mid-turn-steering.md
  scripts/probe-acp-midturn-fold
  scripts/probe-claude-midturn-fold
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: record mid-turn steering validation results; specify the outcome taxonomy
  docs/plans/mid-turn-steering/plan.md
  docs/plans/mid-turn-steering/task-01-negotiate-steer-capability.md
  docs/plans/mid-turn-steering/task-02-runtime-toggle.md
  docs/plans/mid-turn-steering/task-03-fold-handoff-fixtures.md
  docs/plans/mid-turn-steering/task-04-adapter-steer-admission.md
  docs/plans/mid-turn-steering/task-05-orchestrator-steer-admission.md
  docs/plans/mid-turn-steering/task-06-session-steer-contract.md
  docs/plans/mid-turn-steering/task-07-composer-steer-affordance.md
  docs/plans/mid-turn-steering/task-08-mock-agent-and-e2e.md
  docs/plans/mid-turn-steering/task-09-adr-and-verification.md
  docs/specs/platform/mid-turn-steering.md
Due: none

fix: make mid-turn steering functional and send-safe (PR review)
  apps/backend/internal/agent/runtime/lifecycle/execution_store.go
  apps/backend/internal/agent/runtime/lifecycle/execution_store_test.go
  apps/backend/internal/agent/runtime/lifecycle/session.go
  apps/backend/internal/agent/runtime/lifecycle/session_steer_test.go
  apps/backend/internal/agent/runtime/lifecycle/types.go
  apps/backend/internal/agentctl/server/adapter/adapter.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/adapter_prompt_cancel.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/prompt_steer_test.go
  apps/backend/internal/agentctl/server/api/agent.go
  apps/backend/internal/backendapp/adapters.go
  apps/backend/internal/orchestrator/event_handlers_test.go
  apps/backend/internal/orchestrator/steer.go
  apps/backend/internal/orchestrator/steer_test.go
  apps/backend/internal/task/handlers/message_handlers.go
  apps/backend/internal/task/handlers/message_handlers_blocked_test.go
Due: gofmt, go-tests, go-lint

test: scope the steer delivery assertion to the user message bubble
  apps/web/e2e/tests/chat/mid-turn-steering.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: pin the steer wire contract; fix probe EOF truncation
  apps/backend/internal/agent/runtime/agentctl/prompt_steer_test.go
  apps/backend/internal/agentctl/server/api/prompt_steer_routing_test.go
  apps/web/components/task/chat/use-chat-input-container.test.ts
  apps/web/e2e/tests/chat/mid-turn-steering.spec.ts
  scripts/probe-acp-midturn-fold
  scripts/probe-claude-midturn-fold
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(lsp): localize remaining connection errors
  apps/web/lib/lsp/lsp-client-manager.progress.test.ts
  apps/web/lib/lsp/lsp-client-manager.ts
  apps/web/src/locales/en/lsp.json
  apps/web/src/locales/pseudo/lsp.json
  apps/web/src/locales/zh-cn/lsp.json
  docs/plans/lsp-file-intelligence-progress/task-01-progress-protocol.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(lsp): localize task-host close statuses
  apps/web/e2e/tests/lsp/lsp-file-intelligence.spec.ts
  apps/web/lib/lsp/lsp-json-rpc.ts
  apps/web/lib/lsp/lsp-language-mapping.test.ts
  docs/plans/lsp-file-intelligence-progress/task-01-progress-protocol.md
  docs/specs/lsp-file-intelligence/spec.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(lsp): preserve live saves and editor identity
  apps/web/components/task/task-center-panel-restoration.test.ts
  apps/web/components/task/task-center-panel-restoration.ts
  apps/web/e2e/tests/lsp/lsp-file-intelligence.spec.ts
  apps/web/hooks/use-file-save-delete.test.ts
  apps/web/hooks/use-file-save-delete.ts
  apps/web/hooks/use-lsp-file-opener.test.ts
  apps/web/hooks/use-lsp-file-opener.ts
  apps/web/lib/lsp/lsp-client-manager.document-sync.test.ts
  apps/web/lib/lsp/lsp-client-manager.ts
  apps/web/lib/lsp/lsp-document-sync.ts
  docs/plans/lsp-file-intelligence-progress/plan.md
  docs/plans/lsp-file-intelligence-progress/task-01-progress-protocol.md
  docs/plans/lsp-file-intelligence-progress/task-03-progress-e2e.md
  docs/specs/lsp-file-intelligence/spec.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(backend): key the base-branch map per worktree, not per repo
  apps/backend/internal/agentctl/server/process/workspace_git_status_base_branch_test.go
  apps/backend/internal/task/service/service_branch_update.go
  apps/backend/internal/task/service/service_branch_update_test.go
  docs/plans/workspace-base-branch-propagation/task-01-push-base-branches-every-workspace.md
  docs/plans/workspace-base-branch-propagation/task-02-log-base-branch-fallback.md
Due: gofmt, go-tests, go-lint

fix(lsp): harden completion, configuration, and install guidance
  apps/backend/internal/agentctl/server/api/lsp.go
  apps/backend/internal/agentctl/server/api/lsp_test.go
  apps/backend/internal/gateway/websocket/lsp_handler_test.go
  apps/web/e2e/tests/lsp/lsp-file-intelligence.spec.ts
  apps/web/lib/lsp/lsp-client-manager.test.ts
  apps/web/lib/lsp/lsp-client-manager.ts
  apps/web/lib/lsp/lsp-client-types.ts
  apps/web/lib/lsp/lsp-json-rpc.ts
  apps/web/lib/lsp/lsp-language-mapping.test.ts
  apps/web/lib/lsp/lsp-providers.test.ts
  apps/web/lib/lsp/lsp-providers.ts
  apps/web/src/locales/en/lsp.json
  apps/web/src/locales/pseudo/lsp.json
  apps/web/src/locales/zh-cn/lsp.json
  docs/plans/lsp-file-intelligence-progress/plan.md
  docs/plans/lsp-file-intelligence-progress/task-01-progress-protocol.md
  docs/plans/lsp-file-intelligence-progress/task-03-progress-e2e.md
  docs/public/developer-tools.md
  docs/specs/lsp-file-intelligence/spec.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: repair the backend compile break and the zh-cn catalog
  apps/backend/internal/task/handlers/message_handlers_resume_readiness_test.go
  apps/web/src/locales/zh-cn/chat.json
Due: gofmt, go-tests, go-lint, prettier-format

fix(backend): read Claude credentials from the macOS keychain
  apps/backend/internal/agent/agents/billing.go
  apps/backend/internal/agent/usage/claude_keychain.go
  apps/backend/internal/agent/usage/claude_keychain_internal_test.go
  apps/backend/internal/agent/usage/client_claude.go
  apps/backend/internal/backendapp/usage_adapter.go
Due: gofmt, go-tests, go-lint

fix(backend): bound the keychain lookup and let a machine opt out
  apps/backend/internal/agent/usage/claude_keychain.go
  apps/backend/internal/agent/usage/claude_keychain_internal_test.go
Due: gofmt, go-tests, go-lint

fix(backend): never spend the keychain's refresh token
  apps/backend/internal/agent/usage/claude_keychain_internal_test.go
  apps/backend/internal/agent/usage/client_claude.go
Due: gofmt, go-tests, go-lint

fix(i18n): restore zh-cn parity for the chat attachment keys
  apps/web/src/locales/zh-cn/chat.json
Due: prettier-format

fix(lsp): handle unsupported hosts and insert-replace edits
  apps/backend/internal/agentctl/server/api/lsp.go
  apps/backend/internal/agentctl/server/api/lsp_test.go
  apps/web/e2e/tests/ssh/lsp-unsupported-executor.spec.ts
  apps/web/lib/lsp/lsp-json-rpc.ts
  apps/web/lib/lsp/lsp-language-mapping.test.ts
  apps/web/lib/lsp/lsp-providers.test.ts
  apps/web/lib/lsp/lsp-providers.ts
  docs/plans/lsp-file-intelligence-progress/plan.md
  docs/plans/lsp-file-intelligence-progress/task-01-progress-protocol.md
  docs/plans/lsp-file-intelligence-progress/task-03-progress-e2e.md
  docs/public/developer-tools.md
  docs/specs/lsp-file-intelligence/spec.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(web): correct the schedule preview and release stranded drag listeners
  apps/web/components/automations/schedule-expression.test.ts
  apps/web/components/automations/schedule-expression.ts
  apps/web/components/runs/use-rail-width.test.ts
  apps/web/components/runs/use-rail-width.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: use the American-English spelling in the automation guide
  docs/public/automation-and-mcp.md
Due: none

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
