Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

fix: align sidebar PR badges and expose run scope
  apps/backend/internal/office/dashboard/dto.go
  apps/backend/internal/office/dashboard/run_detail.go
  apps/backend/internal/office/dashboard/run_detail_test.go
  apps/web/components/task/task-item.tsx
  apps/web/e2e/tests/gitlab/mr-sidebar-badge.spec.ts
  apps/web/e2e/tests/task/mobile-sidebar-task-actions.spec.ts
  apps/web/lib/api/domains/office-runs-api.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: wire managed fork credential verifier
  apps/backend/internal/backendapp/git_credentials.go
  apps/backend/internal/backendapp/services_github_broker_test.go
Due: gofmt, go-tests, go-lint

fix(launcher): close dev database path escape gaps
  apps/backend/internal/launcher/dev.go
  apps/backend/internal/launcher/devpaths.go
  apps/backend/internal/launcher/devpaths_test.go
  docs/specs/platform/requirements/go-dev-launcher.md
Due: gofmt, go-tests, go-lint

fix: preserve GitHub identity in legacy fallback
  apps/backend/internal/backendapp/git_credentials.go
  apps/backend/internal/backendapp/git_credentials_scope_test.go
Due: gofmt, go-tests, go-lint

test: update task dialog store mock
  apps/web/components/task-create-dialog-setup.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: close terminal theme review gaps
  apps/web/components/task/shell-terminal.tsx
  apps/web/components/task/use-passthrough-terminal.ts
  apps/web/components/task/use-terminal-theme.test.ts
  apps/web/components/theme/app-theme.test.tsx
  apps/web/components/theme/app-theme.tsx
  apps/web/e2e/tests/terminal/mobile-terminal-theme.spec.ts
  apps/web/e2e/tests/terminal/terminal-test-helpers.ts
  apps/web/e2e/tests/terminal/terminal-theme.spec.ts
  apps/web/lib/theme/terminal-theme.test.ts
  apps/web/lib/theme/terminal-theme.ts
  docs/plans/terminal-theme-rendering/plan.md
  docs/plans/terminal-theme-rendering/task-01-add-terminal-theme-regressions.md
  docs/plans/terminal-theme-rendering/task-02-implement-adaptive-terminal-themes.md
  docs/specs/ui/system-design/terminal-rendering.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test: assert sidebar badge row alignment
  apps/web/e2e/tests/gitlab/mr-sidebar-badge.spec.ts
  apps/web/e2e/tests/task/mobile-sidebar-task-actions.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(auth): authorize workspace on analytics stats routes
  apps/backend/internal/analytics/handlers/stats_authz_test.go
  apps/backend/internal/analytics/handlers/stats_handlers.go
  apps/backend/internal/backendapp/helpers.go
Due: gofmt, go-tests, go-lint

fix(auth): scope Docker management endpoints to the caller
  apps/backend/internal/agent/docker/handlers.go
  apps/backend/internal/agent/docker/handlers_auth_test.go
  apps/backend/internal/backendapp/helpers.go
Due: gofmt, go-tests, go-lint

fix(auth): guard quick-chat listing on workspace ownership
  apps/backend/internal/backendapp/boot_state_quick_chat_authz_test.go
  apps/backend/internal/task/handlers/quick_chat_list_authz_test.go
  apps/backend/internal/task/service/quick_chat_sessions.go
  apps/backend/internal/task/service/quick_chat_sessions_access_test.go
Due: gofmt, go-tests, go-lint

fix(web): use stable trigger ref for delete anchor and handle non-session successor
  apps/web/components/task/dockview-session-tab-sync.test.ts
  apps/web/components/task/dockview-session-tab-sync.ts
  apps/web/components/task/session-tab.tsx
  apps/web/e2e/qa-artifacts/desktop-session-close-reopen-menu.png
  apps/web/e2e/qa-artifacts/mobile-sessions-picker.png
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(auth): scope notification providers and delivery to the real user
  apps/backend/internal/backendapp/auth.go
  apps/backend/internal/backendapp/gateway.go
  apps/backend/internal/notifications/controller/controller.go
  apps/backend/internal/notifications/controller/controller_test.go
  apps/backend/internal/notifications/handlers/handlers.go
  apps/backend/internal/notifications/handlers/ownership_test.go
  apps/backend/internal/notifications/service/ownership_test.go
  apps/backend/internal/notifications/service/service.go
  apps/backend/internal/notifications/service/service_test.go
  apps/backend/internal/notifications/store/interface.go
  apps/backend/internal/notifications/store/sqlite.go
  apps/backend/internal/notifications/store/sqlite_ownership_test.go
Due: gofmt, go-tests, go-lint

fix(auth): log stats authorization denials at warn level
  apps/backend/internal/analytics/handlers/stats_authz_test.go
  apps/backend/internal/analytics/handlers/stats_handlers.go
Due: gofmt, go-tests, go-lint

fix(auth): scope Office by-ID routes to the caller's workspace
  apps/backend/internal/backendapp/helpers.go
  apps/backend/internal/backendapp/office_scope.go
  apps/backend/internal/backendapp/office_scope_completeness_test.go
  apps/backend/internal/backendapp/office_scope_test.go
  apps/backend/internal/office/AGENTS.md
  apps/backend/internal/office/repository/sqlite/workspace_scope.go
  apps/backend/internal/office/repository/sqlite/workspace_scope_test.go
Due: gofmt, go-tests, go-lint

fix(auth): fall back to the task label when a container's session is stale
  apps/backend/internal/agent/docker/handlers.go
  apps/backend/internal/agent/docker/handlers_auth_test.go
  apps/backend/internal/backendapp/docker_routes_test.go
Due: gofmt, go-tests, go-lint

test(auth): assert quick-chat 404 against the real not-found error shape
  apps/backend/internal/task/handlers/quick_chat_list_authz_test.go
Due: gofmt, go-tests, go-lint

fix(auth): name the caller in stats authorization denials
  apps/backend/internal/analytics/handlers/stats_authz_test.go
  apps/backend/internal/analytics/handlers/stats_handlers.go
Due: gofmt, go-tests, go-lint

fix: preserve flat models across session resume
  apps/backend/internal/backendapp/helpers.go
  apps/backend/internal/backendapp/helpers_session_models_test.go
  apps/web/lib/ws/handlers/session-models-startup.test.ts
  apps/web/lib/ws/handlers/session-models.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(auth): drop notifications whose owner cannot be resolved
  apps/backend/internal/backendapp/auth.go
  apps/backend/internal/backendapp/auth_test.go
  apps/backend/internal/backendapp/gateway.go
  apps/backend/internal/backendapp/main.go
  apps/backend/internal/backendapp/notifications_wiring_test.go
  apps/backend/internal/notifications/controller/controller_test.go
  apps/backend/internal/notifications/handlers/ownership_test.go
  apps/backend/internal/notifications/service/failclosed_test.go
  apps/backend/internal/notifications/service/ownership_test.go
  apps/backend/internal/notifications/service/service.go
  apps/backend/internal/notifications/service/service_test.go
  apps/backend/internal/system/updates/notify_dispatch_test.go
Due: gofmt, go-tests, go-lint

fix(notifications): address the test notification to the caller
  apps/backend/internal/notifications/service/failclosed_test.go
  apps/backend/internal/notifications/service/service.go
Due: gofmt, go-tests, go-lint

refactor(web): simplify mobile task top bar
  apps/web/components/task/layout-preset-selector.test.tsx
  apps/web/components/task/layout-preset-selector.tsx
  apps/web/components/task/mobile/mobile-changes-panel.tsx
  apps/web/components/task/mobile/mobile-contribution-resolution-drawer.test.tsx
  apps/web/components/task/mobile/mobile-contribution-resolution-drawer.tsx
  apps/web/components/task/mobile/mobile-git-actions-dropdown.tsx
  apps/web/components/task/mobile/mobile-git-push-submenu.tsx
  apps/web/components/task/mobile/session-mobile-top-bar-dialog-parts.tsx
  apps/web/components/task/mobile/session-mobile-top-bar-git-controls.test.tsx
  apps/web/components/task/mobile/session-mobile-top-bar-git-controls.tsx
  apps/web/components/task/mobile/session-mobile-top-bar-repository.test.tsx
  apps/web/components/task/mobile/session-mobile-top-bar.tsx
  apps/web/components/task/remote-contribution-header-actions.tsx
  apps/web/components/task/remote-contribution-resolution-dialog.tsx
  apps/web/components/vcs/vcs-dialog-fields.test.tsx
  apps/web/e2e/tests/git/mobile-local-base-operations.spec.ts
  apps/web/e2e/tests/git/mobile-pr-checkout-drift.spec.ts
  apps/web/e2e/tests/gitlab/mobile-gitlab-parity.spec.ts
  apps/web/e2e/tests/layout/mobile-saved-layout-confirmation.spec.ts
  apps/web/e2e/tests/task/mobile-sidebar-task-actions.spec.ts
  apps/web/e2e/tests/task/mobile-task-topbar-long-title.spec.ts
  apps/web/eslint.i18n.options.mjs
  docs/plans/mobile-task-topbar-cleanup/plan.md
  docs/plans/mobile-task-topbar-cleanup/task-01-remove-duplicate-mobile-topbar-controls.md
  docs/specs/tasks/system-design/remote-contribution-tasks.md
  docs/specs/ui/README.md
  docs/specs/ui/mobile-task-navigation.md
  docs/specs/ui/requirements/mobile-task-chrome.md
  docs/specs/ui/system-design/mobile-task-chrome.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(auth): scope the workflow-step surface to the workspace owner
  apps/backend/AGENTS.md
  apps/backend/internal/backendapp/services.go
  apps/backend/internal/task/service/service_access.go
  apps/backend/internal/task/service/service_access_test.go
  apps/backend/internal/workflow/controller/controller.go
  apps/backend/internal/workflow/handlers/handlers.go
  apps/backend/internal/workflow/handlers/scope_harness_test.go
  apps/backend/internal/workflow/handlers/step_events_test.go
  apps/backend/internal/workflow/handlers/workflow_scope_test.go
  apps/backend/internal/workflow/handlers/ws_helpers.go
  apps/backend/internal/workflow/service/access.go
  apps/backend/internal/workflow/service/access_test.go
  apps/backend/internal/workflow/service/service.go
Due: gofmt, go-tests, go-lint

fix(auth): close two review-found holes in the Office scope guard
  apps/backend/internal/backendapp/helpers.go
  apps/backend/internal/backendapp/office_scope.go
  apps/backend/internal/backendapp/office_scope_completeness_test.go
  apps/backend/internal/backendapp/office_scope_test.go
  apps/backend/internal/office/AGENTS.md
  apps/backend/internal/office/agents/handler.go
  apps/backend/internal/office/repository/sqlite/workspace_scope.go
  apps/backend/internal/office/repository/sqlite/workspace_scope_test.go
Due: gofmt, go-tests, go-lint

test(auth): say what the agent-token Office scope test actually pins
  apps/backend/internal/backendapp/office_scope_test.go
Due: gofmt, go-tests, go-lint

feat(web): render lightweight markdown in clarifications
  apps/backend/cmd/mock-agent/scenarios.go
  apps/web/components/task/chat/clarification-input-overlay.test.tsx
  apps/web/components/task/chat/clarification-input-overlay.tsx
  apps/web/components/task/chat/clarification-markdown.test.tsx
  apps/web/components/task/chat/clarification-markdown.tsx
  apps/web/components/task/chat/clarification-overlay-parts.tsx
  apps/web/components/task/chat/messages/clarification-request-message.test.tsx
  apps/web/components/task/chat/messages/clarification-request-message.tsx
  apps/web/components/task/chat/messages/kandev-tool-message.test.tsx
  apps/web/components/task/chat/messages/kandev/ask-user-question-renderer.test.tsx
  apps/web/components/task/chat/messages/kandev/ask-user-question-renderer.tsx
  apps/web/e2e/tests/chat/clarification.spec.ts
  apps/web/e2e/tests/chat/mobile-clarification.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(auth): hide the Docker build control from non-admins
  apps/backend/internal/agent/docker/handlers_auth_test.go
  apps/web/components/settings/profile-edit/docker-build-card-permissions.test.tsx
  apps/web/components/settings/profile-edit/docker-sections.test.ts
  apps/web/components/settings/profile-edit/docker-sections.tsx
  apps/web/e2e/tests/settings/docker-profile-persistence.spec.ts
  apps/web/src/locales/en/executors.json
  apps/web/src/locales/pseudo/executors.json
  apps/web/src/locales/pt-pt/executors.json
  apps/web/src/locales/zh-cn/executors.json
  apps/web/src/locales/zh-hk/executors.json
  apps/web/src/locales/zh-tw/executors.json
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(auth): require an Office route's ids to name the same workspace
  apps/backend/internal/backendapp/office_scope.go
  apps/backend/internal/backendapp/office_scope_completeness_test.go
  apps/backend/internal/backendapp/office_scope_test.go
  apps/backend/internal/office/AGENTS.md
Due: gofmt, go-tests, go-lint

fix(web): keep clarification summary links passive
  apps/web/components/task/chat/messages/kandev/ask-user-question-renderer.test.tsx
  apps/web/components/task/chat/messages/kandev/ask-user-question-renderer.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(auth): check the IDs a workflow step names, not just the step
  apps/backend/AGENTS.md
  apps/backend/internal/backendapp/services.go
  apps/backend/internal/backendapp/workflow_access_wiring_test.go
  apps/backend/internal/workflow/controller/controller.go
  apps/backend/internal/workflow/handlers/scope_harness_test.go
  apps/backend/internal/workflow/handlers/step_reference_scope_test.go
  apps/backend/internal/workflow/handlers/workflow_scope_test.go
  apps/backend/internal/workflow/models/models.go
  apps/backend/internal/workflow/service/access.go
  apps/backend/internal/workflow/service/access_test.go
  apps/backend/internal/workflow/service/service.go
Due: gofmt, go-tests, go-lint

fix(auth): require admin for system backups and storage maintenance
  apps/backend/internal/system/backups/handler.go
  apps/backend/internal/system/backups/handler_test.go
  apps/backend/internal/system/backups/store.go
  apps/backend/internal/system/storage/handler.go
  apps/backend/internal/system/storage/handler_test.go
  apps/backend/internal/system/storage_routes_test.go
  apps/backend/internal/system/system.go
  apps/backend/internal/system/system_authz_test.go
  apps/web/components/settings/system/backups-table.test.tsx
  apps/web/components/settings/system/backups-table.tsx
  apps/web/components/settings/system/storage/storage-adoption-field.tsx
  apps/web/components/settings/system/storage/storage-gating.test.ts
  apps/web/components/settings/system/storage/storage-gating.ts
  apps/web/components/settings/system/storage/storage-maintenance-settings.test.tsx
  apps/web/components/settings/system/storage/storage-maintenance-settings.tsx
  apps/web/components/settings/system/storage/storage-policy-card.tsx
  apps/web/components/settings/system/storage/storage-workspace-dependency-settings.tsx
  apps/web/hooks/domains/auth/use-is-admin.ts
  apps/web/lib/auth/is-admin.test.ts
  apps/web/lib/auth/is-admin.ts
  apps/web/lib/state/slices/system/system-slice.test.ts
  apps/web/lib/types/system.ts
  apps/web/src/locales/en/system.json
  apps/web/src/locales/pseudo/system.json
  apps/web/src/locales/pt-pt/system.json
  apps/web/src/locales/zh-cn/system.json
  apps/web/src/locales/zh-hk/system.json
  apps/web/src/locales/zh-tw/system.json
  docs/public/authentication.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: preserve authoritative model updates
  apps/backend/internal/backendapp/helpers.go
  apps/backend/internal/backendapp/helpers_session_models_test.go
  apps/web/lib/ws/handlers/session-models-startup.test.ts
  apps/web/lib/ws/handlers/session-models.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(e2e): cover Data & storage member gating on desktop and mobile
  apps/web/e2e/tests/auth/data-storage-gating-helpers.ts
  apps/web/e2e/tests/auth/mobile-system-data-storage-member-gating.spec.ts
  apps/web/e2e/tests/auth/system-data-storage-member-gating.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): harden clarification links and E2E setup
  apps/web/components/task/chat/clarification-markdown.test.tsx
  apps/web/components/task/chat/clarification-markdown.tsx
  apps/web/e2e/helpers/clarification.ts
  apps/web/e2e/tests/chat/clarification.spec.ts
  apps/web/e2e/tests/chat/mobile-clarification.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): strengthen clarification link regression
  apps/web/components/task/chat/messages/kandev/ask-user-question-renderer.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(ui): extend markdown table resizing
  apps/web/app/globals.css
  apps/web/components/editors/tiptap/tiptap-plan-editor.test.tsx
  apps/web/components/editors/tiptap/tiptap-plan-editor.tsx
  apps/web/components/shared/resizable-markdown-table.tsx
  apps/web/components/task/markdown-preview-content.external-link.test.tsx
  apps/web/components/task/markdown-preview-content.tsx
  apps/web/e2e/tests/chat/markdown-preview.spec.ts
  apps/web/e2e/tests/task/mobile-file-viewer.spec.ts
  apps/web/e2e/tests/task/mobile-plan-table-resize.spec.ts
  apps/web/e2e/tests/task/plan-table-resize.spec.ts
  docs/plans/markdown-table-resize-surface-parity/plan.md
  docs/plans/markdown-table-resize-surface-parity/task-01-extend-markdown-previews.md
  docs/plans/markdown-table-resize-surface-parity/task-02-enable-plan-resizing.md
  docs/specs/INDEX.md
  docs/specs/ui/README.md
  docs/specs/ui/requirements/resizable-markdown-tables.md
  docs/specs/ui/resizable-markdown-tables.md
  docs/specs/ui/system-design/resizable-markdown-tables.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): preserve mobile recovery touch targets
  apps/web/components/task/remote-contribution-header-actions.tsx
  apps/web/components/task/remote-contribution-resolution-dialog.tsx
  apps/web/e2e/tests/git/mobile-pr-checkout-drift.spec.ts
  docs/plans/mobile-task-topbar-cleanup/plan.md
  docs/plans/mobile-task-topbar-cleanup/task-01-remove-duplicate-mobile-topbar-controls.md
  docs/specs/ui/requirements/mobile-task-chrome.md
  docs/specs/ui/system-design/mobile-task-chrome.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(auth): fail closed on a failed workspace lookup, and report denials as denials
  apps/backend/internal/mcp/handlers/config_workflow_handlers.go
  apps/backend/internal/mcp/handlers/workflow_scope_error_test.go
  apps/backend/internal/task/service/service_access.go
  apps/backend/internal/task/service/service_access_test.go
  apps/backend/internal/workflow/handlers/handlers.go
  apps/backend/internal/workflow/handlers/scope_harness_test.go
  apps/backend/internal/workflow/handlers/step_events_test.go
  apps/backend/internal/workflow/handlers/workflow_scope_test.go
  apps/backend/internal/workflow/handlers/ws_helpers.go
  apps/backend/internal/workflow/service/access.go
Due: gofmt, go-tests, go-lint

fix(auth): gate the storage Run anyway path and drop the orphan action cell
  apps/web/components/settings/system/backups-table.test.tsx
  apps/web/components/settings/system/backups-table.tsx
  apps/web/components/settings/system/storage/storage-maintenance-settings.test.tsx
  apps/web/components/settings/system/storage/storage-maintenance-settings.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(auth): read auth mode, not just role, when gating install-wide controls
  apps/web/components/settings/system/backups-table.test.tsx
  apps/web/components/settings/system/storage/storage-maintenance-settings.test.tsx
  apps/web/hooks/domains/auth/use-is-admin.ts
  apps/web/lib/auth/is-admin.test.ts
  apps/web/lib/auth/is-admin.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): stabilize handleCloseTab and handleCloseOthers callbacks
  apps/web/components/task/session-tab.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
