Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

fix: make clarification lifecycle retryable
  apps/backend/internal/backendapp/adapters.go
  apps/backend/internal/clarification/canceller.go
  apps/backend/internal/clarification/canceller_test.go
  apps/backend/internal/clarification/handlers.go
  apps/backend/internal/clarification/handlers_test.go
  apps/backend/internal/task/repository/sqlite/message.go
  apps/backend/internal/task/repository/sqlite/message_active_clarification_test.go
  apps/backend/internal/task/repository/sqlite/message_clarification_response.go
  apps/backend/internal/task/repository/sqlite/message_pending_postgres_test.go
  apps/backend/internal/task/repository/sqlite/message_test.go
  apps/backend/internal/task/service/service_messages.go
  apps/backend/internal/task/service/service_status_summary_rebuild.go
  apps/backend/internal/task/service/service_status_summary_rebuild_test.go
  apps/web/components/task/mobile/session-task-switcher-sheet-item.ts
  apps/web/components/task/task-select-helpers.ts
  apps/web/components/task/task-select-races.test.ts
  apps/web/hooks/processed-message-filtering.ts
  apps/web/hooks/use-processed-messages.test.ts
  apps/web/hooks/use-processed-messages.ts
  docs/decisions/2026-08-14-current-turn-clarification-ownership.md
  docs/decisions/INDEX.md
  docs/plans/clarification-active-lifecycle/task-02-current-turn-backend-authority.md
  docs/plans/clarification-active-lifecycle/task-03-summary-pending-convergence.md
  docs/plans/clarification-active-lifecycle/task-04-pending-owner-navigation.md
  docs/specs/clarification-active-lifecycle/spec.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: recover partial clarification bundles
  apps/backend/internal/backendapp/adapters.go
  apps/backend/internal/clarification/handlers.go
  apps/backend/internal/clarification/handlers_test.go
  apps/backend/internal/task/repository/sqlite/message_active_clarification_test.go
  apps/backend/internal/task/repository/sqlite/message_clarification_response.go
  apps/backend/internal/task/repository/sqlite/message_pending_postgres_test.go
  apps/backend/internal/task/service/service_messages.go
  apps/web/components/task/mobile/session-task-switcher-sheet-hooks.test.ts
  apps/web/components/task/mobile/session-task-switcher-sheet-selection.ts
  apps/web/components/task/mobile/session-task-switcher-sheet.tsx
  docs/decisions/2026-08-14-current-turn-clarification-ownership.md
  docs/plans/clarification-active-lifecycle/task-02-current-turn-backend-authority.md
  docs/plans/clarification-active-lifecycle/task-04-pending-owner-navigation.md
  docs/specs/clarification-active-lifecycle/spec.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(github): scope legacy task PR events
  apps/backend/internal/github/controller_task_pr_legacy_workspace_authorization_test.go
  apps/backend/internal/github/service_task_pr_authorization.go
  apps/backend/internal/github/service_task_pr_authorization_test.go
  apps/backend/internal/github/service_task_pr_detach.go
  apps/backend/internal/github/service_task_pr_disposition.go
  apps/backend/internal/github/service_task_pr_disposition_test.go
  docs/plans/task-pr-legacy-workspace-authorization/plan.md
  docs/plans/task-pr-legacy-workspace-authorization/task-01-harden-task-pr-mutations.md
  docs/specs/task-pr-legacy-workspace-authorization/spec.md
Due: gofmt, go-tests, go-lint

fix: clean provider task state on hard delete
  apps/backend/internal/backendapp/gitlab_service_test.go
  apps/backend/internal/backendapp/main.go
  apps/backend/internal/backendapp/services.go
  apps/backend/internal/backendapp/types.go
  apps/backend/internal/github/service_task_events.go
  apps/backend/internal/github/store.go
  apps/backend/internal/github/store_task_cleanup.go
  apps/backend/internal/github/store_task_cleanup_qa_test.go
  apps/backend/internal/github/store_task_cleanup_test.go
  apps/backend/internal/gitlab/service_task_events.go
  apps/backend/internal/gitlab/store.go
  apps/backend/internal/gitlab/store_task_cleanup.go
  apps/backend/internal/gitlab/store_task_cleanup_qa_test.go
  apps/backend/internal/gitlab/store_task_cleanup_test.go
Due: gofmt, go-tests, go-lint

fix: revalidate clarification cancellation
  apps/backend/internal/clarification/canceller.go
  apps/backend/internal/clarification/canceller_test.go
  apps/backend/internal/task/repository/sqlite/message.go
  apps/web/hooks/use-processed-messages.ts
  docs/plans/clarification-active-lifecycle/task-02-current-turn-backend-authority.md
  docs/specs/clarification-active-lifecycle/spec.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

docs: clarify review-sensitive invariants
  apps/backend/internal/task/repository/sqlite/message_clarification_response.go
  apps/web/components/task/mobile/session-task-switcher-sheet-selection.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(routing): cover transport-loss recovery paths
  apps/backend/cmd/mock-agent/main.go
  apps/backend/cmd/mock-agent/transport_lost_test.go
  apps/backend/internal/office/scheduler/routing_lifecycle_test.go
  docs/specs/platform/provider-error-recovery.md
Due: gofmt, go-tests, go-lint

fix: resolve clarification authority edge cases
  apps/backend/internal/clarification/handlers.go
  apps/backend/internal/clarification/handlers_test.go
  apps/backend/internal/task/handlers/cancellation_pending_test.go
  apps/backend/internal/task/handlers/task_http_handlers.go
  apps/backend/internal/task/handlers/task_ws_handlers.go
  apps/backend/internal/task/statussummary/projector.go
  apps/backend/internal/task/statussummary/projector_events.go
  apps/backend/internal/task/statussummary/projector_pending_authority_test.go
  apps/web/components/task/task-select-helpers.test.ts
  apps/web/components/task/task-select-helpers.ts
  apps/web/hooks/processed-message-filtering.ts
  apps/web/hooks/use-processed-messages.test.ts
  apps/web/hooks/use-task-pending-input.test.tsx
  apps/web/hooks/use-task-pending-input.ts
  apps/web/hooks/use-task-removal.ts
  apps/web/lib/utils/pending-clarification.test.ts
  apps/web/lib/utils/pending-clarification.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(plugins): close sidebar workspace action review gaps
  apps/backend/cmd/plugin-fixture/fixture-package/ui/bundle.js
  apps/backend/internal/plugins/user_state_handlers_test.go
  apps/web/AGENTS.md
  apps/web/components/app-sidebar/app-sidebar-new-task-item.test.tsx
  apps/web/components/app-sidebar/app-sidebar-new-task-item.tsx
  apps/web/components/app-sidebar/app-sidebar-workspace-actions.tsx
  apps/web/components/kanban/mobile-menu-sheet.tsx
  apps/web/components/navigation/app-nav-sections.tsx
  apps/web/components/navigation/app-nav-sheet.test.tsx
  apps/web/components/navigation/app-nav-sheet.tsx
  apps/web/e2e/tests/plugins/mobile-plugin-sidebar-workspace-actions.spec.ts
  apps/web/e2e/tests/plugins/plugin-sidebar-workspace-actions.spec.ts
  apps/web/e2e/tests/plugins/plugin-task-panel.spec.ts
  apps/web/lib/plugins/types.ts
  docs/plans/plugins/PLUGIN-API.md
  docs/public/plugins-authoring.md
  docs/specs/plugins/spec.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: invalidate stale sidebar task selections
  apps/web/components/task/task-select-helpers.ts
  apps/web/components/task/task-select-races.test.ts
  apps/web/components/task/task-session-sidebar.tsx
  docs/plans/clarification-active-lifecycle/plan.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: preserve sender attribution for deferred moves
  apps/backend/internal/mcp/handlers/config_handlers_test.go
  apps/backend/internal/mcp/handlers/config_task_handlers.go
  apps/backend/internal/orchestrator/event_handlers_pending_move_attribution_test.go
  apps/backend/internal/orchestrator/event_handlers_pending_move_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/messagequeue/repository_sqlite.go
  apps/backend/internal/orchestrator/messagequeue/repository_sqlite_test.go
  apps/backend/internal/orchestrator/messagequeue/service_test.go
  apps/backend/internal/orchestrator/messagequeue/types.go
Due: gofmt, go-tests, go-lint

test: remove flaky port uniqueness assertion
  apps/backend/internal/agentctl/server/process/vscode_test.go
Due: gofmt, go-tests, go-lint

fix(backend): preserve late frames and simplify migration
  apps/backend/internal/orchestrator/event_handlers.go
  apps/backend/internal/orchestrator/event_handlers_streaming.go
  apps/backend/internal/orchestrator/event_handlers_streaming_subagent_test.go
  apps/backend/internal/task/repository/sqlite/base.go
  apps/backend/internal/task/repository/sqlite/base_migrations.go
  apps/backend/internal/task/repository/sqlite/base_schema.go
  apps/backend/internal/task/repository/sqlite/subagent_context_activation.go
  apps/backend/internal/task/repository/sqlite/subagent_context_backfill.go
  apps/backend/internal/task/repository/sqlite/subagent_context_backfill_gating_test.go
  apps/backend/internal/task/repository/sqlite/subagent_context_execution_migration.go
  apps/backend/internal/task/repository/sqlite/subagent_context_migration_test.go
  apps/backend/internal/task/repository/sqlite/subagent_context_postgres_test.go
  docs/decisions/2026-08-15-subagent-context-schema-boundary.md
  docs/decisions/INDEX.md
  docs/plans/subagent-context-persistence/plan.md
  docs/plans/subagent-context-persistence/task-05-postgres-and-health.md
  docs/specs/subagent-context-persistence/spec.md
Due: gofmt, go-tests, go-lint

fix(orchestrator): harden Send Now dispatch ownership
  apps/backend/internal/orchestrator/event_handlers_streaming.go
  apps/backend/internal/orchestrator/queue_send_now.go
  apps/backend/internal/orchestrator/queue_send_now_test.go
  apps/backend/internal/orchestrator/queued_dispatch.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/task_operations.go
Due: gofmt, go-tests, go-lint

refactor(plugins): use SDK nav section type
  apps/web/lib/plugins/types.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: harden SQLite restore replacement
  apps/backend/AGENTS.md
  apps/backend/internal/backendapp/main.go
  apps/backend/internal/backendapp/restore_quiesce.go
  apps/backend/internal/backendapp/restore_quiesce_test.go
  apps/backend/internal/system/backups/handler.go
  apps/backend/internal/system/backups/path_test.go
  apps/backend/internal/system/backups/store.go
  apps/backend/internal/system/system.go
  apps/backend/internal/system/system_database_path_test.go
  apps/web/components/settings/system/restore-dialog.tsx
  apps/web/components/settings/system/system-confirmation-dialogs.test.tsx
  apps/web/src/locales/en/system.json
  apps/web/src/locales/pseudo/system.json
  apps/web/src/locales/pt-pt/system.json
  apps/web/src/locales/zh-cn/system.json
  apps/web/src/locales/zh-hk/system.json
  apps/web/src/locales/zh-tw/system.json
  docs/plans/sqlite-backups-database-path/plan.md
  docs/plans/sqlite-backups-database-path/task-01-backend-database-path.md
  docs/plans/sqlite-backups-database-path/task-02-document-database-path.md
  docs/public/configuration.md
  docs/public/operations.md
  docs/specs/system-page/spec.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: clear deleted session errors
  apps/backend/internal/orchestrator/queue_purge_status_test.go
  apps/backend/internal/orchestrator/task_operations.go
  docs/plans/deleted-session-error-summary/plan.md
  docs/plans/deleted-session-error-summary/task-01-clear-deleted-session-error.md
  docs/specs/platform/bounded-task-status-delivery.md
Due: gofmt, go-tests, go-lint

fix: acknowledge detached clarification resumes
  apps/backend/internal/backendapp/helpers.go
  apps/backend/internal/clarification/canceller.go
  apps/backend/internal/clarification/canceller_test.go
  apps/backend/internal/clarification/handlers.go
  apps/backend/internal/clarification/handlers_test.go
  apps/backend/internal/orchestrator/event_handlers_clarification.go
  apps/backend/internal/orchestrator/event_handlers_clarification_test.go
  apps/backend/internal/orchestrator/session_scope_matrix_test.go
  apps/backend/internal/task/service/service_messages.go
  apps/backend/internal/task/statussummary/projector_events.go
  docs/plans/clarification-active-lifecycle/plan.md
  docs/plans/clarification-active-lifecycle/task-02-current-turn-backend-authority.md
  docs/specs/clarification-active-lifecycle/spec.md
Due: gofmt, go-tests, go-lint

test: seed workspaces in postgres ledger tests
  apps/backend/internal/task/repository/sqlite/step_transitions_writer_postgres_test.go
Due: gofmt, go-tests, go-lint

fix(office): preserve turn and zero-cost attribution
  apps/backend/internal/agent/runtime/lifecycle/event_types.go
  apps/backend/internal/agent/runtime/lifecycle/events.go
  apps/backend/internal/agent/runtime/lifecycle/executor_backend.go
  apps/backend/internal/agent/runtime/lifecycle/manager_events.go
  apps/backend/internal/agent/runtime/lifecycle/manager_events_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_launch.go
  apps/backend/internal/agent/runtime/lifecycle/types.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/adapter_prompt.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/adapter_updates.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/usage_test.go
  apps/backend/internal/agentctl/types/streams/agent.go
  apps/backend/internal/backendapp/adapters.go
  apps/backend/internal/office/service/event_subscribers.go
  apps/backend/internal/office/service/event_subscribers_cost_test.go
  apps/backend/internal/office/service/prompt_usage_cost.go
  apps/backend/internal/orchestrator/event_handlers_streaming.go
  apps/backend/internal/orchestrator/event_handlers_streaming_test.go
  apps/backend/internal/orchestrator/executor/executor.go
  apps/backend/internal/orchestrator/executor/executor_execute.go
  apps/backend/internal/orchestrator/task_operations.go
  docs/specs/office/costs.md
Due: gofmt, go-tests, go-lint

test(plugins): align slot assertions with wrapper
  apps/web/components/app-sidebar/app-sidebar-new-task-item.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test(orchestrator): register Send Now gate cleanup early
  apps/backend/internal/orchestrator/queue_send_now_test.go
Due: gofmt, go-tests, go-lint

fix: harden task status and navigation fallbacks
  apps/backend/internal/task/dto/converters_test.go
  apps/backend/internal/task/dto/dto.go
  apps/backend/internal/task/handlers/task_http_handlers.go
  apps/web/components/task/mobile/session-task-switcher-sheet-hooks.test.ts
  apps/web/components/task/mobile/session-task-switcher-sheet-selection.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test: cover clarification authority states
  apps/backend/internal/backendapp/gateway.go
  apps/backend/internal/task/handlers/task_http_handlers.go
  apps/backend/internal/task/handlers/task_ws_handlers.go
  apps/web/lib/utils/pending-clarification.test.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: recover mixed clarification bundles
  apps/backend/internal/clarification/handlers.go
  apps/backend/internal/clarification/handlers_test.go
  apps/web/lib/utils/pending-clarification.test.ts
  apps/web/lib/utils/pending-clarification.ts
  docs/plans/clarification-active-lifecycle/task-02-current-turn-backend-authority.md
  docs/plans/clarification-active-lifecycle/task-04-pending-owner-navigation.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: serialize deleted session error projection
  apps/backend/internal/orchestrator/event_handlers_agent.go
  apps/backend/internal/orchestrator/queue_purge_status_test.go
  apps/backend/internal/orchestrator/task_operations.go
  docs/plans/deleted-session-error-summary/plan.md
  docs/plans/deleted-session-error-summary/task-01-clear-deleted-session-error.md
  docs/specs/platform/bounded-task-status-delivery.md
Due: gofmt, go-tests, go-lint

fix: preserve clarification restore snapshots
  apps/backend/internal/task/repository/sqlite/message_active_clarification_test.go
  apps/backend/internal/task/repository/sqlite/message_clarification_response.go
  apps/web/hooks/use-processed-messages.test.ts
  docs/plans/clarification-active-lifecycle/task-02-current-turn-backend-authority.md
  docs/plans/clarification-active-lifecycle/task-04-pending-owner-navigation.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(e2e): remove retry-only CI races
  apps/web/e2e/tests/chat/subagent.spec.ts
  apps/web/e2e/tests/settings/secrets-copy-move.spec.ts
  apps/web/e2e/tests/task/mobile-task-listing-display.spec.ts
  apps/web/e2e/tests/workflow/workflow-cycle-guardrails.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: bound detached clarification dispatch
  apps/backend/internal/orchestrator/event_handlers_agent.go
  apps/backend/internal/orchestrator/event_handlers_clarification.go
  apps/backend/internal/orchestrator/event_handlers_clarification_test.go
  apps/backend/internal/orchestrator/foreground_claim_test.go
  apps/backend/internal/orchestrator/queue_send_now.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/web/hooks/use-task-pending-input.ts
  apps/web/lib/utils/pending-clarification.ts
  docs/plans/clarification-active-lifecycle/task-02-current-turn-backend-authority.md
  docs/specs/clarification-active-lifecycle/spec.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

docs: record final restore verification
  docs/plans/sqlite-backups-database-path/plan.md
  docs/plans/sqlite-backups-database-path/task-01-backend-database-path.md
Due: none

fix: close clarification ownership races
  apps/backend/internal/clarification/canceller.go
  apps/backend/internal/clarification/canceller_test.go
  apps/backend/internal/clarification/handlers.go
  apps/backend/internal/clarification/handlers_primary_restore_test.go
  apps/backend/internal/clarification/handlers_test.go
  apps/backend/internal/task/repository/sqlite/message_clarification_race_test.go
  apps/backend/internal/task/repository/sqlite/message_clarification_response.go
  apps/backend/internal/task/repository/sqlite/message_pending_postgres_test.go
  apps/web/components/task/mobile/session-task-switcher-sheet-hooks.test.ts
  apps/web/components/task/mobile/session-task-switcher-sheet-hooks.ts
  apps/web/components/task/mobile/session-task-switcher-sheet-selection.ts
  apps/web/components/task/task-select-helpers.test.ts
  apps/web/components/task/task-select-helpers.ts
  apps/web/components/task/task-select-races.test.ts
  apps/web/hooks/use-task-removal-session-loading.test.ts
  apps/web/hooks/use-task-removal.ts
  docs/plans/clarification-active-lifecycle/plan.md
  docs/plans/clarification-active-lifecycle/task-02-current-turn-backend-authority.md
  docs/plans/clarification-active-lifecycle/task-04-pending-owner-navigation.md
  docs/specs/clarification-active-lifecycle/spec.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(e2e): choose the seeded secret destination
  apps/web/e2e/tests/settings/secrets-copy-move.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: harden deleted session error repair
  apps/backend/internal/orchestrator/event_handlers_agent.go
  apps/backend/internal/orchestrator/queue_purge_status_test.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/task_session_error_fixup_test.go
  docs/plans/deleted-session-error-summary/plan.md
  docs/plans/deleted-session-error-summary/task-01-clear-deleted-session-error.md
  docs/specs/platform/bounded-task-status-delivery.md
Due: gofmt, go-tests, go-lint

fix: defer clarification turns until dispatch
  apps/backend/internal/orchestrator/event_handlers_clarification.go
  apps/backend/internal/orchestrator/event_handlers_clarification_test.go
  apps/backend/internal/orchestrator/task_operations.go
  docs/plans/clarification-active-lifecycle/plan.md
  docs/plans/clarification-active-lifecycle/task-02-current-turn-backend-authority.md
  docs/specs/clarification-active-lifecycle/spec.md
Due: gofmt, go-tests, go-lint

fix: guard pending-session refresh races
  apps/web/components/task/task-select-helpers.test.ts
  apps/web/components/task/task-select-helpers.ts
  apps/web/hooks/use-task-removal-session-loading.test.ts
  apps/web/hooks/use-task-removal.ts
  docs/plans/clarification-active-lifecycle/plan.md
  docs/plans/clarification-active-lifecycle/task-04-pending-owner-navigation.md
  docs/specs/clarification-active-lifecycle/spec.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): assert the freshness guard's artifact skip cannot mask a stale binary
  apps/web/e2e/global-setup.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

chore: notes for PR/MR description
  .kandev/review-notes.md
Due: none

docs(redmine): spec + plan for Redmine as a Kandev plugin
  docs/plans/redmine-plugin/plan.md
  docs/plans/redmine-plugin/task-01-design-package.md
  docs/plans/redmine-plugin/task-02-plugin-repository-bootstrap.md
  docs/plans/redmine-plugin/task-03-connection-secrets-health.md
  docs/plans/redmine-plugin/task-04-projects-field-mapping.md
  docs/plans/redmine-plugin/task-05-issue-read-write-attachments.md
  docs/plans/redmine-plugin/task-06-task-linking-bidirectional-sync.md
  docs/plans/redmine-plugin/task-07-issue-watchers.md
  docs/plans/redmine-plugin/task-08-settings-ui-native-registrations.md
  docs/plans/redmine-plugin/task-09-contract-e2e-release.md
  docs/specs/INDEX.md
  docs/specs/redmine-plugin/spec.md
Due: none

fix: serialize clarification turn handoff
  apps/backend/internal/backendapp/turn_adapters.go
  apps/backend/internal/integration/test_server_test.go
  apps/backend/internal/orchestrator/event_handlers_agent_clarification_test.go
  apps/backend/internal/orchestrator/event_handlers_clarification.go
  apps/backend/internal/orchestrator/event_handlers_clarification_test.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/turn_lifecycle_test.go
  apps/backend/internal/task/handlers/process_handlers_test.go
  apps/backend/internal/task/repository/interface.go
  apps/backend/internal/task/repository/sqlite/message_clarification_response.go
  apps/backend/internal/task/repository/sqlite/message_pending_postgres_test.go
  apps/backend/internal/task/repository/sqlite/session.go
  apps/backend/internal/task/repository/sqlite/session_turn_lock.go
  apps/backend/internal/task/service/service_turns.go
  apps/backend/internal/task/service/service_turns_test.go
  apps/backend/internal/task/statussummary/projector.go
  apps/backend/internal/task/statussummary/projector_events.go
  apps/backend/internal/task/statussummary/projector_pending_authority_test.go
Due: gofmt, go-tests, go-lint

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
