Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

chore: add multi-repo integration test marker
  multi-repo-test-2.txt
Due: none

fix(executor): serialise concurrent LaunchPreparedSession per session
  apps/backend/internal/orchestrator/executor/executor_execute.go
  apps/backend/internal/orchestrator/executor/executor_test.go
Due: gofmt, go-tests, go-lint

chore: add scratch notes
  .scratch/notes.txt
Due: none

chore: extend scratch notes
  .scratch/notes.txt
Due: none

fix: remove settings topbar border (#774)
  apps/web/components/settings/settings-layout-client.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(orchestrator): per-repo push detection so each repo's PR gets associated
  apps/backend/internal/orchestrator/event_handlers_git.go
  apps/backend/internal/orchestrator/event_handlers_github.go
  apps/backend/internal/orchestrator/event_handlers_github_test.go
  apps/backend/internal/orchestrator/service.go
Due: gofmt, go-tests, go-lint

feat(web): one PR button per repo in topbar + per-PR detail panels
  apps/web/components/github/pr-detail-panel.tsx
  apps/web/components/github/pr-topbar-button.tsx
  apps/web/components/task/dockview-desktop-layout.tsx
  apps/web/lib/state/dockview-panel-actions.ts
  apps/web/lib/state/dockview-store.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(web): collapse multi-PR topbar to a dropdown + show every PR in the + menu
  apps/web/components/github/pr-topbar-button.tsx
  apps/web/components/task/dockview-add-panel-items.tsx
  apps/web/components/task/dockview-header-actions.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web/changes-panel): PR files arrive after race-cancelled fetch
  apps/web/hooks/domains/github/use-active-task-pr-files.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: cover review-feedback gaps (mapPRFilesToChangedFiles, push multi-repo, lock test channel-sync)
  apps/backend/internal/orchestrator/event_handlers_github_test.go
  apps/backend/internal/orchestrator/executor/executor_test.go
  apps/web/components/task/changes-panel-helpers.test.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test: add duplicate port_proxy fixtures for integration tests
  apps/backend/internal/gateway/websocket/port_proxy.copy1.go.txt
  apps/backend/internal/gateway/websocket/port_proxy.copy2.go.txt
Due: none

fix: prevent inline code from rendering diagrams (#773)
  apps/web/components/shared/markdown-components.test.tsx
  apps/web/components/shared/markdown-components.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: add recent task switcher
  apps/web/app/layout.tsx
  apps/web/components/task/recent-task-switcher-keys.test.ts
  apps/web/components/task/recent-task-switcher-keys.ts
  apps/web/components/task/recent-task-switcher-model.test.ts
  apps/web/components/task/recent-task-switcher-model.ts
  apps/web/components/task/recent-task-switcher.tsx
  apps/web/e2e/tests/settings/keyboard-shortcuts.spec.ts
  apps/web/e2e/tests/task/recent-task-switcher.spec.ts
  apps/web/lib/keyboard/constants.test.ts
  apps/web/lib/keyboard/constants.ts
  apps/web/lib/keyboard/shortcut-overrides.test.ts
  apps/web/lib/keyboard/shortcut-overrides.ts
  apps/web/lib/recent-tasks.test.ts
  apps/web/lib/recent-tasks.ts
  apps/web/lib/ws/handlers/tasks.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(orchestrator): detect push when first poll lands post-sync
  apps/backend/internal/orchestrator/event_handlers_git.go
  apps/backend/internal/orchestrator/event_handlers_git_test.go
  apps/backend/internal/orchestrator/event_handlers_github.go
  apps/backend/internal/orchestrator/task_operations.go
Due: gofmt, go-tests, go-lint

test: add integration test files
  test_integration_k1.txt
  test_integration_k2.txt
Due: none

fix(web/topbar): restore pr-topbar-button testid for single-PR case
  apps/web/components/github/pr-topbar-button.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address task switcher review feedback
  apps/web/components/task/recent-task-switcher-hooks.ts
  apps/web/components/task/recent-task-switcher-model.test.ts
  apps/web/components/task/recent-task-switcher-model.ts
  apps/web/components/task/recent-task-switcher.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test: cover recent task cleanup
  apps/web/lib/ws/handlers/tasks.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(orchestrator): create one PR watch per repo on multi-repo tasks
  apps/backend/internal/orchestrator/event_handlers_github.go
  apps/backend/internal/orchestrator/event_handlers_github_test.go
Due: gofmt, go-tests, go-lint

perf: reduce recent task switcher storage reads
  apps/web/components/task/recent-task-switcher-hooks.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(ui): collapse commits and PR changes by default in changes panel
  apps/web/components/task/changes-panel-timeline-grouping.test.tsx
  apps/web/components/task/changes-panel-timeline.tsx
  apps/web/e2e/pages/session-page.ts
  apps/web/e2e/tests/git/git-changes-panel.spec.ts
  apps/web/e2e/tests/layout/preview-tabs.spec.ts
  apps/web/e2e/tests/pr/pr-detection.spec.ts
  apps/web/e2e/tests/pr/pr-switcher-changes.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(e2e): re-expand commits section after remount in squash and focus tests
  apps/web/e2e/tests/git/git-changes-panel.spec.ts
  apps/web/e2e/tests/layout/changes-panel-focus.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(ui): collapse commits and PR changes by default in changes panel (#781)
  apps/web/components/task/changes-panel-timeline-grouping.test.tsx
  apps/web/components/task/changes-panel-timeline.tsx
  apps/web/e2e/pages/session-page.ts
  apps/web/e2e/tests/git/git-changes-panel.spec.ts
  apps/web/e2e/tests/layout/changes-panel-focus.spec.ts
  apps/web/e2e/tests/layout/preview-tabs.spec.ts
  apps/web/e2e/tests/pr/pr-detection.spec.ts
  apps/web/e2e/tests/pr/pr-switcher-changes.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: add border to task name input in create dialog
  apps/web/components/task-create-dialog-selectors.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: dedupe cancel-turn clicks to stop "turn cancelled" cascade
  apps/backend/internal/orchestrator/event_handlers_test.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/task_operations_test.go
  apps/web/components/task/chat/chat-input-toolbar.test.tsx
  apps/web/components/task/chat/chat-input-toolbar.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: restore focus-visible indicator on task name input
  apps/web/components/task-create-dialog-selectors.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(github): heal legacy PR watches so single-repo tasks don't dupe PRs
  apps/backend/internal/github/store.go
  apps/backend/internal/github/store_multi_repo_test.go
Due: gofmt, go-tests, go-lint

fix: show question icon only for pending input
  apps/web/components/kanban-card.tsx
  apps/web/components/kanban/graph2-step-node.tsx
  apps/web/components/kanban/swimlane-graph-content.tsx
  apps/web/components/task/mobile/session-task-switcher-sheet.tsx
  apps/web/components/task/task-item.test.tsx
  apps/web/components/task/task-item.tsx
  apps/web/components/task/task-session-sidebar.tsx
  apps/web/components/task/task-switcher.tsx
  apps/web/lib/ui/state-icons.test.tsx
  apps/web/lib/ui/state-icons.tsx
  apps/web/lib/utils/pending-clarification.test.ts
  apps/web/lib/utils/pending-clarification.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address pending input review feedback
  apps/web/components/kanban-card.tsx
  apps/web/components/kanban/graph2-step-node.tsx
  apps/web/components/kanban/swimlane-graph-content.tsx
  apps/web/components/task/task-item.test.tsx
  apps/web/hooks/use-task-pending-clarification.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor(handlers): use GetOrEnsureExecution for workspace ops
  apps/backend/internal/agent/handlers/git_handlers.go
  apps/backend/internal/agent/handlers/shell_handlers.go
Due: gofmt, go-tests, go-lint

fix: add border to task name input in create dialog (#783)
  apps/web/components/task-create-dialog-selectors.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: reduce pending input sidebar complexity
  apps/web/components/task/task-session-sidebar.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address PR review feedback
  apps/backend/internal/orchestrator/event_handlers_test.go
  apps/backend/internal/orchestrator/task_operations_test.go
  apps/web/components/task/chat/chat-input-toolbar.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: address clarification review comments
  apps/web/components/task/mobile/session-task-switcher-sheet.tsx
  apps/web/components/task/task-session-sidebar.tsx
  apps/web/hooks/use-processed-messages.ts
  apps/web/hooks/use-task-pending-clarification.ts
  apps/web/lib/utils/pending-clarification.test.ts
  apps/web/lib/utils/pending-clarification.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(handlers): cover wsShellSubscribe no-instance path
  apps/backend/internal/agent/handlers/shell_handlers_test.go
Due: gofmt, go-tests, go-lint

test: cover pending clarification hook
  apps/web/hooks/use-task-pending-clarification.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: dedupe cancel-turn clicks to stop "turn cancelled" cascade (#784)
  apps/backend/internal/orchestrator/event_handlers_test.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/task_operations_test.go
  apps/web/components/task/chat/chat-input-toolbar.test.tsx
  apps/web/components/task/chat/chat-input-toolbar.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat: show question icon only for pending input (#782)
  apps/web/components/kanban-card.tsx
  apps/web/components/kanban/graph2-step-node.tsx
  apps/web/components/kanban/swimlane-graph-content.tsx
  apps/web/components/task/mobile/session-task-switcher-sheet.tsx
  apps/web/components/task/task-item.test.tsx
  apps/web/components/task/task-item.tsx
  apps/web/components/task/task-session-sidebar.tsx
  apps/web/components/task/task-switcher.tsx
  apps/web/hooks/use-processed-messages.ts
  apps/web/hooks/use-task-pending-clarification.test.tsx
  apps/web/hooks/use-task-pending-clarification.ts
  apps/web/lib/ui/state-icons.test.tsx
  apps/web/lib/ui/state-icons.tsx
  apps/web/lib/utils/pending-clarification.test.ts
  apps/web/lib/utils/pending-clarification.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: focus task name on create dialog open
  apps/web/components/task-create-dialog-form-body.tsx
  apps/web/components/task-create-dialog.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck
