Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

chore: add review notes for PR description
  .kandev/review-notes.md
Due: none

chore: remove task-local review notes
  .kandev/review-notes.md
Due: none

fix(tasks): retain compacted branch recovery commits
  apps/backend/internal/worktree/branch_cleanup.go
  apps/backend/internal/worktree/branch_cleanup_interruption_test.go
  apps/backend/internal/worktree/manager.go
  apps/backend/internal/worktree/manager_git.go
  apps/backend/internal/worktree/manager_lifecycle.go
  apps/backend/internal/worktree/manager_recreate_recovery_test.go
  apps/backend/internal/worktree/manager_test.go
  apps/backend/internal/worktree/store.go
  docs/decisions/2026-08-30-compact-integrated-managed-branches.md
  docs/specs/tasks/requirements/runtime-cleanup.md
  docs/specs/tasks/system-design/runtime-cleanup.md
Due: gofmt, go-tests, go-lint

fix(gitlab): project merge request commit SHAs
  apps/backend/internal/backendapp/helpers.go
  apps/backend/internal/github/store_task_pr_detach_test.go
  apps/backend/internal/gitlab/client_helpers.go
  apps/backend/internal/gitlab/client_helpers_test.go
  apps/backend/internal/gitlab/models.go
  apps/backend/internal/gitlab/service_task_mr_link.go
  apps/backend/internal/gitlab/store.go
  apps/backend/internal/gitlab/store_task_mr_sha_test.go
  apps/backend/internal/mcp/handlers/task_pr_enrich.go
  apps/backend/internal/mcp/handlers/task_pr_enrich_test.go
  apps/backend/pkg/api/v1/task.go
Due: gofmt, go-tests, go-lint

fix(queue): bind durable delivery to session incarnation
  apps/backend/internal/orchestrator/event_handlers_agent.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/messagequeue/repository.go
  apps/backend/internal/orchestrator/messagequeue/repository_memory.go
  apps/backend/internal/orchestrator/messagequeue/repository_send_now_test.go
  apps/backend/internal/orchestrator/messagequeue/repository_sqlite.go
  apps/backend/internal/orchestrator/messagequeue/repository_sqlite_test.go
  apps/backend/internal/orchestrator/messagequeue/routine_wake_durability_test.go
  apps/backend/internal/orchestrator/messagequeue/send_now.go
  apps/backend/internal/orchestrator/messagequeue/service.go
  apps/backend/internal/orchestrator/messagequeue/types.go
  apps/backend/internal/orchestrator/queue_send_now.go
Due: gofmt, go-tests, go-lint

docs: clarify rerun-only CI recovery
  docs/public/feature-status.md
Due: none

fix(worktree): harden recovery admission
  apps/backend/internal/orchestrator/executor/executor_resume.go
  apps/backend/internal/orchestrator/executor/executor_resume_test.go
  apps/backend/internal/worktree/manager.go
  apps/backend/internal/worktree/manager_state.go
  apps/backend/internal/worktree/manager_test.go
  apps/backend/internal/worktree/recovery.go
  apps/backend/internal/worktree/recovery_files.go
  apps/backend/internal/worktree/recovery_rematerialization_test.go
  apps/backend/internal/worktree/recovery_review_test.go
  apps/backend/internal/worktree/recovery_sync_unix.go
  apps/backend/internal/worktree/recovery_sync_windows.go
  apps/backend/internal/worktree/recovery_sync_windows_test.go
  apps/backend/internal/worktree/recovery_test.go
Due: gofmt, go-tests, go-lint

docs(backend): clarify deferred lifecycle-recovery invariants
  apps/backend/internal/orchestrator/event_handlers_workflow.go
Due: gofmt, go-tests, go-lint

fix(mcp): preserve task change facts
  apps/backend/internal/backendapp/helpers.go
  apps/backend/internal/backendapp/helpers_test.go
  apps/backend/internal/backendapp/task_change_link_coordinator.go
  apps/backend/internal/backendapp/task_change_link_coordinator_test.go
  apps/backend/internal/mcp/handlers/task_pr_enrich.go
  apps/backend/internal/mcp/handlers/task_pr_enrich_test.go
  apps/backend/internal/mcp/server/handlers_test.go
  apps/backend/internal/mcp/server/server.go
  docs/public/automation-and-mcp.md
Due: gofmt, go-tests, go-lint

docs(office): specify budget notification idempotency
  docs/specs/office/README.md
  docs/specs/office/requirements/costs.md
  docs/specs/office/system-design/costs-03.md
  docs/specs/office/system-design/costs-04.md
Due: none

test(office): add Postgres coverage for budget claim table
  apps/backend/internal/office/repository/sqlite/budget_claims_postgres_test.go
Due: gofmt, go-tests, go-lint

fix(office): make budget notifications fire once per crossing
  apps/backend/internal/office/costs/budget_claim_metrics.go
  apps/backend/internal/office/costs/budget_idempotency_test.go
  apps/backend/internal/office/costs/budgets.go
  apps/backend/internal/office/costs/budgets_test.go
  apps/backend/internal/office/costs/service.go
  apps/backend/internal/office/repository/sqlite/base.go
  apps/backend/internal/office/repository/sqlite/base_test.go
  apps/backend/internal/office/repository/sqlite/budget_atomicity_internal_test.go
  apps/backend/internal/office/repository/sqlite/budgets.go
  apps/backend/internal/office/repository/sqlite/budgets_test.go
Due: gofmt, go-tests, go-lint

fix(office): claim alert companion before emitting budget.exceeded
  apps/backend/internal/office/costs/budget_idempotency_test.go
  apps/backend/internal/office/costs/budgets.go
  apps/backend/internal/office/costs/budgets_test.go
Due: gofmt, go-tests, go-lint

test(office): pin claim-store SQLite pools and cover exceeded-path fault
  apps/backend/internal/office/costs/budget_idempotency_test.go
  apps/backend/internal/office/repository/sqlite/budget_atomicity_internal_test.go
  apps/backend/internal/office/repository/sqlite/budgets_test.go
Due: gofmt, go-tests, go-lint

feat(office): fence budget claims to policy revision
  apps/backend/internal/office/costs/budget_idempotency_test.go
  apps/backend/internal/office/costs/budgets.go
  apps/backend/internal/office/costs/budgets_test.go
  apps/backend/internal/office/costs/handler_budget_revision_test.go
  apps/backend/internal/office/costs/service.go
  apps/backend/internal/office/models/models.go
  apps/backend/internal/office/repository/sqlite/base.go
  apps/backend/internal/office/repository/sqlite/base_migrations.go
  apps/backend/internal/office/repository/sqlite/budget_atomicity_internal_test.go
  apps/backend/internal/office/repository/sqlite/budget_claims_postgres_test.go
  apps/backend/internal/office/repository/sqlite/budget_claims_recreate_internal_test.go
  apps/backend/internal/office/repository/sqlite/budget_exceeded_atomicity_internal_test.go
  apps/backend/internal/office/repository/sqlite/budget_revision_fencing_test.go
  apps/backend/internal/office/repository/sqlite/budgets.go
  apps/backend/internal/office/repository/sqlite/budgets_test.go
  docs/specs/budget-claim-revision-fencing/amendments.md
  docs/specs/budget-claim-revision-fencing/input-inventory.md
  docs/specs/budget-claim-revision-fencing/prior-art.md
  docs/specs/budget-claim-revision-fencing/spec.md
  docs/specs/budget-claim-revision-fencing/verification.md
Due: gofmt, go-tests, go-lint

fix(office): make budget-claims recreate atomic across drop and create
  apps/backend/internal/office/costs/budget_idempotency_test.go
  apps/backend/internal/office/repository/sqlite/base.go
  apps/backend/internal/office/repository/sqlite/budget_atomicity_internal_test.go
  apps/backend/internal/office/repository/sqlite/budget_claims_recreate_internal_test.go
  apps/backend/internal/office/repository/sqlite/budgets.go
Due: gofmt, go-tests, go-lint

fix(test): respect shadowed os imports
  apps/backend/internal/testutil/envscan.go
  apps/backend/internal/testutil/envscan_test.go
Due: gofmt, go-tests, go-lint

fix(queue): fence census disposition by session incarnation
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/message_queue_census.go
  apps/backend/internal/orchestrator/messagequeue/census_disposition.go
  apps/backend/internal/orchestrator/messagequeue/repository.go
  apps/backend/internal/orchestrator/messagequeue/repository_memory.go
  apps/backend/internal/orchestrator/messagequeue/repository_sqlite.go
  apps/backend/internal/orchestrator/messagequeue/repository_sqlite_test.go
Due: gofmt, go-tests, go-lint

fix(office): give budget claims test fixture a full tasks shape
  apps/backend/internal/office/repository/sqlite/budgets_test.go
Due: gofmt, go-tests, go-lint

fix(github): avoid detach transaction reentry
  apps/backend/internal/github/store.go
Due: gofmt, go-tests, go-lint

fix(workflow): settle terminal routes atomically
  apps/backend/internal/mcp/handlers/config_task_handlers.go
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/messagequeue/pending_move_sweep.go
  apps/backend/internal/orchestrator/messagequeue/repository_memory.go
  apps/backend/internal/orchestrator/messagequeue/repository_sqlite.go
  apps/backend/internal/orchestrator/messagequeue/types.go
  apps/backend/internal/orchestrator/workflow_store.go
  apps/backend/internal/task/repository/sqlite/task.go
Due: gofmt, go-tests, go-lint

fix(github): surface canceled admission rate details
  apps/backend/internal/github/rate_coordinator.go
  apps/backend/internal/github/rate_coordinator_test.go
  apps/backend/internal/github/rate_error.go
  apps/backend/internal/workflowsync/handlers_test.go
Due: gofmt, go-tests, go-lint

fix(web): give the office agent recovery control a touch-sized hit area
  apps/web/app/office/agents/[id]/components/agent-recovery-control.test.tsx
  apps/web/app/office/agents/[id]/components/agent-recovery-control.tsx
  apps/web/e2e/tests/office/mobile-agent-recovery-control.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(specs): add Office agent recovery requirements and design
  apps/backend/internal/office/agents/service_status_transition_test.go
  apps/web/app/office/agents/[id]/components/agent-recovery-control.test.tsx
  apps/web/app/office/agents/[id]/components/agent-recovery-control.tsx
  apps/web/app/office/agents/[id]/layout.tsx
  apps/web/e2e/helpers/office-api-client.ts
  apps/web/e2e/tests/office/agents.spec.ts
  apps/web/lib/api/domains/office-agent-status-api.test.ts
  apps/web/lib/api/domains/office-api.ts
  apps/web/src/locales/en/office.json
  apps/web/src/locales/pseudo/office.json
  apps/web/src/locales/pt-pt/office.json
  apps/web/src/locales/zh-cn/office.json
  apps/web/src/locales/zh-hk/office.json
  apps/web/src/locales/zh-tw/office.json
  docs/plans/office-agent-recovery/plan.md
  docs/plans/office-agent-recovery/task-01-pin-status-transitions.md
  docs/plans/office-agent-recovery/task-02-status-mutation-client.md
  docs/plans/office-agent-recovery/task-03-recovery-control.md
  docs/specs/office/README.md
  docs/specs/office/requirements/agent-recovery.md
  docs/specs/office/system-design/agent-recovery.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

style(web): run prettier on office-agent-status-api.test.ts
  apps/web/lib/api/domains/office-agent-status-api.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(workflow): settle terminal deferred routes
  apps/backend/internal/mcp/handlers/config_task_handlers_terminal_test.go
  apps/backend/internal/orchestrator/workflow_store_terminal_route_test.go
  apps/backend/internal/task/repository/sqlite/task.go
  apps/backend/internal/task/repository/sqlite/workflow_routes_postgres_test.go
Due: gofmt, go-tests, go-lint

test(backend): lock mockTaskRepo mutation shared with GetTask's read
  apps/backend/internal/orchestrator/event_handlers_workflow_auto_start_recovery_test.go
Due: gofmt, go-tests, go-lint

fix(office): satisfy errcheck on the revision migration, deflake period-key test
  apps/backend/internal/office/costs/budget_idempotency_test.go
  apps/backend/internal/office/repository/sqlite/base_migrations.go
Due: gofmt, go-tests, go-lint

fix: honor auto fallback when model selection is unsupported
  apps/backend/internal/agent/runtime/lifecycle/start_model.go
  apps/backend/internal/agent/runtime/lifecycle/start_model_executor_authority_test.go
Due: gofmt, go-tests, go-lint

chore: update review notes for PR description
  .kandev/review-notes.md
Due: none

fix(workflowsync): preserve canceled admission retry boundary
  apps/backend/internal/workflowsync/backoff.go
  apps/backend/internal/workflowsync/backoff_test.go
Due: gofmt, go-tests, go-lint

fix(workflow): classify deferred move persistence failures
  apps/backend/internal/mcp/handlers/config_handlers_test.go
  apps/backend/internal/mcp/handlers/config_task_handlers.go
Due: gofmt, go-tests, go-lint

fix(office): gate routine fires on routine status
  apps/backend/internal/office/models/enums.go
  apps/backend/internal/office/models/routine_status_test.go
  apps/backend/internal/office/repository/sqlite/routines.go
  apps/backend/internal/office/repository/sqlite/routines_advance_test.go
  apps/backend/internal/office/routines/cron_race_test.go
  apps/backend/internal/office/routines/cron_status_gate_test.go
  apps/backend/internal/office/routines/handler.go
  apps/backend/internal/office/routines/handler_status_gate_test.go
  apps/backend/internal/office/routines/service.go
  apps/backend/internal/office/routines/status_gate.go
  apps/backend/internal/office/shared/cron.go
  apps/backend/internal/office/shared/match_test.go
  apps/web/app/office/lib/routine-not-firing.test.ts
  apps/web/app/office/lib/routine-not-firing.ts
  apps/web/app/office/lib/routine-status.test.ts
  apps/web/app/office/lib/routine-status.ts
  apps/web/app/office/routines/[id]/routine-detail-view.tsx
  apps/web/app/office/routines/routine-row.tsx
  apps/web/app/office/routines/routines-content.tsx
  apps/web/e2e/tests/office/routines-ui.spec.ts
  apps/web/src/locales/en/office.json
  apps/web/src/locales/pseudo/office.json
  apps/web/src/locales/pt-pt/office.json
  apps/web/src/locales/zh-cn/office.json
  apps/web/src/locales/zh-hk/office.json
  apps/web/src/locales/zh-tw/office.json
  docs/specs/office/README.md
  docs/specs/office/requirements/routine-status-gating.md
  docs/specs/office/system-design/routine-status-gating.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(office): cover resume-after-suppression zero missed ticks
  apps/backend/internal/office/routines/cron_status_gate_test.go
Due: gofmt, go-tests, go-lint

fix: keep chat composer focused after sending a message
  apps/backend/internal/backendapp/canvas_edit_test.go
  apps/web/components/task/chat/chat-input-toolbar-primitives.tsx
  apps/web/components/task/chat/use-tiptap-editor.test.ts
  apps/web/components/task/chat/use-tiptap-editor.ts
  apps/web/e2e/tests/chat/composer-focus-after-send.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: keep focus-restore loop armed while frame 1 still shows focus
  apps/web/components/task/chat/use-tiptap-editor.test.ts
  apps/web/components/task/chat/use-tiptap-editor.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: restore canvas_edit_test.go to unformatted main version
  apps/backend/internal/backendapp/canvas_edit_test.go
Due: gofmt, go-tests, go-lint

fix: retry composer focus restore across animation frames
  apps/web/components/task/chat/use-tiptap-editor.test.ts
  apps/web/components/task/chat/use-tiptap-editor.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: make composer focus-restore wiring independently testable
  apps/web/components/task/chat/use-tiptap-editor.test.ts
  apps/web/components/task/chat/use-tiptap-editor.ts
  apps/web/e2e/tests/chat/composer-focus-after-send.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck
