Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

fix: reject malformed Windows reparse targets
  apps/backend/internal/system/storage/workspaces/directory_handle_reparse.go
  apps/backend/internal/system/storage/workspaces/directory_handle_reparse_test.go
Due: gofmt, go-tests, go-lint

fix: reject invalid Windows symlink targets
  apps/backend/internal/system/storage/workspaces/directory_handle_reparse.go
  apps/backend/internal/system/storage/workspaces/directory_handle_reparse_test.go
Due: gofmt, go-tests, go-lint

test: harden flaky e2e setup
  apps/web/e2e/fixtures/ssh-test-base.ts
  apps/web/e2e/helpers/session-store.ts
  apps/web/e2e/tests/chat/cancel-turn-availability.spec.ts
  apps/web/e2e/tests/chat/mobile-cancel-turn-availability.spec.ts
  apps/web/e2e/tests/office/org-chart.spec.ts
  apps/web/e2e/tests/session/transient-retry.spec.ts
  apps/web/e2e/tests/task/large-file-tree-virtualization.spec.ts
  apps/web/e2e/tests/task/sidebar-secondary-session-status.spec.ts
  apps/web/e2e/tests/workflow/workflow-import-export.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: remove remaining e2e readiness races
  apps/web/e2e/tests/chat/quick-chat.spec.ts
  apps/web/e2e/tests/session/completed-workspace-restoration.spec.ts
  apps/web/e2e/tests/session/multi-session.spec.ts
  apps/web/e2e/tests/session/transient-retry.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: show remote repository in task topbar
  apps/web/components/page-topbar-parent-crumb.tsx
  apps/web/components/page-topbar.test.tsx
  apps/web/components/page-topbar.tsx
  apps/web/components/task-create-dialog-remote-repo-provider-tabs.tsx
  apps/web/components/task/mobile/session-mobile-layout.tsx
  apps/web/components/task/mobile/session-mobile-top-bar-repository.test.tsx
  apps/web/components/task/mobile/session-mobile-top-bar.tsx
  apps/web/components/task/task-layout.tsx
  apps/web/components/task/task-page-content-helpers.test.ts
  apps/web/components/task/task-page-content-helpers.ts
  apps/web/components/task/task-page-inner.tsx
  apps/web/components/task/task-top-bar.test.tsx
  apps/web/components/task/task-top-bar.tsx
  apps/web/e2e/tests/task/mobile-remote-repository-topbar.spec.ts
  apps/web/e2e/tests/task/remote-repository-topbar.spec.ts
  apps/web/lib/utils/remote-repository-browser-url.test.ts
  apps/web/lib/utils/remote-repository-browser-url.ts
  apps/web/src/locales/en/task.json
  apps/web/src/locales/ja/task.json
  apps/web/src/locales/pseudo/task.json
  apps/web/src/locales/pt-pt/task.json
  apps/web/src/locales/zh-cn/task.json
  apps/web/src/locales/zh-hk/task.json
  apps/web/src/locales/zh-tw/task.json
  docs/plans/single-remote-repository-task-topbar/plan.md
  docs/plans/single-remote-repository-task-topbar/task-01-linked-remote-repository.md
  docs/specs/ui/requirements/single-remote-repository-task-topbar.md
  docs/specs/ui/system-design/single-remote-repository-task-topbar.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: keep task topbar layout within available space
  apps/web/components/page-topbar.tsx
  apps/web/components/settings/settings-layout-client.test.tsx
  apps/web/e2e/tests/task/mobile-remote-repository-topbar.spec.ts
  apps/web/e2e/tests/task/remote-repository-topbar.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: eliminate remaining e2e flake races
  apps/web/e2e/tests/chat/inbox-history-superseded.spec.ts
  apps/web/e2e/tests/chat/quick-chat.spec.ts
  apps/web/e2e/tests/chat/rich-output.spec.ts
  apps/web/e2e/tests/cli-mode/mobile-passthrough-composer.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: suppress title previews during Kanban multi-select
  apps/web/components/kanban-card-content.tsx
  apps/web/components/kanban-card-regression.test.tsx
  apps/web/e2e/tests/kanban/task-title-hover-subtasks.spec.ts
  docs/plans/kanban-multi-select-title-preview/plan.md
  docs/plans/kanban-multi-select-title-preview/task-01-guard-title-preview.md
  docs/specs/tasks/README.md
  docs/specs/tasks/requirements/rich-task-title-previews.md
  docs/specs/tasks/system-design/rich-task-title-previews.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: suppress Pipeline title previews in multi-select
  apps/web/components/kanban/graph2-task-pipeline-row.tsx
  apps/web/components/kanban/pipeline-kanban-shared-source.test.tsx
  docs/plans/kanban-multi-select-title-preview/plan.md
  docs/plans/kanban-multi-select-title-preview/task-01-guard-title-preview.md
  docs/specs/tasks/system-design/rich-task-title-previews.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test: remove remaining hosted e2e flakes
  apps/web/e2e/tests/git/git-changes-panel.spec.ts
  apps/web/e2e/tests/office/taskless-routine-session.spec.ts
  apps/web/e2e/tests/ssh/lsp-unsupported-executor.spec.ts
  apps/web/e2e/tests/task/file-tree-chat-context.spec.ts
  apps/web/e2e/tests/terminal/terminal-new-tab.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(chat): complete initial placement immediately after history refresh settles
  apps/web/components/task/chat/message-list-native-scroll.ts
  apps/web/components/task/chat/message-list-native.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test: stabilize remaining e2e flows
  apps/web/e2e/tests/office/routine-catch-up-policy-ui.spec.ts
  apps/web/e2e/tests/office/routines-ui.spec.ts
  apps/web/e2e/tests/pr/mobile-pr-rerequest-review.spec.ts
  apps/web/e2e/tests/review/review-file-comments-flow.ts
  apps/web/e2e/tests/session/multi-session-ux.spec.ts
  apps/web/e2e/tests/task/large-file-tree-virtualization-helpers.ts
  apps/web/e2e/tests/task/sessionless-switch-panel-leak.spec.ts
  apps/web/e2e/tests/workflow/workflow-agent-switch-helpers.ts
  apps/web/e2e/tests/workflow/workflow-move-preview.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(workflow): preserve manual move transition identity
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/manual_move_transition_test.go
Due: gofmt, go-tests, go-lint

fix: serialize cleanup identity capture with worktree removal
  apps/backend/internal/worktree/manager_cleanup.go
  apps/backend/internal/worktree/manager_cleanup_capture_test.go
  docs/plans/archived-worktree-reclamation/plan.md
Due: gofmt, go-tests, go-lint

fix: preserve graceful LSP release acknowledgements
  apps/backend/internal/gateway/websocket/lsp_lease.go
  apps/backend/internal/gateway/websocket/lsp_lease_broker.go
  apps/backend/internal/gateway/websocket/lsp_lease_test.go
Due: gofmt, go-tests, go-lint

test: harden hosted e2e reliability
  apps/web/e2e/tests/canvas/mobile-plugin-canvas.spec.ts
  apps/web/e2e/tests/chat/mobile-oversized-user-message.spec.ts
  apps/web/e2e/tests/review/review-file-comments-flow.ts
  apps/web/e2e/tests/session/session-resume.spec.ts
  apps/web/e2e/tests/settings/workspace-repository-sets.spec.ts
  apps/web/e2e/tests/task/sessionless-switch-panel-leak.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: clarify manual move transition identity
  apps/backend/internal/orchestrator/event_handlers_workflow.go
Due: gofmt, go-tests, go-lint

fix: ignore stale managed chat descriptors
  apps/web/components/agent-conversation/workspace-agent-chat.test.tsx
  apps/web/components/agent-conversation/workspace-agent-chat.tsx
  apps/web/src/locales/ja/plugins.json
Due: prettier-format, web-lint, web-tests, web-typecheck

test: stabilize daily aggregate fixture timestamps
  apps/backend/internal/analytics/repository/sqlite/stats_aggregate_parity_test.go
Due: gofmt, go-tests, go-lint

fix(jira): preserve default view state during updates
  apps/web/app/jira/jira-page-client.test.tsx
  apps/web/app/jira/jira-page-client.tsx
  apps/web/components/jira/my-jira/jira-default-view-action.tsx
  apps/web/components/jira/my-jira/jira-default-view.test.ts
  apps/web/components/jira/my-jira/jira-default-view.ts
  apps/web/components/jira/my-jira/list-toolbar.test.tsx
  apps/web/components/jira/my-jira/use-jira-filter-state.ts
  apps/web/components/jira/my-jira/use-project-statuses.test.ts
  apps/web/components/jira/my-jira/use-project-statuses.ts
  apps/web/components/jira/my-jira/use-saved-views.ts
  apps/web/e2e/tests/integrations/jira-default-view.spec.ts
  apps/web/e2e/tests/integrations/mobile-jira-default-view.spec.ts
  docs/plans/jira-default-view/plan.md
  docs/plans/jira-default-view/task-02-restore-jira-default.md
  docs/plans/jira-default-view/task-03-jira-default-controls.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(agents): address Cursor MCP auth review findings
  .github/workflows/backend-tests.yml
  apps/backend/internal/agent/mcpconfig/cursor_auth_bridge.go
  apps/backend/internal/agent/mcpconfig/cursor_auth_bridge_test.go
  apps/backend/internal/agent/runtime/lifecycle/cursor_mcp_auth.go
  apps/backend/internal/agent/runtime/lifecycle/cursor_mcp_auth_test.go
  apps/backend/internal/settingscatalog/defaults_test.go
  apps/backend/internal/worktree/manager.go
  apps/web/components/settings/agent-profile-page-state.test.ts
  apps/web/components/settings/agent-profile-page-state.ts
  apps/web/lib/settings-discovery/contract.generated.json
  apps/web/lib/settings-discovery/profile-contract.generated.json
  docs/plans/cursor-mcp-oauth-bridge/plan.md
  docs/plans/cursor-mcp-oauth-bridge/task-01-auth-helpers.md
  docs/plans/cursor-mcp-oauth-bridge/task-02-profile-preference.md
  docs/plans/cursor-mcp-oauth-bridge/task-03-launch-integration.md
  docs/public/agents-and-profiles.md
  docs/specs/agents/requirements/cursor-mcp-oauth-bridge.md
  docs/specs/agents/system-design/cursor-mcp-oauth-bridge.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(agents): omit unchanged Cursor auth on agent saves
  apps/web/app/settings/agents/[agentId]/agent-save-helpers.test.ts
  apps/web/app/settings/agents/[agentId]/agent-save-helpers.ts
  docs/plans/cursor-mcp-oauth-bridge/task-02-profile-preference.md
  docs/plans/cursor-mcp-oauth-bridge/task-03-launch-integration.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(plugins): reject invalid canvas registry entries
  plugin-registry/build-index.mjs
  plugin-registry/build-index.test.mjs
Due: none

test(plugins): keep canvas PR regression offline
  plugin-registry/build-index.test.mjs
Due: none

test: remove remaining e2e flakes
  apps/web/e2e/tests/pr/mobile-pr-rerequest-review.spec.ts
  apps/web/e2e/tests/session/setup-script-progress.spec.ts
  apps/web/e2e/tests/task/file-tree-create.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: seed PR feedback for merge queue E2E
  apps/web/e2e/tests/pr/mobile-pr-merge-queue.spec.ts
  apps/web/e2e/tests/pr/pr-merge-queue.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: avoid duplicate session co-residency observations
  apps/backend/internal/orchestrator/executor/executor_execute.go
  apps/backend/internal/orchestrator/executor/session_coresidency_test.go
Due: gofmt, go-tests, go-lint

test: stabilize remaining e2e scenarios
  apps/web/e2e/tests/chat/rich-output.spec.ts
  apps/web/e2e/tests/docker/storage-maintenance.spec.ts
  apps/web/e2e/tests/session/setup-script-progress.spec.ts
  apps/web/e2e/tests/settings/mobile-workspace-repository-sets.spec.ts
  apps/web/e2e/tests/task/sessionless-switch-panel-leak.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: remove remaining e2e flakes
  apps/web/e2e/tests/office/workflow-quorum-transitions.spec.ts
  apps/web/e2e/tests/session/session-handoff.spec.ts
  apps/web/e2e/tests/settings/task-behavior-concise-help.spec.ts
  apps/web/e2e/tests/task/file-tree-rename.spec.ts
  apps/web/e2e/tests/workflow/mobile-workflow-move-preview.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(tasks): fence workflow exact-profile launches
  apps/backend/internal/orchestrator/session_launch.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/task_operations_test.go
  apps/backend/internal/task/repository/sqlite/exact_profile_assignment.go
  apps/backend/internal/task/repository/sqlite/exact_profile_assignment_test.go
Due: gofmt, go-tests, go-lint

fix(storage): revalidate Docker network ownership before removal
  apps/backend/internal/system/storage/docknet/provider.go
  apps/backend/internal/system/storage/docknet/provider_test.go
  docs/plans/docker-network-reclamation/task-01-docker-network-reclamation.md
  docs/public/docker.md
Due: gofmt, go-tests, go-lint

fix(coordinator): separate principal grant scopes
  apps/backend/internal/task/repository/sqlite/base_migrations.go
  apps/backend/internal/task/repository/sqlite/coordinator_authority_errors.go
  apps/backend/internal/task/repository/sqlite/coordinator_authority_postgres_test.go
  apps/backend/internal/task/repository/sqlite/coordinator_authority_schema.go
  apps/backend/internal/task/repository/sqlite/coordinator_authority_test.go
  apps/web/src/locales/ja/common.json
  apps/web/src/locales/ja/workspaces.json
Due: gofmt, go-tests, go-lint, prettier-format

fix(tasks): align redirected launches with exact profile
  apps/backend/internal/orchestrator/exact_profile_launch_regression_test.go
  apps/backend/internal/orchestrator/task_operations.go
  docs/plans/exact-profile-assignment-redirect/plan.md
  docs/plans/exact-profile-assignment-redirect/task-01-preserve-assigned-profile-on-redirect.md
  docs/specs/tasks/README.md
  docs/specs/tasks/requirements/exact-profile-launch-assignment.md
  docs/specs/tasks/system-design/exact-profile-launch-assignment.md
Due: gofmt, go-tests, go-lint

test: harden remaining e2e waits
  apps/web/e2e/fixtures/office-fixture.ts
  apps/web/e2e/fixtures/test-base.ts
  apps/web/e2e/pages/session-page.ts
  apps/web/e2e/tests/chat/rich-output.spec.ts
  apps/web/e2e/tests/session/session-tab-management.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

chore(web): refresh generated licenses
  apps/web/generated/licenses.json
Due: prettier-format

test: harden remaining e2e scenarios
  apps/web/components/github/pr-status-chip.tsx
  apps/web/e2e/tests/canvas/mobile-plugin-canvas.spec.ts
  apps/web/e2e/tests/layout/task-topbar-workflow-stepper.spec.ts
  apps/web/e2e/tests/office/scheduler-events.spec.ts
  apps/web/e2e/tests/office/system-skills.spec.ts
  apps/web/e2e/tests/office/taskless-routine-session.spec.ts
  apps/web/e2e/tests/session/session-resume.spec.ts
  apps/web/e2e/tests/task/file-tree-rename.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: wait for terminal and agent readiness
  apps/web/e2e/tests/office/taskless-routine-session.spec.ts
  apps/web/e2e/tests/session/session-layout.spec.ts
  apps/web/e2e/tests/session/session-resume.spec.ts
  apps/web/e2e/tests/task/file-tree-rename.spec.ts
  apps/web/e2e/tests/terminal/terminal-dockview-ui.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
