Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

test: cover repo scoped image previews
  apps/web/components/task/file-editor-panel.image.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: open single-repo PR diffs without repo filter
  apps/web/components/task/changes-panel-pr-files.test.tsx
  apps/web/components/task/changes-panel-pr-files.tsx
  apps/web/e2e/tests/git/changes-panel-section-order.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: guard file editor preview restoration
  apps/web/hooks/file-editor-state.ts
  apps/web/hooks/use-file-editors.build-state.test.ts
  apps/web/hooks/use-file-editors.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: guard stale file editor open fetches
  apps/web/hooks/file-editor-state.ts
  apps/web/hooks/use-file-editors.build-state.test.ts
  apps/web/hooks/use-file-editors.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: distinguish repeated file editor requests
  apps/web/hooks/file-editor-state.ts
  apps/web/hooks/use-file-editors.build-state.test.ts
  apps/web/hooks/use-file-editors.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: keep pending file opens alive
  apps/web/hooks/use-file-editors.open-action.test.tsx
  apps/web/hooks/use-file-editors.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): stop kanban spinner for not-started CREATED sessions
  apps/web/lib/ui/state-icons.test.tsx
  apps/web/lib/ui/state-icons.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(backend): write manual backups via temp file and atomic rename
  apps/backend/internal/system/backups/store.go
  apps/backend/internal/system/backups/store_test.go
Due: gofmt, go-tests, go-lint

fix(backend): sweep stale manual-backup tmp sidecars on create
  apps/backend/internal/system/backups/retention.go
  apps/backend/internal/system/backups/store.go
  apps/backend/internal/system/backups/store_test.go
  apps/web/lib/ui/state-icons.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(backend): age-guard tmp sweep so concurrent backups are safe
  apps/backend/internal/system/backups/store.go
  apps/backend/internal/system/backups/store_test.go
Due: gofmt, go-tests, go-lint

fix: stop kanban spinner for not-started sessions and fix truncated manual backup size (#1622)
  apps/backend/internal/system/backups/retention.go
  apps/backend/internal/system/backups/store.go
  apps/backend/internal/system/backups/store_test.go
  apps/web/lib/ui/state-icons.test.tsx
  apps/web/lib/ui/state-icons.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

release: 0.75.0
  CHANGELOG.md
  apps/cli/package.json
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier-format

fix: equalize integration card heights
  apps/web/app/settings/integrations/page.tsx
  apps/web/e2e/tests/integrations/integrations-index-layout.spec.ts
  apps/web/e2e/tests/integrations/mobile-integrations-index-layout.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: trim integration card padding
  apps/web/app/settings/integrations/page.tsx
  apps/web/e2e/tests/integrations/integrations-index-layout.spec.ts
  apps/web/e2e/tests/integrations/mobile-integrations-index-layout.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address integration layout review feedback
  apps/web/e2e/tests/integrations/integrations-index-layout-helpers.ts
  apps/web/e2e/tests/integrations/integrations-index-layout.spec.ts
  apps/web/e2e/tests/integrations/mobile-integrations-index-layout.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: harden integration layout selectors
  apps/web/e2e/tests/integrations/integrations-index-layout-helpers.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(sidebar): keep created subtasks during hydration
  apps/web/components/task/task-switcher-direct-subtasks.test.tsx
  apps/web/hooks/domains/kanban/use-all-workflow-snapshots-inflight.test.ts
  apps/web/hooks/domains/kanban/use-all-workflow-snapshots.test.ts
  apps/web/hooks/domains/kanban/use-all-workflow-snapshots.ts
  apps/web/lib/sidebar/apply-view-direct-subtasks.test.ts
  apps/web/lib/ws/handlers/tasks-created-snapshot.test.ts
  apps/web/lib/ws/handlers/tasks.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(sidebar): preserve placeholder subtasks during hydration
  apps/web/hooks/domains/kanban/use-all-workflow-snapshots-inflight.test.ts
  apps/web/hooks/domains/kanban/use-all-workflow-snapshots.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: handle config MCP executor listing
  apps/backend/internal/mcp/handlers/config_executor_handlers.go
  apps/backend/internal/mcp/handlers/config_handlers_test.go
  apps/backend/internal/mcp/handlers/handlers.go
Due: gofmt, go-tests, go-lint

fix(sidebar): mark websocket placeholder snapshots
  apps/web/hooks/domains/kanban/use-all-workflow-snapshots-inflight.test.ts
  apps/web/hooks/domains/kanban/use-all-workflow-snapshots.test.ts
  apps/web/hooks/domains/kanban/use-all-workflow-snapshots.ts
  apps/web/lib/state/slices/kanban/types.ts
  apps/web/lib/ws/handlers/tasks-created-snapshot.test.ts
  apps/web/lib/ws/handlers/tasks.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: harden session resume dedup e2e
  apps/web/e2e/tests/session/session-resume-dedup.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(orchestrator): cover orphan-row and created-row startup reconciliation sites (#1597)
  apps/backend/internal/orchestrator/reconcile_restart_test.go
Due: gofmt, go-tests, go-lint

fix(orchestrator): repair dead IDLE rows on startup + legacy-schema replay test (#1597)
  apps/backend/internal/orchestrator/reconcile_restart_test.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/task/repository/sqlite/executor_localpid_test.go
  docs/decisions/0025-runtime-cleanup-uses-executors-running.md
Due: gofmt, go-tests, go-lint

test(sqlite): add env-gated Postgres local_pid migration replay test (#1597)
  apps/backend/internal/task/repository/sqlite/postgres_schema_test.go
Due: gofmt, go-tests, go-lint

fix: log executor profile listing failures
  apps/backend/internal/mcp/handlers/config_executor_handlers.go
Due: gofmt, go-tests, go-lint

test: reuse integration card locators
  apps/web/e2e/tests/integrations/integrations-index-layout-helpers.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: fail config executor listing on profile errors
  apps/backend/internal/mcp/handlers/config_executor_handlers.go
Due: gofmt, go-tests, go-lint

fix: expose signal-gated workflow steps in config MCP
  apps/backend/internal/mcp/handlers/config_workflow_handlers.go
  apps/backend/internal/mcp/handlers/config_workflow_handlers_test.go
  apps/backend/internal/mcp/server/config_handlers.go
  apps/backend/internal/mcp/server/config_handlers_test.go
  apps/backend/internal/workflow/models/models.go
  docs/decisions/0015-explicit-completion-signal-for-auto-advance.md
Due: gofmt, go-tests, go-lint

fix: truncate long task titles in topbar
  apps/web/components/task/task-top-bar.tsx
  apps/web/e2e/tests/layout/task-topbar-long-title.spec.ts
  apps/web/e2e/tests/task/mobile-task-topbar-long-title.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: stabilize mobile topbar selector
  apps/web/components/task/mobile/session-mobile-top-bar.tsx
  apps/web/e2e/tests/task/mobile-task-topbar-long-title.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: share long task title fixture
  apps/web/e2e/helpers/topbar-fixtures.ts
  apps/web/e2e/tests/layout/task-topbar-long-title.spec.ts
  apps/web/e2e/tests/task/mobile-task-topbar-long-title.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: log config executor profile errors
  apps/backend/internal/mcp/handlers/config_executor_handlers.go
Due: gofmt, go-tests, go-lint

fix: document signal gate in config prompt
  apps/backend/config/prompts/config-context.md
  apps/backend/internal/sysprompt/sysprompt_test.go
Due: gofmt, go-tests, go-lint

fix(orchestrator): keep resume readiness waits alive under caller cancellation
  apps/backend/internal/orchestrator/prompt_idle_session_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/task_operations_test.go
Due: gofmt, go-tests, go-lint

fix(orchestrator): address review on waitForSessionReady
  apps/backend/internal/orchestrator/prompt_idle_session_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/task_operations_test.go
  apps/backend/internal/orchestrator/task_operations_wait_test.go
Due: gofmt, go-tests, go-lint

fix(orchestrator): shield resume follow-up context
  apps/backend/internal/orchestrator/prompt_idle_session_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/task_operations_resume_test.go
Due: gofmt, go-tests, go-lint

fix: clear ssh executor follow-up ci failures
  apps/backend/internal/launcher/bundle.go
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
Due: gofmt, go-tests, go-lint

fix: satisfy backend changed-file lint
  apps/backend/internal/launcher/bundle.go
  apps/backend/internal/task/service/service_tasks.go
Due: gofmt, go-tests, go-lint

fix(orchestrator): keep resume readiness waits alive under caller cancellation (#1582)
  apps/backend/internal/orchestrator/prompt_idle_session_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/task_operations_resume_test.go
  apps/backend/internal/orchestrator/task_operations_wait_test.go
Due: gofmt, go-tests, go-lint

fix: stop archived automation-run tasks from pinning max_concurrent_runs
  apps/backend/internal/automation/models.go
  apps/backend/internal/automation/scheduler_test.go
  apps/backend/internal/automation/store.go
  apps/backend/internal/automation/store_test.go
  apps/backend/internal/backendapp/e2e_reset.go
  apps/backend/internal/db/migration_errors.go
  apps/backend/internal/db/migration_errors_test.go
  apps/web/components/automations/runs-section.tsx
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/tests/automations-settings.spec.ts
  apps/web/lib/types/automation.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
