Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

test: cover delayed hydration and boot-payload mapping for update notifications
  apps/web/components/settings/system/update-notifications-card.test.tsx
  apps/web/src/settings-routes.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(auth): reject synthetic identity on management routes and scope office run broadcasts
  apps/backend/internal/auth/authn/identity.go
  apps/backend/internal/auth/httpapi/handlers.go
  apps/backend/internal/auth/httpapi/handlers_test.go
  apps/backend/internal/backendapp/gateway.go
  apps/backend/internal/gateway/websocket/hub.go
  apps/backend/internal/gateway/websocket/office_notifications.go
  apps/backend/internal/gateway/websocket/office_notifications_test.go
  apps/web/lib/state/slices/auth/auth-slice.ts
  apps/web/lib/state/store.ts
  docs/public/coverage.json
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(installer): confine tarball extraction with os.Root
  apps/backend/internal/tools/installer/github_tarball_strategy.go
  apps/backend/internal/tools/installer/github_tarball_strategy_test.go
Due: gofmt, go-tests, go-lint

fix(backend): move Docker client to the maintained moby client module
  apps/backend/go.mod
  apps/backend/go.sum
  apps/backend/internal/agent/docker/activity_test.go
  apps/backend/internal/agent/docker/client.go
  apps/backend/internal/agent/docker/client_test.go
  apps/backend/internal/agent/docker/storage.go
  apps/backend/internal/agent/docker/storage_test.go
  apps/desktop/src-tauri/.cargo/audit.toml
Due: gofmt, go-tests, go-lint

fix: make remote repository entry reliable
  apps/backend/internal/github/service_pr.go
  apps/backend/internal/github/service_reviews.go
  apps/backend/internal/github/service_test.go
  apps/backend/internal/gitlab/controller_test.go
  apps/backend/internal/gitlab/controller_watches.go
  apps/backend/internal/gitlab/pat_client.go
  apps/backend/internal/gitlab/pat_client_test.go
  apps/web/components/task-create-dialog-remote-repo-chip-url.test.tsx
  apps/web/components/task-create-dialog-remote-repo-chip.test.tsx
  apps/web/components/task-create-dialog-remote-repo-chip.tsx
  apps/web/components/task-create-dialog-remote-repo-chips.test.tsx
  apps/web/components/task-create-dialog-remote-repo-chips.tsx
  apps/web/e2e/tests/task/mobile-create-task-remote-repo.spec.ts
  apps/web/hooks/domains/github/use-branches-by-url.test.ts
  apps/web/hooks/domains/github/use-branches-by-url.ts
  apps/web/hooks/domains/github/use-pr-info-by-url.test.ts
  apps/web/hooks/domains/github/use-pr-info-by-url.ts
  docs/plans/remote-repository-entry-reliability/plan.md
  docs/plans/remote-repository-entry-reliability/task-01-public-provider-resolution.md
  docs/plans/remote-repository-entry-reliability/task-02-explicit-url-entry.md
  docs/plans/remote-repository-entry-reliability/task-03-resolution-errors-and-retry.md
  docs/plans/remote-repository-entry-reliability/task-04-mobile-e2e.md
  docs/public/tasks-and-workflows.md
  docs/specs/gitlab-integration/spec.md
  docs/specs/tasks/multi-branch/spec.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(installer): reject archive symlinks under symlinked parents
  apps/backend/internal/tools/installer/github_tarball_strategy.go
  apps/backend/internal/tools/installer/github_tarball_strategy_test.go
Due: gofmt, go-tests, go-lint

test(web): complete remote hook mocks
  apps/web/components/task-create-dialog-form-body.test.tsx
  apps/web/components/task-create-dialog-submit.test.tsx
  apps/web/components/task-create-dialog.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test(github): isolate anonymous PR fallback
  apps/backend/internal/github/controller_test.go
Due: gofmt, go-tests, go-lint

test(web): align remote loader fixtures
  apps/web/components/task-create-dialog-repo-chips.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address remote repository review findings
  apps/web/components/task-create-dialog-remote-repo-chip.test.tsx
  apps/web/components/task-create-dialog-remote-repo-chip.tsx
  apps/web/hooks/domains/github/use-branches-by-url.test.ts
  apps/web/hooks/domains/github/use-branches-by-url.ts
  apps/web/lib/api/domains/gitlab-api.test.ts
  apps/web/lib/api/domains/gitlab-api.ts
  docs/plans/remote-repository-entry-reliability/task-01-public-provider-resolution.md
  docs/plans/remote-repository-entry-reliability/task-03-resolution-errors-and-retry.md
  docs/plans/remote-repository-entry-reliability/task-04-mobile-e2e.md
  docs/public/tasks-and-workflows.md
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(review): add run_code_review workflow step and wire the review runner
  apps/backend/internal/agent/handlers/review_change_source.go
  apps/backend/internal/backendapp/e2e_reset.go
  apps/backend/internal/backendapp/helpers.go
  apps/backend/internal/backendapp/review_wiring.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/workflow_callbacks.go
  apps/backend/internal/orchestrator/workflow_callbacks_review_test.go
  apps/backend/internal/review/prompt.go
  apps/backend/internal/review/prompt_test.go
  apps/backend/internal/workflow/engine/run_code_review_test.go
  apps/backend/internal/workflow/engine/types.go
  apps/backend/internal/workflow/models/export.go
  apps/backend/internal/workflow/models/export_review_test.go
  apps/backend/internal/workflow/models/models.go
  apps/backend/internal/workflow/service/service.go
Due: gofmt, go-tests, go-lint

fix(auth): scope in-session agent MCP calls to the task owner
  apps/backend/AGENTS.md
  apps/backend/internal/agent/runtime/lifecycle/manager.go
  apps/backend/internal/agent/runtime/lifecycle/mcp_identity.go
  apps/backend/internal/agent/runtime/lifecycle/mcp_identity_test.go
  apps/backend/internal/agent/runtime/lifecycle/streams.go
  apps/backend/internal/auth/service_credentials.go
  apps/backend/internal/auth/service_identity_test.go
  apps/backend/internal/backendapp/helpers.go
  apps/backend/internal/mcp/handlers/mcp_identity_scope_test.go
  apps/backend/internal/mcp/scope/scope.go
  apps/backend/internal/mcp/scope/scope_test.go
  apps/backend/internal/task/service/service_access.go
  docs/decisions/2026-07-24-opt-in-authentication.md
Due: gofmt, go-tests, go-lint

feat(web): add review findings state, helpers, and live updates
  apps/web/hooks/domains/review/use-finding-actions.ts
  apps/web/hooks/domains/review/use-send-finding-to-agent.ts
  apps/web/hooks/domains/review/use-task-review.ts
  apps/web/lib/api/domains/review-api.ts
  apps/web/lib/review/findings.test.ts
  apps/web/lib/review/findings.ts
  apps/web/lib/review/format.test.ts
  apps/web/lib/review/format.ts
  apps/web/lib/state/default-state.ts
  apps/web/lib/state/slices/index.ts
  apps/web/lib/state/slices/review/index.ts
  apps/web/lib/state/slices/review/review-slice.test.ts
  apps/web/lib/state/slices/review/review-slice.ts
  apps/web/lib/state/slices/review/types.ts
  apps/web/lib/state/store.ts
  apps/web/lib/types/backend.ts
  apps/web/lib/types/review.ts
  apps/web/lib/ws/handlers/review.test.ts
  apps/web/lib/ws/handlers/review.ts
  apps/web/lib/ws/router.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(web): render review findings inline in the Changes diff
  apps/web/components/diff/review-finding-card.test.tsx
  apps/web/components/diff/review-finding-card.tsx
  apps/web/components/diff/review-finding-severity.tsx
  apps/web/components/diff/use-diff-annotation-renderer.tsx
  apps/web/components/diff/use-diff-viewer-state.ts
  apps/web/components/diff/use-review-finding-annotations.ts
  apps/web/components/review/review-run-button.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(web): make the review control reachable from the Review toolbar
  apps/web/components/diff/inline-review-finding.tsx
  apps/web/components/diff/use-diff-annotation-renderer.tsx
  apps/web/components/diff/use-diff-viewer-state.ts
  apps/web/components/diff/use-review-finding-annotations.ts
  apps/web/components/review/review-top-bar.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(web): surface stale review findings above their file's diff
  apps/web/components/diff/diff-viewer.tsx
  apps/web/components/diff/unanchored-findings-banner.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(review): mark the landed native code-review plan tasks done
  docs/plans/native-code-review/plan.md
  docs/plans/native-code-review/task-01-schema-and-repository.md
  docs/plans/native-code-review/task-02-djb2-and-diff-collection.md
  docs/plans/native-code-review/task-03-review-service-and-events.md
  docs/plans/native-code-review/task-04-run-orchestration.md
  docs/plans/native-code-review/task-05-mcp-publish-tool.md
  docs/plans/native-code-review/task-06-ws-actions-and-dtos.md
  docs/plans/native-code-review/task-07-workflow-step-action.md
  docs/plans/native-code-review/task-08-frontend-state-and-types.md
  docs/plans/native-code-review/task-09-diff-finding-annotations.md
Due: none

test(e2e): submit remote URLs with Enter
  apps/web/e2e/tests/task/create-task-github-url.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(review): cover the on-demand review path end to end
  apps/backend/cmd/mock-agent/code_review.go
  apps/backend/cmd/mock-agent/code_review_test.go
  apps/backend/cmd/mock-agent/handler.go
  apps/backend/internal/review/anchor.go
  apps/backend/internal/review/anchor_test.go
  apps/web/.gitignore
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/tests/review/code-review-on-demand.spec.ts
  apps/web/lib/review/findings.test.ts
  apps/web/lib/review/findings.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(auth): never leave in-session MCP dispatch unscoped
  apps/backend/AGENTS.md
  apps/backend/internal/mcp/handlers/mcp_identity_scope_test.go
  apps/backend/internal/mcp/scope/scope.go
  apps/backend/internal/mcp/scope/scope_test.go
  docs/decisions/2026-07-24-opt-in-authentication.md
Due: gofmt, go-tests, go-lint

fix(web): preserve desktop notification fallbacks
  apps/web/components/settings/notification-permission-section.tsx
  apps/web/components/settings/notifications-settings-actions.test.tsx
  apps/web/components/settings/notifications-settings-actions.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address notification review feedback
  apps/backend/internal/notifications/providers/local_test.go
  apps/web/components/settings/notification-permission-section.test.tsx
  apps/web/components/settings/notification-permission-section.tsx
  docs/public/websocket-api.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(backend): honor startup cancellation in notification migration
  apps/backend/internal/backendapp/main.go
  apps/backend/internal/backendapp/postgres_boot_test.go
  apps/backend/internal/backendapp/storage.go
  apps/backend/internal/notifications/providers/local_test.go
  apps/backend/internal/notifications/store/provider.go
  apps/backend/internal/notifications/store/sqlite.go
  apps/backend/internal/notifications/store/sqlite_test.go
  apps/backend/internal/system/updates/notify_dispatch_test.go
Due: gofmt, go-tests, go-lint

feat(web): show background-running substate in sidebar task indicator
  apps/web/components/task/task-item.test.tsx
  apps/web/components/task/task-item.tsx
  apps/web/components/task/task-session-sidebar.tsx
  apps/web/components/task/task-switcher.tsx
  apps/web/lib/utils/session-info.test.ts
  apps/web/lib/utils/session-info.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(web): show task-level background-running affordance on task list rows
  apps/web/app/tasks/tasks-list-view.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(task): correct busy-signal ADR reference to ADR-0043
  apps/backend/internal/task/service/task_activity.go
Due: gofmt, go-tests, go-lint

test(web): lock task-level safe fallback for a missing aggregate
  apps/web/lib/ui/state-icons.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(orchestrator): attest Monitor provenance and make the foreground claim durable
  apps/backend/internal/agentctl/server/adapter/transport/acp/monitor.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/monitor_contract_test.go
  apps/backend/internal/agentctl/types/streams/monitor_view.go
  apps/backend/internal/agentctl/types/streams/monitor_view_test.go
  apps/backend/internal/agentctl/types/streams/tool_payload.go
  apps/backend/internal/orchestrator/foreground_busy_signal_test.go
  apps/backend/internal/orchestrator/foreground_claim_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/turn_activity.go
  docs/decisions/0049-fine-grained-foreground-idle-busy-signal.md
Due: gofmt, go-tests, go-lint

fix(task): preserve last-known activity aggregate when the session set is unavailable
  apps/backend/internal/task/service/service_events.go
  apps/backend/internal/task/service/task_activity.go
  apps/backend/internal/task/service/task_activity_test.go
Due: gofmt, go-tests, go-lint

feat(task): compute and emit task-level activity aggregate live
  apps/backend/internal/backendapp/boot_state.go
  apps/backend/internal/backendapp/orchestrator.go
  apps/backend/internal/orchestrator/foreground_activity_signal_test.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/turn_activity.go
  apps/backend/internal/task/dto/task_activity.go
  apps/backend/internal/task/service/service.go
  apps/backend/internal/task/service/service_events.go
  apps/backend/internal/task/service/service_tasks.go
  apps/backend/internal/task/service/task_activity.go
  apps/backend/internal/task/service/task_activity_test.go
  apps/backend/pkg/api/v1/task.go
  apps/backend/pkg/api/v1/task_test.go
Due: gofmt, go-tests, go-lint

docs(spec): surface all in-flight work in task busy indicators
  SPEC.md
Due: none

test(orchestrator): lock unknown-substate safe fallback through task aggregate
  apps/backend/internal/orchestrator/foreground_activity_fallback_test.go
Due: gofmt, go-tests, go-lint

fix(executors): truthful executor rows, startup reconciliation, resume-safe cleanup (#1597)
  REQUIREMENTS.md
  SPEC.md
Due: none

docs(spec): mark task-level-truth complete after sidebar aggregate alignment
  SPEC.md
Due: none

fix(orchestrator): enforce prompt dispatch callback contract
  apps/backend/internal/agent/runtime/lifecycle/session.go
  apps/backend/internal/agent/runtime/lifecycle/session_test.go
  apps/backend/internal/orchestrator/event_handlers_test.go
  apps/backend/internal/orchestrator/executor/executor_interaction.go
  apps/backend/internal/orchestrator/executor/executor_passthrough_prompt_test.go
Due: gofmt, go-tests, go-lint

feat(web): reflect task-level background affordance in open-task header
  apps/web/app/tasks/[id]/kanban-task-shell.tsx
  apps/web/components/task/TaskHeader.test.tsx
  apps/web/components/task/TaskHeader.tsx
  apps/web/components/task/task-state-actions.test.tsx
  apps/web/components/task/task-state-actions.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test(orchestrator): lock fresh-load wire correctness for the busy substate after restart
  apps/backend/internal/orchestrator/foreground_activity_freshload_test.go
Due: gofmt, go-tests, go-lint

fix: retain storage activity during callback prompts
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction.go
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction_test.go
Due: gofmt, go-tests, go-lint

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
