Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

fix(orchestrator): guard reusable session promotion
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/event_handlers_workflow_profile_test.go
  apps/backend/internal/task/repository/sqlite/session.go
  apps/backend/internal/task/repository/sqlite/session_primary.go
Due: gofmt, go-tests, go-lint

fix(backend): guard CancelSession against a concurrent-cancel double close
  apps/backend/internal/clarification/store.go
  apps/backend/internal/clarification/store_test.go
Due: gofmt, go-tests, go-lint

fix(backend): log and distinguish real errors in clarification bundle auth
  apps/backend/internal/clarification/canceller_test.go
  apps/backend/internal/clarification/handlers.go
  apps/backend/internal/clarification/handlers_authz_test.go
Due: gofmt, go-tests, go-lint

fix(backend): stop leaking raw internal errors from question MCP tools
  apps/backend/internal/mcp/handlers/question_handlers.go
Due: gofmt, go-tests, go-lint

test(web): stabilize handoff profile E2E fixture
  apps/web/e2e/tests/session/session-handoff-unhealthy-profile.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(orchestrator): preserve primary promotion lock order
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/event_handlers_workflow_profile_test.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/task/repository/sqlite/session.go
  apps/backend/internal/task/repository/sqlite/session_primary.go
Due: gofmt, go-tests, go-lint

feat: localize user mutation confirmations
  apps/web/components/settings/system/users-table.test.tsx
  apps/web/components/settings/system/users-table.tsx
  apps/web/e2e/tests/auth/mobile-users-self-actions.spec.ts
  apps/web/e2e/tests/auth/users-self-actions.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(ui): localize walkthrough discard confirmation
  apps/web/components/review/walkthrough-overlay.test.tsx
  apps/web/components/review/walkthrough-overlay.tsx
  apps/web/e2e/pages/session-page.ts
  apps/web/e2e/tests/review/mobile-walkthrough.spec.ts
  apps/web/e2e/tests/review/walkthrough.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(settings): localize prompt delete confirmation
  apps/web/components/settings/prompt-delete-confirmation.tsx
  apps/web/components/settings/prompts-settings.test.tsx
  apps/web/components/settings/prompts-settings.tsx
  apps/web/e2e/tests/settings/mobile-prompts-settings.spec.ts
  apps/web/e2e/tests/settings/prompts-settings.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: localize reset context confirmation
  apps/web/components/task/chat/chat-input-toolbar-desktop.tsx
  apps/web/components/task/chat/chat-input-toolbar-mobile.tsx
  apps/web/components/task/chat/chat-input-toolbar.test.tsx
  apps/web/components/task/chat/reset-context-button.test.tsx
  apps/web/components/task/chat/reset-context-button.tsx
  apps/web/e2e/tests/chat/mobile-reset-context-confirmation.spec.ts
  apps/web/e2e/tests/chat/reset-context-confirmation-helpers.ts
  apps/web/e2e/tests/chat/reset-context-confirmation.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: localize agent profile deletion confirmation
  apps/web/components/settings/agent-profile-delete-dialog.test.tsx
  apps/web/components/settings/agent-profile-delete-dialog.tsx
  apps/web/components/settings/agent-profile-page.tsx
  apps/web/components/settings/agents/agent-profiles-section.test.tsx
  apps/web/components/settings/agents/agent-profiles-section.tsx
  apps/web/e2e/tests/settings/agent-profile-delete.spec.ts
  apps/web/e2e/tests/settings/mobile-agent-profile-delete.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: localize secret deletion confirmation
  apps/web/components/settings/secrets-delete-dialog.test.tsx
  apps/web/components/settings/secrets-delete-dialog.tsx
  apps/web/components/settings/secrets-list-item-row.test.tsx
  apps/web/components/settings/secrets-list-item-row.tsx
  apps/web/components/settings/secrets-settings.test.ts
  apps/web/components/settings/secrets-settings.tsx
  apps/web/e2e/tests/settings/mobile-secrets-delete.spec.ts
  apps/web/e2e/tests/settings/secrets-delete.spec.ts
  apps/web/src/locales/en/settings.json
  apps/web/src/locales/pseudo/settings.json
  apps/web/src/locales/pt-pt/settings.json
  apps/web/src/locales/zh-cn/settings.json
  apps/web/src/locales/zh-hk/settings.json
  apps/web/src/locales/zh-tw/settings.json
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(ui): localize watcher delete confirmations
  apps/web/components/azure-devops/azure-devops-watch-settings.test.tsx
  apps/web/components/azure-devops/azure-devops-watch-settings.tsx
  apps/web/components/jira/jira-issue-watch-table.tsx
  apps/web/components/jira/jira-issue-watchers-section.test.tsx
  apps/web/components/jira/jira-issue-watchers-section.tsx
  apps/web/components/linear/linear-issue-watch-table.tsx
  apps/web/components/linear/linear-issue-watchers-section.test.tsx
  apps/web/components/linear/linear-issue-watchers-section.tsx
  apps/web/components/sentry/sentry-issue-watch-table.test.tsx
  apps/web/components/sentry/sentry-issue-watch-table.tsx
  apps/web/components/sentry/sentry-issue-watchers-section.tsx
  apps/web/components/watches/watcher-delete-action.tsx
  apps/web/e2e/tests/integrations/azure-devops.spec.ts
  apps/web/e2e/tests/integrations/mobile-azure-devops.spec.ts
  apps/web/e2e/tests/integrations/mobile-watcher-delete-confirmations.spec.ts
  apps/web/e2e/tests/integrations/watcher-delete-confirmation-flow.ts
  apps/web/e2e/tests/integrations/watcher-delete-confirmations.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): bind walkthrough discard to originating task
  apps/web/components/review/walkthrough-overlay.test.tsx
  apps/web/components/review/walkthrough-overlay.tsx
  apps/web/e2e/pages/session-page.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(ui): inline workflow sync removal confirmation
  apps/web/components/settings/workflow-sync-dialog.test.tsx
  apps/web/components/settings/workflow-sync-dialog.tsx
  apps/web/e2e/tests/workflow/mobile-workflow-settings.spec.ts
  apps/web/e2e/tests/workflow/workflow-sync-gitlab.spec.ts
  apps/web/hooks/domains/settings/use-workflow-sync.test.ts
  apps/web/hooks/domains/settings/use-workflow-sync.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): serialize user mutations across responsive layouts
  apps/web/components/settings/system/users-table.test.tsx
  apps/web/components/settings/system/users-table.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(ui): add plugin uninstall confirmations
  apps/web/app/settings/plugins/page.test.tsx
  apps/web/components/settings/plugins/plugin-detail.tsx
  apps/web/components/settings/plugins/plugin-row.test.tsx
  apps/web/components/settings/plugins/plugin-row.tsx
  apps/web/components/settings/plugins/plugins-settings.tsx
  apps/web/components/settings/plugins/uninstall-plugin-dialog.test.tsx
  apps/web/components/settings/plugins/uninstall-plugin-dialog.tsx
  apps/web/components/settings/plugins/use-plugin-actions.test.tsx
  apps/web/components/settings/plugins/use-plugin-actions.ts
  apps/web/e2e/tests/plugins/mobile-plugin-settings-row.spec.ts
  apps/web/e2e/tests/plugins/plugins.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(ui): localize integration removal confirmations
  apps/web/components/azure-devops/azure-devops-settings.test.tsx
  apps/web/components/azure-devops/azure-devops-settings.tsx
  apps/web/components/jira/jira-settings.test.tsx
  apps/web/components/jira/jira-settings.tsx
  apps/web/components/linear/linear-settings.test.tsx
  apps/web/components/linear/linear-settings.tsx
  apps/web/components/sentry/sentry-instance-card.test.tsx
  apps/web/components/sentry/sentry-instance-card.tsx
  apps/web/components/sentry/sentry-settings.test.tsx
  apps/web/components/sentry/sentry-settings.tsx
  apps/web/e2e/tests/integrations/integration-remove-confirmations.spec.ts
  apps/web/e2e/tests/integrations/jira-settings.spec.ts
  apps/web/e2e/tests/integrations/linear-settings.spec.ts
  apps/web/e2e/tests/integrations/mobile-integration-remove-confirmations.spec.ts
  apps/web/e2e/tests/integrations/sentry-settings.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(ui): localize session delete confirmations
  apps/web/components/task/mobile/mobile-sessions-section.test.tsx
  apps/web/components/task/mobile/mobile-sessions-section.tsx
  apps/web/components/task/session-tab-menu.test.tsx
  apps/web/components/task/session-tab-menu.tsx
  apps/web/components/task/session-tab.tsx
  apps/web/components/task/use-session-tab-delete.ts
  apps/web/e2e/tests/session/mobile-session-deletion.spec.ts
  apps/web/e2e/tests/session/multi-session-ux.spec.ts
  apps/web/e2e/tests/session/session-tab-management.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: localize plan restore confirmation
  apps/web/components/task/task-plan-revert-confirm-dialog.tsx
  apps/web/components/task/task-plan-revisions.test.tsx
  apps/web/components/task/task-plan-revisions.tsx
  apps/web/e2e/pages/session-page.ts
  apps/web/e2e/tests/task/mobile-plan-restore.spec.ts
  apps/web/e2e/tests/task/plan-checkpointing.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): keep agent profile deletion controls accessible
  apps/web/components/settings/agent-profile-delete-dialog.tsx
  apps/web/components/settings/agents/agent-profiles-section.test.tsx
  apps/web/components/settings/agents/agent-profiles-section.tsx
  apps/web/e2e/tests/settings/mobile-agent-profile-delete.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(settings): harden prompt delete confirmation
  apps/web/components/confirmation/action-confirm-popover.test.tsx
  apps/web/components/confirmation/action-confirm-popover.tsx
  apps/web/components/confirmation/inline-confirm-actions.test.tsx
  apps/web/components/confirmation/inline-confirm-actions.tsx
  apps/web/components/settings/prompt-delete-confirmation.tsx
  apps/web/components/settings/prompts-settings.test.tsx
  apps/web/components/settings/prompts-settings.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(backend): close terminal-transition race in permission resolution
  apps/backend/internal/agentctl/server/process/manager.go
  apps/backend/internal/agentctl/server/process/manager_permission_test.go
  apps/backend/internal/agentctl/types/streams/permission.go
Due: gofmt, go-tests, go-lint

fix(backend): fail closed when stripURLCredentials can't confirm a strip
  apps/backend/internal/common/securityutil/permission.go
  apps/backend/internal/common/securityutil/permission_test.go
Due: gofmt, go-tests, go-lint

fix(ui): prevent workflow sync mutation races
  apps/web/components/confirmation/inline-confirm-actions.tsx
  apps/web/components/settings/workflow-sync-dialog.test.tsx
  apps/web/components/settings/workflow-sync-dialog.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(ui): prevent plugin row mutation races
  apps/web/app/settings/plugins/page.test.tsx
  apps/web/components/settings/plugins/plugin-detail.tsx
  apps/web/components/settings/plugins/plugin-row.test.tsx
  apps/web/components/settings/plugins/plugin-row.tsx
  apps/web/components/settings/plugins/plugins-settings.tsx
  apps/web/components/settings/plugins/use-plugin-actions.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(web): add local layout deletion confirmations
  apps/web/components/settings/layouts/layout-profile-delete-confirmation.tsx
  apps/web/components/settings/layouts/layout-settings.test.tsx
  apps/web/components/settings/layouts/layout-settings.tsx
  apps/web/components/task/layout-preset-selector.test.tsx
  apps/web/components/task/layout-preset-selector.tsx
  apps/web/components/task/mobile/session-mobile-top-bar.tsx
  apps/web/components/task/saved-layout-delete-confirmation.tsx
  apps/web/e2e/tests/layout/mobile-saved-layout-confirmation.spec.ts
  apps/web/e2e/tests/layout/saved-layout-session-isolation.spec.ts
  apps/web/e2e/tests/settings/layout-profiles.spec.ts
  apps/web/e2e/tests/settings/mobile-layout-profiles.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor(settings): extract prompt row actions
  apps/web/components/settings/prompt-row-actions.tsx
  apps/web/components/settings/prompts-settings.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): guard plan restore confirmations
  apps/web/components/confirmation/action-confirm-popover.tsx
  apps/web/components/confirmation/inline-confirm-actions.tsx
  apps/web/components/task/task-plan-revisions.test.tsx
  apps/web/components/task/task-plan-revisions.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(backend): map real ACP tool kinds when projecting permission details
  apps/backend/internal/common/securityutil/permission.go
  apps/backend/internal/common/securityutil/permission_test.go
Due: gofmt, go-tests, go-lint

fix(backend): qualify permission-cancelled expiry by request id
  apps/backend/internal/agent/runtime/lifecycle/event_types.go
  apps/backend/internal/agent/runtime/lifecycle/events.go
  apps/backend/internal/backendapp/adapters.go
  apps/backend/internal/integration/test_server_test.go
  apps/backend/internal/orchestrator/agent_permissions.go
  apps/backend/internal/orchestrator/agent_permissions_test.go
  apps/backend/internal/orchestrator/event_handlers_streaming.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/task_operations_test.go
  apps/backend/internal/task/handlers/process_handlers_test.go
  apps/backend/internal/task/repository/interface.go
  apps/backend/internal/task/repository/sqlite/message.go
  apps/backend/internal/task/service/service_messages.go
  apps/backend/internal/task/service/service_messages_coverage_test.go
Due: gofmt, go-tests, go-lint

fix(web): preserve mobile reset confirmation safeguards
  apps/web/components/task/chat/chat-input-toolbar-mobile.tsx
  apps/web/components/task/chat/reset-context-button.test.tsx
  apps/web/components/task/chat/reset-context-button.tsx
  apps/web/e2e/tests/chat/mobile-reset-context-confirmation.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): clear stale integration delete confirmations
  apps/web/components/azure-devops/azure-devops-settings.test.tsx
  apps/web/components/azure-devops/azure-devops-settings.tsx
  apps/web/components/jira/jira-settings.test.tsx
  apps/web/components/jira/jira-settings.tsx
  apps/web/components/linear/linear-settings.test.tsx
  apps/web/components/linear/linear-settings.tsx
  apps/web/components/sentry/sentry-settings.test.tsx
  apps/web/components/sentry/sentry-settings.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): preserve watcher workspace identity on mobile
  apps/web/components/jira/jira-issue-watch-table.tsx
  apps/web/components/jira/jira-issue-watchers-section.test.tsx
  apps/web/components/linear/linear-issue-watch-table.tsx
  apps/web/components/linear/linear-issue-watchers-section.test.tsx
  apps/web/e2e/tests/integrations/mobile-watcher-delete-confirmations.spec.ts
  apps/web/e2e/tests/integrations/watcher-delete-confirmations.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: preserve secret deletion warning on touch
  apps/web/components/settings/secrets-list-item-row.tsx
  apps/web/e2e/tests/settings/mobile-secrets-delete.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(backend): register test-server cleanup with t.Cleanup
  apps/backend/internal/integration/agent_permission_mcp_test.go
Due: gofmt, go-tests, go-lint

feat(ui): localize task detach confirmations
  apps/web/components/combobox.tsx
  apps/web/components/kanban-card-repositories.ts
  apps/web/components/kanban-card.tsx
  apps/web/components/task/simple/components/parent-picker.test.tsx
  apps/web/components/task/simple/components/parent-picker.tsx
  apps/web/components/task/task-detach-confirm-dialog.test.tsx
  apps/web/components/task/task-detach-confirm-dialog.tsx
  apps/web/e2e/tests/task/mobile-subtask-detachment.spec.ts
  apps/web/e2e/tests/task/subtask-detachment.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

chore(web): backfill zh-hant translations for merged permission strings
  apps/web/src/locales/zh-hk/common.json
  apps/web/src/locales/zh-hk/settings.json
  apps/web/src/locales/zh-hk/task.json
  apps/web/src/locales/zh-tw/settings.json
  apps/web/src/locales/zh-tw/task.json
Due: prettier-format

fix(web): split plan restore actions and scope locator
  apps/web/components/task/task-plan-revision-restore-actions.tsx
  apps/web/components/task/task-plan-revisions.tsx
  apps/web/e2e/pages/session-page.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): stabilize local detach confirmations
  apps/web/components/confirmation/action-confirm-popover.test.tsx
  apps/web/components/confirmation/action-confirm-popover.tsx
  apps/web/components/kanban-card-content.tsx
  apps/web/components/kanban-card-repositories.ts
  apps/web/components/kanban-card.tsx
  apps/web/components/task/simple/components/parent-picker.test.tsx
  apps/web/components/task/simple/components/parent-picker.tsx
  apps/web/components/task/task-detach-confirm-dialog.tsx
  apps/web/e2e/tests/task/subtask-detachment.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck
