Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

fix: refresh shared step metadata after revisions
  apps/web/components/task/sidebar-filter/use-filter-value-options-demand.test.tsx
  apps/web/hooks/domains/kanban/use-workflow-step-metadata-demand.test.tsx
  apps/web/hooks/domains/kanban/use-workflow-step-metadata.ts
  apps/web/hooks/use-workflow-option-previews.ts
  docs/plans/journey-data-efficiency/evidence/pr-4404-ci-remediation.json
  docs/plans/journey-data-efficiency/evidence/review-verification-context.json
  docs/plans/journey-data-efficiency/implementation-evidence.md
  docs/plans/journey-data-efficiency/task-07-share-navigation-refresh-ownership.md
  docs/plans/journey-data-efficiency/task-08-share-active-panel-metadata.md
  docs/specs/platform/system-design/journey-data-loading.md
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: record turn changes review verification
  docs/plans/turn-changed-files/task-09-qualification.md
Due: none

fix(turn-changes): address review and CI findings
  apps/backend/internal/agent/runtime/lifecycle/manager.go
  apps/backend/internal/agent/runtime/lifecycle/manager_lifecycle.go
  apps/backend/internal/agent/runtime/lifecycle/manager_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_turn_changes.go
  apps/backend/internal/agent/runtime/lifecycle/manager_turn_changes_test.go
  apps/backend/internal/backendapp/orchestrator.go
  apps/backend/internal/task/changes/coordinator.go
  apps/backend/internal/task/changes/coordinator_finish.go
  apps/backend/internal/task/changes/coordinator_test.go
  apps/backend/internal/task/models/turn_changes.go
  apps/backend/internal/task/repository/sqlite/turn_change_content.go
  apps/backend/internal/task/repository/sqlite/turn_change_sets_test.go
  apps/backend/internal/task/repository/sqlite/turn_changes.go
  apps/backend/internal/task/repository/sqlite/turn_changes_schema_ddl.go
  apps/backend/internal/task/repository/turn_changes.go
  apps/web/components/task/chat/message-list-native.test.tsx
  apps/web/components/task/chat/message-list-native.tsx
  apps/web/components/task/chat/turn-changed-files-card.tsx
  apps/web/components/task/historical-turn-diff-viewer-controls.tsx
  apps/web/components/task/historical-turn-diff-viewer.tsx
  apps/web/lib/settings-discovery/contract.generated.json
  apps/web/lib/settings-discovery/profile-contract.generated.json
  docs/plans/turn-changed-files/task-02-change-set-persistence.md
  docs/plans/turn-changed-files/task-03-executor-capture.md
  docs/plans/turn-changed-files/task-04-durable-content.md
  docs/plans/turn-changed-files/task-05-lifecycle-ordering.md
  docs/plans/turn-changed-files/task-06-history-apis.md
  docs/plans/turn-changed-files/task-07-transcript-desktop.md
  docs/plans/turn-changed-files/task-08-mobile-localization.md
  docs/plans/turn-changed-files/task-09-qualification.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

docs(plan): record turn changes PR CI result
  docs/plans/turn-changed-files/task-09-qualification.md
Due: none

fix: harden turn change history and improve review UX
  apps/backend/internal/agentctl/server/process/turn_checkpoint_attributes_test.go
  apps/backend/internal/agentctl/server/process/turn_checkpoint_capture_edges_test.go
  apps/backend/internal/agentctl/server/process/turn_checkpoint_compare.go
  apps/backend/internal/agentctl/server/process/turn_checkpoint_diff_view.go
  apps/backend/internal/agentctl/server/process/turn_checkpoint_export.go
  apps/backend/internal/agentctl/server/process/turn_checkpoint_export_isolation_test.go
  apps/backend/internal/task/changes/coordinator.go
  apps/backend/internal/task/changes/coordinator_cleanup.go
  apps/backend/internal/task/changes/coordinator_cleanup_budget_test.go
  apps/backend/internal/task/changes/coordinator_finish.go
  apps/backend/internal/task/changes/coordinator_partial.go
  apps/backend/internal/task/changes/coordinator_partial_test.go
  apps/backend/internal/task/repository/sqlite/turn_change_end_failure.go
  apps/backend/internal/task/repository/sqlite/turn_change_end_failure_test.go
  apps/backend/internal/task/repository/sqlite/turn_change_ownership.go
  apps/backend/internal/task/repository/turn_changes.go
  apps/web/components/task/chat/turn-changed-files-card.tsx
  apps/web/components/task/historical-turn-diff-viewer-controls.tsx
  apps/web/components/task/historical-turn-diff-viewer.tsx
  apps/web/components/task/mobile/mobile-diff-sheet.tsx
  apps/web/e2e/tests/git/mobile-turn-changed-files.spec.ts
  apps/web/e2e/tests/git/turn-changed-files-qa-helpers.ts
  apps/web/e2e/tests/git/turn-changed-files.spec.ts
  apps/web/hooks/domains/session/use-turn-change-files.test.tsx
  apps/web/hooks/domains/session/use-turn-change-files.ts
  apps/web/lib/turn-changes/tree.test.ts
  apps/web/lib/turn-changes/tree.ts
  docs/plans/turn-changed-files/qa-findings.md
  docs/plans/turn-changed-files/task-09-qualification.md
  docs/public/tasks-and-workflows.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(turn-changes): publish completion before terminal capture
  apps/backend/internal/agent/runtime/lifecycle/manager_events.go
  apps/backend/internal/agent/runtime/lifecycle/manager_turn_changes.go
  apps/backend/internal/agent/runtime/lifecycle/manager_turn_changes_test.go
  apps/web/e2e/tests/command-panel.spec.ts
  docs/plans/turn-changed-files/task-09-qualification.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(turn-changes): release prompt fence after endpoint capture
  apps/backend/internal/agent/runtime/lifecycle/manager_turn_changes.go
  apps/backend/internal/agent/runtime/lifecycle/manager_turn_changes_test.go
  apps/backend/internal/agent/runtime/lifecycle/turn_changes.go
  apps/backend/internal/agent/runtime/runtime.go
  apps/backend/internal/backendapp/turn_changes_runtime.go
  apps/backend/internal/task/changes/coordinator_finish.go
  apps/backend/internal/task/changes/coordinator_test.go
  docs/plans/turn-changed-files/task-09-qualification.md
Due: gofmt, go-tests, go-lint

fix(settings): include turn changes preference catalog entry
  apps/backend/internal/settingscatalog/defaults.go
  apps/web/lib/settings-discovery/contract.generated.json
  apps/web/lib/settings-discovery/coverage-inventory.ts
  docs/plans/turn-changed-files/task-01-capture-preference.md
  docs/plans/turn-changed-files/task-09-qualification.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: serialize turn capture admission and preserve completion ordering
  apps/backend/internal/agent/runtime/lifecycle/manager_turn_changes.go
  apps/backend/internal/agent/runtime/lifecycle/manager_turn_changes_test.go
  apps/backend/internal/agent/runtime/lifecycle/session.go
  apps/backend/internal/agent/runtime/lifecycle/session_turn_capture_wait_test.go
  apps/backend/internal/task/repository/sqlite/conversation_receipts.go
  apps/backend/internal/task/repository/sqlite/message_crud_coverage_test.go
  apps/web/e2e/fixtures/test-base.ts
  apps/web/e2e/tests/session/mobile-session-open-inspection-contention.spec.ts
  apps/web/e2e/tests/session/session-open-inspection-contention.spec.ts
  docs/plans/turn-changed-files/qa-findings.md
  docs/plans/turn-changed-files/task-09-qualification.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test: reconcile turn history upgrade fixture inventory
  apps/backend/internal/persistence/storeconformance/testdata/upgrades/v0.93.0/manifest.json
  docs/plans/turn-changed-files/qa-findings.md
Due: none

fix: preserve runtime proxy upgrades and editor socket discovery
  apps/backend/internal/agent/runtime/agentctl/runtime_guard.go
  apps/backend/internal/agent/runtime/agentctl/runtime_guard_proxy_test.go
  apps/backend/internal/agentctl/server/process/vscode.go
  apps/backend/internal/agentctl/server/process/vscode_test.go
  apps/web/e2e/helpers/managed-runtime-recovery.ts
  apps/web/e2e/helpers/session.ts
  apps/web/e2e/tests/session/mobile-session-open-inspection-contention.spec.ts
  apps/web/e2e/tests/session/session-open-inspection-contention.spec.ts
  apps/web/e2e/tests/settings/vscode-open-file.spec.ts
  apps/web/e2e/tests/settings/vscode-open-panel.spec.ts
  apps/web/e2e/tests/terminal/terminal-ended-session.spec.ts
  docs/plans/turn-changed-files/qa-findings.md
  docs/plans/turn-changed-files/task-09-qualification.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

docs: record turn changes QA and executor results
  docs/plans/turn-changed-files/qa-findings.md
Due: none

docs: record merged QA regression evidence
  docs/plans/turn-changed-files/qa-findings.md
  docs/plans/turn-changed-files/task-09-qualification.md
Due: none

test: stabilize retried workflow and transcript scenarios
  apps/web/e2e/tests/chat/last-prompt-scroll.spec.ts
  apps/web/e2e/tests/chat/setup-recovery.spec.ts
  apps/web/e2e/tests/kanban/preview-session-tabs.spec.ts
  apps/web/e2e/tests/task/task-workflow-agent-overrides-helpers.ts
  apps/web/e2e/tests/workflow/workflow-peer-resume-helpers.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: preserve follow through partial transcript anchoring
  apps/web/components/task/chat/message-list-native-scroll.test.ts
  apps/web/components/task/chat/message-list-native-scroll.ts
  apps/web/components/task/chat/message-list-native.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test: register editor runtime directory environment dependency
  apps/backend/internal/agentctl/server/process/env_hermetic_test.go
  docs/plans/turn-changed-files/qa-findings.md
Due: gofmt, go-tests, go-lint

fix: polish turn diff selectors and preserve transcript follow
  apps/web/components/diff-worker-pool-provider.tsx
  apps/web/components/task/chat/message-list-native-scroll.ts
  apps/web/components/task/chat/message-list-native.test.tsx
  apps/web/components/task/chat/use-chat-scroll-motion.ts
  apps/web/components/task/historical-turn-diff-viewer-controls.tsx
  apps/web/e2e/tests/git/mobile-turn-changed-files-scroll.spec.ts
  apps/web/e2e/tests/git/mobile-turn-changed-files.spec.ts
  apps/web/e2e/tests/git/turn-changed-files-helpers.ts
  apps/web/e2e/tests/git/turn-changed-files-scroll-helpers.ts
  apps/web/e2e/tests/git/turn-changed-files-scroll.spec.ts
  apps/web/e2e/tests/git/turn-changed-files.spec.ts
  docs/plans/turn-changed-files/qa-findings.md
  docs/specs/tasks/requirements/turn-changed-files.md
  docs/specs/tasks/system-design/turn-changed-files.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test: assert rendered token colors in dual-theme diffs
  apps/web/e2e/tests/git/diff-expansion.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: keep transcript follow intent aligned with scroll movement
  apps/web/components/task/chat/message-list-native-scroll.test.ts
  apps/web/components/task/chat/message-list-native-scroll.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(lifecycle): update turn capture disconnect test call
  apps/backend/internal/agent/runtime/lifecycle/manager_turn_changes_test.go
Due: gofmt, go-tests, go-lint

fix: remove duplicate synthetic prompt import after rebase
  apps/web/components/task/chat/message-list-shared.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(task): handle missing agentctl during turn capture
  apps/backend/internal/agent/runtime/agentctl/client_turn_changes.go
  apps/backend/internal/task/changes/coordinator_test.go
  docs/plans/turn-changed-files/task-05-lifecycle-ordering.md
Due: gofmt, go-tests, go-lint

test: make turn copy export fixtures portable on windows
  apps/backend/internal/agentctl/server/process/turn_checkpoint_export_isolation_test.go
  docs/plans/turn-changed-files/task-09-qualification.md
Due: gofmt, go-tests, go-lint

fix: synchronize draft submission and recovered turn readiness
  apps/web/components/task/chat/use-chat-input-draft-order.test.ts
  apps/web/components/task/chat/use-chat-input-state.ts
  apps/web/e2e/tests/chat/initial-task-brief-helpers.ts
  docs/plans/journey-data-efficiency/evidence/pr-4404-ci-remediation.json
  docs/plans/journey-data-efficiency/evidence/review-verification-context.json
  docs/plans/journey-data-efficiency/implementation-evidence.md
  docs/plans/journey-data-efficiency/task-08-share-active-panel-metadata.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: preserve bounded navigation and align journey fixtures
  apps/web/e2e/tests/chat/auto-scroll-toggle.spec.ts
  apps/web/e2e/tests/chat/clarification-lifecycle-turn-shadow.spec.ts
  apps/web/e2e/tests/chat/inactive-session-transcript-reconciliation.spec.ts
  apps/web/e2e/tests/chat/model-selector-error.spec.ts
  apps/web/e2e/tests/chat/quick-chat.spec.ts
  apps/web/e2e/tests/task/mobile-archive-task-redirect.spec.ts
  apps/web/e2e/tests/task/subtask.spec.ts
  apps/web/e2e/tests/workflow/workflow-peer-resume.spec.ts
  apps/web/hooks/task-removal-sidebar-fallback.ts
  apps/web/hooks/use-task-removal.test.ts
  docs/plans/journey-data-efficiency/evidence/pr-4404-ci-remediation.json
  docs/plans/journey-data-efficiency/evidence/review-verification-context.json
  docs/plans/journey-data-efficiency/implementation-evidence.md
  docs/plans/journey-data-efficiency/task-06-hydrate-turns-by-message-window.md
  docs/plans/journey-data-efficiency/task-07-share-navigation-refresh-ownership.md
  docs/specs/tasks/system-design/removal-navigation.md
Due: prettier-format, web-lint, web-tests, web-typecheck

media: refresh PR #3680 screenshots at b3fa3280
  add-workspace-sources--registered-source-file-opened-desktop.png
  add-workspace-sources--registered-source-link-opened-desktop.png
  add-workspace-sources--workspace-actions-mixed-sources.png
  add-workspace-sources--workspace-actions-mixed-sources.png\n100644 blob 18b5fecf7f56adfdb8767fde9f51c25452545e8d add-workspace-sources--registered-source-file-opened-desktop.png\n100644 blob b319e61908bdcc3cf2e62c0c605bfd08b26b1e45 add-workspace-sources--registered-source-link-opened-desktop.png\n100644 blob c13df2452a5d8a30ff488c6cc1631c7a3a737b21 pr-workspace-placement-capture--task-create-parent-workspace-desktop.png\n100644 blob 199252ff6f940f3561e5a9f1e683526cbd79f797 mobile-pr-workspace-placement-capture--task-create-parent-workspace-mobile.png\n100644 blob 673a9b2320c2afaba3af1295f32210470fc58d46 mobile-add-workspace-sources--workspace-actions-mixed-sources.png\n100644 blob 851bbcabd1bff03df1ac07d29a8b67f9ef8ab3eb mobile-add-workspace-sources--registered-source-link-opened-mobile.png\n
  mobile-add-workspace-sources--registered-source-link-opened-mobile.png
  mobile-add-workspace-sources--workspace-actions-mixed-sources.png
  mobile-pr-workspace-placement-capture--task-create-parent-workspace-mobile.png
  pr-workspace-placement-capture--task-create-parent-workspace-desktop.png
Due: none

media: refresh PR #3680 screenshots at b3fa3280
  mobile-pr-workspace-placement-capture--task-create-parent-workspace-mobile.png
Due: none
