Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

feat(web): mobile terminal key-bar — Ctrl/Shift modify OS-keyboard input + iOS keyboard fixes (#741)
  apps/web/components/task/mobile/mobile-terminal-keybar-helpers.tsx
  apps/web/components/task/mobile/mobile-terminal-keybar.test.tsx
  apps/web/components/task/mobile/mobile-terminal-keybar.tsx
  apps/web/components/task/mobile/session-mobile-layout.tsx
  apps/web/components/task/shell-terminal.tsx
  apps/web/e2e/helpers/ws-capture.ts
  apps/web/e2e/pages/mobile-terminal-keybar-page.ts
  apps/web/e2e/tests/terminal/mobile-terminal-keybar.spec.ts
  apps/web/hooks/domains/session/use-shell-key-sender.ts
  apps/web/hooks/use-visual-viewport-offset.test.ts
  apps/web/hooks/use-visual-viewport-offset.ts
  apps/web/lib/terminal/apply-shell-modifiers.test.ts
  apps/web/lib/terminal/apply-shell-modifiers.ts
  apps/web/lib/terminal/key-sequences.test.ts
  apps/web/lib/terminal/key-sequences.ts
  apps/web/lib/terminal/refocus-xterm.test.ts
  apps/web/lib/terminal/refocus-xterm.ts
  apps/web/lib/terminal/send-shell-input.test.ts
  apps/web/lib/terminal/send-shell-input.ts
  apps/web/lib/terminal/shell-modifiers.test.ts
  apps/web/lib/terminal/shell-modifiers.ts
  apps/web/lib/terminal/suppress-ios-keyboard-assists.test.ts
  apps/web/lib/terminal/suppress-ios-keyboard-assists.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(agents): keep Cursor probe command on the allowlist
  apps/backend/internal/agent/agents/cursor_acp.go
Due: gofmt, go-tests, go-lint

feat(orchestrator): reuse existing same-profile session on workflow step switch
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/event_handlers_workflow_profile_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/web/lib/ssr/mapper.ts
  apps/web/lib/state/slices/kanban/kanban-slice.ts
  apps/web/lib/state/slices/kanban/types.ts
  apps/web/lib/state/store.ts
  apps/web/lib/ws/handlers/agent-session.test.ts
  apps/web/lib/ws/handlers/agent-session.ts
  apps/web/lib/ws/handlers/tasks.test.ts
  apps/web/lib/ws/handlers/tasks.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat(orchestrator): deferred task move with hand-off prompt + boot/turn-end event split
  apps/backend/cmd/kandev/helpers.go
  apps/backend/internal/agent/lifecycle/manager_interaction.go
  apps/backend/internal/agent/lifecycle/manager_interaction_test.go
  apps/backend/internal/agent/lifecycle/manager_profile.go
  apps/backend/internal/events/types.go
  apps/backend/internal/integration/mcp_integration_test.go
  apps/backend/internal/mcp/handlers/config_handlers_test.go
  apps/backend/internal/mcp/handlers/config_task_handlers.go
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/server/config_handlers.go
  apps/backend/internal/mcp/server/server.go
  apps/backend/internal/mcp/server/server_test.go
  apps/backend/internal/orchestrator/event_handlers_agent.go
  apps/backend/internal/orchestrator/event_handlers_pending_move_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/messagequeue/service.go
  apps/backend/internal/orchestrator/messagequeue/service_test.go
  apps/backend/internal/orchestrator/messagequeue/types.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/watcher/watcher.go
Due: gofmt, go-tests, go-lint

fix: address CodeRabbit review on PR #743 (3 new comments)
  apps/backend/internal/mcp/handlers/config_handlers_test.go
  apps/backend/internal/mcp/handlers/config_task_handlers.go
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/orchestrator/event_handlers_pending_move_test.go
Due: gofmt, go-tests, go-lint

fix(web): respect pinned session in primary-follow-focus path
  apps/web/lib/ws/handlers/tasks.test.ts
  apps/web/lib/ws/handlers/tasks.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address PR #743 review feedback (Greptile + CodeRabbit)
  apps/backend/internal/mcp/handlers/config_task_handlers.go
  apps/backend/internal/orchestrator/event_handlers_pending_move_test.go
  apps/backend/internal/orchestrator/event_handlers_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/web/lib/ws/handlers/agent-session.test.ts
  apps/web/lib/ws/handlers/agent-session.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: relax move_task_kandev prompt requirement; fix CI lint
  apps/backend/internal/mcp/handlers/config_task_handlers.go
  apps/backend/internal/mcp/server/config_handlers.go
  apps/backend/internal/mcp/server/server.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
Due: gofmt, go-tests, go-lint

fix(mcp): treat 'no primary session' as a not-found, not an internal error
  apps/backend/internal/mcp/handlers/config_task_handlers.go
Due: gofmt, go-tests, go-lint

fix(backend): start agent immediately for passthrough quick-chat sessions
  apps/backend/internal/orchestrator/session_launch.go
Due: gofmt, go-tests, go-lint

fix(web): render passthrough terminal in quick chat for passthrough profiles
  apps/web/app/page.tsx
  apps/web/components/quick-chat/quick-chat-modal.test.ts
  apps/web/components/quick-chat/quick-chat-modal.tsx
  apps/web/components/quick-chat/use-quick-chat-modal.ts
  apps/web/lib/api/domains/workspace-api.ts
  apps/web/lib/state/slices/ui/types.ts
  apps/web/lib/state/slices/ui/ui-slice.ts
  apps/web/lib/state/store.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

style(web): apply prettier formatting
  apps/web/app/page.tsx
  apps/web/components/quick-chat/quick-chat-modal.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): address review feedback on quick-chat passthrough rendering
  apps/web/app/page.tsx
  apps/web/components/quick-chat/quick-chat-modal.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(backend): prevent launchPrepare ↔ launchStart recursion for passthrough
  apps/backend/internal/orchestrator/event_handlers_test.go
  apps/backend/internal/orchestrator/session_launch.go
  apps/backend/internal/orchestrator/session_launch_test.go
Due: gofmt, go-tests, go-lint

test(web): cover existing agentProfileId preservation on reopen
  apps/web/components/quick-chat/quick-chat-modal.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

style(web): apply prettier formatting
  apps/web/app/page.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test(backend): seed task with blocked workflow step in recursion regression
  apps/backend/internal/orchestrator/session_launch_test.go
Due: gofmt, go-tests, go-lint

test(backend): cover ResolveAgentProfile error path in isPassthroughProfile
  apps/backend/internal/orchestrator/event_handlers_test.go
  apps/backend/internal/orchestrator/session_launch_test.go
Due: gofmt, go-tests, go-lint

feat(orchestrator): deferred task move with hand-off prompt + boot/turn-end event split (#743)
  apps/backend/cmd/kandev/helpers.go
  apps/backend/internal/agent/lifecycle/manager_interaction.go
  apps/backend/internal/agent/lifecycle/manager_interaction_test.go
  apps/backend/internal/agent/lifecycle/manager_profile.go
  apps/backend/internal/events/types.go
  apps/backend/internal/integration/mcp_integration_test.go
  apps/backend/internal/mcp/handlers/config_handlers_test.go
  apps/backend/internal/mcp/handlers/config_task_handlers.go
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/server/config_handlers.go
  apps/backend/internal/mcp/server/server.go
  apps/backend/internal/mcp/server/server_test.go
  apps/backend/internal/orchestrator/event_handlers_agent.go
  apps/backend/internal/orchestrator/event_handlers_pending_move_test.go
  apps/backend/internal/orchestrator/event_handlers_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/event_handlers_workflow_profile_test.go
  apps/backend/internal/orchestrator/messagequeue/service.go
  apps/backend/internal/orchestrator/messagequeue/service_test.go
  apps/backend/internal/orchestrator/messagequeue/types.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/watcher/watcher.go
  apps/web/lib/ssr/mapper.ts
  apps/web/lib/state/slices/kanban/kanban-slice.ts
  apps/web/lib/state/slices/kanban/types.ts
  apps/web/lib/state/store.ts
  apps/web/lib/ws/handlers/agent-session.test.ts
  apps/web/lib/ws/handlers/agent-session.ts
  apps/web/lib/ws/handlers/tasks.test.ts
  apps/web/lib/ws/handlers/tasks.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat(mcp): add message_task_kandev tool for cross-task agent messaging
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/handlers_test.go
  apps/backend/internal/mcp/handlers/message_task_test.go
  apps/backend/internal/mcp/server/handlers.go
  apps/backend/internal/mcp/server/handlers_test.go
  apps/backend/internal/mcp/server/server.go
  apps/backend/internal/mcp/server/server_test.go
  apps/backend/pkg/websocket/actions.go
Due: gofmt, go-tests, go-lint

fix(mcp): address review feedback on message_task_kandev
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/message_task_test.go
Due: gofmt, go-tests, go-lint

refactor(mcp): share WaitForSessionReady + speed up auto-resume test
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/message_task_test.go
  apps/backend/internal/mcp/server/server.go
  apps/backend/internal/mcp/server/server_test.go
  apps/backend/internal/task/handlers/message_handlers.go
  apps/backend/internal/task/service/service_sessions.go
Due: gofmt, go-tests, go-lint

fix(web): plan panel misses agent updates emitted before WS connects
  apps/web/hooks/use-plan-panel-auto-open.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): cover the new eager-fetch + reload-acknowledge branches
  apps/web/hooks/use-plan-panel-auto-open.test.ts
  apps/web/hooks/use-plan-panel-auto-open.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(quick-chat): eager-init agent on profile selection
  apps/backend/cmd/mock-agent/main.go
  apps/backend/internal/task/handlers/task_http_handlers.go
  apps/web/components/quick-chat/quick-chat-modal.tsx
  apps/web/components/quick-chat/use-quick-chat-modal.ts
  apps/web/e2e/tests/chat/message-queue.spec.ts
  apps/web/e2e/tests/chat/quick-chat.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(web): guard the eager plan fetch against an infinite retry loop
  apps/web/hooks/use-plan-panel-auto-open.test.ts
  apps/web/hooks/use-plan-panel-auto-open.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): cover the disconnect→reconnect retry + tighten code comments
  apps/web/hooks/use-plan-panel-auto-open.test.ts
  apps/web/hooks/use-plan-panel-auto-open.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): align workflow-agent-switch e2e tests with PR #743 behavior
  apps/web/e2e/pages/session-page.ts
  apps/web/e2e/tests/workflow/workflow-agent-switch.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(web): clarify reload-acknowledge comment to match the actual control flow
  apps/web/hooks/use-plan-panel-auto-open.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test+cleanup(quick-chat): unit tests for useAgentSelection; minor cleanups
  apps/backend/cmd/mock-agent/main.go
  apps/web/components/quick-chat/quick-chat-modal.tsx
  apps/web/components/quick-chat/use-quick-chat-modal.test.ts
  apps/web/components/quick-chat/use-quick-chat-modal.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(web): split test file under the 100-line per-function lint cap
  apps/web/hooks/use-plan-panel-auto-open.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): exclude permission_request from turn-complete safety net
  apps/web/lib/ws/handlers/turns.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): harden workflow-agent-switch assertions
  apps/web/e2e/tests/workflow/workflow-agent-switch.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(backend): protect permission_request rows from tool_call sweeps
  apps/backend/internal/task/repository/session_repository_test.go
  apps/backend/internal/task/repository/sqlite/message.go
  apps/backend/internal/task/service/service_messages.go
Due: gofmt, go-tests, go-lint

test(e2e): cover approval-reappear regression with mock-agent scenario
  apps/backend/cmd/mock-agent/scenarios.go
  apps/web/components/task/chat/messages/permission-action-row.tsx
  apps/web/e2e/fixtures/backend.ts
  apps/web/e2e/pages/session-page.ts
  apps/web/e2e/tests/chat/permission-approval.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(web): don't overwrite a WS-delivered plan with a stale null fetch
  apps/web/hooks/use-plan-panel-auto-open.test.ts
  apps/web/hooks/use-plan-panel-auto-open.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(web): fix the disconnect/reconnect comment wording
  apps/web/hooks/use-plan-panel-auto-open.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(quick-chat): use constants.TaskDeleteTimeout for rollback ctx
  apps/backend/internal/task/handlers/task_http_handlers.go
Due: gofmt, go-tests, go-lint

fix(web): also guard the eager fetch against stale non-null overwrites
  apps/web/hooks/use-plan-panel-auto-open.test.ts
  apps/web/hooks/use-plan-panel-auto-open.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(backend): cover GetMessageByToolCallID permission_request exclusion
  apps/backend/internal/task/repository/session_repository_test.go
  apps/backend/internal/task/service/service_messages.go
Due: gofmt, go-tests, go-lint

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
