Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

fix(utility): log empty opencode model fallback
  apps/backend/internal/agentctl/server/utility/acp_executor.go
  apps/backend/internal/agentctl/server/utility/acp_executor_test.go
Due: gofmt, go-tests, go-lint

test(workflow): pin signaled_at + drop redundant GetTaskSession on bag-clear
  apps/backend/internal/mcp/handlers/step_complete_test.go
  apps/backend/internal/orchestrator/event_handlers_step_completion.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
Due: gofmt, go-tests, go-lint

fix(workflow): subscriber stale-clear guard + ADR/comment drift fixes
  apps/backend/internal/orchestrator/event_handlers_step_completion.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/workflow/models/models.go
  docs/decisions/0015-explicit-completion-signal-for-auto-advance.md
Due: gofmt, go-tests, go-lint

fix(workflow): drop subscriber complexity + reload session on stale-clear
  apps/backend/internal/orchestrator/event_handlers_step_completion.go
Due: gofmt, go-tests, go-lint

test(workflow): pin stale-event guard's preserve-current-bag side + dedup StringFromAny
  apps/backend/internal/orchestrator/event_handlers_step_completion.go
  apps/backend/internal/orchestrator/event_handlers_step_completion_test.go
  apps/backend/internal/task/models/models.go
Due: gofmt, go-tests, go-lint

feat(workflow): explicit step-completion signal for auto-advance (#1276)
  apps/backend/config/prompts/kandev-context.md
  apps/backend/internal/events/types.go
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/step_complete_test.go
  apps/backend/internal/mcp/server/server.go
  apps/backend/internal/mcp/server/server_test.go
  apps/backend/internal/orchestrator/event_handlers_step_completion.go
  apps/backend/internal/orchestrator/event_handlers_step_completion_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/task/models/models.go
  apps/backend/internal/workflow/controller/controller.go
  apps/backend/internal/workflow/models/models.go
  apps/backend/internal/workflow/repository/sqlite.go
  apps/backend/pkg/websocket/actions.go
  apps/web/components/settings/workflow-pipeline-editor-step-actions.tsx
  apps/web/lib/types/http.ts
  docs/decisions/0015-explicit-completion-signal-for-auto-advance.md
  docs/decisions/INDEX.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(web): use onSelect for scope-bar saved-query menu items (keyboard a11y)
  apps/web/components/integrations/presets-scope-bar-base.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): mobile sidebar hide, gear-gated settings test, office paused badge, picker a11y
  apps/web/components/app-sidebar/app-sidebar-workspace-picker.tsx
  apps/web/components/app-sidebar/app-sidebar.tsx
  apps/web/components/app-sidebar/sections/agents-section.tsx
  apps/web/e2e/tests/system/sidebar-navigation.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): reconcile main's E2E suite with the unified-sidebar overhaul
  apps/web/e2e/pages/session-page.ts
  apps/web/e2e/pages/sidebar-filter-popover.ts
  apps/web/e2e/tests/improve-kandev.spec.ts
  apps/web/e2e/tests/kanban/kanban-board.spec.ts
  apps/web/e2e/tests/kanban/kanban-topbar-utilities.spec.ts
  apps/web/e2e/tests/kanban/workflow-filter.spec.ts
  apps/web/e2e/tests/layout/pane-resize-edge-cases.spec.ts
  apps/web/e2e/tests/layout/pane-resize-sidebar.spec.ts
  apps/web/e2e/tests/office/live-presence.spec.ts
  apps/web/e2e/tests/office/onboarding.spec.ts
  apps/web/e2e/tests/office/sidebar-live-agents.spec.ts
  apps/web/e2e/tests/office/sidebar-navigation.spec.ts
  apps/web/e2e/tests/pr/pr-status-badge.spec.ts
  apps/web/e2e/tests/session/multi-session-ux.spec.ts
  apps/web/e2e/tests/session/session-layout.spec.ts
  apps/web/e2e/tests/session/session-tab-management.spec.ts
  apps/web/e2e/tests/task/create-task-url-reopen-no-branches.spec.ts
  apps/web/e2e/tests/task/sidebar-filter.spec.ts
  apps/web/e2e/tests/task/task-list-filters.spec.ts
  apps/web/e2e/tests/task/task-list.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): fix create-task-url-reopen branch listing (reload to drop stale cache)
  apps/web/e2e/tests/task/create-task-url-reopen-no-branches.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): restore mobile search toggle + reconcile remaining E2E with overhaul
  apps/web/components/app-sidebar/app-sidebar.test.tsx
  apps/web/components/kanban/kanban-header-mobile.tsx
  apps/web/e2e/pages/app-sidebar-page.ts
  apps/web/e2e/pages/sidebar-filter-popover.ts
  apps/web/e2e/tests/chat/mobile-voice-mode.spec.ts
  apps/web/e2e/tests/office/execution-indicator.spec.ts
  apps/web/e2e/tests/office/live-presence.spec.ts
  apps/web/e2e/tests/office/realtime-dashboard.spec.ts
  apps/web/e2e/tests/office/sidebar-live-agents.spec.ts
  apps/web/e2e/tests/office/sidebar-navigation.spec.ts
  apps/web/e2e/tests/office/task-chat.spec.ts
  apps/web/e2e/tests/office/task-sorting.spec.ts
  apps/web/e2e/tests/task/mobile-task-list-search.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): finish E2E reconciliation — office sections, session timing, robustness
  apps/web/e2e/pages/app-sidebar-page.ts
  apps/web/e2e/tests/office/agent-error-handling.spec.ts
  apps/web/e2e/tests/office/execution-indicator.spec.ts
  apps/web/e2e/tests/office/task-sorting.spec.ts
  apps/web/e2e/tests/session/session-layout.spec.ts
  apps/web/e2e/tests/task/workspace-switch-sidebar-isolation.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): match main's office identifier assertion (revert over-scoping)
  apps/web/e2e/tests/office/execution-indicator.spec.ts
  apps/web/e2e/tests/office/task-sorting.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): restore non-empty .font-mono filter for office identifier checks
  apps/web/e2e/tests/office/execution-indicator.spec.ts
  apps/web/e2e/tests/office/task-sorting.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): fix office identifier + realtime-dashboard specs at the root cause
  apps/web/e2e/tests/office/execution-indicator.spec.ts
  apps/web/e2e/tests/office/realtime-dashboard.spec.ts
  apps/web/e2e/tests/office/task-sorting.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

release: 0.56.0
  CHANGELOG.md
  apps/cli/package.json
Due: prettier-format

fix(web): align office topbar border with sidebar header (h-10)
  apps/web/app/office/components/office-topbar.tsx
  apps/web/components/app-sidebar/app-sidebar-header.tsx
  apps/web/e2e/tests/office/topbar-breadcrumb.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): force expanded sidebar in topbar alignment check
  apps/web/e2e/tests/office/topbar-breadcrumb.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): point sidebar Home to office dashboard in office mode
  apps/web/components/app-sidebar/app-sidebar-primary-nav.tsx
  apps/web/e2e/tests/office/sidebar-navigation.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): start Kanban Home e2e from a non-home route
  apps/web/e2e/tests/office/sidebar-navigation.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): make toggle-sidebar shortcut work on every route
  apps/web/components/global-commands.tsx
  apps/web/e2e/tests/layout/toggle-sidebar-shortcut.spec.ts
  apps/web/hooks/use-app-shortcuts.test.ts
  apps/web/hooks/use-app-shortcuts.ts
  apps/web/hooks/use-editor-keybinds.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): hydrate userSettings into the root store on settings routes
  apps/web/app/settings/layout.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): cover the macOS Cmd path; note the settings-layout catch trade-off
  apps/web/app/settings/layout.tsx
  apps/web/hooks/use-app-shortcuts.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(github): handle UNIQUE collision in UpdatePRWatchBranchIfSearching
  apps/backend/internal/github/service_pr_watch_multi_branch_test.go
  apps/backend/internal/github/store.go
Due: gofmt, go-tests, go-lint

feat(workflow): ship explicit completion signal toggle + YAML round-trip
  apps/backend/internal/workflow/models/export.go
  apps/backend/internal/workflow/models/export_test.go
  apps/backend/internal/workflow/service/service.go
  apps/web/components/settings/workflow-pipeline-editor-step-actions.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(github): close TOCTOU and cover sibling-has-PR collision case
  apps/backend/internal/github/service_pr_watch_multi_branch_test.go
  apps/backend/internal/github/store.go
Due: gofmt, go-tests, go-lint

fix(workflow): guard completion-signal toggle + cover import in tests
  apps/backend/internal/workflow/service/service_test.go
  apps/web/components/settings/workflow-pipeline-editor-step-actions.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(utility): surface probe status in inference-agents endpoint
  apps/backend/internal/utility/dto/dto.go
  apps/backend/internal/utility/handlers/handlers.go
  apps/backend/internal/utility/handlers/handlers_test.go
Due: gofmt, go-tests, go-lint

fix(web): show probe status note + Refresh on utility-agent model picker
  apps/web/components/settings/inference-agent-status.test.tsx
  apps/web/components/settings/inference-agent-status.tsx
  apps/web/components/settings/use-inference-agents.ts
  apps/web/components/settings/utility-agent-dialog.tsx
  apps/web/components/settings/utility-agents-section.tsx
  apps/web/components/settings/utility-sections.tsx
  apps/web/e2e/tests/settings/utility-agents.spec.ts
  apps/web/lib/api/domains/utility-api.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): preserve manual task selection during archive/delete
  apps/web/hooks/use-task-removal.test.ts
  apps/web/hooks/use-task-removal.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(utility): add HTTP integration tests for inference-agents endpoints
  apps/backend/internal/utility/handlers/handlers_integration_test.go
Due: gofmt, go-tests, go-lint

fix(workflow): drop omitempty from AutoAdvanceRequiresSignal tags
  apps/backend/internal/workflow/models/export.go
Due: gofmt, go-tests, go-lint

fix(utility): tighten credential regex + drop Go 1.22 loop-var shadow
  apps/backend/internal/utility/handlers/handlers.go
  apps/backend/internal/utility/handlers/handlers_test.go
Due: gofmt, go-tests, go-lint

chore(web): tighten null check + no-opts test in use-task-removal
  apps/web/hooks/use-task-removal.test.ts
  apps/web/hooks/use-task-removal.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(github): cover missing-row no-op and reframe TOCTOU comment
  apps/backend/internal/github/service_pr_watch_multi_branch_test.go
  apps/backend/internal/github/store.go
Due: gofmt, go-tests, go-lint

fix(utility): address cubic + greptile review findings on PR #1287
  apps/backend/internal/utility/handlers/handlers.go
  apps/backend/internal/utility/handlers/handlers_integration_test.go
  apps/backend/internal/utility/handlers/handlers_test.go
  apps/web/components/settings/inference-agent-status.test.tsx
  apps/web/components/settings/inference-agent-status.tsx
  apps/web/lib/api/domains/utility-api.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(web): guard dockview measure against mid-transition sidebar width
  apps/web/lib/state/dockview-measure.test.ts
  apps/web/lib/state/dockview-measure.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

perf(stats): split stats endpoint per-section and rewrite GetGlobalStats
  apps/backend/internal/analytics/handlers/stats_handlers.go
  apps/backend/internal/analytics/repository/sqlite/repository_test.go
  apps/backend/internal/analytics/repository/sqlite/stats.go
  apps/web/app/stats/stats-data.tsx
  apps/web/app/stats/stats-page-client.tsx
  apps/web/lib/api/domains/stats-api.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(stats): address PR review feedback
  apps/backend/internal/analytics/handlers/stats_handlers.go
  apps/web/app/stats/stats-data.tsx
  apps/web/app/stats/stats-page-client.tsx
  apps/web/app/stats/stats-sections.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(web): preserve live height when width guard fires; assert it
  apps/web/lib/state/dockview-measure.test.ts
  apps/web/lib/state/dockview-measure.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
