Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

fix: avoid blocking metrics unsubscribe
  apps/backend/internal/system/metrics/service.go
  apps/backend/internal/system/metrics/service_test.go
  apps/backend/internal/user/store/sqlite_test.go
  apps/web/components/system-metrics/topbar-metrics.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: address metrics review feedback
  apps/backend/internal/agentctl/server/api/metrics_handler.go
  apps/backend/internal/agentctl/server/api/server.go
  apps/backend/internal/gateway/websocket/hub.go
  apps/backend/internal/gateway/websocket/metrics_subscription_test.go
  apps/backend/internal/system/metrics/collector.go
  apps/backend/internal/system/metrics/handler.go
  apps/backend/internal/system/metrics/service.go
  apps/backend/internal/system/metrics/settings.go
  apps/backend/internal/system/metrics/settings_test.go
  apps/web/lib/api/domains/settings-api.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: share root store with settings routes
  apps/web/components/state-provider.test.tsx
  apps/web/components/state-provider.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address metrics review threads
  apps/backend/cmd/kandev/metrics_provider.go
  apps/backend/cmd/kandev/metrics_provider_test.go
  apps/web/components/system-metrics/topbar-metrics.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: clarify attachment delivery choices
  apps/web/components/task/chat/context-items/context-chip.tsx
  apps/web/components/task/chat/context-items/image-item.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: preserve active workspace for GitHub and deletion
  apps/backend/internal/task/service/service_resources.go
  apps/backend/internal/task/service/service_resources_test.go
  apps/web/app/actions/workspaces.test.ts
  apps/web/app/actions/workspaces.ts
  apps/web/app/github/page.test.tsx
  apps/web/app/github/page.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: map acp todo tool results to session todos
  apps/backend/internal/agentctl/server/adapter/transport/acp/adapter_tools.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/todos.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/todos_test.go
Due: gofmt, go-tests, go-lint

feat(ui): add reset environment explanation tooltip
  apps/web/components/task/executor-settings-button.test.tsx
  apps/web/components/task/executor-settings-button.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(ui): conditionally show reset worktree hint
  apps/web/components/task/executor-settings-button.test.tsx
  apps/web/components/task/executor-settings-button.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test: address review feedback on reset environment tooltip test
  apps/web/components/task/executor-settings-button.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

chore: add provider-agnostic bootstrap
  Makefile
  README.md
  docs/remote-cloud-environment.md
  mise.toml
  scripts/bootstrap-dev-env
  scripts/install-playwright-browsers.sh
Due: none

fix: harden bootstrap scripts and pin tool versions
  mise.toml
  scripts/bootstrap-dev-env
  scripts/install-playwright-browsers.sh
Due: none

fix: pin pre-commit bootstrap tool
  mise.toml
Due: none

fix: avoid acp todo adapter deadlock and tighten recogniser
  apps/backend/internal/agentctl/server/adapter/transport/acp/adapter_tools.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/todos.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/todos_test.go
Due: gofmt, go-tests, go-lint

fix: simplify bootstrap entrypoint call
  scripts/bootstrap-dev-env
Due: none

fix(ui): wrap disabled reset button so tooltip can open
  apps/web/components/task/executor-settings-button.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test: assert status in RawOutputWrapped coverage
  apps/backend/internal/agentctl/server/adapter/transport/acp/todos_test.go
Due: gofmt, go-tests, go-lint

fix(ui): refine disabled-button wrapper and tooltip copy
  apps/web/components/task/executor-settings-button.test.tsx
  apps/web/components/task/executor-settings-button.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test: also wait for env to load in no-worktree tooltip test
  apps/web/components/task/executor-settings-button.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor: share global system settings store
  apps/backend/internal/system/metrics/service_test.go
  apps/backend/internal/system/metrics/store.go
  apps/backend/internal/system/settings/store.go
  apps/backend/internal/system/settings/store_test.go
  apps/backend/internal/system/system.go
  docs/decisions/0017-resource-metrics-sampling.md
Due: gofmt, go-tests, go-lint

feat: add tooltip explaining reset environment behavior (#1374)
  apps/web/components/task/executor-settings-button.test.tsx
  apps/web/components/task/executor-settings-button.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: bound disk metrics statfs sampling
  apps/backend/internal/system/metrics/collector.go
  apps/backend/internal/system/metrics/disk_unix.go
  apps/backend/internal/system/metrics/disk_unix_test.go
  apps/backend/internal/system/metrics/disk_windows.go
Due: gofmt, go-tests, go-lint

test: use single sqlite connection for settings stores
  apps/backend/internal/system/metrics/service_test.go
  apps/backend/internal/system/settings/store_test.go
Due: gofmt, go-tests, go-lint

fix: address runtime flag review feedback
  apps/backend/internal/runtimeflags/config.go
  apps/backend/internal/runtimeflags/config_test.go
  apps/backend/internal/runtimeflags/handlers.go
  apps/backend/internal/runtimeflags/handlers_test.go
  apps/backend/internal/runtimeflags/service.go
  apps/backend/internal/runtimeflags/service_test.go
  apps/backend/internal/runtimeflags/store_test.go
  apps/web/components/settings/system/feature-toggles-settings.tsx
  apps/web/lib/api/domains/runtime-flags-api.test.ts
  apps/web/lib/api/domains/runtime-flags-api.ts
  apps/web/lib/api/domains/system-api.test.ts
  apps/web/lib/api/domains/system-api.ts
  apps/web/lib/types/runtime-flags.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: soften feature toggle restart guidance
  apps/backend/internal/runtimeflags/registry.go
  apps/web/components/settings/system/feature-toggle-card.test.tsx
  apps/web/components/settings/system/feature-toggle-card.tsx
  apps/web/components/settings/system/feature-toggles-settings.test.tsx
  apps/web/components/settings/system/feature-toggles-settings.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: mark implied debug env as applied
  apps/backend/internal/profiles/profiles.go
  apps/backend/internal/runtimeflags/config.go
  apps/backend/internal/runtimeflags/config_test.go
  apps/backend/internal/system/restart/handler.go
  apps/backend/internal/system/restart/handler_test.go
Due: gofmt, go-tests, go-lint

test: clarify runtime flags cache assertion
  apps/web/lib/api/domains/runtime-flags-api.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: add feature toggles settings
  apps/backend/cmd/kandev/e2e_reset.go
  apps/backend/cmd/kandev/helpers.go
  apps/backend/cmd/kandev/main.go
  apps/backend/cmd/kandev/storage.go
  apps/backend/cmd/kandev/types.go
  apps/backend/internal/profiles/profiles.go
  apps/backend/internal/runtimeflags/config.go
  apps/backend/internal/runtimeflags/config_test.go
  apps/backend/internal/runtimeflags/handlers.go
  apps/backend/internal/runtimeflags/handlers_test.go
  apps/backend/internal/runtimeflags/registry.go
  apps/backend/internal/runtimeflags/registry_test.go
  apps/backend/internal/runtimeflags/service.go
  apps/backend/internal/runtimeflags/service_test.go
  apps/backend/internal/runtimeflags/sqlite.go
  apps/backend/internal/runtimeflags/store_test.go
  apps/backend/internal/runtimeflags/types.go
  apps/backend/internal/system/restart/handler.go
  apps/backend/internal/system/restart/handler_test.go
  apps/backend/internal/system/system.go
  apps/web/app/settings/system/feature-toggles/page.tsx
  apps/web/components/app-sidebar/sections/settings/settings-tree.test.ts
  apps/web/components/app-sidebar/sections/settings/system-group.tsx
  apps/web/components/settings/system/feature-toggle-card.tsx
  apps/web/components/settings/system/feature-toggles-settings.tsx
  apps/web/lib/api/domains/runtime-flags-api.test.ts
  apps/web/lib/api/domains/runtime-flags-api.ts
  apps/web/lib/api/domains/system-api.test.ts
  apps/web/lib/api/domains/system-api.ts
  apps/web/lib/api/index.ts
  apps/web/lib/types/runtime-flags.ts
  apps/web/lib/types/system.ts
  docs/decisions/0018-runtime-settings-overrides.md
  docs/decisions/INDEX.md
  docs/specs/INDEX.md
  docs/specs/feature-toggles/spec.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(preview): start sprites from packaged app root
  apps/backend/cmd/preview/sprite_ops.go
Due: gofmt, go-tests, go-lint

fix: address restart review feedback
  apps/backend/internal/profiles/profiles.go
  apps/backend/internal/profiles/profiles_test.go
  apps/backend/internal/system/info/info.go
  apps/backend/internal/system/info/info_test.go
  apps/backend/internal/system/restart/supervisor.go
  apps/backend/internal/system/restart/supervisor_test.go
  apps/cli/src/supervisor/control.test.ts
  apps/cli/src/supervisor/control.ts
  apps/web/components/settings/system/feature-toggle-card.test.tsx
  apps/web/hooks/domains/system/use-kandev-restart.test.ts
  apps/web/hooks/domains/system/use-kandev-restart.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(preview): launch sprites through cli supervisor
  apps/backend/cmd/preview/build.go
  apps/backend/cmd/preview/deploy.go
  apps/backend/cmd/preview/sprite_ops.go
  apps/backend/cmd/preview/sprite_ops_test.go
  apps/cli/src/cli.ts
  apps/cli/src/start.ts
Due: gofmt, go-tests, go-lint, prettier-format

feat(system): support supervised restarts
  apps/backend/internal/system/info/info.go
  apps/backend/internal/system/info/info_test.go
  apps/backend/internal/system/restart/handler.go
  apps/backend/internal/system/restart/handler_test.go
  apps/backend/internal/system/restart/manager.go
  apps/backend/internal/system/restart/supervisor.go
  apps/backend/internal/system/restart/supervisor_test.go
  apps/backend/internal/system/restart/unsupported.go
  apps/backend/internal/system/system.go
  apps/cli/src/dev.ts
  apps/cli/src/run.ts
  apps/cli/src/shared.ts
  apps/cli/src/start.ts
  apps/cli/src/supervisor/backend.test.ts
  apps/cli/src/supervisor/backend.ts
  apps/cli/src/supervisor/child.ts
  apps/cli/src/supervisor/control.test.ts
  apps/cli/src/supervisor/control.ts
  apps/cli/src/supervisor/manifest.test.ts
  apps/cli/src/supervisor/manifest.ts
  apps/cli/src/supervisor/paths.ts
  apps/web/components/settings/system/feature-toggles-settings.tsx
  apps/web/components/settings/system/restart-progress-dialog.tsx
  apps/web/hooks/domains/system/use-kandev-restart.test.ts
  apps/web/hooks/domains/system/use-kandev-restart.ts
  apps/web/lib/state/slices/system/system-slice.test.ts
  apps/web/lib/types/system.ts
  docs/decisions/0019-restart-supervisor.md
  docs/decisions/INDEX.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: mark debug pprof env as applied
  apps/backend/internal/profiles/profiles.go
  apps/backend/internal/profiles/profiles_test.go
Due: gofmt, go-tests, go-lint

fix: enable frontend debug from runtime toggle
  apps/web/app/actions/features.test.ts
  apps/web/app/actions/features.ts
  apps/web/app/layout.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: stabilize feature toggle restart callback
  apps/web/components/settings/system/feature-toggles-settings.tsx
  apps/web/lib/types/runtime-flags.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: cover absent runtime debug flag
  apps/web/app/actions/features.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: document runtime flag overrides
  AGENTS.md
Due: none

chore: address harness review feedback
  .agents/skills/harness-improvement/references/platforms/claude.md
  .agents/skills/harness-improvement/references/platforms/cursor.md
  .agents/skills/pr/SKILL.md
  scripts/pr-resolve
Due: none
