Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

docs(coordinator): close spec review round 4 findings for phase 3.1
  docs/decisions/2026-09-30-coordinator-phase-3-1-record-and-measure.md
  docs/plans/workspace-coordinator-p3-1/task-05-pause.md
  docs/specs/coordinator/requirements/outcomes.md
  docs/specs/coordinator/requirements/permissions.md
  docs/specs/coordinator/system-design/outcomes.md
  docs/specs/coordinator/system-design/pause.md
  docs/specs/coordinator/system-design/replay.md
  docs/specs/coordinator/system-design/shadow-dream.md
  docs/specs/coordinator/system-design/turn-ledger.md
Due: none

docs(coordinator): close spec review round 5 findings for phase 3.1
  docs/plans/workspace-coordinator-p3-1/task-05-pause.md
  docs/specs/coordinator/requirements/turn-ledger.md
  docs/specs/coordinator/system-design/pause.md
  docs/specs/coordinator/system-design/shadow-dream.md
  docs/specs/coordinator/system-design/turn-ledger.md
Due: none

fix(web): show step colors when changing workflows
  apps/web/components/task/change-workflow-dialog.test.tsx
  apps/web/components/task/change-workflow-form-sections.tsx
  apps/web/e2e/pages/change-workflow-page.ts
  apps/web/e2e/tests/task/change-workflow.spec.ts
  apps/web/e2e/tests/task/mobile-change-workflow.spec.ts
  docs/plans/change-workflow-step-colors/plan.md
  docs/plans/change-workflow-step-colors/task-01-step-colors.md
  docs/specs/tasks/requirements/change-workflow.md
  docs/specs/tasks/system-design/change-workflow.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: complete PR walkthrough generation after rendering
  .agents/skills/pr-walkthrough/SKILL.md
  .agents/skills/pr-walkthrough/scripts/pr-walkthrough-render
  .agents/skills/pr-walkthrough/scripts/pr-walkthrough-render.test.py
  .agents/skills/pr-walkthrough/scripts/pr-walkthrough-verify
  .agents/skills/pr-walkthrough/scripts/pr-walkthrough-verify.test.py
  .github/scripts/pr-walkthrough-history.sh
  .github/scripts/pr-walkthrough-history_test.sh
  .github/scripts/pr-walkthrough-runner.py
  .github/scripts/pr-walkthrough-runner_test.py
  .github/scripts/pr-walkthrough-workflow-contract_test.py
  .github/workflows/lint-action-pinning.yml
  .github/workflows/pr-walkthrough.yml
  docs/decisions/2026-09-30-pr-walkthrough-render-completion.md
  docs/plans/pr-walkthrough-generation-completion/plan.md
  docs/plans/pr-walkthrough-generation-completion/task-01-render-completion.md
  docs/plans/pr-walkthrough-generation-completion/task-02-bounded-runner.md
  docs/plans/pr-walkthrough-portable-runner-fix/plan.md
  docs/plans/pr-walkthrough-runner-reliability-fix/plan.md
  docs/specs/ui/requirements/pr-walkthrough.md
  docs/specs/ui/system-design/pr-walkthrough.md
Due: none

fix: seed base branches before recovered execution readiness
  apps/backend/internal/agent/runtime/lifecycle/manager_base_branches.go
  apps/backend/internal/agent/runtime/lifecycle/manager_execution.go
  apps/backend/internal/agent/runtime/lifecycle/manager_startup.go
  apps/backend/internal/agent/runtime/lifecycle/recovered_execution_base_branches_test.go
  apps/backend/internal/agentctl/server/api/git_recovered_base_branches_test.go
  docs/plans/recovered-execution-base-branches/plan.md
  docs/plans/recovered-execution-base-branches/task-01-seed-recovered-comparisons.md
  docs/specs/workspaces/requirements/workspace-base-branch-propagation.md
  docs/specs/workspaces/system-design/workspace-base-branch-propagation.md
Due: gofmt, go-tests, go-lint

fix: preserve current GitHub PR check results
  apps/backend/internal/github/check_selection.go
  apps/backend/internal/github/check_selection_test.go
  apps/backend/internal/github/client_helpers.go
  apps/backend/internal/github/client_helpers_test.go
  apps/backend/internal/github/gh_client.go
  apps/backend/internal/github/gh_client_reads_test.go
  apps/backend/internal/github/gh_client_test.go
  apps/backend/internal/github/models.go
  apps/backend/internal/github/pat_client_test.go
  apps/backend/internal/github/service_pr.go
  apps/backend/internal/github/service_pr_feedback_sync.go
  apps/backend/internal/github/service_pr_status.go
  apps/backend/internal/github/service_pr_unwatched.go
  apps/backend/internal/github/service_pr_watch.go
  apps/backend/internal/github/service_test.go
  apps/backend/internal/github/workflow_attention.go
  apps/backend/internal/github/workflow_attention_cache.go
  apps/backend/internal/github/workflow_attention_cache_test.go
  apps/backend/internal/orchestrator/event_handlers_github_ci_automation.go
  apps/backend/internal/orchestrator/event_handlers_github_ci_automation_test.go
  apps/web/components/github/pr-ci-popover.checks.test.tsx
  apps/web/components/github/pr-ci-popover.tsx
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/helpers/pr-checks.ts
  apps/web/e2e/tests/pr/mobile-pr-ci-chip.spec.ts
  apps/web/e2e/tests/pr/pr-topbar-popover.spec.ts
  apps/web/lib/github/check-buckets.test.ts
  apps/web/lib/github/check-buckets.ts
  apps/web/lib/types/github-checks.ts
  apps/web/lib/types/github.ts
  docs/plans/github-pr-check-results/plan.md
  docs/plans/github-pr-check-results/task-01-select-current-check-executions.md
  docs/plans/github-pr-check-results/task-02-correct-cancellation-semantics.md
  docs/specs/integrations/requirements/github-pr-check-results.md
  docs/specs/integrations/system-design/github-pr-check-results.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(web): clear stall notices when agents resume
  apps/web/components/task/chat/messages/action-message-state.ts
  apps/web/components/task/chat/messages/action-message.test.tsx
  apps/web/components/task/chat/messages/action-message.tsx
  apps/web/components/task/chat/messages/running-notice-activity.test.ts
  apps/web/components/task/chat/messages/running-notice-activity.ts
  apps/web/e2e/tests/session/mobile-stall-notice-recovery.spec.ts
  apps/web/e2e/tests/session/stall-notice-recovery.spec.ts
  docs/plans/stale-stall-notice/plan.md
  docs/plans/stale-stall-notice/task-01-resolve-notices.md
  docs/specs/agents/requirements/agent-stall-recovery.md
  docs/specs/agents/system-design/agent-stall-recovery.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: keep automatic recovery feedback in one composer card
  apps/web/components/task/chat/automatic-recovery-presentation.test.tsx
  apps/web/components/task/chat/session-bootstrap-recovery-model.ts
  apps/web/components/task/chat/session-recovery-color.test.tsx
  apps/web/components/task/chat/session-recovery-model.ts
  apps/web/components/task/ensure-session-error.tsx
  apps/web/components/task/preview-session-tabs.test.tsx
  apps/web/components/task/preview-session-tabs.tsx
  apps/web/components/task/task-launch-error-context.tsx
  apps/web/components/task/task-page-content-helpers.ts
  apps/web/components/task/task-page-inner.tsx
  apps/web/components/task/task-page-mobile-feedback.test.ts
  apps/web/components/task/task-page-recovery-feedback.test.tsx
  apps/web/components/task/workspace-unavailable.test.tsx
  apps/web/components/task/workspace-unavailable.tsx
  apps/web/e2e/helpers/automatic-recovery-owner.ts
  apps/web/e2e/tests/session/mobile-session-error-recovery-ui.spec.ts
  apps/web/e2e/tests/session/session-error-recovery-ui.spec.ts
  apps/web/hooks/domains/session/use-automatic-recovery-chat-owner.test.tsx
  apps/web/hooks/domains/session/use-automatic-recovery-chat-owner.ts
  apps/web/hooks/domains/session/use-session-resumption.test.ts
  apps/web/hooks/domains/session/use-session-resumption.ts
  apps/web/lib/session-recovery-presentation.ts
  docs/plans/automatic-recovery-owner/plan.md
  docs/plans/automatic-recovery-owner/task-01-ownership.md
  docs/public/sessions-and-review.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: preserve recovery presentation copy type
  apps/web/components/task/chat/session-recovery-model.ts
  docs/plans/automatic-recovery-owner/task-01-ownership.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): cover all workflow step colors in browsers
  apps/web/e2e/tests/task/change-workflow-color-helpers.ts
  apps/web/e2e/tests/task/change-workflow.spec.ts
  apps/web/e2e/tests/task/mobile-change-workflow.spec.ts
  docs/plans/change-workflow-step-colors/plan.md
  docs/plans/change-workflow-step-colors/task-01-step-colors.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: bound recovered base branch hydration
  apps/backend/internal/agent/runtime/lifecycle/manager_base_branches.go
  apps/backend/internal/agent/runtime/lifecycle/recovered_execution_base_branches_test.go
  docs/plans/recovered-execution-base-branches/plan.md
  docs/plans/recovered-execution-base-branches/task-01-seed-recovered-comparisons.md
  docs/specs/workspaces/requirements/workspace-base-branch-propagation.md
  docs/specs/workspaces/system-design/workspace-base-branch-propagation.md
Due: gofmt, go-tests, go-lint

fix: harden PR walkthrough cleanup and diagnostics
  .agents/skills/pr-walkthrough/scripts/pr-walkthrough-render
  .agents/skills/pr-walkthrough/scripts/pr-walkthrough-verify
  .agents/skills/pr-walkthrough/scripts/pr-walkthrough-verify.test.py
  .github/scripts/pr-walkthrough-runner.py
  .github/scripts/pr-walkthrough-runner_test.py
  docs/plans/pr-walkthrough-generation-completion/plan.md
  docs/plans/pr-walkthrough-generation-completion/task-02-bounded-runner.md
  docs/specs/ui/system-design/pr-walkthrough.md
Due: none

fix: harden session recovery evidence
  apps/backend/internal/task/models/launch_errors.go
  apps/backend/internal/task/models/launch_errors_test.go
  apps/backend/internal/task/repository/sqlite/metadata_launch_error_cas.go
  apps/backend/internal/task/repository/sqlite/session_recovery_resolution_postgres_test.go
  apps/web/lib/session-recovery-presentation.test.ts
  apps/web/lib/session-recovery-presentation.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: handle dispatch-only cancellation completion (#4085)
  apps/backend/internal/agent/runtime/lifecycle/execution_store.go
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction.go
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction_dispatch_cancel.go
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction_dispatch_cancel_test.go
  apps/backend/internal/agent/runtime/lifecycle/session.go
  apps/backend/internal/agent/runtime/lifecycle/session_pending_prompt_test.go
  apps/backend/internal/agent/runtime/lifecycle/session_test.go
  apps/backend/internal/integration/simulated_agent_manager_test.go
  apps/backend/internal/integration/workflow_context_reset_failure_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow_reset_quiescence_test.go
  docs/plans/dispatch-only-cancel-completion/plan.md
  docs/plans/dispatch-only-cancel-completion/task-01-await-dispatch-completion.md
  docs/plans/dispatch-only-cancel-completion/task-02-workflow-reset-regression.md
  docs/specs/tasks/system-design/workflow-step-agent-start-ownership.md
Due: gofmt, go-tests, go-lint

fix(chat): resolve notices outside loaded history
  apps/backend/internal/task/repository/sqlite/message_running_notice.go
  apps/backend/internal/task/repository/sqlite/message_running_notice_test.go
  apps/backend/internal/task/service/service_messages.go
  apps/backend/internal/task/service/service_running_notice.go
  apps/backend/internal/task/service/service_running_notice_test.go
  apps/web/components/task/chat/messages/action-message-state.ts
  apps/web/e2e/tests/session/mobile-stall-notice-recovery.spec.ts
  apps/web/e2e/tests/session/stall-notice-recovery.spec.ts
  apps/web/lib/state/slices/session/message-signature.ts
  apps/web/lib/state/slices/session/running-notice-activity.test.ts
  apps/web/lib/state/slices/session/running-notice-activity.ts
  apps/web/lib/state/slices/session/session-slice.ts
  apps/web/lib/state/slices/session/session-slice.update-messages.test.ts
  docs/plans/stale-stall-notice/plan.md
  docs/plans/stale-stall-notice/task-01-resolve-notices.md
  docs/specs/agents/system-design/agent-stall-recovery.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: track admitted prompts during cancellation (#4085)
  apps/backend/internal/agent/runtime/lifecycle/execution_store.go
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction_dispatch_cancel.go
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction_dispatch_cancel_test.go
  docs/plans/dispatch-only-cancel-completion/plan.md
  docs/plans/dispatch-only-cancel-completion/task-01-await-dispatch-completion.md
  docs/specs/tasks/system-design/workflow-step-agent-start-ownership.md
Due: gofmt, go-tests, go-lint

fix: preserve current PR check observations
  apps/backend/internal/github/check_selection.go
  apps/backend/internal/github/client_helpers.go
  apps/backend/internal/github/client_helpers_merge_test.go
  apps/backend/internal/github/constants.go
  apps/backend/internal/github/workflow_attention.go
  apps/backend/internal/github/workflow_attention_cache.go
  apps/backend/internal/github/workflow_attention_selection_test.go
  apps/web/e2e/helpers/api-client.ts
  docs/plans/github-pr-check-results/plan.md
  docs/plans/github-pr-check-results/task-01-select-current-check-executions.md
  docs/specs/integrations/system-design/github-pr-check-results.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(chat): prove notices clear beyond history
  apps/web/components/task/chat/messages/action-message.test.tsx
  apps/web/e2e/tests/session/stall-notice-recovery.spec.ts
  docs/plans/stale-stall-notice/plan.md
  docs/plans/stale-stall-notice/task-01-resolve-notices.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): make long sidebar PR summaries scrollable
  apps/web/components/github/pr-task-icon-disclosure.tsx
  apps/web/components/github/pr-task-icon.render.test.tsx
  apps/web/components/github/pr-task-icon.tsx
  apps/web/components/task/use-task-icon-tooltip-state.test.ts
  apps/web/components/task/use-task-icon-tooltip-state.ts
  apps/web/e2e/tests/pr/mobile-pr-sidebar-automation-indicators.spec.ts
  apps/web/e2e/tests/pr/pr-sidebar-hover-hydration.spec.ts
  docs/plans/pr-task-summary-scrolling/plan.md
  docs/plans/pr-task-summary-scrolling/task-01-scroll-summary.md
  docs/specs/ui/requirements/pr-task-status-summary.md
  docs/specs/ui/system-design/pr-task-status-summary.md
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: add GitHub workflow approval task badge
  apps/backend/internal/backendapp/status_summary_adapter.go
  apps/backend/internal/backendapp/status_summary_adapter_test.go
  apps/backend/internal/task/statussummary/model.go
  apps/backend/internal/task/statussummary/projector.go
  apps/backend/internal/task/statussummary/projector_events.go
  apps/backend/internal/task/statussummary/projector_pr.go
  apps/backend/internal/task/statussummary/projector_workflow_approval_test.go
  apps/backend/internal/task/statussummary/rebuild.go
  apps/web/components/github/pr-status-glyph.tsx
  apps/web/components/github/pr-task-icon-disclosure.tsx
  apps/web/components/github/pr-task-icon.tsx
  apps/web/components/github/pr-task-icon.workflow-approval.test.tsx
  apps/web/components/github/pr-task-status-summary.tsx
  apps/web/e2e/tests/pr/mobile-pr-sidebar-automation-indicators.spec.ts
  apps/web/e2e/tests/pr/pr-status-badge.spec.ts
  apps/web/lib/task-pr-info.test.ts
  apps/web/lib/task-pr-info.ts
  apps/web/lib/types/task-status-summary.ts
  docs/plans/github-workflow-approval-badge/plan.md
  docs/plans/github-workflow-approval-badge/task-01-project-and-render-approval-badge.md
  docs/plans/github-workflow-approval-badge/task-02-browser-coverage-and-docs.md
  docs/public/integrations.md
  docs/specs/integrations/requirements/github-workflow-attention.md
  docs/specs/integrations/system-design/github-workflow-attention.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: preserve active session recovery ownership
  apps/web/components/task/chat/messages/action-message-recovery-history.tsx
  apps/web/components/task/chat/messages/action-message.test.tsx
  apps/web/components/task/chat/messages/action-message.tsx
  apps/web/e2e/helpers/session-resume-settings-recovery.ts
  apps/web/e2e/tests/task/launch-failure-recovery.spec.ts
  apps/web/e2e/tests/task/mobile-launch-failure-recovery.spec.ts
  apps/web/lib/active-session-recovery.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): keep PR tooltip details accessible
  apps/web/components/github/pr-task-icon-disclosure.tsx
  apps/web/components/github/pr-task-icon.render.test.tsx
  apps/web/e2e/tests/pr/mobile-pr-sidebar-automation-indicators.spec.ts
  apps/web/e2e/tests/pr/pr-sidebar-hover-hydration.spec.ts
  apps/web/e2e/tests/pr/pr-status-badge.spec.ts
  docs/plans/pr-task-summary-scrolling/plan.md
  docs/plans/pr-task-summary-scrolling/task-01-scroll-summary.md
  docs/specs/ui/requirements/pr-task-status-summary.md
  docs/specs/ui/system-design/pr-task-status-summary.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: retain recovery feedback across preview and identity changes
  apps/web/components/task/preview-session-tabs.test.tsx
  apps/web/components/task/preview-session-tabs.tsx
  apps/web/e2e/helpers/automatic-recovery-owner.ts
  apps/web/e2e/tests/kanban/preview-recovery-plan.spec.ts
  apps/web/hooks/domains/session/use-session-resumption.test.ts
  apps/web/hooks/domains/session/use-session-resumption.ts
  docs/plans/automatic-recovery-owner/task-01-ownership.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: preserve fresh workflow approval details
  apps/backend/internal/backendapp/status_summary_adapter.go
  apps/backend/internal/backendapp/status_summary_adapter_test.go
  apps/backend/internal/task/statussummary/model.go
  apps/backend/internal/task/statussummary/projector.go
  apps/backend/internal/task/statussummary/projector_events.go
  apps/backend/internal/task/statussummary/projector_pr.go
  apps/backend/internal/task/statussummary/projector_workflow_approval_test.go
  apps/backend/internal/task/statussummary/rebuild.go
  apps/web/components/github/pr-task-icon-aria.ts
  apps/web/components/github/pr-task-icon-disclosure.tsx
  apps/web/components/github/pr-task-icon.tsx
  apps/web/components/github/pr-task-icon.workflow-approval.test.tsx
  apps/web/components/github/pr-task-status-summary.tsx
  apps/web/components/github/pr-task-workflow-projection.ts
  apps/web/components/task/task-contribution-icons.tsx
  apps/web/e2e/tests/pr/pr-status-badge.spec.ts
  apps/web/lib/task-pr-info.test.ts
  apps/web/lib/task-pr-info.ts
  apps/web/lib/types/task-status-summary.ts
  docs/plans/github-workflow-approval-badge/plan.md
  docs/plans/github-workflow-approval-badge/task-01-project-and-render-approval-badge.md
  docs/plans/github-workflow-approval-badge/task-02-browser-coverage-and-docs.md
  docs/specs/integrations/system-design/github-workflow-attention.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: close Changes Git refresh review findings
  apps/backend/internal/agent/runtime/lifecycle/streams.go
  apps/backend/internal/agent/runtime/lifecycle/streams_callbacks_test.go
  apps/backend/internal/agent/runtime/lifecycle/types.go
  apps/backend/internal/agentctl/server/api/git.go
  apps/backend/internal/agentctl/server/process/manager_submodules.go
  apps/backend/internal/agentctl/server/process/workspace_git_diff.go
  apps/backend/internal/agentctl/server/process/workspace_git_diff_test.go
  apps/backend/internal/agentctl/server/process/workspace_git_status.go
  apps/backend/internal/agentctl/server/process/workspace_git_status_capture.go
  apps/backend/internal/agentctl/server/process/workspace_git_status_ordering_test.go
  apps/backend/internal/agentctl/server/process/workspace_git_status_progressive_test.go
  apps/backend/internal/agentctl/server/process/workspace_git_status_publication_test.go
  apps/backend/internal/agentctl/server/process/workspace_git_status_worker.go
  apps/backend/internal/agentctl/server/process/workspace_tracker.go
  apps/backend/internal/backendapp/git_status_sources.go
  apps/backend/internal/backendapp/helpers.go
  apps/backend/internal/backendapp/helpers_git_status_test.go
  apps/backend/internal/gateway/websocket/client.go
  apps/backend/internal/gateway/websocket/client_session_focus_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/task_operations_git_snapshot_environment_test.go
  apps/web/components/task/dockview-panel-content.diff.test.tsx
  apps/web/e2e/tests/layout/right-panel-visibility.spec.ts
  apps/web/e2e/tests/task/add-workspace-sources.spec.ts
  apps/web/e2e/tests/task/task-navigation-helpers.ts
  apps/web/hooks/domains/session/git-status-refresh-coordinator.test.ts
  apps/web/hooks/domains/session/git-status-refresh-coordinator.ts
  apps/web/hooks/domains/session/use-remote-contribution-relation.test.tsx
  apps/web/hooks/domains/session/use-remote-contribution-relation.ts
  apps/web/hooks/domains/session/use-session-git-refresh.test.tsx
  apps/web/hooks/domains/session/use-session-git-refresh.ts
  apps/web/lib/ws/handlers/git-status.ts
  docs/plans/changes-panel-git-refresh/plan.md
  docs/plans/changes-panel-git-refresh/task-06-review-remediation.md
  docs/specs/platform/requirements/workspace-git-status.md
  docs/specs/platform/system-design/workspace-git-status.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

chore(deps): patch DOMPurify detached subtree sanitization
  apps/package.json
  apps/pnpm-lock.yaml
Due: none

chore(deps): patch brace expansion denial of service
  apps/package.json
  apps/pnpm-lock.yaml
Due: none

chore(deps): patch YAML empty merge budget bypass
  apps/package.json
  apps/pnpm-lock.yaml
Due: none

chore(deps): patch Hono query and body parsing
  apps/package.json
  apps/pnpm-lock.yaml
Due: none

chore(deps): patch markdown linkification denial of service
  apps/package.json
  apps/pnpm-lock.yaml
Due: none

chore(deps): patch Vitest redirect mock path traversal
  apps/pnpm-lock.yaml
  apps/web/package.json
Due: prettier-format

fix: preserve cleanup preparation failure attribution
  apps/backend/internal/task/handlers/cleanup_inspection_error_test.go
  apps/backend/internal/task/handlers/errors.go
  apps/backend/internal/task/handlers/task_delete_preflight.go
  apps/backend/internal/task/handlers/task_delete_preflight_test.go
  apps/backend/internal/task/service/task_delete_preflight.go
  apps/backend/internal/task/service/task_delete_preflight_test.go
  apps/backend/internal/worktree/manager_cleanup.go
  apps/backend/internal/worktree/manager_cleanup_audit.go
  apps/backend/internal/worktree/manager_cleanup_capture.go
  apps/backend/internal/worktree/manager_cleanup_dirty.go
  apps/backend/internal/worktree/manager_cleanup_preparation_inspection_test.go
  docs/plans/cleanup-preparation-attribution/plan.md
  docs/plans/cleanup-preparation-attribution/task-01-preserve-attribution.md
  docs/specs/platform/system-design/runtime-failure-attribution.md
  docs/specs/tasks/system-design/runtime-cleanup-preparation.md
Due: gofmt, go-tests, go-lint

chore(deps): refresh DOMPurify license metadata
  apps/web/generated/licenses.json
Due: prettier-format

chore(deps): refresh markdown-it license metadata
  apps/web/generated/licenses.json
Due: prettier-format

chore(deps): refresh gRPC license metadata
  apps/web/generated/licenses.json
Due: prettier-format

chore(deps): refresh OpenTelemetry license metadata
  apps/web/generated/licenses.json
Due: prettier-format
