Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

docs(plans): add the Inbox Failed tab delivery work order
  docs/plans/needs-you-inbox/plan.md
  docs/plans/needs-you-inbox/task-02-inbox-failed-tab.md
  docs/specs/ui/requirements/inbox-failed.md
Due: none

docs: link inbox background-refresh fix to a plan work order
  docs/plans/needs-you-inbox/plan.md
  docs/plans/needs-you-inbox/task-02-fix-background-refresh-loading-state.md
Due: none

docs(plugins): record Redmine marketplace delivery
  docs/plans/redmine-marketplace-registration/plan.md
  docs/plans/redmine-marketplace-registration/task-01-register-redmine-package.md
Due: none

feat(storage): add fail-closed Docker network reclamation
  apps/backend/internal/agent/docker/client.go
  apps/backend/internal/agent/docker/networks.go
  apps/backend/internal/agent/docker/storage_test.go
  apps/backend/internal/system/storage/docknet/classifier.go
  apps/backend/internal/system/storage/docknet/classifier_test.go
  apps/backend/internal/system/storage/docknet/ledger.go
  apps/backend/internal/system/storage/docknet/metrics.go
  apps/backend/internal/system/storage/docknet/probe.go
  apps/backend/internal/system/storage/docknet/provider.go
  apps/backend/internal/system/storage/docknet/provider_test.go
  apps/backend/internal/system/storage/network_ledger.go
  apps/backend/internal/system/storage/network_ledger_test.go
  apps/backend/internal/system/storage/settings_test.go
  apps/backend/internal/system/storage/store_migrations.go
  apps/backend/internal/system/storage/types.go
Due: gofmt, go-tests, go-lint

feat(backendapp): wire Docker network reclamation
  apps/backend/internal/backendapp/storage_docker.go
  apps/backend/internal/backendapp/storage_inventory.go
  apps/backend/internal/backendapp/storage_inventory_test.go
  apps/backend/internal/backendapp/storage_maintenance.go
  apps/backend/internal/backendapp/storage_maintenance_test.go
  apps/backend/internal/system/storage/handler.go
Due: gofmt, go-tests, go-lint

test: correct pending move acceptance references
  apps/backend/internal/orchestrator/messagequeue/pending_move_exact_cancel_test.go
  apps/backend/internal/orchestrator/messagequeue/repository_sqlite_test.go
Due: gofmt, go-tests, go-lint

fix: reuse shared SQL limit clause
  apps/backend/internal/task/repository/sqlite/plan.go
Due: gofmt, go-tests, go-lint

feat(web): surface Docker network reclamation
  apps/web/components/settings/system/storage/docker-networks-policy-section.tsx
  apps/web/components/settings/system/storage/storage-maintenance-settings.test.tsx
  apps/web/components/settings/system/storage/storage-overview-card.test.tsx
  apps/web/components/settings/system/storage/storage-overview-resources.ts
  apps/web/components/settings/system/storage/storage-policy-card-root.tsx
  apps/web/components/settings/system/storage/storage-policy-card.test.tsx
  apps/web/e2e/tests/docker/docker-network-reclamation.spec.ts
  apps/web/lib/api/domains/system-api.test.ts
  apps/web/lib/state/slices/system/system-slice.test.ts
  apps/web/lib/types/system.ts
  apps/web/src/locales/en/system.json
  apps/web/src/locales/pseudo/system.json
  apps/web/src/locales/pt-pt/system.json
  apps/web/src/locales/zh-cn/system.json
  apps/web/src/locales/zh-hk/system.json
  apps/web/src/locales/zh-tw/system.json
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(docker): document address-pool exhaustion and the reclaimer
  docs/public/docker.md
Due: none

fix(storage): resolve hashed compose network owners
  apps/backend/internal/backendapp/storage_inventory.go
  apps/backend/internal/backendapp/storage_inventory_test.go
Due: gofmt, go-tests, go-lint

fix(plugins): harden agent conversation dispatch
  apps/backend/internal/backendapp/adapters_plugin_messenger.go
  apps/backend/internal/backendapp/adapters_plugin_messenger_test.go
  apps/backend/internal/plugins/agent_conversations_uninstall_test.go
  apps/backend/internal/plugins/service_lifecycle.go
  apps/backend/internal/task/service/agent_conversations.go
  apps/backend/internal/task/service/agent_conversations_dispatch_test.go
  apps/backend/internal/task/service/agent_conversations_test.go
  docs/public/plugins-authoring.md
  docs/public/plugins.md
Due: gofmt, go-tests, go-lint

fix(plugins): preserve approval audit semantics
  apps/backend/internal/plugins/approval_store.go
  apps/backend/internal/plugins/approval_store_test.go
  apps/backend/internal/plugins/registry_test.go
  apps/backend/internal/plugins/service_install.go
Due: gofmt, go-tests, go-lint

docs(plugins): clarify dispatch retry recovery
  apps/backend/internal/backendapp/adapters_plugin_messenger.go
Due: gofmt, go-tests, go-lint

fix(github): harden scoped CI reruns
  apps/backend/internal/github/service_ci_run_final_pr_revalidation_test.go
  apps/backend/internal/github/service_ci_run_provider_errors.go
  apps/backend/internal/github/service_ci_run_provider_errors_test.go
  apps/backend/internal/github/service_ci_run_request.go
  apps/backend/internal/github/service_ci_run_request_recovery_test.go
  apps/backend/internal/github/service_ci_run_request_test.go
  apps/backend/internal/github/store.go
  apps/backend/internal/github/store_ci_run_request.go
  apps/backend/internal/github/store_ci_run_request_recovery.go
  apps/backend/internal/github/store_ci_run_request_test.go
  apps/backend/internal/github/store_postgres_test.go
  apps/backend/internal/mcp/server/ci_run_request_test.go
  apps/backend/internal/mcp/server/server.go
  apps/backend/internal/mcp/server/server_test.go
  docs/public/automation-and-mcp.md
Due: gofmt, go-tests, go-lint

docs(plans): correct Failed tab work order's AC count to 36
  docs/plans/needs-you-inbox/task-02-inbox-failed-tab.md
Due: none

fix(web): reject a malformed failure timestamp instead of rendering it
  apps/backend/internal/failedinbox/handlers_test.go
  apps/web/components/needs-you-inbox/failed-inbox-row.test.tsx
  apps/web/components/needs-you-inbox/failed-inbox-row.tsx
  apps/web/lib/failed-inbox/row-presentation.ts
  apps/web/src/office-routes.workspace-revision.test.tsx
  apps/web/src/settings-routes.workspace-revision.test.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat(orchestrator): session ceiling population predicate and configuration
  apps/backend/internal/common/config/catalog.go
  apps/backend/internal/common/config/catalog_test.go
  apps/backend/internal/orchestrator/session_ceiling_config.go
  apps/backend/internal/orchestrator/session_ceiling_config_test.go
  apps/backend/internal/task/models/session_state_sets.go
  apps/backend/internal/task/models/session_state_sets_test.go
Due: gofmt, go-tests, go-lint

feat(tasks): ceiling deferral keys, drop guard and payload redaction
  apps/backend/internal/task/models/ceiling_launch.go
  apps/backend/internal/task/models/ceiling_launch_test.go
  apps/backend/internal/task/models/models.go
  apps/backend/internal/task/models/public_metadata.go
Due: gofmt, go-tests, go-lint

feat(orchestrator): session ceiling admission controller core
  apps/backend/internal/orchestrator/session_ceiling.go
  apps/backend/internal/orchestrator/session_ceiling_test.go
Due: gofmt, go-tests, go-lint

feat(orchestrator): reservation rebind, re-key, hand-off and expiry backstop
  apps/backend/internal/orchestrator/session_ceiling.go
  apps/backend/internal/orchestrator/session_ceiling_lifecycle_test.go
Due: gofmt, go-tests, go-lint

feat(tasks): admitted-session and ceiling-deferral repository queries
  apps/backend/internal/orchestrator/session_ceiling_repo_binding_test.go
  apps/backend/internal/task/repository/sqlite/session_ceiling.go
  apps/backend/internal/task/repository/sqlite/session_ceiling_test.go
Due: gofmt, go-tests, go-lint

feat(orchestrator): gate startTask behind the session ceiling
  apps/backend/internal/orchestrator/ceiling_seam1_integration_test.go
  apps/backend/internal/orchestrator/ceiling_seams.go
  apps/backend/internal/orchestrator/ceiling_seams_test.go
  apps/backend/internal/orchestrator/event_handlers_transient.go
  apps/backend/internal/orchestrator/session_ceiling.go
  apps/backend/internal/orchestrator/task_operations.go
Due: gofmt, go-tests, go-lint

feat(orchestrator): resolve the session ceiling once at service construction
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/session_ceiling_config.go
  apps/backend/internal/orchestrator/session_ceiling_config_test.go
  apps/backend/internal/orchestrator/session_ceiling_wiring_test.go
Due: gofmt, go-tests, go-lint

feat(orchestrator): defer a refused automatic launch onto the shared record
  apps/backend/internal/orchestrator/ceiling_defer.go
  apps/backend/internal/orchestrator/ceiling_defer_test.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/session_ceiling.go
  apps/backend/internal/task/repository/sqlite/deferred_launch_cas.go
Due: gofmt, go-tests, go-lint

feat(tasks): compare-and-set the deferred-launch record
  apps/backend/internal/task/models/canonical_json.go
  apps/backend/internal/task/models/canonical_json_test.go
  apps/backend/internal/task/repository/sqlite/deferred_launch_cas.go
  apps/backend/internal/task/repository/sqlite/deferred_launch_cas_test.go
Due: gofmt, go-tests, go-lint

feat(orchestrator): gate startCreatedSession behind the session ceiling
  apps/backend/internal/orchestrator/ceiling_seam2.go
  apps/backend/internal/orchestrator/ceiling_seam2_integration_test.go
  apps/backend/internal/orchestrator/ceiling_seam2_test.go
  apps/backend/internal/orchestrator/task_operations.go
Due: gofmt, go-tests, go-lint

feat(tasks): model the deferred launch record and its duplicate comparison
  apps/backend/internal/task/models/ceiling_equivalence.go
  apps/backend/internal/task/models/ceiling_equivalence_test.go
  apps/backend/internal/task/models/ceiling_record.go
  apps/backend/internal/task/models/ceiling_record_test.go
Due: gofmt, go-tests, go-lint

feat(orchestrator): claim the launch intent by sub-key, not the whole record
  apps/backend/internal/orchestrator/deferred_launch_consume.go
  apps/backend/internal/orchestrator/deferred_launch_consume_ceiling_test.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/task/repository/sqlite/deferred_launch_cas.go
  apps/backend/internal/task/repository/sqlite/deferred_launch_wip_test.go
Due: gofmt, go-tests, go-lint

feat(orchestrator): gate the dynamic-route relaunch seam with a capacity hand-off
  apps/backend/internal/orchestrator/ceiling_seam5.go
  apps/backend/internal/orchestrator/ceiling_seam5_integration_test.go
  apps/backend/internal/orchestrator/ceiling_seam5_test.go
  apps/backend/internal/orchestrator/dynamic_launch.go
  apps/backend/internal/orchestrator/dynamic_launch_identity_test.go
  apps/backend/internal/orchestrator/dynamic_launch_test.go
  apps/backend/internal/orchestrator/dynamic_policy_recovery.go
  apps/backend/internal/orchestrator/session_ceiling.go
Due: gofmt, go-tests, go-lint

feat(orchestrator): gate ResumeTaskSessionWithOptions behind the session ceiling
  apps/backend/internal/orchestrator/ceiling_seam2.go
  apps/backend/internal/orchestrator/ceiling_seam2_test.go
  apps/backend/internal/orchestrator/ceiling_seam4.go
  apps/backend/internal/orchestrator/ceiling_seam4_integration_test.go
  apps/backend/internal/orchestrator/ceiling_seam4_test.go
  apps/backend/internal/orchestrator/ceiling_session_keyed_reservation.go
  apps/backend/internal/orchestrator/executor/executor_resume.go
  apps/backend/internal/orchestrator/session_launch.go
  apps/backend/internal/orchestrator/task_operations.go
Due: gofmt, go-tests, go-lint

fix(docs): keep the Failed tab work order's AC list CI-parseable
  docs/plans/needs-you-inbox/task-02-inbox-failed-tab.md
Due: none

feat(orchestrator): gate ensureSessionRunning's four call shapes on the session ceiling
  apps/backend/internal/orchestrator/ceiling_seam2.go
  apps/backend/internal/orchestrator/ceiling_seam3.go
  apps/backend/internal/orchestrator/ceiling_seam3_integration_test.go
  apps/backend/internal/orchestrator/ceiling_seam3_test.go
  apps/backend/internal/orchestrator/ceiling_seams.go
  apps/backend/internal/orchestrator/ci_automation_dispatch.go
  apps/backend/internal/orchestrator/clarification_turn_authority_test.go
  apps/backend/internal/orchestrator/ensure_session_running_cold_resume_test.go
  apps/backend/internal/orchestrator/event_handlers_agent.go
  apps/backend/internal/orchestrator/event_handlers_automation.go
  apps/backend/internal/orchestrator/event_handlers_clarification.go
  apps/backend/internal/orchestrator/event_handlers_transient.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/foreground_claim_test.go
  apps/backend/internal/orchestrator/prompt_dispatch_identity_test.go
  apps/backend/internal/orchestrator/prompt_idle_session_test.go
  apps/backend/internal/orchestrator/queue_send_now.go
  apps/backend/internal/orchestrator/session_ensure.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/task_operations_resume_cancellation_test.go
  apps/backend/internal/orchestrator/task_operations_test.go
Due: gofmt, go-tests, go-lint

feat(orchestrator): retry and release deferred launches at the session ceiling
  apps/backend/internal/backendapp/helpers.go
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/orchestrator/ceiling_dynamic_launch_release_test.go
  apps/backend/internal/orchestrator/ceiling_release.go
  apps/backend/internal/orchestrator/ceiling_release_test.go
  apps/backend/internal/orchestrator/ceiling_replay.go
  apps/backend/internal/orchestrator/ceiling_replay_test.go
  apps/backend/internal/orchestrator/ceiling_streaming_release_test.go
  apps/backend/internal/orchestrator/ceiling_sweep.go
  apps/backend/internal/orchestrator/ceiling_sweep_test.go
  apps/backend/internal/orchestrator/dynamic_launch.go
  apps/backend/internal/orchestrator/event_handlers_streaming.go
  apps/backend/internal/orchestrator/event_handlers_transient.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/executor/ceiling_release_callback_test.go
  apps/backend/internal/orchestrator/executor/executor.go
  apps/backend/internal/orchestrator/executor/executor_resume.go
  apps/backend/internal/orchestrator/executor/executor_state.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/session_ceiling.go
  apps/backend/internal/task/repository/sqlite/task.go
  apps/backend/internal/task/service/handoff_cascade.go
  apps/backend/internal/task/service/handoff_service.go
  apps/backend/internal/task/service/service.go
  apps/backend/internal/task/service/service_tasks.go
Due: gofmt, go-tests, go-lint

feat(orchestrator): audit the executor for session-ceiling bypasses
  apps/backend/internal/orchestrator/ceiling_release.go
  apps/backend/internal/orchestrator/executor/ceiling_bypass_audit.go
  apps/backend/internal/orchestrator/executor/ceiling_bypass_audit_test.go
  apps/backend/internal/orchestrator/executor/executor.go
  apps/backend/internal/orchestrator/executor/executor_execute.go
  apps/backend/internal/orchestrator/executor/executor_resume.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/session_ceiling.go
Due: gofmt, go-tests, go-lint

fix(plugins): redact the ceiling launch payload from the plugin host-data path
  apps/backend/internal/plugins/host_data_mappers.go
  apps/backend/internal/plugins/host_data_task_fields_test.go
Due: gofmt, go-tests, go-lint

fix(orchestrator): audit seam2 manual overrides before the launch attempt
  apps/backend/internal/orchestrator/ceiling_seam2_integration_test.go
  apps/backend/internal/orchestrator/task_operations.go
Due: gofmt, go-tests, go-lint

test(task): restore the exhaustive truth table for IsTaskLookupActiveSessionState
  apps/backend/internal/task/models/session_state_sets_test.go
Due: gofmt, go-tests, go-lint

fix(orchestrator): stop the deferred-launch gate from clobbering a ceiling record
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/event_handlers_workflow_ceiling_test.go
Due: gofmt, go-tests, go-lint

feat(orchestrator): surface ceiling refusals and manual overrides on the card
  apps/backend/internal/orchestrator/ceiling_defer.go
  apps/backend/internal/orchestrator/ceiling_defer_test.go
  apps/backend/internal/orchestrator/ceiling_manual_override.go
  apps/backend/internal/orchestrator/ceiling_manual_override_test.go
  apps/backend/internal/orchestrator/ceiling_replay.go
  apps/backend/internal/orchestrator/ceiling_seam2.go
  apps/backend/internal/orchestrator/ceiling_seam3.go
  apps/backend/internal/orchestrator/ceiling_seam3_test.go
  apps/backend/internal/orchestrator/ceiling_seam4.go
  apps/backend/internal/orchestrator/ceiling_seam5.go
  apps/backend/internal/orchestrator/ceiling_seams.go
  apps/backend/internal/orchestrator/ceiling_session_keyed_reservation.go
  apps/backend/internal/orchestrator/ceiling_surface.go
  apps/backend/internal/orchestrator/ceiling_surface_test.go
  apps/backend/internal/orchestrator/dynamic_launch.go
  apps/backend/internal/orchestrator/session_ceiling.go
  apps/backend/internal/orchestrator/session_ensure.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/task/models/ceiling_launch.go
  apps/backend/internal/task/models/ceiling_record.go
Due: gofmt, go-tests, go-lint
