Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

fix: remove duplicate agentctl event publishing per review feedback
  apps/backend/internal/agent/lifecycle/manager_execution.go
Due: gofmt, go-tests, go-lint

fix(lifecycle): publish agentctl events on workspace restore (#731)
  apps/backend/internal/agent/lifecycle/manager_execution.go
  apps/web/components/task/passthrough-terminal.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat: expose MCP server to external coding agents
  apps/backend/cmd/agentctl/main.go
  apps/backend/cmd/kandev/helpers.go
  apps/backend/cmd/kandev/main.go
  apps/backend/internal/agentctl/server/api/server.go
  apps/backend/internal/common/config/config.go
  apps/backend/internal/common/ports/ports.go
  apps/backend/internal/mcp/server/backend_client.go
  apps/backend/internal/mcp/server/config_handlers.go
  apps/backend/internal/mcp/server/config_handlers_test.go
  apps/backend/internal/mcp/server/dispatcher_backend_client.go
  apps/backend/internal/mcp/server/dispatcher_backend_client_test.go
  apps/backend/internal/mcp/server/external_integration_test.go
  apps/backend/internal/mcp/server/handlers.go
  apps/backend/internal/mcp/server/handlers_test.go
  apps/backend/internal/mcp/server/server.go
  apps/backend/internal/mcp/server/server_test.go
  apps/backend/internal/mcp/server/sysprompt_sync_test.go
  apps/cli/src/constants.ts
  apps/cli/src/run.ts
  apps/cli/src/shared.ts
  apps/web/app/settings/external-mcp/page.tsx
  apps/web/components/settings/external-mcp-settings.tsx
  apps/web/components/settings/settings-app-sidebar.tsx
  apps/web/lib/settings/external-mcp-snippets.test.ts
  apps/web/lib/settings/external-mcp-snippets.ts
  docs/specs/INDEX.md
  docs/specs/external-mcp/plan.md
  docs/specs/external-mcp/spec.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

style: prettier format shared.ts after import cleanup
  apps/cli/src/shared.ts
Due: prettier-format

fix(mcp): wire external server shutdown, gate routes to loopback
  apps/backend/cmd/kandev/helpers.go
  apps/backend/cmd/kandev/main.go
  apps/backend/internal/mcp/server/server.go
  apps/web/components/settings/external-mcp-settings.tsx
  docs/specs/external-mcp/spec.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat(web): add tools preview and CLI one-liners to external MCP settings
  apps/web/components/settings/external-mcp-settings.tsx
  apps/web/lib/settings/external-mcp-snippets.test.ts
  apps/web/lib/settings/external-mcp-snippets.ts
  apps/web/lib/settings/external-mcp-tools.test.ts
  apps/web/lib/settings/external-mcp-tools.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: expose MCP server to external coding agents (#732)
  apps/backend/cmd/agentctl/main.go
  apps/backend/cmd/kandev/helpers.go
  apps/backend/cmd/kandev/main.go
  apps/backend/internal/agentctl/server/api/server.go
  apps/backend/internal/common/config/config.go
  apps/backend/internal/common/ports/ports.go
  apps/backend/internal/mcp/server/backend_client.go
  apps/backend/internal/mcp/server/config_handlers.go
  apps/backend/internal/mcp/server/config_handlers_test.go
  apps/backend/internal/mcp/server/dispatcher_backend_client.go
  apps/backend/internal/mcp/server/dispatcher_backend_client_test.go
  apps/backend/internal/mcp/server/external_integration_test.go
  apps/backend/internal/mcp/server/handlers.go
  apps/backend/internal/mcp/server/handlers_test.go
  apps/backend/internal/mcp/server/server.go
  apps/backend/internal/mcp/server/server_test.go
  apps/backend/internal/mcp/server/sysprompt_sync_test.go
  apps/cli/src/constants.ts
  apps/cli/src/run.ts
  apps/cli/src/shared.ts
  apps/web/app/settings/external-mcp/page.tsx
  apps/web/components/settings/external-mcp-settings.tsx
  apps/web/components/settings/settings-app-sidebar.tsx
  apps/web/lib/settings/external-mcp-snippets.test.ts
  apps/web/lib/settings/external-mcp-snippets.ts
  apps/web/lib/settings/external-mcp-tools.test.ts
  apps/web/lib/settings/external-mcp-tools.ts
  docs/specs/INDEX.md
  docs/specs/external-mcp/plan.md
  docs/specs/external-mcp/spec.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(mcp): improve create_task_kandev repository and workspace resolution
  apps/backend/cmd/kandev/adapters.go
  apps/backend/internal/agent/lifecycle/manager_launch.go
  apps/backend/internal/agent/lifecycle/manager_launch_test.go
  apps/backend/internal/agent/lifecycle/types.go
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/handlers_test.go
  apps/backend/internal/mcp/server/handlers.go
  apps/backend/internal/mcp/server/handlers_test.go
  apps/backend/internal/mcp/server/server.go
  apps/backend/internal/orchestrator/executor/executor.go
  apps/backend/internal/orchestrator/executor/executor_execute.go
  apps/backend/internal/orchestrator/executor/executor_interaction.go
  apps/backend/internal/orchestrator/executor/executor_resume.go
Due: gofmt, go-tests, go-lint

fix: address PR review feedback
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/server/handlers.go
  apps/backend/internal/mcp/server/handlers_test.go
  apps/backend/internal/mcp/server/server.go
Due: gofmt, go-tests, go-lint

test(e2e): add repository to subtask inheritance test parent task
  apps/web/e2e/tests/task/subtask.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(mcp): inherit source workspace when explicit repo provided
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/handlers_test.go
Due: gofmt, go-tests, go-lint

fix(pr-watcher): reuse existing workspace repo before cloning
  apps/backend/cmd/kandev/orchestrator.go
  apps/backend/internal/task/service/service_resources.go
  apps/web/e2e/tests/pr/pr-watcher-dockview-layout.spec.ts
  apps/web/e2e/tests/pr/pr-watcher-merged-cleanup.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: address PR review feedback
  apps/backend/cmd/kandev/orchestrator.go
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/handlers_test.go
Due: gofmt, go-tests, go-lint

feat(cli): add --port flag as the user-facing port knob
  apps/cli/src/args.test.ts
  apps/cli/src/args.ts
  apps/cli/src/cli.ts
Due: prettier-format

feat(cli): print labelled "open:" URL on startup
  apps/cli/src/dev.ts
  apps/cli/src/run.ts
  apps/cli/src/shared.ts
  apps/cli/src/start.ts
Due: prettier-format

style(cli): apply prettier formatting to args.test.ts
  apps/cli/src/args.test.ts
Due: prettier-format

fix(approvals): atomic expire-sweep + treat 'expired' as resolved on FE
  apps/backend/internal/task/handlers/process_handlers_test.go
  apps/backend/internal/task/repository/interface.go
  apps/backend/internal/task/repository/sqlite/message.go
  apps/backend/internal/task/service/service_messages.go
  apps/web/components/task/chat/messages/tool-call-message.tsx
  apps/web/hooks/use-processed-messages.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

refactor(cli): tighten arg parsing per review feedback
  apps/cli/src/args.test.ts
  apps/cli/src/args.ts
  apps/cli/src/cli.ts
  apps/cli/src/dev.ts
  apps/cli/src/run.ts
  apps/cli/src/shared.ts
  apps/cli/src/start.ts
Due: prettier-format

fix(cli): validate env-var ports and collapse comment to one-liner
  apps/cli/src/args.test.ts
  apps/cli/src/args.ts
Due: prettier-format

fix(cli): reject non-integer port values
  apps/cli/src/args.test.ts
  apps/cli/src/args.ts
Due: prettier-format

fix(cli): reject out-of-range port values with flag-named errors
  apps/cli/src/args.test.ts
  apps/cli/src/args.ts
Due: prettier-format

test(cli): cover KANDEV_WEB_PORT happy path and range validation
  apps/cli/src/args.test.ts
Due: prettier-format

test(cli): cover KANDEV_WEB_PORT in run/start mode too
  apps/cli/src/args.test.ts
Due: prettier-format

fix(cli): explicit CLI flag wins over env var for port resolution
  apps/cli/src/args.test.ts
  apps/cli/src/args.ts
  apps/cli/src/shared.ts
Due: prettier-format

style(cli): collapse resolvePorts comment to one line
  apps/cli/src/args.ts
Due: prettier-format

fix(cli): reject empty --version= and empty port env vars
  apps/cli/src/args.test.ts
  apps/cli/src/args.ts
Due: prettier-format

refactor(cli): make --port a plain alias for --backend-port
  apps/cli/src/args.test.ts
  apps/cli/src/args.ts
  apps/cli/src/cli.ts
Due: prettier-format

feat(web): add mobile terminal key-bar with sticky Ctrl modifier
  apps/web/components/task/mobile/mobile-terminal-keybar.test.tsx
  apps/web/components/task/mobile/mobile-terminal-keybar.tsx
  apps/web/components/task/mobile/session-mobile-layout.tsx
  apps/web/hooks/domains/session/use-shell-key-sender.ts
  apps/web/hooks/use-visual-viewport-offset.test.ts
  apps/web/hooks/use-visual-viewport-offset.ts
  apps/web/lib/terminal/key-sequences.test.ts
  apps/web/lib/terminal/key-sequences.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): add E2E coverage for mobile terminal key-bar
  apps/web/e2e/helpers/ws-capture.ts
  apps/web/e2e/pages/mobile-terminal-keybar-page.ts
  apps/web/e2e/tests/terminal/mobile-terminal-keybar.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(web): mobile key-bar pivots to OS-keyboard input + pins to keyboard
  apps/web/components/task/mobile/mobile-terminal-keybar.test.tsx
  apps/web/components/task/mobile/mobile-terminal-keybar.tsx
  apps/web/components/task/mobile/session-mobile-layout.tsx
  apps/web/hooks/use-visual-viewport-offset.test.ts
  apps/web/hooks/use-visual-viewport-offset.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(web): shared shell input helpers for the mobile terminal
  apps/web/components/task/shell-terminal.tsx
  apps/web/hooks/domains/session/use-shell-key-sender.ts
  apps/web/lib/terminal/apply-shell-modifiers.test.ts
  apps/web/lib/terminal/apply-shell-modifiers.ts
  apps/web/lib/terminal/refocus-xterm.test.ts
  apps/web/lib/terminal/refocus-xterm.ts
  apps/web/lib/terminal/send-shell-input.ts
  apps/web/lib/terminal/shell-modifiers.test.ts
  apps/web/lib/terminal/shell-modifiers.ts
  apps/web/lib/terminal/suppress-ios-keyboard-assists.test.ts
  apps/web/lib/terminal/suppress-ios-keyboard-assists.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(cli): re-add KANDEV_WEB_PORT run-mode coverage dropped in refactor
  apps/cli/src/args.test.ts
Due: prettier-format

feat(cli): make --port the user-facing port flag (#737)
  apps/cli/src/args.test.ts
  apps/cli/src/args.ts
  apps/cli/src/cli.ts
  apps/cli/src/dev.ts
  apps/cli/src/run.ts
  apps/cli/src/shared.ts
  apps/cli/src/start.ts
Due: prettier-format

fix(web): contain kanban card badges within card width
  apps/web/components/kanban-card.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): rewrite mobile key-bar e2e around real user flows
  apps/web/e2e/pages/mobile-terminal-keybar-page.ts
  apps/web/e2e/tests/terminal/mobile-terminal-keybar.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

style(web): apply prettier formatting
  apps/web/components/task/mobile/mobile-terminal-keybar.tsx
  apps/web/e2e/tests/terminal/mobile-terminal-keybar.spec.ts
  apps/web/lib/terminal/apply-shell-modifiers.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): keep modifiers armed on dropped sends + tighten input handler
  apps/web/components/task/shell-terminal.tsx
  apps/web/lib/terminal/key-sequences.test.ts
  apps/web/lib/terminal/key-sequences.ts
  apps/web/lib/terminal/send-shell-input.test.ts
  apps/web/lib/terminal/send-shell-input.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor(web): split mobile key-bar helpers, tighten null-viewport test
  apps/web/components/task/mobile/mobile-terminal-keybar-helpers.tsx
  apps/web/components/task/mobile/mobile-terminal-keybar.tsx
  apps/web/hooks/use-visual-viewport-offset.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(agents): add Cursor as a first-class ACP agent
  apps/backend/internal/agent/agents/cursor_acp.go
  apps/backend/internal/agent/agents/logos/cursor_dark.svg
  apps/backend/internal/agent/agents/logos/cursor_light.svg
  apps/backend/internal/agent/registry/registry.go
Due: gofmt, go-tests, go-lint

feat(agents): run Cursor in full-auto via wrapper shim
  apps/backend/internal/agent/agents/cursor_acp.go
Due: gofmt, go-tests, go-lint

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
