Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

test(web): cover notes-panel retention in layout preset merger
  apps/web/lib/state/layout-manager/merger.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: allow selecting multiple repositories in automation config
  apps/backend/internal/automation/models.go
  apps/backend/internal/automation/service.go
  apps/backend/internal/automation/service_test.go
  apps/backend/internal/automation/store.go
  apps/backend/internal/automation/store_test.go
  apps/backend/internal/backendapp/helpers.go
  apps/backend/internal/orchestrator/event_handlers_automation.go
  apps/backend/internal/orchestrator/event_handlers_automation_test.go
  apps/web/components/automations/automation-editor-sections.tsx
  apps/web/components/automations/automation-editor.tsx
  apps/web/components/automations/automation-payload.test.ts
  apps/web/components/automations/automation-payload.ts
  apps/web/components/automations/automation-repository-rows.tsx
  apps/web/components/automations/automation-repository-selection.ts
  apps/web/components/automations/config-section.test.tsx
  apps/web/components/automations/config-section.tsx
  apps/web/lib/types/automation.ts
  docs/plans/automation-multi-repository/plan.md
  docs/plans/automation-multi-repository/task-01-backend-data-model.md
  docs/plans/automation-multi-repository/task-02-orchestrator-resolution.md
  docs/plans/automation-multi-repository/task-03-frontend-multi-repo-picker.md
  docs/plans/automation-multi-repository/task-04-e2e.md
  docs/specs/office/automations-settings.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: darken toggle green, drop ban overlay, maximize icon to fill box
  apps/web/components/task/chat/auto-scroll-toggle-button.test.tsx
  apps/web/components/task/chat/auto-scroll-toggle-button.tsx
  apps/web/e2e/tests/chat/auto-scroll-toggle.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(automation): return empty repository_ids arrays instead of null
  apps/backend/internal/automation/store.go
  apps/backend/internal/automation/store_test.go
Due: gofmt, go-tests, go-lint

docs: refresh auto-scroll toggle screenshots for PR #2073
  docs/pr-screenshots/2073-auto-scroll-toggle-disabled.png
  docs/pr-screenshots/2073-auto-scroll-toggle-enabled.png
Due: none

fix(automation): document repository-picker fallback and PR-trigger gating
  apps/web/components/automations/automation-repository-rows.tsx
  apps/web/components/automations/config-section.test.tsx
  docs/plans/automation-multi-repository/plan.md
  docs/plans/automation-multi-repository/task-01-backend-data-model.md
  docs/plans/automation-multi-repository/task-02-orchestrator-resolution.md
  docs/plans/automation-multi-repository/task-03-frontend-multi-repo-picker.md
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(automation): add mock-env screenshots for the multi-repo picker
  docs/plans/automation-multi-repository/screenshots/01-multi-repo-worktree.webp
  docs/plans/automation-multi-repository/screenshots/02-pr-trigger-disabled-picker.webp
Due: none

test(orchestrator): guard github_pr repository resolution against stale IDs
  apps/backend/internal/orchestrator/event_handlers_automation_test.go
  docs/plans/automation-multi-repository/plan.md
  docs/plans/automation-multi-repository/task-03-frontend-multi-repo-picker.md
Due: gofmt, go-tests, go-lint

fix(e2e): seed transcript navigation controls
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/tests/chat/auto-scroll-toggle.spec.ts
  apps/web/e2e/tests/chat/last-prompt-scroll-helpers.ts
  apps/web/e2e/tests/chat/last-prompt-scroll.spec.ts
  apps/web/e2e/tests/chat/mobile-last-prompt-scroll.spec.ts
  docs/plans/transcript-navigation-settings/task-01-portable-settings-contract.md
  docs/specs/INDEX.md
  docs/specs/ui/transcript-navigation-settings.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(mcp): harden attachment evidence
  apps/backend/internal/agent/acpdbg/mcp_sentinel_test.go
  apps/backend/internal/agent/acpdbg/ops_test.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/adapter_session.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/mcp_test.go
  apps/backend/internal/agentctl/server/api/agent.go
  apps/backend/internal/agentctl/server/api/agent_test.go
  apps/backend/internal/agentctl/types/streams/mcp_attachment.go
  apps/backend/internal/agentctl/types/streams/mcp_attachment_test.go
  apps/backend/internal/mcp/server/server.go
  apps/backend/internal/mcp/server/server_test.go
  apps/web/components/task/chat/chat-input-toolbar-primitives.tsx
  apps/web/e2e/tests/chat/mcp-status.spec.ts
  apps/web/e2e/tests/chat/mobile-mcp-status.spec.ts
  docs/plans/mcp-session-observability/plan.md
  docs/specs/INDEX.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

docs: correct mcp verification commands
  docs/plans/mcp-session-observability/plan.md
Due: none

ci: forward approved users to Claude review
  .github/scripts/claude-code-review-workflow-contract_test.py
  .github/workflows/claude-code-review.yml
  .github/workflows/lint-action-pinning.yml
  docs/plans/claude-fork-review-allowlist/plan.md
  docs/plans/claude-fork-review-allowlist/task-01-forward-fork-allowlist.md
  docs/specs/claude-fork-review-allowlist/spec.md
Due: none

fix(acp): preserve model across context reset
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction.go
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction_test.go
  apps/web/e2e/tests/workflow/workflow-step-proceed.spec.ts
  docs/plans/acp-context-reset-model-preservation/plan.md
  docs/plans/acp-context-reset-model-preservation/task-01-reapply-model-after-reset.md
  docs/plans/acp-context-reset-model-preservation/task-02-workflow-reset-e2e.md
  docs/specs/ui/acp-model-configuration-summary.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(acp): address context reset review feedback
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction.go
  apps/web/e2e/tests/workflow/workflow-step-proceed.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(editors): refresh executor capability after launch
  apps/backend/internal/orchestrator/executor/executor_execute.go
  apps/backend/internal/orchestrator/executor/executor_test.go
  apps/web/hooks/domains/session/use-session-resumption.test.ts
  apps/web/hooks/domains/session/use-session-resumption.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(web): hide transient metrics unavailable state
  apps/web/components/system-metrics/status-surface-metrics.test.tsx
  apps/web/components/system-metrics/status-surface-metrics.tsx
  apps/web/e2e/tests/settings/metrics-loading-observer.ts
  apps/web/e2e/tests/settings/mobile-resource-metrics-display.spec.ts
  apps/web/e2e/tests/settings/resource-metrics-display.spec.ts
  docs/plans/metrics-loading-state/plan.md
  docs/plans/metrics-loading-state/task-01-hide-initial-metrics-loading-state.md
  docs/specs/ui/app-status-bar.md
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(make): add start-windows-verbose and start-windows-debug
  Makefile
Due: none

test(agentctl): cover negative file-search limit
  apps/backend/internal/agentctl/server/process/workspace_files_test.go
Due: gofmt, go-tests, go-lint

feat: add global PR tab placement
  apps/backend/internal/backendapp/boot_state_routes.go
  apps/backend/internal/backendapp/boot_state_user_settings_test.go
  apps/backend/internal/user/controller/controller.go
  apps/backend/internal/user/dto/dto.go
  apps/backend/internal/user/dto/dto_test.go
  apps/backend/internal/user/models/models.go
  apps/backend/internal/user/service/service.go
  apps/backend/internal/user/service/service_test.go
  apps/backend/internal/user/store/sqlite.go
  apps/backend/internal/user/store/sqlite_test.go
  apps/web/components/github/pr-topbar-button.tsx
  apps/web/components/settings/editors-settings-state.tsx
  apps/web/components/settings/general-settings.tsx
  apps/web/components/task/__tests__/use-auto-pr-panel.test.ts
  apps/web/components/task/dockview-add-panel-items.tsx
  apps/web/components/task/dockview-session-tabs.ts
  apps/web/e2e/fixtures/test-base.ts
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/pages/session-page.ts
  apps/web/e2e/tests/pr/pr-detail-manual-open.spec.ts
  apps/web/e2e/tests/settings/mobile-general-settings.spec.ts
  apps/web/e2e/tests/settings/settings-manual-save.spec.ts
  apps/web/hooks/use-ensure-user-settings.test.ts
  apps/web/hooks/use-user-display-settings.ts
  apps/web/lib/ssr/user-settings.test.ts
  apps/web/lib/ssr/user-settings.ts
  apps/web/lib/state/dockview-panel-actions.test.ts
  apps/web/lib/state/dockview-panel-actions.ts
  apps/web/lib/state/dockview-store.ts
  apps/web/lib/state/pr-panel-placement.test.ts
  apps/web/lib/state/pr-panel-placement.ts
  apps/web/lib/state/slices/settings/settings-slice.ts
  apps/web/lib/state/slices/settings/types.ts
  apps/web/lib/types/backend.ts
  apps/web/lib/types/http-user-settings.ts
  apps/web/lib/types/http.ts
  apps/web/lib/ws/handlers/users.test.ts
  apps/web/lib/ws/handlers/users.ts
  docs/public/sessions-and-review.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

refactor(web): split appearance setting carry-forward
  apps/web/hooks/use-user-display-settings.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): address PR settings review feedback
  apps/web/e2e/tests/settings/mobile-general-settings.spec.ts
  apps/web/e2e/tests/settings/settings-manual-save.spec.ts
  apps/web/hooks/use-user-display-settings.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: plan active-session unread marker repair
  docs/plans/unread-divider-visible-session-clear/plan.md
  docs/plans/unread-divider-visible-session-clear/task-01-clear-active-visit-marker.md
  docs/specs/office/unread-divider.md
Due: none

fix(web): keep dockview session tabs within lint limit
  apps/web/components/task/dockview-auto-mr-panel.ts
  apps/web/components/task/dockview-session-tabs.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: correct unread marker repair plan
  docs/plans/unread-divider-visible-session-clear/plan.md
  docs/plans/unread-divider-visible-session-clear/task-01-clear-active-visit-marker.md
  docs/specs/office/unread-divider.md
Due: none

fix: restore Changes focus on task return
  apps/web/components/task/changes-panel-focus.test.ts
  apps/web/components/task/changes-panel-focus.ts
  apps/web/e2e/tests/layout/changes-panel-focus.spec.ts
  docs/plans/returning-task-changes-focus/plan.md
  docs/plans/returning-task-changes-focus/task-01-restore-pending-changes-attention.md
  docs/specs/ui/task-layout-profiles.md
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(automation): reconcile RepositorySelection none-variant claims in task-03
  docs/plans/automation-multi-repository/task-03-frontend-multi-repo-picker.md
Due: none

fix(web): preserve pending Changes focus while maximized
  apps/web/components/task/changes-panel-focus.test.ts
  apps/web/components/task/changes-panel-focus.ts
  docs/plans/returning-task-changes-focus/plan.md
  docs/plans/returning-task-changes-focus/task-01-restore-pending-changes-attention.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): address connectivity warning review feedback
  apps/web/components/app-status-bar/app-status-drawer.test.tsx
  apps/web/components/app-status-bar/app-status-surface-provider.test.tsx
  apps/web/components/app-status-bar/app-status-surface-provider.tsx
  apps/web/e2e/tests/layout/mobile-ws-connectivity-warning.spec.ts
  apps/web/lib/ws/connection-issue-monitor.test.ts
  apps/web/lib/ws/connection-issue-monitor.ts
  apps/web/lib/ws/use-websocket.test.tsx
  docs/plans/ws-connectivity-warning/task-01-connection-issue-timing.md
  docs/plans/ws-connectivity-warning/task-05-public-documentation.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): suppress unread divider during active visits
  apps/web/components/task/chat/use-chat-panel-state.ts
  apps/web/components/task/chat/use-session-read-tracking.test.ts
  apps/web/components/task/chat/use-session-read-tracking.ts
  apps/web/components/task/task-chat-panel.tsx
  apps/web/e2e/tests/chat/mobile-unread-divider.spec.ts
  apps/web/e2e/tests/chat/unread-divider.spec.ts
  apps/web/hooks/domains/session/use-session-messages.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(automation): normalize stale multi-repo selections at save time
  apps/web/components/automations/automation-editor.tsx
  apps/web/components/automations/automation-payload.test.ts
  apps/web/components/automations/automation-payload.ts
  apps/web/components/automations/automation-repository-selection.test.ts
  apps/web/components/automations/automation-repository-selection.ts
  apps/web/components/automations/config-section.tsx
  docs/plans/automation-multi-repository/task-03-frontend-multi-repo-picker.md
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: plan sidebar-aligned status bar
  docs/plans/app-status-bar/plan.md
  docs/plans/app-status-bar/task-14-sidebar-aligned-status-bar.md
  docs/specs/INDEX.md
  docs/specs/ui/app-status-bar.md
Due: none

fix(web): align status bar with sidebar
  apps/web/app/layout.tsx
  apps/web/components/app-status-bar/app-status-surface-provider.tsx
  apps/web/e2e/tests/layout/app-status-bar.spec.ts
  apps/web/src/app-shell.tsx
  docs/plans/app-status-bar/plan.md
  docs/plans/app-status-bar/task-14-sidebar-aligned-status-bar.md
  docs/specs/INDEX.md
  docs/specs/ui/app-status-bar.md
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(automation): include selection-helper tests in task-03 verification
  docs/plans/automation-multi-repository/task-03-frontend-multi-repo-picker.md
Due: none

fix(process): bind update forwarder to lifecycle generation
  apps/backend/internal/agentctl/server/process/manager.go
  apps/backend/internal/agentctl/server/process/manager_test.go
Due: gofmt, go-tests, go-lint

fix(agentctl): tear down adapter when the agent process self-exits
  apps/backend/internal/agentctl/server/process/manager.go
  apps/backend/internal/agentctl/server/process/manager_stop_test.go
Due: gofmt, go-tests, go-lint

fix(layout): preserve PR Details panel state
  apps/web/lib/state/dockview-env-switch.test.ts
  apps/web/lib/state/dockview-env-switch.ts
  apps/web/lib/state/dockview-preset-persistence.test.ts
  apps/web/lib/state/dockview-store.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(agentctl): complete the previous agent lifecycle before restart
  apps/backend/internal/agentctl/server/process/manager.go
  apps/backend/internal/agentctl/server/process/manager_stop_test.go
Due: gofmt, go-tests, go-lint

test(layout): select the default mobile profile
  apps/web/e2e/tests/settings/mobile-layout-profiles.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(layout): preserve fallback PR Details tab
  apps/web/lib/state/dockview-preset-persistence.test.ts
  apps/web/lib/state/dockview-store.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
