Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

fix(remote-docker): tear down partial launches and partial profile creation
  apps/backend/internal/agent/runtime/lifecycle/container.go
  apps/web/app/settings/executors/new/[type]/remote-docker-create-page.test.tsx
  apps/web/app/settings/executors/new/[type]/remote-docker-create-page.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(e2e): cover the remote Docker create flow on desktop and mobile
  apps/backend/AGENTS.md
  apps/web/e2e/tests/settings/mobile-remote-docker-create.spec.ts
  apps/web/e2e/tests/settings/remote-docker-create.spec.ts
  docs/public/executors.md
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: regenerate the executors screenshot with Remote Docker
  apps/web/e2e/tests/settings/executors-docs-screenshots.spec.ts
  docs/plans/remote-docker-executor/task-06-e2e-and-docs.md
  docs/public/executors.md
  docs/screenshots/settings-executors.png
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: link each plan to its work orders
  docs/plans/remote-docker-executor/plan.md
  docs/plans/ssh-identity-discovery/plan.md
Due: none

test(dockerremote): pin host-key enforcement against real sshd hosts
  apps/backend/internal/agent/runtime/lifecycle/remote_docker_fingerprint_integration_test.go
  docs/specs/executors/requirements/remote-docker-executor.md
Due: gofmt, go-tests, go-lint

fix: address branch-review findings on the remote Docker executor
  apps/backend/internal/agent/runtime/lifecycle/container_host_files_test.go
  apps/backend/internal/agent/runtime/lifecycle/docker_launch.go
  apps/backend/internal/agent/runtime/lifecycle/executor_remote_docker.go
  apps/backend/internal/agent/runtime/lifecycle/executor_remote_docker_lifecycle_test.go
  apps/backend/internal/dockerremote/handlers.go
  apps/backend/internal/task/service/executor_remote_docker_admin_test.go
  apps/backend/internal/task/service/service_resources.go
  apps/web/app/settings/executors/[profileId]/page.tsx
  apps/web/components/settings/remote-docker-connection-section.tsx
  docs/plans/remote-docker-executor/plan.md
  docs/plans/remote-docker-executor/task-04-remote-docker-runtime.md
  docs/specs/executors/system-design/remote-docker-executor.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat: build remote Docker images on the executor's own daemon
  apps/backend/internal/agent/runtime/lifecycle/remote_docker_integration_test.go
  apps/backend/internal/agent/runtime/remote_docker_build.go
  apps/backend/internal/agent/runtime/remote_docker_build_test.go
  apps/backend/internal/backendapp/helpers.go
  apps/backend/internal/dockerremote/handlers.go
  apps/web/app/settings/executors/[profileId]/page.tsx
  apps/web/components/settings/profile-edit/docker-sections.tsx
  apps/web/components/settings/profile-edit/profile-runtime-sections.tsx
  apps/web/lib/api/domains/remote-docker-api.ts
  docs/public/executors.md
  docs/public/feature-status.md
  scripts/build-remote-docker-test-image.sh
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat(dockerremote): require an administrator for test and build
  apps/backend/internal/dockerremote/handlers.go
  apps/backend/internal/dockerremote/handlers_test.go
  docs/public/executors.md
  docs/specs/executors/requirements/remote-docker-executor.md
  docs/specs/executors/system-design/remote-docker-executor.md
Due: gofmt, go-tests, go-lint

docs: complete the remote Docker executor package
  docs/plans/remote-docker-executor/plan.md
  docs/plans/remote-docker-executor/task-06-e2e-and-docs.md
  docs/specs/executors/system-design/remote-docker-executor.md
Due: none

docs: record remote docker create flow results
  docs/plans/remote-docker-executor/task-05-profile-create-and-test.md
Due: none

feat(ssh): offer discovered identity files in the connection form
  apps/backend/internal/ssh/handlers.go
  apps/backend/internal/ssh/identities.go
  apps/backend/internal/ssh/identities_test.go
  apps/web/components/settings/ssh-connection-form.tsx
  apps/web/components/settings/ssh-field-shell.tsx
  apps/web/components/settings/ssh-identity-file-field.test.tsx
  apps/web/components/settings/ssh-identity-file-field.tsx
  apps/web/lib/api/domains/ssh-api.ts
  apps/web/lib/types/http-ssh.ts
  apps/web/src/locales/en/executors.json
  apps/web/src/locales/pseudo/executors.json
  apps/web/src/locales/pt-pt/executors.json
  apps/web/src/locales/zh-cn/executors.json
  apps/web/src/locales/zh-hk/executors.json
  apps/web/src/locales/zh-tw/executors.json
  docs/plans/ssh-identity-discovery/plan.md
  docs/plans/ssh-identity-discovery/task-01-identity-discovery-endpoint.md
  docs/plans/ssh-identity-discovery/task-02-identity-file-picker.md
  docs/specs/executors/requirements/ssh-identity-discovery.md
  docs/specs/executors/system-design/ssh-identity-discovery.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(e2e): launch, resume, and delete a task on a remote Docker daemon
  apps/backend/internal/agent/runtime/lifecycle/container_host_files.go
  apps/backend/internal/agent/runtime/lifecycle/container_host_files_test.go
  apps/backend/internal/agent/runtime/lifecycle/executor_docker.go
  apps/backend/internal/agent/runtime/lifecycle/executor_remote_docker.go
  apps/backend/internal/agent/runtime/lifecycle/remote_docker_host_files.go
  apps/web/e2e/fixtures/remote-docker-test-base.ts
  apps/web/e2e/fixtures/ssh-image.ts
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/helpers/remote-docker.ts
  apps/web/e2e/helpers/ssh.ts
  apps/web/e2e/playwright.config.ts
  apps/web/e2e/tests/remote-docker/remote-docker-task.spec.ts
  docs/plans/remote-docker-executor/task-06-e2e-and-docs.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(remote-docker): route environment status and teardown to the owning daemon
  apps/backend/internal/agent/runtime/remote_docker_containers.go
  apps/backend/internal/agent/runtime/remote_docker_containers_test.go
  apps/backend/internal/backendapp/environment_containers.go
  apps/backend/internal/backendapp/environment_containers_test.go
  apps/backend/internal/backendapp/worktree.go
  apps/backend/internal/task/service/resource_cleanup_archive_identity_test.go
  apps/backend/internal/task/service/resource_cleanup_task_owned_test.go
  apps/backend/internal/task/service/service_task_environments.go
  apps/backend/internal/task/service/service_task_environments_ssh_scope_test.go
  apps/backend/internal/task/service/service_task_environments_test.go
  apps/web/components/task/executor-environment-info.remote-docker.test.tsx
  apps/web/components/task/executor-environment-info.tsx
  docs/plans/remote-docker-executor/task-07-environment-layer-executor-dispatch.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(remote-docker): protect retained containers from executor mutation
  apps/backend/internal/task/service/resource_cleanup_ssh.go
  apps/backend/internal/task/service/service_resources.go
  apps/backend/internal/task/service/service_resources_remote_docker_retained_test.go
Due: gofmt, go-tests, go-lint

fix(office): preserve causation across queue boundaries
  apps/backend/internal/backendapp/main.go
  apps/backend/internal/backendapp/runs_engine_adapter_actor_test.go
  apps/backend/internal/office/runtime/actions_test.go
  apps/backend/internal/office/runtime/handler.go
  apps/backend/internal/office/runtime/handler_test.go
  apps/backend/internal/office/service/run.go
  apps/backend/internal/office/service/run_causation_carrier.go
  apps/backend/internal/office/service/service.go
  apps/backend/internal/office/service/task_creator_carrier_test.go
  apps/backend/internal/runs/repository/sqlite/causation.go
  apps/backend/internal/runs/service/causation.go
  apps/backend/internal/runs/service/service_test.go
  apps/backend/internal/workflow/engine/adapters.go
  apps/backend/internal/workflow/engine/phase2_callbacks.go
  docs/public/configuration.md
  docs/specs/office/requirements/run-causation-chain.md
  docs/specs/office/system-design/unattended-launch-safety-01.md
  docs/specs/office/system-design/unattended-launch-safety-02.md
Due: gofmt, go-tests, go-lint

fix: align routine schedule diagnostics and mobile layout
  apps/backend/internal/office/routines/arming.go
  apps/backend/internal/office/routines/arming_test.go
  apps/backend/internal/office/shared/cron.go
  apps/backend/internal/office/shared/cron_test.go
  apps/web/app/office/routines/[id]/routine-detail-view.test.tsx
  apps/web/app/office/routines/[id]/routine-detail-view.tsx
  apps/web/app/office/routines/routine-row.tsx
  apps/web/e2e/tests/office/mobile-routine-schedule-state-layout.spec.ts
  docs/plans/office-routine-arming/plan.md
  docs/specs/office/requirements/routine-arming-visibility.md
  docs/specs/office/system-design/routine-schedule-state.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: preserve payload references and polling opt-out
  apps/backend/internal/task/repository/sqlite/message_payload_replay.go
  apps/backend/internal/task/repository/sqlite/message_payload_test.go
  apps/backend/internal/workflowsync/circuit_test.go
  apps/backend/internal/workflowsync/service.go
Due: gofmt, go-tests, go-lint

fix(office): stabilize task list cursors and query parsing
  apps/backend/internal/office/repository/sqlite/tasks.go
  apps/backend/internal/office/repository/sqlite/tasks_filtered_test.go
  apps/backend/internal/office/runtime/tasks_list.go
  apps/backend/internal/office/runtime/tasks_list_test.go
  docs/plans/office-taskless-coordinator-authority/plan.md
  docs/public/automation-and-mcp.md
  docs/specs/office/system-design/taskless-coordinator-authority-01.md
Due: gofmt, go-tests, go-lint

docs(office): record launch safety fixup
  docs/plans/office-unattended-launch-safety/plan.md
  docs/plans/office-unattended-launch-safety/task-01-launch-safety-ceilings-and-depth.md
Due: none

fix(office): fence legacy retries by run identity
  apps/backend/internal/office/service/event_subscribers.go
  apps/backend/internal/office/service/failure.go
  apps/backend/internal/office/service/failure_transient_retry_test.go
  docs/plans/office-legacy-transient-retry/plan.md
  docs/plans/office-legacy-transient-retry/task-01-retry-legacy-post-start-failures.md
  docs/specs/office/requirements/runtime.md
  docs/specs/office/system-design/runtime-01.md
Due: gofmt, go-tests, go-lint

fix: make webhook filter locators exact
  apps/web/e2e/tests/automations-webhook-alert-ingest.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: normalize routine schedule metadata
  apps/web/app/office/routines/schedule-state-badge.test.tsx
  apps/web/app/office/routines/schedule-state.test.ts
  apps/web/app/office/routines/schedule-state.ts
  apps/web/lib/api/domains/office-routine-normalize.test.ts
  apps/web/lib/api/domains/office-routine-normalize.ts
  apps/web/src/office-routine-client-routes.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: make remote Docker tests independent of $USER and absorb the create-path rejection
  apps/backend/internal/agent/runtime/remote_docker_build_test.go
  apps/backend/internal/agent/runtime/remote_docker_probe_test.go
  apps/web/components/settings/ssh-connection-card.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test: focus blank webhook scalar before save
  apps/web/e2e/tests/automations-webhook-alert-ingest.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(remote-docker): serialize stdin on the dial-stdio connection
  apps/backend/internal/agent/runtime/lifecycle/remote_docker_dialer.go
Due: gofmt, go-tests, go-lint

fix(backend): order and chunk the batched dependency edge reads
  apps/backend/internal/office/repository/sqlite/blockers.go
  apps/backend/internal/office/repository/sqlite/blockers_test.go
Due: gofmt, go-tests, go-lint

fix(backend): chunk GetTasksByIDs past the SQLite bind-parameter ceiling
  apps/backend/internal/task/repository/sqlite/task.go
  apps/backend/internal/task/repository/sqlite/task_hierarchy_test.go
Due: gofmt, go-tests, go-lint

docs(specs): land the frozen task dependency projection spec
  docs/specs/plugins/requirements/task-dependency-edge-ends.md
  docs/specs/plugins/requirements/task-dependency-projection.md
  docs/specs/plugins/requirements/task-dependency-response-bounds.md
  docs/specs/plugins/system-design/task-dependency-edge-ends.md
  docs/specs/plugins/system-design/task-dependency-projection.md
  docs/specs/plugins/system-design/task-dependency-refresh.md
  docs/specs/plugins/system-design/task-dependency-response-bounds.md
Due: none

fix(backend): fail closed and bound the dependency derivation
  apps/backend/internal/task/service/service_dependencies.go
  apps/backend/internal/task/service/service_dependencies_test.go
Due: gofmt, go-tests, go-lint

fix(backend): keep blocked_reason present on the canvas wire when empty
  apps/backend/internal/plugins/webapp_protocol_dependencies_test.go
  apps/backend/internal/plugins/webapp_protocol_json.go
Due: gofmt, go-tests, go-lint

feat(backend): add task dependency projection to the plugin proto and SDK
  apps/backend/pkg/pluginsdk/data_types.go
  apps/backend/pkg/pluginsdk/data_types_test.go
  apps/backend/proto/kandev/plugin/v1/plugin.pb.go
  apps/backend/proto/kandev/plugin/v1/plugin.proto
Due: gofmt, go-tests, go-lint

fix(plugins): log withheld dependency derivations and document gRPC refresh rule
  apps/backend/internal/plugins/host.go
  apps/backend/internal/plugins/host_data.go
  apps/backend/internal/plugins/host_data_dependencies.go
  apps/backend/internal/plugins/host_data_dependencies_logging_test.go
  apps/backend/internal/plugins/host_data_dependencies_test.go
  apps/backend/internal/plugins/host_write.go
  apps/backend/internal/plugins/service.go
  apps/backend/internal/plugins/webapp_protocol.go
  apps/backend/internal/plugins/webapp_protocol_data.go
  docs/public/plugins-authoring.md
Due: gofmt, go-tests, go-lint

fix(backend): scope dependency attachment to actual serialization and callers
  apps/backend/internal/plugins/host_data.go
  apps/backend/internal/plugins/host_data_dependencies.go
  apps/backend/internal/plugins/host_data_dependencies_test.go
  apps/backend/internal/plugins/host_write_dependencies_test.go
  apps/backend/internal/plugins/webapp_protocol_data.go
  apps/backend/internal/plugins/webapp_protocol_dependencies_test.go
  apps/backend/internal/plugins/webapp_protocol_json.go
Due: gofmt, go-tests, go-lint

docs(plans): add task-08 work order for dependency projection
  docs/plans/plugins/host-data-api/plan.md
  docs/plans/plugins/host-data-api/task-08-dependency-projection.md
Due: none
