Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

test(lifecycle): prove duplicate-session recovery is skipped, not corrupted
  apps/backend/internal/agent/runtime/lifecycle/manager_recovery_duplicate_session_test.go
Due: gofmt, go-tests, go-lint

test(agentctl): prove concurrent credential rotation converges on one rotation
  apps/backend/internal/agentctl/server/api/credential_rotation_test.go
Due: gofmt, go-tests, go-lint

docs(executors): require mutual proof of ownership before adoption sends the credential
  docs/specs/executors/requirements/standalone-control-server-ownership.md
  docs/specs/executors/system-design/agent-survival-across-restart-02.md
Due: none

fix(agentctl): fence every long-lived stream and refuse an unprovable server identity
  apps/backend/internal/agent/runtime/agentctl/launcher/survival_kill_path_test.go
  apps/backend/internal/agent/runtime/lifecycle/control_server_adoption.go
  apps/backend/internal/agent/runtime/lifecycle/control_server_adoption_identity_test.go
  apps/backend/internal/agent/runtime/lifecycle/control_server_adoption_test.go
  apps/backend/internal/agentctl/server/api/credential_fencing.go
  apps/backend/internal/agentctl/server/api/credential_rotation_extra_streams_test.go
  apps/backend/internal/agentctl/server/api/credential_rotation_lsp_stream_unix_test.go
  apps/backend/internal/agentctl/server/api/lsp.go
  apps/backend/internal/agentctl/server/api/port_proxy.go
  apps/backend/internal/agentctl/server/api/shell_terminal.go
  apps/backend/internal/agentctl/server/api/vscode_proxy.go
  apps/backend/internal/backendapp/agentctl.go
  apps/backend/internal/backendapp/agentctl_survival_gate_test.go
  apps/backend/internal/backendapp/agentctl_survival_test.go
Due: gofmt, go-tests, go-lint

fix(lifecycle): keep passthrough sessions outside the survival capability
  apps/backend/internal/agent/runtime/lifecycle/control_server_adoption.go
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction.go
  apps/backend/internal/agent/runtime/lifecycle/manager_lifecycle.go
  apps/backend/internal/agent/runtime/lifecycle/manager_passthrough_scope_test.go
  apps/backend/internal/agent/runtime/lifecycle/passthrough_scope.go
  docs/public/configuration.md
Due: gofmt, go-tests, go-lint

feat(agentctl): prove server ownership before revealing the credential
  apps/backend/cmd/agentctl/main.go
  apps/backend/cmd/agentctl/sigpipe.go
  apps/backend/cmd/agentctl/sigpipe_test.go
  apps/backend/internal/agent/runtime/agentctl/control.go
  apps/backend/internal/agent/runtime/agentctl/launcher/launcher.go
  apps/backend/internal/agent/runtime/lifecycle/control_server_adoption.go
  apps/backend/internal/agent/runtime/lifecycle/control_server_adoption_identity_test.go
  apps/backend/internal/agent/runtime/lifecycle/control_server_adoption_store_failure_test.go
  apps/backend/internal/agent/runtime/lifecycle/control_server_adoption_test.go
  apps/backend/internal/agent/runtime/lifecycle/control_server_ownership_proof.go
  apps/backend/internal/agent/runtime/lifecycle/control_server_ownership_proof_test.go
  apps/backend/internal/agent/runtime/lifecycle/control_server_reclaim_test.go
  apps/backend/internal/agent/runtime/lifecycle/liveness_inherited_scope.go
  apps/backend/internal/agent/runtime/lifecycle/liveness_inherited_scope_test.go
  apps/backend/internal/agent/runtime/lifecycle/liveness_standalone.go
  apps/backend/internal/agent/runtime/lifecycle/liveness_standalone_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager.go
  apps/backend/internal/agent/runtime/lifecycle/manager_stop_worktree_test.go
  apps/backend/internal/agentctl/AGENTS.md
  apps/backend/internal/agentctl/server/api/control_server.go
  apps/backend/internal/agentctl/server/api/credential_rotation_test.go
  apps/backend/internal/agentctl/server/api/identity.go
  apps/backend/internal/agentctl/server/api/identity_test.go
  apps/backend/internal/agentctl/server/api/ownership_proof.go
  apps/backend/internal/agentctl/server/api/ownership_proof_test.go
  apps/backend/internal/backendapp/agentctl.go
  apps/backend/internal/backendapp/agentctl_survival_gate_test.go
  apps/backend/internal/backendapp/agentctl_survival_test.go
  apps/backend/internal/backendapp/agents.go
  apps/backend/internal/backendapp/main.go
  apps/backend/internal/common/netprobe/port.go
  apps/backend/internal/common/netprobe/port_test.go
  apps/backend/internal/common/ownershipproof/proof.go
  apps/backend/internal/common/ownershipproof/proof_test.go
  apps/backend/internal/launcher/ports.go
  docs/public/configuration.md
Due: gofmt, go-tests, go-lint

fix(web): preserve pending anchor lifecycle
  apps/web/components/task/task-archive-confirmation.test.tsx
  apps/web/components/task/task-archive-confirmation.tsx
  docs/plans/archive-confirmation-stable-surface/plan.md
  docs/plans/archive-confirmation-stable-surface/task-01-stabilize-archive-confirmation-selection.md
  docs/specs/ui/system-design/confirmation-warning-hierarchy.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(ui): address saved view confirmation feedback
  apps/web/components/confirmation/inline-confirm-actions.test.tsx
  apps/web/components/confirmation/inline-confirm-actions.tsx
  apps/web/components/confirmation/saved-task-view-delete-confirmation.test.tsx
  apps/web/components/confirmation/use-saved-task-view-delete-confirmation.ts
  apps/web/components/jira/my-jira/list-toolbar.test.tsx
  apps/web/components/task/sidebar-filter/sidebar-filter-popover.test.tsx
  apps/web/components/task/sidebar-filter/sidebar-filter-popover.tsx
  apps/web/components/task/sidebar-filter/view-manager.tsx
  apps/web/components/threads/threads-view-controls.test.tsx
  apps/web/e2e/tests/task/mobile-sidebar-views.spec.ts
  apps/web/scripts/convert-zh-cn-to-zh-hant.test.mjs
  apps/web/scripts/lib/zh-hant-glossary.json
  apps/web/scripts/lib/zh-hant-overrides.json
  apps/web/src/locales/zh-hk/common.json
  apps/web/src/locales/zh-tw/common.json
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(tasks): simplify launch-step destination
  apps/web/components/workflow-selector-row.test.tsx
  apps/web/components/workflow-selector-row.tsx
  apps/web/e2e/tests/task/create-task.spec.ts
  apps/web/e2e/tests/task/mobile-create-task-launch-preview.spec.ts
  apps/web/src/locales/en/task.json
  apps/web/src/locales/pseudo/task.json
  apps/web/src/locales/pt-pt/task.json
  apps/web/src/locales/zh-cn/task.json
  apps/web/src/locales/zh-hk/task.json
  apps/web/src/locales/zh-tw/task.json
  docs/plans/task-create-launch-step-arrow/plan.md
  docs/plans/task-create-launch-step-arrow/task-01-refine-launch-step-help-control.md
  docs/public/tasks-and-workflows.md
  docs/specs/tasks/requirements/task-create-launch-preview.md
  docs/specs/tasks/system-design/task-create-launch-preview.md
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(media): add PR 3466 screenshots
  create-task--launch-step-arrow-desktop.png
  create-task--launch-step-arrow-mobile.png
Due: none

fix: scope workflow turn start operations
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/workflow_turn_operation_test.go
Due: gofmt, go-tests, go-lint

fix(ci): enforce trusted preview artifact boundary
  .github/scripts/preview-env-workflow-contract_test.py
  .github/workflows/preview-env.yml
  apps/backend/cmd/preview/deploy.go
  apps/backend/cmd/preview/deploy_test.go
  docs/decisions/2026-08-24-unified-fork-approval-label.md
  docs/decisions/2026-09-07-isolate-fork-preview-builds.md
  docs/decisions/INDEX.md
  docs/specs/ci/requirements/unified-contributor-pr-automation.md
  docs/specs/ci/system-design/unified-contributor-pr-automation.md
Due: gofmt, go-tests, go-lint

test(plugins): cover external priority persistence
  apps/backend/cmd/plugin-fixture/fixture-package/manifest.yaml
  apps/backend/cmd/plugin-fixture/fixture_package_test.go
  apps/backend/cmd/plugin-fixture/plugin.go
  apps/backend/internal/plugins/host_write_external_process_test.go
Due: gofmt, go-tests, go-lint

fix(tasks): add touch launch-step disclosure
  apps/web/components/workflow-selector-row.test.tsx
  apps/web/components/workflow-selector-row.tsx
  apps/web/e2e/tests/task/mobile-create-task-launch-preview.spec.ts
  docs/plans/task-create-launch-step-arrow/plan.md
  docs/plans/task-create-launch-step-arrow/task-01-refine-launch-step-help-control.md
  docs/public/tasks-and-workflows.md
  docs/specs/tasks/system-design/task-create-launch-preview.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address native HTML preview review findings
  apps/backend/internal/agentctl/server/process/workspace_preview.go
  apps/web/hooks/use-html-preview-publisher.test.ts
  apps/web/lib/api/domains/process-api.test.ts
  apps/web/lib/api/domains/process-api.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat: add step-entry-number interpolation and review-findings MCP tools
  apps/backend/internal/mcp/handlers/review.go
  apps/backend/internal/mcp/handlers/review_list_resolve_test.go
  apps/backend/internal/mcp/server/handlers.go
  apps/backend/internal/mcp/server/handlers_test.go
  apps/backend/internal/mcp/server/review_findings_tools_test.go
  apps/backend/internal/mcp/server/server.go
  apps/backend/internal/mcp/server/server_test.go
  apps/backend/internal/mcp/server/tool_metadata_test.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/step_entry_number_prompt_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/sysprompt/sysprompt.go
  apps/backend/internal/sysprompt/sysprompt_step_entry_number_test.go
  apps/backend/internal/task/repository/sqlite/step_transitions.go
  apps/backend/internal/task/repository/sqlite/step_transitions_count_test.go
  apps/backend/internal/task/service/review_service.go
  apps/backend/internal/task/service/review_service_list_findings_test.go
  apps/backend/internal/task/service/review_service_resolve_finding_test.go
  apps/backend/pkg/websocket/actions.go
  docs/specs/INDEX.md
  docs/specs/typed-workflow-state/README.md
  docs/specs/typed-workflow-state/requirements/concurrency-and-idempotency.md
  docs/specs/typed-workflow-state/requirements/review-findings-access.md
  docs/specs/typed-workflow-state/requirements/step-entry-number.md
  docs/specs/typed-workflow-state/system-design/typed-workflow-state.md
Due: gofmt, go-tests, go-lint

fix(backend): name accepted statuses in resolve_review_finding_kandev error
  apps/backend/internal/mcp/server/handlers.go
  apps/backend/internal/mcp/server/review_findings_tools_test.go
  apps/backend/internal/mcp/server/server.go
Due: gofmt, go-tests, go-lint

docs(specs): fix stale citations, redact local paths, resolve AC-TWS-003.7/004.8 ambiguity
  docs/specs/typed-workflow-state/README.md
  docs/specs/typed-workflow-state/requirements/concurrency-and-idempotency.md
  docs/specs/typed-workflow-state/requirements/review-findings-access.md
  docs/specs/typed-workflow-state/requirements/step-entry-number.md
  docs/specs/typed-workflow-state/system-design/typed-workflow-state.md
Due: none

fix(backend): normalize resolve_review_finding_kandev args before schema validation
  apps/backend/internal/mcp/server/review_findings_tools_test.go
  apps/backend/internal/mcp/server/server.go
  apps/backend/internal/mcp/server/tool_argument_validation.go
  apps/backend/internal/mcp/server/tool_argument_validation_test.go
Due: gofmt, go-tests, go-lint

fix(ci): align conflicted cancellation fixture
  apps/backend/cmd/mock-agent/handler.go
  apps/backend/cmd/mock-agent/mock_agent_test.go
  apps/web/e2e/tests/chat/cancel-progress-task-switch.spec.ts
  apps/web/e2e/tests/session/session-layout.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(backend): add Postgres coverage for the step-handoff carry CAS
  apps/backend/internal/task/repository/sqlite/step_handoff_carry_claim_postgres_test.go
  docs/decisions/0015-explicit-completion-signal-for-auto-advance.md
  docs/decisions/INDEX.md
Due: gofmt, go-tests, go-lint

fix(backend): carry the composed handoff through the fresh-launch fallback
  apps/backend/internal/orchestrator/coordinator_stop_edges_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/fallback_fresh_launch_handoff_test.go
  apps/backend/internal/orchestrator/step_handoff_carry_dispatch_test.go
  apps/backend/internal/orchestrator/task_operations.go
Due: gofmt, go-tests, go-lint

fix(backend): carry the step-handoff CAS token past a queued transition and drain
  apps/backend/internal/mcp/handlers/step_complete_test.go
  apps/backend/internal/orchestrator/event_handlers_agent.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/event_handlers_workflow_moved_test.go
  apps/backend/internal/orchestrator/messagequeue/types.go
  apps/backend/internal/orchestrator/queue_send_now.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/step_handoff_carry.go
  apps/backend/internal/orchestrator/step_handoff_carry_dispatch_test.go
  apps/backend/internal/orchestrator/step_handoff_carry_write_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/task/repository/sqlite/step_handoff_carry_claim_test.go
  apps/backend/internal/workflow/repository/session_step_history_test.go
Due: gofmt, go-tests, go-lint

fix(backend): carry step_complete handoff and blockers across the workflow transition
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/step_complete_bounds.go
  apps/backend/internal/mcp/handlers/step_complete_bounds_test.go
  apps/backend/internal/mcp/handlers/step_complete_truncation_test.go
  apps/backend/internal/mcp/server/server.go
  apps/backend/internal/mcp/server/step_complete_description_test.go
  apps/backend/internal/orchestrator/event_handlers_duplicate_autostart_test.go
  apps/backend/internal/orchestrator/event_handlers_initial_prompt_dedup_test.go
  apps/backend/internal/orchestrator/event_handlers_step_completion.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/event_handlers_workflow_profile_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow_prompt_claim_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow_reset_quiescence_test.go
  apps/backend/internal/orchestrator/queue_auto_run_review_test.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/step_handoff_carry.go
  apps/backend/internal/orchestrator/step_handoff_carry_dispatch_test.go
  apps/backend/internal/orchestrator/step_handoff_carry_write_test.go
  apps/backend/internal/orchestrator/step_history_handoff_blockers_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/task_pull_request_target_prompt_test.go
  apps/backend/internal/task/models/models.go
  apps/backend/internal/task/repository/sqlite/step_handoff_carry_claim_test.go
  apps/backend/internal/task/repository/sqlite/task.go
  apps/backend/internal/workflow/service/service.go
  docs/specs/tasks/README.md
  docs/specs/tasks/requirements/workflow-completion-signal-payload-delivery.md
  docs/specs/tasks/system-design/workflow-completion-signal-payload-delivery.md
Due: gofmt, go-tests, go-lint

feat(office): enforce claim-time launch ceilings, budgets, and ledger
  apps/backend/internal/office/repository/sqlite/runs_test.go
  apps/backend/internal/office/scheduler/run_processing_test.go
  apps/backend/internal/office/wakeup/dispatcher_race_test.go
  apps/backend/internal/runs/repository/sqlite/base.go
  apps/backend/internal/runs/repository/sqlite/claim.go
  apps/backend/internal/runs/repository/sqlite/claim_safety.go
  apps/backend/internal/runs/repository/sqlite/claim_safety_test.go
  apps/backend/internal/runs/repository/sqlite/runs.go
  apps/backend/internal/runs/repository/sqlite/runs_claim_test.go
Due: gofmt, go-tests, go-lint

fix(backend): carry the composed handoff through promptTask's own fallback
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/prompt_dispatch_failure_handoff_test.go
  apps/backend/internal/orchestrator/task_operations.go
Due: gofmt, go-tests, go-lint

fix(office): separate advisory decision action metadata
  apps/backend/internal/office/runtime/capabilities.go
  apps/backend/internal/office/runtime/capabilities_test.go
  apps/backend/internal/office/runtime/context.go
  apps/backend/internal/office/runtime/context_builder.go
  apps/backend/internal/office/runtime/context_builder_test.go
  apps/backend/internal/office/service/prompt_builder_test.go
  apps/backend/internal/office/service/scheduler_integration.go
  apps/backend/internal/office/service/scheduler_integration_routing_test.go
  docs/decisions/2026-09-07-separate-runtime-permissions-and-advisory-actions.md
  docs/decisions/INDEX.md
  docs/specs/office/system-design/runtime-01.md
Due: gofmt, go-tests, go-lint

test(backend): pass the handoff-once param through the rebased dedup test
  apps/backend/internal/orchestrator/event_handlers_initial_prompt_dedup_test.go
Due: gofmt, go-tests, go-lint

fix(backend): aggregate the completion handoff across Send Now sources
  apps/backend/internal/orchestrator/messagequeue/send_now.go
  apps/backend/internal/orchestrator/messagequeue/send_now_test.go
Due: gofmt, go-tests, go-lint

docs(specs): redact local filesystem details from the design doc
  docs/specs/tasks/system-design/workflow-completion-signal-payload-delivery.md
Due: none

fix(backend): remove requirement/plan-ID narration from production comments
  apps/backend/internal/mcp/handlers/step_complete_bounds.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
Due: gofmt, go-tests, go-lint

fix(orchestrator): harden step handoff delivery
  apps/backend/internal/mcp/server/server.go
  apps/backend/internal/orchestrator/event_handlers_step_completion.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/prompt_dispatch_failure_handoff_test.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/step_handoff_carry.go
  apps/backend/internal/orchestrator/step_handoff_carry_dispatch_test.go
  apps/backend/internal/orchestrator/step_handoff_carry_write_test.go
  apps/backend/internal/orchestrator/step_history_handoff_blockers_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/workflow_store.go
  apps/backend/internal/task/models/public_metadata.go
  apps/backend/internal/task/models/public_metadata_test.go
  apps/backend/internal/task/service/service.go
  apps/backend/internal/task/service/service_step_handoff_metadata_test.go
  apps/backend/internal/task/service/service_task_metadata.go
  apps/backend/internal/task/service/service_workflow.go
  apps/backend/internal/workflow/service/service.go
  docs/decisions/0015-explicit-completion-signal-for-auto-advance.md
  docs/specs/tasks/system-design/workflow-completion-signal-payload-delivery.md
Due: gofmt, go-tests, go-lint

fix(backend): preserve the composed handoff in StartSessionForWorkflowStep's fallback
  apps/backend/internal/orchestrator/step_handoff_carry_dispatch_test.go
  apps/backend/internal/orchestrator/task_operations.go
Due: gofmt, go-tests, go-lint

fix(backend): clear the consumed signal bag before a queued transition returns
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/step_handoff_carry_write_test.go
Due: gofmt, go-tests, go-lint

test(e2e): stabilize Kanban feeder drag
  apps/web/e2e/tests/kanban/wip-overflow-queue.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): hide inactive repository providers
  apps/web/e2e/tests/task/create-task-remote-repo.spec.ts
  apps/web/e2e/tests/task/mobile-create-task-remote-repo.spec.ts
  apps/web/hooks/domains/azure-devops/use-azure-devops-browse.test.tsx
  apps/web/hooks/domains/azure-devops/use-azure-devops-browse.ts
  apps/web/hooks/domains/gitlab/use-gitlab-status.test.ts
  apps/web/hooks/domains/gitlab/use-gitlab-status.ts
  apps/web/hooks/domains/integrations/use-remote-repositories.test.tsx
  apps/web/hooks/domains/integrations/use-remote-repositories.ts
  docs/plans/configured-repository-provider-errors/plan.md
  docs/plans/configured-repository-provider-errors/task-01-gate-repository-discovery.md
  docs/specs/integrations/requirements/azure-devops-integration.md
  docs/specs/integrations/system-design/azure-devops-integration-01.md
Due: prettier-format, web-lint, web-tests, web-typecheck

media: screenshots for PR #3470
  remote-repository-picker-desktop.png
  remote-repository-picker-mobile.png
Due: none

fix: make contributor PR failure recovery resumable
  apps/backend/internal/office/repository/sqlite/agents.go
  apps/backend/internal/office/repository/sqlite/agents_test.go
  apps/backend/internal/office/repository/sqlite/base_migrations.go
  apps/backend/internal/office/repository/sqlite/base_test.go
  apps/backend/internal/office/repository/sqlite/failure.go
  apps/backend/internal/office/repository/sqlite/failure_test.go
  apps/backend/internal/office/repository/sqlite/workspace_deletion.go
  apps/backend/internal/office/repository/sqlite/workspace_deletion_test.go
  apps/backend/internal/office/service/failure.go
  apps/backend/internal/office/service/failure_test.go
  apps/backend/internal/runs/repository/sqlite/runs.go
  apps/backend/internal/runs/service/service_test.go
Due: gofmt, go-tests, go-lint

feat(agents): activate reviewed runtime defaults on startup
  apps/backend/internal/agent/agents/ACP_BRIDGE_VERSIONS.md
  apps/backend/internal/agent/managedruntime/selection.go
  apps/backend/internal/agent/managedruntime/selection_test.go
  apps/backend/internal/agent/runtime/lifecycle/managed_runtime_command_test.go
  apps/backend/internal/backendapp/managed_runtime_defaults.go
  apps/backend/internal/backendapp/managed_runtime_defaults_test.go
  apps/backend/internal/backendapp/services.go
  docs/decisions/0034-agentclientprotocol-codex-acp.md
  docs/decisions/2026-08-12-validated-managed-runtime-version-selection.md
  docs/decisions/2026-09-07-activate-managed-runtime-defaults.md
  docs/decisions/INDEX.md
  docs/plans/managed-runtime-default-activation/plan.md
  docs/plans/managed-runtime-default-activation/task-01-reconcile-default-generations.md
  docs/plans/managed-runtime-default-activation/task-02-activate-defaults-at-startup.md
  docs/plans/managed-runtime-default-activation/task-03-document-and-prove-upgrade-behavior.md
  docs/public/agents-and-profiles.md
  docs/specs/agents/README.md
  docs/specs/agents/requirements/runtime-updates.md
  docs/specs/agents/system-design/runtime-default-activation.md
  docs/specs/agents/system-design/runtime-updates-01.md
  docs/specs/agents/system-design/runtime-updates-02.md
Due: gofmt, go-tests, go-lint

test: remove unnecessary recovery sleep
  apps/backend/internal/office/service/failure_test.go
Due: gofmt, go-tests, go-lint

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
