Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

feat(mcp): add start_agent and local_path params to create_task
  apps/backend/internal/agentctl/server/mcp/handlers.go
  apps/backend/internal/agentctl/server/mcp/handlers_test.go
  apps/backend/internal/agentctl/server/mcp/server.go
  apps/backend/internal/integration/mcp_integration_test.go
  apps/backend/internal/mcp/handlers/handlers.go
Due: gofmt, go-tests, go-lint

fix: update executor_test mock to match new GetGitLog signature
  apps/backend/internal/orchestrator/executor/executor_test.go
Due: gofmt, go-tests, go-lint

fix: update remaining mocks to match new GetGitLog signature
  apps/backend/internal/orchestrator/event_handlers_test.go
Due: gofmt, go-tests, go-lint

fix: update integration test mock for GetGitLog signature
  apps/backend/internal/integration/simulated_agent_manager_test.go
Due: gofmt, go-tests, go-lint

feat(web): rename sidebar sections to "Turn Finished" and "Running"
  apps/web/components/task/task-switcher.tsx
  apps/web/e2e/pages/session-page.ts
  apps/web/e2e/tests/task/create-task.spec.ts
  apps/web/e2e/tests/task/task-switcher-status.spec.ts
  apps/web/e2e/tests/terminal/terminal-agent.spec.ts
  apps/web/e2e/tests/workflow/workflow-automation.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: re-inject plan mode instructions on follow-up prompts
  apps/backend/internal/orchestrator/event_handlers_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/task_operations_test.go
  apps/backend/internal/sysprompt/sysprompt.go
  apps/web/e2e/tests/task/plan-mode-followup.spec.ts
  apps/web/hooks/domains/comments/use-run-comment.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: preserve task status when resuming agent after backend restart
  apps/backend/internal/orchestrator/executor/executor_mocks_test.go
  apps/backend/internal/orchestrator/executor/executor_resume.go
  apps/backend/internal/orchestrator/executor/executor_test.go
  apps/web/e2e/tests/session/session-resume.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat(skills): improve feature skill with pipeline enforcement and skill delegation
  .agents/skills/feature/SKILL.md
Due: none

fix: use task state for sidebar classification during STARTING
  apps/backend/internal/orchestrator/executor/executor_resume.go
  apps/backend/internal/orchestrator/executor/executor_test.go
  apps/web/components/task/task-switcher.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat(skills): add pipeline enforcement and skill references to pr, commit, verify, tdd, e2e, fix skills
  .agents/skills/commit/SKILL.md
  .agents/skills/e2e/SKILL.md
  .agents/skills/fix/SKILL.md
  .agents/skills/pr/SKILL.md
  .agents/skills/tdd/SKILL.md
  .agents/skills/verify/SKILL.md
Due: none

feat(skills): improve qa, code-review, simplify, pr-fixup, push skills
  .agents/skills/code-review/SKILL.md
  .agents/skills/pr-fixup/SKILL.md
  .agents/skills/push/SKILL.md
  .agents/skills/qa/SKILL.md
  .agents/skills/simplify/SKILL.md
Due: none

feat(agents): add task pipeline to qa subagent
  .agents/agents/qa.md
Due: none

test: enhance plan mode E2E tests with metadata assertions and plan comment flow
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/tests/task/plan-mode-followup.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: format E2E test files with prettier
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/tests/task/plan-mode-followup.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: preserve task status when resuming agent after backend restart (#508)
  apps/backend/internal/orchestrator/executor/executor_mocks_test.go
  apps/backend/internal/orchestrator/executor/executor_test.go
  apps/web/components/task/task-switcher.tsx
  apps/web/e2e/tests/session/session-resume.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(web): remove PRTaskIcon selector that caused infinite re-render loop
  apps/web/components/github/pr-task-icon.tsx
  apps/web/components/state-hydrator.tsx
  apps/web/lib/state/hydration/hydrator.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: backend
  apps/web/components/kanban-board.tsx
  apps/web/hooks/domains/github/use-task-pr.ts
  apps/web/lib/state/slices/github/github-slice.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

chore(web): add debug logs for file review state transitions
  apps/web/components/task/task-changes-panel.tsx
  apps/web/hooks/use-session-file-reviews.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: playwright skill
  .agents/skills/playwright-cli/SKILL.md
  .agents/skills/playwright-cli/references/element-attributes.md
  .agents/skills/playwright-cli/references/playwright-tests.md
  .agents/skills/playwright-cli/references/request-mocking.md
  .agents/skills/playwright-cli/references/running-code.md
  .agents/skills/playwright-cli/references/session-management.md
  .agents/skills/playwright-cli/references/storage-state.md
  .agents/skills/playwright-cli/references/test-generation.md
  .agents/skills/playwright-cli/references/tracing.md
  .agents/skills/playwright-cli/references/video-recording.md
  .playwright/cli.config.json
Due: none

chore: add [PR-DEBUG] WARN logs across PR data pipeline
  apps/backend/internal/gateway/websocket/task_notifications.go
  apps/backend/internal/github/handlers.go
  apps/backend/internal/github/poller.go
  apps/backend/internal/github/service.go
Due: gofmt, go-tests, go-lint

feat(github): workspace-scoped PR API with cache + singleflight
  apps/backend/internal/github/controller.go
  apps/backend/internal/github/service.go
  apps/backend/internal/github/store.go
  apps/web/app/page.tsx
  apps/web/components/kanban-board.tsx
  apps/web/hooks/domains/github/use-task-pr.ts
  apps/web/lib/api/domains/github-api.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: backend
  apps/backend/internal/github/controller.go
  apps/web/app/page.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(web): fetch PR data for all workflows, not just SSR-hydrated ones
  apps/web/hooks/domains/github/use-task-pr.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

chore: add debug logs for PR hydration and fix response format
  apps/web/components/github/pr-task-icon.tsx
  apps/web/components/state-hydrator.tsx
  apps/web/lib/state/hydration/hydrator.ts
  apps/web/lib/state/slices/github/github-slice.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): hydrate task PR data during SSR to prevent flash on refresh
  apps/web/app/page.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): prevent reviewed counter flash when PR diff is loading
  apps/web/components/task/task-changes-panel.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor: address code review findings
  apps/backend/internal/gateway/websocket/task_notifications.go
  apps/backend/internal/github/handlers.go
  apps/backend/internal/github/poller.go
  apps/backend/internal/github/service.go
  apps/web/components/state-hydrator.tsx
  apps/web/components/task/task-changes-panel.tsx
  apps/web/hooks/domains/github/use-task-pr.ts
  apps/web/hooks/use-session-file-reviews.ts
  apps/web/lib/state/hydration/hydrator.ts
  apps/web/lib/state/slices/github/github-slice.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(web): fix PR icon hidden by flex overflow in kanban cards
  apps/web/components/github/pr-task-icon.tsx
  apps/web/components/kanban-card.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address CodeRabbit review feedback
  .agents/skills/playwright-cli/references/request-mocking.md
  .agents/skills/playwright-cli/references/video-recording.md
  apps/backend/internal/github/service.go
  apps/web/hooks/domains/github/use-task-pr.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat(skills): improve skills with pipeline enforcement and skill delegation (#510)
  .agents/agents/qa.md
  .agents/skills/code-review/SKILL.md
  .agents/skills/commit/SKILL.md
  .agents/skills/e2e/SKILL.md
  .agents/skills/feature/SKILL.md
  .agents/skills/fix/SKILL.md
  .agents/skills/pr-fixup/SKILL.md
  .agents/skills/pr/SKILL.md
  .agents/skills/push/SKILL.md
  .agents/skills/qa/SKILL.md
  .agents/skills/simplify/SKILL.md
  .agents/skills/tdd/SKILL.md
  .agents/skills/verify/SKILL.md
Due: none

fix(github): workspace-scoped PR data loading with cache and singleflight (#509)
  .agents/skills/playwright-cli/SKILL.md
  .agents/skills/playwright-cli/references/element-attributes.md
  .agents/skills/playwright-cli/references/playwright-tests.md
  .agents/skills/playwright-cli/references/request-mocking.md
  .agents/skills/playwright-cli/references/running-code.md
  .agents/skills/playwright-cli/references/session-management.md
  .agents/skills/playwright-cli/references/storage-state.md
  .agents/skills/playwright-cli/references/test-generation.md
  .agents/skills/playwright-cli/references/tracing.md
  .agents/skills/playwright-cli/references/video-recording.md
  .playwright/cli.config.json
  apps/backend/internal/github/controller.go
  apps/backend/internal/github/service.go
  apps/backend/internal/github/store.go
  apps/web/app/page.tsx
  apps/web/components/github/pr-task-icon.tsx
  apps/web/components/kanban-board.tsx
  apps/web/components/kanban-card.tsx
  apps/web/components/task/task-changes-panel.tsx
  apps/web/hooks/domains/github/use-task-pr.ts
  apps/web/hooks/use-session-file-reviews.ts
  apps/web/lib/api/domains/github-api.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat(skills): add dev-first workflow and playwright-cli debugging to e2e skill
  .agents/skills/e2e/SKILL.md
Due: none

feat: sort tasks by creation date in kanban and sidebar
  apps/backend/internal/task/repository/sqlite/task.go
  apps/web/components/kanban-board-grid.tsx
  apps/web/components/kanban-card.tsx
  apps/web/components/kanban/swimlane-graph-content.tsx
  apps/web/components/kanban/swimlane-kanban-content.tsx
  apps/web/components/kanban/swipeable-columns.tsx
  apps/web/components/task/task-session-sidebar.tsx
  apps/web/components/task/task-switcher.tsx
  apps/web/hooks/domains/kanban/use-all-workflow-snapshots.ts
  apps/web/hooks/domains/kanban/use-kanban-data.ts
  apps/web/lib/state/slices/kanban/types.ts
  apps/web/lib/ws/handlers/tasks.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: hide start agent button during environment preparation
  apps/web/components/task/chat/message-renderer.tsx
  apps/web/e2e/tests/pr/pr-watcher-start-button-timing.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: auto-show PR details panel when task has associated PR
  apps/web/components/github/pr-detail-panel.tsx
  apps/web/components/task/__tests__/use-auto-pr-panel.test.ts
  apps/web/components/task/dockview-desktop-layout.tsx
  apps/web/components/task/dockview-session-tabs.ts
  apps/web/components/task/task-center-panel.tsx
  apps/web/e2e/pages/session-page.ts
  apps/web/e2e/tests/pr/pr-detail-auto-show.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: expose hidden keybindings in settings for user customization
  apps/web/components/command-panel.tsx
  apps/web/components/homepage-commands.tsx
  apps/web/components/task/chat/chat-input-area.tsx
  apps/web/components/task/chat/chat-input-toolbar.tsx
  apps/web/components/task/chat/use-tiptap-editor.ts
  apps/web/components/task/passthrough-terminal.tsx
  apps/web/components/task/task-session-sidebar.tsx
  apps/web/components/task/use-passthrough-terminal.ts
  apps/web/e2e/tests/settings/keyboard-shortcuts.spec.ts
  apps/web/hooks/use-editor-keybinds.ts
  apps/web/lib/keyboard/shortcut-overrides.test.ts
  apps/web/lib/keyboard/shortcut-overrides.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: use ref for keyboard shortcuts in terminal key handler
  apps/web/components/task/passthrough-terminal.tsx
  apps/web/components/task/use-passthrough-terminal.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor: address code review suggestions
  apps/web/components/task/dockview-session-tabs.ts
  apps/web/components/task/file-tab-content.tsx
  apps/web/components/task/task-center-panel.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(e2e): use distinct task names to avoid substring matching ambiguity
  apps/web/e2e/tests/pr/pr-detail-auto-show.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): add max-height and scrollbar to queue message editor textarea
  apps/web/components/task/chat/queued-message-indicator.tsx
  apps/web/e2e/tests/chat/message-queue.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
