Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-tests, go-lint, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: golang
        files: \.go$
        pass_filenames: false
        additional_dependencies: []

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: golang
        files: \.go$
        pass_filenames: false
        additional_dependencies: []

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

feat: improve make start
  Makefile
  apps/cli/src/cli.ts
  apps/cli/src/start.ts
Due: none

feat: improve workspace file tree loading
  apps/backend/internal/agent/lifecycle/event_types.go
  apps/backend/internal/agent/lifecycle/events.go
  apps/web/components/task/file-browser.tsx
  apps/web/lib/types/backend.ts
  apps/web/lib/ws/handlers/agent-session.ts
Due: go-tests, go-lint, web-lint, web-tests, web-typecheck

refactor: consolidate system prompts into sysprompt package
  apps/backend/internal/agent/lifecycle/session.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/sysprompt/sysprompt.go
  apps/backend/internal/task/models/models.go
  apps/web/components/task/task-chat-panel.tsx
  apps/web/lib/state/slices/ui/types.ts
  apps/web/lib/state/slices/ui/ui-slice.ts
  apps/web/lib/state/store.ts
Due: go-tests, go-lint, web-lint, web-tests, web-typecheck

fix: update service.go to use sysprompt.StripSystemContent directly
  apps/backend/internal/task/service/service.go
Due: go-tests, go-lint

fix: agent profile creation
  apps/web/app/actions/agents.ts
  apps/web/app/settings/agents/[agentId]/page.tsx
  apps/web/app/settings/agents/page.tsx
  apps/web/components/settings/agent-profile-page.tsx
  apps/web/components/settings/profile-form-fields.tsx
Due: web-lint, web-tests, web-typecheck

feat: add force push option to git push menu
  apps/web/components/task/mobile/session-mobile-top-bar.tsx
  apps/web/components/task/task-top-bar.tsx
Due: web-lint, web-tests, web-typecheck

refactor: consolidate system prompts into sysprompt package (#166)
  apps/backend/internal/agent/lifecycle/session.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/sysprompt/sysprompt.go
  apps/backend/internal/task/models/models.go
  apps/backend/internal/task/service/service.go
  apps/web/components/task/task-chat-panel.tsx
  apps/web/lib/state/slices/ui/types.ts
  apps/web/lib/state/slices/ui/ui-slice.ts
  apps/web/lib/state/store.ts
Due: go-tests, go-lint, web-lint, web-tests, web-typecheck

fix: handle untracked and new files in git discard operation
  apps/backend/internal/agentctl/server/process/git.go
Due: go-tests, go-lint

feat: Add force push option to git push menu (#167)
  apps/web/components/task/mobile/session-mobile-top-bar.tsx
  apps/web/components/task/task-top-bar.tsx
Due: web-lint, web-tests, web-typecheck

Fix: Handle untracked and new files in git discard operation (#168)
  apps/backend/internal/agentctl/server/process/git.go
Due: go-tests, go-lint

fix: db path
  apps/cli/src/start.ts
  apps/packages/ui/src/pannel-session.tsx
Due: none

feat: open workspace folder
  apps/backend/internal/editors/controller/controller.go
  apps/backend/internal/editors/dto/dto.go
  apps/backend/internal/editors/handlers/handlers.go
  apps/backend/internal/editors/service/service.go
  apps/backend/internal/editors/service/service_test.go
  apps/web/components/task/task-top-bar.tsx
  apps/web/hooks/use-open-session-folder.ts
  apps/web/lib/api/domains/session-api.ts
Due: go-tests, go-lint, web-lint, web-tests, web-typecheck

feat: remove agent profile plan field
  apps/backend/cmd/kandev/adapters.go
  apps/backend/internal/agent/lifecycle/manager.go
  apps/backend/internal/agent/lifecycle/profile_resolver.go
  apps/backend/internal/agent/lifecycle/profile_resolver_test.go
  apps/backend/internal/agent/lifecycle/types.go
  apps/backend/internal/agent/settings/controller/controller.go
  apps/backend/internal/agent/settings/dto/dto.go
  apps/backend/internal/agent/settings/handlers/handlers.go
  apps/backend/internal/agent/settings/models/models.go
  apps/backend/internal/agent/settings/store/sqlite.go
  apps/backend/internal/orchestrator/executor/executor.go
  apps/web/app/actions/agents.ts
  apps/web/app/settings/agents/[agentId]/page.tsx
  apps/web/components/settings/agent-profile-page.tsx
  apps/web/components/settings/profile-form-fields.tsx
  apps/web/lib/types/http.ts
Due: go-tests, go-lint, web-lint, web-tests, web-typecheck

fix: agent profile creation (#170)
  apps/backend/cmd/kandev/adapters.go
  apps/backend/internal/agent/lifecycle/manager.go
  apps/backend/internal/agent/lifecycle/profile_resolver.go
  apps/backend/internal/agent/lifecycle/profile_resolver_test.go
  apps/backend/internal/agent/lifecycle/types.go
  apps/backend/internal/agent/settings/controller/controller.go
  apps/backend/internal/agent/settings/dto/dto.go
  apps/backend/internal/agent/settings/handlers/handlers.go
  apps/backend/internal/agent/settings/models/models.go
  apps/backend/internal/agent/settings/store/sqlite.go
  apps/backend/internal/orchestrator/executor/executor.go
  apps/web/app/actions/agents.ts
  apps/web/app/settings/agents/[agentId]/page.tsx
  apps/web/app/settings/agents/page.tsx
  apps/web/components/settings/agent-profile-page.tsx
  apps/web/components/settings/profile-form-fields.tsx
  apps/web/lib/types/http.ts
Due: go-tests, go-lint, web-lint, web-tests, web-typecheck

fix: db path + open workspace folder (#169)
  apps/backend/internal/editors/controller/controller.go
  apps/backend/internal/editors/dto/dto.go
  apps/backend/internal/editors/handlers/handlers.go
  apps/backend/internal/editors/service/service.go
  apps/backend/internal/editors/service/service_test.go
  apps/cli/src/start.ts
  apps/packages/ui/src/pannel-session.tsx
  apps/web/components/task/task-top-bar.tsx
  apps/web/hooks/use-open-session-folder.ts
  apps/web/lib/api/domains/session-api.ts
Due: go-tests, go-lint, web-lint, web-tests, web-typecheck

feat: improve diff colors
  apps/web/app/globals.css
  apps/web/components/diff/diff-viewer.tsx
  apps/web/components/task/file-status-icon.tsx
  apps/web/components/task/task-changes-panel.tsx
  apps/web/components/task/task-files-panel.tsx
  apps/web/components/task/task-top-bar.tsx
Due: web-lint, web-tests, web-typecheck

Fix agent working time persistence across page refreshes
  apps/backend/internal/task/dto/dto.go
  apps/backend/internal/task/handlers/task_handlers.go
  apps/web/app/s/[sessionId]/page.tsx
  apps/web/components/task/chat/messages/agent-status.tsx
  apps/web/lib/api/domains/session-api.ts
  apps/web/lib/types/http.ts
Due: go-tests, go-lint, web-lint, web-tests, web-typecheck

feat: improve diff colors (#171)
  apps/web/app/globals.css
  apps/web/components/diff/diff-viewer.tsx
  apps/web/components/task/file-status-icon.tsx
  apps/web/components/task/task-changes-panel.tsx
  apps/web/components/task/task-files-panel.tsx
  apps/web/components/task/task-top-bar.tsx
Due: web-lint, web-tests, web-typecheck

Fix agent working time persistence across page refreshes (#172)
  apps/backend/internal/task/dto/dto.go
  apps/backend/internal/task/handlers/task_handlers.go
  apps/web/app/s/[sessionId]/page.tsx
  apps/web/components/task/chat/messages/agent-status.tsx
  apps/web/lib/api/domains/session-api.ts
  apps/web/lib/types/http.ts
Due: go-tests, go-lint, web-lint, web-tests, web-typecheck

feat: improved chat input keybinding
  apps/backend/internal/user/controller/controller.go
  apps/backend/internal/user/dto/dto.go
  apps/backend/internal/user/handlers/handlers.go
  apps/backend/internal/user/models/models.go
  apps/backend/internal/user/service/service.go
  apps/backend/internal/user/store/sqlite.go
  apps/web/app/page.tsx
  apps/web/app/s/[sessionId]/page.tsx
  apps/web/app/settings/general/page.tsx
  apps/web/components/settings/editors-settings.tsx
  apps/web/components/settings/general-settings.tsx
  apps/web/components/task/chat/chat-input-container.tsx
  apps/web/components/task/chat/chat-input-focus-hint.tsx
  apps/web/components/task/chat/rich-text-input.tsx
  apps/web/components/task/task-chat-panel.tsx
  apps/web/hooks/domains/settings/use-editors.ts
  apps/web/hooks/use-user-display-settings.ts
  apps/web/lib/api/domains/settings-api.ts
  apps/web/lib/keyboard/constants.ts
  apps/web/lib/state/slices/settings/settings-slice.ts
  apps/web/lib/state/slices/settings/types.ts
  apps/web/lib/types/backend.ts
  apps/web/lib/types/http.ts
  apps/web/lib/ws/handlers/users.ts
Due: go-tests, go-lint, web-lint, web-tests, web-typecheck

feat: improved chat input keybinding (#173)
  apps/backend/internal/user/controller/controller.go
  apps/backend/internal/user/dto/dto.go
  apps/backend/internal/user/handlers/handlers.go
  apps/backend/internal/user/models/models.go
  apps/backend/internal/user/service/service.go
  apps/backend/internal/user/store/sqlite.go
  apps/web/app/page.tsx
  apps/web/app/s/[sessionId]/page.tsx
  apps/web/app/settings/general/page.tsx
  apps/web/components/settings/editors-settings.tsx
  apps/web/components/settings/general-settings.tsx
  apps/web/components/task/chat/chat-input-container.tsx
  apps/web/components/task/chat/chat-input-focus-hint.tsx
  apps/web/components/task/chat/rich-text-input.tsx
  apps/web/components/task/task-chat-panel.tsx
  apps/web/hooks/domains/settings/use-editors.ts
  apps/web/hooks/use-user-display-settings.ts
  apps/web/lib/api/domains/settings-api.ts
  apps/web/lib/keyboard/constants.ts
  apps/web/lib/state/slices/settings/settings-slice.ts
  apps/web/lib/state/slices/settings/types.ts
  apps/web/lib/types/backend.ts
  apps/web/lib/types/http.ts
  apps/web/lib/ws/handlers/users.ts
Due: go-tests, go-lint, web-lint, web-tests, web-typecheck

fix(diff): workaround shiki Go grammar catastrophic backtracking
  apps/web/components/diff/diff-viewer.tsx
Due: web-lint, web-tests, web-typecheck

fix(diff): workaround shiki Go grammar catastrophic backtracking (#174)
  apps/web/components/diff/diff-viewer.tsx
Due: web-lint, web-tests, web-typecheck

fix: wire permission handler to Copilot SDK (#161)
  apps/backend/internal/agentctl/server/adapter/copilot_adapter.go
  apps/backend/pkg/copilot/client.go
Due: go-tests, go-lint

chore: remove outdated documentation and scripts
  docs/GETTING_STARTED.md
  docs/agent-orchestration-ui.md
  docs/agent-permission-request.md
  docs/agentctl-lifecycle.md
  docs/architecture/mcp-agentctl-migration.md
  docs/architecture/task-specific-executor-refactoring.md
  docs/asyncapi.yaml
  docs/design/dynamic-model-switching.md
  docs/design/workflow-system.md
  docs/relation-events.md
  docs/release.md
  docs/task-session-turns.md
  scripts/e2e-test.sh
Due: none

chore: remove outdated documentation and scripts (#175)
  docs/GETTING_STARTED.md
  docs/agent-orchestration-ui.md
  docs/agent-permission-request.md
  docs/agentctl-lifecycle.md
  docs/architecture/mcp-agentctl-migration.md
  docs/architecture/task-specific-executor-refactoring.md
  docs/asyncapi.yaml
  docs/design/dynamic-model-switching.md
  docs/design/workflow-system.md
  docs/relation-events.md
  docs/release.md
  docs/task-session-turns.md
  scripts/e2e-test.sh
Due: none

refactor: remove database migrations for clean dev-phase bootstrap
  README.md
  apps/backend/internal/agent/settings/store/sqlite.go
  apps/backend/internal/editors/store/sqlite.go
  apps/backend/internal/task/repository/sqlite/base.go
  apps/backend/internal/user/store/sqlite.go
  apps/backend/internal/workflow/repository/sqlite.go
Due: go-tests, go-lint

refactor: Remove database migrations for clean dev-phase bootstrap (#176)
  README.md
  apps/backend/internal/agent/settings/store/sqlite.go
  apps/backend/internal/editors/store/sqlite.go
  apps/backend/internal/task/repository/sqlite/base.go
  apps/backend/internal/user/store/sqlite.go
  apps/backend/internal/workflow/repository/sqlite.go
Due: go-tests, go-lint

fix: rollback from review step works on simple boards
  apps/backend/internal/orchestrator/event_handlers.go
Due: go-tests, go-lint

fix: use detached context for ask_user_question MCP tool
  apps/backend/internal/agentctl/server/mcp/handlers.go
Due: go-tests, go-lint

fix: rollback from review step works on simple boards (#177)
  apps/backend/internal/orchestrator/event_handlers.go
Due: go-tests, go-lint

fix: use detached context for ask_user_question MCP tool (#178)
  apps/backend/internal/agentctl/server/mcp/handlers.go
Due: go-tests, go-lint

fix(acp): resolve notification ordering race condition
  apps/backend/go.mod
  apps/backend/go.sum
  apps/backend/internal/agentctl/server/adapter/transport/acp/ordering_race_test.go
Due: go-tests, go-lint

fix(acp): resolve notification ordering race condition (#179)
  apps/backend/go.mod
  apps/backend/go.sum
  apps/backend/internal/agentctl/server/adapter/transport/acp/ordering_race_test.go
Due: go-tests, go-lint

fix: prevent duplicate message submission while agent is working
  apps/backend/internal/integration/orchestrator_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/task/handlers/message_handlers.go
  apps/web/components/task/chat/chat-input-container.tsx
  apps/web/components/task/chat/rich-text-input.tsx
Due: go-tests, go-lint, web-lint, web-tests, web-typecheck

fix: prevent duplicate message submission while agent is working (#180)
  apps/backend/internal/integration/orchestrator_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/task/handlers/message_handlers.go
  apps/web/components/task/chat/chat-input-container.tsx
  apps/web/components/task/chat/rich-text-input.tsx
Due: go-tests, go-lint, web-lint, web-tests, web-typecheck

fix: prevent duplicate agent messages in database
  apps/backend/docs/add_agent.md
  apps/backend/internal/agent/lifecycle/manager.go
  apps/backend/internal/agent/lifecycle/manager_test.go
  apps/backend/internal/agent/lifecycle/session.go
  apps/backend/internal/agent/lifecycle/types.go
  apps/backend/internal/agent/registry/agents.json
  apps/backend/internal/agent/registry/registry.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/adapter.go
  apps/backend/internal/agentctl/server/adapter/transport/codex/adapter.go
  apps/backend/internal/agentctl/server/adapter/transport/streamjson/adapter.go
Due: go-tests, go-lint

refactor: rename acpConn to agentStreamConn in agentctl client
  apps/backend/internal/agentctl/client/agent.go
  apps/backend/internal/agentctl/client/client.go
Due: go-tests, go-lint

feat: remove thinking selection
  apps/web/components/task/chat/chat-input-container.tsx
Due: web-lint, web-tests, web-typecheck

refactor: remove orchestrator controller layer
  apps/backend/cmd/kandev/adapters.go
  apps/backend/cmd/kandev/gateway.go
  apps/backend/cmd/kandev/main.go
  apps/backend/internal/integration/orchestrator_test.go
  apps/backend/internal/orchestrator/controller/controller.go
  apps/backend/internal/orchestrator/handlers/handlers.go
  apps/backend/internal/task/handlers/message_handlers.go
Due: go-tests, go-lint
