Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

fix(mcp): close two handoff_task_kandev Review round 3 findings
  apps/backend/internal/mcp/handlers/handoff_task_handlers.go
  apps/backend/internal/mcp/handlers/handoff_task_handlers_test.go
  apps/backend/internal/orchestrator/session_launch_profile_explicit_test.go
  apps/backend/internal/task/repository/sqlite/task_handoffs_cas.go
Due: gofmt, go-tests, go-lint

docs: add cross-workspace handoff delivery package
  docs/plans/cross-workspace-task-handoff/plan.md
  docs/plans/cross-workspace-task-handoff/task-01-cross-workspace-task-handoff.md
  docs/specs/tasks/requirements/cross-workspace-task-handoff.md
  docs/specs/tasks/system-design/cross-workspace-task-handoff.md
Due: none

test(mcp): close handoff_task_kandev's Review round 2 test-rigor gaps
  apps/backend/internal/mcp/handlers/handlers_test.go
  apps/backend/internal/mcp/handlers/handoff_task_handlers_authorization_test.go
  apps/backend/internal/mcp/handlers/handoff_task_handlers_idempotency_outcomes_test.go
  apps/backend/internal/mcp/handlers/handoff_task_handlers_provenance_test.go
  apps/backend/internal/mcp/handlers/handoff_task_handlers_resolution_test.go
  apps/backend/internal/mcp/handlers/handoff_task_handlers_test.go
  apps/backend/internal/mcp/server/handoff_task_tool_test.go
Due: gofmt, go-tests, go-lint

fix: wire handoff activity dashboard
  apps/backend/internal/backendapp/helpers.go
Due: gofmt, go-tests, go-lint

fix: preserve handoff provenance across metadata boundaries
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/handoff_task_handlers.go
  apps/backend/internal/mcp/server/server.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/task/service/service_requests.go
  apps/backend/internal/task/service/service_step_handoff_metadata_test.go
  apps/backend/internal/task/service/service_task_metadata.go
  apps/backend/internal/task/service/service_tasks.go
  apps/backend/internal/task/service/service_workflow.go
Due: gofmt, go-tests, go-lint

test: seed the final swimlane card after concurrent tasks
  apps/web/e2e/tests/kanban/swimlane-height.spec.ts
  docs/plans/plan-comment-foreground-preservation/plan.md
  docs/plans/plan-comment-foreground-preservation/task-01-preserve-comment-editor.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: complete startup recovery delivery references
  docs/plans/startup-recovery-scroll-timeout/plan.md
  docs/specs/agents/requirements/session-recovery-failures.md
  docs/specs/tasks/requirements/remote-contribution-tasks.md
Due: none

fix: exempt harness files from docs coverage
  .github/scripts/pr-docs.cjs
  .github/scripts/pr-docs.test.cjs
  docs/decisions/2026-09-10-pr-documentation-coverage.md
  docs/plans/pr-documentation-coverage/task-01-coverage-validator.md
  docs/specs/ci/requirements/pull-request-documentation-coverage.md
  docs/specs/ci/system-design/pull-request-documentation-coverage.md
Due: none

docs: plan persistent right-panel toggle (#3657)
  docs/plans/right-panel-visibility/plan.md
  docs/plans/right-panel-visibility/task-01-persistent-toggle.md
  docs/specs/ui/requirements/right-panel-visibility.md
  docs/specs/ui/system-design/right-panel-visibility.md
Due: none

fix: harden Needs-you Inbox review fixes
  apps/backend/internal/clarification/inbox_handlers.go
  apps/backend/internal/clarification/inbox_handlers_test.go
  apps/backend/internal/task/repository/sqlite/message.go
  apps/backend/internal/task/repository/sqlite/message_pending_index_test.go
  apps/backend/internal/task/service/service_tasks.go
  apps/web/app/needs-you-inbox/needs-you-inbox-page-client.tsx
  apps/web/components/needs-you-inbox/needs-you-inbox-empty-state.tsx
  apps/web/components/needs-you-inbox/needs-you-inbox-hidden-panel.test.tsx
  apps/web/components/needs-you-inbox/needs-you-inbox-hidden-panel.tsx
  apps/web/components/needs-you-inbox/needs-you-inbox-row.test.tsx
  apps/web/components/needs-you-inbox/needs-you-inbox-row.tsx
  apps/web/components/task/chat/clarification-input-overlay.test.tsx
  apps/web/components/task/chat/clarification-input-overlay.tsx
  apps/web/hooks/domains/session/use-clarification-group.ts
  apps/web/lib/needs-you-inbox/row-presentation.test.ts
  apps/web/lib/needs-you-inbox/row-presentation.ts
  apps/web/lib/state/slices/needs-you-inbox/selectors.ts
  docs/public/configuration.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: keep touch goal drawers open after tap
  apps/web/components/task/chat/agent-goal-chip.test.tsx
  apps/web/components/task/chat/agent-goal-chip.tsx
  apps/web/e2e/tests/chat/mobile-agent-goal.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: speed up contribution history boundary fixture
  apps/backend/internal/agentctl/server/process/git_contribution_history_edge_test.go
Due: gofmt, go-tests, go-lint

fix: make contribution history validation deterministic
  apps/backend/internal/agentctl/server/api/git.go
Due: gofmt, go-tests, go-lint

test: make history observer shims portable
  apps/backend/internal/agentctl/server/process/git_contribution_history_edge_test.go
  apps/backend/internal/agentctl/server/process/testmain_test.go
Due: gofmt, go-tests, go-lint

test: avoid race shim startup deadlines
  apps/backend/internal/agentctl/server/process/git.go
  apps/backend/internal/agentctl/server/process/git_contribution_history.go
  apps/backend/internal/agentctl/server/process/git_contribution_history_edge_test.go
  apps/backend/internal/agentctl/server/process/testmain_test.go
Due: gofmt, go-tests, go-lint

fix: address contribution history review findings
  apps/backend/internal/backendapp/e2e_reset.go
  apps/backend/internal/backendapp/e2e_reset_test.go
  apps/web/components/task/remote-contribution-header-actions.test.tsx
  apps/web/components/task/remote-contribution-header-actions.tsx
  apps/web/components/vcs-split-button-parts.tsx
  apps/web/components/vcs-split-button.test.ts
  apps/web/components/vcs-split-button.tsx
  apps/web/e2e/tests/git/git-changes-panel.spec.ts
  apps/web/e2e/tests/git/mobile-pr-checkout-drift.spec.ts
  apps/web/hooks/domains/session/use-contribution-history-explanation.test.tsx
  apps/web/hooks/domains/session/use-contribution-history-explanation.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test: align office sidebar expectation
  apps/web/e2e/tests/office/sidebar-office-gating.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: repair CI test compatibility
  apps/backend/internal/task/repository/sqlite/plan_comment_test.go
Due: gofmt, go-tests, go-lint

fix: serialize reset cleanup and failure settlement
  apps/backend/internal/agent/runtime/lifecycle/execution_context_reset.go
  apps/backend/internal/agent/runtime/lifecycle/manager_events.go
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction.go
  apps/backend/internal/agent/runtime/lifecycle/manager_startup.go
  apps/backend/internal/agent/runtime/lifecycle/types.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/adapter.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/adapter_session.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/adapter_session_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/event_handlers_workflow_reset_failure_test.go
Due: gofmt, go-tests, go-lint

fix: contain workflow reset failures (#3358)
  apps/backend/internal/agent/runtime/agentctl/agent_session_test.go
  apps/backend/internal/agent/runtime/errors.go
  apps/backend/internal/agent/runtime/lifecycle/execution_context_reset.go
  apps/backend/internal/agent/runtime/lifecycle/manager_events.go
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction.go
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction_reset_timeout_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_startup.go
  apps/backend/internal/agent/runtime/lifecycle/types.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/adapter_session.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/adapter_session_test.go
  apps/backend/internal/integration/simulated_agent_manager_test.go
  apps/backend/internal/integration/test_server_test.go
  apps/backend/internal/integration/workflow_context_reset_failure_test.go
  apps/backend/internal/orchestrator/event_handlers_agent.go
  apps/backend/internal/orchestrator/event_handlers_clarification.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/event_handlers_workflow_reset_failure_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow_reset_quiescence_test.go
  apps/backend/internal/orchestrator/stuck_signal_watchdog.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/web/components/task/chat/message-list-shared.test.tsx
  apps/web/components/task/chat/message-list-shared.tsx
  apps/web/e2e/tests/session/agent-error-indicator.spec.ts
  apps/web/e2e/tests/session/mobile-workflow-reset-error.spec.ts
  apps/web/e2e/tests/session/workflow-reset-error-helpers.ts
  docs/plans/workflow-reset-failure-containment/plan.md
  docs/plans/workflow-reset-failure-containment/task-01-reset-cancellation-outcome.md
  docs/plans/workflow-reset-failure-containment/task-02-provider-reset-timeout.md
  docs/plans/workflow-reset-failure-containment/task-03-workflow-reset-feedback.md
  docs/plans/workflow-reset-failure-containment/task-04-reset-recovery-surfaces.md
  docs/public/tasks-and-workflows.md
  docs/specs/tasks/requirements/workflow-step-agent-start-ownership.md
  docs/specs/tasks/system-design/workflow-step-agent-start-ownership.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: fence session deletion during workflow reset
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/event_handlers_workflow_reset_failure_test.go
  apps/backend/internal/orchestrator/task_operations.go
Due: gofmt, go-tests, go-lint

fix(web): clear stale session history loading state
  apps/web/e2e/tests/chat/inactive-session-transcript-reconciliation.spec.ts
  apps/web/e2e/tests/chat/mobile-busy-signal.spec.ts
  apps/web/hooks/domains/session/use-session-messages.test.ts
  apps/web/hooks/domains/session/use-session-messages.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(docs): keep contribution design within lint limit
  docs/specs/tasks/system-design/remote-contribution-tasks.md
Due: none

feat(ui): group homepage view settings
  apps/web/components/display-settings-disclosure.tsx
  apps/web/components/display-settings-summary.test.ts
  apps/web/components/display-settings-summary.ts
  apps/web/components/kanban-display-dropdown.test.tsx
  apps/web/components/kanban-display-dropdown.tsx
  apps/web/components/kanban/mobile-display-options.tsx
  apps/web/components/kanban/mobile-menu-sheet.test.tsx
  apps/web/components/kanban/mobile-menu-sheet.tsx
  apps/web/components/kanban/mobile-menu-styles.ts
  apps/web/components/task/sidebar-filter/sidebar-settings-disclosure.tsx
  apps/web/e2e/helpers/display-settings.ts
  apps/web/e2e/tests/gitlab/mobile-mr-tasks-list-badge.spec.ts
  apps/web/e2e/tests/gitlab/mr-tasks-list-badge.spec.ts
  apps/web/e2e/tests/kanban/board-priority-sort-filter.spec.ts
  apps/web/e2e/tests/kanban/display-settings-groups.spec.ts
  apps/web/e2e/tests/kanban/mobile-board-priority-sort-filter.spec.ts
  apps/web/e2e/tests/kanban/mobile-display-settings-groups.spec.ts
  apps/web/e2e/tests/kanban/step-visibility-filter.spec.ts
  apps/web/e2e/tests/kanban/swimlane-height-helpers.ts
  apps/web/e2e/tests/kanban/workflow-filter.spec.ts
  apps/web/e2e/tests/task/mobile-task-listing-display.spec.ts
  apps/web/e2e/tests/task/task-list-filters.spec.ts
  apps/web/e2e/tests/task/task-listing-view-preferences.spec.ts
  apps/web/hooks/use-mobile-menu-sheet-state.ts
  apps/web/src/locales/en/kanban.json
  apps/web/src/locales/pseudo/kanban.json
  apps/web/src/locales/pt-pt/kanban.json
  apps/web/src/locales/zh-cn/kanban.json
  apps/web/src/locales/zh-hk/kanban.json
  apps/web/src/locales/zh-tw/kanban.json
  docs/plans/homepage-view-settings/plan.md
  docs/plans/homepage-view-settings/task-01-group-display-settings.md
  docs/public/tasks-and-workflows.md
  docs/specs/ui/requirements/task-listing-display-preferences.md
  docs/specs/ui/system-design/task-listing-display-preferences.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: build canvas inspector from backend module
  .github/workflows/plugin-registry-index.yml
Due: none

test: stabilize canvas sharing CI fixtures
  apps/web/app/settings/plugins/page.test.tsx
  apps/web/e2e/tests/canvas/canvas-sharing.spec.ts
  apps/web/e2e/tests/canvas/mobile-canvas-sharing.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: scope documentation requirement lookups
  .github/scripts/pr-docs.cjs
  .github/scripts/pr-docs.test.cjs
Due: none

fix: harden canvas marketplace delivery
  apps/backend/internal/agentctl/server/api/workspace_canvas_source.go
  apps/backend/internal/agentctl/server/api/workspace_canvas_source_test.go
  apps/backend/internal/backendapp/canvas_distribution_routes.go
  apps/backend/internal/backendapp/canvas_distribution_routes_test.go
  apps/backend/internal/backendapp/services.go
  apps/backend/internal/canvas/authoring.go
  apps/backend/internal/canvas/authoring_test.go
  apps/backend/internal/canvas/distribution_download.go
  apps/backend/internal/canvas/distribution_download_test.go
  apps/backend/internal/canvas/distribution_export.go
  apps/backend/internal/canvas/distribution_export_test.go
  apps/backend/internal/canvas/distribution_install.go
  apps/backend/internal/plugins/instances/store.go
  apps/backend/internal/plugins/manifest/semver.go
  apps/backend/internal/plugins/service_install.go
  apps/backend/internal/plugins/webapp/distribution.go
  apps/backend/internal/plugins/webapp/distribution_test.go
  apps/web/components/settings/canvas-share-dialog.tsx
  apps/web/components/settings/plugins/canvas-install-dialog.tsx
  apps/web/hooks/domains/canvas/use-canvas-share.test.ts
  apps/web/hooks/domains/canvas/use-canvas-share.ts
  docs/plans/canvas-marketplace/task-03-reviewed-installation.md
  docs/plans/canvas-marketplace/task-04-registry-catalog.md
  docs/plans/canvas-marketplace/task-05-marketplace-ui.md
  docs/plans/canvas-marketplace/task-06-sharing-ui.md
  plugin-registry/build-index.mjs
  plugin-registry/build-index.test.mjs
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: keep PR documentation coverage within search limits
  docs/plans/canvas-marketplace-plugin/plan.md
  docs/plans/canvas-marketplace-plugin/task-01-plugin-previews.md
  docs/plans/canvas-marketplace/plan.md
  docs/plans/canvas-marketplace/task-04-registry-catalog.md
  docs/plans/canvas-marketplace/task-05-marketplace-ui.md
  docs/plans/canvas-marketplace/task-07-distribution-docs.md
Due: none

fix: align canvas marketplace control sizing
  .agents/skills/mobile-parity/references/control-sizing.md
  apps/web/components/settings/plugins/canvas-install-dialog.tsx
  apps/web/components/settings/plugins/canvas-marketplace.tsx
  apps/web/e2e/tests/canvas/canvas-marketplace.spec.ts
  apps/web/e2e/tests/canvas/mobile-canvas-marketplace.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: harden canvas sharing and installation
  apps/backend/internal/agentctl/server/api/workspace_canvas_source_test.go
  apps/backend/internal/backendapp/canvas_distribution_routes.go
  apps/backend/internal/backendapp/services.go
  apps/backend/internal/canvas/distribution_export.go
  apps/backend/internal/canvas/distribution_export_test.go
  apps/backend/internal/canvas/distribution_install.go
  apps/backend/internal/canvas/release_projection.go
  apps/backend/internal/canvas/release_projection_test.go
  apps/backend/internal/canvas/types.go
  apps/backend/internal/plugins/webapp/distribution.go
  apps/web/components/settings/canvas-host-route.tsx
  apps/web/components/settings/canvas-share-dialog.test.tsx
  apps/web/components/settings/canvas-share-dialog.tsx
  apps/web/components/settings/plugins/canvas-install-dialog.test.tsx
  apps/web/components/settings/plugins/canvas-install-dialog.tsx
  apps/web/components/settings/plugins/canvas-marketplace.test.ts
  apps/web/components/settings/plugins/canvas-marketplace.tsx
  apps/web/e2e/tests/canvas/canvas-sharing.spec.ts
  apps/web/e2e/tests/canvas/mobile-canvas-sharing.spec.ts
  apps/web/hooks/domains/canvas/use-canvas-install.test.ts
  apps/web/hooks/domains/canvas/use-canvas-install.ts
  apps/web/hooks/domains/canvas/use-canvas-share.test.ts
  apps/web/hooks/domains/canvas/use-canvas-share.ts
  apps/web/lib/api/domains/canvas-api.ts
  apps/web/src/locales/en/canvases.json
  apps/web/src/locales/en/plugins.json
  apps/web/src/locales/pseudo/canvases.json
  apps/web/src/locales/pseudo/plugins.json
  apps/web/src/locales/pt-pt/canvases.json
  apps/web/src/locales/pt-pt/plugins.json
  apps/web/src/locales/zh-cn/canvases.json
  apps/web/src/locales/zh-cn/plugins.json
  apps/web/src/locales/zh-hk/canvases.json
  apps/web/src/locales/zh-hk/plugins.json
  apps/web/src/locales/zh-tw/canvases.json
  apps/web/src/locales/zh-tw/plugins.json
  docs/specs/canvases/system-design/agent-authored-web-apps.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(office): source the queue_run engine action's actor from the task carrier
  apps/backend/internal/backendapp/main.go
  apps/backend/internal/backendapp/queue_run_actor_source_test.go
  apps/backend/internal/backendapp/runs_engine_adapter_actor_test.go
  apps/backend/internal/office/service/run.go
  apps/backend/internal/office/service/run_causation_carrier.go
  apps/backend/internal/office/service/run_causation_carrier_completeness_test.go
  apps/backend/internal/office/service/run_causation_carrier_test.go
Due: gofmt, go-tests, go-lint

fix: preserve reset events during lifecycle finalization
  apps/backend/internal/agent/runtime/lifecycle/execution_context_reset.go
  apps/backend/internal/agent/runtime/lifecycle/execution_context_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction.go
Due: gofmt, go-tests, go-lint

fix: retry unavailable comparison targets reliably
  apps/backend/internal/agentctl/server/process/manager.go
  apps/backend/internal/agentctl/server/process/manager_comparison_targets.go
  apps/backend/internal/agentctl/server/process/manager_comparison_targets_test.go
  apps/backend/internal/agentctl/server/process/manager_rescan.go
  apps/backend/internal/agentctl/server/process/manager_submodules.go
  apps/web/e2e/tests/chat/mobile-agent-goal.spec.ts
  apps/web/e2e/tests/chat/quick-chat-helpers.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat(office): write the task-boundary causation carrier on subtask creation
  apps/backend/internal/backendapp/adapters_office.go
  apps/backend/internal/backendapp/adapters_office_test.go
  apps/backend/internal/office/runtime/actions.go
  apps/backend/internal/office/runtime/actions_test.go
  apps/backend/internal/office/runtime/handler_test.go
  apps/backend/internal/office/service/service.go
  apps/backend/internal/office/service/subtask_creator_test.go
  apps/backend/internal/task/service/service_child_task.go
Due: gofmt, go-tests, go-lint

fix(e2e): stabilize virtualized Kanban bottom scrolling
  apps/web/e2e/tests/kanban/large-column-virtualization-helpers.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: persist right-panel visibility across layouts (#3657)
  apps/web/components/task/dockview-desktop-layout.tsx
  apps/web/components/task/dockview-header-actions.tsx
  apps/web/components/task/dockview-layout-restore.ts
  apps/web/components/task/document/document-controls.tsx
  apps/web/components/task/mobile/session-tablet-layout.test.tsx
  apps/web/components/task/mobile/session-tablet-layout.tsx
  apps/web/components/task/task-right-panels-toggle.test.tsx
  apps/web/components/task/task-right-panels-toggle.tsx
  apps/web/components/task/task-top-bar.tsx
  apps/web/e2e/tests/layout/mobile-right-panel-visibility.spec.ts
  apps/web/e2e/tests/layout/right-panel-visibility.spec.ts
  apps/web/hooks/use-task-right-panels-toggle.test.ts
  apps/web/hooks/use-task-right-panels-toggle.ts
  apps/web/lib/state/dockview-env-switch-action.test.ts
  apps/web/lib/state/dockview-preset-persistence.test.ts
  apps/web/lib/state/dockview-right-panel-visibility.test.ts
  apps/web/lib/state/dockview-store.ts
  apps/web/lib/state/layout-manager/index.ts
  apps/web/lib/state/layout-manager/serializer.test.ts
  apps/web/lib/state/layout-manager/serializer.ts
  apps/web/src/locales/en/task.json
  apps/web/src/locales/pseudo/task.json
  apps/web/src/locales/pt-pt/task.json
  apps/web/src/locales/zh-cn/task.json
  apps/web/src/locales/zh-hk/task.json
  apps/web/src/locales/zh-tw/task.json
  docs/plans/right-panel-visibility/plan.md
  docs/plans/right-panel-visibility/task-01-persistent-toggle.md
  docs/public/tasks-and-workflows.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(ui): address display settings review feedback
  apps/web/components/display-settings-disclosure.tsx
  apps/web/components/display-settings-summary.test.ts
  apps/web/components/kanban-display-dropdown.tsx
  apps/web/components/kanban/kanban-header.tsx
  apps/web/components/kanban/mobile-display-options.tsx
  apps/web/components/kanban/mobile-menu-sheet.test.tsx
  apps/web/e2e/tests/kanban/display-settings-groups.spec.ts
  apps/web/e2e/tests/kanban/mobile-display-settings-groups.spec.ts
  apps/web/e2e/tests/kanban/workflow-filter.spec.ts
  docs/specs/ui/system-design/task-listing-display-preferences.md
Due: prettier-format, web-lint, web-tests, web-typecheck

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
