Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

fix(ci): preserve walkthrough HTML bytes
  .github/scripts/pr-walkthrough-workflow-contract_test.py
  .github/workflows/pr-walkthrough.yml
  docs/plans/pr-walkthrough/task-04-r2-html-publication.md
Due: none

fix(agents): avoid platform cache deletion in stderr test
  apps/backend/internal/agentctl/server/process/managed_runtime_test.go
Due: gofmt, go-tests, go-lint

fix(web): polish archive confirmation warning surfaces
  apps/web/components/confirmation/action-confirm-popover.test.tsx
  apps/web/components/confirmation/action-confirm-popover.tsx
  apps/web/components/task/task-archive-confirm-dialog.test.tsx
  apps/web/components/task/task-archive-confirmation.tsx
  apps/web/components/task/task-delete-confirm-dialog.test.tsx
  apps/web/components/task/task-still-working-warning.tsx
  apps/web/components/task/task-switcher-context-menu.tsx
  apps/web/e2e/tests/task/archive-confirmation-preference.spec.ts
  apps/web/e2e/tests/task/mobile-sidebar-task-actions.spec.ts
  docs/plans/task-confirmation-warning-polish/plan.md
  docs/plans/task-confirmation-warning-polish/task-01-compact-warning.md
  docs/specs/tasks/README.md
  docs/specs/tasks/requirements/confirmation-warning-hierarchy.md
  docs/specs/tasks/system-design/confirmation-warning-hierarchy.md
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: clarify worktree reuse inventory wording
  docs/specs/tasks/system-design/runtime-cleanup.md
Due: none

ci: unify trusted contributor PR automation
  .github/scripts/claude-code-review-workflow-contract_test.py
  .github/scripts/opencode-code-review-workflow-contract_test.py
  .github/scripts/pr-walkthrough-workflow-contract_test.py
  .github/scripts/preview-env-workflow-contract_test.py
  .github/workflows/claude-code-review.yml
  .github/workflows/pr-walkthrough.yml
  .github/workflows/preview-env.yml
  docs/decisions/2026-08-07-claude-allowlist-label-bridge.md
  docs/decisions/2026-08-22-persistent-fork-approval-labels.md
  docs/decisions/2026-08-24-unified-fork-approval-label.md
  docs/decisions/INDEX.md
  docs/plans/unified-contributor-pr-automation/plan.md
  docs/plans/unified-contributor-pr-automation/task-01-unify-fork-approval-label.md
  docs/plans/unified-contributor-pr-automation/task-02-enable-approved-fork-walkthroughs.md
  docs/specs/ci/README.md
  docs/specs/ci/requirements/unified-contributor-pr-automation.md
  docs/specs/ci/system-design/unified-contributor-pr-automation.md
  docs/specs/claude-fork-review-allowlist/spec.md
  docs/specs/pr-walkthrough/spec.md
  scripts/opencode-code-review.test.sh
Due: none

fix(ssh): harden IdentityAgent expansion
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh_connection.go
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh_connection_test.go
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh_dial_test.go
Due: gofmt, go-tests, go-lint

fix: tighten trusted contributor contracts
  docs/specs/claude-fork-review-allowlist/spec.md
  scripts/opencode-code-review.test.sh
Due: none

fix(modelsdev): use a closed channel to join the idempotent-release test
  apps/backend/internal/office/costs/modelsdev/client_test.go
Due: gofmt, go-tests, go-lint

fix(agents): use existing cache root in stderr test
  apps/backend/internal/agentctl/server/process/managed_runtime_test.go
Due: gofmt, go-tests, go-lint

docs: record contributor automation fixup
  docs/plans/unified-contributor-pr-automation/plan.md
  docs/plans/unified-contributor-pr-automation/task-01-unify-fork-approval-label.md
  docs/plans/unified-contributor-pr-automation/task-02-enable-approved-fork-walkthroughs.md
Due: none

fix(runtime): handle absent Windows npx cache tree
  apps/backend/internal/agent/managedruntime/cache_windows.go
Due: gofmt, go-tests, go-lint

docs: correct false claims in backend architecture docs
  AGENTS.md
  apps/backend/AGENTS.md
  apps/backend/internal/agentctl/AGENTS.md
Due: none

fix(agent-runtime): retain executions when runtime stop fails
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction.go
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction_accessors_test.go
Due: gofmt, go-tests, go-lint

fix(agentctl): make instance deletion idempotent
  apps/backend/internal/agent/hostutility/instance_notfound_test.go
  apps/backend/internal/agent/hostutility/manager.go
  apps/backend/internal/agent/runtime/agentctl/control.go
  apps/backend/internal/agent/runtime/agentctl/control_test.go
Due: gofmt, go-tests, go-lint

feat(ssh): reclaim remote task directories on terminal archive or delete
  apps/backend/AGENTS.md
  apps/backend/internal/agent/runtime/lifecycle/executor_backend.go
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh_reclaim.go
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh_reclaim_optin_test.go
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh_reclaim_test.go
  apps/backend/internal/backendapp/ssh_reclaim.go
  apps/backend/internal/backendapp/worktree.go
  apps/backend/internal/orchestrator/executor/executor_state.go
  apps/backend/internal/orchestrator/executor/executor_state_reclaim_test.go
  apps/backend/internal/task/service/resource_cleanup_jobs.go
  apps/backend/internal/task/service/resource_cleanup_ssh.go
  apps/backend/internal/task/service/resource_cleanup_ssh_test.go
  apps/backend/internal/task/service/service.go
  apps/web/app/settings/executors/[profileId]/page.tsx
  apps/web/components/settings/profile-edit/serialize-executor-config.test.ts
  apps/web/components/settings/profile-edit/serialize-executor-config.ts
  apps/web/components/settings/ssh-task-dir-reclamation-card.test.ts
  apps/web/components/settings/ssh-task-dir-reclamation-card.tsx
  apps/web/src/locales/en/executors.json
  apps/web/src/locales/pseudo/executors.json
  apps/web/src/locales/pt-pt/executors.json
  apps/web/src/locales/zh-cn/executors.json
  apps/web/src/locales/zh-hk/executors.json
  apps/web/src/locales/zh-tw/executors.json
  docs/decisions/2026-08-25-opt-in-ssh-task-directory-reclamation.md
  docs/decisions/INDEX.md
  docs/plans/ssh-remote-task-dir-reclamation/plan.md
  docs/plans/ssh-remote-task-dir-reclamation/task-01-reclaim-probe-and-removal.md
  docs/plans/ssh-remote-task-dir-reclamation/task-02-profile-opt-in.md
  docs/plans/ssh-remote-task-dir-reclamation/task-03-cleanup-job-phase.md
  docs/plans/ssh-remote-task-dir-reclamation/task-04-settings-toggle.md
  docs/plans/ssh-remote-task-dir-reclamation/task-05-adr-and-docs.md
  docs/public/feature-status.md
  docs/specs/ssh-executor/README.md
  docs/specs/ssh-executor/requirements/remote-task-directory-reclamation.md
  docs/specs/ssh-executor/spec.md
  docs/specs/ssh-executor/system-design/remote-task-directory-reclamation.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(workspaces): address branch policy review findings
  apps/backend/internal/backendapp/boot_state_routes.go
  apps/backend/internal/gateway/websocket/task_notifications_test.go
  apps/backend/internal/task/handlers/repository_branch_policy_handlers.go
  apps/backend/internal/task/handlers/task_http_handlers.go
  apps/backend/internal/task/handlers/task_http_handlers_test.go
  apps/backend/internal/task/repository/interface.go
  apps/backend/internal/task/repository/sqlite/repository_branch_policy.go
  apps/backend/internal/task/repository/sqlite/repository_branch_policy_test.go
  apps/backend/internal/task/service/service_repository_branch_policies.go
  apps/backend/internal/task/service/service_repository_branch_policies_test.go
  apps/backend/internal/task/service/service_tasks.go
  apps/web/components/settings/repository-branch-policies.tsx
  apps/web/components/settings/repository-card.test.tsx
  apps/web/components/task/task-page-content-helpers.ts
  apps/web/components/task/task-page-inner.tsx
  apps/web/components/vcs/vcs-dialogs.test.ts
  apps/web/components/vcs/vcs-dialogs.tsx
  apps/web/e2e/tests/settings/mobile-repository-branch-policies.spec.ts
  apps/web/e2e/tests/task/create-task-branch-policy.spec.ts
  apps/web/lib/state/slices/workspace/repository-branch-policies-slice.test.ts
  apps/web/lib/state/slices/workspace/workspace-slice.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(web): wrap branch policy chip tests in state provider
  apps/web/components/task-create-dialog-workspace-repo-chips.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test: scope terminal e2e helpers to active panels
  apps/web/e2e/pages/session-page.ts
  apps/web/e2e/tests/task/create-task-github-url.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(lifecycle): cover retry after client close
  apps/backend/internal/agent/runtime/lifecycle/manager_stop_retry_agentctl_test.go
Due: gofmt, go-tests, go-lint

docs: address PR #3001 review feedback
  apps/backend/AGENTS.md
  apps/backend/internal/agentctl/AGENTS.md
Due: none

test(scriptengine): cover full GitHub auth setup
  apps/backend/internal/scriptengine/providers_test.go
Due: gofmt, go-tests, go-lint

fix(runtime): retain activity on failed stop
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction.go
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction_accessors_test.go
  apps/backend/internal/orchestrator/dynamic_launch.go
  apps/backend/internal/orchestrator/dynamic_launch_test.go
  apps/backend/internal/orchestrator/executor/executor_interaction.go
  apps/backend/internal/orchestrator/executor/executor_interaction_test.go
Due: gofmt, go-tests, go-lint

fix(ssh): address reclamation review feedback
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh_reclaim.go
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh_reclaim_test.go
  apps/backend/internal/agent/runtime/ssh_reclaim.go
  apps/backend/internal/agent/runtime/ssh_reclaim_test.go
  apps/backend/internal/backendapp/ssh_reclaim.go
  apps/backend/internal/backendapp/ssh_reclaim_test.go
  apps/backend/internal/backendapp/worktree.go
  apps/backend/internal/task/repository/interface.go
  apps/backend/internal/task/repository/sqlite/resource_cleanup.go
  apps/backend/internal/task/service/resource_cleanup_jobs.go
  apps/backend/internal/task/service/resource_cleanup_jobs_test.go
  apps/backend/internal/task/service/resource_cleanup_ssh.go
  apps/backend/internal/task/service/resource_cleanup_ssh_test.go
  apps/web/components/settings/ssh-task-dir-reclamation-card.test.ts
  apps/web/components/settings/ssh-task-dir-reclamation-card.tsx
  docs/decisions/2026-08-24-opt-in-ssh-task-directory-reclamation.md
  docs/decisions/INDEX.md
  docs/plans/ssh-remote-task-dir-reclamation/plan.md
  docs/plans/ssh-remote-task-dir-reclamation/task-01-reclaim-probe-and-removal.md
  docs/public/feature-status.md
  docs/specs/ssh-executor/requirements/remote-task-directory-reclamation.md
  docs/specs/ssh-executor/spec.md
  docs/specs/ssh-executor/system-design/remote-task-directory-reclamation.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(ssh): tolerate race test startup delay
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh_connection_test.go
Due: gofmt, go-tests, go-lint

fix: stop transcript pagination at first prompt
  apps/web/components/task/prompt-history-panel-content.test.tsx
  apps/web/components/task/prompt-history-panel-content.tsx
  apps/web/e2e/tests/chat/message-pagination-helpers.ts
  apps/web/e2e/tests/chat/message-pagination.spec.ts
  apps/web/e2e/tests/chat/mobile-message-pagination.spec.ts
  apps/web/hooks/use-lazy-load-messages.test.ts
  apps/web/hooks/use-lazy-load-messages.ts
  docs/plans/hide-redundant-older-messages-control/plan.md
  docs/plans/hide-redundant-older-messages-control/task-01-stop-visible-pagination-at-first-prompt.md
  docs/specs/ui/README.md
  docs/specs/ui/requirements/task-prompt-transcript-visibility.md
  docs/specs/ui/system-design/task-prompt-transcript-visibility.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(agentctl): treat model with no config options as valid empty resolution
  apps/backend/internal/agent/hostutility/public.go
  apps/backend/internal/agentctl/server/utility/acp_executor.go
  apps/backend/internal/agentctl/server/utility/acp_probe_capabilities_test.go
  apps/backend/internal/agentctl/server/utility/model_apply_test.go
Due: gofmt, go-tests, go-lint

fix(agentctl): scope empty model resolution to the legacy set_model path
  apps/backend/internal/agentctl/server/utility/acp_executor.go
  apps/backend/internal/agentctl/server/utility/acp_probe_capabilities_test.go
  apps/backend/internal/agentctl/server/utility/model_apply_test.go
Due: gofmt, go-tests, go-lint

fix: preserve transcript recovery pagination
  apps/web/components/task/chat/tiptap-input.tsx
  apps/web/components/task/chat/use-drain-older-messages.test.ts
  apps/web/components/task/chat/use-drain-older-messages.ts
  apps/web/components/task/task-chat-panel.tsx
  apps/web/e2e/tests/chat/message-pagination-helpers.ts
  apps/web/e2e/tests/chat/message-pagination.spec.ts
  apps/web/e2e/tests/chat/mobile-message-pagination.spec.ts
  apps/web/hooks/use-lazy-load-messages.test.ts
  apps/web/hooks/use-lazy-load-messages.ts
  docs/plans/hide-redundant-older-messages-control/plan.md
  docs/plans/hide-redundant-older-messages-control/task-01-stop-visible-pagination-at-first-prompt.md
  docs/specs/ui/system-design/task-prompt-transcript-visibility.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(task): accept plugin-owned repository providers on task create
  apps/backend/internal/backendapp/git_credentials.go
  apps/backend/internal/backendapp/main.go
  apps/backend/internal/task/service/remote_repository_test.go
  apps/backend/internal/task/service/service.go
  apps/backend/internal/task/service/service_requests.go
  apps/backend/internal/task/service/service_tasks.go
  docs/public/plugins-manifest.md
Due: gofmt, go-tests, go-lint

docs: clarify specification review findings
  docs/specs/guide/requirements.md
  docs/specs/integrations/system-design/github-pr-merge-queue.md
  docs/specs/tasks/requirements/run-scheduling.md
  docs/specs/tasks/requirements/task-launch-failure-recovery.md
  docs/specs/tasks/system-design/archive-confirmation.md
  docs/specs/tasks/system-design/run-scheduling.md
  docs/specs/tasks/system-design/task-launch-failure-recovery.md
Due: none

fix(web): prevent branch policy option overlap
  apps/web/components/task-create-dialog-workspace-repo-chips.tsx
  apps/web/e2e/tests/task/create-task-branch-policy-helpers.ts
  apps/web/e2e/tests/task/create-task-branch-policy.spec.ts
  apps/web/e2e/tests/task/mobile-create-task-branch-policy.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: stop eager chat history loading
  apps/web/components/task/chat/message-list-native-scroll.ts
  apps/web/components/task/chat/message-list-shared.test.tsx
  apps/web/components/task/chat/message-list-shared.tsx
  apps/web/components/task/task-chat-panel.tsx
  apps/web/e2e/tests/chat/message-pagination-helpers.ts
  apps/web/e2e/tests/chat/message-pagination.spec.ts
  apps/web/e2e/tests/chat/mobile-message-pagination.spec.ts
  apps/web/hooks/domains/session/message-backfill.ts
  apps/web/hooks/domains/session/use-session-message-fetch.test.ts
  apps/web/hooks/domains/session/use-session-message-fetch.ts
  apps/web/hooks/domains/session/use-session-messages.test.ts
  apps/web/hooks/domains/session/use-session-messages.ts
  docs/plans/hide-redundant-older-messages-control/plan.md
  docs/plans/hide-redundant-older-messages-control/task-02-stop-eager-history-loading.md
  docs/specs/ui/system-design/task-prompt-transcript-visibility.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(ui): keep title previews scoped to Kanban
  apps/web/components/task/task-item.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(ui): clarify entity overlay anchoring
  docs/specs/ui/requirements/entity-reference-composer.md
Due: none

fix(backend): use session auth token for non-Docker launch/resume
  apps/backend/internal/agent/runtime/lifecycle/manager_auth_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_launch.go
Due: gofmt, go-tests, go-lint

fix(office): make reviewer decisions explicit and flag missing ones
  apps/backend/internal/office/repository/sqlite/step_decisions.go
  apps/backend/internal/office/service/event_subscribers.go
  apps/backend/internal/office/service/event_subscribers_decision_test.go
  apps/backend/internal/office/service/prompt_builder.go
  apps/backend/internal/office/service/prompt_builder_test.go
Due: gofmt, go-tests, go-lint

fix(office): migrate use-task-quorum off the retired refetchTriggers map
  apps/web/hooks/domains/office/use-task-quorum.test.ts
  apps/web/hooks/domains/office/use-task-quorum.ts
Due: prettier-format, web-lint, web-tests, web-typecheck
