Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

fix(coordinator): ignore the stored tool binding while phase 2 is off
  apps/backend/internal/orchestrator/executor/executor.go
  apps/backend/internal/orchestrator/executor/executor_coordinator_binding.go
  apps/backend/internal/orchestrator/executor/executor_coordinator_binding_test.go
  apps/backend/internal/orchestrator/executor/executor_coordinator_mcp_mode_test.go
  apps/backend/internal/orchestrator/executor/executor_execute.go
Due: gofmt, go-tests, go-lint

fix(coordinator): name the first invalid policy action; oversized body is invalid_body
  apps/backend/internal/coordinator/handlers_settings.go
  apps/backend/internal/coordinator/handlers_settings_test.go
  apps/backend/internal/coordinator/settings.go
  apps/backend/internal/coordinator/settings_test.go
Due: gofmt, go-tests, go-lint

fix: keep out-of-turn todo reports durable
  apps/backend/internal/backendapp/adapters.go
  apps/backend/internal/integration/test_server_test.go
  apps/backend/internal/orchestrator/event_handlers_streaming.go
  apps/backend/internal/orchestrator/event_handlers_streaming_test.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/task_operations_test.go
  docs/plans/resume-todo-replay-turn/plan.md
  docs/plans/resume-todo-replay-turn/task-01-todo-turn-ownership.md
  docs/specs/tasks/requirements/workflow-explicit-completion-signal.md
  docs/specs/tasks/system-design/workflow-explicit-completion-signal.md
Due: gofmt, go-tests, go-lint

docs(coordinator): close spec review round 1 gaps for sections, orders and goal UI
  docs/plans/workspace-coordinator-p2/task-11-orders-goal-sections.md
  docs/specs/coordinator/system-design/coordinators.md
  docs/specs/coordinator/system-design/goals.md
  docs/specs/coordinator/system-design/standing-orders.md
Due: none

feat(coordinator): add the What it did section to the Queue
  apps/web/app/coordinator/coordinator-route-content.test.tsx
  apps/web/app/coordinator/needs-you-page-client.test.tsx
  apps/web/app/coordinator/queue-page-client.test.tsx
  apps/web/app/coordinator/queue-page-client.tsx
  apps/web/app/coordinator/queue/activity-locales.test.ts
  apps/web/app/coordinator/queue/activity-text.ts
  apps/web/app/coordinator/queue/undo-dialog.tsx
  apps/web/app/coordinator/queue/what-it-did-filter.tsx
  apps/web/app/coordinator/queue/what-it-did-row.tsx
  apps/web/app/coordinator/queue/what-it-did.test.tsx
  apps/web/app/coordinator/queue/what-it-did.tsx
  apps/web/app/coordinator/use-coordinator-attention.test.ts
  apps/web/app/coordinator/use-coordinator-attention.ts
  apps/web/e2e/tests/coordinator/mobile-what-it-did.spec.ts
  apps/web/e2e/tests/coordinator/what-it-did.spec.ts
  apps/web/hooks/domains/coordinator/activity-controller.test.ts
  apps/web/hooks/domains/coordinator/activity-controller.ts
  apps/web/hooks/domains/coordinator/use-activity-members.test.ts
  apps/web/hooks/domains/coordinator/use-activity-members.ts
  apps/web/hooks/domains/coordinator/use-activity.test.ts
  apps/web/hooks/domains/coordinator/use-activity.ts
  apps/web/lib/api/domains/coordinator-activity-api.test.ts
  apps/web/lib/api/domains/coordinator-activity-api.ts
  apps/web/src/locales/en/coordinator.json
  apps/web/src/locales/ja/coordinator.json
  apps/web/src/locales/pseudo/coordinator.json
  apps/web/src/locales/pt-pt/coordinator.json
  apps/web/src/locales/zh-cn/coordinator.json
  apps/web/src/locales/zh-hk/coordinator.json
  apps/web/src/locales/zh-tw/coordinator.json
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(coordinator): close spec review round 2 gaps for drafts, due date and note
  docs/plans/workspace-coordinator-p2/task-11-orders-goal-sections.md
  docs/specs/coordinator/system-design/coordinators.md
  docs/specs/coordinator/system-design/goals.md
  docs/specs/coordinator/system-design/shared-interface.md
  docs/specs/coordinator/system-design/standing-orders.md
Due: none

docs(coordinator): close spec review round 1 on proposal kinds
  docs/plans/workspace-coordinator-p2/task-04-proposal-kinds-backend.md
  docs/specs/coordinator/requirements/proposal-kinds.md
  docs/specs/coordinator/system-design/proposal-kinds.md
Due: none

docs(coordinator): close spec review round 2 on proposal kinds
  docs/plans/workspace-coordinator-p2/task-04-proposal-kinds-backend.md
  docs/specs/coordinator/requirements/proposal-kinds.md
  docs/specs/coordinator/system-design/proposal-kinds.md
Due: none

feat(coordinator): add standing order and goal web client and goal form helpers
  apps/web/lib/api/domains/coordinator-api.test.ts
  apps/web/lib/api/domains/coordinator-api.ts
  apps/web/lib/coordinators/goal-form.test.ts
  apps/web/lib/coordinators/goal-form.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(coordinator): add goal and standing order read hooks
  apps/web/hooks/domains/coordinator/use-goal.test.ts
  apps/web/hooks/domains/coordinator/use-goal.ts
  apps/web/hooks/domains/coordinator/use-standing-orders.test.ts
  apps/web/hooks/domains/coordinator/use-standing-orders.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(coordinator): close spec review round 3 on proposal kinds
  docs/plans/workspace-coordinator-p2/task-04-proposal-kinds-backend.md
  docs/specs/coordinator/requirements/proposal-kinds.md
  docs/specs/coordinator/system-design/proposal-kinds.md
Due: none

docs(coordinator): fold the phase-2 build rulings for tasks 02, 08, 10 and 12 into the design
  docs/decisions/2026-09-29-coordinator-phase-2-control.md
  docs/plans/workspace-coordinator-p2/plan.md
  docs/plans/workspace-coordinator-p2/task-02-policy-enforcement.md
  docs/plans/workspace-coordinator-p2/task-03-activity-log-backend.md
  docs/plans/workspace-coordinator-p2/task-04-proposal-kinds-backend.md
  docs/plans/workspace-coordinator-p2/task-08-what-it-did-ui.md
  docs/plans/workspace-coordinator-p2/task-10-copilot-everywhere.md
  docs/plans/workspace-coordinator-p2/task-12-goals-backend.md
  docs/specs/coordinator/requirements/activity-log.md
  docs/specs/coordinator/requirements/copilot-everywhere.md
  docs/specs/coordinator/requirements/goals.md
  docs/specs/coordinator/system-design/activity-log.md
  docs/specs/coordinator/system-design/copilot-everywhere.md
  docs/specs/coordinator/system-design/goals.md
  docs/specs/coordinator/system-design/permissions.md
  docs/specs/coordinator/system-design/shared-interface.md
  docs/specs/coordinator/system-design/what-it-did-ui.md
Due: none

fix(coordinator): keep the tool binding out of executor-config launch metadata
  apps/backend/internal/agent/runtime/lifecycle/manager_launch.go
  apps/backend/internal/agent/runtime/lifecycle/mcp_identity_coordinator_test.go
Due: gofmt, go-tests, go-lint

feat(coordinator): add sections row, standing orders, goal and goal note UI
  apps/web/app/coordinator/components/goal-note.test.tsx
  apps/web/app/coordinator/components/goal-note.tsx
  apps/web/app/coordinator/needs-you-page-client.test.tsx
  apps/web/app/coordinator/needs-you-page-client.tsx
  apps/web/components/coordinators/add-standing-order-dialog.test.tsx
  apps/web/components/coordinators/add-standing-order-dialog.tsx
  apps/web/components/coordinators/coordinator-editor-page.test.tsx
  apps/web/components/coordinators/coordinator-editor-page.tsx
  apps/web/components/coordinators/sections/coordinator-sections.tsx
  apps/web/components/coordinators/sections/goal-form-fields.tsx
  apps/web/components/coordinators/sections/goal-measures.tsx
  apps/web/components/coordinators/sections/goal-section.test.tsx
  apps/web/components/coordinators/sections/goal-section.tsx
  apps/web/components/coordinators/sections/sections-row.test.tsx
  apps/web/components/coordinators/sections/sections-row.tsx
  apps/web/components/coordinators/sections/standing-order-row.tsx
  apps/web/components/coordinators/sections/standing-orders-section.test.tsx
  apps/web/components/coordinators/sections/standing-orders-section.tsx
  apps/web/components/coordinators/sections/use-goal-editor.ts
  apps/web/hooks/domains/coordinator/use-coordinator-section.test.ts
  apps/web/hooks/domains/coordinator/use-coordinator-section.ts
  apps/web/src/locales/en/coordinator.json
  apps/web/src/locales/ja/coordinator.json
  apps/web/src/locales/pseudo/coordinator.json
  apps/web/src/locales/pt-pt/coordinator.json
  apps/web/src/locales/zh-cn/coordinator.json
  apps/web/src/locales/zh-hk/coordinator.json
  apps/web/src/locales/zh-tw/coordinator.json
Due: prettier-format, web-lint, web-tests, web-typecheck

test(coordinator): interleaving table and failing at-most-once tests for kinds
  apps/backend/internal/coordinator/interleavings_kinds_test.go
  docs/plans/workspace-coordinator-p2/task-04-proposal-kinds-backend.md
Due: gofmt, go-tests, go-lint

feat(coordinator): kind registry with resume, message and move executors
  apps/backend/internal/backendapp/coordinator_undo.go
  apps/backend/internal/backendapp/coordinator_undo_test.go
  apps/backend/internal/coordinator/activity_review_round_test.go
  apps/backend/internal/coordinator/activity_service_test.go
  apps/backend/internal/coordinator/approval_sweep.go
  apps/backend/internal/coordinator/approve.go
  apps/backend/internal/coordinator/approve_kinds.go
  apps/backend/internal/coordinator/decision_phase2.go
  apps/backend/internal/coordinator/eligibility.go
  apps/backend/internal/coordinator/eligibility_starts_agent_test.go
  apps/backend/internal/coordinator/kind_message.go
  apps/backend/internal/coordinator/kind_move.go
  apps/backend/internal/coordinator/kind_resume.go
  apps/backend/internal/coordinator/kind_seams.go
  apps/backend/internal/coordinator/kinds.go
  apps/backend/internal/coordinator/models.go
  apps/backend/internal/coordinator/propose_kinds.go
  apps/backend/internal/coordinator/recovery.go
  apps/backend/internal/coordinator/service.go
  apps/backend/internal/coordinator/store_kinds.go
  apps/backend/internal/coordinator/store_proposals.go
  apps/backend/internal/coordinator/undo_seam.go
Due: gofmt, go-tests, go-lint

test(coordinator): execute, edit and propose coverage for the new kinds
  apps/backend/internal/coordinator/activity_service_test.go
  apps/backend/internal/coordinator/interleavings_kinds_test.go
  apps/backend/internal/coordinator/kinds_execute_test.go
  apps/backend/internal/coordinator/kinds_propose_test.go
Due: gofmt, go-tests, go-lint

fix(worktree): recreate missing attach-only checkout instead of failing recovery
  apps/backend/internal/worktree/manager_lifecycle.go
  apps/backend/internal/worktree/manager_reuse_required_test.go
Due: gofmt, go-tests, go-lint

feat(coordinator): agent-starting creates and standing order citations on propose_task
  apps/backend/internal/coordinator/approve.go
  apps/backend/internal/coordinator/eligibility.go
  apps/backend/internal/coordinator/kinds_create_start_test.go
  apps/backend/internal/coordinator/models.go
  apps/backend/internal/coordinator/proposals.go
  apps/backend/internal/coordinator/spec_validate.go
  apps/backend/internal/coordinator/step_graph.go
Due: gofmt, go-tests, go-lint

feat(coordinator): propose resume, message and move tools with standing order citations
  apps/backend/internal/coordinator/mcpcontract/contract.go
  apps/backend/internal/coordinator/models.go
  apps/backend/internal/coordinator/propose_kinds.go
  apps/backend/internal/coordinator/toolprofile.go
  apps/backend/internal/mcp/handlers/coordinator_authorization.go
  apps/backend/internal/mcp/handlers/coordinator_guard_interleavings_test.go
  apps/backend/internal/mcp/handlers/coordinator_propose.go
  apps/backend/internal/mcp/handlers/coordinator_propose_kinds.go
  apps/backend/internal/mcp/handlers/coordinator_propose_test.go
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/server/coordinator_tools.go
  apps/backend/internal/mcp/server/coordinator_tools_test.go
Due: gofmt, go-tests, go-lint

test(coordinator): add e2e for sections, standing orders, goal and goal note
  apps/web/e2e/tests/auth/coordinator-settings-reader.spec.ts
  apps/web/e2e/tests/coordinator/configure-sections.spec.ts
  apps/web/e2e/tests/coordinator/mobile-configure-sections.spec.ts
  apps/web/e2e/tests/coordinator/needs-you-goal.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(coordinator): wire task reader, resumer and queued message delivery for the new kinds
  apps/backend/internal/backendapp/coordinator_kinds.go
  apps/backend/internal/backendapp/coordinator_kinds_test.go
  apps/backend/internal/backendapp/helpers.go
  apps/backend/internal/mcp/handlers/coordinator_deliver.go
Due: gofmt, go-tests, go-lint

fix: avoid deadlock during idle suspension
  apps/backend/internal/agent/runtime/lifecycle/manager_idle_parking.go
Due: gofmt, go-tests, go-lint

test(coordinator): kind registry walk, coverage exclusions and move E2E for the new kinds
  apps/backend/internal/coordinator/kinds_registry_test.go
  apps/web/e2e/tests/coordinator/proposal-kinds-backend.spec.ts
  docs/public/coverage.json
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(coordinator): settle toggles per criterion and hold retire until reload
  apps/web/app/coordinator/components/goal-note.test.tsx
  apps/web/components/coordinators/sections/goal-section.test.tsx
  apps/web/components/coordinators/sections/standing-orders-section.test.tsx
  apps/web/components/coordinators/sections/standing-orders-section.tsx
  apps/web/components/coordinators/sections/use-goal-editor.ts
  apps/web/hooks/domains/coordinator/use-standing-orders.test.ts
  apps/web/hooks/domains/coordinator/use-standing-orders.ts
  apps/web/lib/coordinators/goal-form.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: preserve todo turn ownership on resume (#4047)
  apps/backend/internal/backendapp/adapters.go
  apps/backend/internal/backendapp/adapters_test.go
  apps/backend/internal/integration/test_server_test.go
  apps/backend/internal/orchestrator/event_handlers_streaming.go
  apps/backend/internal/orchestrator/event_handlers_streaming_test.go
  apps/backend/internal/orchestrator/resume_todo_turn_boundary_test.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/task_operations_test.go
  docs/plans/resume-todo-turn-boundary/plan.md
  docs/plans/resume-todo-turn-boundary/task-01-todo-turn-ownership.md
  docs/specs/tasks/requirements/queued-session-ownership.md
  docs/specs/tasks/system-design/queued-session-ownership.md
Due: gofmt, go-tests, go-lint

docs(coordinator): close spec review round 1 gaps for May do and Watches
  docs/plans/workspace-coordinator-p2/task-06-may-do-watches.md
  docs/specs/coordinator/requirements/permissions.md
  docs/specs/coordinator/system-design/coordinators.md
  docs/specs/coordinator/system-design/needs-you.md
  docs/specs/coordinator/system-design/permissions-ui.md
  docs/specs/coordinator/system-design/permissions.md
  docs/specs/coordinator/system-design/what-it-did-ui.md
Due: none

fix: admit healthy main checkouts (#4049)
  apps/backend/internal/agent/runtime/lifecycle/workspace_main_checkout_test.go
  apps/backend/internal/orchestrator/executor/executor_launch_failure_classification_test.go
  apps/backend/internal/orchestrator/executor/executor_worktree_recovery_integration_test.go
  apps/backend/internal/orchestrator/task_launch_main_checkout_test.go
  apps/backend/internal/worktree/checkout_inspection.go
  apps/backend/internal/worktree/checkout_inspection_test.go
  apps/backend/internal/worktree/manager.go
  apps/backend/internal/worktree/manager_git.go
  apps/backend/internal/worktree/manager_lifecycle.go
  apps/backend/internal/worktree/recovery_admission.go
  docs/plans/main-checkout-recovery-admission/plan.md
  docs/plans/main-checkout-recovery-admission/task-01-main-checkout-validation.md
  docs/plans/main-checkout-recovery-admission/task-02-launch-continuity.md
  docs/public/git-operations.md
  docs/specs/tasks/requirements/worktree-metadata-recovery.md
  docs/specs/tasks/system-design/worktree-metadata-recovery.md
Due: gofmt, go-tests, go-lint

test: remove redundant empty todo assertion (#4047)
  apps/backend/internal/orchestrator/resume_todo_turn_boundary_test.go
Due: gofmt, go-tests, go-lint

docs(coordinator): close spec review round 2 gaps for May do and Watches
  docs/plans/workspace-coordinator-p2/task-06-may-do-watches.md
  docs/specs/coordinator/requirements/permissions.md
  docs/specs/coordinator/system-design/permissions-ui.md
Due: none

fix(coordinator): close review round 1 findings for the new proposal kinds
  apps/backend/internal/coordinator/activity_service_test.go
  apps/backend/internal/coordinator/approve.go
  apps/backend/internal/coordinator/interleavings_kinds_test.go
  apps/backend/internal/coordinator/kind_message.go
  apps/backend/internal/coordinator/kinds_create_start_test.go
  apps/backend/internal/coordinator/kinds_execute_test.go
  apps/backend/internal/coordinator/kinds_propose_test.go
  apps/backend/internal/coordinator/proposals.go
  apps/backend/internal/coordinator/propose_kinds.go
Due: gofmt, go-tests, go-lint

test(coordinator): policy, failure, dedupe, cap and delivery coverage for the new kinds
  apps/backend/internal/coordinator/kinds_registry_test.go
  apps/backend/internal/coordinator/kinds_review_test.go
  apps/backend/internal/mcp/handlers/coordinator_deliver_test.go
  apps/backend/internal/mcp/handlers/coordinator_propose_test.go
Due: gofmt, go-tests, go-lint

feat(coordinator): add card summary to the coordinator list
  apps/backend/internal/coordinator/dto.go
  apps/backend/internal/coordinator/handlers.go
  apps/backend/internal/coordinator/handlers_summary_test.go
Due: gofmt, go-tests, go-lint

fix(coordinator): bind proposal target to the validated task and close review round 2 findings
  apps/backend/internal/coordinator/approve.go
  apps/backend/internal/coordinator/approve_kinds.go
  apps/backend/internal/coordinator/kind_message.go
  apps/backend/internal/coordinator/kind_move.go
  apps/backend/internal/coordinator/kind_resume.go
  apps/backend/internal/coordinator/kinds.go
  apps/backend/internal/coordinator/kinds_execute_test.go
  apps/backend/internal/coordinator/kinds_propose_test.go
  apps/backend/internal/coordinator/kinds_review_test.go
  apps/backend/internal/coordinator/propose_kinds.go
  apps/backend/internal/coordinator/service.go
Due: gofmt, go-tests, go-lint

test(coordinator): add May do, Watches and reader E2E coverage
  apps/web/e2e/tests/auth/coordinator-settings-reader.spec.ts
  apps/web/e2e/tests/coordinator/configure-sections.spec.ts
  apps/web/e2e/tests/coordinator/mobile-configure-sections.spec.ts
  apps/web/e2e/tests/coordinator/needs-you-watches.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: load task creation workflow previews
  apps/web/components/task-create-dialog-form-body.test.tsx
  apps/web/components/task-create-dialog-form-body.tsx
  apps/web/components/task-create-dialog.tsx
  apps/web/components/workflow-selector-row.test.tsx
  apps/web/components/workflow-selector-row.tsx
  apps/web/e2e/tests/task/mobile-task-create-workflow-step-previews.spec.ts
  apps/web/e2e/tests/task/task-create-workflow-step-previews.spec.ts
  apps/web/e2e/tests/task/workflow-step-previews-helpers.ts
  apps/web/hooks/use-workflow-option-previews.test.ts
  apps/web/hooks/use-workflow-option-previews.ts
  docs/plans/task-create-workflow-step-previews/plan.md
  docs/plans/task-create-workflow-step-previews/task-01-workflow-previews.md
  docs/public/tasks-and-workflows.md
  docs/specs/tasks/requirements/task-create-workflow-step-previews.md
  docs/specs/tasks/system-design/task-create-workflow-step-previews.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: validate main checkout identity (#4049)
  apps/backend/internal/worktree/checkout_inspection.go
  apps/backend/internal/worktree/checkout_inspection_test.go
  apps/backend/internal/worktree/gitcrypt_test.go
  apps/backend/internal/worktree/managed_clone_relocation.go
  apps/backend/internal/worktree/manager_checkout_branch_test.go
  apps/backend/internal/worktree/recovery_admission.go
  apps/backend/internal/worktree/submodule_test.go
  docs/plans/main-checkout-recovery-admission/plan.md
  docs/plans/main-checkout-recovery-admission/task-01-main-checkout-validation.md
  docs/plans/main-checkout-recovery-admission/task-02-launch-continuity.md
  docs/specs/tasks/requirements/worktree-metadata-recovery.md
  docs/specs/tasks/system-design/worktree-metadata-recovery.md
Due: gofmt, go-tests, go-lint

fix(coordinator): lift the copilot launcher only when a walkthrough shows
  apps/web/app/coordinator/copilot/use-task-has-walkthrough.ts
  apps/web/app/coordinator/copilot/workspace-copilot-host.test.tsx
  apps/web/app/coordinator/copilot/workspace-copilot-host.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck
