Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

test: stabilize history action and geometry fixtures
  apps/web/e2e/tests/git/changes-history-regression.spec.ts
  apps/web/e2e/tests/git/git-changes-panel.spec.ts
  docs/plans/durable-agent-reattachment/task-05-safe-live-adoption.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test: await settled session and review fixtures
  apps/web/e2e/tests/chat/conversation-fork-helpers.ts
  apps/web/e2e/tests/git/git-commit.spec.ts
  apps/web/e2e/tests/review/mobile-submodule-review.spec.ts
  apps/web/e2e/tests/settings/pr3473-qa-visual-capture.spec.ts
  apps/web/e2e/tests/workflow/mobile-workflow-agent-switch.spec.ts
  docs/plans/durable-agent-reattachment/task-05-safe-live-adoption.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(backend): preserve prompt evidence on projected streams
  apps/backend/internal/agent/runtime/lifecycle/manager_canonical_stream_generation_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_events.go
  apps/backend/internal/agent/runtime/lifecycle/manager_streaming.go
  docs/plans/durable-agent-sessions/task-15-inbox-projection.md
  docs/specs/platform/system-design/durable-agent-delivery.md
Due: gofmt, go-tests, go-lint

docs: record final main integration checks
  docs/plans/durable-agent-reattachment/task-05-safe-live-adoption.md
Due: none

fix: reconcile resume ownership and settled browser fixtures
  apps/backend/internal/orchestrator/executor/executor_resume.go
  apps/backend/internal/orchestrator/executor/executor_resume_sync_rollback_test.go
  apps/web/e2e/helpers/session.ts
  apps/web/e2e/tests/office/realtime-dashboard.spec.ts
  apps/web/e2e/tests/review/mobile-review-file-status.spec.ts
  apps/web/e2e/tests/task/create-task-workflow-agent-overrides.spec.ts
  apps/web/e2e/tests/task/task-navigation-helpers.ts
  apps/web/e2e/tests/task/workspace-file-transfer.spec.ts
  apps/web/e2e/tests/workflow/workflow-step-proceed.spec.ts
  docs/plans/durable-agent-reattachment/task-05-safe-live-adoption.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test: isolate fixture ownership and question deadlines
  apps/web/e2e/helpers/api-client.test.ts
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/tests/git/mobile-symlink-identification.spec.ts
  apps/web/e2e/tests/pr/pr-switcher-changes.spec.ts
  apps/web/e2e/tests/task/threads-clarification-helpers.ts
  docs/plans/durable-agent-reattachment/task-05-safe-live-adoption.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test: reconcile current main recovery and fixture contracts
  apps/web/e2e/tests/canvas/canvas-fixture.ts
  apps/web/e2e/tests/chat/markdown-preview.spec.ts
  docs/plans/durable-agent-reattachment/task-05-safe-live-adoption.md
Due: prettier-format, web-lint, web-tests, web-typecheck

ci: reserve windows job time for cache publication
  docs/plans/durable-agent-reattachment/task-05-safe-live-adoption.md
Due: none

fix: preserve recovery settlement errors after inventory integration
  docs/plans/durable-agent-reattachment/task-05-safe-live-adoption.md
Due: none

test: correlate validators and isolate recovery fixtures
  apps/web/e2e/tests/session/session-refresh-efficiency.spec.ts
  apps/web/e2e/tests/settings/mobile-pr3473-qa-visual-capture.spec.ts
  apps/web/e2e/tests/task/workspace-file-transfer.spec.ts
  docs/plans/durable-agent-reattachment/task-05-safe-live-adoption.md
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: record latest rebase and fixture validation
  docs/plans/durable-agent-reattachment/task-05-safe-live-adoption.md
Due: none

docs: deduplicate backend locale guidance after rebase
  apps/backend/AGENTS.md
  docs/plans/durable-agent-reattachment/task-05-safe-live-adoption.md
Due: none

test: isolate shared fixtures and await completed UI transitions
  apps/web/e2e/tests/settings/hide-disabled-agent-profiles-nav.spec.ts
  apps/web/e2e/tests/settings/mobile-workspace-repository-sets.spec.ts
  apps/web/e2e/tests/task/task-create-workflow-step-previews.spec.ts
  apps/web/e2e/tests/task/task-navigation-helpers.ts
  apps/web/e2e/tests/task/task-navigation-responsiveness.spec.ts
  apps/web/e2e/tests/workflow/workflow-step-proceed.spec.ts
  docs/plans/durable-agent-reattachment/task-05-safe-live-adoption.md
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: record dirty-path rebase and browser validation
  docs/plans/durable-agent-reattachment/task-05-safe-live-adoption.md
Due: none

test: assert exact workflow steps and open preview tasks by identity
  apps/web/e2e/tests/layout/preview-tab-session-switch.spec.ts
  apps/web/e2e/tests/task/task-create-workflow-step-previews.spec.ts
  apps/web/e2e/tests/task/workflow-step-previews-helpers.ts
  docs/plans/durable-agent-reattachment/task-05-safe-live-adoption.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test: control background Git readiness during loading assertions
  apps/web/e2e/scripts/git-status-refresh-bridge.test.ts
  apps/web/e2e/tests/git/changes-panel-refresh-recovery.spec.ts
  apps/web/e2e/tests/git/git-status-refresh-helpers.ts
  docs/plans/durable-agent-reattachment/task-05-safe-live-adoption.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test: isolate the remaining preview tab setup paths
  apps/web/e2e/tests/layout/preview-tab-session-switch.spec.ts
  docs/plans/durable-agent-reattachment/task-05-safe-live-adoption.md
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: record latest main CI matrix integration
  docs/plans/durable-agent-reattachment/task-05-safe-live-adoption.md
Due: none

docs: record latest main and desktop mobile validation
  docs/plans/durable-agent-reattachment/task-05-safe-live-adoption.md
Due: none

test: stabilize primary session and mobile generating fixtures
  apps/web/e2e/helpers/generating-session.ts
  apps/web/e2e/tests/chat/mobile-message-queue-management.spec.ts
  apps/web/e2e/tests/kanban/preview-session-tabs.spec.ts
  docs/plans/durable-agent-reattachment/task-05-safe-live-adoption.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(backend): replay persisted session setting overrides
  apps/backend/internal/backendapp/helpers.go
  apps/backend/internal/backendapp/helpers_session_models_test.go
Due: gofmt, go-tests, go-lint

docs(plan): record persisted session replay fix
  docs/plans/durable-agent-reattachment/task-05-safe-live-adoption.md
Due: none

fix: refresh capabilities after runtime rebind
  apps/backend/internal/agent/hostutility/manager.go
  apps/backend/internal/agent/hostutility/runtime_rebind_test.go
  apps/web/e2e/tests/settings/agent-profile-acp.spec.ts
  docs/plans/agentctl-runtime-replacement/task-02-consumer-migration.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test: serialize navigation fixture checkouts
  apps/web/e2e/tests/task/task-navigation-helpers.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: record latest-main hosted E2E retry
  docs/plans/agentctl-runtime-replacement/task-02-consumer-migration.md
Due: none

fix(web): reconcile agent readiness with live sessions
  apps/web/lib/session-state.ts
  apps/web/lib/state/hydration/hydrator.test.ts
  apps/web/lib/state/hydration/hydrator.ts
  apps/web/lib/state/slices/session/session-slice.ts
  apps/web/lib/state/slices/session/session-slice.upsert.test.ts
  apps/web/lib/types/http.ts
  apps/web/lib/ws/handlers/agent-session.ts
  docs/plans/agentctl-runtime-replacement/task-02-consumer-migration.md
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(plan): record post-rebase recovery validation
  docs/plans/agentctl-runtime-replacement/task-02-consumer-migration.md
Due: none

fix(web): address navigation CI failures
  apps/web/e2e/helpers/task-navigation-helpers.test.ts
  apps/web/e2e/tests/task/file-tree-search.spec.ts
  docs/plans/agentctl-runtime-replacement/task-02-consumer-migration.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: preserve parked sessions on teardown disconnect
  apps/backend/internal/orchestrator/event_handlers_agent.go
  apps/backend/internal/orchestrator/event_handlers_workflow_profile_session_policy_test.go
  apps/web/e2e/tests/task/workflow-step-previews-helpers.ts
  docs/plans/workflow-profile-session-reuse/task-02-implement-safe-session-parking.md
  docs/specs/tasks/requirements/workflow-profile-session-lifecycle.md
  docs/specs/tasks/system-design/workflow-profile-session-lifecycle.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: repair live-main durable recovery rebase
  apps/backend/internal/agent/runtime/lifecycle/session_startup_evidence_test.go
  apps/backend/internal/agentctl/server/process/manager.go
  apps/backend/internal/agentctl/server/process/manager_test.go
  apps/backend/internal/orchestrator/session_launch.go
  apps/web/components/task/chat/messages/action-message-recovery.test.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(web): compare workflow preview titles exactly
  apps/web/components/workflow-selector-row.tsx
  apps/web/e2e/tests/task/workflow-step-previews-helpers.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: reconcile recovery rebase and CI regressions
  apps/backend/internal/agent/runtime/lifecycle/native_conversation_test.go
  docs/plans/workflow-profile-session-reuse/task-02-implement-safe-session-parking.md
Due: gofmt, go-tests, go-lint

fix: preserve automatic continuation recovery
  apps/backend/internal/agent/runtime/errors.go
  apps/backend/internal/agent/runtime/lifecycle/session_restore_policy.go
  apps/backend/internal/agent/runtime/lifecycle/session_restore_policy_test.go
  apps/backend/internal/orchestrator/provider_interruption_dispatch.go
  apps/backend/internal/orchestrator/provider_interruption_preparation.go
  apps/backend/internal/orchestrator/provider_interruption_refusal_test.go
  apps/web/e2e/tests/task/dialog-long-text-overflow.spec.ts
  docs/plans/workflow-profile-session-reuse/task-02-implement-safe-session-parking.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: stabilize recovery and restart E2E fixtures
  apps/web/e2e/tests/office/agent-run-detail.spec.ts
  apps/web/e2e/tests/settings/config-chat-restart.spec.ts
  docs/plans/workflow-profile-session-reuse/task-02-implement-safe-session-parking.md
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: add task manager host monitor design
  docs/plans/task-manager-host-monitor/plan.md
  docs/plans/task-manager-host-monitor/task-01-ambient-summary-sampling.md
  docs/plans/task-manager-host-monitor/task-02-configurable-monitor-ui.md
  docs/plans/task-manager-host-monitor/task-03-packaged-monitor-verification.md
  docs/specs/plugins/README.md
  docs/specs/plugins/requirements/task-manager-host-monitor.md
  docs/specs/plugins/system-design/task-manager-host-monitor.md
Due: none

fix: reconcile task monitor host contracts
  apps/backend/internal/plugins/config.go
  apps/backend/internal/plugins/config_test.go
  apps/web/components/settings/plugins/plugin-config-form.tsx
  apps/web/components/settings/plugins/plugin-detail.test.tsx
  apps/web/components/settings/plugins/plugin-detail.tsx
  apps/web/lib/plugins/config-schema.test.ts
  apps/web/lib/plugins/config-schema.ts
  docs/plans/plugins/PLUGIN-API.md
  docs/plans/task-manager-host-monitor/plan.md
  docs/plans/task-manager-host-monitor/task-03-packaged-monitor-verification.md
  docs/public/plugins-authoring.md
  docs/specs/plugins/system-design/task-manager-host-monitor.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(web): provide app state for plugin detail
  apps/web/components/settings/plugins/plugin-detail.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: encode workflow script flags for postgres
  apps/backend/internal/task/repository/sqlite/workflow_script_runs.go
Due: gofmt, go-tests, go-lint

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
