Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

docs(skills): require frame-complete artifact checks
  .agents/skills/product-video-capture/references/camera-encoding.md
  .agents/skills/product-video-capture/references/capture-pipeline.md
  .agents/skills/product-video-capture/references/qa-checklist.md
Due: none

docs(skills): define cinematic landing capture
  .agents/skills/product-video-capture/SKILL.md
  .agents/skills/product-video-capture/references/camera-encoding.md
  .agents/skills/product-video-capture/references/qa-checklist.md
Due: none

docs(skills): harden isolated product capture workflow
  .agents/skills/product-demo-seeding/SKILL.md
  .agents/skills/product-demo-seeding/evals/contract.test.mjs
  .agents/skills/product-demo-seeding/evals/evals.json
  .agents/skills/product-demo-seeding/references/isolation-and-seeding.md
  .agents/skills/product-demo-seeding/references/story-recipes.md
  .agents/skills/product-video-capture/SKILL.md
  .agents/skills/product-video-capture/evals/contract.test.mjs
  .agents/skills/product-video-capture/evals/evals.json
  .agents/skills/product-video-capture/references/camera-encoding.md
  .agents/skills/product-video-capture/references/capture-pipeline.md
  .agents/skills/product-video-capture/references/qa-checklist.md
  .agents/skills/using-agent-skills/SKILL.md
Due: none

docs(skills): clarify landing profile availability
  .agents/skills/product-video-capture/references/camera-encoding.md
Due: none

docs(skills): add landing capture example
  .agents/skills/product-video-capture/references/camera-encoding.md
Due: none

docs(skills): align cinematic loop contract
  .agents/skills/product-video-capture/SKILL.md
  .agents/skills/product-video-capture/references/camera-encoding.md
Due: none

docs(skills): reject capture environment leaks
  .agents/skills/product-demo-seeding/SKILL.md
  .agents/skills/product-video-capture/references/capture-pipeline.md
  .agents/skills/product-video-capture/references/qa-checklist.md
Due: none

docs(skills): tighten landing film gates
  .agents/skills/product-video-capture/SKILL.md
  .agents/skills/product-video-capture/references/camera-encoding.md
  .agents/skills/product-video-capture/references/qa-checklist.md
Due: none

docs(skills): guard landing profile validation
  .agents/skills/product-video-capture/references/qa-checklist.md
Due: none

docs(skills): require semantic landing camera evidence
  .agents/skills/product-video-capture/SKILL.md
  .agents/skills/product-video-capture/evals/contract.test.mjs
  .agents/skills/product-video-capture/evals/evals.json
  .agents/skills/product-video-capture/references/camera-encoding.md
  .agents/skills/product-video-capture/references/qa-checklist.md
Due: none

docs(skills): clarify landing camera examples
  .agents/skills/product-demo-seeding/references/isolation-and-seeding.md
  .agents/skills/product-video-capture/evals/contract.test.mjs
  .agents/skills/product-video-capture/references/camera-encoding.md
Due: none

docs(skills): align focused loop acceptance
  .agents/skills/product-video-capture/SKILL.md
  .agents/skills/product-video-capture/evals/contract.test.mjs
Due: none

docs(skills): distinguish capture geometry
  .agents/skills/product-video-capture/SKILL.md
  .agents/skills/product-video-capture/evals/contract.test.mjs
  .agents/skills/product-video-capture/references/capture-pipeline.md
  .agents/skills/product-video-capture/references/qa-checklist.md
Due: none

fix: preserve profile config in turn snapshots
  apps/backend/internal/backendapp/adapters.go
  apps/backend/internal/orchestrator/executor/executor.go
  apps/backend/internal/orchestrator/executor/executor_execute.go
  apps/backend/internal/orchestrator/executor/executor_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/task/service/service_turns_test.go
  apps/web/components/task/chat/messages/message-session-config.test.ts
  apps/web/components/task/chat/messages/message-session-config.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: attribute model configuration to turns
  apps/backend/internal/orchestrator/event_handlers_streaming_test.go
  apps/backend/internal/task/models/models.go
  apps/backend/internal/task/service/service_turns.go
  apps/backend/internal/task/service/service_turns_test.go
  apps/web/components/task/chat/messages/chat-message.test.tsx
  apps/web/components/task/chat/messages/message-actions.tsx
  apps/web/components/task/chat/messages/message-session-config.test.ts
  apps/web/components/task/chat/messages/message-session-config.ts
  docs/decisions/2026-07-18-turn-configuration-snapshots.md
  docs/decisions/INDEX.md
  docs/plans/turn-configuration-attribution/plan.md
  docs/plans/turn-configuration-attribution/task-01-backend-turn-snapshot.md
  docs/plans/turn-configuration-attribution/task-02-frontend-turn-attribution.md
  docs/plans/turn-configuration-attribution/task-03-integration-and-verification.md
  docs/specs/ui/acp-model-configuration-summary.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: prefer captured turn model attribution
  apps/backend/internal/orchestrator/event_handlers_test.go
  apps/backend/internal/orchestrator/task_operations_test.go
  apps/backend/internal/task/service/service_turns_test.go
  apps/web/components/task/chat/messages/message-session-config.test.ts
  apps/web/components/task/chat/messages/message-session-config.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test: cover turn configuration reload hydration
  apps/web/lib/ssr/session-page-state.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(plugins): add chat-input-actions slot for plugin toolbar icons
  apps/web/components/task/chat/chat-input-plugin-actions.test.tsx
  apps/web/components/task/chat/chat-input-plugin-actions.tsx
  apps/web/components/task/chat/chat-input-toolbar-desktop.tsx
  apps/web/components/task/chat/chat-input-toolbar-mobile.tsx
  apps/web/lib/plugins/types.ts
  docs/plans/plugins/PLUGIN-API.md
  docs/public/plugins-authoring.md
  docs/public/plugins.md
Due: prettier-format, web-lint, web-tests, web-typecheck

media: screenshots for PR #1794 (chat-input-actions slot)
  chat-input-actions-full-page.png
  chat-input-actions-toolbar-tooltip.png
  session-cost-full-page.png
  session-cost-hover.png
Due: none

fix: restore multi-repo review diffs
  apps/backend/internal/agentctl/server/api/git.go
  apps/backend/internal/agentctl/server/api/git_multi_repo_review_test.go
  apps/backend/internal/agentctl/server/process/workspace_git_status.go
Due: gofmt, go-tests, go-lint

fix(plugins): read store optionally in chat-input-actions slot
  apps/web/components/task/chat/chat-input-plugin-actions.test.tsx
  apps/web/components/task/chat/chat-input-plugin-actions.tsx
  apps/web/components/task/chat/chat-input-toolbar-desktop.tsx
  apps/web/components/task/chat/chat-input-toolbar-mobile.tsx
  docs/public/plugins-authoring.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: hydrate turn metadata on page reload
  apps/backend/internal/backendapp/boot_state.go
  apps/backend/internal/backendapp/helpers_test.go
  apps/backend/internal/task/service/service_turns.go
  apps/web/e2e/tests/chat/model-selector-error.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: keep queued messages parked after agent cancellation
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction_cancel_test.go
  apps/backend/internal/mcp/handlers/message_task_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/task_operations_test.go
  apps/web/e2e/tests/session/mobile-pause-resume-recovery.spec.ts
  apps/web/e2e/tests/session/pause-resume-recovery.spec.ts
  docs/public/sessions-and-review.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test: stabilize workflow review state assertion
  apps/backend/internal/orchestrator/workflow_e2e_test.go
Due: gofmt, go-tests, go-lint

feat: improve workflow settings autosave UX
  apps/web/app/settings/workspace/use-workflow-creation.test.ts
  apps/web/app/settings/workspace/use-workflow-creation.ts
  apps/web/app/settings/workspace/workspace-workflows-client.tsx
  apps/web/app/settings/workspace/workspace-workflows-dialogs.tsx
  apps/web/components/settings/settings-section.tsx
  apps/web/components/settings/workflow-card-actions.test.ts
  apps/web/components/settings/workflow-card-actions.ts
  apps/web/components/settings/workflow-card.tsx
  apps/web/components/settings/workflow-pipeline-editor-panels.tsx
  apps/web/components/settings/workflow-pipeline-editor.tsx
  apps/web/e2e/pages/workflow-settings-page.ts
  apps/web/e2e/tests/workflow/mobile-workflow-settings.spec.ts
  apps/web/e2e/tests/workflow/workflow-agent-profile.spec.ts
  apps/web/e2e/tests/workflow/workflow-settings.spec.ts
  docs/plans/workflow-settings-autosave/plan.md
  docs/plans/workflow-settings-autosave/task-01-autosave-state.md
  docs/plans/workflow-settings-autosave/task-02-responsive-layout.md
  docs/plans/workflow-settings-autosave/task-03-e2e-coverage.md
  docs/specs/INDEX.md
  docs/specs/workflow-settings-autosave/spec.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: preserve workflow retry state
  apps/web/e2e/helpers/wait-for-mutation.ts
  apps/web/e2e/tests/workflow/workflow-agent-profile.spec.ts
  apps/web/e2e/tests/workflow/workflow-settings.spec.ts
  docs/plans/workflow-settings-autosave/plan.md
  docs/plans/workflow-settings-autosave/task-01-autosave-state.md
  docs/specs/workflow-settings-autosave/spec.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: serialize workflow settings autosaves
  apps/web/app/settings/workspace/use-workflow-creation.test.ts
  apps/web/app/settings/workspace/use-workflow-creation.ts
  apps/web/app/settings/workspace/workspace-workflows-client.tsx
  apps/web/app/settings/workspace/workspace-workflows-dialogs.tsx
  apps/web/components/settings/use-serialized-mutation-queue.test.ts
  apps/web/components/settings/use-serialized-mutation-queue.ts
  apps/web/components/settings/workflow-pipeline-editor-panels.tsx
  apps/web/e2e/tests/workflow/mobile-workflow-settings.spec.ts
  apps/web/e2e/tests/workflow/workflow-agent-profile.spec.ts
  apps/web/e2e/tests/workflow/workflow-settings.spec.ts
  docs/plans/workflow-settings-autosave/plan.md
  docs/plans/workflow-settings-autosave/task-01-autosave-state.md
  docs/plans/workflow-settings-autosave/task-02-responsive-layout.md
  docs/plans/workflow-settings-autosave/task-03-e2e-coverage.md
  docs/specs/INDEX.md
  docs/specs/workflow-settings-autosave/spec.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: finalize workflow autosave retry handling
  apps/web/app/settings/workspace/use-workflow-creation.ts
  apps/web/app/settings/workspace/workspace-workflows-client.tsx
  docs/specs/workflow-settings-autosave/spec.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: show queued workflow step deletions
  apps/web/components/settings/workflow-card-dialogs.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor: gate gitlab search at the effect level too
  apps/web/components/gitlab/my-gitlab/use-gitlab-search.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: await default query readiness failures
  apps/web/components/github/my-github/use-default-query-presets.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: stabilize executor profile save revisions
  apps/web/app/settings/executor/[id]/profile/[profileId]/page.tsx
  apps/web/app/settings/executors/[profileId]/page.tsx
  apps/web/components/settings/settings-save-revision.test.ts
  apps/web/components/settings/settings-save-revision.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: improve settings save visibility
  apps/web/app/globals.css
  apps/web/app/settings/executor/[id]/page.tsx
  apps/web/app/settings/workspace/workspace-edit-client.tsx
  apps/web/components/config-chat/config-chat-panel.tsx
  apps/web/components/settings/changelog-notification-card.tsx
  apps/web/components/settings/config-chat-agent-section.tsx
  apps/web/components/settings/editor-form.tsx
  apps/web/components/settings/general-settings.tsx
  apps/web/components/settings/settings-floating-save.tsx
  apps/web/components/settings/settings-layout-client.test.tsx
  apps/web/components/settings/shell-settings-card.tsx
  apps/web/components/settings/system-metrics-settings-card.test.tsx
  apps/web/components/settings/system-metrics-settings-card.tsx
  apps/web/components/settings/system/feature-toggle-card.tsx
  apps/web/components/settings/system/feature-toggles-settings.tsx
  apps/web/components/settings/terminal-settings.tsx
  apps/web/components/settings/workflow-card-header-actions.test.tsx
  apps/web/e2e/tests/settings/config-chat-popover.spec.ts
  apps/web/e2e/tests/settings/mobile-general-settings.spec.ts
  docs/specs/ui/settings-manual-save.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test: align Jira clean-state assertion
  apps/web/e2e/tests/integrations/jira-settings.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address follow-up settings review
  apps/web/components/settings/settings-floating-save.tsx
  apps/web/components/settings/settings-layout-client.tsx
  apps/web/components/settings/voice-mode-settings.test.tsx
  apps/web/components/settings/voice-mode-settings.tsx
  apps/web/lib/routing/navigation-guard.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: preserve completed profile saves on failure
  apps/web/app/settings/agents/[agentId]/agent-save-helpers.test.ts
  apps/web/app/settings/agents/[agentId]/agent-save-helpers.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: use safe settings contributor id
  apps/web/components/settings/settings-save-provider.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test: cover concurrent voice settings edits
  apps/web/components/settings/voice-mode-settings.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address final settings save review
  apps/web/app/settings/agents/[agentId]/agent-save-helpers.test.ts
  apps/web/app/settings/agents/[agentId]/agent-save-helpers.ts
  apps/web/app/settings/agents/[agentId]/agent-setup-parts.tsx
  apps/web/app/settings/agents/[agentId]/page.tsx
  apps/web/components/settings/settings-floating-save.tsx
  apps/web/components/settings/settings-save-provider.test.tsx
  apps/web/components/settings/settings-save-provider.tsx
  apps/web/components/settings/shell-settings-card.tsx
  apps/web/components/settings/voice-mode-settings.test.tsx
  apps/web/components/settings/voice-mode-settings.tsx
  apps/web/components/settings/workflow-card-header-actions.test.tsx
  apps/web/components/settings/workflow-card-header-actions.tsx
  apps/web/lib/api/domains/workflow-api.test.ts
  apps/web/lib/api/domains/workflow-api.ts
  apps/web/lib/routing/client-router.test.ts
  apps/web/lib/routing/navigation-guard.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
