Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

fix(github): harden task credential routing
  apps/backend/internal/agent/runtime/lifecycle/manager_launch.go
  apps/backend/internal/agent/runtime/lifecycle/manager_launch_test.go
  apps/backend/internal/gitconfigenv/environment.go
  apps/backend/internal/orchestrator/executor/executor_credentials.go
  apps/backend/internal/orchestrator/executor/executor_credentials_test.go
Due: gofmt, go-tests, go-lint

fix(github): address credential policy review
  apps/backend/internal/agent/runtime/lifecycle/manager_launch_test.go
  apps/backend/internal/agentctl/server/config/config.go
  apps/backend/internal/github/store_multi_repo_test.go
  apps/backend/internal/github/workspace_settings_service.go
  apps/backend/internal/github/workspace_settings_test.go
  apps/backend/internal/orchestrator/executor/executor_credentials.go
  apps/backend/internal/orchestrator/executor/executor_credentials_test.go
  apps/web/components/task/changes-panel-data.tsx
  apps/web/components/task/changes-panel-header.tsx
  docs/decisions/0047-github-authentication-ownership.md
  docs/plans/task-git-credential-policy/task-05-changes-identity-disclosure.md
  docs/plans/task-git-credential-policy/task-06-e2e-and-documentation.md
  docs/specs/integrations/github-authentication.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(runtime): complete failed launch preparation
  apps/backend/internal/agent/runtime/lifecycle/manager_launch.go
  apps/backend/internal/agent/runtime/lifecycle/manager_launch_test.go
Due: gofmt, go-tests, go-lint

fix(web): avoid parsing clipboard HTML
  apps/web/components/task/chat/clipboard-attachments.test.ts
  apps/web/components/task/chat/clipboard-attachments.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: seed legacy WIP overflow in mobile kanban
  apps/web/e2e/tests/kanban/mobile-kanban.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(runtime): share GitHub credential config key
  apps/backend/internal/agent/runtime/lifecycle/container.go
  apps/backend/internal/agent/runtime/lifecycle/manager_launch_test.go
Due: gofmt, go-tests, go-lint

test(github): cover credential routing snapshots
  apps/backend/internal/orchestrator/executor/executor_credentials_test.go
Due: gofmt, go-tests, go-lint

fix(mcp): drop mcp.Required() from task_id on session-defaulting tools
  apps/backend/internal/mcp/server/handlers_test.go
  apps/backend/internal/mcp/server/server.go
Due: gofmt, go-tests, go-lint

fix(web): handle attachment paste edge cases
  apps/web/components/task/chat/use-chat-input-state.test.ts
  apps/web/components/task/chat/use-chat-input-state.ts
  apps/web/components/task/session-dialog-shared.test.tsx
  apps/web/components/task/session-dialog-shared.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test: wait for executor type before mobile add-folder assertion (#1981)
  apps/web/e2e/tests/task/mobile-add-workspace-sources.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): improve attachment limit feedback
  apps/web/components/task-create-dialog-selectors.test.tsx
  apps/web/components/task-create-dialog-selectors.tsx
  apps/web/components/task/chat/use-attachment-file-feedback.ts
  apps/web/components/task/chat/use-chat-input-state.test.ts
  apps/web/components/task/chat/use-chat-input-state.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): stabilize workspace settings flows
  apps/web/e2e/tests/settings/copy-files-symlink-helpers.ts
  apps/web/e2e/tests/settings/github-app-registration.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): show aggregate attachment limit feedback
  apps/web/components/task-create-dialog-selectors.test.tsx
  apps/web/components/task-create-dialog-selectors.tsx
  apps/web/components/task/chat/use-attachment-file-feedback.ts
  apps/web/components/task/chat/use-chat-input-state.test.ts
  apps/web/components/task/chat/use-chat-input-state.ts
  apps/web/components/task/session-dialog-shared.test.tsx
  apps/web/components/task/session-dialog-shared.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test(mcp): cover review scoping + walkthrough/review tool-desc reach
  apps/backend/internal/mcp/server/handlers_test.go
  apps/backend/internal/mcp/server/server.go
  apps/backend/internal/task/service/service_access_test.go
Due: gofmt, go-tests, go-lint

test(gitlab): await every initial health probe
  apps/backend/internal/gitlab/poller_health_test.go
Due: gofmt, go-tests, go-lint

fix(web): unify enabled toolbar icon color
  apps/web/components/editors/external-vcs-file-link.tsx
  apps/web/components/editors/file-actions-dropdown.tsx
  apps/web/components/editors/monaco/monaco-editor-toolbar.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: refresh task surfaces on foreground and pull
  apps/web/app/tasks/tasks-list-view.tsx
  apps/web/app/tasks/tasks-page-client.tsx
  apps/web/components/kanban-board.tsx
  apps/web/components/mobile/pull-to-refresh.tsx
  apps/web/components/task/task-page-content.tsx
  apps/web/hooks/domains/kanban/use-all-workflow-snapshots.test.ts
  apps/web/hooks/domains/kanban/use-all-workflow-snapshots.ts
  apps/web/hooks/domains/session/use-queue.test.ts
  apps/web/hooks/domains/session/use-queue.ts
  apps/web/hooks/domains/session/use-session-messages.ts
  apps/web/hooks/domains/session/use-visibility-backfill.test.ts
  apps/web/hooks/use-foreground-refresh.test.ts
  apps/web/hooks/use-foreground-refresh.ts
  apps/web/hooks/use-task-sessions.test.ts
  apps/web/hooks/use-task-sessions.ts
  apps/web/lib/mobile/pull-to-refresh.test.ts
  apps/web/lib/mobile/pull-to-refresh.ts
  docs/plans/task-surface-refresh/plan.md
  docs/plans/task-surface-refresh/task-01-foreground-recovery.md
  docs/plans/task-surface-refresh/task-02-listing-pull-and-create.md
  docs/plans/task-surface-refresh/task-03-task-surface-e2e.md
  docs/specs/INDEX.md
  docs/specs/ui/task-surface-refresh.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test: harden mobile add-folder wait and cover review error chains (#1981)
  apps/backend/internal/review/runner_test.go
  apps/web/e2e/tests/task/mobile-add-workspace-sources.spec.ts
  apps/web/e2e/tests/task/sidebar-settled-spinner.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(runtime): compose profile Git config atomically
  apps/backend/internal/agent/runtime/lifecycle/profile_env.go
  apps/backend/internal/agent/runtime/lifecycle/profile_env_test.go
  apps/backend/internal/gitconfigenv/environment.go
Due: gofmt, go-tests, go-lint

fix(web): scope ExternalVcsFileLink color change to sm size
  apps/web/components/editors/external-vcs-file-link.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): align CodeMirror mirror toolbar and add size-gate tests
  apps/web/components/editors/codemirror/codemirror-code-editor.tsx
  apps/web/components/editors/external-vcs-file-link.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address task surface refresh review feedback
  apps/web/app/tasks/tasks-page-client.tsx
  apps/web/components/mobile/pull-to-refresh.test.tsx
  apps/web/components/mobile/pull-to-refresh.tsx
  apps/web/hooks/domains/kanban/use-all-workflow-snapshots.ts
  apps/web/hooks/domains/session/use-queue.ts
  apps/web/lib/mobile/pull-to-refresh.test.ts
  apps/web/lib/mobile/pull-to-refresh.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(mcp): assert review finding persists through the auth gate
  apps/backend/internal/task/service/service_access_test.go
Due: gofmt, go-tests, go-lint

fix: tighten agent update controls
  apps/web/components/settings/agent-runtime-update-control.tsx
  apps/web/components/settings/installed-agent-card.tsx
  apps/web/e2e/tests/settings/agent-runtime-update.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: improve agent runtime update flow
  apps/backend/cmd/preview/sprite_ops.go
  apps/backend/cmd/preview/sprite_ops_test.go
  apps/backend/internal/agent/settings/controller/agent_update.go
  apps/backend/internal/agent/settings/controller/agent_update_test.go
  apps/backend/internal/agent/settings/controller/controller.go
  apps/backend/internal/agent/settings/controller/controller_test.go
  apps/backend/internal/agent/settings/dto/dto.go
  apps/backend/internal/agent/settings/handlers/agent_update_handlers_test.go
  apps/backend/internal/agent/settings/handlers/handlers.go
  apps/web/app/settings/agents/page.tsx
  apps/web/components/settings/agent-runtime-update-control.test.tsx
  apps/web/components/settings/agent-runtime-update-control.tsx
  apps/web/components/settings/installed-agent-card.tsx
  apps/web/components/settings/use-agent-update-dialog-state.ts
  apps/web/e2e/tests/settings/agent-runtime-update-helpers.ts
  apps/web/e2e/tests/settings/agent-runtime-update.spec.ts
  apps/web/e2e/tests/settings/mobile-agent-runtime-update.spec.ts
  apps/web/hooks/domains/settings/use-agent-runtime-updates.ts
  apps/web/lib/api/domains/agent-update-api.ts
  docs/plans/agent-runtime-update-dialog/plan.md
  docs/plans/agent-runtime-update-dialog/task-01-preview-catalogue.md
  docs/plans/agent-runtime-update-dialog/task-02-update-preview-api.md
  docs/plans/agent-runtime-update-dialog/task-03-update-dialog-ui.md
  docs/plans/agent-runtime-update-dialog/task-04-update-dialog-e2e.md
  docs/public/agents-and-profiles.md
  docs/specs/agents/runtime-updates.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: prevent stale agent update previews
  apps/web/components/settings/agent-runtime-update-control.tsx
  apps/web/components/settings/use-agent-update-dialog-state.test.ts
  apps/web/components/settings/use-agent-update-dialog-state.ts
  apps/web/e2e/tests/settings/agent-runtime-update.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: harden agent update retries
  apps/web/components/settings/agent-runtime-update-control.tsx
  apps/web/components/settings/use-agent-update-dialog-state.test.ts
  apps/web/components/settings/use-agent-update-dialog-state.ts
  apps/web/e2e/tests/settings/agent-runtime-update.spec.ts
  apps/web/e2e/tests/settings/mobile-agent-runtime-update.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: compact agent card actions
  apps/web/components/settings/agent-runtime-update-control.tsx
  apps/web/components/settings/installed-agent-card.tsx
  apps/web/e2e/tests/settings/agent-runtime-update.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: reduce agent card action height
  apps/web/components/settings/agent-runtime-update-control.tsx
  apps/web/components/settings/installed-agent-card.tsx
  apps/web/e2e/tests/settings/agent-runtime-update.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: further compact agent card actions
  apps/web/components/settings/agent-runtime-update-control.tsx
  apps/web/components/settings/installed-agent-card.tsx
  apps/web/e2e/tests/settings/agent-runtime-update.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: preserve dockview layout during task switches
  apps/web/components/task/dockview-session-handoff.ts
  apps/web/components/task/dockview-session-tabs.test-utils.ts
  apps/web/components/task/dockview-session-tabs.test.ts
  apps/web/components/task/dockview-session-tabs.ts
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/tests/layout/saved-layout-session-isolation.spec.ts
  docs/plans/dockview-shared-environment-layout/plan.md
  docs/plans/dockview-shared-environment-layout/task-01-atomic-session-handoff.md
  docs/specs/ui/task-layout-profiles.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: prevent task list render loop
  apps/web/app/tasks/tasks-page-client.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(mcp): restore live add-branch worktrees
  apps/backend/internal/backendapp/branch_materializer.go
  apps/backend/internal/backendapp/branch_materializer_test.go
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/handlers_test.go
  apps/backend/internal/mcp/server/handlers_test.go
  apps/backend/internal/mcp/server/server.go
  apps/backend/internal/task/service/service.go
  apps/backend/internal/task/service/service_branches.go
  apps/backend/internal/task/service/service_branches_test.go
  apps/backend/internal/task/service/service_workspace_sources.go
  docs/decisions/2026-07-22-runtime-mutable-task-workspace-sources.md
  docs/decisions/2026-07-27-legacy-add-branch-live-rescan.md
  docs/decisions/INDEX.md
  docs/plans/restore-live-add-branch/plan.md
  docs/plans/restore-live-add-branch/task-01-restore-live-materialization.md
  docs/plans/restore-live-add-branch/task-02-return-materialized-paths.md
  docs/plans/restore-live-add-branch/task-03-update-public-docs.md
  docs/public/automation-and-mcp.md
  docs/public/coordination.md
  docs/public/feature-status.md
  docs/specs/tasks/attach-workspace-sources.md
Due: gofmt, go-tests, go-lint

fix: recover failed agent resumes and managed runtimes
  apps/backend/internal/agent/agents/managed_npm_runtime.go
  apps/backend/internal/agent/agents/managed_npm_runtime_test.go
  apps/backend/internal/agent/settings/controller/agent_update.go
  apps/backend/internal/agent/settings/controller/agent_update_job.go
  apps/backend/internal/agent/settings/controller/agent_update_test.go
  apps/backend/internal/agent/settings/handlers/agent_update_handlers_test.go
  apps/backend/internal/orchestrator/event_handlers_agent.go
  apps/backend/internal/orchestrator/event_handlers_test.go
  apps/backend/internal/orchestrator/executor/executor_resume.go
  apps/backend/internal/orchestrator/executor/executor_resume_test.go
  docs/plans/agent-resume-runtime-recovery/plan.md
  docs/plans/agent-resume-runtime-recovery/task-01-preserve-resume-token.md
  docs/plans/agent-resume-runtime-recovery/task-02-resume-state-before-credentials.md
  docs/plans/agent-resume-runtime-recovery/task-03-managed-npm-cache-repair.md
  docs/public/agents-and-profiles.md
  docs/specs/INDEX.md
  docs/specs/agent-resume-runtime-recovery/spec.md
  docs/specs/agents/runtime-updates.md
Due: gofmt, go-tests, go-lint

fix(mcp): reject deferred live branch additions
  apps/backend/internal/task/service/service_branches.go
  apps/backend/internal/task/service/service_branches_test.go
Due: gofmt, go-tests, go-lint

fix: roll back raced resume state
  apps/backend/internal/orchestrator/event_handlers_agent.go
  apps/backend/internal/orchestrator/executor/executor_resume.go
  apps/backend/internal/orchestrator/executor/executor_resume_test.go
  docs/plans/agent-resume-runtime-recovery/plan.md
  docs/specs/INDEX.md
Due: gofmt, go-tests, go-lint

docs(mcp): clarify live branch response contract
  apps/backend/internal/task/service/service.go
  apps/backend/internal/task/service/service_branches_test.go
  docs/public/feature-status.md
Due: gofmt, go-tests, go-lint

fix: guard raced resume rollback
  apps/backend/internal/orchestrator/executor/executor_resume.go
  apps/backend/internal/orchestrator/executor/executor_resume_test.go
Due: gofmt, go-tests, go-lint

docs: clarify runtime update retry failure
  docs/specs/agents/runtime-updates.md
Due: none

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
