Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

test(workflow): cover delayed session targeting races
  apps/backend/internal/orchestrator/workflow_session_target_test.go
  apps/web/components/settings/workflow-card-actions-dependency-ordering.test.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: group sidebar trees by effective state
  apps/web/e2e/tests/task/sidebar-subtask-state-sort.spec.ts
  apps/web/lib/sidebar/apply-view-effective-state.test.ts
  apps/web/lib/sidebar/apply-view.ts
  docs/plans/sidebar-effective-task-tree-state/plan.md
  docs/plans/sidebar-effective-task-tree-state/task-01-correct-effective-task-tree-state.md
Due: prettier-format, web-lint, web-tests, web-typecheck

media: screenshots for PR #3561
  mobile-sidebar-subtasks--effective-state-mobile.png
  sidebar-subtask-state-sort--effective-state-desktop.png
Due: none

test(office): preserve explicit skill IDs on save
  apps/web/app/office/agents/[id]/components/agent-skills-tab.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(office): clarify PostgreSQL wake comments
  apps/backend/internal/office/repository/sqlite/wake_receipts.go
  apps/backend/internal/office/repository/sqlite/wake_receipts_postgres_test.go
Due: gofmt, go-tests, go-lint

fix(office): hide internal runtime error details
  apps/backend/internal/office/routes.go
  apps/backend/internal/office/runtime/handler.go
  apps/backend/internal/office/runtime/handler_test.go
  docs/specs/office/system-design/runtime-01.md
Due: gofmt, go-tests, go-lint

fix(office): align runner projection schema and docs
  apps/backend/internal/office/repository/sqlite/runner_projection_legacy_backfill_test.go
  apps/backend/internal/office/repository/sqlite/runner_projection_test.go
  apps/backend/internal/task/repository/sqlite/base_migrations.go
  apps/backend/internal/task/repository/sqlite/repository_entity_test.go
  apps/backend/internal/workflow/repository/participants_postgres_test.go
  apps/backend/internal/workflow/repository/phase2_sqlite_test.go
  docs/specs/office/system-design/review-participant-seats-01.md
Due: gofmt, go-tests, go-lint

test(web): cover repository refresh ordering
  apps/web/hooks/domains/integrations/use-remote-repositories.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(office): document stable runtime errors
  docs/specs/office/system-design/runtime-01.md
Due: none

fix: harden sidebar state regression test
  apps/web/components/task/task-switcher-tree.tsx
  apps/web/e2e/tests/task/sidebar-subtask-state-sort.spec.ts
  apps/web/lib/sidebar/apply-view.ts
  docs/plans/sidebar-effective-task-tree-state/task-01-correct-effective-task-tree-state.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(workflows): default session end policy to park
  apps/backend/internal/orchestrator/event_handlers_pending_move_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/event_handlers_workflow_passthrough_profile_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow_profile_session_policy_resolution_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow_profile_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow_prompt_claim_test.go
  apps/backend/internal/task/dto/workflow_profile_session_policy_test.go
  apps/backend/internal/task/models/models.go
  apps/backend/internal/task/models/workflow_profile_session_policy_test.go
  apps/backend/internal/task/repository/sqlite/base_migrations.go
  apps/backend/internal/task/repository/sqlite/base_schema.go
  apps/backend/internal/task/repository/sqlite/repository_entity_test.go
  apps/backend/internal/workflow/repository/profile_session_policy_test.go
  apps/backend/internal/workflow/repository/sqlite.go
  apps/backend/internal/workflow/service/workflow_profile_session_policy_test.go
  apps/web/components/settings/workflow-step-agent-profile-selector.test.tsx
  apps/web/lib/api/domains/workflow-api.test.ts
  apps/web/lib/types/http.ts
  docs/plans/workflow-session-targeting/plan.md
  docs/plans/workflow-session-targeting/task-01-persist-recipient-contracts.md
  docs/plans/workflow-session-targeting/task-03-expose-session-choices.md
  docs/public/tasks-and-workflows.md
  docs/public/workflow-tips.md
  docs/specs/tasks/requirements/workflow-profile-session-lifecycle.md
  docs/specs/tasks/system-design/workflow-profile-session-lifecycle.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(workflows): select profile by stable e2e locator
  apps/web/e2e/tests/workflow/workflow-step-autocomplete.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: compact Kubernetes session status rows
  apps/web/components/settings/kubernetes-session-lists.tsx
  apps/web/components/settings/kubernetes-session-presentation.tsx
  apps/web/components/settings/kubernetes-sessions-card.test.tsx
  apps/web/components/settings/kubernetes-settings-cards.test.tsx
  apps/web/e2e/tests/settings/kubernetes-executor.spec.ts
  apps/web/e2e/tests/settings/mobile-kubernetes-executor.spec.ts
  apps/web/src/locales/en/executors.json
  apps/web/src/locales/pseudo/executors.json
  apps/web/src/locales/pt-pt/executors.json
  apps/web/src/locales/zh-cn/executors.json
  apps/web/src/locales/zh-hk/executors.json
  apps/web/src/locales/zh-tw/executors.json
  docs/plans/kubernetes-retained-compute/plan.md
  docs/plans/kubernetes-retained-compute/task-02-retention-status.md
  docs/public/k8s.md
  docs/specs/executors/system-design/kubernetes-retained-compute.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test(mcp): cover the unmarshal-error branch and un-bloat handlers_test.go
  apps/backend/internal/mcp/server/backend_client_test.go
  apps/backend/internal/mcp/server/dispatcher_backend_client_test.go
  apps/backend/internal/mcp/server/handlers_test.go
  apps/backend/internal/mcp/server/task_plan_empty_payload_test.go
Due: gofmt, go-tests, go-lint

fix(mcp): treat empty MCP backend response payload as a transport fault
  apps/backend/internal/mcp/server/backend_client.go
  apps/backend/internal/mcp/server/backend_client_test.go
  apps/backend/internal/mcp/server/dispatcher_backend_client.go
  apps/backend/internal/mcp/server/dispatcher_backend_client_test.go
  apps/backend/internal/mcp/server/handlers_test.go
Due: gofmt, go-tests, go-lint

test(mcp): assert log payload values, not key names, for empty-payload Warn
  apps/backend/internal/mcp/server/backend_client_test.go
  apps/backend/internal/mcp/server/dispatcher_backend_client_test.go
Due: gofmt, go-tests, go-lint

test(mcp): pin Warn level and use a distinguishing leak canary
  apps/backend/internal/mcp/server/backend_client_test.go
  apps/backend/internal/mcp/server/dispatcher_backend_client_test.go
Due: gofmt, go-tests, go-lint

docs(mcp): add the frozen empty-payload-detection spec
  docs/specs/mcp-empty-payload-detection/spec.md
Due: none

perf: memoize sidebar tree state resolution
  apps/web/lib/sidebar/apply-view-effective-state.test.ts
  apps/web/lib/sidebar/apply-view.ts
  apps/web/lib/sidebar/effective-task-tree-state.ts
  docs/plans/sidebar-effective-task-tree-state/plan.md
  docs/plans/sidebar-effective-task-tree-state/task-01-correct-effective-task-tree-state.md
  docs/specs/ui/system-design/sidebar-effective-task-tree-state.md
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor(mcp): remove duplicate empty-payload log message constant
  apps/backend/internal/mcp/server/backend_client.go
  apps/backend/internal/mcp/server/backend_client_test.go
  apps/backend/internal/mcp/server/dispatcher_backend_client.go
  apps/backend/internal/mcp/server/dispatcher_backend_client_test.go
  apps/backend/internal/mcp/server/task_plan_empty_payload_test.go
Due: gofmt, go-tests, go-lint

media: screenshots for PR #3563
  desktop-control-sizing.png
  mobile-control-sizing.png
Due: none

fix: address task completion review findings
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/event_handlers_workflow_profile_test.go
  apps/backend/internal/orchestrator/executor/executor_resume.go
  apps/backend/internal/orchestrator/executor/executor_resume_test.go
  apps/backend/internal/orchestrator/task_launch_pr_gate_test.go
  apps/backend/internal/orchestrator/task_launch_recovery_test.go
  apps/backend/internal/orchestrator/task_operations_test.go
  apps/backend/internal/task/repository/sqlite/builtin_workflow_test.go
  apps/backend/internal/task/repository/sqlite/workspace_bootstrap.go
  apps/backend/internal/workflow/models/export.go
  apps/backend/internal/workflow/models/export_test.go
  apps/backend/internal/workflow/repository/completion_policy.go
  apps/backend/internal/workflow/repository/completion_policy_test.go
Due: gofmt, go-tests, go-lint

fix(ui): address control sizing review feedback
  apps/packages/ui/src/control-sizing.tsx
  apps/packages/ui/src/input.tsx
  apps/web/components/github/pr-detail-panel.tsx
  apps/web/components/github/pr-reviews-section.test.tsx
  apps/web/components/integrations/change-request-detail.test.tsx
  apps/web/components/task/browser-panel.tsx
  apps/web/components/task/file-browser-search-header.tsx
  apps/web/components/task/file-context-menu.tsx
  apps/web/components/task/inline-file-input.tsx
  apps/web/components/task/sidebar-filter/view-manager.tsx
  apps/web/components/watcher-repository-fields.test.tsx
  apps/web/e2e/tests/settings/mobile-plugin-marketplace-sources.spec.ts
  apps/web/e2e/tests/task/control-sizing.spec.ts
  apps/web/lib/ui/control-sizing.test.tsx
  docs/specs/ui/system-design/control-sizing.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test: align completion recovery e2e fixtures
  apps/web/e2e/tests/session/new-session-dialog.spec.ts
  apps/web/e2e/tests/task/launch-failure-recovery.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(ui): align remaining control geometry checks
  apps/web/components/github/github-cli-form.tsx
  apps/web/e2e/tests/github/github-scope-bar.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(e2e): settle responsive control geometry assertions
  apps/web/e2e/tests/settings/agent-runtime-update.spec.ts
  apps/web/e2e/tests/settings/mobile-secrets-delete.spec.ts
  apps/web/e2e/tests/workflow/mobile-workflow-cycle-guardrails.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(ui): preserve specialized control geometry
  apps/web/components/config-chat/config-chat-panel.tsx
  apps/web/components/settings/settings-floating-save.tsx
  apps/web/e2e/tests/settings/settings-discovery.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(ui): respect dark mode for initial toast notifications
  apps/packages/ui/src/sonner.tsx
  apps/web/components/theme/sonner-theme.test.tsx
  apps/web/e2e/helpers/toast-theme.ts
  apps/web/e2e/tests/settings/mobile-toast-theme.spec.ts
  apps/web/e2e/tests/settings/toast-theme.spec.ts
  docs/plans/mobile-notification-dark-mode/plan.md
  docs/plans/mobile-notification-dark-mode/task-01-synchronize-toast-theme.md
  docs/specs/ui/README.md
  docs/specs/ui/requirements/toast-theme.md
  docs/specs/ui/system-design/toast-theme.md
Due: prettier-format, web-lint, web-tests, web-typecheck

media: screenshots for PR #3568
  desktop-dark-notification.png
  mobile-dark-notification.png
Due: none

docs: clarify toast theme verification commands
  docs/plans/mobile-notification-dark-mode/plan.md
  docs/plans/mobile-notification-dark-mode/task-01-synchronize-toast-theme.md
Due: none

test(agentctl): await the unowned reaper shutdown signal instead of sampling it
  apps/backend/internal/agentctl/server/api/unowned_reaper_test.go
Due: gofmt, go-tests, go-lint

fix(workflows): move reorder handles inside cards
  apps/web/app/settings/workspace/workspace-workflows-client.tsx
  apps/web/e2e/tests/workflow/mobile-workflow-settings.spec.ts
  apps/web/e2e/tests/workflow/workflow-sorting.spec.ts
  apps/web/src/locales/en/workflows.json
  apps/web/src/locales/pseudo/workflows.json
  apps/web/src/locales/pt-pt/workflows.json
  apps/web/src/locales/zh-cn/workflows.json
  apps/web/src/locales/zh-hk/workflows.json
  apps/web/src/locales/zh-tw/workflows.json
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(mcp): align empty-payload contract with agents specs
  apps/backend/internal/mcp/server/backend_client.go
  docs/specs/agents/requirements/mcp-bridge-reliability.md
  docs/specs/agents/system-design/mcp-bridge-reliability.md
  docs/specs/mcp-empty-payload-detection/spec.md
Due: gofmt, go-tests, go-lint

fix(ui): address control sizing review findings
  apps/packages/ui/src/command.tsx
  apps/web/components/sentry/sentry-instance-card.tsx
  apps/web/components/settings/executor-profiles-card.tsx
  apps/web/components/task-create-dialog-remote-repo-chip.test.tsx
  apps/web/components/task-create-dialog-remote-repo-chip.tsx
  apps/web/components/task/commit-detail-panel.test.tsx
  apps/web/components/task/commit-detail-panel.tsx
  apps/web/e2e/helpers/control-sizing.ts
  apps/web/e2e/tests/github/github-scope-bar.spec.ts
  apps/web/e2e/tests/integrations/integration-remove-confirmations.spec.ts
  apps/web/e2e/tests/integrations/mobile-integration-remove-confirmations.spec.ts
  apps/web/e2e/tests/settings/control-sizing.spec.ts
  apps/web/e2e/tests/settings/mobile-control-sizing.spec.ts
  apps/web/e2e/tests/task/mobile-control-sizing.spec.ts
  docs/plans/control-sizing/sweep-inventory.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): retain overlapping task rollback outcomes
  apps/web/app/office/tasks/use-board-drag.test.ts
  apps/web/app/office/tasks/use-board-drag.ts
  apps/web/hooks/use-optimistic-task-mutation-rollback-ordering.test.tsx
  apps/web/hooks/use-optimistic-task-mutation.ts
  apps/web/lib/state/office-task-content-sync.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(office): serialize canonical task refresh
  apps/backend/internal/agentctl/server/process/probe/processtable_linux.go
  apps/backend/internal/agentctl/server/process/probe/processtable_linux_test.go
  apps/backend/internal/office/dashboard/service.go
  apps/backend/internal/office/dashboard/service_tasks.go
  apps/backend/internal/office/dashboard/task_updated_cancellation_internal_test.go
  apps/backend/internal/office/dashboard/task_updated_events_test.go
  apps/backend/internal/task/service/service_events.go
  apps/backend/internal/task/service/service_events_test.go
Due: gofmt, go-tests, go-lint

fix(backend): harden legacy dynamic route backfill
  apps/backend/internal/persistence/storeconformance/upgrade_test.go
  apps/backend/internal/task/repository/sqlite/dynamic_route_legacy_active_migration.go
  apps/backend/internal/task/repository/sqlite/dynamic_route_legacy_active_migration_test.go
Due: gofmt, go-tests, go-lint

fix(harness): validate policy evidence and consolidate guidance
  .agents/skills/e2e/SKILL.md
  .agents/skills/e2e/references/dev-workflow.md
  .agents/skills/e2e/references/failure-triage.md
  .agents/skills/e2e/references/fixture-state.md
  .agents/skills/e2e/references/ui-state-and-cleanup.md
  .agents/skills/harness-improvement/SKILL.md
  .agents/skills/harness-improvement/references/session-learnings.md
  .agents/skills/harness-improvement/references/validation.md
  .agents/skills/mobile-parity/SKILL.md
  .agents/skills/pr-fixup/SKILL.md
  .agents/skills/pr-fixup/references/merge-conflicts.md
  .agents/skills/pr-fixup/references/review-evidence.md
  .agents/skills/pr-fixup/references/waiting.md
  .agents/skills/tdd/SKILL.md
  .agents/skills/tdd/references/backend-tests.md
  .github/AGENTS.md
  apps/backend/AGENTS.md
  apps/backend/internal/github/AGENTS.md
  apps/backend/internal/github/CLAUDE.md
  scripts/pr-await
  scripts/pr-await.test.sh
  scripts/pr-state
  scripts/pr-state.test.sh
Due: none
