Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

test(gitlab): share MR automation E2E fixture
  apps/web/e2e/helpers/gitlab.ts
  apps/web/e2e/tests/gitlab/mobile-mr-automation-options.spec.ts
  apps/web/e2e/tests/gitlab/mr-automation-options.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): keep Vitest helpers outside Playwright tree
  apps/web/e2e/helpers/submodule-review-helpers.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(gitlab): harden MR automation review fixes
  apps/backend/internal/gitlab/store_mr_automation.go
  apps/backend/internal/gitlab/store_mr_automation_link_test.go
  apps/backend/internal/mcp/server/server.go
  apps/web/components/gitlab/mr-automation-controls.automation.test.tsx
  apps/web/e2e/tests/gitlab/mr-automation-options.spec.ts
  apps/web/hooks/domains/gitlab/use-task-mr-automation.test.tsx
  apps/web/hooks/domains/gitlab/use-task-mr-automation.ts
  docs/specs/gitlab-integration/spec.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(e2e): retry transient submodule Git locks
  apps/web/e2e/tests/review/mobile-submodule-review.spec.ts
  apps/web/e2e/tests/review/submodule-review-helpers.test.ts
  apps/web/e2e/tests/review/submodule-review-helpers.ts
  apps/web/e2e/tests/review/submodule-review.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): preserve executor fields across kanban task cache merges
  apps/web/hooks/domains/kanban/use-all-workflow-snapshots.test.ts
  apps/web/hooks/domains/kanban/use-all-workflow-snapshots.ts
  apps/web/lib/kanban/map-task.test.ts
  apps/web/lib/kanban/map-task.ts
  apps/web/lib/state/hydration/hydrator-kanban-tasks.test.ts
  apps/web/lib/state/hydration/hydrator.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: remove plan trailing whitespace
  docs/plans/kanban-task-executor-cache-staleness/task-01-preserve-helper-and-hydrator-fix.md
  docs/plans/kanban-task-executor-cache-staleness/task-02-snapshot-merge-fix.md
Due: none

fix(web): clone hydrated kanban tasks before merge
  apps/web/lib/state/hydration/hydrator-kanban-tasks.test.ts
  apps/web/lib/state/hydration/hydrator.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): clone snapshot tasks before backfill
  apps/web/hooks/domains/kanban/use-all-workflow-snapshots.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): preserve executor fields from frozen hydration
  apps/web/lib/state/hydration/hydrator-kanban-tasks.test.ts
  apps/web/lib/state/hydration/hydrator.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): preserve live executor state during snapshot races
  apps/web/hooks/domains/kanban/use-all-workflow-snapshots.test.ts
  apps/web/hooks/domains/kanban/use-all-workflow-snapshots.ts
  apps/web/lib/kanban/map-task.ts
  docs/plans/kanban-task-executor-cache-staleness/plan.md
  docs/plans/kanban-task-executor-cache-staleness/task-01-preserve-helper-and-hydrator-fix.md
  docs/plans/kanban-task-executor-cache-staleness/task-02-snapshot-merge-fix.md
  docs/specs/kanban-task-executor-cache-staleness/spec.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): honor executor clears in snapshots
  apps/web/hooks/domains/kanban/use-all-workflow-snapshots.test.ts
  apps/web/hooks/domains/kanban/use-all-workflow-snapshots.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(agent): address runtime update review findings
  .github/scripts/update-agent-runtime-pins-workflow-contract_test.py
  .github/workflows/update-agent-runtime-pins.yml
  apps/backend/internal/agent/agents/claude_acp_test.go
  apps/backend/internal/agent/agents/codex_acp_test.go
  apps/backend/internal/agent/agents/copilot_acp_test.go
  apps/backend/internal/agent/agents/gemini_test.go
  apps/backend/internal/agent/agents/managed_npm_runtime_test.go
  apps/backend/internal/agent/agents/opencode_acp_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_launch_test.go
  apps/backend/internal/agent/settings/controller/agent_update_job.go
  apps/backend/internal/agent/settings/controller/agent_update_recovery_test.go
  apps/backend/internal/agent/settings/controller/agent_update_status_test.go
  apps/backend/internal/agent/settings/controller/agent_update_test.go
  apps/backend/internal/agent/settings/handlers/agent_update_handlers_test.go
  apps/web/components/settings/agent-runtime-update-control.test.tsx
  apps/web/components/settings/agent-runtime-update-control.tsx
  apps/web/e2e/tests/settings/agent-runtime-update-helpers.ts
  apps/web/e2e/tests/settings/agent-runtime-update.spec.ts
  apps/web/lib/agent-runtime-update.test.ts
  apps/web/lib/agent-runtime-update.ts
  docs/plans/managed-runtime-version-awareness/plan.md
  docs/plans/managed-runtime-version-awareness/task-01-default-pins.md
  docs/plans/managed-runtime-version-awareness/task-02-effective-version-selection.md
  docs/plans/managed-runtime-version-awareness/task-04-weekly-pin-workflow.md
  docs/plans/managed-runtime-version-awareness/task-05-settings-update-indicator.md
  docs/plans/managed-runtime-version-awareness/task-06-update-awareness-e2e.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(plugins): prune superseded plugin versions after a confirmed start
  apps/backend/internal/plugins/service_install.go
  apps/backend/internal/plugins/service_lifecycle.go
  apps/backend/internal/plugins/service_prune.go
  apps/backend/internal/plugins/service_prune_test.go
  docs/decisions/2026-08-22-plugin-version-retention.md
  docs/decisions/INDEX.md
  docs/public/plugins-authoring.md
  docs/public/plugins.md
Due: gofmt, go-tests, go-lint

feat(sidebar): clarify task sort descriptions (#2911)
  apps/packages/ui/src/select.tsx
  apps/web/components/task/sidebar-filter/sort-picker.tsx
  apps/web/e2e/tests/task/mobile-sidebar-views.spec.ts
  apps/web/e2e/tests/task/sidebar-filter.spec.ts
  apps/web/src/locales/en/task.json
  apps/web/src/locales/pseudo/task.json
  apps/web/src/locales/pt-pt/task.json
  apps/web/src/locales/zh-cn/task.json
  apps/web/src/locales/zh-hk/task.json
  apps/web/src/locales/zh-tw/task.json
  docs/public/tasks-and-workflows.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(ui): expose select descriptions to assistive tech (#2911)
  apps/packages/ui/src/select.tsx
  apps/web/e2e/tests/task/mobile-sidebar-views.spec.ts
  apps/web/e2e/tests/task/sidebar-filter.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(plugins): expose durable pending interactions and response actions
  apps/backend/internal/backendapp/helpers.go
  apps/backend/internal/backendapp/plugins_interaction_wiring_test.go
  apps/backend/internal/backendapp/plugins_interactions.go
  apps/backend/internal/backendapp/plugins_interactions_test.go
  apps/backend/internal/backendapp/services.go
  apps/backend/internal/clarification/handlers.go
  apps/backend/internal/plugins/host.go
  apps/backend/internal/plugins/host_data.go
  apps/backend/internal/plugins/host_data_mappers.go
  apps/backend/internal/plugins/host_data_test.go
  apps/backend/internal/plugins/host_interactions.go
  apps/backend/internal/plugins/host_interactions_test.go
  apps/backend/internal/plugins/service.go
  apps/backend/internal/task/handlers/process_handlers_test.go
  apps/backend/internal/task/models/interactions.go
  apps/backend/internal/task/repository/interface.go
  apps/backend/internal/task/repository/sqlite/pending_interactions.go
  apps/backend/internal/task/repository/sqlite/pending_interactions_postgres_test.go
  apps/backend/internal/task/repository/sqlite/pending_interactions_test.go
  apps/backend/internal/task/service/service_interactions.go
  apps/backend/internal/task/service/service_interactions_test.go
  apps/backend/pkg/pluginsdk/host.go
  apps/backend/pkg/pluginsdk/interactions.go
  apps/backend/pkg/pluginsdk/interactions_test.go
  apps/backend/proto/kandev/plugin/v1/plugin.pb.go
  apps/backend/proto/kandev/plugin/v1/plugin.proto
  apps/backend/proto/kandev/plugin/v1/plugin_grpc.pb.go
  docs/decisions/0052-plugin-host-interaction-api.md
  docs/decisions/INDEX.md
  docs/plans/plugins/GRPC-CONTRACT.md
  docs/public/plugins-authoring.md
  docs/specs/plugins/spec.md
Due: gofmt, go-tests, go-lint

fix(workflow): abort remaining on_enter actions when clear_decisions fails
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/step_entry_dispatch_test.go
Due: gofmt, go-tests, go-lint

fix(workflow): dispatch on_enter review/approval actions via step entries
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/event_handlers_workflow_lazy_resume_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow_profile_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow_session_config_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow_triggers_test.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/step_entry_dispatch_test.go
  apps/backend/internal/orchestrator/workflow_store.go
  apps/backend/internal/task/repository/sqlite/base_schema.go
  apps/backend/internal/task/repository/sqlite/step_entries.go
  apps/backend/internal/task/repository/sqlite/step_entries_test.go
  apps/backend/internal/task/repository/sqlite/task.go
  apps/backend/internal/workflow/engine/phase2_callbacks.go
  apps/backend/internal/workflow/engine/queue_run_test.go
  apps/backend/internal/workflow/engine/types.go
  apps/backend/internal/workflow/stepentry/stepentry.go
  apps/backend/internal/workflow/stepentry/stepentry_test.go
  docs/specs/INDEX.md
  docs/specs/workflow-on-enter-action-dispatch/spec.md
Due: gofmt, go-tests, go-lint

fix(workflow): resolve rebase-conflict fallout against origin/main
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/step_entry_dispatch_atomic_test.go
  apps/backend/internal/orchestrator/step_entry_dispatch_test.go
Due: gofmt, go-tests, go-lint

test(workflow): cover AC-A6 unrecognized on_enter action warning
  apps/backend/internal/orchestrator/event_handlers_workflow_on_enter_warn_test.go
Due: gofmt, go-tests, go-lint

fix(workflow): serialize turn-complete dispatch, surface CAS-loser marker failure
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/step_entry_dispatch_atomic_test.go
  apps/backend/internal/orchestrator/step_entry_dispatch_cas_loser_test.go
  apps/backend/internal/orchestrator/step_entry_dispatch_concurrent_test.go
  apps/backend/internal/task/repository/sqlite/step_entries.go
  apps/backend/internal/task/repository/sqlite/step_entries_test.go
Due: gofmt, go-tests, go-lint

fix(plugins): close prune races found in review of the retention change
  apps/backend/internal/plugins/service.go
  apps/backend/internal/plugins/service_install.go
  apps/backend/internal/plugins/service_lifecycle.go
  apps/backend/internal/plugins/service_prune.go
  apps/backend/internal/plugins/service_prune_test.go
  docs/decisions/2026-08-22-plugin-version-retention.md
  docs/public/plugins-authoring.md
  docs/public/plugins.md
Due: gofmt, go-tests, go-lint

fix(office): persist workspace name and description on save
  apps/backend/internal/office/dashboard/dto.go
  apps/web/app/office/workspace/settings/components/settings-content.test.tsx
  apps/web/app/office/workspace/settings/components/settings-content.tsx
  apps/web/e2e/tests/office/dashboard.spec.ts
  apps/web/e2e/tests/office/workspace-settings-ui.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(office): read live store state before syncing saved workspace
  apps/web/app/office/workspace/settings/components/settings-content.test.tsx
  apps/web/app/office/workspace/settings/components/settings-content.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(office): remove dead name/description fields from settings payload type
  apps/web/lib/api/domains/office-extended-api.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(office): compare submitted draft, not trimmed, in save echo guard
  apps/web/app/office/workspace/settings/components/settings-content.test.tsx
  apps/web/app/office/workspace/settings/components/settings-content.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(office): keep a draft typed during an in-flight appearance save
  apps/web/app/office/workspace/settings/components/settings-content.test.tsx
  apps/web/app/office/workspace/settings/components/settings-content.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(office): reconcile workspace appearance drafts
  apps/web/app/office/workspace/settings/components/settings-content.test.tsx
  apps/web/app/office/workspace/settings/components/settings-content.tsx
  apps/web/e2e/tests/office/dashboard.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(office): reset appearance draft when the active workspace changes
  apps/web/app/office/workspace/settings/components/settings-content.test.tsx
  apps/web/app/office/workspace/settings/components/settings-content.tsx
  apps/web/e2e/tests/office/workspace-settings-ui.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(plugins): claim permission responses before dispatch
  apps/backend/internal/backendapp/plugins_interactions.go
  apps/backend/internal/integration/test_server_test.go
  apps/backend/internal/orchestrator/handlers/handlers.go
  apps/backend/internal/orchestrator/permission_claim_test.go
  apps/backend/internal/orchestrator/permission_response.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/task_operations_test.go
  apps/backend/internal/plugins/host_interactions.go
  apps/backend/internal/plugins/service.go
  apps/backend/internal/task/handlers/process_handlers_test.go
  apps/backend/internal/task/repository/interface.go
  apps/backend/internal/task/repository/sqlite/pending_interactions.go
  apps/backend/internal/task/repository/sqlite/pending_interactions_test.go
  apps/backend/internal/task/service/service_interactions.go
  apps/backend/internal/task/service/service_interactions_test.go
  docs/public/plugins-authoring.md
Due: gofmt, go-tests, go-lint

test(plugins): assert the stamped terminal status on a failed re-read
  apps/backend/internal/plugins/host_interactions_test.go
Due: gofmt, go-tests, go-lint

ci: persist fork approval labels across pushes
  .github/scripts/opencode-code-review-workflow-contract_test.py
  .github/scripts/preview-env-workflow-contract_test.py
  .github/workflows/lint-action-pinning.yml
  .github/workflows/opencode-code-review.yml
  .github/workflows/preview-env.yml
  docs/decisions/2026-08-07-claude-allowlist-label-bridge.md
  docs/decisions/2026-08-22-persistent-fork-approval-labels.md
  docs/decisions/INDEX.md
  docs/plans/persistent-fork-approval-labels/plan.md
  docs/plans/persistent-fork-approval-labels/task-01-persist-fork-approval-labels.md
  docs/specs/claude-fork-review-allowlist/spec.md
Due: none

fix(office): coordinate workspace appearance saves
  apps/web/app/office/workspace/settings/components/settings-content.test.tsx
  apps/web/app/office/workspace/settings/components/settings-content.tsx
  apps/web/e2e/tests/office/workspace-settings-ui.spec.ts
  apps/web/src/office-routes.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: specify additional session workspace reuse
  docs/decisions/2026-08-08-task-owned-worktree-lifetime.md
  docs/specs/INDEX.md
  docs/specs/tasks/additional-session-workspace-reuse.md
Due: none

fix: bind sessions to canonical workspaces
  apps/backend/internal/agent/runtime/lifecycle/executor_backend.go
  apps/backend/internal/agent/runtime/lifecycle/executor_docker.go
  apps/backend/internal/agent/runtime/lifecycle/executor_sprites.go
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh.go
  apps/backend/internal/agent/runtime/lifecycle/manager_launch.go
  apps/backend/internal/mcp/handlers/spawn_session.go
  apps/backend/internal/mcp/handlers/spawn_session_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/executor/executor.go
  apps/backend/internal/orchestrator/executor/executor_execute.go
  apps/backend/internal/task/models/models.go
  apps/backend/internal/task/models/workspace_binding.go
  apps/backend/internal/task/repository/sqlite/base_migrations.go
  apps/backend/internal/task/repository/sqlite/base_schema.go
  apps/backend/internal/task/repository/sqlite/session.go
  apps/backend/internal/task/repository/sqlite/task_environment.go
  apps/backend/internal/task/repository/sqlite/task_environment_test.go
  apps/backend/internal/task/repository/sqlite/worktree_ownership_migration.go
  apps/backend/internal/task/repository/sqlite/worktree_ownership_targets.go
  docs/specs/session-delete-resource-cleanup/spec.md
  docs/specs/spawn-session-effective-profile/spec.md
Due: gofmt, go-tests, go-lint

fix: attach additional sessions to task workspaces
  apps/backend/internal/agent/runtime/lifecycle/env_preparer.go
  apps/backend/internal/agent/runtime/lifecycle/env_preparer_local.go
  apps/backend/internal/agent/runtime/lifecycle/env_preparer_local_test.go
  apps/backend/internal/agent/runtime/lifecycle/env_preparer_worktree.go
  apps/backend/internal/agent/runtime/lifecycle/manager_launch.go
  apps/backend/internal/agent/runtime/lifecycle/types.go
  apps/backend/internal/backendapp/adapters.go
  apps/backend/internal/mcp/handlers/spawn_session.go
  apps/backend/internal/orchestrator/executor/executor.go
  apps/backend/internal/orchestrator/executor/executor_environment_reuse.go
  apps/backend/internal/orchestrator/executor/executor_environment_test.go
  apps/backend/internal/orchestrator/executor/executor_execute.go
  apps/backend/internal/worktree/errors.go
  apps/backend/internal/worktree/manager_lifecycle.go
  apps/backend/internal/worktree/manager_reuse_required_test.go
  apps/backend/internal/worktree/worktree.go
  docs/public/coordination.md
Due: gofmt, go-tests, go-lint

fix: retain canonical remote workspace inventory
  apps/backend/internal/orchestrator/event_handlers_workflow_profile_test.go
  apps/backend/internal/orchestrator/executor/executor_environment_reuse.go
  apps/backend/internal/orchestrator/executor/executor_environment_test.go
  apps/backend/internal/orchestrator/executor/executor_execute.go
  apps/backend/internal/task/repository/sqlite/task_environment_test.go
  apps/backend/internal/worktree/manager_lifecycle.go
  apps/backend/internal/worktree/manager_reuse_required_test.go
Due: gofmt, go-tests, go-lint

test: return lifecycle response from event mock
  apps/backend/internal/orchestrator/event_handlers_test.go
Due: gofmt, go-tests, go-lint

fix: elect shared workspace materializers
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/event_handlers_workflow_profile_test.go
  apps/backend/internal/orchestrator/executor/executor.go
  apps/backend/internal/orchestrator/executor/executor_execute.go
  apps/backend/internal/orchestrator/executor/executor_mocks_test.go
  apps/backend/internal/orchestrator/executor/executor_test.go
  apps/backend/internal/orchestrator/handoff_inheritance.go
  apps/backend/internal/task/repository/sqlite/session.go
  apps/backend/internal/task/repository/sqlite/task_environment_test.go
Due: gofmt, go-tests, go-lint

test: preserve missing Docker fixture remote shape
  apps/web/e2e/helpers/http-git-server.test.ts
  apps/web/e2e/tests/docker/add-workspace-sources.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
