Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

fix: stabilize MCP chat layout and CI checks
  .github/workflows/backend-tests.yml
  apps/web/components/task/task-chat-panel.tsx
  apps/web/e2e/tests/task/mobile-task-mcp-selection.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

ci: scope manual backend lint to main
  .github/workflows/backend-tests.yml
Due: none

ci: extend PostgreSQL persistence job budget
  .github/workflows/backend-tests.yml
Due: none

ci: fix manual backend lint block
  .github/workflows/backend-tests.yml
Due: none

fix: avoid duplicate session co-residency observations
  apps/backend/internal/orchestrator/executor/session_coresidency_test.go
Due: gofmt, go-tests, go-lint

fix: stabilize CI-driven session and E2E flows
  apps/web/components/task/chat/mcp-explorer/mcp-explorer-view-model.test.ts
  apps/web/components/task/chat/mcp-explorer/mcp-explorer-view-model.ts
  apps/web/e2e/fixtures/office-fixture.ts
  apps/web/e2e/fixtures/test-base.ts
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/helpers/office-api-client.ts
  apps/web/e2e/tests/chat/html-preview.spec.ts
  apps/web/e2e/tests/docker/preview-feedback.spec.ts
  apps/web/e2e/tests/plugins/mobile-plugin-sidebar-workspace-actions.spec.ts
  apps/web/e2e/tests/preview/preview-feedback-helpers.ts
  apps/web/e2e/tests/preview/preview-feedback.spec.ts
  apps/web/e2e/tests/session/setup-script-progress.spec.ts
  apps/web/e2e/tests/task/file-tree-create.spec.ts
  apps/web/e2e/tests/task/file-tree-download.spec.ts
  apps/web/e2e/tests/task/file-tree-drag-drop.spec.ts
  apps/web/e2e/tests/task/mobile-autopilot-mode.spec.ts
  apps/web/hooks/domains/session/use-session-mcp.ts
  apps/web/hooks/use-ensure-task-session.ts
  apps/web/lib/ssr/session-page-state.ts
  apps/web/lib/state/slices/session-runtime/session-model-hydration.test.ts
  apps/web/lib/state/slices/session-runtime/session-model-hydration.ts
  apps/web/lib/state/slices/session-runtime/types.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: tolerate async session metric updates
  apps/backend/internal/orchestrator/executor/session_coresidency_test.go
Due: gofmt, go-tests, go-lint

fix: resolve rebase artifacts and stabilize CI
  apps/backend/internal/agent/runtime/lifecycle/agentctl_resolver_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_mcp_reconfiguration_test.go
  apps/backend/internal/orchestrator/task_operations_test.go
  apps/backend/internal/task/service/service.go
  apps/web/lib/ssr/session-page-state.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test: fail flaky E2E checks and stabilize fixtures
  .github/workflows/e2e-tests.yml
  apps/web/e2e/fixtures/test-base.ts
  apps/web/e2e/helpers/api-client.test.ts
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/helpers/git-helper.test.ts
  apps/web/e2e/helpers/git-helper.ts
  apps/web/e2e/helpers/mock-agent.ts
  apps/web/e2e/tests/settings/agents-browse-page.spec.ts
  apps/web/e2e/tests/task/large-file-tree-virtualization-helpers.ts
  apps/web/e2e/tests/workflow/workflow-agent-switch-helpers.ts
  apps/web/scripts/vitest-project-selection.test.ts
  apps/web/scripts/vitest-project-selection.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: stabilize workspace mcp pull request checks
  .github/workflows/e2e-tests.yml
  apps/web/components/task/terminal-debug.ts
  apps/web/components/task/use-fit-and-resize.ts
  apps/web/components/task/use-passthrough-terminal.test.ts
  apps/web/components/task/use-passthrough-terminal.ts
  apps/web/e2e/tests/chat/mobile-reverse-search-focus.spec.ts
  apps/web/e2e/tests/task/large-file-tree-virtualization-helpers.ts
  apps/web/e2e/tests/task/sidebar-scroll-preservation.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor: extract task deletion handler
  apps/web/lib/ws/handlers/tasks.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(agentctl): remove timing dependency from tracker startup test
  apps/backend/internal/agentctl/server/process/manager_multi_repo_stream_test.go
Due: gofmt, go-tests, go-lint

fix: clear Cursor Cloud CI regressions
  apps/backend/internal/agent/registry/runtime_update_coverage_test.go
  apps/web/components/task/cursor-cloud-task-page.tsx
  apps/web/components/task/remote-executor-view.ts
  apps/web/components/task/task-page-inner.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

docs(backend): keep agent guide under line limit
  apps/backend/AGENTS.md
Due: none

fix(orchestrator): recheck lifecycle evidence before replay
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction.go
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction_accessors_test.go
  apps/backend/internal/agent/runtime/runtime.go
  apps/backend/internal/backendapp/adapters.go
  apps/backend/internal/backendapp/adapters_acp_session_test.go
  apps/backend/internal/orchestrator/event_handlers_agent.go
  apps/backend/internal/orchestrator/event_handlers_transient.go
  apps/backend/internal/orchestrator/event_handlers_transient_replay_safety_test.go
  apps/backend/internal/orchestrator/provider_interruption_cancel.go
  apps/backend/internal/orchestrator/provider_interruption_continuation_test.go
  apps/backend/internal/orchestrator/provider_interruption_dispatch.go
Due: gofmt, go-tests, go-lint

fix(orchestrator): preserve retry evidence after failure
  apps/backend/internal/agent/runtime/lifecycle/manager_events.go
  apps/backend/internal/agent/runtime/lifecycle/manager_events_dispatch_completion_test.go
  apps/backend/internal/orchestrator/event_handlers_transient.go
  apps/backend/internal/orchestrator/event_handlers_transient_replay_safety_test.go
Due: gofmt, go-tests, go-lint

fix: serialize Gitflow starter admission
  apps/backend/internal/task/handlers/repository_branch_policy_admission_test.go
  apps/backend/internal/task/repository/sqlite/repository_branch_policy.go
  apps/backend/internal/task/repository/sqlite/repository_branch_policy_admission.go
  apps/backend/internal/task/repository/sqlite/repository_branch_policy_admission_postgres_test.go
  apps/backend/internal/task/repository/sqlite/repository_branch_policy_admission_test.go
  apps/backend/internal/task/service/service_repository_branch_policy_admission_test.go
  docs/plans/gitflow-starter-admission/plan.md
  docs/plans/gitflow-starter-admission/task-01-serialize-starter-admission.md
  docs/public/git-operations.md
  docs/specs/workspaces/requirements/branch-policies.md
  docs/specs/workspaces/system-design/branch-policies.md
Due: gofmt, go-tests, go-lint

fix: preserve quick chat failure handling for omitted MCP selections
  apps/backend/internal/orchestrator/session_mcp.go
  apps/web/e2e/helpers/git-helper.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test: stabilize provider recovery and tracker startup checks
  apps/backend/internal/agentctl/server/process/manager_multi_repo_stream_test.go
  apps/web/e2e/tests/session/provider-interruption-continuation.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: preserve session startup during workflow turn-start
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/workflow_turn_start_profile_error_test.go
  apps/backend/internal/orchestrator/workflow_turn_start_resume_test.go
  apps/backend/internal/orchestrator/workflow_turn_start_state.go
  apps/backend/internal/orchestrator/workflow_turn_start_state_test.go
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/helpers/session-resume-prompt-queue.ts
  apps/web/e2e/helpers/session-resume-turn-start.ts
  apps/web/e2e/tests/session/mobile-session-resume-turn-start.spec.ts
  apps/web/e2e/tests/session/session-resume-turn-start.spec.ts
  docs/plans/resume-prompt-queue/plan.md
  docs/plans/session-resume-turn-start-race/plan.md
  docs/plans/session-resume-turn-start-race/task-01-preserve-startup.md
  docs/plans/session-resume-turn-start-race/task-02-verify-delivery.md
  docs/specs/tasks/requirements/resume-prompt-queue.md
  docs/specs/tasks/system-design/resume-prompt-queue.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: preserve startup across workflow transition errors
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/workflow_turn_start_state_test.go
  apps/backend/internal/orchestrator/workflow_turn_start_transition_error_test.go
  apps/web/e2e/helpers/session-resume-prompt-queue.ts
  apps/web/e2e/helpers/session-resume-turn-start.ts
  apps/web/e2e/tests/session/mobile-session-resume-turn-start.spec.ts
  apps/web/e2e/tests/session/session-resume-turn-start.spec.ts
  docs/plans/session-resume-turn-start-race/plan.md
  docs/plans/session-resume-turn-start-race/task-01-preserve-startup.md
  docs/plans/session-resume-turn-start-race/task-02-verify-delivery.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(task): replace repositories atomically
  apps/backend/internal/orchestrator/executor/executor_mocks_test.go
  apps/backend/internal/task/handlers/process_handlers_test.go
  apps/backend/internal/task/handlers/task_http_handlers_test.go
  apps/backend/internal/task/handlers/task_repository_replacement_test.go
  apps/backend/internal/task/models/task_repository_replacement.go
  apps/backend/internal/task/repository/interface.go
  apps/backend/internal/task/repository/sqlite/task_repository_replacement.go
  apps/backend/internal/task/repository/sqlite/task_repository_replacement_postgres_test.go
  apps/backend/internal/task/repository/sqlite/task_repository_replacement_test.go
  apps/backend/internal/task/service/repository_checkout_options.go
  apps/backend/internal/task/service/service_task_repository_replacement.go
  apps/backend/internal/task/service/service_task_repository_replacement_test.go
  apps/backend/internal/task/service/service_tasks.go
  docs/plans/atomic-task-repository-replacement/plan.md
  docs/plans/atomic-task-repository-replacement/task-01-atomic-replacement.md
  docs/public/tasks-and-workflows.md
  docs/specs/tasks/requirements/attach-workspace-sources.md
  docs/specs/tasks/system-design/attach-workspace-source-replacement.md
Due: gofmt, go-tests, go-lint

fix(task): validate references before repository preparation
  apps/backend/internal/task/handlers/task_update_repositories_test.go
  apps/backend/internal/task/repository/sqlite/task_repository_replacement_postgres_test.go
  apps/backend/internal/task/service/service_task_repository_replacement_test.go
  apps/backend/internal/task/service/service_tasks.go
  docs/plans/atomic-task-repository-replacement/plan.md
  docs/plans/atomic-task-repository-replacement/task-01-atomic-replacement.md
  docs/specs/tasks/requirements/attach-workspace-sources.md
  docs/specs/tasks/system-design/attach-workspace-source-replacement.md
Due: gofmt, go-tests, go-lint

docs: record ACP continuity PR fixup status
  docs/plans/transient-turn-runtime-continuity/plan.md
Due: none

test: cover retained turn failure publish fallback
  apps/backend/internal/agent/runtime/lifecycle/manager_turn_failure_test.go
  docs/plans/transient-turn-runtime-continuity/task-01-retain-failed-turn-runtime.md
Due: gofmt, go-tests, go-lint

test: assert retained capacity in ACP replay fixture
  apps/backend/internal/agentctl/server/adapter/transport/acp/dialect_codex_usage_test.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/replay_fixture_test.go
  docs/plans/transient-turn-runtime-continuity/task-01-retain-failed-turn-runtime.md
Due: gofmt, go-tests, go-lint

fix(tasks): serialize validated task re-parenting
  apps/backend/AGENTS.md
  apps/backend/internal/db/taskhierarchy.go
  apps/backend/internal/db/tasklock.go
  apps/backend/internal/office/dashboard/service_hierarchy_admission_test.go
  apps/backend/internal/office/dashboard/service_tasks.go
  apps/backend/internal/office/repository/sqlite/task_hierarchy_admission_test.go
  apps/backend/internal/office/repository/sqlite/tasks.go
  apps/backend/internal/office/repository/sqlite/tasks_ops_test.go
  apps/backend/internal/task/handlers/errors.go
  apps/backend/internal/task/handlers/task_hierarchy_admission_test.go
  apps/backend/internal/task/handlers/task_ws_handlers.go
  apps/backend/internal/task/repository/hierarchy.go
  apps/backend/internal/task/repository/hierarchy/hierarchy.go
  apps/backend/internal/task/repository/hierarchy/policy.go
  apps/backend/internal/task/repository/interface.go
  apps/backend/internal/task/repository/repoerrors/errors.go
  apps/backend/internal/task/repository/sqlite/task.go
  apps/backend/internal/task/repository/sqlite/task_hierarchy_admission.go
  apps/backend/internal/task/repository/sqlite/task_hierarchy_admission_postgres_test.go
  apps/backend/internal/task/repository/sqlite/task_hierarchy_admission_test.go
  apps/backend/internal/task/repository/sqlite/workspace.go
  apps/backend/internal/task/service/service_detachment_test.go
  apps/backend/internal/task/service/service_hierarchy_admission_test.go
  apps/backend/internal/task/service/service_tasks.go
  docs/plans/serialize-validated-task-reparenting/plan.md
  docs/plans/serialize-validated-task-reparenting/task-01-hierarchy-admission.md
  docs/public/tasks-and-workflows.md
  docs/specs/tasks/requirements/subtask-reparenting-drag-drop.md
  docs/specs/tasks/system-design/subtask-reparenting-drag-drop.md
Due: gofmt, go-tests, go-lint

fix: preserve legacy hierarchy metadata and reject encoding failures
  apps/backend/internal/office/repository/sqlite/tasks.go
  apps/backend/internal/task/handlers/task_hierarchy_admission_test.go
  apps/backend/internal/task/repository/sqlite/task_hierarchy_admission.go
  apps/backend/internal/task/repository/sqlite/task_hierarchy_admission_postgres_test.go
  apps/backend/internal/task/repository/sqlite/task_hierarchy_admission_test.go
  apps/backend/internal/task/service/service_hierarchy_admission_test.go
  docs/plans/serialize-validated-task-reparenting/task-01-hierarchy-admission.md
  docs/specs/tasks/system-design/subtask-reparenting-drag-drop.md
Due: gofmt, go-tests, go-lint

fix: preserve hierarchy read errors and valid test fixtures
  apps/backend/internal/task/repository/hierarchy/policy.go
  apps/backend/internal/task/repository/sqlite/task_deferred_launch_protected_postgres_test.go
  apps/backend/internal/task/repository/task_wip_test.go
  apps/backend/internal/task/service/service_hierarchy_admission_delete_test.go
  apps/backend/internal/task/service/service_hierarchy_admission_errors_test.go
  apps/backend/internal/task/service/service_hierarchy_admission_test.go
  apps/backend/internal/task/service/service_tasks_stop_test.go
  docs/plans/serialize-validated-task-reparenting/task-01-hierarchy-admission.md
  docs/specs/tasks/system-design/subtask-reparenting-drag-drop.md
Due: gofmt, go-tests, go-lint

fix: preserve task hierarchy child read error identity
  apps/backend/internal/task/repository/hierarchy/policy.go
  apps/backend/internal/task/service/service_hierarchy_admission_errors_test.go
  docs/plans/serialize-validated-task-reparenting/task-01-hierarchy-admission.md
  docs/specs/tasks/system-design/subtask-reparenting-drag-drop.md
Due: gofmt, go-tests, go-lint

fix: preserve creation read failures and isolated PG fixtures
  apps/backend/internal/office/repository/sqlite/task_hierarchy_admission_test.go
  apps/backend/internal/task/handlers/task_hierarchy_creation_errors_test.go
  apps/backend/internal/task/repository/hierarchy/policy.go
  docs/plans/serialize-validated-task-reparenting/task-01-hierarchy-admission.md
  docs/specs/tasks/system-design/subtask-reparenting-drag-drop.md
Due: gofmt, go-tests, go-lint

docs: clarify deletion conflicts from excluded children
  docs/plans/serialize-validated-task-reparenting/task-01-hierarchy-admission.md
  docs/public/tasks-and-workflows.md
Due: none

fix(tasks): preserve concurrent task field edits
  apps/backend/AGENTS.md
  apps/backend/internal/orchestrator/executor/executor_mocks_test.go
  apps/backend/internal/task/handlers/process_handlers_test.go
  apps/backend/internal/task/handlers/task_field_updates_test.go
  apps/backend/internal/task/handlers/task_http_handlers_external_id_test.go
  apps/backend/internal/task/handlers/task_update_repositories_test.go
  apps/backend/internal/task/models/task_field_update.go
  apps/backend/internal/task/models/task_metadata_update.go
  apps/backend/internal/task/repository/interface.go
  apps/backend/internal/task/repository/sqlite/task.go
  apps/backend/internal/task/repository/sqlite/task_field_updates.go
  apps/backend/internal/task/repository/sqlite/task_field_updates_postgres_test.go
  apps/backend/internal/task/repository/sqlite/task_field_updates_test.go
  apps/backend/internal/task/service/agent_conversations_pagination_test.go
  apps/backend/internal/task/service/agent_conversations_test.go
  apps/backend/internal/task/service/handoff_workspace_test.go
  apps/backend/internal/task/service/service_task_field_updates_test.go
  apps/backend/internal/task/service/service_task_metadata.go
  apps/backend/internal/task/service/service_tasks.go
  apps/backend/internal/task/service/service_test.go
  docs/plans/concurrent-task-field-edits/plan.md
  docs/plans/concurrent-task-field-edits/task-01-preserve-field-intent.md
  docs/public/websocket-api.md
  docs/specs/tasks/requirements/task-field-updates.md
  docs/specs/tasks/system-design/task-field-updates.md
Due: gofmt, go-tests, go-lint

fix(tasks): preserve concurrent metadata merges
  apps/backend/internal/orchestrator/executor/task_metadata_merge_fixture_test.go
  apps/backend/internal/task/handlers/task_field_updates_test.go
  apps/backend/internal/task/handlers/task_metadata_merge_fixture_test.go
  apps/backend/internal/task/handlers/task_metadata_merge_registered_test.go
  apps/backend/internal/task/handlers/task_port_forwarding_test.go
  apps/backend/internal/task/repository/interface.go
  apps/backend/internal/task/repository/sqlite/task_metadata_merge.go
  apps/backend/internal/task/repository/sqlite/task_metadata_merge_cancellation_test.go
  apps/backend/internal/task/repository/sqlite/task_metadata_merge_postgres_test.go
  apps/backend/internal/task/repository/sqlite/task_metadata_merge_test.go
  apps/backend/internal/task/service/service_task_metadata_merge_effects_test.go
  apps/backend/internal/task/service/service_task_metadata_merge_fixture_test.go
  apps/backend/internal/task/service/service_task_metadata_merge_test.go
  apps/backend/internal/task/service/service_task_metadata_merge_values_test.go
  apps/backend/internal/task/service/service_workflow.go
  docs/plans/concurrent-task-metadata-merges/plan.md
  docs/plans/concurrent-task-metadata-merges/task-01-canonical-metadata-merge.md
  docs/public/websocket-api.md
  docs/specs/tasks/requirements/task-field-updates.md
  docs/specs/tasks/system-design/task-field-updates.md
Due: gofmt, go-tests, go-lint

test(tasks): prove SQLite metadata contention before cancellation
  apps/backend/internal/task/repository/sqlite/task_metadata_merge_cancellation_test.go
  docs/plans/concurrent-task-metadata-merges/plan.md
  docs/plans/concurrent-task-metadata-merges/task-01-canonical-metadata-merge.md
Due: gofmt, go-tests, go-lint

fix(chat): align opening composer context chips
  apps/web/components/quick-chat/quick-chat-setup.tsx
  apps/web/components/task-create-dialog-selectors.tsx
  apps/web/components/task/chat/context-items/context-zone.tsx
  apps/web/e2e/tests/chat/mobile-quick-chat-opening-composer.spec.ts
  apps/web/e2e/tests/chat/quick-chat-opening-composer-helpers.ts
  apps/web/e2e/tests/chat/quick-chat-opening-composer.spec.ts
  docs/plans/quick-chat-opening-composer/task-02-shared-composer.md
  docs/specs/tasks/system-design/quick-chat-opening-composer.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(chat): hide empty opening context rows
  apps/web/components/quick-chat/quick-chat-setup.tsx
  apps/web/e2e/tests/chat/mobile-quick-chat-opening-composer.spec.ts
  apps/web/e2e/tests/chat/quick-chat-opening-composer.spec.ts
  docs/plans/quick-chat-opening-composer/task-02-shared-composer.md
Due: prettier-format, web-lint, web-tests, web-typecheck

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
