Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

feat(storage): show database footprint in storage analysis
  apps/backend/internal/backendapp/storage_maintenance.go
  apps/backend/internal/backendapp/storage_maintenance_test.go
  apps/backend/internal/system/storage/analysis_state.go
  apps/backend/internal/system/storage/databasestore/provider.go
  apps/backend/internal/system/storage/databasestore/provider_test.go
  apps/backend/internal/system/storage/handler.go
  apps/backend/internal/system/storage/overview_cache.go
  apps/backend/internal/system/storage/overview_cache_progress_test.go
  apps/web/components/settings/system/storage/storage-maintenance-settings.test.tsx
  apps/web/components/settings/system/storage/storage-overview-card.test.tsx
  apps/web/components/settings/system/storage/storage-overview-card.tsx
  apps/web/components/settings/system/storage/storage-overview-resources.ts
  apps/web/components/settings/system/storage/storage-totals.test.ts
  apps/web/components/settings/system/storage/storage-totals.ts
  apps/web/e2e/helpers/storage-maintenance.ts
  apps/web/e2e/tests/system/mobile-storage-database-footprint.spec.ts
  apps/web/e2e/tests/system/storage-database-footprint.spec.ts
  apps/web/hooks/domains/system/use-storage-maintenance.test-fixtures.tsx
  apps/web/lib/state/slices/system/system-slice.test.ts
  apps/web/lib/types/system.ts
  apps/web/src/locales/en/system.json
  apps/web/src/locales/pseudo/system.json
  apps/web/src/locales/pt-pt/system.json
  apps/web/src/locales/zh-cn/system.json
  apps/web/src/locales/zh-hk/system.json
  apps/web/src/locales/zh-tw/system.json
  docs/plans/storage-database-footprint/plan.md
  docs/plans/storage-database-footprint/task-01-database-measurements.md
  docs/plans/storage-database-footprint/task-02-storage-resource-rows.md
  docs/plans/storage-database-footprint/task-03-storage-flow-evidence.md
  docs/public/operations.md
  docs/specs/system-page/README.md
  docs/specs/system-page/requirements/storage-maintenance.md
  docs/specs/system-page/system-design/storage-analysis-progress.md
  docs/specs/system-page/system-design/storage-database-footprint.md
  docs/specs/system-page/system-design/storage-maintenance-01.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

media: update compressed screenshots for PR #3574
  apps/web/.pr-assets/manifest.json
  apps/web/.pr-assets/mobile-pr-clarification-proceed-capture--clarification-cleared.png
  apps/web/.pr-assets/mobile-pr-clarification-proceed-capture--pending-clarification.png
  apps/web/.pr-assets/pr-clarification-proceed-capture--clarification-cleared.png
  apps/web/.pr-assets/pr-clarification-proceed-capture--pending-clarification.png
Due: prettier-format

media: screenshots for PR #3575
  mobile-storage-database-footprint--database-footprint.png
  storage-database-footprint--database-footprint.png
Due: none

fix(workflow): preserve one-shot move entry options
  apps/backend/internal/mcp/server/config_handlers.go
  apps/backend/internal/mcp/server/config_handlers_test.go
  apps/backend/internal/mcp/server/handlers.go
  apps/backend/internal/mcp/server/server.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/event_handlers_workflow_move_override_findings_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow_triggers_test.go
  apps/backend/internal/task/repository/sqlite/task.go
  apps/backend/internal/task/repository/sqlite/task_deferred_move_test.go
  apps/backend/internal/workflow/move/overlay.go
  apps/backend/internal/workflow/move/overlay_test.go
Due: gofmt, go-tests, go-lint

fix(web): drop stale duplicate auto_advance_requires_signal field
  apps/web/lib/types/http.ts
  apps/web/lib/ws/handlers/workflows.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): remove duplicate workflow step fields
  apps/web/lib/types/http.ts
  apps/web/lib/ws/handlers/workflows.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(workflow): defer EvaluateOnly operation marking to the caller's commit
  apps/backend/internal/orchestrator/evaluate_only_operation_marking_pin_test.go
  apps/backend/internal/orchestrator/event_handlers_agent_error.go
  apps/backend/internal/orchestrator/event_handlers_agent_error_coverage_test.go
  apps/backend/internal/orchestrator/event_handlers_agent_error_evaluate_only_test.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/workflow/engine/engine.go
  apps/backend/internal/workflow/engine/engine_test.go
  apps/backend/internal/workflow/engine/quorum_reevaluation_test.go
  docs/specs/workflow-evaluate-only-operation-marking/spec.md
  docs/specs/workflow-evaluate-only-operation-marking/verification.md
Due: gofmt, go-tests, go-lint

fix(storage): address database footprint review findings
  apps/backend/internal/backendapp/storage_maintenance.go
  apps/backend/internal/system/storage/databasestore/provider.go
  apps/backend/internal/system/storage/databasestore/provider_test.go
  apps/backend/internal/system/storage/gocache/analysis_scanner_test.go
  apps/backend/internal/system/storage/gocache/provider.go
  apps/web/components/settings/system/storage/storage-overview-card.test.tsx
  apps/web/components/settings/system/storage/storage-overview-resources.ts
  apps/web/e2e/tests/system/storage-database-footprint.spec.ts
  apps/web/lib/types/system.ts
  apps/web/src/locales/en/system.json
  apps/web/src/locales/pseudo/system.json
  apps/web/src/locales/pt-pt/system.json
  apps/web/src/locales/zh-cn/system.json
  apps/web/src/locales/zh-hk/system.json
  apps/web/src/locales/zh-tw/system.json
  docs/plans/storage-database-footprint/plan.md
  docs/plans/storage-database-footprint/task-01-database-measurements.md
  docs/plans/storage-database-footprint/task-02-storage-resource-rows.md
  docs/plans/storage-database-footprint/task-03-storage-flow-evidence.md
  docs/specs/system-page/README.md
  docs/specs/system-page/requirements/storage-maintenance.md
  docs/specs/system-page/system-design/storage-database-footprint.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(workflow): close AC-EO-13 lock-span and AC-EO-16 coverage gaps
  apps/backend/internal/orchestrator/event_handlers_agent_error_evaluate_only_test.go
  apps/backend/internal/orchestrator/event_handlers_children_completed_test.go
  docs/specs/workflow-evaluate-only-operation-marking/verification.md
Due: gofmt, go-tests, go-lint

fix(orchestrator): resolve HandleInput to engine's import path in the pin guard
  apps/backend/internal/orchestrator/evaluate_only_operation_marking_pin_test.go
  apps/backend/internal/orchestrator/event_handlers_agent_error.go
Due: gofmt, go-tests, go-lint

fix(workflow): reconcile EvaluateOnly marking with the operation ledger rebase
  apps/backend/internal/orchestrator/evaluate_only_operation_marking_pin_test.go
  apps/backend/internal/orchestrator/event_handlers_agent_error_evaluate_only_test.go
  apps/backend/internal/workflow/engine/engine_evaluate_only_marking_test.go
  apps/backend/internal/workflow/engine/engine_test.go
Due: gofmt, go-tests, go-lint

test(web): align PR hover popover focus assertion
  apps/web/e2e/tests/pr/pr-topbar-popover.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

media: screenshots for PR #3576
  threads-home-desktop-settings.png
  threads-home-desktop.png
  threads-home-phone-settings.png
  threads-home-phone.png
Due: none

feat(user): persist kanban board sort and priority filter tokens
  apps/backend/internal/user/controller/controller.go
  apps/backend/internal/user/dto/dto.go
  apps/backend/internal/user/dto/dto_test.go
  apps/backend/internal/user/handlers/handlers_test.go
  apps/backend/internal/user/models/kanban_view_preferences.go
  apps/backend/internal/user/models/kanban_view_preferences_test.go
  apps/backend/internal/user/models/models.go
  apps/backend/internal/user/service/service.go
  apps/backend/internal/user/service/service_test.go
  apps/backend/internal/user/service/user_settings_cas_test.go
  apps/backend/internal/user/store/sqlite.go
  apps/backend/internal/user/store/sqlite_test.go
  apps/web/lib/kanban/task-priority.test.ts
  apps/web/lib/kanban/task-priority.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

docs(tasks): add board priority sort and filter requirements
  docs/specs/tasks/README.md
  docs/specs/tasks/requirements/board-priority-sort-filter-order.md
  docs/specs/tasks/requirements/board-priority-sort-filter-view-state.md
  docs/specs/tasks/requirements/board-priority-sort-filter.md
Due: none

feat(web): sort and filter the kanban board by priority
  apps/web/components/kanban-display-dropdown.test.tsx
  apps/web/components/kanban-display-dropdown.tsx
  apps/web/components/kanban/mobile-menu-sheet.test.tsx
  apps/web/components/kanban/mobile-menu-sheet.tsx
  apps/web/components/kanban/swimlane-graph2-content.tsx
  apps/web/components/kanban/swimlane-kanban-content.tsx
  apps/web/components/kanban/swipeable-columns.tsx
  apps/web/hooks/use-ensure-user-settings.test.ts
  apps/web/hooks/use-kanban-display-settings.test.ts
  apps/web/hooks/use-kanban-display-settings.ts
  apps/web/hooks/use-mobile-menu-sheet-state.ts
  apps/web/hooks/use-task-multi-select.test.ts
  apps/web/hooks/use-task-multi-select.ts
  apps/web/hooks/use-user-display-settings.test.ts
  apps/web/hooks/use-user-display-settings.ts
  apps/web/lib/kanban/kanban-sort.test.ts
  apps/web/lib/kanban/kanban-sort.ts
  apps/web/lib/kanban/priority-filter-tokens.test.ts
  apps/web/lib/kanban/priority-filter-tokens.ts
  apps/web/lib/kanban/task-order.test.ts
  apps/web/lib/kanban/task-order.ts
  apps/web/lib/kanban/task-projections.test.ts
  apps/web/lib/kanban/task-projections.ts
  apps/web/lib/ssr/user-settings.ts
  apps/web/lib/state/slices/settings/types.ts
  apps/web/lib/types/http-user-settings.ts
  apps/web/lib/ws/handlers/kanban-priority.test.ts
  apps/web/lib/ws/handlers/kanban.ts
  apps/web/src/locales/en/kanban.json
  apps/web/src/locales/pt-pt/kanban.json
  apps/web/src/locales/zh-cn/kanban.json
  apps/web/src/locales/zh-hk/kanban.json
  apps/web/src/locales/zh-tw/kanban.json
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(backend): include kanban sort and priority filter in boot payload
  apps/backend/internal/backendapp/boot_state_routes.go
  apps/backend/internal/backendapp/boot_state_user_settings_test.go
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/tests/kanban/board-priority-sort-filter.spec.ts
  apps/web/e2e/tests/kanban/mobile-board-priority-sort-filter.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(kanban): cap priority-filter tokens and close review-round-2 test gaps
  apps/backend/internal/user/handlers/handlers_test.go
  apps/backend/internal/user/service/service.go
  apps/backend/internal/user/service/service_test.go
  apps/backend/internal/user/service/user_settings_cas_test.go
  apps/web/e2e/tests/kanban/board-priority-sort-filter.spec.ts
  apps/web/hooks/use-drag-and-drop.test.ts
  apps/web/hooks/use-kanban-display-settings.test.ts
  apps/web/hooks/use-task-multi-select.test.ts
  apps/web/lib/kanban/priority-filter-tokens.test.ts
  apps/web/lib/kanban/task-order.test.ts
  apps/web/lib/kanban/task-projections.test.ts
  apps/web/lib/kanban/view-registry-ordering.test.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(web): fix priority fallback and bulk-action filter eligibility on kanban board
  apps/web/components/kanban/swimlane-kanban-content.tsx
  apps/web/components/kanban/swipeable-columns.tsx
  apps/web/hooks/use-task-multi-select.test.ts
  apps/web/hooks/use-task-multi-select.ts
  apps/web/hooks/use-user-display-settings.test.ts
  apps/web/hooks/use-user-display-settings.ts
  apps/web/lib/kanban/task-order.test.ts
  apps/web/lib/kanban/task-order.ts
  apps/web/lib/ws/handlers/kanban.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): drop spec-ID comments and add board-sort accessible name
  apps/backend/internal/user/models/kanban_view_preferences.go
  apps/backend/internal/user/service/service.go
  apps/backend/internal/user/store/sqlite.go
  apps/web/components/kanban-display-dropdown.test.tsx
  apps/web/components/kanban-display-dropdown.tsx
  apps/web/components/kanban/mobile-menu-sheet.test.tsx
  apps/web/components/kanban/mobile-menu-sheet.tsx
  apps/web/hooks/use-task-multi-select.ts
  apps/web/hooks/use-user-display-settings.ts
  apps/web/lib/kanban/priority-filter-tokens.ts
  apps/web/lib/kanban/task-order.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(kanban): cap priority-filter tokens and close review-round-2 test gaps
  apps/backend/internal/user/service/service.go
  apps/backend/internal/user/service/service_test.go
  apps/backend/internal/user/store/sqlite.go
  apps/backend/internal/user/store/sqlite_test.go
  apps/web/e2e/tests/kanban/board-priority-sort-filter.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(web): reconcile with the merged task-priority feature after rebase
  apps/web/components/kanban-display-dropdown.test.tsx
  apps/web/components/kanban-display-dropdown.tsx
  apps/web/components/kanban/mobile-menu-sheet.tsx
  apps/web/e2e/helpers/api-client.ts
  apps/web/hooks/use-task-multi-select.ts
  apps/web/lib/kanban/priority-filter-tokens.ts
  apps/web/lib/kanban/task-order.ts
  apps/web/lib/kanban/task-priority.test.ts
  apps/web/lib/kanban/task-priority.ts
  apps/web/lib/ws/handlers/kanban-priority.test.ts
  apps/web/src/locales/pseudo/kanban.json
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(settings): regenerate settings-discovery snapshots for kanban board fields
  apps/web/lib/settings-discovery/contract.generated.json
  apps/web/lib/settings-discovery/profile-contract.generated.json
Due: prettier-format

fix(kanban): address cubic review findings after main rebase
  apps/backend/internal/user/store/sqlite.go
  apps/backend/internal/user/store/sqlite_test.go
  apps/web/hooks/use-task-multi-select.test.ts
  apps/web/hooks/use-task-multi-select.ts
  apps/web/hooks/use-user-display-settings.test.ts
  apps/web/hooks/use-user-display-settings.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(web): restore priority filter wiring after render-isolation rebase
  apps/web/components/kanban/swipeable-columns.tsx
  apps/web/hooks/domains/kanban/use-swimlane-render-data.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: correct mobile menu component reference
  docs/plans/mobile-threads/task-01-phone-deck.md
Due: none

fix(ui): preserve Home fallback when Office is disabled
  apps/web/components/app-sidebar/app-sidebar-workspace-picker.test.tsx
  apps/web/components/kanban/kanban-header-mobile.test.tsx
  apps/web/components/kanban/kanban-header-mobile.tsx
  apps/web/e2e/helpers/api-client.test.ts
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/tests/office/mobile-office-navigation.spec.ts
  apps/web/lib/startup-page.test.ts
  apps/web/lib/startup-page.ts
  docs/plans/threads-home-default/plan.md
  docs/plans/threads-home-default/task-01-persist-threads-startup-choice.md
  docs/plans/threads-home-default/task-02-resolve-threads-home-navigation.md
  docs/plans/threads-home-default/task-03-expose-threads-home-choice.md
  docs/public/tasks-and-workflows.md
  docs/specs/ui/README.md
  docs/specs/ui/requirements/task-listing-display-preferences.md
  docs/specs/ui/system-design/task-listing-display-preferences.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test(office): strengthen cooldown review coverage
  apps/backend/internal/backendapp/cron_test.go
  apps/backend/internal/office/service/scheduler_checkout_release_test.go
  docs/plans/office-cooldown-wire/task-01-cooldown-gate-column.md
  docs/plans/office-cooldown-wire/task-02-stamp-on-failure.md
Due: gofmt, go-tests, go-lint

fix(office): add missing dedup keys and keyless telemetry to reactivity producers
  apps/backend/internal/office/repository/sqlite/migrations_priority_assignment_generation_test.go
  apps/backend/internal/office/runtime/spawn_agent_run_key_test.go
  apps/backend/internal/office/scheduler/reactivity.go
  apps/backend/internal/office/scheduler/reactivity_apply_mutation_test.go
  apps/backend/internal/office/scheduler/reactivity_producer_key_audit_test.go
Due: gofmt, go-tests, go-lint

fix(office): report review-request keyless telemetry once per recipient
  apps/backend/internal/office/scheduler/reactivity.go
  apps/backend/internal/office/scheduler/reactivity_producer_key_audit_test.go
Due: gofmt, go-tests, go-lint

fix(office): bound SpawnAgentRun's agent-supplied metric label
  apps/backend/internal/office/runtime/actions.go
  apps/backend/internal/office/runtime/errors.go
  apps/backend/internal/office/runtime/handler.go
  apps/backend/internal/office/runtime/spawn_agent_run_key_test.go
  apps/backend/internal/office/service/task_assignee.go
  docs/specs/office/system-design/run-dedup-generation-02.md
  docs/specs/office/system-design/run-dedup-generation-03.md
Due: gofmt, go-tests, go-lint

test(office): cover requeueRunForTask's keyless telemetry report
  apps/backend/internal/office/service/manual_resume_keyless_test.go
Due: gofmt, go-tests, go-lint

test(office): close coverage gaps in run-dedup-generation key producers
  apps/backend/internal/office/scheduler/reactivity_blockers_resolved_test.go
  apps/backend/internal/office/service/task_assigned_generation_key_test.go
  apps/backend/internal/task/repository/sqlite/tasks_workflow_fk_removal_assignment_generation_test.go
Due: gofmt, go-tests, go-lint

docs(office): drop personal machine details from a spec's prior-art note
  docs/specs/office/requirements/run-dedup-generation.md
Due: none

fix(office): do not terminate an agent's own session on self-reassignment
  apps/backend/internal/office/dashboard/service_tasks.go
  apps/backend/internal/office/dashboard/session_termination_test.go
Due: gofmt, go-tests, go-lint

test(office): assert windowed-dedup outcome on both office QueueRun paths
  apps/backend/internal/office/scheduler/queue_run_dedup_outcome_test.go
  apps/backend/internal/office/service/run_test.go
Due: gofmt, go-tests, go-lint

fix(office): stop counting keyless enqueues that never happen
  apps/backend/internal/office/scheduler/reactivity.go
  apps/backend/internal/office/scheduler/reactivity_producer_key_audit_test.go
Due: gofmt, go-tests, go-lint
