Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

test(agentctl): trigger agent exit by killing the child process
  apps/backend/internal/agentctl/server/process/manager_stop_test.go
Due: gofmt, go-tests, go-lint

test(agentctl): register Stop cleanup before the first failure path
  apps/backend/internal/agentctl/server/process/manager_stop_test.go
Due: gofmt, go-tests, go-lint

test(layout): update default PR Details expectations
  apps/web/e2e/tests/task/sessionless-switch-panel-leak.spec.ts
  apps/web/e2e/tests/task/task-default-layout.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): surface plugin nav items in the phone menu
  apps/web/components/kanban/mobile-menu-sheet.tsx
  apps/web/components/plugins/mobile-plugin-nav-section.test.tsx
  apps/web/components/plugins/mobile-plugin-nav-section.tsx
  apps/web/e2e/tests/plugins/mobile-plugin-nav.spec.ts
  docs/plans/plugins/PLUGIN-API.md
  docs/public/plugins-authoring.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): give root-level pages a phone route home
  apps/web/components/page-topbar.test.tsx
  apps/web/components/page-topbar.tsx
  apps/web/components/plugins/mobile-plugin-nav-section.test.tsx
  apps/web/e2e/tests/plugins/mobile-plugin-nav.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

chore: remove unread divider screenshots
  unread-divider-setting-desktop.png
  unread-divider-setting-mobile.png
  unread-divider-transcript-desktop.png
  unread-divider-transcript-mobile.png
Due: none

feat(web): cycle linked reviews with held shortcut
  apps/web/components/task/recent-task-switcher-keys.test.ts
  apps/web/components/task/recent-task-switcher-keys.ts
  apps/web/components/task/task-pr-open.test.ts
  apps/web/components/task/task-pr-open.ts
  apps/web/components/task/task-pr-picker-dialog.test.tsx
  apps/web/components/task/task-pr-picker-dialog.tsx
  apps/web/components/task/task-pr-shortcut.test.tsx
  apps/web/components/task/task-pr-shortcut.tsx
  apps/web/components/task/use-task-review-shortcut.test.ts
  apps/web/components/task/use-task-review-shortcut.ts
  apps/web/e2e/tests/pr/pr-open-shortcut.spec.ts
  docs/plans/task-review-shortcut-switcher/plan.md
  docs/plans/task-review-shortcut-switcher/task-01-held-review-switcher.md
  docs/plans/task-review-shortcut-switcher/task-02-shortcut-switcher-e2e.md
  docs/specs/INDEX.md
  docs/specs/ui/task-review-shortcut.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): extract RunEventAppendedPayload to fix CI max-lines failure
  apps/web/lib/types/backend.ts
  apps/web/lib/types/run-events.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): suppress complexity lint on MobilePanelArea
  apps/web/components/task/mobile/session-mobile-layout.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): navigate the Edit submenu in mobile task-title-edit spec
  apps/web/e2e/tests/kanban/mobile-kanban.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): preserve opening shortcut modifier
  apps/web/components/task/recent-task-switcher-keys.ts
  apps/web/components/task/use-task-review-shortcut.test.ts
  apps/web/components/task/use-task-review-shortcut.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): fix status bar e2e assertions
  apps/web/e2e/tests/layout/app-status-bar.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): avoid double opening held reviews
  apps/web/components/task/use-task-review-shortcut.test.ts
  apps/web/components/task/use-task-review-shortcut.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

ci: review PRs only on open
  .github/scripts/claude-code-review-workflow-contract_test.py
  .github/workflows/claude-code-review.yml
Due: none

fix(web): remove mobile repository switcher
  apps/web/components/task/mobile/mobile-repo-pill.tsx
  apps/web/components/task/mobile/mobile-repos-section.test.tsx
  apps/web/components/task/mobile/mobile-repos-section.tsx
  apps/web/components/task/mobile/session-mobile-top-bar.tsx
  apps/web/e2e/tests/layout/mobile-spa-resilience.spec.ts
  docs/plans/mobile-repository-switcher-removal/plan.md
  docs/plans/mobile-repository-switcher-removal/task-01-remove-mobile-repository-switcher.md
  docs/specs/ui/mobile-task-navigation.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): activate focused review row
  apps/web/components/task/task-pr-picker-dialog.test.tsx
  apps/web/components/task/task-pr-picker-dialog.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): scope mobile task layout assertions
  apps/web/components/task/mobile/session-mobile-layout.tsx
  apps/web/e2e/tests/layout/mobile-spa-resilience.spec.ts
  docs/plans/mobile-repository-switcher-removal/plan.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): keep mobile layout locator strict
  apps/web/e2e/tests/layout/mobile-spa-resilience.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(layout): place PR Details beside Agent
  apps/web/e2e/tests/pr/pr-detail-layout.spec.ts
  apps/web/e2e/tests/settings/layout-profiles.spec.ts
  apps/web/e2e/tests/settings/mobile-layout-profiles.spec.ts
  apps/web/lib/state/layout-manager/presets.test.ts
  apps/web/lib/state/layout-manager/presets.ts
  docs/plans/pr-details-layout-panel/plan.md
  docs/plans/pr-details-layout-panel/task-01-reusable-panel-and-settings-cleanup.md
  docs/plans/pr-details-layout-panel/task-03-e2e-docs-verification.md
  docs/public/sessions-and-review.md
  docs/specs/ui/task-layout-profiles.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test(layout): cover PR Details Agent default
  apps/web/lib/layout/layout-profiles.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): stop prompt font size changing on window resize
  apps/web/components/task/chat/use-tiptap-editor.test.ts
  apps/web/components/task/chat/use-tiptap-editor.ts
  apps/web/e2e/tests/chat/chat-input-font-size.spec.ts
  apps/web/e2e/tests/chat/mobile-chat-input-font-size.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): capture composer font-size screenshots for PR assets
  apps/web/e2e/tests/chat/chat-input-font-size.spec.ts
  apps/web/e2e/tests/chat/mobile-chat-input-font-size.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: align Claude fork review policy
  docs/specs/claude-fork-review-allowlist/spec.md
Due: none

docs: clarify Claude review command
  docs/specs/claude-fork-review-allowlist/spec.md
Due: none

feat(github): unify workspace GitHub access
  apps/web/components/github/github-connection-dialog.test.tsx
  apps/web/components/github/github-connection-dialog.tsx
  apps/web/components/github/github-settings.tsx
  apps/web/components/github/github-status.tsx
  apps/web/components/github/github-task-credentials-section.tsx
  apps/web/e2e/tests/integrations/github-workspace-settings.spec.ts
  apps/web/e2e/tests/integrations/mobile-github-workspace-settings.spec.ts
  apps/web/hooks/domains/github/use-task-git-credentials.ts
  docs/plans/task-git-credential-policy/plan.md
  docs/plans/task-git-credential-policy/task-07-unified-github-access-settings.md
  docs/public/integrations.md
  docs/specs/integrations/github-authentication.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(github): preserve drafts after partial save
  apps/web/components/github/github-cli-form.tsx
  apps/web/components/github/github-connection-dialog.test.tsx
  apps/web/components/github/github-connection-settings-form.tsx
  docs/plans/task-git-credential-policy/task-07-unified-github-access-settings.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(github): clarify workspace identity summary
  apps/web/components/github/github-access-help.tsx
  apps/web/components/github/github-status.test.tsx
  apps/web/components/github/github-status.tsx
  apps/web/components/github/github-task-credentials-section.tsx
  apps/web/e2e/tests/integrations/github-workspace-settings.spec.ts
  apps/web/e2e/tests/integrations/mobile-github-workspace-settings.spec.ts
  docs/plans/task-git-credential-policy/task-07-unified-github-access-settings.md
  docs/public/integrations.md
  docs/specs/integrations/github-authentication.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(github): restore API limit disclosure
  apps/web/components/github/github-access-help.tsx
  apps/web/components/github/github-rate-limit.tsx
  apps/web/components/github/github-status.tsx
  apps/web/e2e/tests/integrations/github-rate-limit-fixture.ts
  apps/web/e2e/tests/integrations/github-workspace-settings.spec.ts
  apps/web/e2e/tests/integrations/mobile-github-workspace-settings.spec.ts
  docs/plans/task-git-credential-policy/task-07-unified-github-access-settings.md
  docs/public/integrations.md
  docs/specs/integrations/github-authentication.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(github): preserve task access settings draft
  apps/web/components/github/github-connection-dialog.test.tsx
  apps/web/components/github/github-connection-dialog.tsx
  apps/web/components/github/github-task-credentials-section.tsx
  apps/web/hooks/domains/github/use-task-git-credentials.test.ts
  apps/web/hooks/domains/github/use-task-git-credentials.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(github): unify connection and task access save
  apps/web/components/github/github-cli-form.test.tsx
  apps/web/components/github/github-cli-form.tsx
  apps/web/components/github/github-connection-dialog.test.tsx
  apps/web/components/github/github-connection-dialog.tsx
  apps/web/components/github/github-connection-settings-form.tsx
  apps/web/components/github/github-pat-form.tsx
  apps/web/components/github/github-task-credentials-section.tsx
  apps/web/e2e/tests/integrations/github-workspace-settings.spec.ts
  apps/web/e2e/tests/integrations/mobile-github-auth-settings.spec.ts
  apps/web/e2e/tests/integrations/mobile-github-workspace-settings.spec.ts
  docs/plans/task-git-credential-policy/plan.md
  docs/plans/task-git-credential-policy/task-07-unified-github-access-settings.md
  docs/public/integrations.md
  docs/specs/integrations/github-authentication.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(github): stabilize access settings fixup
  apps/web/components/github/github-access-help.tsx
  apps/web/components/github/github-connection-dialog.test.tsx
  apps/web/components/github/github-task-credentials-section.tsx
  apps/web/e2e/tests/integrations/github-authentication.spec.ts
  apps/web/e2e/tests/integrations/github-workspace-settings.spec.ts
  apps/web/e2e/tests/integrations/mobile-github-auth-settings.spec.ts
  apps/web/e2e/tests/integrations/mobile-github-workspace-settings.spec.ts
  apps/web/hooks/domains/github/use-task-git-credentials.test.ts
  apps/web/hooks/domains/github/use-task-git-credentials.ts
  docs/plans/task-git-credential-policy/task-07-unified-github-access-settings.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(github): keep connection save action visible
  apps/web/components/github/github-auth-method-list.tsx
  apps/web/components/github/github-connection-dialog.tsx
  apps/web/components/github/github-connection-settings-form.tsx
  apps/web/components/github/github-task-credentials-section.tsx
  apps/web/e2e/tests/integrations/github-workspace-settings.spec.ts
  apps/web/e2e/tests/integrations/mobile-github-workspace-settings.spec.ts
  docs/plans/task-git-credential-policy/plan.md
  docs/plans/task-git-credential-policy/task-07-unified-github-access-settings.md
  docs/specs/integrations/github-authentication.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(github): soften connection dialog footer
  apps/web/components/github/github-connection-settings-form.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: plan PR submenu in task add-panel menu
  docs/plans/add-panel-pr-submenu/plan.md
  docs/plans/add-panel-pr-submenu/task-01-frontend-submenu.md
  docs/plans/add-panel-pr-submenu/task-02-e2e.md
  docs/specs/ui/add-panel-pr-submenu.md
Due: none

docs: plan responsive walkthrough toolbar fix
  docs/plans/changes-walkthrough-toolbar-width/plan.md
  docs/plans/changes-walkthrough-toolbar-width/task-01-panel-responsive-walkthrough.md
  docs/specs/INDEX.md
  docs/specs/changes-walkthrough-toolbar-width/spec.md
Due: none

test(web): tighten composer font-size guard and share e2e setup
  apps/web/components/task/chat/use-tiptap-editor.test.ts
  apps/web/e2e/tests/chat/chat-input-font-size-helpers.ts
  apps/web/e2e/tests/chat/chat-input-font-size.spec.ts
  apps/web/e2e/tests/chat/mobile-chat-input-font-size.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: revise walkthrough toolbar breakpoint
  docs/plans/changes-walkthrough-toolbar-width/plan.md
  docs/plans/changes-walkthrough-toolbar-width/task-01-panel-responsive-walkthrough.md
  docs/specs/changes-walkthrough-toolbar-width/spec.md
Due: none

fix(web): adapt walkthrough label to panel width
  apps/web/components/task/changes-panel-header.tsx
  apps/web/components/task/changes-panel.tsx
  apps/web/components/task/mobile/mobile-changes-panel.tsx
  apps/web/e2e/tests/review/mobile-walkthrough.spec.ts
  apps/web/e2e/tests/review/walkthrough.spec.ts
  docs/plans/changes-walkthrough-toolbar-width/plan.md
  docs/plans/changes-walkthrough-toolbar-width/task-01-panel-responsive-walkthrough.md
  docs/specs/changes-walkthrough-toolbar-width/spec.md
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(web): collapse linked PRs into submenu in task add-panel menu
  apps/web/components/task/dockview-add-panel-items.test.tsx
  apps/web/components/task/dockview-add-panel-items.tsx
  apps/web/e2e/tests/pr/pr-multi-popover.spec.ts
  docs/plans/add-panel-pr-submenu/task-02-e2e.md
Due: prettier-format, web-lint, web-tests, web-typecheck

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
