Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

fix(plugins): address review — CORS preflight, shared mutationInit, boot-token naming
  apps/backend/internal/backendapp/helpers.go
  apps/backend/internal/backendapp/middleware.go
  apps/backend/internal/backendapp/middleware_test.go
  apps/backend/internal/common/httpmw/boottoken.go
  apps/backend/internal/plugins/handlers_test.go
  apps/backend/internal/webapp/payload.go
  apps/web/lib/api/client.ts
  apps/web/lib/api/domains/marketplace-api.test.ts
  apps/web/lib/api/domains/marketplace-api.ts
  apps/web/lib/api/domains/plugins-api.test.ts
  apps/web/lib/api/domains/plugins-api.ts
  apps/web/src/boot-payload.test.ts
  apps/web/src/boot-payload.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test: make PoC tests flip and drop indexOf coupling
  apps/backend/internal/notifications/providers/system_provider_poc_test.go
  apps/backend/internal/office/skills/materialization_poc_test.go
  apps/backend/internal/office/skills/materialization_test.go
Due: gofmt, go-tests, go-lint

fix: harden storage cleanup safety
  apps/backend/internal/backendapp/storage_inventory.go
  apps/backend/internal/backendapp/storage_inventory_test.go
  apps/backend/internal/system/storage/gocache/provider.go
  apps/backend/internal/system/storage/gocache/provider_test.go
  apps/backend/internal/system/storage/workspaces/provider.go
  apps/backend/internal/system/storage/workspaces/provider_test.go
  docs/specs/system-page/storage-maintenance.md
Due: gofmt, go-tests, go-lint

chore(plugin-registry): add kandev-session-cost
  plugin-registry/plugins.yaml
Due: none

fix: clear stale archived state when unarchiving from task detail top bar
  apps/web/components/task/task-page-content-helpers.test.ts
  apps/web/components/task/task-page-content-helpers.ts
  apps/web/components/task/task-page-content.tsx
  apps/web/e2e/tests/task/unarchive-detail-topbar.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: harden owned process teardown
  apps/backend/internal/agentctl/server/api/shell_terminal.go
  apps/backend/internal/agentctl/server/instance/manager.go
  apps/backend/internal/agentctl/server/instance/manager_shutdown_test.go
  apps/backend/internal/agentctl/server/process/manager.go
  apps/backend/internal/agentctl/server/process/manager_temp_test.go
  apps/backend/internal/agentctl/server/process/vscode.go
  apps/backend/internal/agentctl/server/process/vscode_lifecycle.go
  apps/backend/internal/agentctl/server/process/vscode_test.go
  apps/backend/internal/agentctl/server/shell/process_group_linux.go
  apps/backend/internal/agentctl/server/shell/process_group_linux_test.go
  apps/backend/internal/agentctl/server/shell/session.go
  apps/backend/internal/agentctl/server/shell/session_test.go
  docs/plans/workspace-git-status-scalability/task-00-verification-cache-safeguard.md
Due: gofmt, go-tests, go-lint

fix: ignore zombie-only process groups
  apps/backend/internal/agentctl/server/process/procattr_linux.go
  apps/backend/internal/agentctl/server/process/procattr_linux_test.go
Due: gofmt, go-tests, go-lint

test: close secondary temp ownership
  apps/backend/internal/agentctl/server/process/manager_temp_test.go
Due: gofmt, go-tests, go-lint

test(executor): isolate mock session snapshots
  apps/backend/internal/orchestrator/executor/executor_mocks_test.go
  apps/backend/internal/orchestrator/executor/executor_test.go
Due: gofmt, go-tests, go-lint

fix: make process activation atomic
  apps/backend/internal/agentctl/server/process/runner.go
Due: gofmt, go-tests, go-lint

fix: distinguish vscode startup conflicts
  apps/backend/internal/agentctl/server/api/vscode_handlers.go
  apps/backend/internal/agentctl/server/api/vscode_handlers_test.go
  apps/backend/internal/agentctl/server/process/manager.go
  apps/backend/internal/agentctl/server/process/manager_temp_test.go
  apps/backend/internal/agentctl/server/process/runner.go
Due: gofmt, go-tests, go-lint

perf: avoid duplicate process group reap
  apps/backend/internal/agentctl/server/process/runner.go
  apps/backend/internal/agentctl/server/process/runner_test.go
Due: gofmt, go-tests, go-lint

fix: clean up isolated GitHub CLI state
  apps/backend/cmd/agentctl/github_cli_shim.go
  apps/backend/cmd/agentctl/github_cli_shim_test.go
  apps/backend/cmd/agentctl/main.go
Due: gofmt, go-tests, go-lint

fix: preserve GitHub workspace and repository scope
  apps/backend/AGENTS.md
  apps/backend/cmd/agentctl/github_cli_shim.go
  apps/backend/cmd/agentctl/github_cli_shim_test.go
  apps/backend/cmd/agentctl/github_credential.go
  apps/backend/cmd/agentctl/github_credential_test.go
  apps/backend/internal/agent/runtime/lifecycle/broker_reachability.go
  apps/backend/internal/agent/runtime/lifecycle/remote_github_env.go
  apps/backend/internal/agent/runtime/lifecycle/remote_github_env_test.go
  apps/backend/internal/githubauth/environment.go
  apps/backend/internal/orchestrator/event_handlers_github.go
  apps/backend/internal/orchestrator/event_handlers_github_test.go
  apps/backend/internal/orchestrator/executor/executor_credentials.go
  apps/backend/internal/orchestrator/executor/executor_credentials_test.go
Due: gofmt, go-tests, go-lint

fix: harden GitHub credential lifecycle
  apps/backend/internal/github/auth_resolver.go
  apps/backend/internal/github/credential_broker.go
  apps/backend/internal/github/credential_broker_test.go
  apps/backend/internal/github/service_reviews_auth_test.go
Due: gofmt, go-tests, go-lint

fix(web): prefer query state for walkthrough requests
  apps/web/hooks/domains/session/use-request-changes-walkthrough.test.ts
  apps/web/hooks/domains/session/use-request-changes-walkthrough.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: scope GitHub PR data to active workspace
  apps/web/e2e/fixtures/backend.ts
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/tests/pr/pr-topbar-popover.spec.ts
  apps/web/hooks/domains/github/use-active-task-pr-files.ts
  apps/web/hooks/domains/github/use-pr-commits.ts
  apps/web/hooks/domains/github/use-pr-diff.ts
  apps/web/hooks/domains/github/use-pr-workspace-scope.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: verify GitHub auth controls do not overlap
  apps/web/e2e/tests/integrations/github-authentication.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: share E2E overlap assertion
  apps/web/e2e/helpers/layout-assertions.ts
  apps/web/e2e/tests/integrations/github-authentication.spec.ts
  apps/web/e2e/tests/settings/config-chat-popover.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: add configurable task layout profiles
  apps/backend/internal/user/service/service.go
  apps/backend/internal/user/service/service_test.go
  apps/web/app/settings/general/layouts/page.tsx
  apps/web/components/settings/general-nav.ts
  apps/web/components/settings/layouts/layout-editor-actions.test.ts
  apps/web/components/settings/layouts/layout-editor-actions.ts
  apps/web/components/settings/layouts/layout-editor-toolbar.tsx
  apps/web/components/settings/layouts/layout-editor.tsx
  apps/web/components/settings/layouts/layout-profile-list.tsx
  apps/web/components/settings/layouts/layout-settings.tsx
  apps/web/components/settings/layouts/use-layout-settings.test.tsx
  apps/web/components/settings/layouts/use-layout-settings.ts
  apps/web/components/task/dockview-desktop-layout.tsx
  apps/web/components/task/layout-preset-selector.tsx
  apps/web/e2e/fixtures/test-base.ts
  apps/web/e2e/pages/layout-settings-page.ts
  apps/web/e2e/tests/settings/layout-profiles.spec.ts
  apps/web/e2e/tests/settings/mobile-layout-profiles.spec.ts
  apps/web/hooks/domains/session/use-ensure-default-terminal-ordinary.test.ts
  apps/web/lib/layout/layout-profiles.test.ts
  apps/web/lib/layout/layout-profiles.ts
  apps/web/lib/state/dockview-preset-persistence.test.ts
  apps/web/lib/state/dockview-store.ts
  apps/web/lib/state/layout-manager/constants.ts
  apps/web/lib/state/layout-manager/index.ts
  apps/web/src/settings-routes.test.ts
  apps/web/src/settings-routes.tsx
  docs/plans/task-layout-profiles/plan.md
  docs/plans/task-layout-profiles/task-01-saved-layout-validation.md
  docs/plans/task-layout-profiles/task-02-layout-profile-domain.md
  docs/plans/task-layout-profiles/task-03-layout-settings-editor.md
  docs/plans/task-layout-profiles/task-04-workbench-default-integration.md
  docs/plans/task-layout-profiles/task-05-e2e-docs-verification.md
  docs/public/coverage.json
  docs/public/sessions-and-review.md
  docs/specs/INDEX.md
  docs/specs/ui/task-layout-profiles.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: preserve changes panel for repo-less tasks
  apps/web/components/task/dockview-panel-content.tsx
  apps/web/e2e/tests/task/task-default-layout.spec.ts
  apps/web/hooks/domains/kanban/use-active-task-has-repos.test.ts
  apps/web/hooks/domains/kanban/use-active-task-has-repos.ts
  docs/specs/ui/task-layout-profiles.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: preserve legacy task layout defaults
  apps/web/components/settings/layouts/use-layout-settings.ts
  apps/web/components/task/layout-preset-selector.tsx
  apps/web/lib/layout/layout-profiles.test.ts
  apps/web/lib/layout/layout-profiles.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address layout profile review feedback
  apps/web/components/settings/layouts/use-layout-settings.test.tsx
  apps/web/components/settings/layouts/use-layout-settings.ts
  apps/web/e2e/tests/layout/saved-layout-session-isolation.spec.ts
  apps/web/e2e/tests/settings/layout-profiles.spec.ts
  apps/web/lib/layout/layout-profiles.test.ts
  apps/web/lib/layout/layout-profiles.ts
  docs/plans/task-layout-profiles/plan.md
  docs/specs/ui/task-layout-profiles.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address remaining layout profile review feedback
  apps/backend/internal/user/service/service_test.go
  apps/web/components/settings/layouts/layout-settings.tsx
  apps/web/components/settings/layouts/use-layout-settings.ts
  apps/web/e2e/pages/layout-settings-page.ts
  apps/web/lib/layout/layout-profiles.test.ts
  docs/plans/task-layout-profiles/plan.md
  docs/specs/ui/task-layout-profiles.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

perf: memoize layout profile comparisons
  apps/web/components/settings/layouts/use-layout-settings.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: allow direct editing of built-in layouts
  apps/web/components/settings/layouts/layout-settings.tsx
  apps/web/components/settings/layouts/use-layout-settings.test.tsx
  apps/web/components/settings/layouts/use-layout-settings.ts
  apps/web/e2e/pages/layout-settings-page.ts
  apps/web/e2e/tests/settings/layout-profiles.spec.ts
  apps/web/e2e/tests/settings/mobile-layout-profiles.spec.ts
  docs/plans/task-layout-profiles/plan.md
  docs/public/sessions-and-review.md
  docs/specs/ui/task-layout-profiles.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: report layout profile mutation failures
  apps/web/components/task/layout-preset-selector.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: refine built-in layout profile editing
  apps/web/AGENTS.md
  apps/web/components/settings/layouts/layout-editor-actions.test.ts
  apps/web/components/settings/layouts/layout-editor-actions.ts
  apps/web/components/settings/layouts/layout-editor-toolbar.tsx
  apps/web/components/settings/layouts/layout-editor.tsx
  apps/web/components/settings/layouts/layout-profile-list.tsx
  apps/web/components/settings/layouts/layout-settings.tsx
  apps/web/components/settings/layouts/use-layout-settings.test.tsx
  apps/web/components/settings/layouts/use-layout-settings.ts
  apps/web/components/task/layout-preset-selector.tsx
  apps/web/e2e/pages/layout-settings-page.ts
  apps/web/e2e/tests/settings/layout-profiles.spec.ts
  apps/web/e2e/tests/settings/mobile-layout-profiles.spec.ts
  apps/web/lib/layout/layout-profiles.test.ts
  apps/web/lib/layout/layout-profiles.ts
  docs/plans/task-layout-profiles/plan.md
  docs/plans/task-layout-profiles/task-03-layout-settings-editor.md
  docs/public/sessions-and-review.md
  docs/specs/ui/task-layout-profiles.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: apply customized built-ins from layout menu
  apps/web/components/task/layout-preset-selector.tsx
  apps/web/e2e/tests/settings/layout-profiles.spec.ts
  docs/specs/ui/task-layout-profiles.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(plugins): serialize empty sync-result arrays instead of null
  apps/backend/internal/plugins/service_sync.go
  apps/backend/internal/plugins/service_sync_test.go
Due: gofmt, go-tests, go-lint

test: synchronize concurrent launch regression
  apps/backend/internal/orchestrator/executor/executor_test.go
Due: gofmt, go-tests, go-lint

test: limit concurrent launch callback cleanup
  apps/backend/internal/orchestrator/executor/executor_test.go
Due: gofmt, go-tests, go-lint

fix(web): use query session state in plan toolbar
  apps/web/components/task/task-plan-panel.tsx
  apps/web/e2e/tests/task/mobile-plan-toolbar-implement.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: reference kandev-plugin-template starter repo in plugin guides
  docs/public/plugins-authoring.md
  docs/public/plugins-marketplace.md
Due: none

docs: describe package_sha256 as advisory, not yet index-pinned
  docs/public/plugins-marketplace.md
Due: none

fix: preserve shared worktrees during task cleanup
  apps/backend/internal/agent/runtime/lifecycle/env_preparer_worktree_multi_test.go
  apps/backend/internal/task/service/service.go
  apps/backend/internal/task/service/service_tasks.go
  apps/backend/internal/task/service/service_test.go
  apps/backend/internal/worktree/manager.go
  apps/backend/internal/worktree/manager_cleanup.go
  apps/backend/internal/worktree/manager_cleanup_shared_reference_test.go
  apps/backend/internal/worktree/manager_test.go
  apps/backend/internal/worktree/store.go
Due: gofmt, go-tests, go-lint

test: authenticate GitHub branch fixtures
  apps/web/e2e/helpers/api-client.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor(plugins): initialize sync-result slices at construction
  apps/backend/internal/plugins/service_sync.go
  apps/backend/internal/plugins/service_sync_test.go
Due: gofmt, go-tests, go-lint

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
