Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

fix(tasks): make list title sort dialect-aware
  apps/backend/internal/task/repository/sqlite/task.go
  apps/backend/internal/task/repository/sqlite/task_order_test.go
Due: gofmt, go-tests, go-lint

fix(tasks): restore list pagination controls
  apps/web/app/tasks/tasks-list-view.tsx
  apps/web/app/tasks/tasks-pagination.tsx
  apps/web/e2e/tests/task/task-list.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(tasks): sort searches outside distinct
  apps/backend/internal/task/repository/sqlite/task.go
  apps/backend/internal/task/repository/sqlite/task_order_test.go
Due: gofmt, go-tests, go-lint

fix(tasks): address list review comments
  apps/backend/internal/task/repository/sqlite/task.go
  apps/web/app/tasks/tasks-page-client.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: address workspace GitHub review feedback
  apps/backend/internal/github/controller.go
  apps/backend/internal/github/models.go
  apps/backend/internal/github/service_issues.go
  apps/backend/internal/github/service_reviews.go
  apps/backend/internal/github/store.go
  apps/backend/internal/github/workspace_settings_service.go
  apps/backend/internal/github/workspace_settings_test.go
  apps/web/app/github/github-page-client.tsx
  apps/web/components/github/my-github/use-default-query-presets.ts
  apps/web/components/github/my-github/use-github-search.ts
  apps/web/components/github/my-github/use-saved-presets.ts
  apps/web/components/github/repo-filter-selector.tsx
  apps/web/hooks/domains/github/use-issue-watches.ts
  apps/web/hooks/domains/github/use-review-watches.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: address workspace GitHub review feedback
  apps/backend/internal/github/service_issues.go
  apps/backend/internal/github/service_reviews.go
  apps/backend/internal/github/store.go
  apps/backend/internal/github/workspace_settings_test.go
  apps/web/app/github/github-page-client.tsx
  apps/web/components/github/my-github/use-default-query-presets.test.ts
  apps/web/components/github/my-github/use-default-query-presets.ts
  apps/web/components/github/my-github/use-saved-presets.test.ts
  apps/web/components/github/my-github/use-saved-presets.ts
  apps/web/hooks/domains/github/use-issue-watches.ts
  apps/web/hooks/domains/github/use-review-watches.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat: scope GitHub integration settings by workspace
  apps/backend/internal/github/controller.go
  apps/backend/internal/github/models.go
  apps/backend/internal/github/service_issues.go
  apps/backend/internal/github/service_reviews.go
  apps/backend/internal/github/store.go
  apps/backend/internal/github/workspace_settings_service.go
  apps/backend/internal/github/workspace_settings_test.go
  apps/web/app/github/github-page-client.tsx
  apps/web/components/github/default-queries-section.tsx
  apps/web/components/github/github-repo-scope-section.tsx
  apps/web/components/github/github-settings.tsx
  apps/web/components/github/issue-watch-dialog.tsx
  apps/web/components/github/my-github/use-default-query-presets.ts
  apps/web/components/github/my-github/use-github-search.ts
  apps/web/components/github/my-github/use-saved-presets.ts
  apps/web/components/github/repo-filter-selector.tsx
  apps/web/components/github/review-watch-dialog.tsx
  apps/web/components/integrations/workspace-scoped-section.tsx
  apps/web/components/settings/settings-layout-client.tsx
  apps/web/e2e/tests/integrations/github-workspace-settings.spec.ts
  apps/web/lib/api/domains/github-api.ts
  apps/web/lib/types/github.ts
  docs/decisions/0030-workspace-scoped-integration-settings.md
  docs/decisions/INDEX.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: address workspace settings review comments
  apps/backend/internal/backendapp/e2e_reset.go
  apps/backend/internal/github/controller.go
  apps/backend/internal/github/handlers.go
  apps/backend/internal/github/store.go
  apps/backend/internal/github/workspace_settings_service.go
  apps/backend/internal/github/workspace_settings_test.go
  apps/web/app/github/github-page-client.tsx
  apps/web/components/github/github-settings.tsx
  apps/web/components/github/my-github/use-default-query-presets.test.ts
  apps/web/components/github/my-github/use-default-query-presets.ts
  apps/web/components/github/my-github/use-github-search.ts
  apps/web/components/github/my-github/use-saved-presets.test.ts
  apps/web/components/github/my-github/use-saved-presets.ts
  apps/web/hooks/domains/github/use-issue-watches.ts
  apps/web/lib/api/domains/github-api.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: make workspace switcher look selectable
  apps/web/components/app-sidebar/app-sidebar-workspace-picker.test.tsx
  apps/web/components/app-sidebar/app-sidebar-workspace-picker.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: clarify integration config copy follow-up
  docs/decisions/0030-workspace-scoped-integration-settings.md
Due: none

test: cover active workspace integration migrations
  apps/backend/internal/jira/store_test.go
  apps/backend/internal/sentry/store_test.go
  apps/backend/internal/slack/store_test.go
Due: gofmt, go-tests, go-lint

fix(automation): stop scheduled trigger retry storm on concurrency cap skip
  apps/backend/internal/automation/scheduler_test.go
  apps/backend/internal/automation/service.go
Due: gofmt, go-tests, go-lint

fix: don't advance last_evaluated_at when the concurrency-cap check errors
  apps/backend/internal/automation/scheduler_test.go
  apps/backend/internal/automation/service.go
Due: gofmt, go-tests, go-lint

fix(automation): stop scheduled trigger retry storm on concurrency cap skip (#1598)
  apps/backend/internal/automation/scheduler_test.go
  apps/backend/internal/automation/service.go
Due: gofmt, go-tests, go-lint

feat: add anchored range selection to multi-select reducer
  apps/web/hooks/use-task-multi-select-range.test.ts
  apps/web/hooks/use-task-multi-select.test.ts
  apps/web/hooks/use-task-multi-select.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: cover multi-select helpers and fix stale-id sort fallback
  apps/web/components/task/task-session-sidebar-selection.test.ts
  apps/web/components/task/task-session-sidebar-selection.tsx
  apps/web/components/task/task-switcher-click.test.ts
  apps/web/hooks/use-task-multi-select.ts
  apps/web/lib/kanban/task-order.test.ts
  apps/web/lib/kanban/task-order.ts
  apps/web/lib/sidebar/apply-view-flatten.test.ts
  apps/web/lib/sidebar/apply-view.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: e2e coverage for cmd/shift multi-select
  apps/web/e2e/pages/kanban-page.ts
  apps/web/e2e/pages/sidebar-tasks-page.ts
  apps/web/e2e/tests/kanban/cmd-shift-multi-select.spec.ts
  apps/web/e2e/tests/task/sidebar-multi-select.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: add sidebar multi-select hook tests and tighten bulk-action lifecycle
  apps/web/components/task/task-session-sidebar-selection.tsx
  apps/web/components/task/task-switcher-context-menu.tsx
  apps/web/components/task/task-switcher.tsx
  apps/web/hooks/use-sidebar-multi-select.test.ts
  apps/web/hooks/use-sidebar-multi-select.ts
  apps/web/hooks/use-task-multi-select.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: order kanban bulk moves by board position
  apps/web/hooks/use-task-multi-select.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: cmd+click and shift+click multi-select on kanban board
  apps/web/components/kanban-board.tsx
  apps/web/components/kanban-card-content.tsx
  apps/web/components/kanban-card.tsx
  apps/web/components/kanban-column.tsx
  apps/web/components/kanban/swimlane-container.tsx
  apps/web/components/kanban/swimlane-kanban-content.tsx
  apps/web/components/kanban/swipeable-columns.tsx
  apps/web/lib/kanban/view-registry.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: harden sidebar bulk-move scope and keyboard selection parity
  apps/web/components/task/task-item.tsx
  apps/web/components/task/task-session-sidebar-selection.tsx
  apps/web/components/task/task-switcher-context-menu.tsx
  apps/web/components/task/task-switcher.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: harden multi-select selection lifecycle from review feedback
  apps/web/components/kanban-card-click.test.ts
  apps/web/components/kanban-card.tsx
  apps/web/components/task/task-item.tsx
  apps/web/components/task/task-session-sidebar-selection.tsx
  apps/web/components/task/task-switcher-click.test.ts
  apps/web/components/task/task-switcher-context-menu.tsx
  apps/web/components/task/task-switcher.tsx
  apps/web/hooks/use-sidebar-multi-select.ts
  apps/web/hooks/use-task-multi-select-range.test.ts
  apps/web/hooks/use-task-multi-select.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: cover visible-order bulk move and anchor realignment
  apps/web/components/task/task-session-sidebar-selection.tsx
  apps/web/hooks/use-sidebar-multi-select.test.ts
  apps/web/lib/sidebar/apply-view-flatten.test.ts
  apps/web/lib/sidebar/apply-view.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: scope multi-select e2e helpers to active containers
  apps/web/e2e/pages/sidebar-tasks-page.ts
  apps/web/e2e/tests/kanban/cmd-shift-multi-select.spec.ts
  apps/web/e2e/tests/task/sidebar-multi-select.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: prune hidden sidebar selections and order bulk moves by view
  apps/web/components/task/task-session-sidebar-selection.tsx
  apps/web/hooks/use-sidebar-multi-select.test.ts
  apps/web/hooks/use-sidebar-multi-select.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: add cmd/shift multi-select to sidebar task list
  apps/web/components/task/task-item.tsx
  apps/web/components/task/task-session-sidebar-selection.tsx
  apps/web/components/task/task-session-sidebar.tsx
  apps/web/components/task/task-switcher-context-menu.tsx
  apps/web/components/task/task-switcher.tsx
  apps/web/hooks/use-sidebar-multi-select.ts
  apps/web/lib/sidebar/apply-view-flatten.test.ts
  apps/web/lib/sidebar/apply-view.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: harden multi-select bulk ordering, selection clearing, and a11y
  apps/web/components/kanban-card.tsx
  apps/web/components/task/task-item.tsx
  apps/web/components/task/task-session-sidebar-selection.tsx
  apps/web/components/task/task-switcher-context-menu.tsx
  apps/web/e2e/pages/sidebar-tasks-page.ts
  apps/web/lib/kanban/task-order.test.ts
  apps/web/lib/kanban/task-order.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: gate kanban card move-to-step for mixed-workflow selections
  apps/web/components/kanban-card.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: sidebar multi-select shows only bulk-valid actions with bulk pin and delete
  apps/web/components/task/task-session-sidebar-selection.test.ts
  apps/web/components/task/task-session-sidebar-selection.tsx
  apps/web/components/task/task-session-sidebar.tsx
  apps/web/components/task/task-switcher-context-menu.tsx
  apps/web/components/task/task-switcher.tsx
  apps/web/e2e/pages/sidebar-tasks-page.ts
  apps/web/e2e/tests/task/sidebar-multi-select.spec.ts
  apps/web/hooks/use-sidebar-multi-select.test.ts
  apps/web/hooks/use-sidebar-multi-select.ts
  apps/web/lib/state/slices/ui/sidebar-task-prefs-actions.ts
  apps/web/lib/state/slices/ui/types.ts
  apps/web/lib/state/slices/ui/ui-slice.test.ts
  apps/web/lib/state/store.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: order kanban card context-menu moves by board position
  apps/web/components/kanban-card.tsx
  apps/web/components/task/task-session-sidebar-selection.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(automation): close stale-store race between refresh() and run delete
  .pr-screenshots/pr-body.md
  apps/web/hooks/domains/settings/use-automation-runs.test.ts
  apps/web/hooks/domains/settings/use-automation-runs.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(automation): add delete buttons for individual and all runs in Recent Runs
  apps/backend/internal/automation/handlers.go
  apps/backend/internal/automation/handlers_test.go
  apps/backend/internal/automation/service.go
  apps/backend/internal/automation/store.go
  apps/backend/internal/automation/store_test.go
  apps/backend/internal/backendapp/e2e_reset.go
  apps/backend/internal/backendapp/services.go
  apps/backend/pkg/websocket/actions.go
  apps/web/components/automations/runs-section.tsx
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/tests/automations-settings.spec.ts
  apps/web/hooks/domains/settings/use-automation-runs.ts
  apps/web/lib/api/domains/automation-api.ts
  apps/web/lib/state/slices/automations/automations-slice.ts
  apps/web/lib/state/slices/automations/types.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

chore: fix row-hover screenshot — explicit red trash icon
  .pr-screenshots/3-row-hover.png
Due: none

chore: replace PR screenshots — fix hover state, better collapsed crop
  .pr-screenshots/1-collapsed.png
  .pr-screenshots/2-expanded.png
  .pr-screenshots/3-row-hover.png
  .pr-screenshots/4-confirm-dialog.png
  .pr-screenshots/pr-body.md
Due: none

fix(automation): add delete-all confirmation dialog; regression test for automation survival
  apps/backend/internal/automation/handlers_test.go
  apps/web/components/automations/runs-section.tsx
  apps/web/e2e/tests/automations-settings.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(automation): scope run-delete to workspace and close orphan-task race
  apps/backend/internal/automation/handlers.go
  apps/backend/internal/automation/handlers_test.go
  apps/backend/internal/automation/service.go
  apps/backend/internal/automation/service_test.go
  apps/backend/internal/backendapp/services.go
  apps/backend/internal/backendapp/turn_adapters.go
  apps/web/components/automations/automation-editor.tsx
  apps/web/components/automations/runs-section.tsx
  apps/web/e2e/tests/automations-settings.spec.ts
  apps/web/hooks/domains/settings/use-automation-runs.ts
  apps/web/lib/api/domains/automation-api.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

chore: add PR screenshots
  .pr-screenshots/1-collapsed.png
  .pr-screenshots/2-expanded.png
  .pr-screenshots/3-row-hover.png
  .pr-screenshots/4-confirm-dialog.png
Due: none

test(automation): strengthen DeleteAllRuns regression with real SQLite deleter
  apps/backend/internal/automation/handlers_test.go
Due: gofmt, go-tests, go-lint

test(automation): fix lock leak in race regression test
  apps/backend/internal/automation/service_test.go
Due: gofmt, go-tests, go-lint

fix(automation): restore state precisely when delete AND revert-refetch both fail
  apps/web/hooks/domains/settings/use-automation-runs.test.ts
  apps/web/hooks/domains/settings/use-automation-runs.ts
  apps/web/lib/state/slices/automations/automations-slice.ts
  apps/web/lib/state/slices/automations/types.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
