Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

fix: protect prompt recovery ownership
  apps/backend/internal/orchestrator/event_handlers_clarification.go
  apps/backend/internal/orchestrator/event_handlers_clarification_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/task_operations_test.go
Due: gofmt, go-tests, go-lint

fix: clarify Pi detection boundaries
  apps/backend/internal/agent/agents/pi_acp.go
Due: gofmt, go-tests, go-lint

fix: keep missing mobile selection inert
  apps/web/components/task/mobile/session-task-switcher-sheet-hooks.test.ts
  apps/web/components/task/mobile/session-task-switcher-sheet-selection.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(runtime): guard managed runtime recovery generations
  apps/backend/internal/agent/agents/agent.go
  apps/backend/internal/agent/agents/claude_acp.go
  apps/backend/internal/agent/agents/codex_acp.go
  apps/backend/internal/agent/agents/copilot_acp.go
  apps/backend/internal/agent/agents/gemini.go
  apps/backend/internal/agent/agents/opencode_acp.go
  apps/backend/internal/agent/runtime/lifecycle/managed_runtime_startup.go
  apps/backend/internal/agent/runtime/lifecycle/managed_runtime_startup_recovery_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_events.go
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction.go
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_launch.go
  apps/backend/internal/agent/runtime/lifecycle/session.go
  apps/backend/internal/agent/runtime/lifecycle/startup_generation_race_test.go
  apps/backend/internal/agent/runtime/lifecycle/streams.go
  apps/backend/internal/agent/runtime/lifecycle/types.go
  apps/backend/internal/orchestrator/event_handlers_agent.go
  apps/backend/internal/orchestrator/event_handlers_test.go
  apps/backend/internal/orchestrator/recovery_actions_test.go
Due: gofmt, go-tests, go-lint

fix(e2e): extend cached content search wait
  apps/web/e2e/tests/search/task-workspace-content-search.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: stabilize remote resume and content search e2e
  apps/backend/internal/agent/runtime/lifecycle/agent_session_seeder_test.go
  apps/backend/internal/agent/runtime/lifecycle/executor_docker.go
  apps/web/hooks/domains/session/use-workspace-content-search.test.ts
  apps/web/hooks/domains/session/use-workspace-content-search.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: stabilize remaining e2e setup
  apps/web/e2e/tests/integrations/hide-disabled-integrations-nav.spec.ts
  apps/web/e2e/tests/search/task-workspace-content-search.spec.ts
  apps/web/e2e/tests/session/port-forward-dialog.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(web): improve dynamic agent profile setup
  apps/backend/internal/agent/registry/provider.go
  apps/backend/internal/agent/registry/provider_test.go
  apps/backend/internal/agent/settings/controller/agent_discovery.go
  apps/backend/internal/agent/settings/controller/controller_test.go
  apps/web/app/settings/agents/[agentId]/agent-setup-parts.tsx
  apps/web/app/settings/agents/[agentId]/page.tsx
  apps/web/components/settings/agent-profile-picker.tsx
  apps/web/components/settings/dynamic-agent-profile-editor.tsx
  apps/web/components/settings/utility-agent-profile-picker.test.ts
  apps/web/components/settings/utility-agent-profile-picker.tsx
  apps/web/e2e/fixtures/test-base.ts
  apps/web/e2e/tests/settings/dynamic-agent-profile-card.spec.ts
  apps/web/e2e/tests/settings/mobile-dynamic-agent-profile-card.spec.ts
  apps/web/src/locales/en/agents.json
  apps/web/src/locales/pseudo/agents.json
  apps/web/src/locales/pseudo/task.json
  apps/web/src/locales/pt-pt/agents.json
  apps/web/src/locales/zh-cn/agents.json
  apps/web/src/locales/zh-hk/agents.json
  apps/web/src/locales/zh-tw/agents.json
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: recover interrupted clarification responses
  apps/backend/internal/backendapp/adapters.go
  apps/backend/internal/clarification/handlers.go
  apps/backend/internal/clarification/handlers_response_delivery.go
  apps/backend/internal/clarification/handlers_response_delivery_test.go
  apps/backend/internal/clarification/handlers_test.go
  apps/backend/internal/orchestrator/clarification_turn_authority.go
  apps/backend/internal/orchestrator/clarification_turn_authority_test.go
  apps/backend/internal/orchestrator/event_handlers_clarification.go
  apps/backend/internal/orchestrator/event_handlers_clarification_test.go
  apps/backend/internal/orchestrator/prompt_claim_rollback_context_test.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/task_operations_test.go
  apps/backend/internal/orchestrator/turn_lifecycle_test.go
  apps/backend/internal/task/handlers/process_handlers_test.go
  apps/backend/internal/task/repository/interface.go
  apps/backend/internal/task/repository/sqlite/message_clarification_delivery.go
  apps/backend/internal/task/repository/sqlite/message_clarification_delivery_test.go
  apps/backend/internal/task/repository/sqlite/message_clarification_response.go
  apps/backend/internal/task/repository/sqlite/turn_reservation_recovery.go
  apps/backend/internal/task/repository/sqlite/turn_reservation_recovery_test.go
  apps/backend/internal/task/service/service_messages.go
  apps/backend/internal/task/service/service_turns.go
  docs/specs/clarification-active-lifecycle/spec.md
Due: gofmt, go-tests, go-lint

test: cover incremental content-search publishing and git-failure propagation
  apps/backend/internal/agentctl/server/process/workspace_content_search_failure_test.go
  apps/web/hooks/domains/session/use-workspace-content-search.test.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(e2e): skip virtual agents when seeding profiles
  apps/web/e2e/fixtures/test-base.ts
  apps/web/e2e/helpers/api-client.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(ci): read the changed-file list as raw NUL-delimited bytes
  .github/scripts/changed-paths.py
  .github/scripts/changed-paths_test.py
  .github/workflows/backend-tests.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/frontend-tests.yml
Due: none

fix: confirm live clarification delivery
  apps/backend/internal/clarification/handlers.go
  apps/backend/internal/clarification/handlers_primary_restore_test.go
  apps/backend/internal/clarification/handlers_response_delivery.go
  apps/backend/internal/clarification/handlers_response_delivery_test.go
  apps/backend/internal/clarification/handlers_test.go
  apps/backend/internal/clarification/store.go
  apps/backend/internal/clarification/store_delivery_confirmation_test.go
  apps/backend/internal/clarification/types.go
  docs/specs/clarification-active-lifecycle/spec.md
Due: gofmt, go-tests, go-lint

fix: eliminate remaining strict e2e flakes
  apps/web/e2e/tests/chat/mobile-message-queue-reorder.spec.ts
  apps/web/e2e/tests/task/repository-selector-scroll.spec.ts
  apps/web/e2e/tests/terminal/terminal-agent.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): restore compact settings control roles
  apps/web/components/settings/editors-settings.tsx
  apps/web/components/settings/settings-control.ts
  apps/web/e2e/tests/settings/settings-typography.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: streamline Kandev MCP tool guidance
  apps/backend/config/prompts/kandev-context.md
  apps/backend/internal/mcp/server/config_handlers.go
  apps/backend/internal/mcp/server/handlers.go
  apps/backend/internal/mcp/server/handlers_test.go
  apps/backend/internal/mcp/server/handoff_handlers.go
  apps/backend/internal/mcp/server/server.go
  apps/backend/internal/mcp/server/server_test.go
  apps/backend/internal/mcp/server/spawn_session_tool_test.go
  apps/backend/internal/mcp/server/sysprompt_sync_test.go
  apps/backend/internal/mcp/server/tool_metadata_test.go
  apps/backend/internal/sysprompt/sysprompt.go
  apps/backend/internal/sysprompt/sysprompt_test.go
Due: gofmt, go-tests, go-lint

fix: hide unpublished turn reservations
  apps/backend/internal/orchestrator/clarification_turn_authority_test.go
  apps/backend/internal/orchestrator/event_handlers_clarification.go
  apps/backend/internal/orchestrator/event_handlers_clarification_test.go
  apps/backend/internal/task/repository/sqlite/session.go
  apps/backend/internal/task/repository/sqlite/session_test.go
  apps/backend/internal/task/repository/sqlite/turn_authority.go
  apps/backend/internal/task/repository/sqlite/turn_reservation_recovery_postgres_test.go
  docs/plans/clarification-active-lifecycle/plan.md
  docs/specs/clarification-active-lifecycle/spec.md
Due: gofmt, go-tests, go-lint

fix: preserve step completion discovery guidance
  apps/backend/internal/sysprompt/sysprompt.go
Due: gofmt, go-tests, go-lint

test(web): stop pinning how the sleep-ratchet step reads the event name
  apps/web/scripts/lib/e2e-sleep-wiring.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: stabilize search plugin and terminal e2e setup
  apps/web/e2e/tests/plugins/bitbucket-plugin-contract.spec.ts
  apps/web/e2e/tests/search/shared.ts
  apps/web/e2e/tests/terminal/terminal-keyboard.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: align clarification turn identity
  apps/backend/internal/clarification/handlers.go
  apps/backend/internal/clarification/handlers_response_delivery.go
  apps/backend/internal/clarification/handlers_test.go
  apps/backend/internal/orchestrator/clarification_turn_authority_test.go
  apps/backend/internal/orchestrator/event_handlers_clarification_test.go
  docs/plans/clarification-active-lifecycle/plan.md
  docs/specs/clarification-active-lifecycle/spec.md
Due: gofmt, go-tests, go-lint

fix(web): hide dynamic agents when routing is disabled
  apps/web/components/settings/dynamic-agents-card.test.tsx
  apps/web/components/settings/dynamic-agents-card.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): align settings heading selectors
  apps/web/e2e/tests/settings/mobile-general-settings.spec.ts
  apps/web/e2e/tests/settings/settings-discovery.spec.ts
  apps/web/e2e/tests/settings/settings-manual-save.spec.ts
  apps/web/e2e/tests/settings/utility-agents.spec.ts
  apps/web/e2e/tests/task/sidebar-scroll-preservation.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: stabilize multi-pr add-panel e2e
  apps/web/e2e/tests/pr/pr-multi-popover.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(task): close four task/session lifecycle footguns in the MCP API
  apps/backend/config/prompts/kandev-context.md
  apps/backend/internal/mcp/handlers/deferred_launch_prompt.go
  apps/backend/internal/mcp/handlers/deferred_launch_prompt_test.go
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/message_target_session.go
  apps/backend/internal/mcp/handlers/message_target_session_test.go
  apps/backend/internal/mcp/server/handlers.go
  apps/backend/internal/mcp/server/handlers_test.go
  apps/backend/internal/mcp/server/server.go
  apps/backend/internal/mcp/server/update_task_deferred_launch_test.go
  apps/backend/internal/orchestrator/deferred_launch_consume.go
  apps/backend/internal/orchestrator/deferred_launch_consume_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/sysprompt/sysprompt.go
  apps/backend/internal/sysprompt/sysprompt_test.go
  apps/backend/internal/task/service/service_deferred_launch.go
  apps/backend/internal/task/service/service_deferred_launch_test.go
  docs/public/automation-and-mcp.md
  docs/public/coordination.md
  docs/public/sessions-and-review.md
Due: gofmt, go-tests, go-lint

fix(task): close three races the deferred-launch fix left open
  apps/backend/internal/mcp/handlers/message_target_session.go
  apps/backend/internal/mcp/handlers/message_target_session_test.go
  apps/backend/internal/orchestrator/deferred_launch_consume.go
  apps/backend/internal/orchestrator/deferred_launch_consume_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/task/handlers/process_handlers_test.go
  apps/backend/internal/task/repository/interface.go
  apps/backend/internal/task/repository/sqlite/task.go
  apps/backend/internal/task/repository/sqlite/task_metadata_cas_test.go
  apps/backend/internal/task/service/handoff_workspace_test.go
  apps/backend/internal/task/service/service_deferred_launch.go
  apps/backend/internal/task/service/service_deferred_launch_test.go
Due: gofmt, go-tests, go-lint

fix(task): reserve the launch intent before the start owns a session
  apps/backend/internal/orchestrator/deferred_launch_consume_test.go
  apps/backend/internal/orchestrator/task_operations.go
Due: gofmt, go-tests, go-lint

fix(task): seed the parent rows the Postgres metadata CAS test needs
  apps/backend/internal/task/repository/sqlite/task_metadata_cas_test.go
Due: gofmt, go-tests, go-lint

fix: stabilize turn history ordering
  apps/backend/internal/task/repository/sqlite/session.go
  apps/backend/internal/task/repository/sqlite/session_test.go
  docs/plans/clarification-active-lifecycle/plan.md
  docs/specs/clarification-active-lifecycle/spec.md
Due: gofmt, go-tests, go-lint

fix(github): populate outcome fields on orphan-swept and linked terminal PRs
  apps/backend/internal/github/service_associate_existing_test.go
  apps/backend/internal/github/service_pr_unwatched.go
  apps/backend/internal/github/service_pr_unwatched_test.go
  apps/backend/internal/github/service_pr_watch.go
  apps/backend/internal/github/service_task_pr_detach_test.go
  apps/backend/internal/github/service_task_pr_disposition.go
  apps/backend/internal/github/service_task_pr_disposition_test.go
Due: gofmt, go-tests, go-lint

fix(github): distinguish absent from null in PR disposition PATCH
  apps/backend/internal/github/controller.go
  apps/backend/internal/github/controller_task_pr_disposition_test.go
  apps/backend/internal/github/models.go
  apps/backend/internal/github/service_task_pr_disposition.go
  apps/backend/internal/github/service_task_pr_disposition_test.go
Due: gofmt, go-tests, go-lint

fix(i18n): drop stale providerHistoryUnavailable key from pseudo locale
  apps/web/src/locales/pseudo/task.json
Due: prettier-format

test(github): cover empty superseded_by_url as absent in disposition PATCH
  apps/backend/internal/github/controller_task_pr_disposition_test.go
Due: gofmt, go-tests, go-lint

fix(github): make auto-merge latch atomic and preserve outcome fields on relink
  apps/backend/internal/github/service_pr_outcome_sync_test.go
  apps/backend/internal/github/service_pr_watch.go
  apps/backend/internal/github/service_task_pr_detach_test.go
  apps/backend/internal/github/store.go
  apps/backend/internal/github/store_task_pr_outcome_migration_test.go
Due: gofmt, go-tests, go-lint

feat(github): add touch-accessible entry point for PR disposition
  apps/web/components/github/pr-detail-panel.test.tsx
  apps/web/components/github/pr-detail-panel.tsx
  apps/web/components/github/pr-disposition-row.tsx
  apps/web/e2e/tests/pr/mobile-pr-disposition.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: quarantine terminal clarification history
  apps/web/hooks/use-task-pending-input.test.tsx
  apps/web/hooks/use-task-pending-input.ts
  docs/plans/clarification-active-lifecycle/plan.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test(github): isolate outcome-only change in AC-18 sync event test
  apps/backend/internal/github/service_pr_outcome_sync_test.go
Due: gofmt, go-tests, go-lint

fix(github): enforce disposition invariant against live row on write
  apps/backend/internal/github/store.go
  apps/backend/internal/github/store_task_pr_disposition_test.go
Due: gofmt, go-tests, go-lint

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
