Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

test(e2e): await causal readiness and record transient feedback
  apps/web/e2e/tests/session/session-refresh-efficiency.spec.ts
  apps/web/e2e/tests/task/sidebar-scroll-preservation.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): wait for restored files panel selection
  apps/web/e2e/tests/task/task-navigation-helpers.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(agentctl): avoid terminal outcome shutdown deadlock
  apps/backend/internal/agentctl/server/process/manager.go
  apps/backend/internal/agentctl/server/process/turn_outcome_shutdown_test.go
Due: gofmt, go-tests, go-lint

test(e2e): eliminate retry-only flakes
  apps/web/e2e/tests/chat/mobile-markdown-wrap.spec.ts
  apps/web/e2e/tests/plugins/managed-task-commands.spec.ts
  apps/web/e2e/tests/pr/pr-switcher-changes.spec.ts
  apps/web/e2e/tests/task/file-tree-create.spec.ts
  apps/web/e2e/tests/task/subtask.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): delay only the cancelled resume attempt
  apps/web/e2e/tests/session/session-recovery.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(session): preserve config invalidation ordering after rebase
  apps/web/lib/ws/handlers/agentctl-readiness-ordering.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(session): reject delayed readiness observations
  apps/backend/internal/gateway/websocket/agentctl_observation_ordering_test.go
  apps/backend/internal/gateway/websocket/task_notifications.go
  apps/web/e2e/tests/session/long-prepare-panels.spec.ts
  apps/web/e2e/tests/session/mobile-session-entry-recovery.spec.ts
  apps/web/lib/state/slices/session/session-slice.ts
  apps/web/lib/ws/handlers/agent-session.ts
  apps/web/lib/ws/handlers/agentctl-readiness-ordering.test.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(e2e): stabilize shared checkout and mobile drawer
  apps/web/e2e/tests/changes-panel-multi-select.spec.ts
  apps/web/e2e/tests/task/threads-task-actions-helpers.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): await committed watch imports and isolate quorum seats
  apps/web/e2e/tests/integrations/github-watch-reset.spec.ts
  apps/web/e2e/tests/office/workflow-quorum-transitions.spec.ts
  apps/web/e2e/tests/task/mobile-session-mode-mismatch.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(backend): await ssh client shutdown in dial test
  apps/backend/internal/agent/runtime/lifecycle/remote_docker_dialer_test.go
Due: gofmt, go-tests, go-lint

test(e2e): isolate shared repository state
  apps/web/e2e/tests/git/diff-update.spec.ts
  apps/web/e2e/tests/panel-toolbars.spec.ts
  apps/web/e2e/tests/review/review-file-status.spec.ts
  apps/web/e2e/tests/task/task-navigation-helpers.ts
  apps/web/e2e/tests/task/workflow-step-previews-helpers.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): eliminate retry-only flakes
  apps/web/e2e/tests/layout/right-panel-visibility.spec.ts
  apps/web/e2e/tests/review/walkthrough.spec.ts
  apps/web/e2e/tests/settings/mobile-workspace-repository-sets.spec.ts
  apps/web/e2e/tests/task/task-coordination-ui-removal.spec.ts
  apps/web/e2e/tests/task/task-workflow-agent-overrides-helpers.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): isolate seed reset imports and commit readiness
  apps/web/e2e/fixtures/test-base.ts
  apps/web/e2e/helpers/seed-repository-checkout.ts
  apps/web/e2e/tests/task/task-navigation-helpers.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): size touch swipe budget to workflow list distance
  apps/web/e2e/tests/task/workflow-step-previews-helpers.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): retain foreground git refresh ownership
  apps/web/e2e/helpers/ws-capture.ts
  apps/web/e2e/tests/chat/queue-admission-reliability.spec.ts
  apps/web/e2e/tests/chat/slash-command-composer.spec.ts
  apps/web/e2e/tests/git/changes-panel-refresh-recovery.spec.ts
  apps/web/e2e/tests/session/new-session-dialog.spec.ts
  apps/web/lib/ws/handlers/git-status.test.ts
  apps/web/lib/ws/handlers/git-status.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): stabilize retry-only flakes
  apps/web/e2e/tests/chat/message-queue.spec.ts
  apps/web/e2e/tests/kanban/large-column-virtualization-helpers.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(ui): avoid restarting sidebar scroll during layout changes
  apps/web/lib/sidebar/task-navigation.test.ts
  apps/web/lib/sidebar/task-navigation.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): wait for connection before loading provider commits
  apps/web/hooks/domains/github/use-pr-commits.test.ts
  apps/web/hooks/domains/github/use-pr-commits.ts
  apps/web/hooks/domains/github/use-pr-workspace-scope.test.ts
  docs/plans/remote-contribution-head-drift/plan.md
  docs/plans/remote-contribution-head-drift/task-02-checkout-relation-and-action-semantics.md
  docs/specs/tasks/system-design/remote-contribution-relation.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test: isolate issue cancellation deadline from database setup
  apps/backend/internal/task/repository/sqlite/task_github_issue_cancellation_test.go
Due: gofmt, go-tests, go-lint

test(e2e): stabilize mobile geometry and conditional cache checks
  apps/web/e2e/tests/session/mobile-session-refresh-efficiency.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

ci: shard Windows process tests within the existing time budget
  .github/scripts/backend-tests-workflow-contract_test.py
  .github/workflows/backend-tests.yml
  .github/workflows/lint-action-pinning.yml
  scripts/ci-go-test-shard.py
  scripts/ci-go-test-shard.test.py
Due: none

test(e2e): await prepared session before opening workspace panels
  apps/web/e2e/tests/session/workspace-stream-promotion-helpers.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): reset persisted kanban column preferences
  apps/web/e2e/fixtures/test-base.ts
  apps/web/e2e/tests/kanban/display-preference-reset.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: link provider history fix to current delivery contracts
  docs/plans/remote-contribution-head-drift/plan.md
  docs/plans/remote-contribution-head-drift/task-02-checkout-relation-and-action-semantics.md
Due: none

test(e2e): scope coordinator search to its workspace
  apps/web/e2e/tests/coordinator/settings.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): isolate fixtures and synchronize recovery checks
  apps/web/e2e/fixtures/test-base.ts
  apps/web/e2e/tests/canvas/canvas-fixture.ts
  apps/web/e2e/tests/session/session-recovery.spec.ts
  apps/web/e2e/tests/settings/config-chat-popover.spec.ts
  apps/web/e2e/tests/settings/mobile-workspace-repository-sets.spec.ts
  apps/web/e2e/tests/task/file-tree-rename.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): isolate recovery faults and navigation fixture state
  apps/web/e2e/helpers/session-entry-recovery.ts
  apps/web/e2e/tests/session/mobile-session-entry-recovery.spec.ts
  apps/web/e2e/tests/task/directory-browser-hidden-folders.spec.ts
  apps/web/e2e/tests/task/task-navigation-helpers.ts
  apps/web/e2e/tests/task/task-navigation-responsiveness.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): coordinate retained capacity failure with browser readiness
  apps/backend/cmd/mock-agent/capacity_continuity.go
  apps/backend/cmd/mock-agent/capacity_continuity_test.go
  apps/web/e2e/helpers/transient-turn-runtime-continuity.ts
  apps/web/e2e/tests/plugins/plugins.spec.ts
  apps/web/e2e/tests/session/mobile-transient-turn-runtime-continuity.spec.ts
  apps/web/e2e/tests/session/transient-turn-runtime-continuity.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test: await completed monitor scan after poll mode transition
  apps/backend/internal/agentctl/server/process/workspace_poll_mode_loop_test.go
Due: gofmt, go-tests, go-lint

test: reuse recovery time helper after rebase
  apps/backend/internal/task/repository/sqlite/session_plugin_test.go
Due: gofmt, go-tests, go-lint

test(process): await completed scans before pausing the monitor
  apps/backend/internal/agentctl/server/process/workspace_poll_mode_loop_test.go
Due: gofmt, go-tests, go-lint

test: remove obsolete resolver cleanup helpers
  apps/backend/internal/agent/runtime/lifecycle/agentctl_resolver_cleanup_test.go
Due: gofmt, go-tests, go-lint

fix: preserve reader jumps and deterministic interruption fixtures
  apps/backend/cmd/mock-agent/interruption_continuation.go
  apps/backend/cmd/mock-agent/interruption_continuation_gate_test.go
  apps/web/components/task/chat/message-list-native-scroll.ts
  apps/web/components/task/chat/message-list-native.test.tsx
  apps/web/e2e/helpers/provider-interruption-continuation.ts
  apps/web/e2e/tests/session/provider-interruption-continuation.spec.ts
  apps/web/e2e/tests/task/create-task.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(e2e): isolate disabled profile in mobile agent options
  apps/web/e2e/tests/settings/mobile-agent-page-options.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): wait for page readiness and menu focus ownership
  apps/web/e2e/pages/session-page.ts
  apps/web/e2e/tests/settings/agent-runtime-summary-backend-helpers.ts
  apps/web/e2e/tests/task/create-task-workflow-agent-overrides.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): accept queued chart visibility entries
  apps/web/components/task/chat/messages/kandev/rich-output/chart-block.test.tsx
  apps/web/components/task/chat/messages/kandev/rich-output/chart-visibility.ts
  docs/plans/rich-output-chart-performance/plan.md
  docs/plans/rich-output-chart-performance/task-03-observer-batches.md
  docs/specs/agents/system-design/agent-rich-output.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): expand saved navigation for prompt chip width checks
  apps/web/e2e/tests/task/mobile-task-create-prompt-chips.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): stabilize history and sidebar fixture ownership
  apps/web/e2e/tests/git/changes-commit-spacing-helpers.ts
  apps/web/e2e/tests/git/commit-spacing-source.ts
  apps/web/e2e/tests/git/large-changes-virtualization.spec.ts
  apps/web/e2e/tests/git/mobile-large-changes-virtualization.spec.ts
  apps/web/e2e/tests/search/session-search.spec.ts
  apps/web/e2e/tests/task/create-task-branch-policy-helpers.ts
  apps/web/e2e/tests/task/create-task-branch-policy.spec.ts
  apps/web/e2e/tests/task/sidebar-shared-task-state-fixtures.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): bind handoff profiles to registered agents
  apps/web/e2e/tests/session/session-handoff-unhealthy-profile.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(backend): wait for Office execution failure cleanup
  apps/backend/internal/orchestrator/event_handlers_turn_failure_test.go
Due: gofmt, go-tests, go-lint

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
