Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

fix: refresh sidebar workflow step ordering
  apps/web/components/task/task-session-sidebar-aggregate.test.ts
  apps/web/components/task/task-session-sidebar-aggregate.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: guard missing workflow step metadata
  apps/web/components/task/task-switcher.test.tsx
  apps/web/components/task/task-switcher.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: reconcile live sidebar workflow steps
  apps/web/components/task/task-session-sidebar-aggregate.test.ts
  apps/web/components/task/task-session-sidebar-aggregate.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

chore(web): format GitLab merge request list
  apps/web/components/gitlab/my-gitlab/mr-list.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: plan dockview session focus repair
  docs/plans/dockview-session-focus-preservation/plan.md
  docs/plans/dockview-session-focus-preservation/task-01-preserve-session-focus.md
  docs/specs/ui/task-layout-profiles.md
Due: none

fix(web): preserve dialog body-lock ownership
  apps/packages/ui/src/dialog.tsx
  apps/packages/ui/src/lib/dialog-body-lock.ts
  apps/web/e2e/tests/task/dialog-body-lock-helpers.ts
  apps/web/e2e/tests/task/dialog-body-lock.spec.ts
  apps/web/e2e/tests/task/mobile-dialog-body-lock.spec.ts
  apps/web/lib/dialog-body-lock-component.test.tsx
  apps/web/lib/dialog-body-lock.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(backend): bind macOS repository init to opened directory
  apps/backend/cmd/kandev/main.go
  apps/backend/cmd/kandev/main_test.go
  apps/backend/internal/task/gitinit/command_descriptor.go
  apps/backend/internal/task/gitinit/command_descriptor_test.go
  apps/backend/internal/task/gitinit/command_path.go
  apps/backend/internal/task/gitinit/helper.go
  apps/backend/internal/task/gitinit/helper_test.go
  apps/backend/internal/task/service/local_repository_initialization.go
  apps/backend/internal/task/service/local_repository_initialization_descriptor_test.go
  docs/plans/fix-local-repository-darwin-init/plan.md
  docs/plans/fix-local-repository-darwin-init/task-01-descriptor-bound-git-init.md
  docs/specs/create-local-repository/spec.md
Due: gofmt, go-tests, go-lint

fix(web): preserve dockview focus during session restore
  apps/web/components/task/dockview-session-tab-activation.ts
  apps/web/components/task/dockview-session-tabs.test-utils.ts
  apps/web/components/task/dockview-session-tabs.test.ts
  apps/web/components/task/dockview-session-tabs.ts
  apps/web/e2e/tests/layout/saved-layout-session-isolation.spec.ts
  docs/plans/dockview-session-focus-preservation/plan.md
  docs/plans/dockview-session-focus-preservation/task-01-preserve-session-focus.md
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(editors): scope embedded VS Code by executor
  apps/backend/internal/backendapp/helpers.go
  apps/backend/internal/backendapp/helpers_test.go
  apps/backend/internal/editors/capabilities/capabilities.go
  apps/backend/internal/editors/capabilities/capabilities_test.go
  apps/backend/internal/editors/service/service.go
  apps/backend/internal/editors/service/service_test.go
  apps/backend/internal/orchestrator/dto/dto.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/task_operations_test.go
  apps/backend/internal/webapp/payload.go
  apps/web/components/task/editors-menu-availability.test.ts
  apps/web/components/task/editors-menu-availability.ts
  apps/web/components/task/editors-menu.tsx
  apps/web/components/task/task-page-editor-capability.test.ts
  apps/web/components/task/task-page-editor-capability.ts
  apps/web/components/task/task-page-inner.tsx
  apps/web/components/task/task-top-bar.tsx
  apps/web/e2e/helpers/boot-payload.ts
  apps/web/e2e/helpers/session-capabilities.ts
  apps/web/e2e/tests/task/executor-embedded-vscode-availability.spec.ts
  apps/web/e2e/tests/task/mobile-executor-embedded-vscode-availability.spec.ts
  apps/web/hooks/domains/session/use-session-resumption.ts
  apps/web/src/boot-payload.test.ts
  apps/web/src/boot-payload.ts
  docs/decisions/2026-07-30-embedded-editor-executor-capabilities.md
  docs/decisions/INDEX.md
  docs/plans/embedded-vscode-executor-availability/plan.md
  docs/plans/embedded-vscode-executor-availability/task-01-add-session-capability.md
  docs/plans/embedded-vscode-executor-availability/task-02-wire-editor-availability.md
  docs/plans/embedded-vscode-executor-availability/task-03-executor-availability-e2e.md
  docs/plans/embedded-vscode-executor-availability/task-04-document-executor-availability.md
  docs/public/developer-tools.md
  docs/public/executors.md
  docs/public/feature-status.md
  docs/specs/INDEX.md
  docs/specs/ui/embedded-vscode-executor-availability.md
  docs/specs/ui/embedded-vscode-windows-availability.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: freeze disabled transcript scroll anchoring
  apps/web/components/task/chat/message-list-native.tsx
  apps/web/e2e/tests/chat/auto-scroll-toggle.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: stabilize transcript auto-scroll
  apps/backend/internal/orchestrator/task_operations_test.go
  apps/web/components/task/chat/message-list-native.tsx
  apps/web/e2e/tests/chat/mobile-auto-scroll-toggle.spec.ts
  docs/plans/transcript-auto-scroll-stability/plan.md
  docs/plans/transcript-auto-scroll-stability/task-01-stabilize-recovery-test.md
  docs/plans/transcript-auto-scroll-stability/task-02-freeze-native-transcript.md
  docs/specs/INDEX.md
  docs/specs/ui/transcript-auto-scroll.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(web): establish transcript bottom precondition
  apps/web/e2e/tests/chat/auto-scroll-toggle.spec.ts
  apps/web/e2e/tests/chat/mobile-auto-scroll-toggle.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): preserve restored dockview panel selection
  apps/web/components/task/dockview-session-tab-activation.ts
  apps/web/components/task/dockview-session-tabs.test.ts
  apps/web/components/task/dockview-session-tabs.ts
  docs/plans/dockview-session-focus-preservation/task-01-preserve-session-focus.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): finish dialog exit animations
  apps/packages/ui/src/lib/dialog-body-lock.ts
  apps/web/lib/dialog-body-lock.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(backend): stop git init helper test recursion
  apps/backend/cmd/kandev/main.go
  apps/backend/cmd/kandev/main_test.go
  apps/backend/internal/task/gitinit/command_descriptor.go
  apps/backend/internal/task/gitinit/command_descriptor_test.go
  apps/backend/internal/task/gitinit/helper.go
  apps/backend/internal/task/gitinit/helper_test.go
  apps/backend/internal/task/service/local_repository_initialization_descriptor_test.go
  docs/plans/fix-local-repository-darwin-init/plan.md
  docs/plans/fix-local-repository-darwin-init/task-01-descriptor-bound-git-init.md
Due: gofmt, go-tests, go-lint

fix(mcp): repair attachment diagnostics checks
  apps/backend/internal/agentctl/server/adapter/transport/acp/adapter_session.go
  apps/web/components/task/chat/chat-input-area.tsx
  apps/web/components/task/chat/chat-input-body.tsx
  apps/web/components/task/chat/chat-input-container.tsx
  apps/web/components/task/chat/chat-input-toolbar-desktop.tsx
  apps/web/components/task/chat/chat-input-toolbar-mobile.tsx
  apps/web/components/task/chat/chat-input-toolbar-primitives.tsx
  apps/web/components/task/chat/chat-input-toolbar.tsx
  apps/web/components/task/chat/use-chat-panel-state.ts
  apps/web/components/task/chat/use-composer-props.ts
  apps/web/components/task/passthrough-chat-composer.tsx
  apps/web/e2e/tests/plugins/mobile-status-drawer.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(settings): improve transcript navigation controls
  apps/backend/internal/backendapp/boot_state_routes.go
  apps/backend/internal/user/controller/controller.go
  apps/backend/internal/user/dto/dto.go
  apps/backend/internal/user/models/models.go
  apps/backend/internal/user/service/service.go
  apps/backend/internal/user/service/service_test.go
  apps/backend/internal/user/store/sqlite.go
  apps/backend/internal/user/store/sqlite_test.go
  apps/web/components/settings/anchored-prompt-bar-settings.test.tsx
  apps/web/components/settings/anchored-prompt-bar-settings.tsx
  apps/web/components/settings/editors-settings-state.tsx
  apps/web/components/settings/general-settings.tsx
  apps/web/components/settings/settings-layout-client.test.tsx
  apps/web/components/settings/settings-layout-client.tsx
  apps/web/components/task/chat/auto-scroll-toggle-button.test.tsx
  apps/web/components/task/chat/auto-scroll-toggle-button.tsx
  apps/web/e2e/fixtures/test-base.ts
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/tests/chat/auto-scroll-toggle.spec.ts
  apps/web/e2e/tests/chat/last-prompt-scroll.spec.ts
  apps/web/e2e/tests/chat/mobile-auto-scroll-toggle.spec.ts
  apps/web/e2e/tests/chat/mobile-last-prompt-scroll.spec.ts
  apps/web/e2e/tests/settings/mobile-general-settings.spec.ts
  apps/web/e2e/tests/settings/settings-manual-save.spec.ts
  apps/web/hooks/use-ensure-user-settings.test.ts
  apps/web/hooks/use-user-display-settings.ts
  apps/web/lib/ssr/user-settings.test.ts
  apps/web/lib/ssr/user-settings.ts
  apps/web/lib/state/slices/settings/settings-slice.ts
  apps/web/lib/state/slices/settings/types.ts
  apps/web/lib/types/backend.ts
  apps/web/lib/types/http-user-settings.ts
  apps/web/lib/ws/handlers/users.test.ts
  apps/web/lib/ws/handlers/users.ts
  docs/plans/transcript-navigation-settings/plan.md
  docs/plans/transcript-navigation-settings/task-01-portable-settings-contract.md
  docs/plans/transcript-navigation-settings/task-02-settings-ui-and-transcript-control.md
  docs/plans/transcript-navigation-settings/task-03-responsive-clearance-and-e2e.md
  docs/specs/INDEX.md
  docs/specs/ui/transcript-navigation-settings.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(ci): resolve frontend lint warnings
  apps/web/components/task/chat/chat-input-area.tsx
  apps/web/lib/types/backend.ts
  apps/web/lib/types/run-events.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): make review ordering and navigation safe
  apps/web/components/diff/diff-viewer-resolver.tsx
  apps/web/components/diff/diff-viewer.test.tsx
  apps/web/components/diff/diff-viewer.tsx
  apps/web/components/diff/file-diff-viewer.tsx
  apps/web/components/diff/use-diff-viewer-state.test.ts
  apps/web/components/diff/use-diff-viewer-state.ts
  apps/web/components/review/review-dialog-surface.tsx
  apps/web/components/review/review-dialog.tsx
  apps/web/components/review/review-diff-list-auto-mark.test.tsx
  apps/web/components/review/review-diff-list-grouping.test.tsx
  apps/web/components/review/review-diff-list.tsx
  apps/web/components/review/review-file-tree.test.tsx
  apps/web/components/review/types.ts
  apps/web/components/task/task-changes-panel.tsx
  apps/web/e2e/tests/review/mobile-walkthrough.spec.ts
  apps/web/e2e/tests/review/review-file-status.spec.ts
  apps/web/e2e/tests/review/walkthrough.spec.ts
  docs/public/sessions-and-review.md
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor(web): reuse stats-utils formatDuration in stats-sections
  apps/web/app/stats/stats-sections.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor(web): consolidate formatRelativeTime into lib/utils
  apps/web/components/automations/automations-table.tsx
  apps/web/components/automations/format-utils.ts
  apps/web/components/automations/runs-section.tsx
  apps/web/components/kanban/graph2-task-pipeline.tsx
  apps/web/components/task/commit-detail-panel.tsx
  apps/web/components/task/task-item.tsx
  apps/web/lib/utils.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor(web): use the shared formatBytes in chat attachments
  apps/web/components/task-create-dialog-selectors.test.tsx
  apps/web/components/task-create-dialog-selectors.tsx
  apps/web/components/task/chat/context-items/file-attachment-item.tsx
  apps/web/components/task/chat/file-attachment-preview.tsx
  apps/web/components/task/chat/file-attachment.ts
  apps/web/components/task/chat/image-attachment-preview.tsx
  apps/web/components/task/chat/use-attachment-file-feedback.ts
  apps/web/components/task/chat/use-chat-input-state.test.ts
  apps/web/components/task/chat/use-chat-input-state.ts
  apps/web/components/task/session-dialog-shared.test.tsx
  apps/web/components/task/session-dialog-shared.tsx
  apps/web/e2e/tests/chat/mobile-attachment-size-warning.spec.ts
  apps/web/e2e/tests/task/create-task-attachment-warning.spec.ts
  apps/web/lib/utils/format-bytes.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): preserve interleaved review tree order
  apps/web/components/review/review-diff-list-auto-mark.test.tsx
  apps/web/components/review/review-file-tree.test.tsx
  apps/web/components/review/types.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(acp): strip multi-line command echoes in workDir-resolved output
  apps/backend/internal/agentctl/server/adapter/transport/acp/shell_output.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/shell_output_test.go
Due: gofmt, go-tests, go-lint

test(e2e): cover multi-line workDir-resolved shell echo stripping
  apps/web/e2e/tests/chat/shell-output-echo.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: color auto-scroll toggle pale green when enabled, ban icon when off
  apps/web/components/task/chat/auto-scroll-toggle-button.test.tsx
  apps/web/components/task/chat/auto-scroll-toggle-button.tsx
  apps/web/e2e/tests/chat/auto-scroll-toggle.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): write shell-output-echo screenshot via testInfo.outputPath
  apps/web/e2e/tests/chat/shell-output-echo.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(chat): hide empty transcript status bar
  apps/web/components/task/chat/chat-input-area.test.ts
  apps/web/components/task/chat/chat-input-area.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): assert preserved 'start' line in multiline echo regression
  apps/web/e2e/tests/chat/shell-output-echo.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): keep transcript scroll position across nav when auto-scroll is on
  apps/web/components/task/chat/auto-scroll-toggle-button.tsx
  apps/web/components/task/chat/message-list-native-scroll.ts
  apps/web/components/task/chat/message-list-virtuoso-auto-scroll.ts
  apps/web/components/task/chat/transcript-auto-scroll.test.ts
  apps/web/components/task/chat/transcript-auto-scroll.ts
  apps/web/e2e/tests/chat/auto-scroll-toggle.spec.ts
  docs/plans/keep-transcript-position/plan.md
  docs/plans/keep-transcript-position/task-01-native-renderer-restore.md
  docs/plans/keep-transcript-position/task-02-virtuoso-renderer-restore.md
  docs/plans/keep-transcript-position/task-03-e2e-and-verification.md
  docs/specs/INDEX.md
  docs/specs/keep-transcript-position/spec.md
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(plans): mark keep-transcript-position plan in-review
  docs/plans/keep-transcript-position/plan.md
Due: none

docs: add auto-scroll toggle E2E screenshots for PR #2073
  docs/pr-screenshots/2073-auto-scroll-toggle-disabled.png
  docs/pr-screenshots/2073-auto-scroll-toggle-enabled.png
Due: none

revert: keep transcript scroll position across nav when auto-scroll is on
  apps/web/components/task/chat/auto-scroll-toggle-button.tsx
  apps/web/components/task/chat/message-list-native-scroll.ts
  apps/web/components/task/chat/message-list-virtuoso-auto-scroll.ts
  apps/web/components/task/chat/transcript-auto-scroll.test.ts
  apps/web/components/task/chat/transcript-auto-scroll.ts
  apps/web/e2e/tests/chat/auto-scroll-toggle.spec.ts
  docs/plans/keep-transcript-position/plan.md
  docs/plans/keep-transcript-position/task-01-native-renderer-restore.md
  docs/plans/keep-transcript-position/task-02-virtuoso-renderer-restore.md
  docs/plans/keep-transcript-position/task-03-e2e-and-verification.md
  docs/specs/INDEX.md
  docs/specs/keep-transcript-position/spec.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(backend): address note-handler review findings
  apps/backend/internal/task/handlers/task_note_handlers.go
  apps/backend/internal/task/handlers/task_note_handlers_test.go
Due: gofmt, go-tests, go-lint

fix(web): fix note draft loss and cross-task bleed when switching tasks
  apps/web/hooks/domains/session/use-task-note.test.ts
  apps/web/hooks/domains/session/use-task-note.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): toast when the WS client is unavailable for note enhancement
  apps/web/hooks/domains/kanban/use-note-actions.test.ts
  apps/web/hooks/domains/kanban/use-note-actions.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): surface note save/fetch errors in the notes panel
  apps/web/components/task/task-note-panel.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor(web): extract kanban edit-submenu builder
  apps/web/components/kanban-card-menu-items.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor(web): extract shared side-panel opener helper
  apps/web/lib/state/dockview-panel-actions.ts
Due: prettier-format, web-lint, web-tests, web-typecheck
