Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

test(e2e): make the executor-binding poll actually wait
  apps/web/e2e/tests/task/add-workspace-sources.spec.ts
  apps/web/e2e/tests/task/mobile-add-workspace-sources.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): address executor binding QA feedback
  apps/web/components/task/add-workspace-sources/add-folder-button.tsx
  apps/web/components/task/add-workspace-sources/add-workspace-sources-dialog.test.tsx
  apps/web/lib/ssr/mapper.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): pin the executor re-hydration regression and omitempty case
  apps/web/lib/ssr/mapper.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: resolve mobile Add folder button executor race in workspace sources
  apps/web/components/task/add-workspace-sources/add-folder-button.tsx
  apps/web/components/task/add-workspace-sources/add-workspace-sources-dialog.test.tsx
  apps/web/components/task/add-workspace-sources/add-workspace-sources-dialog.tsx
  apps/web/components/workspace-source-picker/executor-capabilities.test.ts
  apps/web/components/workspace-source-picker/executor-capabilities.ts
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/tests/task/add-workspace-sources.spec.ts
  apps/web/e2e/tests/task/mobile-add-workspace-sources.spec.ts
  apps/web/hooks/domains/kanban/use-all-workflow-snapshots.test.ts
  apps/web/lib/ssr/mapper.test.ts
  apps/web/lib/ssr/mapper.ts
  apps/web/src/locales/en/task.json
  apps/web/src/locales/pseudo/task.json
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): clear stale executor capabilities
  apps/web/components/task/add-workspace-sources/add-workspace-sources-dialog.test.tsx
  apps/web/components/workspace-source-picker/executor-capabilities.test.ts
  apps/web/components/workspace-source-picker/executor-capabilities.ts
  apps/web/hooks/domains/kanban/use-all-workflow-snapshots.test.ts
  apps/web/hooks/domains/kanban/use-all-workflow-snapshots.ts
  apps/web/src/locales/pt-pt/task.json
  apps/web/src/locales/zh-cn/task.json
  apps/web/src/locales/zh-hk/task.json
  apps/web/src/locales/zh-tw/task.json
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): preserve current executor binding across snapshot races
  apps/web/hooks/domains/kanban/use-all-workflow-snapshots.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): preserve executor detach during snapshot races
  apps/web/hooks/domains/kanban/use-all-workflow-snapshots.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(git): support local-only merge and rebase
  apps/backend/internal/agentctl/server/api/git_local_base_operations_test.go
  apps/backend/internal/agentctl/server/process/git.go
  apps/backend/internal/agentctl/server/process/git_base_target.go
  apps/backend/internal/agentctl/server/process/git_base_target_test.go
  apps/web/e2e/tests/git/local-base-operations-helpers.ts
  apps/web/e2e/tests/git/local-base-operations.spec.ts
  apps/web/e2e/tests/git/mobile-local-base-operations.spec.ts
  docs/plans/local-only-merge-rebase/plan.md
  docs/plans/local-only-merge-rebase/task-01-resolve-local-base-targets.md
  docs/plans/local-only-merge-rebase/task-02-document-local-git-operations.md
  docs/public/git-operations.md
  docs/specs/workspaces/local-repositories.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: correct plugin marketplace attribution
  docs/plans/plugin-marketplace-attribution/plan.md
  docs/plans/plugin-marketplace-attribution/task-01-bitbucket-attribution.md
  docs/plans/plugin-marketplace-attribution/task-02-youtrack-attribution.md
  docs/plans/plugin-marketplace-attribution/task-03-registry-verification.md
  docs/specs/plugins/marketplace.md
Due: none

fix: restore complete transcript history (#2914)
  apps/web/components/task/chat/message-list-native-scroll.ts
  apps/web/components/task/chat/message-list-native.test.tsx
  apps/web/e2e/tests/chat/message-pagination-helpers.ts
  apps/web/e2e/tests/chat/mobile-message-pagination.spec.ts
  apps/web/hooks/use-processed-messages-fallback.test.ts
  apps/web/hooks/use-processed-messages.ts
  docs/plans/task-prompt-transcript-visibility/plan.md
  docs/plans/task-prompt-transcript-visibility/task-01-preserve-task-prompt-fallback.md
  docs/plans/task-prompt-transcript-visibility/task-02-auto-load-collapsed-history.md
  docs/plans/task-prompt-transcript-visibility/task-03-prove-complete-history-navigation.md
  docs/specs/INDEX.md
  docs/specs/ui/task-prompt-transcript-visibility.md
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: improve managed runtime version picker
  apps/web/components/settings/agent-runtime-update-control.test.tsx
  apps/web/components/settings/agent-runtime-update-control.tsx
  apps/web/components/settings/runtime-version-picker.tsx
  apps/web/e2e/tests/settings/agent-runtime-update.spec.ts
  apps/web/e2e/tests/settings/mobile-agent-runtime-update.spec.ts
  apps/web/src/locales/en/agents.json
  apps/web/src/locales/pseudo/agents.json
  apps/web/src/locales/pt-pt/agents.json
  apps/web/src/locales/zh-cn/agents.json
  apps/web/src/locales/zh-hk/agents.json
  apps/web/src/locales/zh-tw/agents.json
  docs/plans/managed-runtime-version-picker/plan.md
  docs/plans/managed-runtime-version-picker/task-01-compact-searchable-picker.md
  docs/specs/agents/runtime-updates.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: align plugin attribution verification
  docs/plans/plugin-marketplace-attribution/plan.md
  docs/plans/plugin-marketplace-attribution/task-01-bitbucket-attribution.md
  docs/plans/plugin-marketplace-attribution/task-02-youtrack-attribution.md
  docs/plans/plugin-marketplace-attribution/task-03-registry-verification.md
  docs/specs/plugins/marketplace.md
  plugin-registry/build-index.test.mjs
Due: none

fix(git): refine local base review feedback
  apps/backend/internal/agentctl/server/api/git_local_base_operations_test.go
  apps/backend/internal/agentctl/server/process/git_base_target.go
  apps/backend/internal/agentctl/server/process/git_base_target_test.go
  apps/web/e2e/tests/git/local-base-operations.spec.ts
  docs/plans/local-only-merge-rebase/plan.md
  docs/plans/local-only-merge-rebase/task-01-resolve-local-base-targets.md
  docs/specs/workspaces/local-repositories.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: stabilize transcript pagination review findings (#2927)
  apps/web/components/task/chat/message-list-native-scroll.ts
  apps/web/components/task/chat/message-list-native.test.tsx
  apps/web/components/task/chat/message-list-shared.test.tsx
  apps/web/components/task/chat/message-list-shared.tsx
  apps/web/components/task/chat/transcript-auto-scroll.test.ts
  apps/web/components/task/chat/transcript-auto-scroll.ts
  apps/web/e2e/tests/chat/message-metadata-overflow.spec.ts
  apps/web/e2e/tests/chat/mobile-message-metadata-overflow.spec.ts
  apps/web/hooks/use-processed-messages.ts
  docs/plans/task-prompt-transcript-visibility/plan.md
  docs/plans/task-prompt-transcript-visibility/task-01-preserve-task-prompt-fallback.md
  docs/plans/task-prompt-transcript-visibility/task-02-auto-load-collapsed-history.md
  docs/plans/task-prompt-transcript-visibility/task-03-prove-complete-history-navigation.md
  docs/specs/INDEX.md
  docs/specs/ui/task-prompt-transcript-visibility.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(github): address merge queue review feedback
  apps/backend/internal/backendapp/status_summary_adapter_test.go
  apps/backend/internal/github/store_merge_queue_status_test.go
  apps/web/components/github/pr-detail-panel.test.tsx
  apps/web/components/github/pr-detail-panel.tsx
  apps/web/components/github/pr-merge-queue-status.test.tsx
  apps/web/components/github/pr-status-chip.test.tsx
  apps/web/components/github/pr-status-chip.tsx
  apps/web/src/locales/en/github.json
  apps/web/src/locales/pseudo/github.json
  apps/web/src/locales/pt-pt/github.json
  apps/web/src/locales/zh-cn/github.json
  apps/web/src/locales/zh-hk/github.json
  apps/web/src/locales/zh-tw/github.json
  docs/plans/github-pr-merge-queue-status/plan.md
  docs/plans/github-pr-merge-queue-status/task-01-backend-queue-state.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

docs: establish system-oriented specification governance
  .agents/skills/context-engineering/SKILL.md
  .agents/skills/docs-maintainer/SKILL.md
  .agents/skills/fix/SKILL.md
  .agents/skills/harness-improvement/references/agents.md
  .agents/skills/harness-improvement/references/session-learnings.md
  .agents/skills/harness-improvement/references/validation.md
  .agents/skills/interview-me/SKILL.md
  .agents/skills/plan/SKILL.md
  .agents/skills/planner-orchestration/SKILL.md
  .agents/skills/record/SKILL.md
  .agents/skills/spec-driven-development/SKILL.md
  .agents/skills/spec/SKILL.md
  .agents/skills/tdd/SKILL.md
  .agents/skills/using-agent-skills/SKILL.md
  .github/workflows/lint-harness-files.yml
  .pre-commit-config.yaml
  AGENTS.md
  Makefile
  docs/decisions/0001-file-based-knowledge-system.md
  docs/decisions/2026-08-22-system-oriented-specifications.md
  docs/decisions/INDEX.md
  docs/specs/INDEX.md
  docs/specs/README.md
  docs/specs/guide/README.md
  docs/specs/guide/plans-and-work-orders.md
  docs/specs/guide/requirements.md
  docs/specs/guide/structure-and-ownership.md
  docs/specs/guide/system-design.md
  docs/specs/guide/traceability-and-lifecycle.md
  docs/specs/product/README.md
  docs/specs/spec-lint.json
  docs/specs/templates/requirement.md
  docs/specs/templates/system-design.md
  docs/specs/templates/system-readme.md
  scripts/lint-spec-files.py
  scripts/lint-spec-files.test.py
Due: none

fix: enforce MCP question turn boundary
  apps/backend/internal/sysprompt/sysprompt.go
  apps/backend/internal/sysprompt/sysprompt_test.go
  docs/plans/user-question-turn-boundary/plan.md
  docs/plans/user-question-turn-boundary/task-01-strengthen-question-wait-guidance.md
  docs/specs/INDEX.md
  docs/specs/tasks/user-question-turn-boundary.md
Due: gofmt, go-tests, go-lint

fix: keep validation errors retryable for MCP questions
  apps/backend/internal/sysprompt/sysprompt.go
  apps/backend/internal/sysprompt/sysprompt_test.go
  docs/plans/user-question-turn-boundary/plan.md
  docs/plans/user-question-turn-boundary/task-01-strengthen-question-wait-guidance.md
  docs/specs/INDEX.md
  docs/specs/tasks/user-question-turn-boundary.md
Due: gofmt, go-tests, go-lint

fix: harden transcript pagination (#2927)
  apps/web/e2e/tests/chat/message-pagination-helpers.ts
  apps/web/e2e/tests/chat/message-pagination.spec.ts
  apps/web/e2e/tests/chat/mobile-message-pagination.spec.ts
  apps/web/hooks/use-lazy-load-sentinel.test.ts
  apps/web/hooks/use-lazy-load-sentinel.ts
  docs/plans/task-prompt-transcript-visibility/plan.md
  docs/plans/task-prompt-transcript-visibility/task-02-auto-load-collapsed-history.md
  docs/plans/task-prompt-transcript-visibility/task-03-prove-complete-history-navigation.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: harden specification lint and guidance
  .agents/skills/harness-improvement/references/session-learnings.md
  .agents/skills/plan/SKILL.md
  .agents/skills/planner-orchestration/SKILL.md
  .agents/skills/spec-driven-development/SKILL.md
  docs/decisions/0001-file-based-knowledge-system.md
  docs/decisions/INDEX.md
  docs/specs/INDEX.md
  docs/specs/guide/traceability-and-lifecycle.md
  docs/specs/spec-lint.json
  docs/specs/templates/system-design.md
  docs/specs/templates/system-readme.md
  scripts/lint-spec-files.py
  scripts/lint-spec-files.test.py
Due: none

fix: handle structured MCP question rejections
  apps/backend/internal/sysprompt/sysprompt.go
  apps/backend/internal/sysprompt/sysprompt_test.go
  docs/plans/user-question-turn-boundary/plan.md
  docs/plans/user-question-turn-boundary/task-01-strengthen-question-wait-guidance.md
  docs/specs/tasks/user-question-turn-boundary.md
Due: gofmt, go-tests, go-lint

fix(ui): compact managed runtime update dialog
  apps/web/components/settings/agent-runtime-update-control.tsx
  apps/web/components/settings/agent-runtime-update-surface.tsx
  apps/web/components/settings/runtime-version-picker.tsx
  apps/web/e2e/tests/settings/agent-runtime-update.spec.ts
  apps/web/e2e/tests/settings/mobile-agent-runtime-update.spec.ts
  docs/plans/managed-runtime-version-picker/plan.md
  docs/plans/managed-runtime-version-picker/task-01-compact-searchable-picker.md
  docs/specs/agents/runtime-updates.md
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: add PR screenshots for plugin update-check UI (#2513)
  docs/pr-assets/2513/installed-tab-sync-and-check-for-updates.png
  docs/pr-assets/2513/update-available-badge.png
  docs/pr-assets/2513/update-error-inline.png
Due: none

fix(github): restore merge queue coverage and precedence
  apps/backend/internal/task/statussummary/merge_queue_status_test.go
  apps/backend/internal/task/statussummary/projector_pr.go
  apps/web/components/github/pr-merge-queue-status.test.tsx
  apps/web/components/github/pr-merge-queue-status.tsx
  apps/web/components/github/pr-status-chip.test.tsx
  apps/web/components/github/pr-status-chip.tsx
  apps/web/components/github/pr-task-icon.tsx
  apps/web/components/github/pr-task-status-summary.test.ts
  apps/web/components/integrations/change-request-task-status-summary.tsx
  apps/web/e2e/tests/pr/mobile-pr-merge-queue.spec.ts
  apps/web/e2e/tests/pr/pr-merge-queue.spec.ts
  apps/web/src/locales/en/github.json
  apps/web/src/locales/pseudo/github.json
  apps/web/src/locales/pt-pt/github.json
  apps/web/src/locales/zh-cn/github.json
  apps/web/src/locales/zh-hk/github.json
  apps/web/src/locales/zh-tw/github.json
  docs/plans/github-pr-merge-queue-status/plan.md
  docs/plans/github-pr-merge-queue-status/task-01-backend-queue-state.md
  docs/plans/github-pr-merge-queue-status/task-02-frontend-queued-status.md
  docs/plans/github-pr-merge-queue-status/task-03-responsive-merge-queue-e2e.md
  docs/plans/github-pr-merge-queue/plan.md
  docs/plans/github-pr-merge-queue/task-01-backend-queue-aware-merge.md
  docs/plans/github-pr-merge-queue/task-02-frontend-merge-outcomes.md
  docs/plans/github-pr-merge-queue/task-03-desktop-mobile-e2e.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(plugins): clarify update and settings actions
  apps/web/app/settings/plugins/page.test.tsx
  apps/web/components/settings/plugins/plugin-row.test.tsx
  apps/web/components/settings/plugins/plugin-row.tsx
  apps/web/e2e/tests/plugins/plugins.spec.ts
  apps/web/e2e/tests/settings/mobile-plugin-updates.spec.ts
  docs/public/plugins-marketplace.md
  docs/specs/plugins/marketplace.md
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: refresh PR screenshots after update-affordance redesign (#2513)
  docs/pr-assets/2513/installed-tab-sync-and-check-for-updates.png
  docs/pr-assets/2513/update-available-badge.png
  docs/pr-assets/2513/update-available.png
  docs/pr-assets/2513/update-error-inline.png
Due: none

test: stabilize prompt history re-arm coverage (#2927)
  apps/web/components/task/prompt-history-panel-content.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(ui): render runtime versions in a popover
  apps/web/components/settings/runtime-version-picker.tsx
  apps/web/e2e/tests/settings/agent-runtime-update.spec.ts
  apps/web/e2e/tests/settings/mobile-agent-runtime-update.spec.ts
  docs/plans/managed-runtime-version-popover/plan.md
  docs/plans/managed-runtime-version-popover/task-01-anchored-popover.md
  docs/specs/agents/runtime-updates.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): target Sentry confirmations by instance
  apps/web/e2e/tests/integrations/sentry-settings.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(ui): address session delete review feedback
  apps/web/components/task/mobile/mobile-sessions-section.test.tsx
  apps/web/components/task/mobile/mobile-sessions-section.tsx
  apps/web/components/task/session-delete-description.tsx
  apps/web/components/task/session-tab-menu.tsx
  docs/plans/session-tab-delete-feedback/plan.md
  docs/plans/session-tab-delete-feedback/task-01-inline-delete-feedback.md
  docs/plans/session-tab-delete-feedback/task-02-session-deletion-e2e.md
  docs/specs/ui/session-tab-delete-feedback.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test(settings): use shared prompt editor in delete flow
  apps/web/e2e/tests/settings/prompts-settings.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): cover PR diff manual refresh paths
  apps/web/hooks/domains/github/use-pr-diff.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: add PR walkthrough generation workflow
  .agents/skills/pr-walkthrough/SKILL.md
  .agents/skills/pr-walkthrough/references/build.py
  .agents/skills/pr-walkthrough/references/example.json
  .agents/skills/pr-walkthrough/references/shell.html
  .agents/skills/pr-walkthrough/references/test_build.py
  .github/actions/setup-opencode/action.yml
  .github/scripts/opencode-pr-walkthrough-tool.ts
  .github/scripts/pr-walkthrough-workflow-contract_test.py
  .github/workflows/lint-action-pinning.yml
  .github/workflows/opencode-code-review.yml
  .github/workflows/pr-walkthrough.yml
  .gitignore
  docs/decisions/2026-08-22-agent-owned-pr-walkthrough-rendering.md
  docs/decisions/2026-08-22-pr-walkthrough-description-link.md
  docs/decisions/2026-08-22-pr-walkthrough-r2-hosting.md
  docs/decisions/INDEX.md
  docs/plans/pr-walkthrough/plan.md
  docs/plans/pr-walkthrough/task-01-walkthrough-skill-renderer.md
  docs/plans/pr-walkthrough/task-02-agent-rendering-contract.md
  docs/plans/pr-walkthrough/task-03-workflow-artifact-generation.md
  docs/plans/pr-walkthrough/task-04-r2-html-publication.md
  docs/plans/pr-walkthrough/task-05-dedicated-workflow-pr-link.md
  docs/specs/INDEX.md
  docs/specs/pr-walkthrough/spec.md
  scripts/pr-walkthrough-pr-body
  scripts/pr-walkthrough-pr-body.test.py
  scripts/pr-walkthrough-render
  scripts/pr-walkthrough-render.test.py
Due: none

fix(ui): keep runtime version popover in viewport
  apps/web/components/settings/runtime-version-picker.tsx
  apps/web/e2e/tests/settings/agent-runtime-update.spec.ts
  apps/web/e2e/tests/settings/mobile-agent-runtime-update.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): address layout confirmation review findings
  apps/web/components/confirmation/action-confirm-popover.tsx
  apps/web/components/settings/layouts/layout-profile-delete-confirmation.tsx
  apps/web/components/settings/layouts/layout-settings.test.tsx
  apps/web/components/task/layout-preset-selector.test.tsx
  apps/web/components/task/layout-preset-selector.tsx
  apps/web/components/task/saved-layout-delete-confirmation.tsx
  apps/web/components/task/use-saved-layout-mutations.ts
  apps/web/e2e/tests/layout/mobile-saved-layout-confirmation.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(plugins): serialize update checks and clear stale state
  apps/web/components/settings/plugins/plugins-settings.tsx
  apps/web/components/settings/plugins/use-plugin-update-action.test.tsx
  apps/web/components/settings/plugins/use-plugin-update-action.ts
  apps/web/hooks/domains/plugins/use-plugin-updates.test.ts
  apps/web/hooks/domains/plugins/use-plugin-updates.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor(web): extract Jira confirmation action bar
  apps/web/components/jira/jira-action-bar.tsx
  apps/web/components/jira/jira-settings.tsx
  apps/web/e2e/tests/integrations/mobile-integration-remove-confirmations.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: preserve newest backend diagnostics (#2929)
  apps/backend/internal/common/logger/backend_log_segments.go
  apps/backend/internal/common/logger/backend_log_segments_test.go
  apps/backend/internal/common/logger/backend_logger.go
  apps/backend/internal/common/logger/daily_writer.go
  apps/backend/internal/common/logger/daily_writer_test.go
  apps/backend/internal/gateway/websocket/client.go
  apps/backend/internal/gateway/websocket/client_pump_close_test.go
  apps/backend/internal/system/logbundle/archive.go
  apps/backend/internal/system/logbundle/backend_candidates.go
  apps/backend/internal/system/logbundle/backend_candidates_test.go
  docs/decisions/2026-07-30-file-backed-diagnostic-bundles.md
  docs/decisions/2026-08-22-preserve-newest-bounded-backend-logs.md
  docs/decisions/INDEX.md
  docs/plans/bounded-rolling-backend-logs/plan.md
  docs/plans/bounded-rolling-backend-logs/task-01-classify-normal-websocket-closes.md
  docs/plans/bounded-rolling-backend-logs/task-02-implement-bounded-log-segments.md
  docs/plans/bounded-rolling-backend-logs/task-03-extend-diagnostic-bundle-discovery.md
  docs/plans/bounded-rolling-backend-logs/task-04-update-public-logging-documentation.md
  docs/public/configuration.md
  docs/public/docker.md
  docs/public/k8s.md
  docs/public/operations.md
  docs/specs/platform/diagnostic-logging.md
Due: gofmt, go-tests, go-lint

ci: document managed runtime pin schedule
  .github/workflows/update-agent-runtime-pins.yml
Due: none

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
