Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

test(kanban): cover auto-hidden column flows
  apps/web/components/kanban/mobile-drop-targets.tsx
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/tests/kanban/auto-hide-empty-columns.spec.ts
  apps/web/e2e/tests/kanban/mobile-auto-hide-empty-columns.spec.ts
  docs/plans/kanban-auto-hide-empty-columns/plan.md
  docs/plans/kanban-auto-hide-empty-columns/task-04-e2e-docs.md
  docs/specs/INDEX.md
  docs/specs/kanban-auto-hide-empty-columns/spec.md
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(specs): finalize auto-hide status
  docs/specs/INDEX.md
Due: none

fix(kanban): address auto-hide review feedback
  apps/backend/internal/user/dto/dto.go
  apps/backend/internal/user/dto/dto_test.go
  apps/backend/internal/user/store/sqlite_test.go
  apps/web/components/kanban/columns-menu.test.tsx
  apps/web/components/kanban/graph2-step-node.test.tsx
  apps/web/components/kanban/mobile-menu-sheet.test.tsx
  apps/web/components/kanban/swimlane-graph2-orphan-display.test.ts
  apps/web/components/kanban/swimlane-kanban-content.tsx
  apps/web/e2e/pages/mobile-kanban-page.ts
  apps/web/e2e/tests/kanban/auto-hide-empty-columns.spec.ts
  apps/web/e2e/tests/kanban/mobile-auto-hide-empty-columns.spec.ts
  apps/web/hooks/domains/kanban/use-kanban-drag-scroll-anchor.test.ts
  apps/web/hooks/domains/kanban/use-kanban-drag-scroll-anchor.ts
  apps/web/hooks/domains/kanban/use-shared-kanban-layout-props.ts
  apps/web/src/locales/zh-hk/kanban.json
  apps/web/src/locales/zh-tw/kanban.json
  docs/plans/kanban-auto-hide-empty-columns/plan.md
  docs/plans/kanban-auto-hide-empty-columns/task-01-persist-preference.md
  docs/plans/kanban-auto-hide-empty-columns/task-02-derived-visibility.md
  docs/plans/kanban-auto-hide-empty-columns/task-03-drag-targets.md
  docs/plans/kanban-auto-hide-empty-columns/task-04-e2e-docs.md
  docs/public/tasks-and-workflows.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: address auto-hide review feedback
  apps/backend/internal/user/service/service.go
  apps/backend/internal/user/service/service_test.go
  apps/web/components/kanban-card-content.tsx
  apps/web/components/kanban/adaptive-desktop-kanban.tsx
  apps/web/components/kanban/graph2-step-node.test.tsx
  apps/web/components/kanban/graph2-step-node.tsx
  apps/web/components/kanban/mobile-column-tabs.tsx
  apps/web/components/kanban/swimlane-kanban-content.tsx
  apps/web/e2e/tests/kanban/mobile-auto-hide-empty-columns.spec.ts
  docs/specs/INDEX.md
  docs/specs/kanban-auto-hide-empty-columns/spec.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: remove duplicate tooltip provider import
  apps/web/components/kanban/graph2-step-node.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(jira): review fixes for MCP client
  apps/backend/internal/jira/mcp_client.go
  apps/backend/internal/jira/service.go
Due: gofmt, go-tests, go-lint

fix(jira): resolve OAuth PR CI failures (formatting, i18n, lint, types)
  apps/backend/internal/jira/cloud_client.go
  apps/backend/internal/jira/handlers.go
  apps/backend/internal/jira/mcp_client.go
  apps/backend/internal/jira/models.go
  apps/backend/internal/jira/oauth.go
  apps/backend/internal/jira/service_oauth.go
  apps/backend/internal/jira/store.go
  apps/web/app/jira/jira-page-client.tsx
  apps/web/components/jira/jira-oauth-fields.tsx
  apps/web/components/jira/jira-secret-help.tsx
  apps/web/components/jira/jira-settings.tsx
  apps/web/lib/types/jira.ts
  apps/web/src/locales/en/jira.json
  apps/web/src/locales/pseudo/jira.json
  apps/web/src/locales/pt-pt/jira.json
  apps/web/src/locales/zh-cn/jira.json
  apps/web/src/locales/zh-hk/jira.json
  apps/web/src/locales/zh-tw/jira.json
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: reformat with prettier 3.8.1 (CI version)
  apps/web/components/jira/jira-settings.tsx
  apps/web/lib/types/jira.ts
  apps/web/src/locales/en/jira.json
  apps/web/src/locales/pt-pt/jira.json
  apps/web/src/locales/zh-cn/jira.json
  apps/web/src/locales/zh-hk/jira.json
  apps/web/src/locales/zh-tw/jira.json
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: format with prettier 3.8.1 on Linux (CI environment)
  apps/web/app/jira/jira-page-client.tsx
  apps/web/components/jira/jira-settings.tsx
  apps/web/lib/types/jira.ts
  apps/web/src/locales/en/jira.json
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: resolve all CI lint failures
  apps/backend/internal/jira/service.go
  apps/backend/internal/jira/service_oauth.go
  apps/backend/internal/jira/service_watch.go
  apps/web/app/jira/jira-page-client.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(jira): address code review feedback
  apps/backend/internal/jira/cloud_client.go
  apps/backend/internal/jira/handlers.go
  apps/backend/internal/jira/oauth.go
  apps/web/components/jira/jira-settings.tsx
  apps/web/src/locales/en/jira.json
  apps/web/src/locales/pt-pt/jira.json
  apps/web/src/locales/zh-cn/jira.json
  apps/web/src/locales/zh-hk/jira.json
  apps/web/src/locales/zh-tw/jira.json
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(jira): harden OAuth completion — auth binding, cloudId, init 401 refresh
  apps/backend/internal/jira/mcp_client.go
  apps/backend/internal/jira/oauth.go
Due: gofmt, go-tests, go-lint

fix: resolve golangci-lint and eslint violations
  apps/backend/internal/jira/cloud_client.go
  apps/backend/internal/jira/mcp_client.go
  apps/backend/internal/jira/oauth.go
  apps/web/components/jira/jira-settings.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(jira): extract jira-form-state to satisfy eslint file/complexity limits
  apps/web/components/jira/jira-form-state.ts
  apps/web/components/jira/jira-settings.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: normalize line endings to LF
  apps/backend/internal/jira/cloud_client.go
  apps/backend/internal/jira/handlers.go
  apps/backend/internal/jira/mcp_client.go
  apps/backend/internal/jira/models.go
  apps/backend/internal/jira/oauth.go
  apps/backend/internal/jira/service.go
  apps/backend/internal/jira/store.go
  apps/web/app/jira/jira-page-client.tsx
  apps/web/components/jira/jira-settings.tsx
  apps/web/lib/types/jira.ts
  apps/web/src/locales/en/jira.json
  apps/web/src/locales/pt-pt/jira.json
  apps/web/src/locales/zh-cn/jira.json
  apps/web/src/locales/zh-hk/jira.json
  apps/web/src/locales/zh-tw/jira.json
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat(jira): add OAuth 2.1 with PKCE via Atlassian MCP server
  apps/backend/internal/jira/cloud_client.go
  apps/backend/internal/jira/handlers.go
  apps/backend/internal/jira/mcp_client.go
  apps/backend/internal/jira/models.go
  apps/backend/internal/jira/oauth.go
  apps/backend/internal/jira/service.go
  apps/backend/internal/jira/store.go
  apps/web/components/jira/jira-settings.tsx
  apps/web/lib/types/jira.ts
  apps/web/src/locales/en/jira.json
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: gofmt + prettier formatting
  apps/backend/internal/jira/mcp_client.go
  apps/backend/internal/jira/oauth.go
  apps/backend/internal/jira/service.go
  apps/web/components/jira/jira-settings.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: address second round of code review
  apps/backend/internal/jira/service.go
  apps/web/components/jira/jira-settings.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(jira): address OAuth review — concurrency, workspace param, API boundary
  apps/backend/internal/jira/cloud_client.go
  apps/backend/internal/jira/handlers.go
  apps/backend/internal/jira/mcp_client.go
  apps/backend/internal/jira/oauth.go
  apps/backend/internal/jira/service.go
  apps/web/components/jira/jira-oauth-fields.tsx
  apps/web/components/jira/jira-settings.tsx
  apps/web/lib/api/domains/jira-api.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(jira): harden OAuth and issue watch flows
  apps/backend/internal/jira/copy.go
  apps/backend/internal/jira/copy_test.go
  apps/backend/internal/jira/handlers.go
  apps/backend/internal/jira/mcp_client.go
  apps/backend/internal/jira/mcp_client_test.go
  apps/backend/internal/jira/models.go
  apps/backend/internal/jira/oauth.go
  apps/backend/internal/jira/oauth_test.go
  apps/backend/internal/jira/scope_watch_test.go
  apps/backend/internal/jira/service_issue_watch_test.go
  apps/backend/internal/jira/service_watch.go
  apps/web/components/jira/jira-form-state.test.ts
  apps/web/components/jira/jira-form-state.ts
  apps/web/components/jira/jira-oauth-fields.test.tsx
  apps/web/components/jira/jira-oauth-fields.tsx
  apps/web/components/jira/jira-settings.tsx
  apps/web/components/jira/use-jira-oauth-connect.ts
  apps/web/e2e/pages/jira-settings-page.ts
  apps/web/e2e/tests/integrations/mobile-jira-oauth.spec.ts
  apps/web/src/locales/en/jira.json
  apps/web/src/locales/pseudo/jira.json
  apps/web/src/locales/pt-pt/jira.json
  apps/web/src/locales/zh-cn/jira.json
  apps/web/src/locales/zh-hk/jira.json
  apps/web/src/locales/zh-tw/jira.json
  docs/public/integrations.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: format kanban rebase conflict resolutions
  apps/web/components/kanban/adaptive-desktop-kanban.tsx
  apps/web/components/kanban/swimlane-container.tsx
  apps/web/components/kanban/swimlane-kanban-content.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address auto-hide review suggestions
  apps/web/components/kanban/columns-menu.tsx
  apps/web/components/kanban/mobile-column-tabs.tsx
  apps/web/components/kanban/swimlane-kanban-content.tsx
  apps/web/hooks/use-user-display-settings.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

chore: record rebased CI verification
  docs/plans/resumed-session-model-labels/plan.md
  docs/plans/resumed-session-model-labels/task-01-gate-startup-model-events.md
  docs/plans/resumed-session-model-labels/task-02-converge-session-model-labels.md
Due: none

feat(office): make task title and description editable
  apps/backend/internal/task/service/service_tasks_content_editing_test.go
  apps/web/app/office/tasks/[id]/page.test.tsx
  apps/web/app/office/tasks/[id]/page.tsx
  apps/web/components/task/simple/OfficeSimplePane.test.tsx
  apps/web/components/task/simple/OfficeSimplePane.tsx
  apps/web/components/task/simple/components/task-description-editable.test.tsx
  apps/web/components/task/simple/components/task-description-editable.tsx
  apps/web/components/task/simple/components/task-title-editable.test.tsx
  apps/web/components/task/simple/components/task-title-editable.tsx
  apps/web/e2e/tests/office/task-content-editing.spec.ts
  apps/web/hooks/use-office-refetch.test.ts
  apps/web/hooks/use-office-refetch.ts
  apps/web/hooks/use-optimistic-task-mutation-rollback-ordering.test.tsx
  apps/web/hooks/use-optimistic-task-mutation.test.tsx
  apps/web/hooks/use-optimistic-task-mutation.ts
  apps/web/lib/state/office-task-content-sync.test.ts
  apps/web/lib/state/office-task-content-sync.ts
  apps/web/lib/state/slices/office/office-refetch-trigger.test.ts
  apps/web/lib/state/slices/office/office-slice.ts
  apps/web/lib/state/slices/office/types.ts
  apps/web/lib/ws/handlers/office.test.ts
  apps/web/lib/ws/handlers/office.ts
  apps/web/src/locales/en/task.json
  apps/web/src/locales/pseudo/task.json
  apps/web/src/locales/pt-pt/task.json
  apps/web/src/locales/zh-cn/task.json
  apps/web/src/locales/zh-hk/task.json
  apps/web/src/locales/zh-tw/task.json
  docs/specs/office-task-content-editing/spec.md
  docs/specs/office/tasks.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(office): migrate use-task-quorum off the retired refetchTriggers map
  apps/web/hooks/domains/office/use-task-quorum.test.ts
  apps/web/hooks/domains/office/use-task-quorum.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(jira): close MCP sessions and persist OAuth rotations
  apps/backend/internal/jira/mcp_client.go
  apps/backend/internal/jira/mcp_client_test.go
  apps/backend/internal/jira/oauth.go
  apps/backend/internal/jira/oauth_test.go
Due: gofmt, go-tests, go-lint

docs: add kanban task executor cache staleness spec and plan
  docs/plans/kanban-task-executor-cache-staleness/plan.md
  docs/plans/kanban-task-executor-cache-staleness/task-01-preserve-helper-and-hydrator-fix.md
  docs/plans/kanban-task-executor-cache-staleness/task-02-snapshot-merge-fix.md
  docs/specs/INDEX.md
  docs/specs/kanban-task-executor-cache-staleness/spec.md
Due: none

fix(gitlab): scope MR automation UI per linked MR
  apps/web/components/gitlab/mr-automation-controls.automation.test.tsx
  apps/web/components/gitlab/mr-automation-controls.test.tsx
  apps/web/components/gitlab/mr-automation-controls.tsx
  apps/web/components/gitlab/mr-automation-rows.tsx
  apps/web/components/gitlab/mr-topbar-button.tsx
  apps/web/e2e/helpers/gitlab.ts
  apps/web/e2e/manual-seed-gitlab-mr-automation.ts
  apps/web/e2e/tests/gitlab/mobile-mr-automation-options.spec.ts
  apps/web/e2e/tests/gitlab/mr-automation-options.spec.ts
  apps/web/eslint.i18n.options.mjs
  apps/web/hooks/domains/gitlab/use-task-mr-automation.test.tsx
  apps/web/hooks/domains/gitlab/use-task-mr-automation.ts
  apps/web/lib/gitlab/mr-automation.ts
  apps/web/lib/state/slices/gitlab/gitlab-slice.test.ts
  apps/web/lib/types/gitlab.ts
  apps/web/lib/ws/handlers/gitlab.test.ts
  apps/web/src/locales/en/gitlab.json
  apps/web/src/locales/pseudo/gitlab.json
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(gitlab): tie per-MR automation rows to the MR's linked lifetime
  .gitignore
  apps/backend/internal/gitlab/service_mr_automation.go
  apps/backend/internal/gitlab/service_mr_automation_test.go
  apps/backend/internal/gitlab/store_mr_automation.go
  apps/backend/internal/gitlab/store_mr_automation_test.go
  apps/backend/internal/gitlab/store_task_mr_link.go
  apps/web/e2e/manual-seed-gitlab-mr-automation.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

docs(gitlab): document per-MR automation scoping
  docs/decisions/2026-08-01-gitlab-mr-lifecycle-notifications.md
  docs/public/integrations.md
  docs/public/sessions-and-review.md
  docs/specs/gitlab-integration/spec.md
Due: none

fix(gitlab): scope MR automation switches per linked MR
  apps/backend/internal/gitlab/controller_mr_automation.go
  apps/backend/internal/gitlab/controller_mr_automation_test.go
  apps/backend/internal/gitlab/models_mr_automation.go
  apps/backend/internal/gitlab/poller_lifecycle_test.go
  apps/backend/internal/gitlab/service_cleanup_mr_automation_test.go
  apps/backend/internal/gitlab/service_mr_automation.go
  apps/backend/internal/gitlab/service_mr_automation_test.go
  apps/backend/internal/gitlab/store.go
  apps/backend/internal/gitlab/store_e2e_reset_mr_automation_test.go
  apps/backend/internal/gitlab/store_mr_automation.go
  apps/backend/internal/gitlab/store_mr_automation_test.go
  apps/backend/internal/gitlab/store_mr_scope_migration_test.go
  apps/backend/internal/mcp/handlers/task_mr_automation.go
  apps/backend/internal/mcp/handlers/task_mr_automation_test.go
  apps/backend/internal/mcp/server/handlers.go
  apps/backend/internal/mcp/server/handlers_test.go
  apps/backend/internal/mcp/server/server.go
Due: gofmt, go-tests, go-lint

test(gitlab): cover per-MR automation gating at orchestrator and HTTP layers
  apps/backend/internal/gitlab/controller_mr_automation_test.go
  apps/backend/internal/orchestrator/event_handlers_gitlab_mr_automation_test.go
  apps/backend/internal/orchestrator/event_handlers_gitlab_mr_ci_automation_test.go
Due: gofmt, go-tests, go-lint

fix(gitlab): drop per-MR automation options on the second MR delete path
  apps/backend/internal/gitlab/store.go
  apps/backend/internal/gitlab/store_mr_automation_test.go
  docs/specs/gitlab-integration/spec.md
Due: gofmt, go-tests, go-lint

fix(gitlab): scope MR status chip automation badges per MR
  apps/web/components/gitlab/mr-status-chip-selection.test.ts
  apps/web/components/gitlab/mr-status-chip-selection.ts
  apps/web/components/gitlab/mr-status-chip.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test(gitlab): add MR options to chip fixtures
  apps/web/components/gitlab/mr-status-chip-selection.test.ts
  apps/web/components/gitlab/mr-status-chip.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(gitlab): harden MR automation updates
  apps/backend/internal/gitlab/controller_mr_automation.go
  apps/backend/internal/gitlab/controller_mr_automation_test.go
  apps/backend/internal/gitlab/models_mr_automation.go
  apps/backend/internal/gitlab/service_mr_automation.go
  apps/backend/internal/gitlab/service_mr_automation_test.go
  apps/backend/internal/gitlab/store_mr_automation.go
  apps/backend/internal/gitlab/store_mr_automation_test.go
  apps/backend/internal/gitlab/store_task_mr_link.go
  apps/backend/internal/mcp/server/handlers.go
  apps/backend/internal/mcp/server/handlers_test.go
  apps/web/e2e/manual-seed-gitlab-mr-automation.ts
  apps/web/hooks/domains/gitlab/use-task-mr-automation.test.tsx
  apps/web/lib/state/slices/gitlab/gitlab-slice.ts
  apps/web/lib/types/gitlab.ts
  apps/web/lib/ws/handlers/gitlab.test.ts
  apps/web/lib/ws/handlers/gitlab.ts
  apps/web/src/locales/pt-pt/gitlab.json
  apps/web/src/locales/zh-cn/gitlab.json
  apps/web/src/locales/zh-hk/gitlab.json
  apps/web/src/locales/zh-tw/gitlab.json
  docs/public/integrations.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

ci(e2e): use dwell() for the manual seed script's poll wait
  apps/web/e2e/manual-seed-gitlab-mr-automation.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(gitlab): use reader for MR option migration
  apps/backend/internal/gitlab/store_mr_automation.go
Due: gofmt, go-tests, go-lint

test(gitlab): cover per-MR chip badges with two linked MRs
  apps/web/e2e/tests/gitlab/mr-status-chip.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(gitlab): share MR automation request ordering across mounted instances
  apps/web/hooks/domains/gitlab/use-task-mr-automation.test.tsx
  apps/web/hooks/domains/gitlab/use-task-mr-automation.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
