Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

fix(tasks): restore ownership after partial cascade archive
  apps/backend/internal/task/service/handoff_cascade.go
  apps/backend/internal/task/service/handoff_cascade_test.go
Due: gofmt, go-tests, go-lint

feat: add native desktop download handling
  apps/desktop/e2e/desktop-launch-smoke.test.mjs
  apps/desktop/src-tauri/src/downloads.rs
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src-tauri/tauri.conf.json
  apps/web/app/office/agents/[id]/components/agent-memory-tab.tsx
  apps/web/app/office/workspace/org/org-chart-canvas.tsx
  apps/web/app/office/workspace/settings/export/export-preview.tsx
  apps/web/components/desktop-command-host.tsx
  apps/web/components/settings/system/log-viewer.test.tsx
  apps/web/components/settings/system/log-viewer.tsx
  apps/web/e2e/tests/system/mobile-logs-bundle.spec.ts
  apps/web/lib/desktop/download-feedback.test.ts
  apps/web/lib/desktop/download-feedback.ts
  apps/web/lib/desktop/protocol.ts
  apps/web/lib/utils/file-download.test.ts
  apps/web/lib/utils/file-download.ts
  apps/web/lib/utils/native-blob-download.ts
  apps/web/src/locales/en/settings.json
  apps/web/src/locales/ja/settings.json
  apps/web/src/locales/pseudo/settings.json
  apps/web/src/locales/pt-pt/settings.json
  apps/web/src/locales/zh-cn/settings.json
  apps/web/src/locales/zh-hk/settings.json
  apps/web/src/locales/zh-tw/settings.json
  docs/decisions/2026-09-25-native-desktop-downloads.md
  docs/plans/native-desktop-downloads/plan.md
  docs/plans/native-desktop-downloads/task-01-desktop-save-handler.md
  docs/plans/native-desktop-downloads/task-02-export-feedback.md
  docs/public/desktop-app.md
  docs/specs/desktop/requirements/native-downloads.md
  docs/specs/desktop/system-design/desktop-tauri-app.md
  docs/specs/desktop/system-design/native-downloads.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(tasks): reconcile partial cascade archive state
  apps/backend/internal/task/service/handoff_cascade.go
  apps/backend/internal/task/service/handoff_cascade_retention_partial_test.go
Due: gofmt, go-tests, go-lint

fix(tasks): guard retention updates against reparent races
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/terminal_retention_race_qa_test.go
  apps/backend/internal/task/repository/sqlite/task.go
  apps/backend/internal/task/service/service_tasks.go
Due: gofmt, go-tests, go-lint

fix: secure saved prompt references and recovery (#3922)
  apps/backend/internal/orchestrator/event_handlers_agent.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/task_create_prompt_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/workflow_entry_saved_prompt_test.go
  apps/backend/internal/prompts/handlers/handlers.go
  apps/backend/internal/prompts/handlers/handlers_test.go
  apps/backend/internal/prompts/handlers/prompt_org_scope_test.go
  docs/plans/workflow-entry-saved-prompts/plan.md
  docs/plans/workflow-entry-saved-prompts/task-01-preserve-expansion-context.md
  docs/public/authentication.md
  docs/public/developer-tools.md
  docs/specs/tasks/requirements/saved-prompt-delivery.md
  docs/specs/tasks/system-design/saved-prompt-delivery.md
Due: gofmt, go-tests, go-lint

feat: sort sidebar task trees by newest descendant activity
  apps/web/components/task/mobile/session-task-switcher-sheet-item.test.ts
  apps/web/components/task/mobile/session-task-switcher-sheet-item.ts
  apps/web/e2e/tests/task/mobile-sidebar-task-tree-activity-sort.spec.ts
  apps/web/e2e/tests/task/sidebar-task-tree-activity-sort-helpers.ts
  apps/web/e2e/tests/task/sidebar-task-tree-activity-sort.spec.ts
  apps/web/lib/sidebar/apply-view.test.ts
  apps/web/lib/sidebar/apply-view.ts
  apps/web/lib/sidebar/task-tree-activity.test.ts
  apps/web/lib/sidebar/task-tree-activity.ts
  docs/plans/sidebar-task-tree-activity-sort/plan.md
  docs/plans/sidebar-task-tree-activity-sort/task-01-sort-visible-task-trees.md
  docs/specs/ui/requirements/sidebar-last-activity-sort.md
  docs/specs/ui/system-design/sidebar-task-tree-activity-sort.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(github): reopen expired background reserve
  apps/backend/internal/github/rate_coordinator.go
  apps/backend/internal/github/service_rate_limit_test.go
Due: gofmt, go-tests, go-lint

fix: address native download review findings
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/src/downloads.rs
  apps/web/components/desktop-command-host.tsx
  apps/web/components/settings/system/log-viewer.test.tsx
  apps/web/components/settings/system/log-viewer.tsx
  apps/web/lib/desktop/download-feedback.test.ts
  apps/web/lib/desktop/download-feedback.ts
  apps/web/lib/desktop/download-ready.test.ts
  apps/web/lib/desktop/download-ready.ts
  apps/web/lib/desktop/external-links-usage.test.ts
  apps/web/lib/desktop/protocol.ts
  apps/web/lib/utils/file-download.test.ts
  apps/web/lib/utils/file-download.ts
  apps/web/lib/utils/native-blob-download.ts
  docs/plans/native-desktop-downloads/plan.md
  docs/plans/native-desktop-downloads/task-01-desktop-save-handler.md
  docs/plans/native-desktop-downloads/task-02-export-feedback.md
  docs/specs/desktop/system-design/native-downloads.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(tasks): preserve terminal retention across stale updates
  apps/backend/internal/orchestrator/terminal_retention_move_test.go
  apps/backend/internal/task/repository/sqlite/task.go
  apps/backend/internal/task/repository/sqlite/task_archive_retention_test.go
  apps/backend/internal/task/service/service_tasks.go
  apps/backend/internal/task/service/terminal_retention_stale_qa_test.go
  apps/backend/internal/task/service/terminal_retention_test.go
Due: gofmt, go-tests, go-lint

fix: reject malformed sidebar activity timestamps
  apps/web/lib/sidebar/task-tree-activity.test.ts
  apps/web/lib/sidebar/task-tree-activity.ts
  docs/plans/sidebar-task-tree-activity-sort/plan.md
  docs/plans/sidebar-task-tree-activity-sort/task-01-sort-visible-task-trees.md
  docs/specs/ui/system-design/sidebar-task-tree-activity-sort.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(github): sanitize rate snapshot reason
  apps/backend/internal/github/ratelimit.go
  apps/backend/internal/github/service_rate_limit_test.go
Due: gofmt, go-tests, go-lint

fix(workflowsync): sanitize provider failure details
  apps/backend/internal/workflowsync/failure.go
  apps/backend/internal/workflowsync/handlers.go
  apps/backend/internal/workflowsync/handlers_test.go
  apps/backend/internal/workflowsync/service.go
Due: gofmt, go-tests, go-lint

fix(tasks): authorize guarded retirement previews
  apps/backend/internal/task/handlers/task_exact_retirement_authz_test.go
  apps/backend/internal/task/handlers/task_exact_retirement_handlers_test.go
  apps/backend/internal/task/service/exact_retirement.go
  apps/backend/internal/task/service/exact_retirement_test.go
Due: gofmt, go-tests, go-lint

feat(tasks): add guarded retirement preview
  apps/backend/internal/task/handlers/task_exact_retirement_handlers.go
  apps/backend/internal/task/handlers/task_exact_retirement_handlers_test.go
  apps/backend/internal/task/handlers/task_handlers.go
  apps/backend/internal/task/handlers/task_http_handlers_test.go
  apps/backend/internal/task/service/exact_retirement.go
  apps/backend/internal/task/service/exact_retirement_test.go
  docs/decisions/2026-09-25-exact-task-retirement-boundary.md
  docs/plans/guarded-exact-task-retirement/plan.md
  docs/plans/guarded-exact-task-retirement/task-01-record-contract.md
  docs/plans/guarded-exact-task-retirement/task-02-read-only-preview.md
  docs/specs/tasks/README.md
  docs/specs/tasks/requirements/guarded-exact-task-retirement.md
  docs/specs/tasks/system-design/guarded-exact-task-retirement.md
Due: gofmt, go-tests, go-lint

fix(tasks): make terminal retention updates atomic
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/terminal_retention_race_qa_test.go
  apps/backend/internal/task/repository/sqlite/task.go
  apps/backend/internal/task/service/service_requests.go
  apps/backend/internal/task/service/service_tasks.go
Due: gofmt, go-tests, go-lint

release: publish 0.96.0
  CHANGELOG.md
  apps/cli/package.json
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier-format

fix(workflowsync): sanitize legacy failure details
  apps/backend/internal/workflowsync/failure.go
  apps/backend/internal/workflowsync/handlers_test.go
  apps/backend/internal/workflowsync/service.go
Due: gofmt, go-tests, go-lint

test: eliminate hosted e2e retry flakes
  apps/web/components/github/pr-status-chip.tsx
  apps/web/components/github/pr-topbar-button.tsx
  apps/web/e2e/tests/office/system-skills.spec.ts
  apps/web/e2e/tests/plugins/mobile-plugin-sidebar-workspace-actions.spec.ts
  apps/web/e2e/tests/task/file-tree-drag-drop.spec.ts
  apps/web/e2e/tests/terminal/terminal-hanging-on-boot.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: harden remote Docker cleanup and recovery
  apps/backend/internal/agent/runtime/lifecycle/remote_docker_dialer.go
  apps/backend/internal/agent/runtime/lifecycle/remote_docker_dialer_close_test.go
  apps/backend/internal/orchestrator/executor/session_coresidency_test.go
  apps/backend/internal/task/service/service_resources.go
  apps/backend/internal/task/service/service_resources_remote_docker_retained_test.go
  apps/web/components/settings/profile-edit/profile-runtime-sections.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(office): gate assignment wakes on workflow step auto-start eligibility
  apps/backend/internal/backendapp/main.go
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/step_complete_advances_test.go
  apps/backend/internal/office/onboarding/assignment_step_eligibility_test.go
  apps/backend/internal/office/onboarding/service.go
  apps/backend/internal/office/scheduler/assignment_rate_limit_inscope_producer_test.go
  apps/backend/internal/office/scheduler/reactivity.go
  apps/backend/internal/office/scheduler/reactivity_producer_key_audit_test.go
  apps/backend/internal/office/scheduler/reactivity_step_eligibility_test.go
  apps/backend/internal/office/service/assignment_step_eligibility_test.go
  apps/backend/internal/office/service/event_subscribers.go
  apps/backend/internal/office/service/scheduler_recovery.go
  apps/backend/internal/office/service/scheduler_recovery_step_eligibility_test.go
  apps/backend/internal/office/service/service.go
  apps/backend/internal/office/shared/assignment_eligibility.go
  docs/plans/office-assignment-step-eligibility/plan.md
  docs/plans/office-assignment-step-eligibility/task-01-assignment-wake-step-eligibility.md
  docs/specs/office/requirements/scheduler.md
  docs/specs/office/system-design/scheduler-01.md
  docs/specs/tasks/requirements/workflow-explicit-completion-signal.md
  docs/specs/tasks/system-design/workflow-explicit-completion-signal.md
Due: gofmt, go-tests, go-lint

fix(office): close legacy unlinked task_created routine runs
  apps/backend/internal/office/routines/legacy_gate_test.go
  apps/backend/internal/office/routines/service.go
  docs/plans/office-routine-legacy-gate/plan.md
  docs/plans/office-routine-legacy-gate/task-01-close-legacy-unlinked-routine-runs.md
  docs/specs/office/requirements/scheduler.md
  docs/specs/office/system-design/scheduler-01.md
Due: gofmt, go-tests, go-lint

fix(e2e): thread real task ids through terminal-hanging-on-boot navigation
  apps/web/e2e/tests/terminal/terminal-hanging-on-boot.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: harden remaining hosted e2e races
  apps/web/e2e/fixtures/ssh-test-base.ts
  apps/web/e2e/tests/chat/quick-chat.spec.ts
  apps/web/e2e/tests/git/mobile-symlink-identification.spec.ts
  apps/web/e2e/tests/gitlab/mr-status-chip.spec.ts
  apps/web/e2e/tests/office/routine-catch-up-policy-ui.spec.ts
  apps/web/e2e/tests/office/system-skills.spec.ts
  apps/web/e2e/tests/task/file-tree-create.spec.ts
  apps/web/e2e/tests/task/file-tree-drag-drop.spec.ts
  apps/web/e2e/tests/task/mobile-file-viewer.spec.ts
  apps/web/lib/review/navigation.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(office): close three deferred-assignment concurrency gaps from review
  apps/backend/internal/office/repository/sqlite/deferred_assignments.go
  apps/backend/internal/office/repository/sqlite/deferred_assignments_postgres_test.go
  apps/backend/internal/office/repository/sqlite/deferred_assignments_test.go
  apps/backend/internal/office/service/paused_assignment_replay.go
  apps/backend/internal/office/service/paused_assignment_replay_test.go
  apps/backend/internal/office/service/run.go
Due: gofmt, go-tests, go-lint

fix(office): replay task assignments deferred by a workspace pause
  apps/backend/internal/backendapp/main.go
  apps/backend/internal/office/models/deferred_assignment.go
  apps/backend/internal/office/models/enums.go
  apps/backend/internal/office/pause/service.go
  apps/backend/internal/office/repository/sqlite/base.go
  apps/backend/internal/office/repository/sqlite/deferred_assignments.go
  apps/backend/internal/office/repository/sqlite/tasks.go
  apps/backend/internal/office/repository/sqlite/workspace_deletion.go
  apps/backend/internal/office/repository/sqlite/workspace_deletion_test.go
  apps/backend/internal/office/scheduler/reactivity.go
  apps/backend/internal/office/scheduler/run.go
  apps/backend/internal/office/service/event_subscribers.go
  apps/backend/internal/office/service/paused_assignment_replay.go
  apps/backend/internal/office/service/paused_assignment_replay_test.go
  apps/backend/internal/office/service/run.go
  apps/backend/internal/office/service/run_causation_from_task_test.go
  apps/backend/internal/office/service/scheduler_recovery.go
  apps/backend/internal/office/service/test_helpers.go
  docs/plans/office-paused-assignment-replay/plan.md
  docs/plans/office-paused-assignment-replay/task-01-deferred-assignment-replay.md
  docs/specs/office/requirements/paused-assignment-replay.md
  docs/specs/office/system-design/workspace-kill-switch-02.md
Due: gofmt, go-tests, go-lint

test(office): cover deferred-assignment replay on Postgres and drop paths
  apps/backend/internal/office/repository/sqlite/deferred_assignments_postgres_test.go
  apps/backend/internal/office/service/paused_assignment_replay_test.go
Due: gofmt, go-tests, go-lint

fix: dismiss stale git push errors
  apps/backend/internal/task/handlers/message_handlers.go
  apps/backend/internal/task/handlers/message_handlers_git_push_dismissal_test.go
  apps/backend/internal/task/service/service_messages.go
  apps/backend/internal/task/service/service_messages_git_push_dismissal_test.go
  apps/backend/pkg/websocket/actions.go
  apps/web/components/task/chat/message-renderer.test.tsx
  apps/web/components/task/chat/message-renderer.tsx
  apps/web/components/task/chat/messages/action-message-actions.tsx
  apps/web/components/task/chat/messages/action-message.test.tsx
  apps/web/components/task/chat/messages/action-message.tsx
  apps/web/components/task/chat/messages/git-push-error-dismiss-button.tsx
  apps/web/e2e/tests/chat/git-push-error-dismissal.spec.ts
  apps/web/e2e/tests/chat/mobile-git-push-error-dismissal.spec.ts
  apps/web/hooks/processed-message-filtering.test.ts
  apps/web/hooks/processed-message-filtering.ts
  apps/web/lib/utils/git-push-error-message.ts
  docs/plans/git-push-error-dismissal/plan.md
  docs/plans/git-push-error-dismissal/task-01-message-scoped-dismissal.md
  docs/public/git-operations.md
  docs/specs/tasks/requirements/git-push-error-dismissal.md
  docs/specs/tasks/system-design/git-push-error-dismissal.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(e2e): restore waitForWorkspacePath import in mobile-file-viewer spec
  apps/web/e2e/tests/task/mobile-file-viewer.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: fix hosted e2e regressions
  apps/web/e2e/tests/chat/rich-output.spec.ts
  apps/web/e2e/tests/task/mobile-file-viewer.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: remove duplicate e2e import
  apps/web/e2e/tests/task/mobile-file-viewer.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(office): skip activity log when deferred-assignment guard no-ops
  apps/backend/internal/office/repository/sqlite/deferred_assignments.go
  apps/backend/internal/office/repository/sqlite/deferred_assignments_postgres_test.go
  apps/backend/internal/office/repository/sqlite/deferred_assignments_test.go
  apps/backend/internal/office/service/paused_assignment_replay.go
Due: gofmt, go-tests, go-lint

test(desktop): make recovery smoke activation deterministic
  apps/desktop/e2e/desktop-launch-smoke.mjs
  apps/desktop/e2e/x11-window-input.c
Due: none

docs: record final plugin action CI status
  docs/plans/plugin-action-ux/plan.md
Due: none

fix: stabilize retry-prone E2E scenarios
  apps/web/components/github/pr-status-chip.tsx
  apps/web/e2e/tests/chat/markdown-preview.spec.ts
  apps/web/e2e/tests/cli-mode/mobile-passthrough-composer.spec.ts
  apps/web/e2e/tests/layout/mobile-menu-hierarchy.spec.ts
  apps/web/e2e/tests/layout/pane-resize-right.spec.ts
  apps/web/e2e/tests/office/run-observation.spec.ts
  apps/web/e2e/tests/preview/preview-feedback-helpers.ts
  apps/web/e2e/tests/preview/preview-feedback.spec.ts
  apps/web/e2e/tests/task/large-file-tree-virtualization.spec.ts
  apps/web/e2e/tests/workflow/mobile-workflow-move-preview.spec.ts
  apps/web/e2e/tests/workflow/workflow-agent-switch.spec.ts
  apps/web/hooks/domains/kanban/use-workflow-move-preview.test.ts
  apps/web/hooks/domains/kanban/use-workflow-move-preview.ts
  docs/plans/jira-default-view/plan.md
  docs/plans/jira-default-view/task-03-jira-default-controls.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test: eliminate hosted e2e retry flakes
  apps/backend/internal/office/onboarding/service.go
  apps/backend/internal/office/onboarding/service_test.go
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/tests/chat/quick-chat.spec.ts
  apps/web/e2e/tests/layout/control-sizing.spec.ts
  apps/web/e2e/tests/office/system-skills.spec.ts
  apps/web/e2e/tests/task/file-tree-create.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(docs): satisfy pr-docs frontmatter schema for ISSUE-5 work order
  docs/plans/office-assignment-step-eligibility/plan.md
  docs/plans/office-assignment-step-eligibility/task-01-assignment-wake-step-eligibility.md
Due: none

test(office): assert exact gate status in legacy lightweight test
  apps/backend/internal/office/routines/legacy_gate_test.go
Due: gofmt, go-tests, go-lint

test(agentctl): close F-R5/F-R6/F-R7 orphan-probe coverage gaps
  apps/backend/internal/agentctl/server/process/probe/probe_orphan_test.go
  apps/backend/internal/agentctl/server/process/probe/processtable_linux_test.go
Due: gofmt, go-tests, go-lint

test(office): pin agent model field as inert to tier routing (ISSUE-9)
  apps/backend/internal/office/AGENTS.md
  apps/backend/internal/office/routing/agent_model_ignored_test.go
  docs/specs/office/requirements/office-agent-tier-routing.md
Due: gofmt, go-tests, go-lint

docs(office): scope ISSUE-9 model decision to routed launches
  docs/specs/office/requirements/office-agent-tier-routing.md
Due: none
