Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

test: scope plan comment delivery assertion to user message
  apps/web/e2e/tests/task/comment-run-not-queued.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: plan cancel control availability fix (#3700)
  docs/plans/cancel-turn-availability/plan.md
  docs/plans/cancel-turn-availability/task-01-composer-availability.md
  docs/plans/cancel-turn-availability/task-02-quick-chat-palette.md
  docs/specs/ui/requirements/cancel-turn-progress.md
  docs/specs/ui/system-design/cancel-turn-availability.md
Due: none

fix(alertsource): scope reservation mutations by ID
  apps/backend/internal/integrations/alertsource/store.go
  apps/backend/internal/integrations/alertsource/store_postgres_test.go
  apps/backend/internal/integrations/alertsource/store_test.go
  docs/plans/alert-ingest/task-06-registry-ingest-and-http.md
  docs/plans/alert-ingest/task-07-source-settings-ui.md
Due: gofmt, go-tests, go-lint

fix(automation): harden webhook secret lifecycle
  apps/backend/internal/automation/plugin_webhook_regression_test.go
  apps/backend/internal/automation/plugin_webhook_store.go
  apps/backend/internal/automation/plugin_webhook_test.go
  apps/backend/internal/automation/plugin_webhook_worker.go
  apps/backend/internal/automation/store.go
  apps/backend/internal/secrets/user_visible_store.go
  apps/backend/internal/secrets/user_visible_store_test.go
Due: gofmt, go-tests, go-lint

fix(settings): refresh generated catalog snapshots
  apps/web/lib/settings-discovery/contract.generated.json
  apps/web/lib/settings-discovery/profile-contract.generated.json
Due: prettier-format

docs: align Inbox refresh acceptance text
  docs/plans/needs-you-inbox/task-03-fix-background-refresh-loading-state.md
Due: none

fix(web): align webhook binding test with API shape
  apps/web/hooks/use-plugin-webhook-controls.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): harden failed inbox state and mobile layout
  apps/web/app/needs-you-inbox/needs-you-inbox-page-client.tsx
  apps/web/components/needs-you-inbox/failed-inbox-row.tsx
  apps/web/components/needs-you-inbox/inbox-tab-strip.test.tsx
  apps/web/components/needs-you-inbox/inbox-tab-strip.tsx
  apps/web/e2e/tests/chat/mobile-inbox-failed-tab.spec.ts
  apps/web/lib/state/default-state.test.ts
  apps/web/lib/state/default-state.ts
  apps/web/lib/state/slices/failed-inbox/failed-inbox-slice.test.ts
  apps/web/lib/state/slices/failed-inbox/failed-inbox-slice.ts
  apps/web/lib/state/slices/failed-inbox/types.ts
  apps/web/lib/ws/handlers/workspaces.test.ts
  apps/web/lib/ws/handlers/workspaces.ts
  docs/public/configuration.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(orchestrator): preserve completion follow-ups
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/event_handlers_workflow_profile_test.go
  apps/backend/internal/orchestrator/task_operations.go
Due: gofmt, go-tests, go-lint

fix(kanban): remove mobile task dragging
  apps/web/components/kanban-card-content.tsx
  apps/web/components/kanban-card-regression.test.tsx
  apps/web/components/kanban-card.tsx
  apps/web/components/kanban/mobile-drop-targets.tsx
  apps/web/components/kanban/swimlane-kanban-content.tsx
  apps/web/e2e/tests/kanban/mobile-auto-hide-empty-columns.spec.ts
  apps/web/e2e/tests/kanban/mobile-kanban-reorder.spec.ts
  apps/web/eslint.i18n.options.mjs
  docs/plans/kanban-auto-hide-empty-columns/plan.md
  docs/plans/kanban-auto-hide-empty-columns/task-03-drag-targets.md
  docs/plans/kanban-task-reordering/plan.md
  docs/plans/kanban-task-reordering/task-01-implement-kanban-task-reordering.md
  docs/plans/remove-mobile-kanban-drag/plan.md
  docs/plans/remove-mobile-kanban-drag/task-01-remove-phone-drag.md
  docs/public/workflow-tips.md
  docs/specs/tasks/requirements/kanban-task-reordering.md
  docs/specs/tasks/requirements/mobile-kanban-scroll.md
  docs/specs/tasks/system-design/kanban-task-reordering.md
  docs/specs/tasks/system-design/mobile-kanban-scroll.md
  docs/specs/ui/requirements/kanban-auto-hide-empty-columns.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: protect queued FIFO dispatch admission
  apps/backend/internal/orchestrator/event_handlers_clarification_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow_prompt_claim_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow_reset_quiescence_test.go
  apps/backend/internal/orchestrator/queue_send_now.go
  apps/backend/internal/orchestrator/queue_send_now_predispatch_test.go
  apps/backend/internal/orchestrator/queue_send_now_test.go
  apps/backend/internal/orchestrator/queued_dispatch.go
  apps/backend/internal/orchestrator/route_action_serialization_test.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/tests/chat/message-queue-workflow-helpers.ts
  apps/web/e2e/tests/chat/message-queue.spec.ts
  apps/web/e2e/tests/chat/mobile-message-queue-management.spec.ts
  apps/web/lib/api/domains/queue-api.test.ts
  docs/plans/message-queue-send-now/plan.md
  docs/plans/queue-send-now-live-fifo/plan.md
  docs/plans/queue-send-now-live-fifo/task-01-live-fifo.md
  docs/plans/queue-send-now-live-fifo/task-02-client-verification.md
  docs/public/coordination.md
  docs/public/sessions-and-review.md
  docs/specs/ui/requirements/message-queue-send-now.md
  docs/specs/ui/system-design/message-queue-send-now.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

docs(plans): record workflow preview race verification
  docs/plans/workflow-move-preview/plan.md
  docs/plans/workflow-move-preview/task-01-move-decision-api.md
Due: none

docs(kanban): reconcile phone scrolling contracts
  docs/plans/remove-mobile-kanban-drag/task-01-remove-phone-drag.md
  docs/specs/ui/requirements/adaptive-kanban.md
  docs/specs/ui/requirements/kanban-auto-hide-empty-columns.md
  docs/specs/ui/system-design/adaptive-kanban.md
Due: none

fix(orchestrator): preserve session ceiling launch ownership
  apps/backend/internal/orchestrator/ceiling_defer.go
  apps/backend/internal/orchestrator/ceiling_defer_test.go
  apps/backend/internal/orchestrator/ceiling_dynamic_launch_release_test.go
  apps/backend/internal/orchestrator/ceiling_release.go
  apps/backend/internal/orchestrator/ceiling_replay.go
  apps/backend/internal/orchestrator/ceiling_replay_test.go
  apps/backend/internal/orchestrator/ceiling_seam5_integration_test.go
  apps/backend/internal/orchestrator/dynamic_launch.go
  apps/backend/internal/orchestrator/ensure_session_running_cold_resume_test.go
  apps/backend/internal/orchestrator/event_handlers_agent.go
  apps/backend/internal/orchestrator/event_handlers_queue_round64_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/task/service/service_deferred_launch.go
  apps/backend/internal/task/service/service_deferred_launch_test.go
  docs/plans/session-concurrency-ceiling/plan.md
  docs/plans/session-concurrency-ceiling/task-01-session-concurrency-ceiling.md
  docs/specs/agents/requirements/session-concurrency-ceiling.md
  docs/specs/agents/system-design/session-concurrency-ceiling.md
Due: gofmt, go-tests, go-lint

test(kanban): classify hold as a negative assertion
  apps/web/e2e/tests/kanban/mobile-kanban-reorder.spec.ts
  docs/plans/remove-mobile-kanban-drag/task-01-remove-phone-drag.md
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(kanban): keep follow-up in current work order
  docs/plans/kanban-auto-hide-empty-columns/task-03-drag-targets.md
  docs/plans/remove-mobile-kanban-drag/task-01-remove-phone-drag.md
Due: none

fix: close queued dispatch admission races
  apps/backend/internal/orchestrator/prompt_dispatch_identity_test.go
  apps/backend/internal/orchestrator/queue_send_now_predispatch_test.go
  apps/backend/internal/orchestrator/queue_send_now_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/web/e2e/tests/chat/message-queue-workflow-helpers.ts
  docs/plans/queue-send-now-live-fifo/plan.md
  docs/plans/queue-send-now-live-fifo/task-01-live-fifo.md
  docs/plans/queue-send-now-live-fifo/task-02-client-verification.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(kubernetes): preserve retained workspace on failed resume
  apps/backend/internal/agent/runtime/lifecycle/bootstrap_failure.go
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction.go
  apps/backend/internal/agent/runtime/lifecycle/manager_kubernetes_resume_bootstrap_cleanup_test.go
  apps/backend/internal/agent/runtime/lifecycle/session.go
  apps/backend/internal/agent/runtime/lifecycle/session_load_failure_test.go
  apps/backend/internal/agent/runtime/lifecycle/session_missing_rollout_test.go
  apps/backend/internal/orchestrator/executor/executor_execute.go
  apps/backend/internal/orchestrator/executor/executor_test.go
Due: gofmt, go-tests, go-lint

fix: keep transient retry banners to one notice
  apps/backend/internal/orchestrator/event_handlers_transient.go
  apps/backend/internal/orchestrator/event_handlers_transient_resolution_test.go
  apps/backend/internal/orchestrator/event_handlers_transient_state_test.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/web/e2e/helpers/transient-retry.ts
  apps/web/e2e/tests/session/mobile-transient-retry.spec.ts
  apps/web/e2e/tests/session/transient-retry.spec.ts
  apps/web/lib/ws/handlers/messages.test.ts
  docs/plans/single-capacity-retry-banner/plan.md
  docs/plans/single-capacity-retry-banner/task-01-update-one-retry-notice.md
  docs/specs/platform/requirements/provider-error-recovery.md
  docs/specs/platform/system-design/provider-error-recovery.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: restore cancel controls during active turns
  apps/web/components/command-panel-results.tsx
  apps/web/components/quick-chat/quick-chat-cancel-commands.test.tsx
  apps/web/components/quick-chat/quick-chat-cancel-commands.tsx
  apps/web/components/quick-chat/quick-chat-content.tsx
  apps/web/components/session-commands.test.tsx
  apps/web/components/session-commands.tsx
  apps/web/components/task/chat/chat-input-body.test.tsx
  apps/web/components/task/chat/chat-input-container.test.tsx
  apps/web/components/task/chat/chat-input-container.tsx
  apps/web/components/task/chat/chat-input-toolbar-primitives.tsx
  apps/web/components/task/chat/chat-input-toolbar.test.tsx
  apps/web/components/task/chat/stopped-banner-props.test.ts
  apps/web/components/task/chat/use-composer-props.test.tsx
  apps/web/components/task/chat/use-composer-props.ts
  apps/web/components/task/passthrough-chat-composer.tsx
  apps/web/components/task/passthrough-toolbar.test.tsx
  apps/web/e2e/helpers/session-store.ts
  apps/web/e2e/helpers/type-while-busy.ts
  apps/web/e2e/tests/chat/cancel-turn-availability.spec.ts
  apps/web/e2e/tests/chat/mobile-cancel-turn-availability.spec.ts
  apps/web/e2e/tests/chat/mobile-quick-chat-cancel-palette.spec.ts
  apps/web/e2e/tests/chat/quick-chat-cancel-palette.spec.ts
  docs/plans/cancel-turn-availability/plan.md
  docs/plans/cancel-turn-availability/task-01-composer-availability.md
  docs/plans/cancel-turn-availability/task-02-quick-chat-palette.md
  docs/specs/ui/system-design/cancel-turn-availability.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): format agent save helper test
  apps/web/app/settings/agents/[agentId]/agent-save-helpers.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: drain queued frames before credential close assertion
  apps/backend/internal/agentctl/server/api/credential_rotation_stream_test.go
Due: gofmt, go-tests, go-lint

fix(agentctl): tolerate queued frames before fencing close
  apps/backend/internal/agentctl/server/api/credential_rotation_stream_test.go
Due: gofmt, go-tests, go-lint

fix(kubernetes): stop agent before retaining failed resume
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction.go
  apps/backend/internal/agent/runtime/lifecycle/manager_kubernetes_resume_bootstrap_cleanup_test.go
Due: gofmt, go-tests, go-lint

chore: format retry notice test
  apps/backend/internal/orchestrator/dynamic_evidence.go
  apps/backend/internal/orchestrator/event_handlers_transient.go
  apps/backend/internal/orchestrator/event_handlers_transient_ordering_test.go
  apps/backend/internal/orchestrator/event_handlers_transient_resolution_test.go
  apps/backend/internal/orchestrator/event_handlers_transient_state_test.go
  apps/backend/internal/orchestrator/task_launch_failure_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/web/lib/state/slices/session/session-slice.ts
  apps/web/lib/state/slices/session/session-slice.update-messages.test.ts
  docs/plans/single-capacity-retry-banner/plan.md
  docs/plans/single-capacity-retry-banner/task-01-update-one-retry-notice.md
  docs/specs/platform/system-design/provider-error-recovery.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test: model clarification dispatch acceptance boundary
  apps/backend/internal/orchestrator/task_operations_test.go
Due: gofmt, go-tests, go-lint

fix: harden cancel control review paths
  apps/web/components/grid-spinner.tsx
  apps/web/components/quick-chat/quick-chat-cancel-commands.test.tsx
  apps/web/components/quick-chat/quick-chat-cancel-commands.tsx
  apps/web/components/task/chat/chat-input-area.test.tsx
  apps/web/components/task/chat/chat-input-area.tsx
  apps/web/components/task/chat/chat-input-body.test.tsx
  apps/web/components/task/chat/chat-input-container.tsx
  apps/web/components/task/chat/chat-input-toolbar-primitives.tsx
  apps/web/components/task/chat/chat-input-toolbar.test.tsx
  apps/web/components/task/chat/types.ts
  apps/web/components/task/passthrough-toolbar.test.tsx
  apps/web/e2e/helpers/session-store.ts
  apps/web/e2e/helpers/type-while-busy.ts
  apps/web/e2e/tests/chat/cancel-turn-availability.spec.ts
  docs/plans/cancel-turn-availability/plan.md
  docs/plans/cancel-turn-availability/task-01-composer-availability.md
  docs/plans/cancel-turn-availability/task-02-quick-chat-palette.md
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: improve PR walkthrough impact summaries
  .agents/skills/pr-walkthrough/SKILL.md
  .agents/skills/pr-walkthrough/references/build.py
  .agents/skills/pr-walkthrough/references/example.json
  .agents/skills/pr-walkthrough/references/impact.md
  .agents/skills/pr-walkthrough/references/shell.html
  .agents/skills/pr-walkthrough/references/test_browser.cjs
  .agents/skills/pr-walkthrough/references/test_build.py
Due: none

fix: assert underlying task cancellation remains enabled
  apps/web/e2e/tests/chat/quick-chat-cancel-palette.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: record cancel review fixup results
  docs/plans/cancel-turn-availability/plan.md
  docs/plans/cancel-turn-availability/task-02-quick-chat-palette.md
Due: none

docs: clarify cancel delivery CI status
  docs/plans/cancel-turn-availability/plan.md
Due: none

fix(e2e): verify persisted review status after reload
  apps/web/e2e/tests/review/code-review-on-demand.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: enforce walkthrough impact evidence
  .agents/skills/pr-walkthrough/references/build.py
  .agents/skills/pr-walkthrough/references/test_browser.cjs
  .agents/skills/pr-walkthrough/references/test_build.py
  .agents/skills/pr-walkthrough/scripts/pr-walkthrough-render
  .agents/skills/pr-walkthrough/scripts/pr-walkthrough-render.test.py
Due: none

test(agents): make strict recovery fixtures explicit
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_workspace_sources_test.go
Due: gofmt, go-tests, go-lint

test: stabilize cancel progress e2e checks
  apps/web/e2e/tests/chat/cancel-progress-task-switch.spec.ts
  apps/web/e2e/tests/chat/mobile-cancel-progress-reload.spec.ts
  apps/web/e2e/tests/session/session-resume-cli-fallback.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(settings): address PR review findings
  apps/web/components/settings/settings-tabs.test.tsx
  apps/web/components/settings/settings-tabs.tsx
  apps/web/components/settings/system/data-logs-settings.tsx
  apps/web/components/settings/system/retention-settings-card.test.tsx
  apps/web/components/settings/system/retention-settings-card.tsx
  apps/web/components/settings/system/retention-status-card.tsx
  apps/web/e2e/tests/system/settings-header-tabs.spec.ts
  apps/web/hooks/domains/settings/use-settings-tab.ts
  apps/web/src/locales/en/system.json
  apps/web/src/locales/pseudo/system.json
  apps/web/src/locales/pt-pt/system.json
  apps/web/src/locales/zh-cn/system.json
  apps/web/src/locales/zh-hk/system.json
  apps/web/src/locales/zh-tw/system.json
  apps/web/src/settings-route-helpers.test.ts
  apps/web/src/settings-route-helpers.tsx
  docs/decisions/2026-09-15-settings-header-tabs.md
  docs/plans/run-history-retention/plan.md
  docs/plans/run-history-retention/task-01-bound-run-history-with-retention-sweep.md
  docs/plans/settings-storage-tabs/plan.md
  docs/plans/settings-storage-tabs/task-01-shared-header-tabs.md
  docs/plans/tool-payload-retention/plan.md
  docs/specs/office/system-design/run-history-retention-operations.md
  docs/specs/system-page/system-design/system-data-storage-pages.md
  docs/specs/system-page/system-design/tool-payload-retention.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(settings): preserve retention repair and tab navigation
  apps/web/components/settings/system/retention-settings-card.test.tsx
  apps/web/components/settings/system/retention-settings-card.tsx
  apps/web/e2e/tests/system/settings-header-tabs.spec.ts
  apps/web/hooks/domains/settings/use-settings-tab.ts
Due: prettier-format, web-lint, web-tests, web-typecheck
