Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

fix(plugins): fence overlapping plugin loads by generation so the newest wins
  apps/web/lib/plugins/duplicate-render.test.tsx
  apps/web/lib/plugins/host.test.ts
  apps/web/lib/plugins/host.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(plugins): make plugin reload idempotent so re-boot never duplicates slots
  apps/web/lib/plugins/duplicate-render.test.tsx
  apps/web/lib/plugins/host.test.ts
  apps/web/lib/plugins/host.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(agents): address launcher hardening review
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction.go
  apps/backend/internal/backendapp/httpserver_test.go
  apps/backend/internal/backendapp/main.go
  apps/web/e2e/tests/settings/mobile-agent-profile-config-selector.spec.ts
  apps/web/lib/api/client.test.ts
  docs/specs/office/agents.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(auth): add json tags to auth store models — omit digests, fix token UI
  .gitignore
  apps/backend/internal/auth/store/models.go
  apps/backend/internal/auth/store/store_test.go
  apps/web/e2e/tests/auth/auth-screenshots.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(plugins): fence registry generically so new register* methods aren't dropped
  apps/web/lib/plugins/duplicate-render.test.tsx
  apps/web/lib/plugins/host.test.ts
  apps/web/lib/plugins/host.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(web): move auth enable into feature toggles; show current user in sidebar
  apps/web/components/app-sidebar/app-sidebar-footer.test.tsx
  apps/web/components/app-sidebar/app-sidebar-footer.tsx
  apps/web/components/app-sidebar/current-user-chip.tsx
  apps/web/components/app-sidebar/sections/settings/system-group.tsx
  apps/web/components/settings/system/authentication-settings.tsx
  apps/web/lib/api/domains/auth-api.test.ts
  apps/web/lib/api/domains/auth-api.ts
  apps/web/lib/state/slices/auth/auth-slice.test.ts
  apps/web/lib/state/slices/auth/types.ts
  apps/web/src/settings-routes.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor(auth): make features.auth the single on/off control
  apps/backend/AGENTS.md
  apps/backend/internal/auth/httpapi/handlers.go
  apps/backend/internal/auth/httpapi/handlers_admin.go
  apps/backend/internal/auth/httpapi/handlers_test.go
  apps/backend/internal/auth/httpmw/middleware_test.go
  apps/backend/internal/auth/service.go
  apps/backend/internal/auth/service_setup.go
  apps/backend/internal/auth/service_test.go
  apps/backend/internal/auth/state.go
  apps/backend/internal/backendapp/auth.go
  apps/backend/internal/common/config/config.go
  apps/backend/internal/profiles/profiles.yaml
  apps/backend/internal/profiles/profiles_test.go
  apps/backend/internal/runtimeflags/registry.go
  apps/web/e2e/tests/auth/auth-lifecycle.spec.ts
  apps/web/e2e/tests/auth/auth-screenshots.spec.ts
  docs/decisions/2026-07-24-opt-in-authentication.md
  docs/public/authentication.md
  docs/public/run-as-a-service.md
  docs/specs/auth/spec.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(deps): resolve open high-severity Dependabot advisories
  apps/backend/go.mod
  apps/backend/go.sum
  apps/package.json
  apps/pnpm-lock.yaml
Due: none

test(e2e): use normalized agent profile fields
  apps/web/e2e/tests/settings/agent-profile-cli-flags.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(auth): complete cross-user isolation — integrations, automation, plan/walkthrough, session reads
  apps/backend/internal/automation/service.go
  apps/backend/internal/automation/service_test.go
  apps/backend/internal/automation/store.go
  apps/backend/internal/backendapp/helpers.go
  apps/backend/internal/backendapp/integration_scope_test.go
  apps/backend/internal/backendapp/main.go
  apps/backend/internal/backendapp/services.go
  apps/backend/internal/task/handlers/task_context_handler.go
  apps/backend/internal/task/handlers/task_git_handlers.go
  apps/backend/internal/task/handlers/task_http_handlers.go
  apps/backend/internal/task/service/plan_service.go
  apps/backend/internal/task/service/service_access_test.go
  apps/backend/internal/task/service/walkthrough_service.go
  apps/web/e2e/tests/auth/auth-lifecycle.spec.ts
  docs/public/authentication.md
  docs/specs/auth/spec.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat: move subtask action to task context menu
  apps/web/components/app-sidebar/app-sidebar-new-task-item.test.tsx
  apps/web/components/app-sidebar/app-sidebar-new-task-item.tsx
  apps/web/components/task/mobile/session-task-switcher-sheet.tsx
  apps/web/components/task/task-session-sidebar-dialogs.tsx
  apps/web/components/task/task-session-sidebar-switcher-props.ts
  apps/web/components/task/task-session-sidebar.tsx
  apps/web/components/task/task-switcher-action-items.tsx
  apps/web/components/task/task-switcher-context-menu.tsx
  apps/web/components/task/task-switcher.test.tsx
  apps/web/components/task/task-switcher.tsx
  apps/web/e2e/pages/session-page.ts
  apps/web/e2e/tests/task/dialog-long-text-overflow.spec.ts
  apps/web/e2e/tests/task/mobile-sidebar-task-actions.spec.ts
  apps/web/e2e/tests/task/sidebar-layout.spec.ts
  apps/web/e2e/tests/task/subtask.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): normalize profile display names
  apps/web/e2e/tests/task/create-task.spec.ts
  apps/web/e2e/tests/workflow/workflow-agent-profile.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): warn when browser image paste lacks file data
  apps/web/components/task/chat/chat-input-body.tsx
  apps/web/components/task/chat/tiptap-helpers.test.ts
  apps/web/components/task/chat/tiptap-helpers.ts
  apps/web/components/task/chat/tiptap-input.tsx
  apps/web/components/task/chat/use-attachment-file-feedback.ts
  apps/web/components/task/chat/use-chat-input-state.test.ts
  apps/web/components/task/chat/use-chat-input-state.ts
  apps/web/components/task/chat/use-tiptap-editor.ts
  apps/web/e2e/tests/chat/attachment-paste-warning.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): preserve chat focus when restoring task layout
  apps/web/components/task/dockview-session-tabs.test.ts
  apps/web/components/task/dockview-session-tabs.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: resolve subtask defaults from selected parent
  apps/web/components/task/new-subtask-dialog-context.test.ts
  apps/web/components/task/new-subtask-dialog.tsx
  apps/web/e2e/tests/task/mobile-sidebar-task-actions.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: handle repository-less subtask parents
  apps/web/components/task/new-subtask-dialog-context.test.ts
  apps/web/components/task/new-subtask-dialog.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: notify user when a kandev update is detected
  apps/backend/internal/backendapp/main.go
  apps/backend/internal/persistence/meta.go
  apps/backend/internal/persistence/meta_test.go
  apps/backend/internal/persistence/postgres_meta_test.go
  apps/backend/internal/system/system.go
  apps/backend/internal/system/updates/handler.go
  apps/backend/internal/system/updates/handler_notify_test.go
  apps/backend/internal/system/updates/notify_dispatch_test.go
  apps/backend/internal/system/updates/notify_settings.go
  apps/backend/internal/system/updates/notify_settings_test.go
  apps/backend/internal/system/updates/notify_store.go
  apps/backend/internal/system/updates/notify_store_test.go
  apps/backend/internal/system/updates/service.go
  apps/backend/pkg/websocket/actions.go
  apps/desktop/src-tauri/src/native_notifications.rs
  apps/web/components/settings/system/update-notifications-card.test.tsx
  apps/web/components/settings/system/update-notifications-card.tsx
  apps/web/components/update-available-toast-bridge.tsx
  apps/web/e2e/tests/system/update-notifications-settings.spec.ts
  apps/web/hooks/use-update-available-toast.test.ts
  apps/web/hooks/use-update-available-toast.ts
  apps/web/lib/api/domains/system-api.ts
  apps/web/lib/desktop/native-notification-client.ts
  apps/web/lib/state/slices/system/system-slice.ts
  apps/web/lib/state/slices/system/types.ts
  apps/web/lib/state/slices/ui/types.ts
  apps/web/lib/state/slices/ui/ui-slice.ts
  apps/web/lib/state/store.ts
  apps/web/lib/types/backend.ts
  apps/web/lib/types/system.ts
  apps/web/lib/ws/handlers/system-events.test.ts
  apps/web/lib/ws/handlers/system-events.ts
  apps/web/src/app-shell.tsx
  apps/web/src/settings-routes.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

docs: document the update notification channel setting
  docs/public/operations.md
Due: none

fix(web): refresh CI summary when popover opens
  apps/web/components/github/multi-pr-ci-popover.tsx
  apps/web/components/github/pr-ci-popover.tsx
  apps/web/components/github/pr-status-chip.test.tsx
  apps/web/components/github/pr-status-chip.tsx
  apps/web/components/github/pr-topbar-button.tsx
  apps/web/hooks/domains/github/use-pr-ci-popover.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(web): polish mobile status drawer
  apps/web/components/app-status-bar/app-status-drawer.tsx
  apps/web/components/app-status-bar/connection-status-item.tsx
  apps/web/components/system-metrics/status-surface-metrics.tsx
  apps/web/e2e/tests/plugins/mobile-status-drawer.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): warn about oversized new task attachments
  apps/web/components/task-create-dialog-selectors.test.tsx
  apps/web/components/task-create-dialog-selectors.tsx
  apps/web/components/task/chat/chat-input-body.tsx
  apps/web/components/task/chat/clipboard-attachments.ts
  apps/web/components/task/chat/tiptap-helpers.ts
  apps/web/components/task/chat/tiptap-input.tsx
  apps/web/components/task/chat/use-chat-input-state.ts
  apps/web/components/task/chat/use-tiptap-editor.ts
  apps/web/e2e/tests/task/create-task-attachment-warning.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

chore(web): regenerate license manifest after dependency bumps
  apps/web/generated/licenses.json
Due: prettier-format

fix(deps): resolve low and medium Dependabot alerts
  apps/backend/go.mod
  apps/backend/go.sum
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/package.json
  apps/packages/theme/package.json
  apps/pnpm-lock.yaml
Due: prettier-format

fix(web): current-user chip uses border hover, not accent fill
  apps/web/components/app-sidebar/current-user-chip.tsx
  apps/web/e2e/tests/auth/auth-screenshots.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): right-align current-user chip in the sidebar footer
  apps/web/components/app-sidebar/app-sidebar-footer.tsx
  apps/web/components/app-sidebar/current-user-chip.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: scope walkthrough overlays to their task
  apps/web/components/review/walkthrough-overlay.test.tsx
  apps/web/components/review/walkthrough-overlay.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(desktop): align @tauri-apps/cli with the 2.11 Rust crate bump
  apps/desktop/package.json
  apps/pnpm-lock.yaml
Due: none

chore: format desktop environment filter
  apps/desktop/src-tauri/src/backend.rs
Due: none

feat: show full timestamp as tooltip on chat message relative time
  apps/web/components/task/chat/messages/message-actions.test.tsx
  apps/web/components/task/chat/messages/message-actions.tsx
  apps/web/e2e/tests/chat/message-timestamp-tooltip.spec.ts
  apps/web/e2e/tests/chat/mobile-message-timestamp-tooltip.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: add reviewer screenshot for PR #1925 (timestamp tooltip)
  docs/pr-screenshots/1925-timestamp-tooltip.png
Due: none

fix(web): add touch-drawer path for chat message absolute timestamp
  apps/web/components/task/chat/messages/message-actions.test.tsx
  apps/web/components/task/chat/messages/message-actions.tsx
  apps/web/e2e/tests/chat/mobile-message-timestamp-tooltip.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): scope timestamp e2e locators to the seeded message row
  apps/web/e2e/tests/chat/message-timestamp-tooltip.spec.ts
  apps/web/e2e/tests/chat/mobile-message-timestamp-tooltip.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): preserve mobile metrics row width
  apps/web/components/system-metrics/status-surface-metrics.test.tsx
  apps/web/components/system-metrics/status-surface-metrics.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): cover CI summary refresh routes
  apps/web/components/github/pr-status-refresh-routes.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): complete refresh route test state
  apps/web/components/github/pr-status-refresh-routes.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): improve queue scrolling and diff comment feedback
  apps/web/components/diff/use-diff-comments.test.ts
  apps/web/components/diff/use-diff-comments.ts
  apps/web/components/task/chat/queued-ghost-list.tsx
  apps/web/e2e/tests/chat/message-queue-scroll-helpers.ts
  apps/web/e2e/tests/chat/message-queue.spec.ts
  apps/web/e2e/tests/chat/mobile-message-queue-scroll.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): deduplicate model options and restore reasoning scroll
  apps/web/components/model-config-selector.test.tsx
  apps/web/components/model-config-selector.tsx
  apps/web/e2e/tests/chat/mobile-model-selector.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: hydrate update notification settings and broadcast delivery ack
  apps/backend/internal/backendapp/main.go
  apps/backend/internal/system/updates/handler_notify_test.go
  apps/backend/internal/system/updates/notify_dispatch_test.go
  apps/backend/internal/system/updates/service.go
  apps/web/components/settings/system/update-notifications-card.test.tsx
  apps/web/components/settings/system/update-notifications-card.tsx
  apps/web/hooks/use-update-available-toast.test.ts
  apps/web/hooks/use-update-available-toast.ts
  apps/web/lib/api/domains/system-api.test.ts
  apps/web/lib/state/default-state.ts
  apps/web/lib/state/hydration/hydrator.test.ts
  apps/web/lib/state/hydration/hydrator.ts
  apps/web/lib/state/store.ts
  apps/web/src/settings-routes.test.ts
  apps/web/src/settings-routes.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
