Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

fix: subtask sessions inherit agent profile from parent task
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/subtask_profile.go
  apps/backend/internal/orchestrator/subtask_profile_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/web/components/task/dockview-desktop-layout.tsx
  apps/web/components/task/dockview-layout-restore.ts
  apps/web/components/task/dockview-layout-setup.ts
  apps/web/lib/state/dockview-session-switch.ts
  apps/web/lib/state/slices/kanban/kanban-slice.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

Notes added by 'git notes add'
  66081b091badd03f6c4ea781c5a6ffc6dfe02406
Due: none

fix: UI polish — unified topbar, selector consistency, quick actions editor improvements
  apps/backend/internal/github/models.go
  apps/web/app/github/github-page-client.tsx
  apps/web/app/stats/stats-page-client.tsx
  apps/web/components/github/action-presets-section.tsx
  apps/web/components/github/default-queries-section.tsx
  apps/web/components/github/github-settings.tsx
  apps/web/components/github/my-github/action-presets.test.ts
  apps/web/components/github/my-github/action-presets.ts
  apps/web/components/github/my-github/presets-sidebar.tsx
  apps/web/components/github/my-github/use-default-query-presets.ts
  apps/web/components/kanban-display-dropdown.tsx
  apps/web/components/kanban/kanban-header.tsx
  apps/web/components/page-topbar.tsx
  apps/web/components/settings/profile-edit/script-editor.tsx
  apps/web/components/settings/settings-app-sidebar.tsx
  apps/web/components/task/branch-path-popover.tsx
  apps/web/components/task/chat/chat-input-area.tsx
  apps/web/components/task/mode-selector.tsx
  apps/web/components/task/model-selector.tsx
  apps/web/components/task/quick-chat-button.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

Notes added by 'git notes add'
  23b5f7c9a895304e209d75382b64760a7644ff09
Due: none

fix(e2e): fix pre-existing shard 8 test failures
  apps/web/e2e/fixtures/test-base.ts
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/tests/task/subtask.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

Notes added by 'git notes add'
  afc88e56f23ea5dd23b7b3f61f2467635206199b
Due: none

style: run prettier on changed files
  apps/web/app/github/github-page-client.tsx
  apps/web/components/github/action-presets-section.tsx
  apps/web/components/github/default-queries-section.tsx
  apps/web/components/github/my-github/use-default-query-presets.ts
  apps/web/components/kanban-display-dropdown.tsx
  apps/web/components/kanban/kanban-header.tsx
  apps/web/components/page-topbar.tsx
  apps/web/components/task/branch-path-popover.tsx
  apps/web/components/task/quick-chat-button.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

Notes added by 'git notes add'
  bd9fd34525b78b6a304729a946e0502fa5b8daf5
Due: none

fix: remove redundant GetWorkspace from repoStore interface
  apps/backend/internal/orchestrator/service.go
Due: gofmt, go-tests, go-lint

Notes added by 'git notes add'
  e20a294ca21262b6b6b47f0847786bfaae808e65
Due: none

fix: address review feedback — snapshot init bug, ScrollOnOverflow props, dead code
  apps/packages/ui/src/scroll-on-overflow.tsx
  apps/web/components/github/default-queries-section.tsx
  apps/web/components/github/my-github/use-default-query-presets.ts
  apps/web/components/github/refresh-reviews-button.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

Notes added by 'git notes add'
  130a97e77e870dd04a8f8d733c0b1b8874ea07f9
Due: none

fix(e2e): sequence agent starts in session-isolation test
  apps/web/e2e/tests/task/session-isolation.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

Notes added by 'git notes add'
  0ed97d30ff66f3a8d93a3fc4cb0b8250502b1d29
Due: none

fix: subtask sessions inherit agent profile from parent task (#692)
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/subtask_profile.go
  apps/backend/internal/orchestrator/subtask_profile_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/web/components/task/dockview-desktop-layout.tsx
  apps/web/components/task/dockview-layout-restore.ts
  apps/web/components/task/dockview-layout-setup.ts
  apps/web/e2e/fixtures/test-base.ts
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/tests/task/session-isolation.spec.ts
  apps/web/e2e/tests/task/subtask.spec.ts
  apps/web/lib/state/dockview-session-switch.ts
  apps/web/lib/state/slices/kanban/kanban-slice.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: ui polish — unified topbar, selector consistency, quick actions editor improvements (#693)
  apps/backend/internal/github/models.go
  apps/packages/ui/src/scroll-on-overflow.tsx
  apps/web/app/github/github-page-client.tsx
  apps/web/app/stats/stats-page-client.tsx
  apps/web/components/github/action-presets-section.tsx
  apps/web/components/github/default-queries-section.tsx
  apps/web/components/github/github-settings.tsx
  apps/web/components/github/my-github/action-presets.test.ts
  apps/web/components/github/my-github/action-presets.ts
  apps/web/components/github/my-github/presets-sidebar.tsx
  apps/web/components/github/my-github/use-default-query-presets.ts
  apps/web/components/github/refresh-reviews-button.tsx
  apps/web/components/kanban-display-dropdown.tsx
  apps/web/components/kanban/kanban-header.tsx
  apps/web/components/page-topbar.tsx
  apps/web/components/settings/profile-edit/script-editor.tsx
  apps/web/components/settings/settings-app-sidebar.tsx
  apps/web/components/task/branch-path-popover.tsx
  apps/web/components/task/chat/chat-input-area.tsx
  apps/web/components/task/mode-selector.tsx
  apps/web/components/task/model-selector.tsx
  apps/web/components/task/quick-chat-button.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat: add GitHub token injection for remote executors and Docker session resume (#654)
  apps/backend/cmd/kandev/services.go
  apps/backend/dockerfiles/entrypoint.sh
  apps/backend/internal/agent/lifecycle/container.go
  apps/backend/internal/agent/lifecycle/default_scripts.go
  apps/backend/internal/agent/lifecycle/executor_docker.go
  apps/backend/internal/agent/lifecycle/executor_docker_test.go
  apps/backend/internal/agent/lifecycle/executor_sprites_operations.go
  apps/backend/internal/agentctl/server/process/runner.go
  apps/backend/internal/agentctl/server/shell/session.go
  apps/backend/internal/agentctl/server/shell/session_test.go
  apps/backend/internal/agentctl/types/types.go
  apps/backend/internal/github/controller.go
  apps/backend/internal/github/models.go
  apps/backend/internal/github/service.go
  apps/backend/internal/github/service_token_test.go
  apps/backend/internal/orchestrator/executor/executor_credentials.go
  apps/backend/internal/orchestrator/executor/executor_credentials_test.go
  apps/backend/internal/orchestrator/executor/executor_execute.go
  apps/backend/internal/scriptengine/placeholders.go
  apps/backend/internal/scriptengine/providers.go
  apps/backend/internal/scriptengine/providers_test.go
  apps/backend/internal/task/models/models.go
  apps/web/components/github/github-status.tsx
  apps/web/lib/api/domains/github-api.ts
  apps/web/lib/types/github.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat(backend): add fresh-branch checkout for local executor
  apps/backend/internal/agent/lifecycle/env_preparer_local_test.go
  apps/backend/internal/task/dto/dto.go
  apps/backend/internal/task/handlers/repository_handlers.go
  apps/backend/internal/task/handlers/task_http_handlers.go
  apps/backend/internal/task/service/fresh_branch.go
  apps/backend/internal/task/service/fresh_branch_test.go
  apps/backend/internal/task/service/repository_discovery.go
Due: gofmt, go-tests, go-lint

feat(web): add 'New branch' toggle + discard-changes confirm to task create dialog
  apps/web/app/actions/workspaces.ts
  apps/web/components/discard-local-changes-dialog.tsx
  apps/web/components/task-create-dialog-effects.ts
  apps/web/components/task-create-dialog-form-body.tsx
  apps/web/components/task-create-dialog-fresh-branch-consent.ts
  apps/web/components/task-create-dialog-fresh-branch.tsx
  apps/web/components/task-create-dialog-handlers.ts
  apps/web/components/task-create-dialog-header.tsx
  apps/web/components/task-create-dialog-helpers.ts
  apps/web/components/task-create-dialog-state.ts
  apps/web/components/task-create-dialog-submit.tsx
  apps/web/components/task-create-dialog-types.ts
  apps/web/components/task-create-dialog.tsx
  apps/web/lib/api/domains/kanban-api.ts
  apps/web/lib/types/http.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): cover fresh-branch create-task scenarios
  apps/web/e2e/tests/task/create-task-branch-selector.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(backend): harden fresh-branch + local-status against tainted input
  apps/backend/internal/task/service/fresh_branch.go
  apps/backend/internal/task/service/repository_discovery.go
Due: gofmt, go-tests, go-lint

fix: harden fresh-branch consent + checkout
  apps/backend/internal/task/handlers/task_http_handlers.go
  apps/backend/internal/task/service/fresh_branch.go
  apps/backend/internal/task/service/fresh_branch_test.go
  apps/backend/internal/task/service/repository_discovery.go
  apps/web/components/task-create-dialog-fresh-branch-consent.ts
  apps/web/components/task-create-dialog-helpers.ts
  apps/web/components/task-create-dialog-submit.tsx
  apps/web/lib/api/client.ts
  apps/web/lib/api/domains/kanban-api.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(backend): atomic plan revision write + review polish
  apps/backend/internal/task/dto/dto.go
  apps/backend/internal/task/handlers/task_plan_handlers.go
  apps/backend/internal/task/repository/interface.go
  apps/backend/internal/task/repository/sqlite/base.go
  apps/backend/internal/task/repository/sqlite/plan.go
  apps/backend/internal/task/service/plan_service.go
Due: gofmt, go-tests, go-lint

fix(web): address plan-revisions review feedback
  apps/web/components/task/task-plan-panel.tsx
  apps/web/components/task/task-plan-revisions.tsx
  apps/web/e2e/tests/task/plan-checkpointing.spec.ts
  apps/web/lib/state/slices/session/session-slice.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

style: prettier --write
  apps/web/components/task-create-dialog-form-body.tsx
  apps/web/components/task-create-dialog-state.ts
  apps/web/components/task-create-dialog-submit.tsx
  apps/web/components/task-create-dialog.tsx
  apps/web/e2e/tests/task/create-task-branch-selector.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): evict revision content cache on coalesced update
  apps/web/lib/state/slices/session/session-slice.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address review feedback on fresh-branch PR
  apps/backend/internal/task/handlers/task_http_handlers.go
  apps/backend/internal/task/service/fresh_branch.go
  apps/backend/internal/task/service/repository_discovery.go
  apps/web/components/task-create-dialog-helpers.ts
  apps/web/components/task-create-dialog-submit.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(backend): cover resolveGitDirWithin security boundary
  apps/backend/internal/task/service/repository_discovery_test.go
Due: gofmt, go-tests, go-lint

fix: address coderabbit review on dirty-paths parsing + e2e gap
  apps/backend/internal/task/service/fresh_branch_test.go
  apps/backend/internal/task/service/repository_discovery.go
  apps/web/e2e/tests/task/create-task-branch-selector.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

style: prettier --write
  apps/web/e2e/tests/task/create-task-branch-selector.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor: address remaining claude review on submit handlers
  apps/web/components/task-create-dialog-fresh-branch-consent.ts
  apps/web/components/task-create-dialog-submit.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(web): auto-open plan panel with unseen-changes indicator
  apps/web/components/task/dockview-desktop-layout.tsx
  apps/web/components/task/dockview-header-actions.tsx
  apps/web/components/task/plan-tab.tsx
  apps/web/e2e/tests/layout/plan-panel-indicator.spec.ts
  apps/web/hooks/domains/session/use-task-plan.ts
  apps/web/lib/state/dockview-panel-actions.ts
  apps/web/lib/state/dockview-store.ts
  apps/web/lib/state/layout-manager/constants.ts
  apps/web/lib/state/slices/session/session-slice.ts
  apps/web/lib/state/slices/session/task-plans.test.ts
  apps/web/lib/state/slices/session/types.ts
  apps/web/lib/state/store.ts
  apps/web/lib/ws/handlers/task-plans.test.ts
  apps/web/lib/ws/handlers/task-plans.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): address review feedback and correct E2E assertions for plan indicator
  apps/web/e2e/tests/layout/plan-panel-indicator.spec.ts
  apps/web/lib/ws/handlers/task-plans.test.ts
  apps/web/lib/ws/handlers/task-plans.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): reactive plan-panel auto-open to beat activeTaskId race
  apps/web/components/task/dockview-desktop-layout.tsx
  apps/web/hooks/use-plan-panel-auto-open.ts
  apps/web/lib/ws/handlers/task-plans.test.ts
  apps/web/lib/ws/handlers/task-plans.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): wait for plan tab before asserting indicator
  apps/web/e2e/tests/layout/plan-panel-indicator.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

style(web): prettier format usePlanPanelAutoOpen
  apps/web/hooks/use-plan-panel-auto-open.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

release: app v0.37
  CHANGELOG.md
Due: none

fix(web): address plan-panel review feedback
  apps/web/components/task/plan-tab.tsx
  apps/web/e2e/tests/layout/plan-panel-indicator.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: auto-resume failed sessions with silent workspace-restore fallback
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/task_operations_resume_test.go
  apps/web/hooks/domains/session/use-session-resumption.test.ts
  apps/web/hooks/domains/session/use-session-resumption.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
