Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

fix: propagate prepared workspace path
  apps/backend/internal/agent/runtime/lifecycle/manager_launch.go
  apps/backend/internal/agent/runtime/lifecycle/manager_launch_test.go
Due: gofmt, go-tests, go-lint

fix(secrets): close repository environment review gaps
  apps/backend/internal/agent/runtime/environment/environment.go
  apps/backend/internal/agent/runtime/lifecycle/environment_resolution.go
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh_connection_test.go
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh_operations.go
  apps/backend/internal/agent/runtime/lifecycle/manager_execution.go
  apps/backend/internal/agent/runtime/lifecycle/manager_execution_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_launch.go
  apps/backend/internal/agent/runtime/lifecycle/manager_launch_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_startup.go
  apps/backend/internal/agent/runtime/lifecycle/types.go
  apps/backend/internal/agent/settings/controller/profile_secret_scope_test.go
  apps/backend/internal/backendapp/adapters.go
  apps/backend/internal/backendapp/services.go
  apps/backend/internal/orchestrator/executor/executor.go
  apps/backend/internal/orchestrator/executor/task_environment.go
  apps/backend/internal/orchestrator/executor/task_environment_test.go
  apps/backend/internal/secrets/sqlite_store.go
  apps/backend/internal/secrets/sqlite_store_test.go
  apps/backend/internal/secrets/store.go
  apps/backend/internal/secrets/user_visible_store.go
  apps/backend/internal/secrets/user_visible_store_test.go
  apps/backend/internal/task/repository/sqlite/repository_entity.go
  apps/backend/internal/task/repository/sqlite/repository_entity_test.go
  apps/backend/internal/task/repository/sqlite/workspace.go
  apps/backend/internal/task/repository/sqlite/workspace_test.go
  apps/backend/internal/task/service/service.go
  apps/backend/internal/task/service/service_resources.go
  apps/backend/internal/task/service/service_resources_test.go
  apps/web/hooks/domains/settings/use-secrets.test.ts
  apps/web/hooks/domains/settings/use-secrets.ts
  apps/web/hooks/domains/settings/use-workspace-secret-options.test.ts
  apps/web/hooks/domains/settings/use-workspace-secret-options.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(secrets): resolve shell profile environment conflicts
  apps/backend/internal/orchestrator/executor/executor_execute.go
  apps/backend/internal/orchestrator/executor/task_environment.go
  apps/backend/internal/orchestrator/executor/task_environment_test.go
  apps/backend/internal/secrets/user_visible_store_test.go
  apps/backend/internal/task/repository/sqlite/postgres_schema_test.go
Due: gofmt, go-tests, go-lint

fix(web): satisfy frontend lint line limit
  apps/web/src/settings-routes.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: stabilize CI workspace recovery
  apps/backend/internal/agent/runtime/lifecycle/manager_execution.go
  apps/backend/internal/agent/runtime/lifecycle/manager_execution_test.go
  apps/backend/internal/agent/runtime/lifecycle/types.go
  apps/backend/internal/agentctl/server/api/workspace_materialize.go
  apps/backend/internal/agentctl/server/api/workspace_materialize_test.go
  apps/backend/internal/task/service/service_turns.go
  apps/backend/internal/task/service/service_turns_test.go
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/tests/settings/mobile-repository-secrets.spec.ts
  apps/web/e2e/tests/settings/repository-secrets.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: restore environment resolution imports
  apps/backend/internal/orchestrator/executor/executor.go
Due: gofmt, go-tests, go-lint

fix: make GitLab branch/directory directly editable, fix .git-suffix bug
  apps/web/components/settings/workflow-sync-dialog.tsx
  apps/web/hooks/domains/settings/use-workflow-sync.test.ts
  apps/web/hooks/domains/settings/use-workflow-sync.ts
  apps/web/lib/utils/gitlab-repo-url.test.ts
  apps/web/lib/utils/gitlab-repo-url.ts
  apps/web/src/locales/en/workflows.json
  apps/web/src/locales/pseudo/workflows.json
  apps/web/src/locales/zh-cn/workflows.json
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: preserve same-SHA commits across repositories
  apps/web/components/task/changes-panel-helpers.ts
  apps/web/components/task/changes-panel-remote.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): preserve single-repo PR commit identity
  apps/web/components/task/changes-panel-data.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: harden PR commit detail routing
  apps/web/components/task/commit-detail-panel.test.tsx
  apps/web/components/task/commit-detail-panel.tsx
  apps/web/components/task/commit-detail-request.test.ts
  apps/web/components/task/commit-detail-request.ts
  apps/web/hooks/domains/github/use-pr-commits.test.ts
  apps/web/hooks/domains/github/use-pr-commits.ts
  apps/web/hooks/domains/session/use-commit-detail.test.ts
  apps/web/hooks/domains/session/use-commit-detail.ts
  apps/web/src/locales/en/common.json
  apps/web/src/locales/pseudo/common.json
  docs/plans/pr-only-commit-details/plan.md
  docs/plans/pr-only-commit-details/task-02-source-aware-commit-ui.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: reuse synchronized retry label
  apps/web/components/task/commit-detail-panel.test.tsx
  apps/web/components/task/commit-detail-panel.tsx
  apps/web/src/locales/en/common.json
  apps/web/src/locales/pseudo/common.json
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): require complete PR commit provenance
  apps/web/components/task/changes-panel-data.tsx
  apps/web/components/task/changes-panel-helpers.ts
  apps/web/components/task/changes-panel-remote.test.ts
  apps/web/components/task/changes-panel.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address PR review correctness findings
  apps/backend/internal/github/client_helpers.go
  apps/backend/internal/github/commit_detail_test.go
  apps/web/components/task/changes-panel-helpers.ts
  apps/web/components/task/changes-panel-remote.test.ts
  apps/web/components/task/commit-detail-panel.test.tsx
  apps/web/components/task/commit-detail-panel.tsx
  apps/web/components/task/commit-detail-request.test.ts
  apps/web/components/task/commit-detail-request.ts
  apps/web/hooks/domains/github/use-pr-commits.test.ts
  apps/web/hooks/domains/session/use-commit-detail.test.ts
  apps/web/hooks/domains/session/use-commit-detail.ts
  docs/plans/pr-only-commit-details/plan.md
  docs/plans/pr-only-commit-details/task-02-source-aware-commit-ui.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: persist default sidebar view
  apps/backend/internal/user/handlers/handlers_test.go
  apps/backend/internal/user/store/sqlite.go
  apps/backend/internal/user/store/sqlite_test.go
  apps/web/e2e/fixtures/test-base.ts
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/tests/task/sidebar-filter.spec.ts
  docs/plans/sidebar-default-view-persistence/plan.md
  docs/plans/sidebar-default-view-persistence/task-01-persist-canonical-sidebar-default.md
  docs/specs/ui/sidebar-view-creation.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: keep sidebar active view valid
  apps/backend/internal/user/handlers/handlers_test.go
  apps/backend/internal/user/service/service.go
  apps/backend/internal/user/service/service_test.go
  apps/backend/internal/user/store/sqlite.go
  docs/plans/sidebar-default-view-persistence/plan.md
  docs/plans/sidebar-default-view-persistence/task-01-persist-canonical-sidebar-default.md
  docs/specs/ui/sidebar-view-creation.md
Due: gofmt, go-tests, go-lint

fix: close remote contribution review gaps
  apps/backend/internal/agent/runtime/lifecycle/branch_injection_poc_test.go
  apps/backend/internal/agent/runtime/lifecycle/executor_docker.go
  apps/backend/internal/agent/runtime/lifecycle/executor_docker_test.go
  apps/backend/internal/agent/runtime/lifecycle/executor_sprites_operations.go
  apps/backend/internal/agent/runtime/lifecycle/manager.go
  apps/backend/internal/agent/runtime/lifecycle/manager_startup.go
  apps/backend/internal/agent/runtime/lifecycle/manager_startup_test.go
  apps/backend/internal/agent/runtime/lifecycle/types.go
  apps/backend/internal/agent/runtime/lifecycle/types_repospecs_test.go
  apps/backend/internal/common/securityutil/git.go
  apps/backend/internal/common/securityutil/git_test.go
  apps/backend/internal/github/gh_client.go
  apps/backend/internal/github/gh_client_test.go
  apps/backend/internal/github/service_remote_contribution.go
  apps/backend/internal/gitlab/service_remote_contribution.go
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/handlers_test.go
  apps/backend/internal/orchestrator/executor/executor_credentials.go
  apps/backend/internal/orchestrator/executor/executor_credentials_test.go
  apps/backend/internal/scriptengine/providers.go
  apps/backend/internal/scriptengine/providers_test.go
  apps/backend/internal/worktree/manager_contribution.go
Due: gofmt, go-tests, go-lint

fix(i18n): close review-flagged localization gaps in stats/tasks pages
  apps/web/app/settings/integrations/page.tsx
  apps/web/app/stats/stats-charts.tsx
  apps/web/app/stats/stats-page-client.tsx
  apps/web/app/stats/stats-sections.tsx
  apps/web/app/tasks/[id]/kanban-task-shell.tsx
  apps/web/app/tasks/tasks-list-controls.tsx
  apps/web/app/tasks/tasks-list-view.tsx
  apps/web/eslint.i18n.options.mjs
  apps/web/lib/tasks/tasks-list-options.ts
  apps/web/src/locales/en/settings.json
  apps/web/src/locales/en/stats.json
  apps/web/src/locales/en/tasks.json
  apps/web/src/locales/pseudo/settings.json
  apps/web/src/locales/pseudo/stats.json
  apps/web/src/locales/pseudo/tasks.json
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): split oversized dockview action tests
  apps/web/lib/state/dockview-panel-actions-extra.test.ts
  apps/web/lib/state/dockview-panel-actions.test-utils.ts
  apps/web/lib/state/dockview-panel-actions.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(gitlab): fetch pipeline job counts via ListPipelineJobs
  apps/backend/internal/gitlab/client.go
  apps/backend/internal/gitlab/client_helpers.go
  apps/backend/internal/gitlab/mock_client.go
  apps/backend/internal/gitlab/mock_controller.go
  apps/backend/internal/gitlab/models_pipeline_jobs.go
  apps/backend/internal/gitlab/noop_client.go
  apps/backend/internal/gitlab/pat_client.go
  apps/backend/internal/gitlab/pat_client_pipeline_jobs_test.go
Due: gofmt, go-tests, go-lint

feat(gitlab): parse detailed_merge_status and reviewer-approval fields
  apps/backend/internal/gitlab/client_helpers.go
  apps/backend/internal/gitlab/client_helpers_test.go
  apps/backend/internal/gitlab/mock_client.go
  apps/backend/internal/gitlab/models.go
  apps/backend/internal/gitlab/pat_client.go
Due: gofmt, go-tests, go-lint

docs: complete sidebar default plan
  docs/plans/sidebar-default-view-persistence/plan.md
  docs/plans/sidebar-default-view-persistence/task-01-persist-canonical-sidebar-default.md
Due: none

feat(gitlab): persist reviewer/merge-readiness fields on TaskMR
  apps/backend/internal/gitlab/service.go
  apps/backend/internal/gitlab/service_task_mr_link.go
  apps/backend/internal/gitlab/store.go
  apps/backend/internal/gitlab/store_task_mr_automation_fields_test.go
Due: gofmt, go-tests, go-lint

docs: clarify sidebar plan verification
  docs/plans/sidebar-default-view-persistence/plan.md
Due: none

docs: stabilize sidebar plan status
  docs/plans/sidebar-default-view-persistence/plan.md
Due: none

refactor(orchestrator): extract provider-agnostic CI auto-fix dispatch
  apps/backend/internal/orchestrator/ci_automation_dispatch.go
  apps/backend/internal/orchestrator/event_handlers_github_ci_automation.go
Due: gofmt, go-tests, go-lint

feat(gitlab): add auto-fix/auto-merge automation options schema and API
  apps/backend/config/prompts/mr-auto-fix.md
  apps/backend/internal/backendapp/services.go
  apps/backend/internal/gitlab/controller_mr_automation.go
  apps/backend/internal/gitlab/controller_mr_automation_test.go
  apps/backend/internal/gitlab/models_mr_automation.go
  apps/backend/internal/gitlab/poller.go
  apps/backend/internal/gitlab/service.go
  apps/backend/internal/gitlab/service_mr_automation.go
  apps/backend/internal/gitlab/store.go
  apps/backend/internal/gitlab/store_e2e_reset.go
  apps/backend/internal/gitlab/store_mr_automation.go
  apps/backend/internal/gitlab/store_mr_automation_test.go
  apps/backend/internal/mcp/handlers/task_mr_automation.go
  apps/backend/internal/prompts/store/sqlite.go
  apps/backend/internal/prompts/store/sqlite_test.go
Due: gofmt, go-tests, go-lint

feat(gitlab): add workspace+host-scoped MR automation auth entry points
  apps/backend/internal/gitlab/client_helpers.go
  apps/backend/internal/gitlab/service_mr_automation_auth.go
  apps/backend/internal/gitlab/service_mr_automation_auth_test.go
Due: gofmt, go-tests, go-lint

test(i18n): cover the tasks-list option-key mappings
  apps/web/lib/tasks/tasks-list-options.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(gitlab): auto-fix CI and auto-merge orchestration for MRs
  apps/backend/internal/gitlab/service_mr_automation.go
  apps/backend/internal/gitlab/service_mr_automation_auth.go
  apps/backend/internal/gitlab/service_mr_automation_auth_test.go
  apps/backend/internal/orchestrator/ci_automation_dispatch.go
  apps/backend/internal/orchestrator/event_handlers_github_ci_automation.go
  apps/backend/internal/orchestrator/event_handlers_gitlab.go
  apps/backend/internal/orchestrator/event_handlers_gitlab_mr_automation.go
  apps/backend/internal/orchestrator/event_handlers_gitlab_mr_automation_eval.go
  apps/backend/internal/orchestrator/event_handlers_gitlab_mr_automation_test.go
  apps/backend/internal/orchestrator/event_handlers_gitlab_mr_ci_automation.go
  apps/backend/internal/orchestrator/event_handlers_gitlab_mr_ci_automation_test.go
Due: gofmt, go-tests, go-lint

fix(web): stabilize command task sidebar reveals
  apps/web/components/command-panel.tsx
  apps/web/e2e/tests/task/sidebar-scroll-preservation.spec.ts
  apps/web/hooks/use-command-panel-task-navigation.ts
  apps/web/lib/sidebar/task-navigation.test.ts
  apps/web/lib/sidebar/task-navigation.ts
  docs/plans/command-panel-sidebar-task-reveal/plan.md
  docs/plans/command-panel-sidebar-task-reveal/task-01-reveal-command-selected-task.md
  docs/specs/ui/command-panel-sidebar-task-reveal.md
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(gitlab): add frontend types and helpers for MR automation
  apps/web/components/gitlab/mr-automation-controls.test.tsx
  apps/web/components/gitlab/my-gitlab/mr-row-task-indicator.test.tsx
  apps/web/hooks/domains/gitlab/use-mr-key-to-tasks.test.ts
  apps/web/hooks/domains/gitlab/use-task-mr-automation.test.tsx
  apps/web/hooks/domains/gitlab/use-task-mr-automation.ts
  apps/web/hooks/domains/gitlab/use-task-mr.test.ts
  apps/web/hooks/domains/workspace/use-external-vcs-file-link.gitlab-host.test.tsx
  apps/web/hooks/domains/workspace/use-external-vcs-file-link.test.tsx
  apps/web/lib/gitlab/mr-automation.test.ts
  apps/web/lib/gitlab/mr-automation.ts
  apps/web/lib/gitlab/pipeline-buckets.test.ts
  apps/web/lib/gitlab/pipeline-buckets.ts
  apps/web/lib/state/slices/gitlab/gitlab-slice.test.ts
  apps/web/lib/types/gitlab.ts
  apps/web/lib/ws/handlers/gitlab.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: improve workspace settings navigation
  apps/web/components/app-sidebar/sections/settings/settings-tree-render.test.tsx
  apps/web/components/app-sidebar/sections/settings/workspaces-group.tsx
  apps/web/components/settings/settings-layout-client.test.tsx
  apps/web/components/settings/settings-layout-client.tsx
  apps/web/e2e/tests/settings/mobile-settings-sidebar.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): gate session hydration on subscription ack (#2287)
  apps/web/e2e/pages/session-page.ts
  apps/web/e2e/tests/chat/mobile-unread-divider.spec.ts
  apps/web/e2e/tests/chat/unread-divider.spec.ts
  apps/web/hooks/domains/session/use-session-message-fetch.ts
  apps/web/hooks/domains/session/use-session-messages.test.ts
  apps/web/hooks/domains/session/use-session-messages.ts
  apps/web/hooks/domains/session/use-session-subscription-retry.test.ts
  apps/web/hooks/domains/session/use-session-subscription-retry.ts
  apps/web/lib/ws/client.test.ts
  apps/web/lib/ws/client.ts
  docs/plans/session-subscription-recovery/plan.md
  docs/plans/session-subscription-recovery/task-01-ack-gated-session-hydration.md
  docs/specs/INDEX.md
  docs/specs/session-subscription-recovery/spec.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): cancel stale command task reveals
  apps/web/hooks/use-command-panel-task-navigation.test.ts
  apps/web/hooks/use-command-panel-task-navigation.ts
  apps/web/lib/sidebar/task-navigation.test.ts
  apps/web/lib/sidebar/task-navigation.ts
  docs/plans/command-panel-sidebar-task-reveal/plan.md
  docs/plans/command-panel-sidebar-task-reveal/task-01-reveal-command-selected-task.md
  docs/specs/ui/command-panel-sidebar-task-reveal.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(backend): stop the hand-off being requeued after the merged prompt
  apps/backend/internal/orchestrator/event_handlers_duplicate_autostart_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
Due: gofmt, go-tests, go-lint

fix(backend): stop workflow step reset from double-starting the agent
  apps/backend/internal/orchestrator/event_handlers_duplicate_autostart_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/event_handlers_workflow_triggers_test.go
  docs/plans/workflow-step-agent-start-ownership/plan.md
  docs/plans/workflow-step-agent-start-ownership/task-01-reset-skips-created.md
  docs/plans/workflow-step-agent-start-ownership/task-02-queue-prompt-on-failed-launch.md
  docs/specs/workflow-step-agent-start-ownership/spec.md
Due: gofmt, go-tests, go-lint

feat(gitlab): add Automation section to the MR topbar dropdown
  apps/web/components/gitlab/mr-auto-fix-prompt-dialog.tsx
  apps/web/components/gitlab/mr-automation-controls.automation.test.tsx
  apps/web/components/gitlab/mr-automation-controls.test.tsx
  apps/web/components/gitlab/mr-automation-controls.tsx
  apps/web/components/gitlab/mr-topbar-button.tsx
  apps/web/src/locales/en/gitlab.json
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(gitlab): extract MR status colour into a single shared source
  apps/web/components/gitlab/mr-status-colour-parity.test.tsx
  apps/web/components/gitlab/mr-task-icon.render.test.tsx
  apps/web/components/gitlab/mr-task-icon.test.ts
  apps/web/components/gitlab/mr-task-icon.tsx
  apps/web/components/gitlab/mr-topbar-button.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: initialize new repositories with a main branch
  apps/backend/internal/task/gitinit/command_descriptor.go
  apps/backend/internal/task/gitinit/command_descriptor_test.go
  apps/backend/internal/task/gitinit/command_path.go
  apps/backend/internal/task/gitinit/helper.go
  apps/backend/internal/task/service/local_repository_initialization.go
  apps/backend/internal/task/service/local_repository_initialization_test.go
  apps/web/e2e/tests/task/create-task-new-local-repository.spec.ts
  apps/web/e2e/tests/task/mobile-create-task-new-local-repository.spec.ts
  docs/plans/create-local-repository/plan.md
  docs/plans/create-local-repository/task-04-real-main-branch.md
  docs/specs/create-local-repository/spec.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck
