Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

fix(office): show agents as working while a run is in flight (#3401)
  apps/backend/internal/agent/settings/store/sqlite.go
  apps/backend/internal/agent/settings/store/sqlite_enrichment_test.go
  apps/backend/internal/office/agents/service.go
  apps/backend/internal/office/dashboard/service_agents_internal_test.go
  apps/backend/internal/office/infra/reconcile.go
  apps/backend/internal/office/infra/reconcile_test.go
  apps/backend/internal/office/repository/sqlite/agent_working_status.go
  apps/backend/internal/office/repository/sqlite/agent_working_status_test.go
  apps/backend/internal/office/repository/sqlite/agents.go
  apps/backend/internal/office/repository/sqlite/agents_test.go
  apps/backend/internal/office/service/agent_working_status.go
  apps/backend/internal/office/service/agent_working_status_internal_test.go
  apps/backend/internal/office/service/agent_working_status_test.go
  apps/backend/internal/office/service/agents.go
  apps/backend/internal/office/service/agents_test.go
  apps/backend/internal/office/service/event_subscribers.go
  apps/backend/internal/office/service/event_subscribers_engine_test.go
  apps/backend/internal/office/service/failure.go
  apps/backend/internal/office/service/retry.go
  apps/backend/internal/office/service/scheduler_integration.go
  apps/backend/internal/office/service/scheduler_integration_routing_test.go
  apps/backend/internal/office/service/scheduler_runs.go
  apps/backend/internal/office/service/scheduler_staleness.go
Due: gofmt, go-tests, go-lint

fix: harden Sprites repository preparation
  apps/backend/internal/agent/runtime/lifecycle/default_scripts.go
  apps/backend/internal/agent/runtime/lifecycle/default_scripts_test.go
  apps/backend/internal/agent/runtime/lifecycle/executor_docker_test.go
  apps/backend/internal/agent/runtime/lifecycle/executor_sprites.go
  apps/backend/internal/agent/runtime/lifecycle/executor_sprites_operations.go
Due: gofmt, go-tests, go-lint

test(web): assert mobile archive dialog centering
  apps/web/e2e/tests/kanban/mobile-card-archive-confirmation.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor(gitlab): remove legacy websocket request API
  apps/backend/internal/backendapp/helpers.go
  apps/backend/internal/gitlab/controller_watches_http_test.go
  apps/backend/internal/gitlab/handlers.go
  apps/backend/internal/gitlab/handlers_registration_test.go
  apps/backend/internal/gitlab/handlers_ws_actions_test.go
  apps/backend/internal/gitlab/handlers_ws_test.go
  apps/backend/internal/gitlab/handlers_ws_watches_test.go
  apps/backend/internal/gitlab/mock_controller.go
  apps/backend/internal/gitlab/security_regression_test.go
  apps/backend/pkg/websocket/actions.go
Due: gofmt, go-tests, go-lint

media: screenshots for PR #3425
  launch-preview-desktop.png
  launch-preview-mobile.png
Due: none

refactor(worktree): remove unused recreator
  apps/backend/internal/backendapp/main.go
  apps/backend/internal/backendapp/worktree.go
  apps/backend/internal/worktree/recreator.go
  apps/backend/internal/worktree/recreator_test.go
Due: gofmt, go-tests, go-lint

refactor(agent): remove deprecated model fetcher cache
  apps/backend/internal/agent/settings/controller/controller.go
  apps/backend/internal/agent/settings/controller/controller_test.go
  apps/backend/internal/agent/settings/modelfetcher/cache.go
  config/architecture-lint/compatibility-ledger.json
Due: gofmt, go-tests, go-lint

fix(backend): stop manual Retry from starting a second agent when a route already resumed (#3399)
  apps/backend/internal/agent/runtime/dynamic/engine.go
  apps/backend/internal/agent/runtime/dynamic/engine_test.go
  apps/backend/internal/agent/runtime/dynamic_resolver.go
  apps/backend/internal/agent/runtime/dynamic_resolver_test.go
  apps/backend/internal/backendapp/dynamic_routing.go
  apps/backend/internal/orchestrator/dynamic_launch.go
  apps/backend/internal/orchestrator/dynamic_route_manual_retry_conflict_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/web/components/task/chat/dynamic-route-recovery.test.tsx
  apps/web/components/task/chat/dynamic-route-recovery.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

docs: mark shared access features experimental (#3428)
  docs/public/architecture.md
  docs/public/authentication.md
  docs/public/configuration.md
  docs/public/coverage.json
  docs/public/docker.md
  docs/public/extending-kandev.md
  docs/public/feature-status.md
  docs/public/git-operations.md
  docs/public/k8s.md
  docs/public/office-config-sync.md
  docs/public/operations.md
  docs/public/organizations.md
  docs/public/team-access.md
  docs/public/websocket-api.md
  docs/public/workflow-import-export.md
  docs/public/workflow-sync.md
Due: none

test: synchronize resolver gate assertion
  apps/backend/internal/auth/hostnames/resolver_test.go
Due: gofmt, go-tests, go-lint

fix(web): guard pending git actions until settled
  apps/web/components/task/changes-panel-file-row.test.tsx
  apps/web/hooks/domains/session/use-session-git-pending.test.tsx
  apps/web/hooks/domains/session/use-session-git-pending.ts
  apps/web/hooks/domains/session/use-session-git.ts
  apps/web/lib/ws/handlers/agent-session.test.ts
  apps/web/lib/ws/handlers/agent-session.ts
  docs/specs/ui/requirements/changes-file-action-feedback.md
  docs/specs/ui/system-design/changes-file-action-feedback.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(gitlab): drop orphaned WS actions
  apps/backend/internal/events/types.go
  apps/backend/internal/gitlab/security_regression_test.go
  apps/backend/pkg/websocket/actions.go
  docs/public/websocket-api.md
Due: gofmt, go-tests, go-lint

fix: suppress invalid task timestamps
  apps/web/components/task/chat/messages/message-actions.test.tsx
  apps/web/components/task/chat/messages/message-actions.tsx
  apps/web/lib/utils.test.ts
  apps/web/lib/utils.ts
  docs/plans/invalid-task-date-display/plan.md
  docs/plans/invalid-task-date-display/task-01-suppress-invalid-message-timestamps.md
  docs/specs/ui/requirements/task-prompt-transcript-visibility.md
  docs/specs/ui/system-design/task-prompt-transcript-visibility.md
Due: prettier-format, web-lint, web-tests, web-typecheck

perf(web): isolate sidebar task tree renders
  apps/web/components/task/task-session-sidebar-grouped-view.test.ts
  apps/web/components/task/task-session-sidebar-grouped-view.ts
  apps/web/components/task/task-switcher-render-stability.test.tsx
  apps/web/components/task/task-switcher-row.tsx
  apps/web/components/task/task-switcher-tree.tsx
  apps/web/components/task/task-switcher.tsx
  apps/web/hooks/domains/kanban/use-workspace-sidebar-tasks.test.ts
  apps/web/hooks/domains/kanban/use-workspace-sidebar-tasks.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

media: screenshots for PR #3434
  invalid-task-date-display-capture--task-description-without-invalid-date.png
  mobile-invalid-task-date-display-capture--task-description-without-invalid-date.png
Due: none

perf(web): isolate kanban task update renders
  apps/web/components/kanban-card-menu-items.tsx
  apps/web/components/kanban-card.render-stability.test.tsx
  apps/web/components/kanban-column.tsx
  apps/web/components/kanban/swimlane-container.render-stability.test.tsx
  apps/web/components/kanban/swimlane-container.tsx
  apps/web/components/kanban/swimlane-kanban-content.render-stability.test.tsx
  apps/web/components/kanban/swimlane-kanban-content.tsx
  apps/web/components/kanban/swipeable-columns.tsx
  apps/web/components/kanban/virtualized-column-task-list.render-stability.test.tsx
  apps/web/components/kanban/virtualized-column-task-list.tsx
  apps/web/hooks/domains/kanban/use-swimlane-render-data.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

media: screenshots for PR #3437
  launch-failure-desktop.png
  launch-failure-mobile.png
Due: none

media: screenshots for PR #3420
  mobile-workflow-settings--mobile-step-prompt-auto-start-default.png
  workflow-settings--desktop-step-prompt-auto-start-default.png
Due: none

fix: keep PR walkthrough links canonical
  .github/scripts/pr-walkthrough-workflow-contract_test.py
  .github/workflows/pr-walkthrough-reconcile.yml
  .github/workflows/pr-walkthrough.yml
  .github/workflows/preview-env.yml
  apps/backend/cmd/preview/github.go
  apps/backend/cmd/preview/github_description_write_test.go
  docs/decisions/2026-09-05-pr-walkthrough-description-integrity.md
  docs/decisions/INDEX.md
  docs/plans/pr-walkthrough-description-integrity-fix/plan.md
  docs/plans/pr-walkthrough-description-integrity-fix/task-01-race-safe-description-writes.md
  docs/plans/pr-walkthrough-description-integrity-fix/task-02-reconcile-stale-walkthrough-links.md
  docs/specs/ci/system-design/unified-contributor-pr-automation.md
  docs/specs/ui/README.md
  docs/specs/ui/requirements/pr-walkthrough.md
  docs/specs/ui/system-design/pr-walkthrough.md
  scripts/pr-walkthrough-pr-body
  scripts/pr-walkthrough-pr-body.test.py
Due: gofmt, go-tests, go-lint

media: refreshed screenshots for PR #3434
  invalid-task-date-display-capture--task-description-without-invalid-date.png
Due: none

fix: validate task timestamps strictly
  apps/web/components/task/chat/messages/message-actions.test.tsx
  apps/web/components/task/chat/messages/message-actions.tsx
  apps/web/lib/state/slices/session/turn-actions.ts
  apps/web/lib/utils.test.ts
  apps/web/lib/utils.ts
  apps/web/lib/utils/strict-timestamp.ts
  docs/plans/invalid-task-date-display/plan.md
  docs/plans/invalid-task-date-display/task-01-suppress-invalid-message-timestamps.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(tasks): bound clarification response submissions
  apps/backend/internal/clarification/handlers.go
  apps/backend/internal/clarification/handlers_conflict_test.go
  apps/backend/internal/clarification/metrics.go
  apps/backend/internal/clarification/metrics_test.go
  apps/backend/internal/clarification/resolver.go
  apps/backend/internal/clarification/resolver_preclaim_test.go
  apps/backend/internal/db/dialect/pendingindex.go
  apps/backend/internal/db/dialect/pendingindex_test.go
  apps/backend/internal/task/repository/sqlite/base_schema.go
  apps/backend/internal/task/repository/sqlite/message_pending_index_postgres_test.go
  apps/backend/internal/task/repository/sqlite/message_pending_index_test.go
  apps/backend/internal/task/repository/sqlite/message_postgres_test.go
  apps/backend/internal/task/repository/sqlite/message_test.go
  apps/backend/internal/task/repository/sqlite/subagent_context_migration_test.go
  apps/backend/internal/task/repository/sqlite/subagent_context_postgres_test.go
  apps/web/components/task/chat/clarification-input-overlay.test.tsx
  apps/web/e2e/tests/chat/clarification-submit-failure.spec.ts
  apps/web/e2e/tests/chat/mobile-clarification.spec.ts
  apps/web/hooks/domains/session/use-clarification-group.timeout.test.ts
  apps/web/hooks/domains/session/use-clarification-group.ts
  docs/decisions/2026-09-05-bounded-clarification-response-path.md
  docs/decisions/INDEX.md
  docs/plans/clarification-response-reliability/plan.md
  docs/plans/clarification-response-reliability/task-01-index-pending-id-bundle-access.md
  docs/plans/clarification-response-reliability/task-02-bound-clarification-response-resolution.md
  docs/plans/clarification-response-reliability/task-03-bound-and-recover-clarification-submission.md
  docs/specs/tasks/README.md
  docs/specs/tasks/requirements/clarification-response-reliability.md
  docs/specs/tasks/system-design/clarification-response-reliability.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: reconcile prompt history merge queue
  apps/web/components/task/task-chat-panel.tsx
  apps/web/e2e/tests/task/mobile-prompt-history-panel.spec.ts
  apps/web/e2e/tests/task/prompt-history-panel.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

media: screenshots for PR #3439
  clarification-pr-capture--retryable-error.png
  mobile-clarification-pr-capture--retryable-error.png
Due: none

test(office): pin rejection idempotency keys to decision IDs and cover agent path
  apps/backend/internal/office/dashboard/agent_decisions_test.go
  apps/backend/internal/office/dashboard/decisions_test.go
Due: gofmt, go-tests, go-lint

test(office): prove two rejection rounds queue distinct assignee runs
  apps/backend/internal/office/dashboard/decisions_test.go
Due: gofmt, go-tests, go-lint

test(office): guard two-round tests against identical decision IDs
  apps/backend/internal/office/dashboard/agent_decisions_test.go
  apps/backend/internal/office/dashboard/decisions_test.go
Due: gofmt, go-tests, go-lint

fix: isolate preview description updates
  .github/scripts/pr-walkthrough-workflow-contract_test.py
  .github/scripts/preview-env-workflow-contract_test.py
  .github/workflows/pr-walkthrough-reconcile.yml
  .github/workflows/preview-env.yml
  apps/backend/cmd/preview/cleanup.go
  apps/backend/cmd/preview/deploy.go
  apps/backend/cmd/preview/description.go
  apps/backend/cmd/preview/github.go
  apps/backend/cmd/preview/github_description_write_test.go
  apps/backend/cmd/preview/main.go
  docs/plans/pr-walkthrough-description-integrity-fix/plan.md
  docs/plans/pr-walkthrough-description-integrity-fix/task-01-race-safe-description-writes.md
  docs/plans/pr-walkthrough-description-integrity-fix/task-02-reconcile-stale-walkthrough-links.md
  docs/specs/ci/system-design/unified-contributor-pr-automation.md
  docs/specs/ui/system-design/pr-walkthrough.md
Due: gofmt, go-tests, go-lint

test(workflow): close AC-EO-13 lock-span and AC-EO-16 coverage gaps
  apps/backend/internal/orchestrator/event_handlers_agent_error_evaluate_only_test.go
  apps/backend/internal/orchestrator/event_handlers_children_completed_test.go
  docs/specs/workflow-evaluate-only-operation-marking/verification.md
Due: gofmt, go-tests, go-lint

fix(workflow): defer EvaluateOnly operation marking to the caller's commit
  apps/backend/internal/orchestrator/evaluate_only_operation_marking_pin_test.go
  apps/backend/internal/orchestrator/event_handlers_agent_error.go
  apps/backend/internal/orchestrator/event_handlers_agent_error_coverage_test.go
  apps/backend/internal/orchestrator/event_handlers_agent_error_evaluate_only_test.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/workflow/engine/engine.go
  apps/backend/internal/workflow/engine/engine_test.go
  apps/backend/internal/workflow/engine/quorum_reevaluation_test.go
  docs/specs/workflow-evaluate-only-operation-marking/spec.md
  docs/specs/workflow-evaluate-only-operation-marking/verification.md
Due: gofmt, go-tests, go-lint

fix: harden launch recovery fixup
  apps/backend/internal/agent/runtime/routingerr/sanitize.go
  apps/backend/internal/agent/runtime/routingerr/sanitize_test.go
  apps/backend/internal/worktree/manager_lifecycle.go
  apps/backend/internal/worktree/manager_pr_head_collision_test.go
  apps/web/components/task/chat/chat-input-container.test.tsx
  apps/web/components/task/chat/chat-input-container.tsx
  apps/web/components/task/chat/stopped-banner-props.test.ts
  apps/web/components/task/chat/types.ts
  apps/web/components/task/simple/components/task-chat-launch-error.tsx
  apps/web/components/task/simple/components/task-launch-error-entry.test.tsx
  apps/web/components/task/simple/components/task-launch-error-entry.tsx
  apps/web/components/task/task-chat-panel.tsx
  docs/plans/task-launch-error-consolidation/plan.md
  docs/plans/task-launch-error-consolidation/task-01-isolate-reused-pr-refs.md
  docs/plans/task-launch-error-consolidation/task-03-consolidate-launch-error-presentation.md
  docs/specs/tasks/system-design/task-launch-failure-recovery.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

perf(web): tighten kanban render isolation
  apps/web/components/kanban/swimlane-container.render-stability.test.tsx
  apps/web/components/kanban/virtualized-column-task-list.render-stability.test.tsx
  apps/web/components/kanban/virtualized-column-task-list.tsx
  apps/web/hooks/domains/kanban/use-swimlane-render-data.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

media: screenshots for PR #3440
  workflow-editor-pr-capture--desktop-focused-script.png
  workflow-editor-pr-capture--mobile-focused-script.png
  workflow-editor-pr-capture--mobile-workflow-journey.png
Due: none

fix(tasks): handle clarification response edge cases
  apps/backend/internal/clarification/resolver.go
  apps/backend/internal/clarification/resolver_preclaim_test.go
  apps/web/hooks/domains/session/use-clarification-group.timeout.test.ts
  apps/web/hooks/domains/session/use-clarification-group.ts
  docs/specs/tasks/system-design/clarification-response-reliability.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

chore(backend): remove dead office-session index classifier
  apps/backend/internal/task/repository/sqlite/office_session_race_guard_test.go
  apps/backend/internal/task/repository/sqlite/office_task_session_uniqueness.go
  apps/backend/internal/task/repository/sqlite/office_task_session_uniqueness_postgres_test.go
  apps/backend/internal/task/repository/sqlite/office_task_session_uniqueness_test.go
Due: gofmt, go-tests, go-lint

fix(orchestrator): resolve HandleInput to engine's import path in the pin guard
  apps/backend/internal/orchestrator/evaluate_only_operation_marking_pin_test.go
  apps/backend/internal/orchestrator/event_handlers_agent_error.go
Due: gofmt, go-tests, go-lint

perf(web): skip redundant sidebar task comparison
  apps/web/components/task/task-session-sidebar-grouped-view.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
