Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

docs(tasks): specify archive with an absent canonical environment
  docs/plans/archive-absent-canonical-environment/plan.md
  docs/plans/archive-absent-canonical-environment/task-01-absent-canonical-environment.md
  docs/specs/tasks/requirements/detached-workspace-continuity.md
  docs/specs/tasks/system-design/detached-workspace-continuity.md
Due: none

fix(tasks): archive a task whose canonical environment is gone
  apps/backend/internal/task/service/handoff_cascade.go
  apps/backend/internal/task/service/handoff_cascade_absent_environment_test.go
  apps/backend/internal/task/service/handoff_workspace_test.go
  docs/plans/archive-absent-canonical-environment/task-01-absent-canonical-environment.md
Due: gofmt, go-tests, go-lint

fix(tasks): scope absent-environment archive tolerance away from delete
  apps/backend/internal/task/service/handoff_cascade.go
  apps/backend/internal/task/service/handoff_cascade_absent_environment_test.go
  docs/plans/archive-absent-canonical-environment/plan.md
  docs/plans/archive-absent-canonical-environment/task-01-absent-canonical-environment.md
  docs/specs/tasks/system-design/detached-workspace-continuity.md
Due: gofmt, go-tests, go-lint

fix(office): encode human_rooted as int4 for Postgres run/ledger inserts
  apps/backend/internal/runs/repository/sqlite/claim.go
  apps/backend/internal/runs/repository/sqlite/runs.go
  apps/backend/internal/runs/service/service_postgres_test.go
  apps/backend/internal/runs/service/service_test.go
Due: gofmt, go-tests, go-lint

docs(tasks): migrate plan and work order to the new coverage frontmatter
  docs/plans/archive-absent-canonical-environment/plan.md
  docs/plans/archive-absent-canonical-environment/task-01-absent-canonical-environment.md
Due: none

test(office): assure seat provenance guarantees with explicit coverage
  apps/backend/internal/office/dashboard/handler_test.go
  apps/backend/internal/office/dashboard/participant_claim_cancel_failure_test.go
  apps/backend/internal/office/dashboard/participant_role_refusal_internal_test.go
  apps/backend/internal/office/dashboard/participant_surface_refusals_test.go
  apps/backend/internal/office/dashboard/participants_test.go
  apps/backend/internal/office/repository/sqlite/participant_claim_window_postgres_test.go
  apps/backend/internal/office/repository/sqlite/participant_guard_test.go
  apps/backend/internal/office/repository/sqlite/participant_provenance_test.go
  apps/backend/internal/office/repository/sqlite/participant_step_resolution_test.go
  apps/backend/internal/office/repository/sqlite/participants.go
  apps/backend/internal/office/repository/sqlite/participants_ops_test.go
  apps/web/e2e/tests/office/workflow-quorum-transitions.spec.ts
  docs/plans/participant-seat-provenance-assurance/plan.md
  docs/plans/participant-seat-provenance-assurance/task-01-store-boundary-guard.md
  docs/plans/participant-seat-provenance-assurance/task-02-repository-provenance-cases.md
  docs/plans/participant-seat-provenance-assurance/task-03-surface-refusals-and-claim-activity.md
  docs/plans/participant-seat-provenance-assurance/task-04-cancellation-failure-residual.md
  docs/plans/participant-seat-provenance-assurance/task-05-deterministic-claim-window.md
  docs/plans/participant-seat-provenance-assurance/task-06-e2e-quorum-required-count.md
  docs/specs/office/requirements/participant-seat-provenance-assurance.md
  docs/specs/office/system-design/participant-seat-provenance-assurance-01.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(office): rename seatRow test helper to avoid a post-rebase name clash
  apps/backend/internal/office/repository/sqlite/participants_ops_test.go
Due: gofmt, go-tests, go-lint

fix: address right-panel visibility review feedback
  apps/web/components/task/task-right-panels-toggle.test.tsx
  apps/web/components/task/task-right-panels-toggle.tsx
  apps/web/e2e/fixtures/test-base.ts
  apps/web/e2e/tests/layout/mobile-right-panel-visibility.spec.ts
  apps/web/e2e/tests/layout/right-panel-visibility.spec.ts
  apps/web/lib/state/dockview-right-panel-visibility.test.ts
  apps/web/lib/state/dockview-store.ts
  apps/web/lib/state/layout-manager/serializer.test.ts
  apps/web/lib/state/layout-manager/serializer.ts
  docs/plans/right-panel-visibility/plan.md
  docs/plans/right-panel-visibility/task-01-persistent-toggle.md
  docs/specs/ui/system-design/right-panel-visibility.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(office): stop the task-boundary causation carrier from being forged
  apps/backend/internal/backendapp/adapters_office.go
  apps/backend/internal/backendapp/runs_engine_adapter_actor_test.go
  apps/backend/internal/task/models/models.go
  apps/backend/internal/task/service/service_child_task.go
  apps/backend/internal/task/service/service_office_carrier_metadata_test.go
  apps/backend/internal/task/service/service_requests.go
  apps/backend/internal/task/service/service_task_metadata.go
  apps/backend/internal/task/service/service_tasks.go
Due: gofmt, go-tests, go-lint

docs: satisfy pr-docs work-order schema for seat-provenance-assurance plan
  docs/plans/participant-seat-provenance-assurance/plan.md
  docs/plans/participant-seat-provenance-assurance/task-01-store-boundary-guard.md
  docs/plans/participant-seat-provenance-assurance/task-02-repository-provenance-cases.md
  docs/plans/participant-seat-provenance-assurance/task-03-surface-refusals-and-claim-activity.md
  docs/plans/participant-seat-provenance-assurance/task-04-cancellation-failure-residual.md
  docs/plans/participant-seat-provenance-assurance/task-05-deterministic-claim-window.md
  docs/plans/participant-seat-provenance-assurance/task-06-e2e-quorum-required-count.md
Due: none

fix(office): serialize the self-trigger enqueue gate against concurrent QueueRun
  apps/backend/internal/runs/repository/sqlite/causation.go
  apps/backend/internal/runs/repository/sqlite/enqueue_tx.go
  apps/backend/internal/runs/repository/sqlite/runs.go
  apps/backend/internal/runs/service/causation.go
  apps/backend/internal/runs/service/causation_self_trigger_race_postgres_test.go
  apps/backend/internal/runs/service/service.go
Due: gofmt, go-tests, go-lint

docs: add cross-workspace transfer delivery package
  docs/plans/cross-workspace-task-transfers/plan.md
  docs/plans/cross-workspace-task-transfers/task-01-cross-workspace-task-transfer.md
  docs/specs/tasks/requirements/cross-workspace-task-transfer.md
  docs/specs/tasks/system-design/cross-workspace-task-transfer.md
Due: none

docs: register transfer specs in tasks system map
  docs/specs/tasks/README.md
Due: none

docs(test): record environment scrub drift guard delivery package
  docs/plans/env-scrub-drift-guards/plan.md
  docs/plans/env-scrub-drift-guards/task-01-scan-aliased-os-reads.md
Due: none

fix: restore coordinator authority phrasing within prompt budget
  apps/backend/internal/sysprompt/sysprompt.go
Due: gofmt, go-tests, go-lint

docs(specs): add delivery package for direct profile invocation
  docs/plans/plugin-direct-profile-invocation/plan.md
  docs/plans/plugin-direct-profile-invocation/task-01-direct-profile-invocation.md
  docs/plans/plugin-direct-profile-invocation/task-02-notes-companion-delivery.md
  docs/specs/plugins/requirements/plugin-direct-profile-invocation.md
  docs/specs/plugins/system-design/plugin-direct-profile-invocation.md
Due: none

docs: satisfy PR documentation coverage contract
  docs/plans/pr-watch-and-storage-bounds/plan.md
  docs/plans/pr-watch-and-storage-bounds/task-01-canonical-watch-migration.md
  docs/plans/pr-watch-and-storage-bounds/task-02-idempotent-polling-events.md
  docs/plans/pr-watch-and-storage-bounds/task-03-contention-safe-projection.md
  docs/plans/pr-watch-and-storage-bounds/task-04-github-auth-backoff-observability.md
  docs/plans/pr-watch-and-storage-bounds/task-05-bounded-history-storage.md
  docs/plans/pr-watch-and-storage-bounds/task-06-database-maintenance-command.md
  docs/plans/pr-watch-and-storage-bounds/task-07-operator-docs-load-validation.md
  docs/specs/integrations/requirements/pr-watch-identity.md
  docs/specs/integrations/requirements/provider-failure-backoff.md
  docs/specs/integrations/system-design/pr-watch-identity.md
  docs/specs/integrations/system-design/provider-failure-backoff.md
  docs/specs/platform/README.md
  docs/specs/platform/requirements/task-summary-contention.md
  docs/specs/platform/system-design/task-summary-contention.md
  docs/specs/system-page/requirements/database-maintenance-command.md
  docs/specs/system-page/system-design/database-maintenance-command.md
  docs/specs/tasks/README.md
  docs/specs/tasks/requirements/bounded-session-history.md
  docs/specs/tasks/system-design/bounded-session-history.md
Due: none

test(orchestrator): cover unattributed CREATED-session settlement refusal
  apps/backend/internal/orchestrator/stale_session_settlement_test.go
Due: gofmt, go-tests, go-lint

docs: add work order frontmatter for PR documentation coverage
  docs/plans/coordinator-authority/plan.md
  docs/plans/coordinator-authority/task-05-operator-api.md
  docs/plans/coordinator-authority/task-06-operator-ui.md
  docs/plans/coordinator-authority/task-07-docs.md
Due: none

docs(plugins): add curated release publication work order
  docs/plans/curated-plugin-release-publication/plan.md
  docs/plans/curated-plugin-release-publication/task-01-prompt-publication.md
Due: none

docs: migrate scoped CI package to coverage schema
  docs/plans/scoped-coordinator-ci-runs/plan.md
  docs/plans/scoped-coordinator-ci-runs/task-01-persistence.md
  docs/plans/scoped-coordinator-ci-runs/task-02-provider.md
  docs/plans/scoped-coordinator-ci-runs/task-03-policy-and-mcp.md
  docs/plans/scoped-coordinator-ci-runs/task-04-verification-and-docs.md
  docs/plans/scoped-coordinator-ci-runs/task-05-review-remediation.md
  docs/specs/integrations/requirements/scoped-coordinator-ci-runs.md
  docs/specs/integrations/scoped-coordinator-ci-runs.md
  docs/specs/integrations/system-design/scoped-coordinator-ci-runs.md
Due: none

fix(office): route wakeup-fired runs through the authoritative QueueRun seam
  apps/backend/internal/backendapp/main.go
  apps/backend/internal/office/service/run.go
  apps/backend/internal/office/wakeup/dispatcher.go
  apps/backend/internal/office/wakeup/dispatcher_race_test.go
  apps/backend/internal/office/wakeup/dispatcher_test.go
  apps/backend/internal/office/wakeup/routine_e2e_test.go
  apps/backend/internal/runs/service/service.go
Due: gofmt, go-tests, go-lint

fix(runs): page claim candidate scan past one batch to stop starvation
  apps/backend/internal/office/shared/launch_safety_metrics.go
  apps/backend/internal/runs/repository/sqlite/claim.go
  apps/backend/internal/runs/repository/sqlite/claim_safety_test.go
Due: gofmt, go-tests, go-lint

fix(office): thread the causation carrier onto create_child_task's child
  apps/backend/internal/backendapp/adapters_office.go
  apps/backend/internal/backendapp/main.go
  apps/backend/internal/office/engine_adapters/task_creator_adapter.go
  apps/backend/internal/office/engine_adapters/task_creator_adapter_test.go
  apps/backend/internal/office/service/run.go
  apps/backend/internal/office/service/run_causation_carrier.go
  apps/backend/internal/office/service/run_causation_from_task_test.go
Due: gofmt, go-tests, go-lint

fix(office): register 7 missing reactivity-pipeline wake reasons
  apps/backend/internal/office/shared/wakereasons.go
  apps/backend/internal/office/shared/wakereasons_completeness_test.go
Due: gofmt, go-tests, go-lint

test(office): pin every runs-table insert to the authoritative seam
  apps/backend/internal/office/shared/enqueue_consolidation_test.go
Due: gofmt, go-tests, go-lint

docs(plans): satisfy PR documentation coverage evaluator
  docs/plans/github-rate-limit-coordination/plan.md
  docs/plans/github-rate-limit-coordination/task-01-rate-classification.md
  docs/plans/github-rate-limit-coordination/task-02-rate-coordinator.md
  docs/plans/github-rate-limit-coordination/task-03-workflow-sync-backoff.md
  docs/plans/github-rate-limit-coordination/task-04-operation-rate-errors.md
  docs/plans/github-rate-limit-coordination/task-05-docs-verification.md
Due: none

docs: add coordinator related-task reads delivery package
  docs/plans/coordinator-related-task-reads/plan.md
  docs/plans/coordinator-related-task-reads/task-01-coordinator-relation-authorization.md
Due: none

docs: remove trailing whitespace in delivery package table
  docs/plans/coordinator-related-task-reads/plan.md
Due: none

docs: consolidate PR-watch delivery package under the platform system
  docs/plans/pr-watch-and-storage-bounds/plan.md
  docs/plans/pr-watch-and-storage-bounds/task-01-canonical-watch-migration.md
  docs/plans/pr-watch-and-storage-bounds/task-02-idempotent-polling-events.md
  docs/plans/pr-watch-and-storage-bounds/task-03-contention-safe-projection.md
  docs/plans/pr-watch-and-storage-bounds/task-04-github-auth-backoff-observability.md
  docs/plans/pr-watch-and-storage-bounds/task-05-bounded-history-storage.md
  docs/plans/pr-watch-and-storage-bounds/task-06-database-maintenance-command.md
  docs/plans/pr-watch-and-storage-bounds/task-07-operator-docs-load-validation.md
  docs/specs/integrations/requirements/pr-watch-identity.md
  docs/specs/integrations/requirements/provider-failure-backoff.md
  docs/specs/integrations/system-design/pr-watch-identity.md
  docs/specs/integrations/system-design/provider-failure-backoff.md
  docs/specs/platform/requirements/pr-watch-and-bounded-storage.md
  docs/specs/platform/requirements/task-summary-contention.md
  docs/specs/platform/system-design/pr-watch-and-bounded-storage.md
  docs/specs/platform/system-design/task-summary-contention.md
  docs/specs/system-page/requirements/database-maintenance-command.md
  docs/specs/system-page/system-design/database-maintenance-command.md
  docs/specs/tasks/requirements/bounded-session-history.md
  docs/specs/tasks/system-design/bounded-session-history.md
Due: none

fix(workflow): complete terminal route fencing lost in upstream merge
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/messagequeue/repository_sqlite.go
  apps/backend/internal/orchestrator/workflow_store.go
  apps/backend/internal/task/repository/sqlite/task.go
Due: gofmt, go-tests, go-lint

docs(plans): add task change-request link delivery package
  docs/plans/manage-task-pr-and-m/plan.md
  docs/plans/manage-task-pr-and-m/task-01-coordinator.md
  docs/specs/integrations/README.md
  docs/specs/integrations/requirements/task-change-link-mcp.md
  docs/specs/integrations/system-design/task-change-link-mcp.md
Due: none

docs(plugins): add H6 capability approval delivery package
  docs/plans/plugins-capability-approval/plan.md
  docs/plans/plugins-capability-approval/task-01-capability-approval-substrate.md
  docs/specs/plugins/requirements/capability-approval.md
  docs/specs/plugins/system-design/capability-approval.md
Due: none

docs: refresh coordinator plan validation record to current head
  docs/plans/coordinator-authority/plan.md
Due: none

docs: add administrative turn settlement delivery package
  docs/plans/administrative-turn-settlement/plan.md
Due: none

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
