Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

fix(backend): short-circuit on GetRepository error; add unit tests
  apps/backend/internal/task/service/repository_discovery.go
  apps/backend/internal/task/service/repository_discovery_test.go
Due: gofmt, go-tests, go-lint

fix(logger): propagate rotator in WithFields, harden config validation
  apps/backend/cmd/kandev/main.go
  apps/backend/internal/common/config/config.go
  apps/backend/internal/common/logger/logger.go
  apps/backend/internal/common/logger/logger_test.go
Due: gofmt, go-tests, go-lint

test(web): stabilize URL-reopen branch test in shard 7
  apps/web/e2e/tests/task/create-task-url-reopen-no-branches.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(backend): fix duplicate 'before' in RemoteBranchLister comment
  apps/backend/internal/task/service/service.go
Due: gofmt, go-tests, go-lint

fix: normalize db driver case, single zap.With, tests for validate
  apps/backend/internal/common/config/config.go
  apps/backend/internal/common/config/config_test.go
  apps/backend/internal/common/logger/logger.go
  docs/configuration.md
Due: gofmt, go-tests, go-lint

style(web): prettier-format create-task-url-reopen test
  apps/web/e2e/tests/task/create-task-url-reopen-no-branches.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

release: 0.44.0
  CHANGELOG.md
  apps/cli/package.json
Due: prettier-format

fix(lifecycle): make agentctl health retry delay cancelable
  apps/backend/internal/agent/lifecycle/container.go
  apps/backend/internal/agent/lifecycle/executor_docker.go
Due: gofmt, go-tests, go-lint

fix(scripts): non-destructive postlude branch checkout
  apps/backend/internal/agent/lifecycle/default_scripts.go
  apps/backend/internal/agent/lifecycle/default_scripts_test.go
Due: gofmt, go-tests, go-lint

fix(lifecycle): reject non-regular files for KANDEV_MOCK_AGENT_LINUX_BINARY
  apps/backend/internal/agent/lifecycle/mock_agent_resolver.go
Due: gofmt, go-tests, go-lint

docs(test): update stale comment after retry-delay became cancelable
  apps/backend/internal/agent/lifecycle/executor_docker_reconnect_test.go
Due: gofmt, go-tests, go-lint

feat: support tasks without a repository (#850)
  .gitignore
  apps/backend/cmd/kandev/adapters.go
  apps/backend/internal/agent/handlers/git_handlers.go
  apps/backend/internal/agent/lifecycle/manager.go
  apps/backend/internal/agent/lifecycle/manager_launch.go
  apps/backend/internal/agent/lifecycle/manager_launch_test.go
  apps/backend/internal/agent/lifecycle/types.go
  apps/backend/internal/orchestrator/executor/executor.go
  apps/backend/internal/orchestrator/executor/executor_execute.go
  apps/backend/internal/task/handlers/repository_handlers.go
  apps/backend/internal/task/handlers/task_http_handlers.go
  apps/backend/internal/task/models/models.go
  apps/backend/internal/task/repository/sqlite/base.go
  apps/backend/internal/task/repository/sqlite/session.go
  apps/backend/internal/task/service/directory_listing.go
  apps/backend/internal/task/service/directory_listing_test.go
  apps/backend/internal/task/service/service_requests.go
  apps/backend/internal/task/service/service_tasks.go
  apps/web/components/folder-picker.tsx
  apps/web/components/task-create-dialog-effects.ts
  apps/web/components/task-create-dialog-handlers.ts
  apps/web/components/task-create-dialog-helpers.ts
  apps/web/components/task-create-dialog-repo-chips.tsx
  apps/web/components/task-create-dialog-setup.tsx
  apps/web/components/task-create-dialog-source-mode.tsx
  apps/web/components/task-create-dialog-state.ts
  apps/web/components/task-create-dialog-submit.tsx
  apps/web/components/task-create-dialog-types.ts
  apps/web/components/task-create-dialog.tsx
  apps/web/components/task/dockview-desktop-layout.tsx
  apps/web/components/task/new-subtask-form-state.ts
  apps/web/e2e/tests/task/create-task-github-url.spec.ts
  apps/web/hooks/domains/kanban/use-active-task-has-repos.ts
  apps/web/lib/api/domains/fs-api.ts
  apps/web/lib/api/domains/kanban-api.ts
  docs/specs/INDEX.md
  docs/specs/tasks-without-repositories/plan.md
  docs/specs/tasks-without-repositories/spec.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(lifecycle): gate wakeup flip on turn-content events and handle empty turns
  apps/backend/internal/agent/lifecycle/manager_events.go
  apps/backend/internal/agent/lifecycle/wakeup_e2e_test.go
  apps/backend/internal/agent/lifecycle/wakeup_simulated_test.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/wakeup_e2e_test.go
Due: gofmt, go-tests, go-lint

fix(lifecycle): publish AgentRunning before AgentReady on empty wakeup turns
  apps/backend/internal/agent/lifecycle/manager_events.go
  apps/backend/internal/agent/lifecycle/wakeup_simulated_test.go
Due: gofmt, go-tests, go-lint

fix(docker): persist agent and gh CLI auth on /data volume
  Dockerfile
  docker-entrypoint.sh
  docs/docker.md
  docs/k8s.md
Due: none

feat(web): differentiate pending permission icon from turn finished in sidebar
  apps/web/components/task/mobile/session-task-switcher-sheet-hooks.ts
  apps/web/components/task/task-item.test.tsx
  apps/web/components/task/task-item.tsx
  apps/web/components/task/task-session-sidebar.tsx
  apps/web/components/task/task-switcher.tsx
  apps/web/lib/ui/state-icons.tsx
  apps/web/lib/utils/pending-clarification.test.ts
  apps/web/lib/utils/pending-clarification.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor(web): use shouldUsePermissionTaskIcon helper in TaskItem for consistency
  apps/web/components/task/task-item.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): preserve sidebar scroll position across task switches
  apps/web/components/task/task-session-sidebar.tsx
  apps/web/e2e/tests/task/sidebar-scroll-preservation.spec.ts
  apps/web/lib/layout/panel-portal-host.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(tasks): preserve 'All Workflows' on /tasks page navigation
  apps/web/app/tasks/page.tsx
  apps/web/e2e/tests/task/task-list-filters.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(github): treat approved PRs with pending reviewers as awaiting review
  apps/web/components/github/pr-status-chip.tsx
  apps/web/components/github/pr-task-icon.test.ts
  apps/web/components/github/pr-task-icon.tsx
  apps/web/components/github/pr-topbar-button.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(github): hide Approve PR button when current user is the PR author
  apps/web/components/github/pr-detail-panel.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(improve-kandev): lock workflow, block submit during bootstrap, dedupe repos
  apps/backend/internal/improvekandev/handler.go
  apps/backend/internal/improvekandev/handler_test.go
  apps/web/components/improve-kandev-dialog-create.tsx
  apps/web/components/task-create-dialog-footer.test.ts
  apps/web/components/task-create-dialog-footer.tsx
  apps/web/components/task-create-dialog-form-body.tsx
  apps/web/components/task-create-dialog.tsx
  apps/web/components/workflow-selector-row.tsx
  apps/web/e2e/tests/improve-kandev.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(github): e2e coverage for PR awaiting-review color and self-approve hide
  apps/web/components/github/pr-detail-panel.tsx
  apps/web/e2e/pages/session-page.ts
  apps/web/e2e/tests/pr/pr-approve-button.spec.ts
  apps/web/e2e/tests/pr/pr-status-badge.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(github): address PR review feedback on approve button and chip
  apps/web/components/github/pr-detail-panel.tsx
  apps/web/components/github/pr-status-chip.tsx
  docs/docker.md
  docs/k8s.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): re-apply sidebar scroll snapshot until layout settles
  apps/web/lib/layout/panel-portal-host.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(improve-kandev): hide None source-mode when repository is locked
  apps/web/components/task-create-dialog.tsx
  apps/web/e2e/tests/improve-kandev.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): stop fighting user scroll once layout settles in restore window
  apps/web/lib/layout/panel-portal-host.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): allow delete/archive of kanban cards in All Workflows view
  apps/web/e2e/tests/kanban/card-menu-delete-archive.spec.ts
  apps/web/hooks/use-task-crud.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(improve-kandev): route Cmd/Ctrl+Enter shortcut through bootstrap guard
  apps/web/components/task-create-dialog.tsx
  apps/web/e2e/tests/improve-kandev.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor(web): start tree walk after portal root in restorePortalScroll
  apps/web/lib/layout/panel-portal-host.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): inline rationale on testPage eslint-disable
  apps/web/e2e/tests/kanban/card-menu-delete-archive.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): preserve sidebar scroll position across task switches (#884)
  apps/web/components/task/task-session-sidebar.tsx
  apps/web/e2e/tests/task/sidebar-scroll-preservation.spec.ts
  apps/web/lib/layout/panel-portal-host.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): allow delete/archive of kanban cards in All Workflows view (#886)
  apps/web/e2e/tests/kanban/card-menu-delete-archive.spec.ts
  apps/web/hooks/use-task-crud.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

release: 0.45.0
  CHANGELOG.md
  apps/cli/package.json
Due: prettier-format

fix(e2e): release agent ports during E2E reset to prevent shard exhaustion
  apps/backend/cmd/kandev/e2e_reset.go
  apps/backend/internal/task/service/service_tasks.go
Due: gofmt, go-tests, go-lint

fix: address review feedback on E2E reset path
  apps/backend/cmd/kandev/e2e_reset.go
  apps/backend/internal/task/repository/sqlite/task.go
  apps/backend/internal/task/service/service_test.go
Due: gofmt, go-tests, go-lint

perf(e2e): only block on agent stops, not full cleanup, in reset
  apps/backend/cmd/kandev/e2e_reset.go
  apps/backend/internal/task/service/service_tasks.go
Due: gofmt, go-tests, go-lint

fix(e2e): use async DeleteTask in reset and bump per-worker port range
  apps/backend/cmd/kandev/e2e_reset.go
  apps/backend/internal/task/service/service_tasks.go
  apps/backend/internal/task/service/service_test.go
  apps/web/e2e/fixtures/backend.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

docs(e2e): clarify per-worker port range ceiling math
  apps/web/e2e/fixtures/backend.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
