Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

fix(tasks): fail closed when the backend's own ancestry walk is unresolved
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_ownership.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_ownership_test.go
Due: gofmt, go-tests, go-lint

fix(tasks): decouple orphan-reap root recording from the stop gate
  apps/backend/internal/task/service/resource_cleanup_jobs.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_metrics_test.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_phase_test.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_stopgate_test.go
Due: gofmt, go-tests, go-lint

fix(tasks): extract repeated orphan-reap signal-sent strings to constants
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_signal.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_signal_test.go
Due: gofmt, go-tests, go-lint

fix(tasks): remove review-round narration from orphan-reap comments
  apps/backend/internal/task/service/resource_cleanup_orphan_reap.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_ownership_test.go
Due: gofmt, go-tests, go-lint

fix(tasks): correct orphan reap's worktree containment direction
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_ownership.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_ownership_test.go
  docs/specs/tasks/requirements/workspace-orphan-process-reaping.md
  docs/specs/tasks/system-design/workspace-orphan-process-reaping.md
Due: gofmt, go-tests, go-lint

fix(tasks): reject orphan-reap lsof records with a raw control byte
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_host_parse.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_host_parse_test.go
Due: gofmt, go-tests, go-lint

fix(tasks): fail closed on ambiguous orphan-reap safety checks
  apps/backend/internal/task/service/resource_cleanup_orphan_reap.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_host_darwin.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_host_linux.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_host_parse.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_host_parse_test.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_metrics_test.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_ownership.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_ownership_test.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_phase_test.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_roots_test.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_signal.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_signal_test.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_stopgate_test.go
Due: gofmt, go-tests, go-lint

fix(tasks): fail closed when orphan-reap ancestry hits an unresolved ppid
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_host_parse.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_host_parse_test.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_ownership.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_ownership_test.go
Due: gofmt, go-tests, go-lint

fix(tasks): record orphan-reap root before cancellation can skip it
  apps/backend/internal/task/service/resource_cleanup_jobs.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_stopgate_test.go
Due: gofmt, go-tests, go-lint

fix(tasks): detach orphan-reap snapshot persistence from cancellation
  apps/backend/internal/task/service/resource_cleanup_orphan_reap.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_stopgate_test.go
Due: gofmt, go-tests, go-lint

docs(tasks): add delivery-package work order for orphan reap
  docs/plans/workspace-orphan-process-reaping/plan.md
  docs/plans/workspace-orphan-process-reaping/task-01-reap-orphaned-workspace-processes.md
Due: none

fix(office): rename status-gate test router helper to avoid name collision
  apps/backend/internal/office/routines/handler_status_gate_test.go
Due: gofmt, go-tests, go-lint

fix(web): drop dangling pre-refactor imports left by main merge
  apps/web/components/kanban-card.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(office): clarify catch-up delivery boundary and mobile coverage
  apps/web/e2e/tests/office/mobile-routine-catch-up-policy-ui.spec.ts
  docs/specs/office/requirements/routine-catch-up.md
  docs/specs/office/system-design/routine-catch-up-01.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(office): order legacy postgres claim fixture
  apps/backend/internal/persistence/storeconformance/testdata/upgrades/v0.93.0/manifest.json
  apps/backend/internal/persistence/storeconformance/testdata/upgrades/v0.93.0/postgres.sql
Due: none

fix(office): restore AC-001.11 dispatch-and-24h-rearm on catch-up failure
  apps/backend/internal/office/routines/catch_up_test.go
  apps/backend/internal/office/routines/service.go
  apps/backend/internal/office/routines/service_catchup_test.go
  apps/backend/internal/office/routines/service_cron_advance_failure_test.go
  docs/plans/routine-catch-up/plan.md
  docs/plans/routine-catch-up/task-01-tick-and-gap.md
  docs/plans/routine-catch-up/task-02-policy-rename.md
Due: gofmt, go-tests, go-lint

fix(office): localize routine status refusals
  apps/web/app/office/lib/routine-not-firing.test.ts
  apps/web/app/office/lib/routine-not-firing.ts
  docs/specs/office/requirements/routine-status-gating.md
  docs/specs/office/system-design/routine-status-gating.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): retry transient plan comment wire errors
  apps/web/e2e/tests/session/plan-comment-recovery-helpers.ts
  apps/web/hooks/domains/comments/plan-comment-migration.test.ts
  apps/web/hooks/domains/comments/plan-comment-migration.ts
  apps/web/hooks/domains/comments/use-plan-comments.test.tsx
  docs/plans/plan-comment-recovery/plan.md
  docs/plans/plan-comment-recovery/task-01-recover-plan-comment-context.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(ci): reuse documentation requirement lookups
  .github/scripts/pr-docs.cjs
  .github/scripts/pr-docs.test.cjs
  docs/plans/pr-documentation-coverage/plan.md
  docs/plans/pr-documentation-coverage/task-01-coverage-validator.md
Due: none

docs(office): align catch-up failure contract
  docs/specs/office/requirements/routine-catch-up.md
  docs/specs/office/system-design/routine-catch-up-01.md
Due: none

fix(web): finish selected comment recovery before Run
  apps/web/components/task/chat/chat-input-area.test.tsx
  apps/web/components/task/passthrough-chat-composer.test.ts
  apps/web/e2e/tests/session/plan-comment-recovery-helpers.ts
  apps/web/hooks/domains/comments/plan-comment-migration.test.ts
  apps/web/hooks/domains/comments/plan-comment-migration.ts
  apps/web/hooks/domains/comments/use-run-comment-legacy-recovery.test.tsx
  apps/web/hooks/domains/comments/use-run-comment.ts
  apps/web/lib/state/slices/session/task-plan-comment-actions.test.ts
  apps/web/scripts/lib/zh-hant-overrides.json
  apps/web/src/locales/en/task.json
  apps/web/src/locales/pseudo/task.json
  apps/web/src/locales/pt-pt/task.json
  apps/web/src/locales/zh-cn/task.json
  apps/web/src/locales/zh-hk/task.json
  apps/web/src/locales/zh-tw/task.json
  docs/plans/plan-comment-recovery/plan.md
  docs/plans/plan-comment-recovery/task-01-recover-plan-comment-context.md
  docs/public/tasks-and-workflows.md
  docs/specs/tasks/system-design/plan-comments.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): isolate recovery state and resume targets
  apps/web/e2e/pages/session-page.ts
  apps/web/e2e/tests/session/session-page-recovery.spec.ts
  apps/web/hooks/domains/comments/plan-comment-migration.test.ts
  apps/web/hooks/domains/comments/plan-comment-migration.ts
  docs/plans/plan-comment-recovery/plan.md
  docs/plans/plan-comment-recovery/task-01-recover-plan-comment-context.md
  docs/specs/tasks/system-design/plan-comments.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(office): keep cross-task wave runs distinct
  apps/backend/internal/office/scheduler/run_test.go
  apps/backend/internal/runs/service/cross_task_wave_test.go
  apps/backend/internal/runs/service/service_test.go
  apps/backend/internal/workflow/engine/phase2_callbacks.go
  apps/backend/internal/workflow/engine/queue_run_wave_identity_test.go
  docs/specs/office/system-design/parent-wake-wave-identity.md
Due: gofmt, go-tests, go-lint

fix(office): classify budget-unmeasurable skips
  apps/backend/internal/office/service/terminal_shapes.go
  apps/backend/internal/office/service/terminal_shapes_test.go
  docs/specs/office/requirements/loop-liveness.md
  docs/specs/office/system-design/loop-liveness.md
Due: gofmt, go-tests, go-lint

fix: harden kanban reorder authorization and reconciliation
  apps/backend/internal/task/handlers/task_http_handlers.go
  apps/backend/internal/task/handlers/task_reorder_handlers_test.go
  apps/backend/internal/task/repository/sqlite/task.go
  apps/backend/internal/task/repository/sqlite/task_move_source_lock_postgres_test.go
  apps/backend/internal/task/service/service_access.go
  apps/backend/internal/task/service/service_reorder.go
  apps/backend/internal/task/service/service_reorder_test.go
  apps/web/hooks/domains/kanban/use-step-reorder-reconciliation.test.ts
  apps/web/hooks/domains/kanban/use-step-reorder.test.ts
  apps/web/hooks/domains/kanban/use-step-reorder.ts
  apps/web/lib/ws/handlers/kanban.ts
  apps/web/lib/ws/handlers/task-reordered.test.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(tasks): harden orphan process reaping
  apps/backend/internal/task/service/resource_cleanup_jobs.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_e2e_test.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_ownership.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_ownership_test.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_phase_test.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_signal.go
  apps/backend/internal/task/service/resource_cleanup_orphan_reap_signal_test.go
  docs/specs/tasks/system-design/workspace-orphan-process-reaping.md
Due: gofmt, go-tests, go-lint

fix(web): reset comment retries for replacement plans
  apps/web/hooks/domains/comments/plan-comment-loading.test.ts
  apps/web/hooks/domains/comments/plan-comment-loading.ts
  apps/web/hooks/domains/comments/plan-comment-migration.test.ts
  apps/web/hooks/domains/comments/plan-comment-migration.ts
  docs/plans/plan-comment-recovery/plan.md
  docs/plans/plan-comment-recovery/task-01-recover-plan-comment-context.md
  docs/specs/tasks/system-design/plan-comments.md
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: add kanban reorder delivery package
  docs/plans/kanban-task-reordering/plan.md
  docs/plans/kanban-task-reordering/task-01-implement-kanban-task-reordering.md
Due: none

docs(plans): add the office-loop-liveness delivery package
  docs/plans/office-loop-liveness/plan.md
  docs/plans/office-loop-liveness/task-01-make-the-loop-legible.md
Due: none

test: align swimlane height with persisted task order
  apps/web/e2e/tests/kanban/swimlane-height.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(e2e): target the last-created task for dense-column reachability
  apps/web/e2e/tests/kanban/swimlane-height.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: add Office run dedup delivery package
  docs/plans/office-run-dedup-generation/plan.md
  docs/plans/office-run-dedup-generation/task-01-run-dedup-generation.md
Due: none

fix(office): harden workspace pause recovery
  apps/backend/internal/backendapp/office_scope.go
  apps/backend/internal/backendapp/office_scope_test.go
  apps/backend/internal/office/pause/handler.go
  apps/backend/internal/office/pause/handler_test.go
  apps/backend/internal/office/pause/service.go
  apps/backend/internal/office/pause/service_test.go
  apps/backend/internal/office/pause/sweep.go
  apps/backend/internal/office/repository/sqlite/runs_inflight_postgres_test.go
  apps/backend/internal/office/repository/sqlite/workspace_pauses.go
  apps/backend/internal/office/repository/sqlite/workspace_pauses_test.go
  apps/web/app/office/components/workspace-pause-banner.tsx
  apps/web/hooks/domains/office/use-workspace-pause.test.tsx
  apps/web/hooks/domains/office/use-workspace-pause.ts
  apps/web/lib/api/domains/office-pause-api.test.ts
  apps/web/lib/api/domains/office-pause-api.ts
  apps/web/src/locales/en/office.json
  apps/web/src/locales/pseudo/office.json
  apps/web/src/locales/pt-pt/office.json
  apps/web/src/locales/zh-cn/office.json
  apps/web/src/locales/zh-hk/office.json
  apps/web/src/locales/zh-tw/office.json
  docs/specs/office/system-design/workspace-kill-switch-01.md
  docs/specs/office/system-design/workspace-kill-switch-02.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(task): close runner switch races
  apps/backend/internal/orchestrator/executor/executor_execute.go
  apps/backend/internal/orchestrator/executor/executor_office.go
  apps/backend/internal/orchestrator/executor/executor_office_test.go
  apps/backend/internal/orchestrator/executor/executor_test.go
  apps/backend/internal/orchestrator/executor/task_runner_context.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/task/models/models.go
  apps/backend/internal/task/models/runner_mutability.go
  apps/backend/internal/task/repository/sqlite/runner_switch_comparison_target_lock_test.go
  apps/backend/internal/task/repository/sqlite/runner_switch_test.go
  apps/backend/internal/task/repository/sqlite/session.go
  apps/backend/internal/task/repository/sqlite/task_repository_comparison_target.go
  apps/web/components/task-create-dialog-submit.test.tsx
  apps/web/components/task-create-dialog-submit.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

docs: complete TeamClaude usage plan references
  docs/plans/teamclaude-proxy-usage/plan.md
  docs/plans/teamclaude-proxy-usage/task-01-read-teamclaude-pool-utilization.md
  docs/plans/teamclaude-proxy-usage/task-02-profile-proxy-configuration.md
  docs/plans/teamclaude-proxy-usage/task-03-openrouter-key-usage.md
  docs/plans/teamclaude-proxy-usage/task-04-litellm-usage.md
Due: none

test(office): add Postgres coverage for halt-sweep inflight-run listing
  apps/backend/internal/office/repository/sqlite/runs_inflight_postgres_test.go
Due: gofmt, go-tests, go-lint

feat(runs,office): add requeue-on-pause primitive and agent-not-found sentinel
  apps/backend/internal/office/repository/sqlite/agents.go
  apps/backend/internal/office/repository/sqlite/agents_test.go
  apps/backend/internal/runs/repository/sqlite/requeue.go
  apps/backend/internal/runs/repository/sqlite/requeue_test.go
Due: gofmt, go-tests, go-lint

feat(office): gate every launch/dispatch site on workspace pause
  apps/backend/internal/backendapp/main.go
  apps/backend/internal/office/routes.go
  apps/backend/internal/office/scheduler/approval_adapter.go
  apps/backend/internal/office/scheduler/pause_gate_test.go
  apps/backend/internal/office/scheduler/reactivity.go
  apps/backend/internal/office/scheduler/run.go
  apps/backend/internal/office/service/pause_gate_test.go
  apps/backend/internal/office/service/run.go
  apps/backend/internal/office/service/scheduler_integration.go
  apps/backend/internal/office/service/service.go
  apps/backend/internal/office/services.go
  apps/backend/internal/office/wakeup/dispatcher.go
  apps/backend/internal/office/wakeup/pause_gate_test.go
Due: gofmt, go-tests, go-lint

feat(office): add workspace pause data layer
  apps/backend/internal/office/models/enums.go
  apps/backend/internal/office/models/models.go
  apps/backend/internal/office/models/workspace_pause.go
  apps/backend/internal/office/repository/sqlite/base.go
  apps/backend/internal/office/repository/sqlite/base_migrations.go
  apps/backend/internal/office/repository/sqlite/workspace_pauses.go
  apps/backend/internal/office/repository/sqlite/workspace_pauses_test.go
Due: gofmt, go-tests, go-lint

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
