Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

fix(queue): scope update/remove by session_id (cross-session deletion guard)
  apps/backend/internal/orchestrator/handlers/queue_handlers.go
  apps/backend/internal/orchestrator/messagequeue/repository.go
  apps/backend/internal/orchestrator/messagequeue/repository_memory.go
  apps/backend/internal/orchestrator/messagequeue/repository_sqlite.go
  apps/backend/internal/orchestrator/messagequeue/repository_sqlite_test.go
  apps/backend/internal/orchestrator/messagequeue/service.go
  apps/backend/internal/orchestrator/messagequeue/service_test.go
  apps/web/lib/api/domains/queue-api.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(queue): propagate transfer error + tighten WSError narrowing
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/messagequeue/service.go
  apps/web/lib/api/domains/queue-api.test.ts
  apps/web/lib/api/domains/queue-api.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(queue): check TransferSession error in service tests
  apps/backend/internal/orchestrator/messagequeue/service_test.go
Due: gofmt, go-tests, go-lint

fix(logger): wire logging.outputPath from config to logger
  apps/backend/cmd/kandev/main.go
Due: gofmt, go-tests, go-lint

fix(ci): harden release package publishing (#862)
  .github/workflows/e2e-tests.yml
  .github/workflows/frontend-tests.yml
  .github/workflows/preview-env.yml
  .github/workflows/release.yml
  Dockerfile
  apps/cli/src/release-config.test.ts
  scripts/release/publish-npm.sh
Due: prettier-format

fix(github): clear bot review-comment backlog
  apps/backend/internal/github/branch_protection.go
  apps/backend/internal/github/branch_protection_test.go
  apps/backend/internal/github/client_helpers.go
  apps/backend/internal/github/client_helpers_test.go
  apps/backend/internal/github/graphql.go
  apps/backend/internal/github/service_test.go
  apps/web/components/github/pr-status-chip.tsx
  apps/web/components/github/pr-topbar-button.tsx
  apps/web/hooks/domains/github/use-pr-ci-popover.ts
  apps/web/lib/github/check-buckets.test.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(web): clicking the CI chip no longer closes the popover
  apps/web/components/github/pr-status-chip.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): close kanban preview when opening the edit dialog
  apps/web/components/kanban-board.tsx
  apps/web/components/kanban-with-preview.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): stop card-click from firing when using kanban dropdown
  apps/web/components/kanban-board.tsx
  apps/web/components/kanban-card-menu-items.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): condense kanban handler comments to one line
  apps/web/components/kanban-board.tsx
  apps/web/components/kanban-card-menu-items.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): close kanban preview when opening the edit dialog (#868)
  apps/web/components/kanban-board.tsx
  apps/web/components/kanban-card-menu-items.tsx
  apps/web/components/kanban-with-preview.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address PR review feedback + add gh CLI sign-in button
  apps/backend/internal/agent/agents/agent.go
  apps/backend/internal/agent/loginpty/handlers.go
  apps/backend/internal/agent/loginpty/manager.go
  apps/backend/internal/agent/settings/controller/agent_install.go
  apps/backend/internal/agent/settings/controller/controller.go
  apps/web/app/settings/agents/page.tsx
  apps/web/components/github/github-status.tsx
  apps/web/components/settings/installed-agent-card.tsx
  apps/web/lib/state/slices/settings/settings-slice.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(web): cover kanban card menu delete/archive propagation + add pointer-down guard
  apps/web/components/kanban-card-menu-items.test.tsx
  apps/web/components/kanban-card-menu-items.tsx
  apps/web/e2e/tests/kanban/card-menu-delete-archive.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(web): promote gh CLI sign-in on GitHub integration page
  apps/web/components/github/github-status.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): remove duplicate PAT scopes hint on GitHub status card
  apps/web/components/github/github-status.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: drain login PTY output before tearing down subscribers
  apps/backend/internal/agent/loginpty/manager.go
  apps/web/components/github/github-status.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test: wait for install job to finish before cleanup restores stub
  apps/backend/internal/agent/settings/controller/agent_install_test.go
Due: gofmt, go-tests, go-lint

fix(loginpty): close Subscribe race and idle-disconnect writer leak
  apps/backend/internal/agent/loginpty/handlers.go
  apps/backend/internal/agent/loginpty/manager.go
Due: gofmt, go-tests, go-lint

fix(install): propagate scanner errors, release slot before notifying
  apps/backend/internal/agent/settings/controller/install_job.go
  apps/web/components/github/github-status.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(orchestrator): resolve subtask base_branch correctly across repos
  apps/backend/cmd/kandev/adapters.go
  apps/backend/internal/agent/lifecycle/env_preparer.go
  apps/backend/internal/agent/lifecycle/env_preparer_worktree.go
  apps/backend/internal/agent/lifecycle/manager_launch.go
  apps/backend/internal/agent/lifecycle/types.go
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/handlers_test.go
  apps/backend/internal/mcp/server/config_handlers.go
  apps/backend/internal/mcp/server/server.go
  apps/backend/internal/orchestrator/executor/executor.go
  apps/backend/internal/orchestrator/executor/executor_execute.go
  apps/backend/internal/task/service/service_tasks.go
  apps/backend/internal/task/service/service_test.go
  apps/backend/internal/worktree/manager.go
  apps/backend/internal/worktree/manager_base_branch_fallback_test.go
  apps/backend/internal/worktree/worktree.go
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/tests/task/subtask.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: address PR review feedback on worktree fallback
  apps/backend/internal/worktree/manager.go
  apps/backend/internal/worktree/manager_base_branch_fallback_test.go
  apps/web/e2e/tests/task/subtask.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

release: 0.42.0
  CHANGELOG.md
  apps/cli/package.json
Due: prettier-format

fix(worktree): use resolved fallback ref for branchExists check
  apps/backend/internal/worktree/manager.go
Due: gofmt, go-tests, go-lint

fix(mcp): scope cross-repo subtask base_branch default to MCP layer
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/task/service/service_tasks.go
  apps/backend/internal/task/service/service_test.go
Due: gofmt, go-tests, go-lint

fix(worktree): address Claude review feedback on fallback warning
  apps/backend/internal/agent/lifecycle/env_preparer_worktree.go
  apps/backend/internal/worktree/manager.go
Due: gofmt, go-tests, go-lint

fix(cli): skip NEXT_PUBLIC_KANDEV_API_PORT in production single-port mode
  apps/cli/src/shared.test.ts
  apps/cli/src/shared.ts
Due: prettier-format

fix(cli): strip host-level NEXT_PUBLIC_KANDEV_API_PORT in production
  apps/cli/src/shared.test.ts
  apps/cli/src/shared.ts
Due: prettier-format

fix(orchestrator): resolve subtask base_branch correctly across repos (#870)
  apps/backend/cmd/kandev/adapters.go
  apps/backend/internal/agent/lifecycle/env_preparer.go
  apps/backend/internal/agent/lifecycle/env_preparer_worktree.go
  apps/backend/internal/agent/lifecycle/manager_launch.go
  apps/backend/internal/agent/lifecycle/types.go
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/handlers_test.go
  apps/backend/internal/mcp/server/config_handlers.go
  apps/backend/internal/mcp/server/server.go
  apps/backend/internal/orchestrator/executor/executor.go
  apps/backend/internal/orchestrator/executor/executor_execute.go
  apps/backend/internal/worktree/manager.go
  apps/backend/internal/worktree/manager_base_branch_fallback_test.go
  apps/backend/internal/worktree/worktree.go
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/tests/task/subtask.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

release: 0.43.0
  CHANGELOG.md
  apps/cli/package.json
Due: prettier-format

feat(logger): add size/age/backup rotation for file output
  apps/backend/cmd/kandev/main.go
  apps/backend/go.mod
  apps/backend/go.sum
  apps/backend/internal/common/config/config.go
  apps/backend/internal/common/logger/logger.go
Due: gofmt, go-tests, go-lint

fix(web): anchor manual PR panel open to the session's live group
  apps/web/components/github/pr-topbar-button.tsx
  apps/web/components/task/dockview-add-panel-items.tsx
  apps/web/e2e/pages/session-page.ts
  apps/web/e2e/tests/pr/pr-detail-manual-open.spec.ts
  apps/web/lib/state/dockview-panel-actions.test.ts
  apps/web/lib/state/dockview-panel-actions.ts
  apps/web/lib/state/dockview-store.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): lock chip-row min-height so modal doesn't shift on mode toggle
  apps/web/components/task-create-dialog-repo-chips.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: let folder picker browse anywhere, drop allowed-roots gate
  apps/backend/internal/task/handlers/repository_handlers.go
  apps/backend/internal/task/service/directory_listing.go
  apps/backend/internal/task/service/directory_listing_test.go
Due: gofmt, go-tests, go-lint

feat(logger): add size/age/backup rotation for file output (#874)
  apps/backend/cmd/kandev/main.go
  apps/backend/go.mod
  apps/backend/go.sum
  apps/backend/internal/common/config/config.go
  apps/backend/internal/common/logger/logger.go
Due: gofmt, go-tests, go-lint

fix(lifecycle): publish AgentReady on wakeup-driven turns
  apps/backend/internal/agent/lifecycle/manager_events.go
  apps/backend/internal/agent/lifecycle/wakeup_e2e_test.go
  apps/backend/internal/agent/lifecycle/wakeup_simulated_test.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/wakeup_e2e_test.go
Due: gofmt, go-tests, go-lint

fix(backend): list remote branches for provider-backed workspace repos
  apps/backend/cmd/kandev/main.go
  apps/backend/cmd/kandev/services.go
  apps/backend/internal/task/service/repository_discovery.go
  apps/backend/internal/task/service/service.go
  apps/web/e2e/tests/task/create-task-url-reopen-no-branches.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(web): show remote badge on branches from provider-backed repos
  apps/web/components/task-create-dialog-pill.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor(logger): close rotating sink on shutdown, add config docs
  apps/backend/cmd/kandev/main.go
  apps/backend/internal/common/config/config.go
  apps/backend/internal/common/logger/logger.go
  apps/backend/internal/common/logger/logger_test.go
  docs/configuration.md
  docs/db.md
  docs/docker.md
  docs/k8s.md
Due: gofmt, go-tests, go-lint
