Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

fix: also disable diff.git-crypt.textconv in locked worktrees
  apps/backend/internal/worktree/gitcrypt.go
Due: gofmt, go-tests, go-lint

Fix build error
  apps/web/components/kanban-card.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: use worktree-local config and remove clean filter override
  apps/backend/internal/worktree/gitcrypt.go
  apps/backend/internal/worktree/gitcrypt_test.go
Due: gofmt, go-tests, go-lint

fix: remove required=false to prevent plaintext leaks on git add
  apps/backend/internal/worktree/gitcrypt.go
Due: gofmt, go-tests, go-lint

fix: use shared config for locked repos to support unlock-after-create
  apps/backend/internal/worktree/gitcrypt.go
  apps/backend/internal/worktree/gitcrypt_test.go
Due: gofmt, go-tests, go-lint

fix: revert useEnvironmentSessionId in file-editor-panel
  apps/web/components/task/file-editor-panel.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor: re-key dockview panel state by environmentId instead of sessionId
  apps/web/components/task/dockview-desktop-layout.tsx
  apps/web/components/task/file-editor-panel.tsx
  apps/web/hooks/domains/session/use-cumulative-diff.ts
  apps/web/hooks/domains/session/use-session-commits.ts
  apps/web/lib/layout/panel-portal-manager.ts
  apps/web/lib/state/dockview-session-switch.ts
  apps/web/lib/state/slices/session-runtime/session-runtime-slice.ts
  apps/web/lib/state/slices/session-runtime/types.ts
  apps/web/lib/ws/handlers/git-status.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address CodeRabbit review comments
  apps/web/components/task/dockview-desktop-layout.tsx
  apps/web/components/task/dockview-layout-setup.ts
  apps/web/hooks/domains/session/use-cumulative-diff.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: scope activeSessionId fallback to terminal only in portal cleanup
  apps/web/components/task/dockview-layout-setup.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: migrate stranded env-keyed data on registerSessionEnvironment
  apps/web/lib/state/slices/session-runtime/session-runtime-slice.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address CodeRabbit review comments
  apps/web/hooks/domains/session/use-cumulative-diff.ts
  apps/web/lib/state/slices/session-runtime/session-runtime-slice.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: extract migrateEnvKeyedData helper to fix lint max-lines
  apps/web/lib/state/slices/session-runtime/session-runtime-slice.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: always reset loading on envKey switch in useCumulativeDiff
  apps/web/hooks/domains/session/use-cumulative-diff.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: move sync effect before fetch effect in useCumulativeDiff
  apps/web/hooks/domains/session/use-cumulative-diff.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: add migrateEnvKeyedData coverage for registerSessionEnvironment
  apps/web/lib/state/slices/session-runtime/migrate-env-keyed-data.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: close stale-diff gaps in useCumulativeDiff sync effect
  apps/web/hooks/domains/session/use-cumulative-diff.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): add bottom margin to settings layout
  apps/web/components/settings/settings-layout-client.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): stop vertical scroll on mobile column tabs
  apps/web/components/kanban/mobile-column-tabs.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(backend): enable cgo for sqlite on build
  apps/backend/Makefile
Due: none

fix(web): stop vertical scroll on mobile column tabs (#583)
  apps/web/components/kanban/mobile-column-tabs.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(docs): correct GitHub org URL in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

fix(backend): enable cgo for test-coverage and cross-build targets
  apps/backend/Makefile
Due: none

fix(docs): correct GitHub org URL in CONTRIBUTING.md (#584)
  CONTRIBUTING.md
Due: none

fix(worktree): handle submodules in worktree creation
  apps/backend/internal/worktree/gitcrypt.go
  apps/backend/internal/worktree/gitcrypt_test.go
  apps/backend/internal/worktree/manager.go
  apps/backend/internal/worktree/submodule.go
  apps/backend/internal/worktree/submodule_test.go
Due: gofmt, go-tests, go-lint

fix(worktree): address review — recursive submodule init, consistent call sites
  apps/backend/internal/worktree/gitcrypt.go
  apps/backend/internal/worktree/submodule.go
Due: gofmt, go-tests, go-lint

fix(worktree): restore submodule index entries after git-crypt checkout
  apps/backend/internal/worktree/gitcrypt.go
Due: gofmt, go-tests, go-lint

fix(web): add bottom margin to settings layout (#581)
  apps/web/components/settings/settings-layout-client.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test(worktree): add git status assertion to submodule unlock test
  apps/backend/internal/worktree/gitcrypt_test.go
Due: gofmt, go-tests, go-lint

fix(worktree): use literal pathspec for submodule exclusion
  apps/backend/internal/worktree/gitcrypt.go
Due: gofmt, go-tests, go-lint

fix(worktree): fix initSubmodules docstring to match --recursive flag
  apps/backend/internal/worktree/submodule.go
Due: gofmt, go-tests, go-lint

fix(worktree): handle submodules in worktree creation (#579)
  apps/backend/internal/worktree/gitcrypt.go
  apps/backend/internal/worktree/gitcrypt_test.go
  apps/backend/internal/worktree/manager.go
  apps/backend/internal/worktree/submodule.go
  apps/backend/internal/worktree/submodule_test.go
Due: gofmt, go-tests, go-lint

fix: resolve codeql command-injection alert via hard-coded lookup
  apps/backend/internal/agentctl/server/utility/acp_executor.go
Due: gofmt, go-tests, go-lint

fix: seed mock-agent profile with mock-default model
  apps/backend/internal/agent/settings/controller/agent_discovery.go
Due: gofmt, go-tests, go-lint

fix: address remaining pr review feedback
  apps/backend/internal/agent/capabilities/handlers/handlers.go
  apps/backend/internal/agent/hostutility/manager.go
  apps/backend/internal/agent/hostutility/public.go
  apps/backend/internal/agent/settings/controller/agent_discovery.go
  apps/backend/internal/agent/settings/controller/profile_crud.go
  apps/backend/internal/agent/settings/controller/reconciler.go
  apps/backend/internal/agent/settings/controller/reconciler_test.go
  apps/backend/internal/agentctl/server/utility/acp_executor.go
  apps/web/components/settings/profile-form-fields.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat: add acp system
  apps/backend/cmd/kandev/helpers.go
  apps/backend/cmd/kandev/main.go
  apps/backend/internal/agent/capabilities/handlers/handlers.go
  apps/backend/internal/agent/hostutility/cache.go
  apps/backend/internal/agent/hostutility/manager.go
  apps/backend/internal/agent/hostutility/public.go
  apps/backend/internal/agent/hostutility/types.go
  apps/backend/internal/agentctl/client/utility.go
  apps/backend/internal/agentctl/server/utility/acp_executor.go
  apps/backend/internal/agentctl/server/utility/handler.go
  apps/backend/internal/agentctl/server/utility/types.go
  apps/backend/internal/utility/controller/controller.go
  apps/backend/internal/utility/handlers/handlers.go
  apps/backend/internal/utility/service/service.go
  apps/backend/internal/utility/template/engine.go
  docs/decisions/0002-host-utility-agentctl-for-sessionless-flows.md
  docs/decisions/INDEX.md
  docs/plans/2026-04-host-utility-agentctl.md
  docs/plans/INDEX.md
Due: gofmt, go-tests, go-lint

feat: improve fixup skill
  .agents/skills/pr-fixup/SKILL.md
Due: none

fix: prettier + codeql taint alerts
  apps/backend/internal/agent/hostutility/manager.go
  apps/backend/internal/agentctl/server/utility/acp_executor.go
  apps/web/components/settings/profile-form-fields.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: address review feedback
  apps/backend/internal/agent/capabilities/handlers/handlers.go
  apps/backend/internal/agent/hostutility/manager.go
  apps/backend/internal/agent/settings/controller/reconciler.go
  apps/backend/internal/agentctl/server/utility/acp_executor.go
  apps/web/components/settings/profile-form-fields.tsx
  apps/web/e2e/tests/settings/agent-profile-acp.spec.ts
  docs/decisions/0002-host-utility-agentctl-for-sessionless-flows.md
  docs/plans/2026-04-host-utility-agentctl.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: stabilize e2e tests — revert mock-agent InferenceConfig, fix markdown test
  apps/backend/internal/agent/agents/mock.go
  apps/web/e2e/tests/chat/markdown-paragraph-breaks.spec.ts
  apps/web/e2e/tests/task/enhance-prompt.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck
