Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

fix(terminal): live activeTab lookup + selectable-tab guard
  apps/web/hooks/domains/session/use-terminals-build.ts
  apps/web/hooks/domains/session/use-terminals.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

chore(terminal): inline savedTabFromStorage to drop file under line cap
  apps/web/hooks/domains/session/use-terminals.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(release): use git-cliff remote username
  cliff.toml
Due: none

chore(terminal): drop savedTabExists local + comment to land under 600 lines
  apps/web/hooks/domains/session/use-terminals.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(routingerr): classify npm _npx ENOTEMPTY failures as npx_cache_corrupted
  apps/backend/internal/agent/runtime/routingerr/routingerr.go
  apps/backend/internal/agent/runtime/routingerr/runtime_rules.go
  apps/backend/internal/agent/runtime/routingerr/runtime_rules_test.go
Due: gofmt, go-tests, go-lint

feat(routingerr): add RemediateNpxCache helper guarded to ~/.npm/_npx/
  apps/backend/internal/agent/runtime/routingerr/remediate.go
  apps/backend/internal/agent/runtime/routingerr/remediate_test.go
Due: gofmt, go-tests, go-lint

fix(release): align git-cliff versions
  .github/workflows/release.yml
  cliff.toml
Due: none

fix(web): keep sidebar 3-dot menu from overlapping the subtask toggle
  apps/backend/cmd/mock-agent/handler.go
  apps/backend/cmd/mock-agent/main.go
  apps/web/components/task/task-item.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat(release): credit external contributors in release notes (#975)
  .github/workflows/release.yml
  cliff.toml
Due: none

feat(lifecycle): remediate npx cache corruption on agent failure
  apps/backend/internal/agent/runtime/lifecycle/manager.go
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction.go
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction_remediate_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_test.go
Due: gofmt, go-tests, go-lint

fix(web,mock-agent): keyboard reachability + case-insensitive /subtask parse
  apps/backend/cmd/mock-agent/handler.go
  apps/web/components/task/task-item.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

refactor(mcp): drop task-document tools from kanban mode
  apps/backend/internal/mcp/server/handoff_handlers.go
  apps/backend/internal/mcp/server/server.go
  apps/backend/internal/mcp/server/server_test.go
Due: gofmt, go-tests, go-lint

test(mock-agent): add regression test for /subtask title parsing
  apps/backend/cmd/mock-agent/handler.go
  apps/backend/cmd/mock-agent/mock_agent_test.go
Due: gofmt, go-tests, go-lint

test(lifecycle): drop sleep wait on unrelated-failure remediation check
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction_remediate_test.go
Due: gofmt, go-tests, go-lint

fix(mcp): update list_related_tasks_kandev description to be mode-neutral
  apps/backend/internal/mcp/server/handoff_handlers.go
Due: gofmt, go-tests, go-lint

chore(web): add dockview session-tab and task-select debug logs
  apps/web/components/task/dockview-session-tabs.ts
  apps/web/components/task/task-select-helpers.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(routingerr): allow spaces in npx cache path
  apps/backend/internal/agent/runtime/routingerr/runtime_rules.go
  apps/backend/internal/agent/runtime/routingerr/runtime_rules_test.go
Due: gofmt, go-tests, go-lint

chore(web): address PR review feedback on debug logs
  apps/web/components/task/dockview-session-tabs.ts
  apps/web/lib/debug/log.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(github): hide approve PR button on own PRs and reject self-approval server-side
  apps/backend/internal/github/controller.go
  apps/backend/internal/github/service.go
  apps/backend/internal/github/service_submit_review_test.go
  apps/web/components/github/pr-detail-panel.test.ts
  apps/web/components/github/pr-detail-panel.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(mcp): correct ask_user_question_kandev schema docs and add consistency test
  apps/backend/config/prompts/config-context.md
  apps/backend/config/prompts/kandev-context.md
  apps/backend/internal/mcp/server/sysprompt_sync_test.go
  apps/backend/internal/sysprompt/sysprompt_test.go
Due: gofmt, go-tests, go-lint

chore(web): gate sibling getPanel lookup behind IS_DEBUG
  apps/web/components/task/dockview-session-tabs.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(agents): exclude office-scoped profiles from kanban agent picker
  apps/backend/internal/agent/settings/controller/agent_crud.go
  apps/backend/internal/agent/settings/controller/agent_crud_filter_test.go
Due: gofmt, go-tests, go-lint

fix(office): preserve kanban workspace when office creates a new workspace
  apps/web/app/office/lib/get-active-workspace.test.ts
  apps/web/app/office/lib/get-active-workspace.ts
  apps/web/app/office/page.tsx
  apps/web/app/office/setup/setup-wizard.test.ts
  apps/web/app/office/setup/setup-wizard.tsx
  apps/web/e2e/tests/office/workspace-selection-isolation.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(github): cover controller's self-approve 422 mapping
  apps/backend/internal/github/controller_test.go
Due: gofmt, go-tests, go-lint

fix(mcp): make schema sync test deterministic and guard silent zero bounds
  apps/backend/internal/mcp/server/sysprompt_sync_test.go
Due: gofmt, go-tests, go-lint

fix(mcp): guard items/required extraction and fix variable shadowing in schema test
  apps/backend/internal/mcp/server/sysprompt_sync_test.go
Due: gofmt, go-tests, go-lint

fix: address PR review feedback
  apps/backend/internal/agent/settings/controller/agent_crud_filter_test.go
  apps/web/e2e/tests/office/onboarding.spec.ts
  apps/web/e2e/tests/office/workspace-selection-isolation.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat(web): add tree view for changes panel
  apps/backend/internal/user/controller/controller.go
  apps/backend/internal/user/dto/dto.go
  apps/backend/internal/user/models/models.go
  apps/backend/internal/user/service/service.go
  apps/backend/internal/user/store/sqlite.go
  apps/web/components/settings/editors-settings-state.tsx
  apps/web/components/settings/general-settings.tsx
  apps/web/components/task/changes-panel-file-row.tsx
  apps/web/components/task/changes-panel-timeline-grouping.test.tsx
  apps/web/components/task/changes-panel-timeline.tsx
  apps/web/components/task/changes-panel-tree.test.tsx
  apps/web/components/task/changes-panel-tree.tsx
  apps/web/hooks/use-user-display-settings.ts
  apps/web/lib/api/domains/settings-api.ts
  apps/web/lib/ssr/user-settings.ts
  apps/web/lib/state/slices/settings/settings-slice.ts
  apps/web/lib/state/slices/settings/types.ts
  apps/web/lib/types/backend.ts
  apps/web/lib/types/http.ts
  apps/web/lib/ws/handlers/users.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

perf(web): render stats page shell immediately with per-panel skeletons
  apps/web/app/stats/loading.tsx
  apps/web/app/stats/page.tsx
  apps/web/app/stats/stats-page-client.tsx
  apps/web/app/stats/stats-skeletons.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): address PR review feedback on stats page lazy-loading
  apps/web/app/stats/stats-page-client.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(office): use cookie to bridge office workspace across SSR requests
  apps/web/app/office/components/workspace-rail.tsx
  apps/web/app/office/layout.tsx
  apps/web/app/office/setup/setup-wizard.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): extract stats pure helpers into stats-utils + unit tests
  apps/web/app/stats/stats-page-client.tsx
  apps/web/app/stats/stats-utils.test.ts
  apps/web/app/stats/stats-utils.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor(web): tighten stats lazy-loading per Claude suggestions
  apps/web/app/stats/loading.tsx
  apps/web/app/stats/stats-utils.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address second-round PR review feedback
  apps/web/app/office/lib/get-active-workspace.ts
  apps/web/e2e/tests/office/onboarding.spec.ts
  apps/web/e2e/tests/office/workspace-selection-isolation.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address third-round PR review feedback
  apps/web/app/office/lib/get-active-workspace.test.ts
  apps/web/e2e/tests/office/workspace-selection-isolation.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address fourth-round PR review feedback
  apps/web/app/office/components/workspace-rail.tsx
  apps/web/app/office/setup/setup-wizard.tsx
  apps/web/e2e/tests/office/workspace-selection-isolation.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(layout): drop cross-env width propagation — defaults stay unchanged
  apps/web/e2e/helpers/dockview-resize.ts
  apps/web/e2e/tests/layout/pane-resize-edge-cases.spec.ts
  apps/web/e2e/tests/layout/pane-resize-right.spec.ts
  apps/web/e2e/tests/layout/pane-resize-sidebar.spec.ts
  apps/web/lib/local-storage.ts
  apps/web/lib/state/dockview-store.ts
  apps/web/lib/state/layout-manager/constants.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(layout): bump saved-layout storage keys to v2
  apps/web/components/task/dockview-layout-restore.ts
  apps/web/components/task/dockview-layout-setup.ts
  apps/web/lib/local-storage.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(terminal): plumb task_id through dockview + tolerate legacy destroys
  apps/backend/internal/agent/handlers/shell_handlers.go
  apps/web/components/task/dockview-header-actions.tsx
  apps/web/components/task/dockview-layout-setup.ts
  apps/web/hooks/use-editor-keybinds.ts
  apps/web/lib/state/dockview-panel-actions.ts
  apps/web/lib/state/dockview-store.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

release: 0.51.0
  CHANGELOG.md
  apps/cli/package.json
Due: prettier-format
