Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

test: stabilize host GitHub probe order assertion
  apps/backend/internal/orchestrator/executor/executor_host_gh_bridge_test.go
Due: gofmt, go-tests, go-lint

fix: stabilize agent goal status selector
  apps/web/components/task/chat/chat-status-bar.test.tsx
  apps/web/components/task/chat/chat-status-bar.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: clean up managed Git process lifecycles
  apps/backend/internal/common/subproc/git_environment.go
  apps/backend/internal/common/subproc/git_lifecycle.go
  apps/backend/internal/common/subproc/git_lifecycle_unix.go
  apps/backend/internal/common/subproc/git_lifecycle_unix_test.go
  apps/backend/internal/common/subproc/git_noninteractive_test.go
  apps/backend/internal/common/subproc/shared.go
Due: gofmt, go-tests, go-lint

fix: close comparison fixture connections
  apps/web/e2e/tests/git/fork-pr-comparison-target-helpers.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): name the Needs-you Inbox destination Inbox and give it the app chrome
  apps/web/app/needs-you-inbox/needs-you-inbox-page-client.test.tsx
  apps/web/app/needs-you-inbox/needs-you-inbox-page-client.tsx
  apps/web/components/app-sidebar/app-sidebar-primary-nav.test.tsx
  apps/web/components/app-sidebar/app-sidebar-primary-nav.tsx
  apps/web/src/needs-you-inbox-route.tsx
  docs/specs/ui/system-design/needs-you-inbox-03.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test(executor): stabilize host bridge probe ordering
  apps/backend/internal/orchestrator/executor/executor_host_gh_bridge_test.go
Due: gofmt, go-tests, go-lint

chore: retune pr poller model
  .agents/skills/harness-improvement/references/platforms/codex.md
  .codex/agents/pr-poller.toml
Due: none

fix(web): preserve native kanban reorder order
  apps/web/e2e/tests/kanban/board-priority-sort-filter.spec.ts
  apps/web/lib/kanban/task-order.test.ts
  apps/web/lib/kanban/task-order.ts
  docs/specs/tasks/requirements/board-priority-sort-filter-order.md
  docs/specs/tasks/requirements/board-priority-sort-filter-view-state.md
  docs/specs/tasks/requirements/board-priority-sort-filter.md
  docs/specs/tasks/system-design/board-priority-sort-filter.md
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: plan preservation of comments during foreground refresh
  docs/plans/plan-comment-foreground-preservation/plan.md
  docs/plans/plan-comment-foreground-preservation/task-01-preserve-comment-editor.md
  docs/specs/tasks/requirements/plan-comments.md
  docs/specs/tasks/system-design/plan-comments.md
Due: none

fix: stabilize Git lifecycle CI checks
  apps/backend/internal/agentctl/server/process/workspace_git_diff_lifecycle_unix_test.go
  apps/backend/internal/common/subproc/git_lifecycle_unix_test.go
  apps/backend/internal/orchestrator/executor/executor_host_gh_bridge.go
Due: gofmt, go-tests, go-lint

fix(github): preserve PR watch branch identities
  apps/backend/internal/github/poller.go
  apps/backend/internal/github/poller_branch_reconciliation_test.go
  apps/backend/internal/github/poller_test.go
  apps/backend/internal/orchestrator/event_handlers_github.go
  apps/backend/internal/orchestrator/event_handlers_github_watch_reconciliation.go
  apps/backend/internal/orchestrator/event_handlers_github_watch_reconciliation_test.go
  docs/plans/github-pr-watch-reconciliation/plan.md
  docs/plans/github-pr-watch-reconciliation/task-01-preserve-watch-identity.md
  docs/specs/integrations/requirements/github-pr-discovery-health.md
  docs/specs/integrations/system-design/github-pr-discovery-health.md
Due: gofmt, go-tests, go-lint

fix: preserve plan comment drafts on foreground refresh
  apps/web/components/task/task-plan-panel.refresh.test.tsx
  apps/web/components/task/task-plan-panel.tsx
  apps/web/e2e/tests/session/mobile-task-plan-comments.spec.ts
  apps/web/e2e/tests/session/plan-comment-foreground-helpers.ts
  apps/web/e2e/tests/session/task-plan-comments.spec.ts
  docs/plans/plan-comment-foreground-preservation/plan.md
  docs/plans/plan-comment-foreground-preservation/task-01-preserve-comment-editor.md
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: plan threads grid clarification scroll fix
  docs/plans/threads-grid-clarification-overflow/evidence.md
  docs/plans/threads-grid-clarification-overflow/evidence/geometry.json
  docs/plans/threads-grid-clarification-overflow/evidence/grid-90-before.png
  docs/plans/threads-grid-clarification-overflow/evidence/grid-90-submitted-dom-probe.png
  docs/plans/threads-grid-clarification-overflow/evidence/scroll-chain-probe.json
  docs/plans/threads-grid-clarification-overflow/plan.md
  docs/plans/threads-grid-clarification-overflow/task-01-restore-question-scrolling.md
  docs/plans/threads-layouts/plan.md
Due: none

fix: pause plan editing during foreground refresh
  apps/web/components/editors/tiptap/tiptap-plan-editor.test.tsx
  apps/web/components/editors/tiptap/tiptap-plan-editor.tsx
  apps/web/components/task/task-plan-panel.tsx
  apps/web/e2e/tests/session/plan-comment-foreground-helpers.ts
  docs/plans/plan-comment-foreground-preservation/plan.md
  docs/plans/plan-comment-foreground-preservation/task-01-preserve-comment-editor.md
  docs/specs/tasks/requirements/plan-comments.md
  docs/specs/tasks/system-design/plan-comments.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test: verify preserved plan comment selection anchors
  apps/web/components/task/task-plan-panel.refresh.test.tsx
  docs/plans/plan-comment-foreground-preservation/plan.md
  docs/plans/plan-comment-foreground-preservation/task-01-preserve-comment-editor.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: harden startup recovery timeout and scrolling
  apps/backend/internal/agent/runtime/agentctl/git.go
  apps/backend/internal/agent/runtime/agentctl/git_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_startup.go
  apps/backend/internal/agent/runtime/lifecycle/manager_startup_test.go
  apps/web/components/quick-chat/quick-chat-content.tsx
  apps/web/components/quick-chat/quick-chat-session-view.test.tsx
  apps/web/components/quick-chat/quick-chat-session-view.tsx
  apps/web/components/task/chat/message-list-native-scroll.test.ts
  apps/web/components/task/chat/message-list-native-scroll.ts
  apps/web/components/task/chat/message-list-native.test.tsx
  apps/web/components/task/chat/message-list-native.tsx
  apps/web/components/task/chat/message-list-shared.tsx
  apps/web/components/task/task-chat-panel.launch-error.test.tsx
  apps/web/components/task/task-chat-panel.tsx
  apps/web/e2e/helpers/transcript-scroll.ts
  apps/web/e2e/tests/task/launch-failure-recovery.spec.ts
  apps/web/e2e/tests/task/mobile-launch-failure-recovery.spec.ts
  apps/web/hooks/domains/session/use-session-resumption.test.ts
  apps/web/hooks/domains/session/use-session-resumption.ts
  docs/plans/startup-recovery-scroll-timeout/plan.md
  docs/plans/startup-recovery-scroll-timeout/task-01-preflight-budget.md
  docs/plans/startup-recovery-scroll-timeout/task-02-chat-scroll.md
  docs/specs/agents/requirements/session-recovery-failures.md
  docs/specs/agents/system-design/session-recovery-failures.md
  docs/specs/tasks/requirements/remote-contribution-tasks.md
  docs/specs/tasks/system-design/remote-contribution-tasks.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: restore phone task creation focus and stabilize readiness
  apps/web/components/task/mobile/session-task-switcher-sheet-dialogs.tsx
  apps/web/components/task/mobile/session-task-switcher-sheet.tsx
  apps/web/e2e/tests/task/creation-auto-focus-helpers.ts
  docs/plans/task-creation-auto-focus/task-01-auto-focus-preference.md
  docs/specs/tasks/system-design/creation-auto-focus.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(threads): allow scrolling through long clarification footers
  apps/web/components/task/chat/clarification-panel-section.tsx
  apps/web/e2e/tests/chat/clarification-resize.spec.ts
  apps/web/e2e/tests/task/mobile-threads-composer-disclosure.spec.ts
  apps/web/e2e/tests/task/threads-clarification-helpers.ts
  apps/web/e2e/tests/task/threads-composer-disclosure.spec.ts
  docs/plans/threads-grid-clarification-overflow/evidence.md
  docs/plans/threads-grid-clarification-overflow/evidence/grid-90-before.png
  docs/plans/threads-grid-clarification-overflow/evidence/grid-90-submitted-dom-probe.png
  docs/plans/threads-grid-clarification-overflow/evidence/implementation-geometry.json
  docs/plans/threads-grid-clarification-overflow/plan.md
  docs/plans/threads-grid-clarification-overflow/task-01-restore-question-scrolling.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test: verify background plan setup preserves current session
  apps/web/components/task-create-dialog-helpers.test.ts
  docs/plans/task-creation-auto-focus/task-01-auto-focus-preference.md
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(office): add the retention work order the docs-coverage gate needs
  docs/plans/run-history-retention/plan.md
  docs/plans/run-history-retention/task-01-bound-run-history-with-retention-sweep.md
Due: none

fix(office): apply retention window cutoff and report unknown-status counts
  apps/backend/internal/backendapp/helpers.go
  apps/backend/internal/office/retention/census.go
  apps/backend/internal/office/retention/census_test.go
  apps/backend/internal/office/retention/handler.go
  apps/backend/internal/office/retention/handler_test.go
  apps/backend/internal/office/retention/health.go
  apps/backend/internal/office/retention/health_test.go
  apps/backend/internal/office/retention/store_census_test.go
  apps/backend/internal/office/retention/store_test.go
  apps/backend/internal/office/retention/sweep.go
  apps/backend/internal/office/retention/sweep_lookup_integrity_test.go
  apps/backend/internal/office/retention/sweep_test.go
  apps/web/components/settings/system/retention-settings-card.test.tsx
  apps/web/components/settings/system/retention-settings-card.tsx
  apps/web/e2e/tests/system/retention-settings.spec.ts
  apps/web/lib/types/system.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(office): align queue callers and stabilize failure tests
  apps/backend/internal/agent/runtime/lifecycle/manager_subscription_test.go
  apps/backend/internal/office/service/event_subscribers_lost_race_side_effects_test.go
Due: gofmt, go-tests, go-lint

fix(office): chunk retention batch deletes and close PUT/delete races
  apps/backend/internal/office/retention/handler.go
  apps/backend/internal/office/retention/handler_test.go
  apps/backend/internal/office/retention/store.go
  apps/backend/internal/office/retention/store_postgres_test.go
  apps/backend/internal/office/retention/store_test.go
  apps/backend/internal/office/retention/sweep_test.go
Due: gofmt, go-tests, go-lint

fix(office): protect retention recovery state and sync settings
  .github/workflows/backend-tests.yml
  apps/backend/internal/office/repository/sqlite/base_migrations.go
  apps/backend/internal/office/repository/sqlite/retention_indexes_postgres_test.go
  apps/backend/internal/office/repository/sqlite/retention_indexes_test.go
  apps/backend/internal/office/retention/handler.go
  apps/backend/internal/office/retention/handler_test.go
  apps/backend/internal/office/retention/scheduler.go
  apps/backend/internal/office/retention/scheduler_test.go
  apps/backend/internal/office/retention/settings_wire.go
  apps/backend/internal/office/retention/store.go
  apps/backend/internal/office/retention/store_test.go
  docs/public/operations.md
  docs/specs/office/requirements/run-history-retention.md
  docs/specs/office/system-design/run-history-retention-operations.md
  docs/specs/office/system-design/run-history-retention.md
Due: gofmt, go-tests, go-lint

fix(office): fix stale retention draft after save and address PR review findings
  apps/backend/internal/office/retention/goleak_test.go
  apps/backend/internal/office/retention/handler_test.go
  apps/backend/internal/office/retention/health.go
  apps/backend/internal/office/retention/lock.go
  apps/backend/internal/office/retention/preview_marker.go
  apps/backend/internal/office/retention/settings_wire.go
  apps/backend/internal/office/retention/store.go
  apps/backend/internal/office/retention/sweep.go
  apps/web/components/settings/system/retention-settings-card.test.tsx
  apps/web/components/settings/system/system-route-copy.test.ts
  apps/web/hooks/domains/system/use-retention-settings.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(office): start retention scheduler on defaults and fix census race
  apps/backend/internal/office/retention/scheduler.go
  apps/backend/internal/office/retention/scheduler_test.go
  apps/backend/internal/office/retention/store.go
  apps/backend/internal/office/retention/store_census_test.go
  apps/backend/internal/office/retention/store_test.go
  apps/backend/internal/office/retention/sweep_postgres_test.go
Due: gofmt, go-tests, go-lint

docs(threads): mark clarification follow-up results complete
  docs/plans/threads-grid-clarification-overflow/task-01-restore-question-scrolling.md
  docs/plans/threads-layouts/plan.md
Due: none

docs(threads): record exact viewport and merge compatibility
  docs/plans/threads-grid-clarification-overflow/evidence/implementation-geometry.json
  docs/plans/threads-grid-clarification-overflow/task-01-restore-question-scrolling.md
Due: none

docs(threads): distinguish resized phone screen geometry
  docs/plans/threads-grid-clarification-overflow/evidence/implementation-geometry.json
Due: none

fix: address startup recovery review feedback
  apps/web/components/task/chat/message-list-native-scroll.ts
  apps/web/components/task/chat/message-list-native.test.tsx
  apps/web/components/task/task-chat-panel.launch-error.test.tsx
  apps/web/components/task/task-chat-panel.tsx
  apps/web/hooks/domains/session/use-session-resumption.ts
  docs/plans/startup-recovery-scroll-timeout/plan.md
  docs/plans/startup-recovery-scroll-timeout/task-02-chat-scroll.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test: address task creation review coverage suggestions
  apps/web/components/github/my-github/quick-task-launcher.test.tsx
  apps/web/components/gitlab/my-gitlab/quick-task-launcher.test.tsx
  apps/web/e2e/tests/task/creation-auto-focus-helpers.ts
  apps/web/e2e/tests/task/mobile-creation-auto-focus.spec.ts
  docs/plans/task-creation-auto-focus/plan.md
  docs/plans/task-creation-auto-focus/task-01-auto-focus-preference.md
  docs/public/tasks-and-workflows.md
  docs/specs/tasks/requirements/creation-auto-focus.md
  docs/specs/tasks/system-design/creation-auto-focus.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(mcp): close handoff_task_kandev PR fixup round 1 findings
  apps/backend/internal/mcp/handlers/handoff_task_handlers.go
  apps/backend/internal/mcp/handlers/handoff_task_handlers_concurrency_test.go
  apps/backend/internal/mcp/handlers/handoff_task_handlers_idempotency_outcomes_test.go
  apps/backend/internal/mcp/server/handoff_task_tool.go
Due: gofmt, go-tests, go-lint

test(mcp): cover handoff_task_kandev's spec-mandated verification scenarios
  apps/backend/internal/mcp/handlers/handoff_task_handlers_concurrency_test.go
  apps/backend/internal/mcp/handlers/handoff_task_handlers_provenance_test.go
  apps/backend/internal/mcp/handlers/handoff_task_handlers_resolution_test.go
Due: gofmt, go-tests, go-lint

fix(mcp): close two handoff_task_kandev Review round 4 findings
  apps/backend/internal/mcp/handlers/handoff_task_handlers.go
  apps/backend/internal/mcp/handlers/handoff_task_handlers_idempotency_outcomes_test.go
  apps/backend/internal/orchestrator/session_launch_profile_explicit_preflight_test.go
  apps/backend/internal/orchestrator/task_operations.go
Due: gofmt, go-tests, go-lint

feat(mcp): add handoff_task_kandev cross-workspace delivery tool
  apps/backend/config/prompts/office-context.md
  apps/backend/internal/agent/settings/controller/handoff_permission.go
  apps/backend/internal/agent/settings/controller/handoff_permission_test.go
  apps/backend/internal/backendapp/adapters.go
  apps/backend/internal/backendapp/main.go
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/handoff_task_handlers.go
  apps/backend/internal/mcp/handlers/handoff_task_handlers_test.go
  apps/backend/internal/mcp/profile/profile.go
  apps/backend/internal/mcp/server/handoff_task_tool.go
  apps/backend/internal/mcp/server/server.go
  apps/backend/internal/mcp/server/sysprompt_sync_test.go
  apps/backend/internal/office/dashboard/handler_settings.go
  apps/backend/internal/office/dashboard/service.go
  apps/backend/internal/office/service/activity.go
  apps/backend/internal/office/shared/permissions.go
  apps/backend/internal/office/shared/permissions_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/executor/executor.go
  apps/backend/internal/orchestrator/executor/executor_execute.go
  apps/backend/internal/orchestrator/executor/executor_mcp_mode_test.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/sysprompt/sysprompt.go
  apps/backend/internal/sysprompt/sysprompt_test.go
  apps/backend/internal/task/handlers/message_handlers.go
  apps/backend/internal/task/handlers/message_handlers_blocked_test.go
  apps/backend/internal/task/handlers/message_handlers_plan_mode_test.go
  apps/backend/internal/task/handlers/message_handlers_resume_readiness_test.go
  apps/backend/internal/task/models/models.go
  apps/backend/internal/task/repository/sqlite/task_handoffs_cas.go
  apps/backend/internal/task/repository/sqlite/task_handoffs_cas_test.go
  apps/backend/pkg/websocket/actions.go
  docs/specs/cross-workspace-task-handoff/spec.md
  docs/specs/spec-lint-exceptions.tsv
Due: gofmt, go-tests, go-lint

fix(backend): stop handoff test fixtures losing handoff_source metadata
  apps/backend/internal/mcp/handlers/handoff_task_handlers_idempotency_outcomes_test.go
  apps/backend/internal/mcp/handlers/handoff_task_handlers_provenance_test.go
Due: gofmt, go-tests, go-lint

fix(mcp): stop leaking workspace visibility through handoff_task_kandev's workflow_id check
  apps/backend/internal/mcp/handlers/handoff_task_handlers.go
  apps/backend/internal/mcp/handlers/handoff_task_handlers_concurrency_test.go
  apps/backend/internal/mcp/handlers/handoff_task_handlers_idempotency_outcomes_test.go
  apps/backend/internal/mcp/handlers/handoff_task_handlers_provenance_test.go
  apps/backend/internal/mcp/handlers/handoff_task_handlers_resolution_test.go
  apps/backend/internal/mcp/handlers/handoff_task_handlers_test.go
  apps/backend/internal/mcp/server/handoff_task_tool.go
  apps/backend/internal/office/service/activity_run_resolution_test.go
Due: gofmt, go-tests, go-lint
