Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

fix: stop plan bubble menu transaction loop
  apps/web/components/editors/tiptap/plan-bubble-menu.test.tsx
  apps/web/components/editors/tiptap/plan-bubble-menu.tsx
  docs/plans/plan-bubble-menu-transaction-loop/plan.md
  docs/plans/plan-bubble-menu-transaction-loop/task-01-stop-bubble-menu-transaction-loop.md
  docs/specs/ui/system-design/responsive-plan-formatting.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test: target quick chat tab button explicitly
  apps/web/e2e/tests/chat/quick-chat.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(system): explain backup location and row actions
  apps/backend/internal/system/database/stats.go
  apps/backend/internal/system/database/stats_test.go
  apps/web/components/settings/system/backups-table.test.tsx
  apps/web/components/settings/system/backups-table.tsx
  apps/web/components/settings/system/data-storage-settings.tsx
  apps/web/components/settings/system/system-invisible-copy.test.tsx
  apps/web/components/settings/system/system-route-copy.test.ts
  apps/web/components/settings/system/system-route-shell.tsx
  apps/web/e2e/tests/auth/mobile-system-data-storage-member-gating.spec.ts
  apps/web/e2e/tests/system/backups-page.spec.ts
  apps/web/lib/api/domains/system-api.test.ts
  apps/web/lib/state/slices/system/system-slice.test.ts
  apps/web/lib/types/system.ts
  docs/plans/backup-location-actions/plan.md
  docs/plans/backup-location-actions/task-01-resolved-backup-directory.md
  docs/plans/backup-location-actions/task-02-backup-row-action-guidance.md
  docs/specs/system-page/README.md
  docs/specs/system-page/requirements/backup-location-actions.md
  docs/specs/system-page/system-design/backup-location-actions.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(ci): scope backend lint to current PR
  .github/workflows/backend-tests.yml
Due: none

fix: silence quick chat launcher focus return
  apps/web/app/globals.css
  apps/web/components/quick-chat/quick-chat-focus.test.ts
  apps/web/components/quick-chat/quick-chat-focus.ts
  apps/web/e2e/tests/chat/quick-chat.spec.ts
  docs/plans/quick-chat-silent-focus-return/plan.md
  docs/plans/quick-chat-silent-focus-return/task-01-silence-launcher-focus.md
  docs/specs/ui/requirements/quick-terminal.md
  docs/specs/ui/system-design/quick-terminal.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): treat Codex nested statuses as settled
  apps/web/components/task/chat/messages/tool-subagent-message.test.tsx
  apps/web/components/task/chat/messages/tool-subagent-message.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test: cover plan bubble menu snapshot deduplication
  apps/web/components/editors/tiptap/plan-bubble-menu.test.tsx
  apps/web/components/editors/tiptap/plan-bubble-menu.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test: cover Codex usage-limit dynamic fallback
  apps/backend/internal/agent/runtime/dynamic/engine_test.go
  apps/backend/internal/agent/runtime/routingerr/classify_test.go
  apps/backend/internal/orchestrator/dynamic_evidence_test.go
Due: gofmt, go-tests, go-lint

test: cover reactive plan formatting state
  apps/web/components/editors/tiptap/plan-bubble-menu.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: record reactive plan formatting coverage
  docs/plans/plan-bubble-menu-transaction-loop/plan.md
  docs/plans/plan-bubble-menu-transaction-loop/task-01-stop-bubble-menu-transaction-loop.md
Due: none

fix(system): resolve backup directory paths
  apps/backend/internal/system/database/stats.go
  apps/backend/internal/system/database/stats_test.go
  apps/web/components/settings/system/system-route-copy.test.ts
  apps/web/e2e/tests/system/backups-page.spec.ts
  docs/plans/backup-location-actions/plan.md
  docs/plans/backup-location-actions/task-01-resolved-backup-directory.md
  docs/specs/system-page/system-design/backup-location-actions.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: preserve legacy sqlite database continuity
  apps/backend/internal/launcher/bootstrap_test.go
  apps/backend/internal/launcher/database_handoff_integration_test.go
  apps/backend/internal/launcher/env.go
  apps/backend/internal/persistence/provider.go
  apps/backend/internal/persistence/provider_legacy_test.go
  apps/backend/internal/persistence/provider_test.go
  apps/backend/internal/persistence/sqlite_selection.go
  docs/decisions/2026-08-27-preserve-legacy-sqlite-before-default-initialization.md
  docs/decisions/INDEX.md
  docs/plans/database-selection-continuity/plan.md
  docs/plans/database-selection-continuity/task-01-preserve-database-path-provenance.md
  docs/plans/database-selection-continuity/task-02-adopt-legacy-databases-safely.md
  docs/public/configuration.md
  docs/public/operations.md
  docs/specs/platform/README.md
  docs/specs/platform/requirements/startup-configuration-parity.md
  docs/specs/platform/system-design/startup-database-selection-continuity.md
Due: gofmt, go-tests, go-lint

fix: preserve focus styling for shortcut quick chat opens
  apps/web/components/global-commands.test.tsx
  apps/web/components/global-commands.tsx
  apps/web/components/quick-chat/quick-chat-focus.test.ts
  apps/web/components/quick-chat/quick-chat-focus.ts
  apps/web/e2e/tests/chat/quick-chat.spec.ts
  apps/web/hooks/use-quick-chat-launcher.ts
  docs/plans/quick-chat-silent-focus-return/plan.md
  docs/plans/quick-chat-silent-focus-return/task-01-silence-launcher-focus.md
  docs/specs/ui/system-design/quick-terminal.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test: clarify dynamic evidence assertion
  apps/backend/internal/orchestrator/dynamic_evidence_test.go
Due: gofmt, go-tests, go-lint

test: fix quick terminal coarse-pointer cleanup
  .agents/skills/pr-fixup/SKILL.md
  apps/web/e2e/tests/terminal/mobile-quick-terminal.spec.ts
  apps/web/e2e/tests/terminal/quick-terminal.spec.ts
  apps/web/e2e/tests/terminal/terminal-test-helpers.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: coordinate task pull request sync consumers
  apps/web/hooks/domains/github/task-pr-sync-resource.test.ts
  apps/web/hooks/domains/github/task-pr-sync-resource.ts
  apps/web/hooks/domains/github/use-task-pr.test.tsx
  apps/web/hooks/domains/github/use-task-pr.ts
  docs/plans/github-task-pr-sync-coordination/plan.md
  docs/plans/github-task-pr-sync-coordination/task-01-coordinate-task-pr-sync-consumers.md
  docs/specs/integrations/README.md
  docs/specs/integrations/requirements/github-task-pr-sync-coordination.md
  docs/specs/integrations/system-design/github-task-pr-sync-coordination.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: tighten task PR sync recovery timing
  apps/web/hooks/domains/github/task-pr-sync-resource.test.ts
  apps/web/hooks/domains/github/task-pr-sync-resource.ts
  docs/plans/github-task-pr-sync-coordination/plan.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: harden legacy sqlite adoption
  apps/backend/internal/persistence/provider_legacy_test.go
  apps/backend/internal/persistence/sqlite_selection.go
  docs/docker.md
  docs/k8s.md
  docs/plans/database-selection-continuity/plan.md
  docs/plans/database-selection-continuity/task-02-adopt-legacy-databases-safely.md
  docs/specs/platform/system-design/startup-database-selection-continuity.md
Due: gofmt, go-tests, go-lint

fix: reconcile prepared workspace origins
  apps/backend/internal/orchestrator/executor/executor_execute.go
  apps/backend/internal/orchestrator/executor/executor_resume_clone_transport_test.go
  docs/plans/prepared-workspace-origin-reconciliation/plan.md
  docs/plans/prepared-workspace-origin-reconciliation/task-01-reconcile-prepared-workspace-origins.md
  docs/specs/integrations/requirements/github-authentication.md
  docs/specs/integrations/system-design/github-authentication-01.md
  docs/specs/integrations/system-design/github-authentication-02.md
  docs/specs/integrations/system-design/github-authentication-03.md
Due: gofmt, go-tests, go-lint

docs: keep origin reconciliation plan open
  docs/plans/prepared-workspace-origin-reconciliation/plan.md
Due: none

fix: align prepared origins with protocol resolver
  apps/backend/internal/orchestrator/executor/executor_resume_clone_transport_test.go
  docs/plans/prepared-workspace-origin-reconciliation/plan.md
  docs/plans/prepared-workspace-origin-reconciliation/task-01-reconcile-prepared-workspace-origins.md
  docs/specs/integrations/requirements/github-authentication.md
Due: gofmt, go-tests, go-lint

docs: record merged protocol resolver
  docs/plans/prepared-workspace-origin-reconciliation/plan.md
  docs/plans/prepared-workspace-origin-reconciliation/task-01-reconcile-prepared-workspace-origins.md
Due: none

fix: invalidate task PR sync after unlink
  apps/web/hooks/domains/github/task-pr-sync-resource.ts
  apps/web/hooks/domains/github/use-task-pr.test.tsx
  apps/web/hooks/domains/github/use-task-pr.ts
  docs/plans/github-task-pr-sync-coordination/task-01-coordinate-task-pr-sync-consumers.md
  docs/specs/integrations/system-design/github-task-pr-sync-coordination.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test: register sqlite cleanup immediately
  apps/backend/internal/launcher/database_handoff_integration_test.go
  apps/backend/internal/persistence/provider_legacy_test.go
Due: gofmt, go-tests, go-lint

fix: harden legacy sqlite adoption
  apps/backend/internal/persistence/provider_legacy_test.go
  apps/backend/internal/persistence/sqlite_selection.go
  docs/specs/platform/system-design/startup-database-selection-continuity.md
Due: gofmt, go-tests, go-lint

feat(web): fuse desktop PWA title bar
  apps/web/app/globals.css
  apps/web/components/app-sidebar/app-sidebar-header.tsx
  apps/web/components/app-sidebar/app-sidebar.tsx
  apps/web/components/page-topbar.tsx
  apps/web/e2e/tests/layout/pwa-window-controls-overlay.spec.ts
  apps/web/global.d.ts
  apps/web/hooks/use-window-controls-overlay.test.tsx
  apps/web/hooks/use-window-controls-overlay.ts
  apps/web/lib/browser/pwa-manifest.test.ts
  apps/web/public/manifest.webmanifest
  apps/web/src/app-shell.test.tsx
  apps/web/src/app-shell.tsx
  docs/plans/pwa-window-controls-overlay/plan.md
  docs/plans/pwa-window-controls-overlay/task-01-pwa-overlay-capability.md
  docs/plans/pwa-window-controls-overlay/task-02-fused-desktop-titlebar-layout.md
  docs/specs/pwa-window-controls-overlay/spec.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): sync PWA title bar theme color
  apps/web/components/theme-provider.test.tsx
  apps/web/components/theme-provider.tsx
  apps/web/e2e/tests/layout/pwa-window-controls-overlay.spec.ts
  docs/plans/pwa-window-controls-overlay/plan.md
  docs/plans/pwa-window-controls-overlay/task-03-sync-titlebar-theme-color.md
  docs/specs/pwa-window-controls-overlay/spec.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(system): keep backup tooltips concise
  apps/web/components/settings/system/backups-table.test.tsx
  apps/web/components/settings/system/backups-table.tsx
  apps/web/e2e/tests/system/backups-page.spec.ts
  docs/plans/backup-location-actions/plan.md
  docs/plans/backup-location-actions/task-02-backup-row-action-guidance.md
  docs/specs/system-page/requirements/backup-location-actions.md
  docs/specs/system-page/system-design/backup-location-actions.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): harden PWA overlay fallback handling
  apps/web/components/theme-provider.test.tsx
  apps/web/components/theme-provider.tsx
  apps/web/e2e/tests/layout/pwa-window-controls-overlay.spec.ts
  apps/web/hooks/use-window-controls-overlay.test.tsx
  apps/web/hooks/use-window-controls-overlay.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(ui): group sidebar tasks by repository combination
  apps/web/components/task/mobile/session-task-switcher-sheet-item.test.ts
  apps/web/components/task/mobile/session-task-switcher-sheet-item.ts
  apps/web/components/task/task-item.tsx
  apps/web/components/task/task-session-sidebar-item.test.ts
  apps/web/components/task/task-session-sidebar-item.ts
  apps/web/e2e/tests/task/mobile-sidebar-views.spec.ts
  apps/web/e2e/tests/task/sidebar-layout.spec.ts
  apps/web/e2e/tests/task/sidebar-repository-grouping-helpers.ts
  apps/web/lib/sidebar/apply-view.test.ts
  apps/web/lib/sidebar/apply-view.ts
  apps/web/lib/sidebar/sidebar-task-repositories.test.ts
  apps/web/lib/sidebar/sidebar-task-repositories.ts
  docs/plans/sidebar-multi-repository-grouping/plan.md
  docs/plans/sidebar-multi-repository-grouping/task-01-correct-repository-grouping.md
  docs/plans/sidebar-multi-repository-grouping/task-02-prove-responsive-grouping.md
  docs/specs/ui/README.md
  docs/specs/ui/requirements/sidebar-repository-grouping.md
  docs/specs/ui/system-design/sidebar-repository-grouping.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: simplify quick chat tab editing
  apps/web/components/quick-chat/quick-chat-tab-item.test.tsx
  apps/web/components/quick-chat/quick-chat-tab-item.tsx
  apps/web/components/quick-chat/quick-chat-tab-strip.tsx
  apps/web/components/quick-chat/quick-terminal-tab-item.tsx
  apps/web/e2e/tests/chat/mobile-quick-chat-tabs.spec.ts
  apps/web/e2e/tests/chat/quick-chat.spec.ts
  docs/specs/ui/requirements/quick-terminal.md
  docs/specs/ui/system-design/quick-terminal.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(ui): preserve sidebar repository filter compatibility
  apps/web/lib/sidebar/apply-view.test.ts
  apps/web/lib/sidebar/apply-view.ts
  apps/web/lib/sidebar/sidebar-task-repositories.test.ts
  docs/plans/sidebar-multi-repository-grouping/plan.md
  docs/plans/sidebar-multi-repository-grouping/task-01-correct-repository-grouping.md
  docs/specs/ui/system-design/sidebar-repository-grouping.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test(ui): tighten sidebar group heading assertions
  apps/web/e2e/tests/task/mobile-sidebar-views.spec.ts
  apps/web/e2e/tests/task/sidebar-layout.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

perf: reduce frontend runtime CPU
  apps/web/components/task/chat/message-list-native-scroll.ts
  apps/web/components/task/chat/message-list-native.test.tsx
  apps/web/e2e/tests/chat/auto-scroll-toggle.spec.ts
  apps/web/e2e/tests/chat/mobile-auto-scroll-toggle.spec.ts
  apps/web/hooks/use-processed-messages-fallback.test.ts
  apps/web/hooks/use-processed-messages.ts
  apps/web/lib/logger/buffer.ts
  apps/web/lib/logger/indexeddb-store.test.ts
  apps/web/lib/logger/indexeddb-store.ts
  apps/web/lib/logger/runtime.test.ts
  apps/web/lib/logger/runtime.ts
  apps/web/lib/state/slices/session/session-slice.ts
  apps/web/lib/state/slices/session/session-slice.update-messages.test.ts
  apps/web/lib/state/slices/session/types.ts
  apps/web/lib/state/store.ts
  apps/web/lib/ws/handlers/messages.test.ts
  apps/web/lib/ws/handlers/messages.ts
  docs/plans/frontend-runtime-cpu/plan.md
  docs/plans/frontend-runtime-cpu/task-01-coalesce-browser-diagnostic-work.md
  docs/plans/frontend-runtime-cpu/task-02-batch-message-frame-mutations.md
  docs/plans/frontend-runtime-cpu/task-03-remove-pinned-scroll-layout-reads.md
  docs/specs/platform/requirements/bounded-task-status-delivery.md
  docs/specs/platform/requirements/browser-console-retention.md
  docs/specs/platform/requirements/diagnostic-logging.md
  docs/specs/platform/system-design/bounded-task-status-delivery.md
  docs/specs/platform/system-design/browser-console-retention.md
  docs/specs/platform/system-design/diagnostic-logging-01.md
  docs/specs/ui/README.md
  docs/specs/ui/requirements/transcript-auto-scroll.md
  docs/specs/ui/system-design/transcript-auto-scroll.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: handle missing Windows npm cache trees (#3092)
  .github/workflows/backend-tests.yml
  apps/backend/Makefile
  apps/backend/internal/agent/managedruntime/cache_windows.go
  apps/backend/internal/agent/managedruntime/cache_windows_test.go
  docs/plans/windows-managed-runtime-missing-cache-tree/plan.md
  docs/plans/windows-managed-runtime-missing-cache-tree/task-01-correct-windows-missing-tree-detection.md
Due: gofmt, go-tests, go-lint

docs: translate PWA plans and spec to English
  docs/plans/pwa-window-controls-overlay/plan.md
  docs/plans/pwa-window-controls-overlay/task-01-pwa-overlay-capability.md
  docs/plans/pwa-window-controls-overlay/task-02-fused-desktop-titlebar-layout.md
  docs/plans/pwa-window-controls-overlay/task-03-sync-titlebar-theme-color.md
  docs/specs/pwa-window-controls-overlay/spec.md
Due: none

test: explain Windows managed runtime test scope
  apps/backend/Makefile
Due: none

test: cover logger snapshot flush
  apps/web/lib/logger/runtime.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: settle stale automation runs
  apps/backend/internal/agent/runtime/facade.go
  apps/backend/internal/automation/service.go
  apps/backend/internal/automation/service_run_terminal_test.go
  apps/backend/internal/orchestrator/automation_run_liveness_test.go
  apps/backend/internal/orchestrator/event_handlers_automation.go
  docs/plans/automation-run-terminal-recovery/plan.md
  docs/plans/automation-run-terminal-recovery/task-01-repair-run-terminalization.md
  docs/specs/office/system-design/automation-runs.md
Due: gofmt, go-tests, go-lint

fix: close frontend CPU review gaps
  apps/web/hooks/use-processed-messages-fallback.test.ts
  apps/web/hooks/use-processed-messages.ts
  apps/web/lib/logger/runtime.test.ts
  apps/web/lib/logger/runtime.ts
  apps/web/lib/ws/handlers/messages.test.ts
  docs/plans/frontend-runtime-cpu/plan.md
  docs/plans/frontend-runtime-cpu/task-01-coalesce-browser-diagnostic-work.md
  docs/plans/frontend-runtime-cpu/task-02-batch-message-frame-mutations.md
Due: prettier-format, web-lint, web-tests, web-typecheck
