Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

test: stabilize walkthrough re-emission E2E
  apps/backend/cmd/mock-agent/scenarios.go
  apps/web/e2e/tests/review/walkthrough.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: stabilize mobile context selection and E2E recovery
  apps/web/components/task/chat/context-popover.tsx
  apps/web/e2e/helpers/session-store.ts
  apps/web/e2e/tests/chat/cancel-turn-availability.spec.ts
  apps/web/e2e/tests/chat/persistent-animation-motion.spec.ts
  apps/web/e2e/tests/chat/quick-chat-helpers.ts
  apps/web/e2e/tests/cli-mode/mobile-passthrough-composer.spec.ts
  apps/web/e2e/tests/git/git-changes-panel.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: finalize cancellation after delayed resume startup
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/task_operations_resume_cancellation_deadline_test.go
  apps/web/e2e/helpers/session-store.ts
  apps/web/e2e/tests/chat/agent-message-attribution.spec.ts
  apps/web/e2e/tests/chat/mobile-cancel-turn-availability.spec.ts
  apps/web/e2e/tests/chat/quick-chat-cancel-palette.spec.ts
  apps/web/e2e/tests/chat/quick-chat-helpers.ts
  apps/web/e2e/tests/chat/quick-chat-idle-dot.spec.ts
  apps/web/e2e/tests/layout/compact-desktop-responsive.spec.ts
  apps/web/e2e/tests/office/taskless-routine-session.spec.ts
  apps/web/e2e/tests/plugins/mobile-plugin-nav.spec.ts
  apps/web/e2e/tests/session/mobile-session-resume-recovery.spec.ts
  apps/web/e2e/tests/task/chat-read-multi-file.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: stabilize durable session recovery after restart
  apps/backend/internal/agent/runtime/lifecycle/executor_kubernetes_shared_control.go
  apps/backend/internal/agent/runtime/lifecycle/executor_kubernetes_shared_control_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_launch.go
  apps/backend/internal/agent/runtime/lifecycle/manager_launch_metadata_test.go
  apps/backend/internal/agentctl/server/api/agent.go
  apps/backend/internal/persistence/storeconformance/testdata/upgrades/v0.93.0/manifest.json
Due: gofmt, go-tests, go-lint

fix: stabilize async CI recovery paths
  apps/backend/internal/office/dashboard/dto.go
  apps/backend/internal/office/dashboard/run_detail.go
  apps/backend/internal/office/dashboard/run_detail_test.go
  apps/backend/internal/orchestrator/executor/session_coresidency_test.go
  apps/web/e2e/fixtures/backend.ts
  apps/web/e2e/fixtures/git-shim.mjs
  apps/web/e2e/helpers/session-store.ts
  apps/web/e2e/tests/canvas/canvas-fixture.ts
  apps/web/e2e/tests/canvas/mobile-plugin-canvas.spec.ts
  apps/web/e2e/tests/chat/message-queue-reorder.spec.ts
  apps/web/e2e/tests/office/taskless-routine-session.spec.ts
  apps/web/e2e/tests/session/setup-script-progress.spec.ts
  apps/web/e2e/tests/task/mobile-task-listing-display.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test: stabilize async E2E readiness under load
  apps/web/e2e/tests/canvas/canvas-fixture.ts
  apps/web/e2e/tests/canvas/mobile-plugin-canvas.spec.ts
  apps/web/e2e/tests/chat/mobile-oversized-user-message.spec.ts
  apps/web/e2e/tests/gitlab/mr-status-chip.spec.ts
  apps/web/e2e/tests/office/taskless-routine-session.spec.ts
  apps/web/e2e/tests/review/walkthrough.spec.ts
  apps/web/e2e/tests/settings/mobile-agents-browse-page.spec.ts
  apps/web/e2e/tests/task/file-tree-rename.spec.ts
  apps/web/e2e/tests/task/sidebar-secondary-session-status.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: stabilize session restore and E2E recovery checks
  apps/backend/internal/agent/runtime/lifecycle/manager_startup_test.go
  apps/backend/internal/agent/runtime/lifecycle/session.go
  apps/backend/internal/agent/runtime/lifecycle/session_load_failure_test.go
  apps/backend/internal/agent/runtime/lifecycle/session_restore_policy.go
  apps/web/e2e/fixtures/git-shim.mjs
  apps/web/e2e/helpers/generating-session.ts
  apps/web/e2e/tests/chat/mid-turn-steering.spec.ts
  apps/web/e2e/tests/session/setup-script-progress.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: isolate native execution reuse by session
  apps/backend/internal/agent/runtime/lifecycle/manager_launch.go
  apps/backend/internal/agent/runtime/lifecycle/manager_launch_test.go
  apps/backend/internal/orchestrator/executor/executor_environment_reuse.go
  apps/backend/internal/orchestrator/executor/executor_environment_test.go
  apps/web/e2e/tests/chat/cancel-turn-availability.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

chore: keep harness guidance within lint limit
  AGENTS.md
Due: none

fix: repair durable stream gaps and stabilize E2E checks
  apps/backend/internal/agentctl/server/api/agent.go
  apps/backend/internal/agentctl/server/api/durable_delivery_stream_test.go
  apps/web/components/task/workflow-step-disclosure.tsx
  apps/web/components/task/workflow-stepper.test.tsx
  apps/web/e2e/tests/docker/storage-maintenance.spec.ts
  apps/web/e2e/tests/office/taskless-routine-session.spec.ts
  apps/web/e2e/tests/office/workflow-quorum-transitions.spec.ts
  apps/web/e2e/tests/review/walkthrough.spec.ts
  apps/web/e2e/tests/task/file-tree-drag-drop.spec.ts
  apps/web/e2e/tests/workflow/mobile-workflow-move-preview.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: guard workspace rebind from stale agent events
  apps/backend/internal/agent/runtime/lifecycle/manager_events.go
  apps/backend/internal/agent/runtime/lifecycle/manager_events_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_workspace_rebind.go
  apps/backend/internal/agent/runtime/lifecycle/manager_workspace_sources_test.go
  apps/backend/internal/agent/runtime/lifecycle/types.go
  apps/web/e2e/tests/task/add-workspace-sources.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: scope mobile viewport positioning to review menu
  apps/web/app/globals.css
  apps/web/components/review/review-diff-toolbar.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: stabilize flaky e2e readiness checks
  apps/web/app/globals.css
  apps/web/e2e/helpers/git-helper.ts
  apps/web/e2e/helpers/session.ts
  apps/web/e2e/pages/session-page.ts
  apps/web/e2e/tests/canvas/mobile-plugin-canvas.spec.ts
  apps/web/e2e/tests/chat/message-queue.spec.ts
  apps/web/e2e/tests/chat/oversized-user-message.spec.ts
  apps/web/e2e/tests/layout/preview-tab-session-switch.spec.ts
  apps/web/e2e/tests/review/review-file-comments-flow.ts
  apps/web/e2e/tests/session/port-forward-dialog.spec.ts
  apps/web/e2e/tests/workflow/workflow-agent-switch.spec.ts
  apps/web/e2e/tests/workflow/workflow-step-proceed.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: stabilize flaky E2E regressions
  apps/web/e2e/tests/chat/busy-signal.spec.ts
  apps/web/e2e/tests/chat/subagent.spec.ts
  apps/web/e2e/tests/office/taskless-routine-session.spec.ts
  apps/web/e2e/tests/settings/mobile-workspace-repository-sets.spec.ts
  apps/web/e2e/tests/task/mobile-task-listing-display.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): fail CI on retry-only tests
  .github/workflows/e2e-tests.yml
  apps/web/components/task/chat/messages/kandev/rich-output/chart-block.tsx
  apps/web/e2e/README.md
  apps/web/e2e/tests/chat/agent-message-attribution.spec.ts
  apps/web/e2e/tests/chat/rich-output.spec.ts
  apps/web/e2e/tests/kanban/large-column-virtualization-helpers.ts
  apps/web/e2e/tests/session/completed-session-resume.spec.ts
  apps/web/e2e/tests/session/session-tab-management.spec.ts
  apps/web/hooks/domains/github/use-active-task-pr-files.ts
  apps/web/hooks/domains/github/use-pr-workspace-scope.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): stabilize current PR flake cases
  apps/web/e2e/helpers/type-while-busy.ts
  apps/web/e2e/pages/session-page.ts
  apps/web/e2e/tests/chat/mobile-message-queue-reorder.spec.ts
  apps/web/e2e/tests/chat/mobile-quick-chat-tabs.spec.ts
  apps/web/e2e/tests/git/diff-update.spec.ts
  apps/web/e2e/tests/kanban/large-column-virtualization-helpers.ts
  apps/web/e2e/tests/pr/mobile-pr-rerequest-review.spec.ts
  apps/web/e2e/tests/session/session-resume.spec.ts
  apps/web/e2e/tests/settings/prevent-auto-start-on-open.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: stabilize delayed session cancellation and recovery E2E
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/task_operations_resume_cancellation_test.go
  apps/web/e2e/tests/session/multi-session.spec.ts
  apps/web/e2e/tests/session/session-recovery.spec.ts
  apps/web/e2e/tests/workflow/workflow-session-targeting.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test: stabilize exact-head E2E failure cases
  apps/web/components/task/workflow-stepper.tsx
  apps/web/e2e/helpers/generating-session.ts
  apps/web/e2e/tests/task/file-tree-create.spec.ts
  apps/web/e2e/tests/workflow/workflow-move-preview-stability-helpers.ts
  apps/web/e2e/tests/workflow/workflow-step-progress.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): stabilize retry-audit failure cases
  apps/web/e2e/tests/git/git-changes-panel.spec.ts
  apps/web/e2e/tests/session/session-recovery.spec.ts
  apps/web/e2e/tests/task/chat-read-multi-file.spec.ts
  apps/web/e2e/tests/task/chat-read-tilde-missing.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: stabilize current PR CI failures
  apps/backend/internal/launcher/process_group_unix_test.go
  apps/web/components/task/workflow-stepper.test.tsx
  apps/web/e2e/tests/terminal/mobile-terminal-keybar.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(e2e): stabilize PR retry-only failures
  apps/web/e2e/helpers/archived-session-recovery.ts
  apps/web/e2e/tests/task/archived-session-recovery.spec.ts
  apps/web/e2e/tests/task/mobile-archived-session-recovery.spec.ts
  apps/web/e2e/tests/task/mobile-repository-discovery.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): stabilize flaky CI scenarios
  apps/backend/cmd/mock-agent/handler.go
  apps/web/e2e/tests/office/taskless-routine-session.spec.ts
  apps/web/e2e/tests/office/workflow-quorum-transitions.spec.ts
  apps/web/e2e/tests/task/file-tree-search.spec.ts
  apps/web/e2e/tests/terminal/terminal-ended-session.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(e2e): stop leaking sessions between reliability tests
  apps/web/e2e/helpers/generating-session.ts
  apps/web/e2e/tests/chat/agent-message-attribution.spec.ts
  apps/web/e2e/tests/chat/mid-turn-steering.spec.ts
  apps/web/e2e/tests/task/subtask.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): fix current-head recovery and queue failures
  apps/web/components/task/chat/queued-ghost-list.test.tsx
  apps/web/components/task/chat/queued-ghost-panel-header.tsx
  apps/web/e2e/helpers/session-entry-recovery.ts
  apps/web/e2e/tests/chat/mobile-message-queue-management.spec.ts
  apps/web/e2e/tests/office/managed-runtime-npm-recovery.spec.ts
  apps/web/e2e/tests/session/mobile-session-entry-recovery.spec.ts
  apps/web/e2e/tests/session/session-recovery.spec.ts
  apps/web/e2e/tests/task/file-tree-chat-context.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: stabilize retry-prone e2e cases
  apps/web/e2e/tests/cli-mode/mobile-passthrough-composer.spec.ts
  apps/web/e2e/tests/office/scheduler-events.spec.ts
  apps/web/e2e/tests/session/session-layout.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): stabilize remaining PR failure cases
  apps/web/e2e/tests/chat/markdown-preview.spec.ts
  apps/web/e2e/tests/chat/mobile-auto-scroll-toggle.spec.ts
  apps/web/e2e/tests/chat/model-selector-error.spec.ts
  apps/web/e2e/tests/office/advanced-mode.spec.ts
  apps/web/e2e/tests/office/new-task-dialog.spec.ts
  apps/web/e2e/tests/plugins/mobile-plugin-action-ux.spec.ts
  apps/web/e2e/tests/settings/mobile-workspace-repository-sets.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: show uncertain delivery recovery controls
  apps/web/components/task/chat/chat-input-container.test.tsx
  apps/web/components/task/chat/chat-input-container.tsx
  apps/web/e2e/tests/session/durable-stream-recovery.spec.ts
  apps/web/e2e/tests/session/mobile-durable-stream-recovery.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): remove flaky queue setup turn
  apps/web/e2e/helpers/generating-session.ts
  apps/web/e2e/tests/chat/queue-admission-reliability.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): stabilize retry-only CI failures
  apps/web/e2e/helpers/session-resume-recovery.ts
  apps/web/e2e/tests/chat/auto-scroll-toggle.spec.ts
  apps/web/e2e/tests/chat/message-queue.spec.ts
  apps/web/e2e/tests/task/change-workflow.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): stabilize mobile and thread layout shards
  apps/web/e2e/helpers/control-sizing.ts
  apps/web/e2e/tests/settings/mobile-kubernetes-task-environment.spec.ts
  apps/web/e2e/tests/task/threads-layouts.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): stabilize desktop smoke and mobile queue setup
  apps/desktop/e2e/desktop-launch-smoke.mjs
  apps/desktop/e2e/desktop-launch-smoke.test.mjs
  apps/web/e2e/tests/chat/mobile-message-queue-management.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: reconcile durable recovery with current main
  apps/backend/internal/agent/runtime/agentctl/control.go
  apps/backend/internal/agent/runtime/lifecycle/session.go
  apps/backend/internal/agent/runtime/lifecycle/session_load_failure_test.go
  apps/web/components/task/chat/messages/action-message-recovery.tsx
  apps/web/components/task/chat/session-stopped-banner.test.tsx
  apps/web/e2e/fixtures/git-shim.mjs
  apps/web/e2e/tests/office/scheduler-events.spec.ts
  apps/web/e2e/tests/task/add-workspace-sources.spec.ts
  apps/web/lib/services/session-recovery-service.test.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: stabilize containment test and migrate run model references
  apps/backend/internal/common/processidentity/processidentity_linux_test.go
  apps/backend/internal/office/dashboard/run_detail_routing_test.go
  apps/backend/internal/office/dashboard/run_detail_test.go
  apps/backend/internal/office/repository/sqlite/run_routing.go
  apps/backend/internal/office/repository/sqlite/run_routing_test.go
  apps/backend/internal/office/service/scheduler_integration.go
Due: gofmt, go-tests, go-lint

fix: settle durable cancellation and preserve recovery environments
  apps/backend/internal/agent/runtime/lifecycle/durable_delivery_stream.go
  apps/backend/internal/agent/runtime/lifecycle/durable_delivery_stream_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_docker_recoverable_failure_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_execution.go
  apps/backend/internal/agent/runtime/lifecycle/manager_execution_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction.go
  apps/backend/internal/agent/runtime/lifecycle/recovery_stop.go
  apps/backend/internal/agentctl/journal/journal_cancel.go
  apps/backend/internal/agentctl/journal/journal_cancel_test.go
  apps/backend/internal/agentctl/journal/journal_submissions.go
  apps/backend/internal/agentctl/server/process/delivery_cancel_test.go
  apps/backend/internal/agentctl/server/process/manager.go
  apps/backend/internal/backendapp/adapters.go
  apps/backend/internal/backendapp/adapters_delivery_submission_test.go
  apps/backend/internal/task/repository/sqlite/agent_delivery_settlement.go
  apps/backend/internal/task/repository/sqlite/agent_delivery_settlement_test.go
  apps/web/e2e/fixtures/backend.ts
  apps/web/e2e/fixtures/git-shim-launcher.ts
  apps/web/e2e/fixtures/git-shim.mjs
  apps/web/e2e/helpers/git-shim-launcher.test.ts
  apps/web/e2e/helpers/session-entry-recovery.ts
  apps/web/e2e/tests/session/mobile-pause-resume-recovery.spec.ts
  apps/web/e2e/tests/session/pause-resume-recovery.spec.ts
  apps/web/lib/git-shim-integration.test.ts
  docs/plans/durable-agent-reattachment/task-03-outcome-settlement.md
  docs/plans/durable-agent-reattachment/task-05-safe-live-adoption.md
  docs/public/executors.md
  docs/specs/platform/system-design/durable-agent-reattachment.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test: admit cancellation fixture through the production boundary
  apps/backend/internal/agentctl/server/api/durable_delivery_stream_test.go
  docs/plans/durable-agent-reattachment/task-03-outcome-settlement.md
Due: gofmt, go-tests, go-lint

test: remove unused markdown helper after rebase
  apps/web/e2e/tests/chat/markdown-preview.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: preserve durable prompt identity across lazy recovery
  apps/backend/internal/agent/runtime/lifecycle/durable_adoption.go
  apps/backend/internal/agent/runtime/lifecycle/durable_adoption_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_delivery_cancel_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_events.go
  apps/backend/internal/agent/runtime/lifecycle/manager_execution.go
  apps/backend/internal/agent/runtime/lifecycle/manager_execution_test.go
  apps/backend/internal/agent/runtime/lifecycle/types.go
  apps/backend/internal/agentctl/server/process/delivery_event_identity_test.go
  apps/backend/internal/agentctl/server/process/manager.go
  apps/backend/internal/task/service/service_turns.go
  apps/backend/internal/task/service/service_turns_test.go
  apps/backend/internal/task/service/workspace_delivery_identity.go
  apps/backend/internal/task/service/workspace_delivery_identity_test.go
  apps/web/src/locales/ko/office.json
  apps/web/src/locales/ko/system.json
  apps/web/src/locales/ko/task.json
  docs/plans/durable-agent-reattachment/task-03-outcome-settlement.md
  docs/plans/durable-agent-reattachment/task-05-safe-live-adoption.md
Due: gofmt, go-tests, go-lint, prettier-format

test: wait for browser fixture persistence
  apps/web/e2e/tests/git/git-changes-panel.spec.ts
  apps/web/e2e/tests/layout/right-panel-visibility.spec.ts
  apps/web/e2e/tests/task/mobile-changes-panel.spec.ts
  docs/plans/durable-agent-reattachment/task-01-detached-journal.md
  docs/plans/durable-agent-reattachment/task-05-safe-live-adoption.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test: decouple detached output from disk throughput
  apps/backend/internal/agentctl/server/process/durable_detached_output_test.go
  docs/plans/durable-agent-reattachment/task-01-detached-journal.md
Due: gofmt, go-tests, go-lint
