Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

fix(web): document browser demo fixture copy
  apps/web/lib/browser-demo/scenario.ts
  apps/web/lib/browser-demo/system-runtime.ts
  apps/web/lib/browser-demo/worker.ts
  apps/web/lib/browser-demo/workflow-runtime.ts
  apps/web/lib/browser-demo/workflow-templates.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(kanban): cap priority-filter tokens and close review-round-2 test gaps
  apps/backend/internal/user/handlers/handlers_test.go
  apps/backend/internal/user/service/service.go
  apps/backend/internal/user/service/service_test.go
  apps/backend/internal/user/service/user_settings_cas_test.go
  apps/web/e2e/tests/kanban/board-priority-sort-filter.spec.ts
  apps/web/hooks/use-drag-and-drop.test.ts
  apps/web/hooks/use-kanban-display-settings.test.ts
  apps/web/hooks/use-task-multi-select.test.ts
  apps/web/lib/kanban/priority-filter-tokens.test.ts
  apps/web/lib/kanban/task-order.test.ts
  apps/web/lib/kanban/task-projections.test.ts
  apps/web/lib/kanban/view-registry-ordering.test.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(backend): include kanban sort and priority filter in boot payload
  apps/backend/internal/backendapp/boot_state_routes.go
  apps/backend/internal/backendapp/boot_state_user_settings_test.go
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/tests/kanban/board-priority-sort-filter.spec.ts
  apps/web/e2e/tests/kanban/mobile-board-priority-sort-filter.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(web): fix priority fallback and bulk-action filter eligibility on kanban board
  apps/web/components/kanban/swimlane-kanban-content.tsx
  apps/web/components/kanban/swipeable-columns.tsx
  apps/web/hooks/use-task-multi-select.test.ts
  apps/web/hooks/use-task-multi-select.ts
  apps/web/hooks/use-user-display-settings.test.ts
  apps/web/hooks/use-user-display-settings.ts
  apps/web/lib/kanban/task-order.test.ts
  apps/web/lib/kanban/task-order.ts
  apps/web/lib/ws/handlers/kanban.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): drop spec-ID comments and add board-sort accessible name
  apps/backend/internal/user/models/kanban_view_preferences.go
  apps/backend/internal/user/service/service.go
  apps/backend/internal/user/store/sqlite.go
  apps/web/components/kanban-display-dropdown.test.tsx
  apps/web/components/kanban-display-dropdown.tsx
  apps/web/components/kanban/mobile-menu-sheet.test.tsx
  apps/web/components/kanban/mobile-menu-sheet.tsx
  apps/web/hooks/use-task-multi-select.ts
  apps/web/hooks/use-user-display-settings.ts
  apps/web/lib/kanban/priority-filter-tokens.ts
  apps/web/lib/kanban/task-order.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

docs(tasks): add board priority sort and filter requirements
  docs/specs/tasks/README.md
  docs/specs/tasks/requirements/board-priority-sort-filter-order.md
  docs/specs/tasks/requirements/board-priority-sort-filter-view-state.md
  docs/specs/tasks/requirements/board-priority-sort-filter.md
Due: none

feat(web): sort and filter the kanban board by priority
  apps/web/components/kanban-display-dropdown.test.tsx
  apps/web/components/kanban-display-dropdown.tsx
  apps/web/components/kanban/mobile-menu-sheet.test.tsx
  apps/web/components/kanban/mobile-menu-sheet.tsx
  apps/web/components/kanban/swimlane-graph2-content.tsx
  apps/web/components/kanban/swimlane-kanban-content.tsx
  apps/web/components/kanban/swipeable-columns.tsx
  apps/web/hooks/use-ensure-user-settings.test.ts
  apps/web/hooks/use-kanban-display-settings.test.ts
  apps/web/hooks/use-kanban-display-settings.ts
  apps/web/hooks/use-mobile-menu-sheet-state.ts
  apps/web/hooks/use-task-multi-select.test.ts
  apps/web/hooks/use-task-multi-select.ts
  apps/web/hooks/use-user-display-settings.test.ts
  apps/web/hooks/use-user-display-settings.ts
  apps/web/lib/kanban/kanban-sort.test.ts
  apps/web/lib/kanban/kanban-sort.ts
  apps/web/lib/kanban/priority-filter-tokens.test.ts
  apps/web/lib/kanban/priority-filter-tokens.ts
  apps/web/lib/kanban/task-order.test.ts
  apps/web/lib/kanban/task-order.ts
  apps/web/lib/kanban/task-projections.test.ts
  apps/web/lib/kanban/task-projections.ts
  apps/web/lib/ssr/user-settings.ts
  apps/web/lib/state/slices/settings/types.ts
  apps/web/lib/types/http-user-settings.ts
  apps/web/lib/ws/handlers/kanban-priority.test.ts
  apps/web/lib/ws/handlers/kanban.ts
  apps/web/src/locales/en/kanban.json
  apps/web/src/locales/pt-pt/kanban.json
  apps/web/src/locales/zh-cn/kanban.json
  apps/web/src/locales/zh-hk/kanban.json
  apps/web/src/locales/zh-tw/kanban.json
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(user): persist kanban board sort and priority filter tokens
  apps/backend/internal/user/controller/controller.go
  apps/backend/internal/user/dto/dto.go
  apps/backend/internal/user/dto/dto_test.go
  apps/backend/internal/user/handlers/handlers_test.go
  apps/backend/internal/user/models/kanban_view_preferences.go
  apps/backend/internal/user/models/kanban_view_preferences_test.go
  apps/backend/internal/user/models/models.go
  apps/backend/internal/user/service/service.go
  apps/backend/internal/user/service/service_test.go
  apps/backend/internal/user/service/user_settings_cas_test.go
  apps/backend/internal/user/store/sqlite.go
  apps/backend/internal/user/store/sqlite_test.go
  apps/web/lib/kanban/task-priority.test.ts
  apps/web/lib/kanban/task-priority.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(web): reconcile with the merged task-priority feature after rebase
  apps/web/components/kanban-display-dropdown.test.tsx
  apps/web/components/kanban-display-dropdown.tsx
  apps/web/components/kanban/mobile-menu-sheet.tsx
  apps/web/e2e/helpers/api-client.ts
  apps/web/hooks/use-task-multi-select.ts
  apps/web/lib/kanban/priority-filter-tokens.ts
  apps/web/lib/kanban/task-order.ts
  apps/web/lib/kanban/task-priority.test.ts
  apps/web/lib/kanban/task-priority.ts
  apps/web/lib/ws/handlers/kanban-priority.test.ts
  apps/web/src/locales/pseudo/kanban.json
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): restore priority filter wiring after render-isolation rebase
  apps/web/components/kanban/swipeable-columns.tsx
  apps/web/hooks/domains/kanban/use-swimlane-render-data.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(kanban): cap priority-filter tokens and close review-round-2 test gaps
  apps/backend/internal/user/service/service.go
  apps/backend/internal/user/service/service_test.go
  apps/backend/internal/user/store/sqlite.go
  apps/backend/internal/user/store/sqlite_test.go
  apps/web/e2e/tests/kanban/board-priority-sort-filter.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(web): check discard-worktree consent before E2E preview delete
  apps/web/e2e/tests/kanban/task-actions-menu-preview.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): stabilize archive confirmation surface
  apps/web/components/task/task-archive-confirmation.test.tsx
  apps/web/components/task/task-archive-confirmation.tsx
  apps/web/e2e/tests/kanban/cascade-subtasks-toggle.spec.ts
  docs/plans/archive-confirmation-stable-surface/plan.md
  docs/plans/archive-confirmation-stable-surface/task-01-stabilize-archive-confirmation-selection.md
  docs/specs/ui/requirements/confirmation-warning-hierarchy.md
  docs/specs/ui/system-design/confirmation-warning-hierarchy.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): align rebased demo checks
  apps/web/components/command-panel-task-activity.test.tsx
  apps/web/src/settings-routes.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

media: screenshots for PR #3460
  cascade-subtasks-toggle--stable-archive-cascade-dialog.png
Due: none

fix: harden workflow scripts and restore inline editor
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/event_handlers_workflow_triggers_test.go
  apps/backend/internal/orchestrator/workflow_script_profile_switch_test.go
  apps/backend/internal/orchestrator/workflow_script_runner.go
  apps/backend/internal/orchestrator/workflow_script_runner_test.go
  apps/web/app/settings/workspace/workspace-workflows-client.tsx
  apps/web/components/settings/workflow-editor/action-editor.tsx
  apps/web/components/settings/workflow-editor/action-list.tsx
  apps/web/components/settings/workflow-editor/automation-tab.test.tsx
  apps/web/components/settings/workflow-editor/automation-tab.tsx
  apps/web/components/settings/workflow-editor/inspector.tsx
  apps/web/components/settings/workflow-editor/issue-summary.tsx
  apps/web/components/settings/workflow-editor/mobile-editor.tsx
  apps/web/components/settings/workflow-editor/pipeline.tsx
  apps/web/components/settings/workflow-editor/workflow-editor-draft.test.ts
  apps/web/components/settings/workflow-editor/workflow-editor-draft.ts
  apps/web/components/settings/workflow-editor/workflow-editor-navigation.ts
  apps/web/components/settings/workflow-editor/workflow-editor-page.tsx
  apps/web/components/settings/workflow-editor/workflow-editor-paths.test.ts
  apps/web/components/settings/workflow-editor/workflow-editor-paths.ts
  apps/web/components/settings/workflow-pipeline-editor-panels.tsx
  apps/web/components/settings/workflow-pipeline-editor.tsx
  apps/web/e2e/pages/workflow-settings-page.ts
  apps/web/e2e/tests/workflow/mobile-workflow-editor.spec.ts
  apps/web/e2e/tests/workflow/mobile-workflow-settings.spec.ts
  apps/web/e2e/tests/workflow/workflow-editor.spec.ts
  apps/web/e2e/tests/workflow/workflow-settings.spec.ts
  apps/web/e2e/tests/workflow/workflow-step-script-profile-switch.spec.ts
  apps/web/e2e/tests/workflow/workflow-step-scripts.spec.ts
  apps/web/lib/workflows/workflow-action-catalog.test.ts
  apps/web/lib/workflows/workflow-action-catalog.ts
  apps/web/lib/workflows/workflow-editor-view-model.test.ts
  apps/web/lib/workflows/workflow-editor-view-model.ts
  apps/web/src/settings-routes.tsx
  apps/web/src/settings-routes.workspace-data.tsx
  docs/plans/workflow-step-script-actions/plan.md
  docs/plans/workflow-step-script-actions/task-11-harden-script-occurrence-and-locks.md
  docs/plans/workflow-step-script-actions/task-12-restore-inline-workflow-tabs.md
  docs/plans/workflow-step-script-actions/task-13-prove-revised-inline-experience.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

media: refresh screenshots for PR #3460
  cascade-subtasks-toggle--stable-archive-cascade-dialog.png
Due: none

fix(web): preserve pending archive dismissal
  apps/web/components/task/task-archive-confirmation.test.tsx
  apps/web/components/task/task-archive-confirmation.tsx
  apps/web/e2e/tests/kanban/cascade-subtasks-toggle.spec.ts
  docs/plans/archive-confirmation-stable-surface/plan.md
  docs/plans/archive-confirmation-stable-surface/task-01-stabilize-archive-confirmation-selection.md
  docs/specs/ui/requirements/confirmation-warning-hierarchy.md
  docs/specs/ui/system-design/confirmation-warning-hierarchy.md
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: refresh PR 3460 screenshot
  cascade-subtasks-toggle--stable-archive-cascade-dialog.png
Due: none

test(web): stabilize feeder drag E2E
  apps/web/e2e/tests/kanban/wip-overflow-queue.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: restore inline workflow editor compatibility
  apps/web/components/settings/workflow-editor/inspector.tsx
  apps/web/e2e/pages/workflow-settings-page.ts
  apps/web/e2e/tests/workflow/mobile-workflow-cancel-completion.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: harden managed workspace metadata paths
  apps/backend/internal/agent/runtime/lifecycle/workspace_materialization.go
  apps/backend/internal/agentctl/server/api/agent.go
  apps/backend/internal/agentctl/server/api/agent_adapter_actions_test.go
  apps/backend/internal/worktree/git_metadata.go
  apps/backend/internal/worktree/git_metadata_test.go
Due: gofmt, go-tests, go-lint

media: screenshots for PR #3461
  saved-task-view-delete-desktop.png
  saved-task-view-delete-mobile.png
Due: none

fix(ci): write portable preview checksum
  .github/scripts/preview-env-workflow-contract_test.py
  .github/workflows/preview-env.yml
Due: none

fix(ci): stabilize failing main e2e runs
  apps/backend/internal/orchestrator/executor/executor.go
  apps/backend/internal/orchestrator/executor/executor_environment_reuse.go
  apps/backend/internal/orchestrator/executor/executor_execute.go
  apps/backend/internal/orchestrator/executor/executor_mocks_test.go
  apps/backend/internal/orchestrator/executor/executor_resume_inherited_env_test.go
  apps/backend/internal/task/repository/sqlite/task_environment.go
  apps/backend/internal/task/repository/sqlite/task_environment_test.go
  apps/backend/internal/task/service/resource_cleanup_jobs.go
  apps/backend/internal/task/service/resource_cleanup_worktree_retry_test.go
  apps/web/e2e/fixtures/test-base.ts
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/tests/chat/cancel-progress-task-switch.spec.ts
  apps/web/e2e/tests/file-tree-multi-select.spec.ts
  apps/web/e2e/tests/improve-kandev.spec.ts
  apps/web/e2e/tests/task/create-task-branch-selector.spec.ts
  apps/web/e2e/tests/task/threads-view.spec.ts
  apps/web/e2e/tests/task/workspace-file-transfer.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(office): recover auto-paused agent when marked fixed
  apps/backend/internal/office/service/failure.go
  apps/backend/internal/office/service/failure_test.go
Due: gofmt, go-tests, go-lint

test(e2e): stabilize cancel progress reload coverage
  apps/web/e2e/tests/chat/cancel-progress-task-switch.spec.ts
  apps/web/e2e/tests/chat/mobile-cancel-progress-reload.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(ci): use tokenless preview checkouts
  .github/scripts/preview-env-workflow-contract_test.py
  .github/workflows/preview-env.yml
Due: none

test(ci): cover preview package dispatch
  apps/backend/cmd/preview/build_test.go
Due: gofmt, go-tests, go-lint

test(ci): cover preview package failure paths
  apps/backend/cmd/preview/package.go
  apps/backend/cmd/preview/package_test.go
Due: gofmt, go-tests, go-lint

fix: harden managed workspace recovery
  apps/backend/internal/agent/runtime/lifecycle/executor_docker.go
  apps/backend/internal/agent/runtime/lifecycle/executor_docker_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_execution.go
  apps/backend/internal/agent/runtime/lifecycle/manager_execution_git_metadata_test.go
Due: gofmt, go-tests, go-lint

fix(office): grant record_step_decision capability to seat holders
  apps/backend/internal/office/runtime/capabilities.go
  apps/backend/internal/office/runtime/capabilities_test.go
  apps/backend/internal/office/runtime/context.go
  apps/backend/internal/office/runtime/context_builder.go
  apps/backend/internal/office/runtime/context_builder_test.go
  apps/backend/internal/office/service/decision_seat.go
  apps/backend/internal/office/service/decision_seat_test.go
  apps/backend/internal/office/service/prompt_builder_test.go
  apps/backend/internal/office/service/scheduler_integration.go
Due: gofmt, go-tests, go-lint

fix(office): log denied decision-seat lookups and fix spec drift
  apps/backend/internal/office/service/decision_seat.go
  docs/specs/office/system-design/runtime-01.md
Due: gofmt, go-tests, go-lint

fix(office): stop decision-seat observation from recording quorum metrics
  apps/backend/internal/office/engine_dispatcher/dispatcher.go
  apps/backend/internal/office/engine_dispatcher/dispatcher_role_readonly_test.go
  apps/backend/internal/office/engine_dispatcher/dispatcher_test.go
  apps/backend/internal/office/service/decision_seat.go
  apps/backend/internal/office/service/decision_seat_test.go
  apps/backend/internal/workflow/engine/quorum.go
  apps/backend/internal/workflow/engine/quorum_agent_resolver_test.go
Due: gofmt, go-tests, go-lint

fix(ci): harden e2e fixtures and cleanup ownership
  apps/backend/cmd/mock-agent/handler.go
  apps/backend/cmd/mock-agent/mock_agent_test.go
  apps/backend/internal/orchestrator/executor/executor_resume_inherited_env_test.go
  apps/backend/internal/task/repository/sqlite/task_environment.go
  apps/backend/internal/task/repository/sqlite/task_environment_test.go
  apps/backend/internal/task/service/resource_cleanup_jobs.go
  apps/backend/internal/task/service/resource_cleanup_jobs_test.go
  apps/web/e2e/fixtures/test-base.ts
  apps/web/e2e/tests/chat/agent-message-comments-helpers.ts
  apps/web/e2e/tests/chat/cancel-progress-task-switch.spec.ts
  apps/web/e2e/tests/kanban/wip-overflow-queue.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(plugins): fence H6 capability authority
  apps/backend/internal/plugins/approval.go
  apps/backend/internal/plugins/approval_api_test.go
  apps/backend/internal/plugins/approval_dto_test.go
  apps/backend/internal/plugins/approval_query_test.go
  apps/backend/internal/plugins/approval_service.go
  apps/backend/internal/plugins/approval_store.go
  apps/backend/internal/plugins/approval_store_test.go
  apps/backend/internal/plugins/approval_test.go
  apps/backend/internal/plugins/service_install_test.go
  apps/backend/internal/plugins/service_test.go
Due: gofmt, go-tests, go-lint

fix(ci): stabilize ordered e2e shard coverage
  apps/web/e2e/tests/session/session-tab-management.spec.ts
  apps/web/e2e/tests/task/large-file-tree-virtualization-helpers.ts
  apps/web/e2e/tests/task/large-file-tree-virtualization.spec.ts
  apps/web/e2e/tests/task/mobile-large-file-tree-virtualization.spec.ts
  apps/web/e2e/tests/task/prompt-history-auto-load.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(office): tighten guard-path test assertion in MarkAgentPausedFixed
  apps/backend/internal/office/service/failure_test.go
Due: gofmt, go-tests, go-lint

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
