Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

fix(agents): make Pi MCP eager and pin adapter
  apps/backend/internal/agent/agents/managed_npm_runtime_test.go
  apps/backend/internal/agent/agents/managed_npm_runtime_versions.json
  apps/backend/internal/agent/agents/new_acp_agents_test.go
  apps/backend/internal/agent/agents/pi_acp.go
  apps/backend/internal/agent/mcpconfig/passthrough.go
  apps/backend/internal/agent/mcpconfig/passthrough_test.go
  docs/decisions/0020-pi-project-mcp-config-injection.md
Due: gofmt, go-tests, go-lint

refactor(office): drop AC-ID and task-order references from comments
  apps/backend/internal/backendapp/main.go
  apps/backend/internal/office/repository/sqlite/wake_receipts.go
  apps/backend/internal/office/scheduler/reactivity.go
  apps/backend/internal/office/scheduler/run.go
  apps/backend/internal/office/service/wave_identity.go
  apps/backend/internal/orchestrator/event_handlers_children_completed.go
  apps/backend/internal/runs/repository/sqlite/idempotency_violation.go
  apps/backend/internal/runs/service/service.go
  apps/backend/internal/workflow/engine/payloads.go
Due: gofmt, go-tests, go-lint

test: cover Cursor retry classification invariants
  apps/backend/internal/agent/runtime/routingerr/cursor_retriable_stream_reset_test.go
Due: gofmt, go-tests, go-lint

docs(plans): close out parent-wake-wave-identity plan verification results
  docs/plans/parent-wake-wave-identity/plan.md
Due: none

fix(settings): address settings adapter review findings
  apps/backend/internal/agent/mcpconfig/service.go
  apps/backend/internal/agent/mcpconfig/types.go
  apps/backend/internal/agent/settings/controller/agent_config.go
  apps/backend/internal/agent/settings/controller/agent_crud.go
  apps/backend/internal/agent/settings/dto/dto.go
  apps/backend/internal/agent/settings/handlers/handlers.go
  apps/backend/internal/agent/settings/store/sqlite.go
  apps/backend/internal/agent/settings/store/sqlite_mcp_patch_test.go
  apps/backend/internal/agent/settings/store/store.go
  apps/backend/internal/backendapp/helpers.go
  apps/backend/internal/backendapp/settings_domain_dependencies.go
  apps/backend/internal/backendapp/settings_domain_operations.go
  apps/backend/internal/backendapp/settings_integration_operations.go
  apps/backend/internal/backendapp/settings_operations.go
  apps/backend/internal/backendapp/settings_operations_test.go
  apps/backend/internal/mcp/handlers/config_agent_handlers.go
  apps/backend/internal/mcp/handlers/config_agent_handlers_test.go
  apps/backend/internal/mcp/handlers/config_mcp_handlers.go
  apps/backend/internal/settingscatalog/catalog.go
  apps/backend/internal/settingscatalog/defaults.go
  apps/backend/internal/task/service/service_requests.go
  apps/backend/internal/task/service/service_requests_test.go
  apps/backend/internal/task/service/service_resources.go
  apps/web/app/settings/agents/[agentId]/use-profile-mcp-config.test.ts
  apps/web/app/settings/agents/[agentId]/use-profile-mcp-config.ts
  apps/web/components/settings/agent-profile-page-state.test.ts
  apps/web/components/settings/agent-profile-page-state.ts
  apps/web/lib/settings-discovery/contract.generated.json
  apps/web/lib/settings-discovery/coverage-inventory.test.ts
  apps/web/lib/settings-discovery/coverage-inventory.ts
  apps/web/lib/settings-discovery/delivery-coverage.test.ts
  docs/plans/agent-settings-parity/coverage-inventory.md
  docs/plans/agent-settings-parity/plan.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: don't collapse a genuine clarification/permission wait to REVIEW
  apps/backend/internal/orchestrator/event_handlers_streaming.go
  apps/backend/internal/orchestrator/event_handlers_streaming_test.go
  apps/backend/internal/orchestrator/service.go
Due: gofmt, go-tests, go-lint

feat: add Apprise availability rescan
  apps/web/components/settings/notifications-settings-actions.test.tsx
  apps/web/components/settings/notifications-settings-actions.ts
  apps/web/components/settings/notifications-settings-external-providers.tsx
  apps/web/components/settings/notifications-settings.test.tsx
  apps/web/components/settings/notifications-settings.tsx
  apps/web/e2e/tests/settings/apprise-rescan-helpers.ts
  apps/web/e2e/tests/settings/apprise-rescan.spec.ts
  apps/web/e2e/tests/settings/mobile-apprise-rescan.spec.ts
  apps/web/hooks/domains/settings/use-notification-providers.test.tsx
  apps/web/hooks/domains/settings/use-notification-providers.ts
  apps/web/lib/state/app-state-types.ts
  apps/web/lib/state/slices/settings/settings-slice.test.ts
  apps/web/lib/state/slices/settings/settings-slice.ts
  apps/web/lib/state/slices/settings/types.ts
  apps/web/src/locales/en/settings.json
  apps/web/src/locales/pseudo/settings.json
  apps/web/src/locales/pt-pt/settings.json
  apps/web/src/locales/zh-cn/settings.json
  apps/web/src/locales/zh-hk/settings.json
  apps/web/src/locales/zh-tw/settings.json
  docs/plans/apprise-rescan/plan.md
  docs/plans/apprise-rescan/task-01-apprise-rescan.md
  docs/public/developer-tools.md
  docs/specs/platform/README.md
  docs/specs/platform/requirements/apprise-rescan.md
  docs/specs/platform/system-design/apprise-rescan.md
Due: prettier-format, web-lint, web-tests, web-typecheck

media: screenshots for PR #3551
  apprise-rescan-desktop.png
  apprise-rescan-mobile.png
Due: none

fix(settings): close review gaps in agent settings
  apps/backend/cmd/settings-catalog/main.go
  apps/backend/internal/backendapp/settings_domain_dependencies.go
  apps/backend/internal/backendapp/settings_domain_operations.go
  apps/backend/internal/backendapp/settings_operations.go
  apps/backend/internal/backendapp/settings_operations_test.go
  apps/backend/internal/backendapp/settings_resource_targets_test.go
  apps/backend/internal/mcp/handlers/settings_handlers.go
  apps/backend/internal/mcp/handlers/settings_handlers_test.go
  apps/backend/internal/settingscatalog/catalog.go
  apps/backend/internal/settingscatalog/defaults.go
  apps/backend/internal/settingscatalog/defaults_test.go
  apps/backend/internal/system/storage/handler.go
  apps/backend/internal/system/storage/settings.go
  apps/backend/internal/system/storage/settings_test.go
  apps/web/lib/settings-discovery/contract.generated.json
  apps/web/lib/settings-discovery/coverage-inventory.ts
  apps/web/lib/settings-discovery/delivery-coverage.test.ts
  apps/web/lib/settings-discovery/profile-contract.generated.json
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

docs: align Pi managed runtime guidance
  apps/backend/internal/agent/agents/ACP_BRIDGE_VERSIONS.md
  apps/backend/internal/agent/agents/managed_npm_runtime_test.go
  docs/plans/pi-runtime-surfaces/plan.md
  docs/plans/pi-runtime-surfaces/task-01-correct-pi-execution-surfaces.md
  docs/public/agents-and-profiles.md
  docs/specs/cli/requirements/cli-mode-parity.md
Due: gofmt, go-tests, go-lint

fix: preserve Apprise availability during saves
  apps/web/components/settings/notifications-settings-actions.test.tsx
  apps/web/components/settings/notifications-settings-actions.ts
  apps/web/components/settings/notifications-settings-external-providers.tsx
  apps/web/lib/state/app-state-types.ts
  apps/web/lib/state/slices/settings/settings-slice.test.ts
  apps/web/lib/state/slices/settings/settings-slice.ts
  apps/web/lib/state/slices/settings/types.ts
  docs/public/developer-tools.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: restore MCP status after task switches (#3547)
  apps/web/lib/state/slices/session/session-slice.ts
  apps/web/lib/state/slices/session/set-task-sessions-mcp.test.ts
  docs/plans/restore-session-mcp-status/plan.md
  docs/plans/restore-session-mcp-status/task-01-restore-session-list-mcp-status.md
  docs/specs/platform/requirements/mcp-session-observability.md
  docs/specs/platform/system-design/mcp-session-observability.md
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: add doc comments to the two patched task-state functions
  apps/backend/internal/orchestrator/event_handlers_streaming.go
  apps/backend/internal/orchestrator/service.go
Due: gofmt, go-tests, go-lint

fix: fail closed instead of defaulting to REVIEW on pending-action lookup error
  apps/backend/internal/orchestrator/event_handlers_streaming.go
  apps/backend/internal/orchestrator/event_handlers_streaming_test.go
  apps/backend/internal/orchestrator/service.go
Due: gofmt, go-tests, go-lint

fix: use pending action projection for task attention (#3549)
  apps/backend/internal/orchestrator/event_handlers_streaming.go
  apps/backend/internal/orchestrator/event_handlers_streaming_test.go
  apps/backend/internal/orchestrator/service.go
  apps/web/app/tasks/[id]/kanban-task-shell.tsx
  apps/web/app/tasks/rich-task-list-row.tsx
  apps/web/components/kanban-card-content.tsx
  apps/web/components/kanban/graph2-step-node.tsx
  apps/web/components/kanban/swimlane-graph-content.tsx
  apps/web/hooks/use-task-pending-input.test.tsx
  apps/web/hooks/use-task-pending-input.ts
  apps/web/lib/utils/needs-action.test.ts
  apps/web/lib/utils/needs-action.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: preserve newer MCP status during hydration (#3552)
  apps/web/lib/state/hydration/hydrator.test.ts
  apps/web/lib/state/hydration/hydrator.ts
  apps/web/lib/state/slices/session-runtime/mcp-attachment-reconciliation.ts
  apps/web/lib/state/slices/session/session-slice.ts
  apps/web/lib/state/slices/session/set-task-sessions-mcp.test.ts
  docs/plans/restore-session-mcp-status/plan.md
  docs/plans/restore-session-mcp-status/task-01-restore-session-list-mcp-status.md
  docs/specs/platform/system-design/mcp-session-observability.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: guard stale Apprise rescans
  apps/web/components/settings/notifications-settings-external-providers.tsx
  apps/web/components/settings/notifications-settings.test.tsx
  apps/web/e2e/tests/settings/mobile-apprise-rescan.spec.ts
  apps/web/hooks/domains/settings/use-notification-providers.test.tsx
  apps/web/hooks/domains/settings/use-notification-providers.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: cover newer MCP session snapshots (#3552)
  apps/web/lib/state/slices/session/set-task-sessions-mcp.test.ts
  docs/plans/restore-session-mcp-status/plan.md
  docs/plans/restore-session-mcp-status/task-01-restore-session-list-mcp-status.md
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(tasks): queue prompts during session resume
  apps/backend/cmd/mock-agent/main.go
  apps/backend/cmd/mock-agent/mock_agent_test.go
  apps/backend/internal/agent/agents/mock.go
  apps/backend/internal/agent/agents/mock_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/handlers/queue_handlers.go
  apps/backend/internal/orchestrator/handlers/queue_handlers_admission_test.go
  apps/backend/internal/orchestrator/resume_prompt_queue_test.go
  apps/backend/internal/orchestrator/service.go
  apps/web/components/task/chat/chat-input-area.test.tsx
  apps/web/components/task/chat/chat-input-area.tsx
  apps/web/components/task/chat/chat-input-container.tsx
  apps/web/components/task/chat/use-chat-input-container.test.ts
  apps/web/components/task/chat/use-chat-input-container.ts
  apps/web/components/task/chat/use-chat-input-state.test.ts
  apps/web/components/task/chat/use-composer-props.ts
  apps/web/e2e/helpers/session-resume-prompt-queue.ts
  apps/web/e2e/tests/session/mobile-session-resume-prompt-queue.spec.ts
  apps/web/e2e/tests/session/session-recovery.spec.ts
  apps/web/e2e/tests/session/session-resume-prompt-queue.spec.ts
  apps/web/hooks/domains/session/use-queue-admission.ts
  apps/web/hooks/domains/session/use-queue.test.ts
  apps/web/hooks/domains/session/use-queue.ts
  apps/web/hooks/domains/session/use-session-resumption-operations.ts
  apps/web/hooks/domains/session/use-session-resumption.test.ts
  apps/web/hooks/domains/session/use-session-resumption.ts
  apps/web/hooks/use-message-handler.test.ts
  apps/web/hooks/use-message-handler.ts
  docs/plans/resume-prompt-queue/plan.md
  docs/plans/resume-prompt-queue/task-01-admission-readiness.md
  docs/plans/resume-prompt-queue/task-02-resume-composer.md
  docs/public/sessions-and-review.md
  docs/specs/tasks/README.md
  docs/specs/tasks/requirements/resume-prompt-queue.md
  docs/specs/tasks/system-design/resume-prompt-queue.md
  docs/specs/ui/requirements/session-start-composer-readiness.md
  docs/specs/ui/system-design/session-start-composer-readiness.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

media: screenshots for PR #3553
  kubernetes-session-desktop.png
  kubernetes-session-mobile.png
Due: none

fix(office): close review-round-1 blockers in wave identity feature
  apps/backend/internal/office/scheduler/reactivity.go
  apps/backend/internal/office/scheduler/reactivity_children_completed_wave_test.go
  apps/backend/internal/office/scheduler/run.go
  apps/backend/internal/office/scheduler/run_test.go
  apps/backend/internal/runs/service/service_test.go
  apps/backend/internal/workflow/engine/phase2_callbacks.go
  apps/backend/internal/workflow/engine/queue_run_wave_identity_test.go
Due: gofmt, go-tests, go-lint

fix(office): read live draft status for routine next-fire display
  apps/web/app/office/routines/[id]/routine-detail-view.test.tsx
  apps/web/app/office/routines/[id]/routine-detail-view.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

release: publish 0.94.0
  CHANGELOG.md
  apps/cli/package.json
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier-format

feat(backend): derive runner-mutability projection and add SwitchTaskRunner service method
  apps/backend/internal/task/dto/dto.go
  apps/backend/internal/task/dto/task_runner_mutability.go
  apps/backend/internal/task/handlers/task_http_handlers.go
  apps/backend/internal/task/handlers/task_runner_handlers.go
  apps/backend/internal/task/service/service.go
  apps/backend/internal/task/service/service_events.go
  apps/backend/internal/task/service/service_runner_switch.go
  apps/backend/internal/task/service/service_runner_switch_test.go
Due: gofmt, go-tests, go-lint

fix(backend): serialize executors_running writes against a runner switch
  apps/backend/internal/task/repository/sqlite/executor.go
  apps/backend/internal/task/repository/sqlite/runner_switch_test.go
Due: gofmt, go-tests, go-lint

feat(web): wire runner switch into the task edit save flow
  apps/web/components/task-create-dialog-form-body.test.tsx
  apps/web/components/task-create-dialog-form-body.tsx
  apps/web/components/task-create-dialog-helpers.ts
  apps/web/components/task-create-dialog-setup.ts
  apps/web/components/task-create-dialog-state.test.ts
  apps/web/components/task-create-dialog-state.ts
  apps/web/components/task-create-dialog-submit.test.tsx
  apps/web/components/task-create-dialog-submit.tsx
  apps/web/components/task-create-dialog-types.ts
  apps/web/components/task-create-dialog.test.tsx
  apps/web/components/task/new-subtask-form-state.ts
  apps/web/src/locales/en/task.json
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(backend): serialize workspace-group membership inserts against a runner switch
  apps/backend/internal/office/repository/sqlite/workspace_group_runner_switch_test.go
  apps/backend/internal/office/repository/sqlite/workspace_groups.go
Due: gofmt, go-tests, go-lint

feat(web): add runner-mutability fields to Task type, mapper, and store
  apps/web/lib/kanban/map-task.test.ts
  apps/web/lib/kanban/map-task.ts
  apps/web/lib/state/slices/kanban/types.ts
  apps/web/lib/types/http.ts
  apps/web/lib/ws/handlers/tasks.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(backend): add batched runner-mutability signal reads
  apps/backend/internal/office/repository/sqlite/workspace_groups.go
  apps/backend/internal/office/repository/sqlite/workspace_groups_active_task_ids_test.go
  apps/backend/internal/task/handlers/process_handlers_test.go
  apps/backend/internal/task/repository/interface.go
  apps/backend/internal/task/repository/repoerrors/errors.go
  apps/backend/internal/task/repository/sqlite/batched_task_existence.go
  apps/backend/internal/task/repository/sqlite/executor.go
  apps/backend/internal/task/repository/sqlite/executor_profile.go
  apps/backend/internal/task/repository/sqlite/runner_switch_batched_reads_test.go
  apps/backend/internal/task/repository/sqlite/task_environment.go
  apps/backend/internal/task/service/service_task_environments_test.go
Due: gofmt, go-tests, go-lint

docs(specs): add runner switch before materialization spec
  apps/backend/internal/task/models/runner_mutability.go
  apps/backend/internal/task/models/runner_mutability_test.go
  docs/specs/tasks/README.md
  docs/specs/tasks/requirements/runner-switch-before-materialization-action.md
  docs/specs/tasks/requirements/runner-switch-before-materialization-effects.md
  docs/specs/tasks/requirements/runner-switch-before-materialization.md
  docs/specs/tasks/system-design/runner-switch-before-materialization.md
Due: gofmt, go-tests, go-lint

feat(web): thread runner-mutability fields through editingTask sites
  apps/web/components/kanban-board.tsx
  apps/web/components/kanban-card.tsx
  apps/web/components/task-create-dialog-effects-executor.test.ts
  apps/web/components/task-create-dialog-effects.ts
  apps/web/components/task-create-dialog-setup.ts
  apps/web/components/task-create-dialog-types.ts
  apps/web/components/task/task-session-sidebar-edit.test.ts
  apps/web/components/task/task-session-sidebar-edit.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(backend): add task.runner WS action
  apps/backend/internal/task/handlers/errors.go
  apps/backend/internal/task/handlers/task_handlers.go
  apps/backend/internal/task/handlers/task_runner_handlers_test.go
  apps/backend/internal/task/handlers/task_ws_handlers.go
  apps/backend/pkg/websocket/actions.go
Due: gofmt, go-tests, go-lint

feat(backend): add SwitchTaskRunner repository write with cross-package task lock
  apps/backend/internal/db/tasklock.go
  apps/backend/internal/db/tasklock_test.go
  apps/backend/internal/task/handlers/process_handlers_test.go
  apps/backend/internal/task/handlers/task_http_handlers_external_id_test.go
  apps/backend/internal/task/models/runner_mutability.go
  apps/backend/internal/task/models/runner_mutability_test.go
  apps/backend/internal/task/repository/interface.go
  apps/backend/internal/task/repository/repoerrors/errors.go
  apps/backend/internal/task/repository/sqlite/runner_switch.go
  apps/backend/internal/task/repository/sqlite/runner_switch_test.go
  apps/backend/internal/task/service/handoff_workspace_test.go
Due: gofmt, go-tests, go-lint

fix(backend): lock top-level task workspace-source attachment against a runner switch
  apps/backend/internal/task/repository/sqlite/runner_switch_test.go
  apps/backend/internal/task/repository/sqlite/workspace_folder.go
Due: gofmt, go-tests, go-lint

feat(web): gate runner selector on projected editability, not task state
  apps/web/components/task-create-dialog-create-mode-selectors.tsx
  apps/web/components/task-create-dialog-form-body.test.tsx
  apps/web/components/task-create-dialog-form-body.tsx
  apps/web/components/task-create-dialog-helpers.test.ts
  apps/web/components/task-create-dialog-helpers.ts
  apps/web/components/task-create-dialog-prop-builders.ts
  apps/web/components/task-create-dialog-types.ts
  apps/web/components/task-create-dialog.tsx
  apps/web/src/locales/en/task.json
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(backend): serialize task-repository link updates against a runner switch
  apps/backend/internal/task/repository/sqlite/runner_switch_test.go
  apps/backend/internal/task/repository/sqlite/task_repository.go
Due: gofmt, go-tests, go-lint

fix(backend): wire runner-switch dependencies at boot
  apps/backend/internal/backendapp/helpers.go
  apps/backend/internal/backendapp/main.go
Due: gofmt, go-tests, go-lint

feat(web): add switchTaskRunner WS API wrapper
  apps/web/lib/api/domains/task-runner-api.test.ts
  apps/web/lib/api/domains/task-runner-api.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

i18n(web): translate runner-editing copy to all shipped locales
  apps/web/src/locales/pseudo/task.json
  apps/web/src/locales/pt-pt/task.json
  apps/web/src/locales/zh-cn/task.json
  apps/web/src/locales/zh-hk/task.json
  apps/web/src/locales/zh-tw/task.json
Due: prettier-format

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
