Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

test(lsp): model task-host absence before launch
  apps/backend/internal/agent/runtime/lifecycle/manager_execution_test.go
  docs/plans/task-scoped-lsp-lifecycle/task-16-harden-reattachment-and-preemption.md
Due: gofmt, go-tests, go-lint

fix(lsp): harden task cleanup admission and recovery
  apps/backend/internal/task/repository/interface.go
  apps/backend/internal/task/repository/sqlite/resource_cleanup.go
  apps/backend/internal/task/repository/sqlite/session.go
  apps/backend/internal/task/repository/sqlite/task_cleanup_barrier.go
  apps/backend/internal/task/repository/sqlite/task_cleanup_barrier_test.go
  apps/backend/internal/task/service/handoff_cascade.go
  apps/backend/internal/task/service/handoff_service.go
  apps/backend/internal/task/service/resource_cleanup_activation_test.go
  apps/backend/internal/task/service/resource_cleanup_jobs.go
  apps/backend/internal/task/service/resource_cleanup_jobs_test.go
  apps/backend/internal/task/service/service.go
  apps/backend/internal/task/service/service_cleanup_inventory_test.go
  apps/backend/internal/task/service/service_resources.go
  apps/backend/internal/task/service/service_resources_test.go
  apps/backend/internal/task/service/service_tasks.go
  apps/web/hooks/domains/lsp/use-task-lsp.test.tsx
  apps/web/hooks/domains/lsp/use-task-lsp.ts
  apps/web/lib/state/slices/lsp/lsp-slice.test.ts
  apps/web/lib/state/slices/lsp/lsp-slice.ts
  apps/web/lib/state/slices/lsp/types.ts
  docs/plans/task-scoped-lsp-lifecycle/plan.md
  docs/plans/task-scoped-lsp-lifecycle/task-15-harden-shared-environment-recovery.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(lsp): exercise pinned Windows root containment
  apps/backend/internal/agentctl/server/lsp/document_authorization_test.go
Due: gofmt, go-tests, go-lint

docs(lsp): record lifecycle hardening verification
  docs/plans/task-scoped-lsp-lifecycle/plan.md
  docs/plans/task-scoped-lsp-lifecycle/task-16-harden-reattachment-and-preemption.md
Due: none

fix(lsp): decouple cleanup from launch profiles
  apps/backend/internal/agent/runtime/lifecycle/manager_execution_task_host.go
  apps/backend/internal/agent/runtime/lifecycle/manager_execution_task_host_reconnect_test.go
  docs/decisions/2026-08-05-task-scoped-lsp-ownership.md
  docs/plans/task-scoped-lsp-lifecycle/task-16-harden-reattachment-and-preemption.md
  docs/specs/lsp-file-intelligence/spec.md
Due: gofmt, go-tests, go-lint

fix(lsp): block redirected UNC resolution
  .github/workflows/backend-tests.yml
  apps/backend/Makefile
  apps/backend/internal/agentctl/server/lsp/document_authorization.go
  apps/backend/internal/agentctl/server/lsp/document_authorization_test.go
  docs/decisions/2026-08-05-task-scoped-lsp-ownership.md
  docs/plans/task-scoped-lsp-lifecycle/plan.md
  docs/plans/task-scoped-lsp-lifecycle/task-15-harden-shared-environment-recovery.md
  docs/specs/lsp-file-intelligence/spec.md
Due: gofmt, go-tests, go-lint

fix(lsp): own startup and recovery callbacks
  apps/backend/internal/lsp/controller.go
  apps/backend/internal/lsp/reconcile.go
  apps/backend/internal/lsp/reconcile_test.go
  apps/backend/internal/lsp/watch.go
  apps/backend/internal/lsp/watch_lifecycle_ownership_test.go
  apps/backend/internal/lsp/watch_test.go
  docs/decisions/2026-08-05-task-scoped-lsp-ownership.md
  docs/plans/task-scoped-lsp-lifecycle/task-16-harden-reattachment-and-preemption.md
  docs/specs/lsp-file-intelligence/spec.md
Due: gofmt, go-tests, go-lint

fix(lsp): close task cleanup recovery gaps
  apps/backend/internal/agent/runtime/agentctl/client_lsp.go
  apps/backend/internal/agent/runtime/agentctl/client_lsp_test.go
  apps/backend/internal/agentctl/AGENTS.md
  apps/backend/internal/agentctl/server/api/lsp.go
  apps/backend/internal/agentctl/server/api/lsp_test.go
  apps/backend/internal/agentctl/server/api/server.go
  apps/backend/internal/agentctl/server/lsp/manager.go
  apps/backend/internal/agentctl/server/lsp/manager_cleanup_test.go
  apps/backend/internal/agentctl/server/lsp/manager_purge.go
  apps/backend/internal/agentctl/server/lsp/process_tree_unix_test.go
  apps/backend/internal/backendapp/adapters.go
  apps/backend/internal/backendapp/task_lsp_test.go
  apps/backend/internal/gateway/websocket/lsp_handler_test.go
  apps/backend/internal/lsp/capacity_controller.go
  apps/backend/internal/lsp/controller.go
  apps/backend/internal/lsp/controller_capacity_test.go
  apps/backend/internal/lsp/controller_store_test.go
  apps/backend/internal/lsp/controller_test.go
  apps/backend/internal/lsp/reconcile.go
  apps/backend/internal/lsp/reconcile_test.go
  apps/backend/internal/task/service/handoff_cascade.go
  apps/backend/internal/task/service/handoff_cascade_test.go
  apps/backend/internal/task/service/resource_cleanup_activation_test.go
  apps/backend/internal/task/service/resource_cleanup_jobs.go
  docs/decisions/2026-08-05-task-scoped-lsp-ownership.md
  docs/decisions/2026-08-08-task-owned-worktree-lifetime.md
  docs/plans/task-scoped-lsp-lifecycle/plan.md
  docs/plans/task-scoped-lsp-lifecycle/task-15-harden-shared-environment-recovery.md
  docs/public/developer-tools.md
  docs/specs/lsp-file-intelligence/spec.md
Due: gofmt, go-tests, go-lint

docs(lsp): record final review remediation
  docs/plans/task-scoped-lsp-lifecycle/plan.md
  docs/plans/task-scoped-lsp-lifecycle/task-15-harden-shared-environment-recovery.md
Due: none

fix(lsp): reconcile task gateway errors
  apps/backend/internal/gateway/websocket/gateway_wiring_test.go
  apps/backend/internal/gateway/websocket/lsp_handler.go
  apps/backend/internal/gateway/websocket/lsp_handler_proxy_test.go
  apps/backend/internal/gateway/websocket/lsp_handler_test.go
  docs/plans/task-scoped-lsp-lifecycle/plan.md
  docs/plans/task-scoped-lsp-lifecycle/task-15-harden-shared-environment-recovery.md
Due: gofmt, go-tests, go-lint

fix(lsp): preserve capacity evidence
  apps/backend/internal/lsp/capacity_controller.go
  apps/backend/internal/lsp/controller.go
  apps/backend/internal/lsp/controller_capacity_evidence_test.go
  apps/backend/internal/lsp/controller_launch.go
  apps/backend/internal/lsp/controller_store_test.go
  apps/backend/internal/lsp/models.go
  apps/backend/internal/lsp/models_test.go
  apps/backend/internal/lsp/reconcile.go
  apps/backend/internal/task/repository/sqlite/base_migrations.go
  apps/backend/internal/task/repository/sqlite/base_schema.go
  apps/backend/internal/task/repository/sqlite/task_lsp.go
  apps/backend/internal/task/repository/sqlite/task_lsp_postgres_test.go
  apps/backend/internal/task/repository/sqlite/task_lsp_test.go
  docs/decisions/2026-08-05-task-scoped-lsp-ownership.md
  docs/plans/task-scoped-lsp-lifecycle/task-16-harden-reattachment-and-preemption.md
  docs/specs/lsp-file-intelligence/spec.md
Due: gofmt, go-tests, go-lint

docs(lsp): record final review verification
  docs/plans/task-scoped-lsp-lifecycle/plan.md
  docs/plans/task-scoped-lsp-lifecycle/task-15-harden-shared-environment-recovery.md
Due: none

fix(lsp): preserve cascade cleanup secret references
  apps/backend/internal/task/service/resource_cleanup_jobs.go
  apps/backend/internal/task/service/resource_cleanup_jobs_test.go
  docs/plans/task-scoped-lsp-lifecycle/plan.md
  docs/plans/task-scoped-lsp-lifecycle/task-15-harden-shared-environment-recovery.md
Due: gofmt, go-tests, go-lint

docs(lsp): record latest rebase verification
  docs/plans/task-scoped-lsp-lifecycle/plan.md
  docs/plans/task-scoped-lsp-lifecycle/task-15-harden-shared-environment-recovery.md
Due: none

fix(lsp): guard queued capacity promotion
  apps/backend/internal/lsp/capacity_controller.go
  apps/backend/internal/lsp/controller_capacity_test.go
  docs/plans/task-scoped-lsp-lifecycle/plan.md
  docs/plans/task-scoped-lsp-lifecycle/task-15-harden-shared-environment-recovery.md
Due: gofmt, go-tests, go-lint

docs(lsp): record latest main verification
  docs/plans/task-scoped-lsp-lifecycle/plan.md
  docs/plans/task-scoped-lsp-lifecycle/task-15-harden-shared-environment-recovery.md
Due: none

docs(lsp): record attachment recovery verification
  docs/plans/task-scoped-lsp-lifecycle/plan.md
  docs/plans/task-scoped-lsp-lifecycle/task-15-harden-shared-environment-recovery.md
Due: none

fix(lsp): harden document and refresh races
  .github/workflows/backend-tests.yml
  apps/backend/Makefile
  apps/backend/internal/agentctl/server/lsp/document_authorization.go
  apps/backend/internal/agentctl/server/lsp/document_authorization_path_nonwindows.go
  apps/backend/internal/agentctl/server/lsp/document_authorization_path_windows.go
  apps/backend/internal/agentctl/server/lsp/document_authorization_path_windows_test.go
  apps/backend/internal/agentctl/server/lsp/document_authorization_test.go
  apps/backend/internal/agentctl/server/lsp/documents_test.go
  apps/backend/internal/agentctl/server/lsp/hub.go
  apps/backend/internal/agentctl/server/lsp/hub_test.go
  apps/backend/internal/agentctl/server/lsp/runtime.go
  apps/backend/internal/agentctl/server/lsp/runtime_test.go
  apps/web/hooks/domains/lsp/use-task-lsp.test.tsx
  apps/web/hooks/domains/lsp/use-task-lsp.ts
  apps/web/lib/state/slices/lsp/lsp-slice.test.ts
  apps/web/lib/state/slices/lsp/lsp-slice.ts
  apps/web/lib/state/slices/lsp/types.ts
  docs/decisions/2026-08-05-task-scoped-lsp-ownership.md
  docs/plans/task-scoped-lsp-lifecycle/plan.md
  docs/plans/task-scoped-lsp-lifecycle/task-15-harden-shared-environment-recovery.md
  docs/specs/lsp-file-intelligence/spec.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

docs(lsp): record exact-base verification
  docs/plans/task-scoped-lsp-lifecycle/plan.md
  docs/plans/task-scoped-lsp-lifecycle/task-15-harden-shared-environment-recovery.md
Due: none

fix(lsp): align task-host launch timeout
  apps/backend/internal/agent/runtime/lifecycle/manager_execution_task_host.go
  apps/backend/internal/agent/runtime/lifecycle/manager_execution_timeout_test.go
Due: gofmt, go-tests, go-lint

fix(lsp): invalidate stale ready reset
  apps/backend/internal/lsp/watch.go
  apps/backend/internal/lsp/watch_lifecycle_ownership_test.go
  docs/decisions/2026-08-05-task-scoped-lsp-ownership.md
  docs/plans/task-scoped-lsp-lifecycle/task-16-harden-reattachment-and-preemption.md
  docs/specs/lsp-file-intelligence/spec.md
Due: gofmt, go-tests, go-lint

fix(lsp): retain concurrent recovery wakeups
  apps/backend/internal/lsp/watch.go
  apps/backend/internal/lsp/watch_lifecycle_ownership_test.go
  docs/decisions/2026-08-05-task-scoped-lsp-ownership.md
  docs/plans/task-scoped-lsp-lifecycle/task-16-harden-reattachment-and-preemption.md
  docs/specs/lsp-file-intelligence/spec.md
Due: gofmt, go-tests, go-lint

fix(lsp): retain transient recovery work
  apps/backend/internal/lsp/controller.go
  apps/backend/internal/lsp/watch.go
  apps/backend/internal/lsp/watch_test.go
  apps/backend/internal/lsp/watch_transient_failure_test.go
  docs/decisions/2026-08-05-task-scoped-lsp-ownership.md
  docs/plans/task-scoped-lsp-lifecycle/task-16-harden-reattachment-and-preemption.md
  docs/specs/lsp-file-intelligence/spec.md
Due: gofmt, go-tests, go-lint

fix(lsp): serialize crash recovery state
  apps/backend/internal/lsp/watch.go
  apps/backend/internal/lsp/watch_lifecycle_ownership_test.go
  apps/backend/internal/lsp/watch_test.go
  docs/decisions/2026-08-05-task-scoped-lsp-ownership.md
  docs/plans/task-scoped-lsp-lifecycle/task-16-harden-reattachment-and-preemption.md
  docs/specs/lsp-file-intelligence/spec.md
Due: gofmt, go-tests, go-lint

fix(ci): align OpenCode review harness contracts
  .agents/skills/pr-fixup/SKILL.md
  .github/workflows/opencode-code-review.yml
  scripts/opencode-code-review.test.sh
Due: none

test(lsp): align rebased lifecycle checks
  apps/backend/internal/agentctl/server/lsp/manager_test.go
  apps/web/e2e/tests/lsp/task-lsp-lifecycle.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test: stabilize saved preset UUID test
  apps/web/components/github/my-github/use-saved-presets.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(github): associate fork pull requests with parent repositories
  apps/backend/internal/github/gh_client.go
  apps/backend/internal/github/gh_client_reads_test.go
  apps/backend/internal/github/mock_client.go
  apps/backend/internal/github/noop_client.go
  apps/backend/internal/github/pat_client.go
  apps/backend/internal/github/pat_client_test.go
  apps/backend/internal/github/poller.go
  apps/backend/internal/github/service_automation_auth.go
  apps/backend/internal/github/service_pr_branch_fallback_test.go
  apps/backend/internal/github/service_pr_watch.go
  apps/backend/internal/github/service_pr_watch_batched.go
  apps/backend/internal/github/store.go
  apps/backend/internal/orchestrator/event_handlers_github.go
  apps/backend/internal/orchestrator/event_handlers_github_test.go
Due: gofmt, go-tests, go-lint

fix(e2e): remove duplicate dwell import after main merge
  apps/web/e2e/fixtures/test-base.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: prioritize active workspace in settings
  apps/web/app/settings/workspace/workspaces-page-client.tsx
  apps/web/components/app-sidebar/sections/settings/settings-menu-branches.test.ts
  apps/web/components/app-sidebar/sections/settings/settings-menu-branches.ts
  apps/web/e2e/tests/settings/mobile-workspace-display-order.spec.ts
  apps/web/e2e/tests/settings/workspace-display-order.spec.ts
  apps/web/lib/settings/workspace-display-order.test.ts
  apps/web/lib/settings/workspace-display-order.ts
  docs/plans/workspace-active-first-order/plan.md
  docs/plans/workspace-active-first-order/task-01-active-workspace-first.md
  docs/specs/INDEX.md
  docs/specs/ui/workspace-active-first-order.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(e2e): avoid resetting content search retries
  apps/web/e2e/tests/search/task-workspace-content-search.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: tidy workspace settings review feedback
  apps/web/app/settings/workspace/workspaces-page-client.tsx
  docs/plans/workspace-active-first-order/task-01-active-workspace-first.md
  docs/specs/INDEX.md
  docs/specs/ui/workspace-active-first-order.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: restore GitHub rate limit indicator
  apps/backend/internal/github/client.go
  apps/backend/internal/github/controller.go
  apps/backend/internal/github/gh_client.go
  apps/backend/internal/github/pat_client_testserver_test.go
  apps/backend/internal/github/rate_limit_fetch.go
  apps/backend/internal/github/service_app_auth.go
  apps/backend/internal/github/service_app_auth_test.go
  apps/web/components/github/github-access-help.tsx
  apps/web/components/github/github-rate-limit.tsx
  apps/web/components/github/github-status.tsx
  apps/web/e2e/tests/integrations/github-rate-limit-fixture.ts
  apps/web/e2e/tests/integrations/github-workspace-settings.spec.ts
  apps/web/e2e/tests/integrations/mobile-github-workspace-settings.spec.ts
  apps/web/hooks/domains/github/use-github-status.test.tsx
  apps/web/hooks/domains/github/use-github-status.ts
  apps/web/lib/api/domains/github-api.test.ts
  apps/web/lib/api/domains/github-auth-api.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: complete GitHub rate limit seeding
  apps/backend/internal/github/auth_resolver.go
  apps/backend/internal/github/auth_resolver_test.go
  apps/backend/internal/github/provider.go
  apps/backend/internal/github/service.go
  apps/backend/internal/github/service_app_auth.go
  apps/backend/internal/github/service_app_auth_test.go
Due: gofmt, go-tests, go-lint

fix(github): stop counting unconfigured workspaces as broken connections
  apps/backend/internal/backendapp/helpers.go
  apps/backend/internal/github/store_connections.go
  apps/backend/internal/github/store_connections_test.go
  apps/backend/internal/health/checks.go
  apps/backend/internal/health/checks_test.go
  apps/web/components/improve-kandev-dialog.test.tsx
  apps/web/components/improve-kandev-dialog.tsx
  apps/web/e2e/tests/improve-kandev.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: serialize GitHub rate limit refreshes
  apps/backend/internal/github/ratelimit.go
  apps/backend/internal/github/service_app_auth.go
  apps/backend/internal/github/service_app_auth_test.go
  apps/web/lib/api/domains/github-api.test.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

release: 0.88.0
  CHANGELOG.md
  apps/cli/package.json
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier-format

fix(github): block Improve Kandev when no connection is usable
  apps/backend/internal/backendapp/helpers.go
  apps/backend/internal/github/store_connections.go
  apps/backend/internal/github/store_connections_test.go
  apps/backend/internal/health/checks.go
  apps/backend/internal/health/checks_test.go
  apps/backend/internal/health/service_test.go
  apps/web/components/improve-kandev-dialog.test.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: refine GitHub rate limit card
  apps/web/components/github/github-access-help.tsx
  apps/web/components/github/github-rate-limit.tsx
  apps/web/components/github/github-settings.tsx
  apps/web/e2e/tests/integrations/github-workspace-settings.spec.ts
  apps/web/e2e/tests/integrations/mobile-github-workspace-settings.spec.ts
  apps/web/e2e/tests/settings/mobile-github-integration-layout.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck
