Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

fix(web): refresh expanded subtrees on polling-detected file changes
  apps/web/components/task/file-browser-apply-changes.test.ts
  apps/web/components/task/file-browser-hooks.ts
  apps/web/lib/types/workspace-files.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(loginpty): drain PTY before close on natural child exit so last bytes aren't lost
  apps/backend/internal/agent/loginpty/manager.go
Due: gofmt, go-tests, go-lint

fix: address iteration-2 review feedback
  apps/backend/internal/agent/runtime/lifecycle/manager_subscription_test.go
  apps/backend/internal/agentctl/server/process/manager.go
  apps/web/components/task/file-browser-hooks.ts
  apps/web/lib/types/workspace-files.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

refactor(linear): split parseSearchNumericFilters to satisfy cyclop
  apps/backend/internal/linear/handlers.go
Due: gofmt, go-tests, go-lint

fix(ssh): drop "in v1" from user-facing copy
  apps/web/app/settings/executors/new/[type]/ssh-create-page.tsx
  apps/web/components/settings/ssh-connection-card.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address iteration-3 review feedback
  apps/backend/internal/agent/runtime/lifecycle/manager_subscription.go
  apps/backend/internal/agentctl/server/process/manager.go
Due: gofmt, go-tests, go-lint

fix(loginpty): always close PTY after drain window so the master fd doesn't leak
  apps/backend/internal/agent/loginpty/manager.go
Due: gofmt, go-tests, go-lint

fix(linear): reject non-finite/negative estimates and align fmt
  apps/backend/internal/linear/handlers_test.go
  apps/backend/internal/linear/service_issue_watch.go
  apps/backend/internal/linear/service_issue_watch_test.go
  apps/web/components/linear/linear-issue-watch-form.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: trim multi-line comment block on pendingPush field
  apps/backend/internal/agent/runtime/lifecycle/manager_subscription.go
Due: gofmt, go-tests, go-lint

fix(loginpty): drain PTY before close on natural child exit (#1004)
  apps/backend/internal/agent/loginpty/manager.go
Due: gofmt, go-tests, go-lint

refactor(layout): swap pane width caps for viewport-proportional runtime cap
  apps/web/app/office/tasks/[id]/office-dockview-layout.tsx
  apps/web/lib/state/dockview-layout-builders.ts
  apps/web/lib/state/dockview-store.ts
  apps/web/lib/state/layout-manager/applier.ts
  apps/web/lib/state/layout-manager/caps.test.ts
  apps/web/lib/state/layout-manager/caps.ts
  apps/web/lib/state/layout-manager/constants.ts
  apps/web/lib/state/layout-manager/index.ts
  apps/web/lib/state/layout-manager/presets.test.ts
  apps/web/lib/state/layout-manager/presets.ts
  apps/web/lib/state/layout-manager/serializer.ts
  apps/web/lib/state/layout-manager/sizing.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(layout): persist preferred pane widths, flush on unload, roomier tablet split
  apps/web/components/task/dockview-desktop-layout.tsx
  apps/web/components/task/dockview-layout-setup.ts
  apps/web/components/task/task-right-panel.tsx
  apps/web/lib/local-storage.ts
  apps/web/lib/state/dockview-store.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): cover pane resize, persistence, and edge cases
  apps/web/e2e/helpers/dockview-resize.ts
  apps/web/e2e/tests/layout/pane-persistence-tablet.spec.ts
  apps/web/e2e/tests/layout/pane-resize-edge-cases.spec.ts
  apps/web/e2e/tests/layout/pane-resize-right.spec.ts
  apps/web/e2e/tests/layout/pane-resize-sidebar.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: trim test docstring on race regression test
  apps/backend/internal/agent/runtime/lifecycle/manager_subscription_test.go
Due: gofmt, go-tests, go-lint

fix(layout): cap sidebar at 30% screen width, preserve legacy initial widths
  apps/web/components/task/dockview-layout-setup.ts
  apps/web/e2e/tests/layout/pane-resize-sidebar.spec.ts
  apps/web/lib/state/dockview-layout-builders.ts
  apps/web/lib/state/dockview-store.ts
  apps/web/lib/state/layout-manager/applier.ts
  apps/web/lib/state/layout-manager/caps.test.ts
  apps/web/lib/state/layout-manager/caps.ts
  apps/web/lib/state/layout-manager/index.ts
  apps/web/lib/state/layout-manager/presets.test.ts
  apps/web/lib/state/layout-manager/sizing.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): preserve sibling-repo subtrees on scoped refresh
  apps/web/components/task/file-browser-apply-changes.test.ts
  apps/web/components/task/file-browser-hooks.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(layout): address PR review — narrow viewport, hidden sidebar, e2e flake
  apps/web/components/task/dockview-layout-setup.ts
  apps/web/e2e/helpers/dockview-resize.ts
  apps/web/e2e/tests/layout/pane-persistence-tablet.spec.ts
  apps/web/e2e/tests/layout/pane-resize-edge-cases.spec.ts
  apps/web/e2e/tests/layout/pane-resize-right.spec.ts
  apps/web/e2e/tests/layout/pane-resize-sidebar.spec.ts
  apps/web/lib/state/dockview-store.ts
  apps/web/lib/state/layout-manager/applier.ts
  apps/web/lib/state/layout-manager/caps.test.ts
  apps/web/lib/state/layout-manager/caps.ts
  apps/web/lib/state/layout-manager/sizing.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): trim three more comment blocks to one-liners
  apps/web/components/task/file-browser-apply-changes.test.ts
  apps/web/components/task/file-browser-hooks.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: trim five more comment blocks to one-liners
  apps/backend/internal/agentctl/server/process/manager_multi_repo_stream_test.go
  apps/web/components/task/file-browser-apply-changes.test.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(layout): swap drag-mouse e2e for programmatic resize + claude/cr followups
  apps/web/components/task/dockview-layout-setup.ts
  apps/web/e2e/helpers/dockview-resize.ts
  apps/web/e2e/tests/layout/pane-resize-edge-cases.spec.ts
  apps/web/e2e/tests/layout/pane-resize-right.spec.ts
  apps/web/e2e/tests/layout/pane-resize-sidebar.spec.ts
  apps/web/lib/state/layout-manager/constants.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(release): build kandev binary with -tags fts5
  .github/workflows/release.yml
Due: none

fix(release): propagate version ldflags to cross-compiled agentctl
  .github/workflows/release.yml
Due: none

fix(share): route share links through gist.githack so big tasks render
  apps/backend/internal/task/share/gist_backend.go
  apps/backend/internal/task/share/gist_backend_test.go
  apps/backend/internal/task/share/gist_html.go
  apps/backend/internal/task/share/gist_html_test.go
  apps/backend/internal/task/share/gist_markdown.go
  apps/backend/internal/task/share/gist_markdown_test.go
  apps/backend/internal/task/share/http.go
  apps/backend/internal/task/share/http_test.go
  docs/specs/public-share-links/spec.md
Due: gofmt, go-tests, go-lint

fix(share): address PR #1008 review feedback
  apps/backend/internal/task/share/http.go
  apps/backend/internal/task/share/http_test.go
  docs/specs/public-share-links/spec.md
Due: gofmt, go-tests, go-lint

feat(web): expose terminal seq badge, rename, and parked-terminals menu
  apps/web/components/session-tabs.tsx
  apps/web/components/task/parked-terminals-menu.tsx
  apps/web/components/task/task-right-panel.tsx
  apps/web/hooks/domains/session/use-terminals.ts
  apps/web/lib/api/domains/user-shell-api.ts
  apps/web/lib/ssr/session-page-state.ts
  apps/web/lib/state/slices/session-runtime/session-runtime-slice.ts
  apps/web/lib/state/slices/session-runtime/types.ts
  apps/web/lib/state/slices/session-runtime/user-shells.test.ts
  apps/web/lib/state/store.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(terminal): e2e coverage for first-class persistent entities
  apps/web/e2e/tests/terminal/terminal-first-class.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(terminal): persist user terminals with stable seq + park state
  apps/backend/cmd/kandev/gateway.go
  apps/backend/cmd/kandev/main.go
  apps/backend/cmd/kandev/storage.go
  apps/backend/cmd/kandev/types.go
  apps/backend/internal/agent/handlers/shell_handlers.go
  apps/backend/internal/agentctl/server/process/interactive_shells.go
  apps/backend/internal/agentctl/server/process/runner_shells_test.go
  apps/backend/internal/terminal/models/terminal.go
  apps/backend/internal/terminal/repository/sqlite.go
  apps/backend/internal/terminal/repository/sqlite_test.go
  apps/backend/internal/terminal/service/ptybackend.go
  apps/backend/internal/terminal/service/service.go
  apps/backend/internal/terminal/service/service_test.go
  apps/backend/pkg/websocket/actions.go
Due: gofmt, go-tests, go-lint

fix(terminal): atomic seq allocation + propagate destroy errors
  apps/backend/internal/agent/handlers/shell_handlers.go
  apps/backend/internal/agentctl/server/process/interactive_shells.go
  apps/backend/internal/terminal/repository/sqlite.go
  apps/backend/internal/terminal/repository/sqlite_test.go
  apps/backend/internal/terminal/service/service.go
Due: gofmt, go-tests, go-lint

fix(web): close-tab waits for backend ack + className undefined guard
  apps/web/components/session-tabs.tsx
  apps/web/hooks/domains/session/use-terminals.ts
  apps/web/lib/state/slices/session-runtime/user-shells.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(share): route share links through gist.githack so big tasks render (#1008)
  apps/backend/internal/task/share/gist_backend.go
  apps/backend/internal/task/share/gist_backend_test.go
  apps/backend/internal/task/share/gist_html.go
  apps/backend/internal/task/share/gist_html_test.go
  apps/backend/internal/task/share/gist_markdown.go
  apps/backend/internal/task/share/gist_markdown_test.go
  apps/backend/internal/task/share/http.go
  apps/backend/internal/task/share/http_test.go
  docs/specs/public-share-links/spec.md
Due: gofmt, go-tests, go-lint

fix(terminal): task-scoped mutations + legacy-shell list + UI hardening
  apps/backend/internal/agent/handlers/shell_handlers.go
  apps/backend/internal/terminal/service/service.go
  apps/backend/internal/terminal/service/service_test.go
  apps/web/e2e/tests/terminal/terminal-first-class.spec.ts
  apps/web/hooks/domains/session/use-terminals.ts
  apps/web/lib/api/domains/user-shell-api.ts
  apps/web/lib/state/slices/session-runtime/types.ts
  apps/web/lib/state/store.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(vcs): default the commit dialog's "stage all" checkbox to unchecked
  apps/web/components/task/mobile/session-mobile-top-bar-git-controls.tsx
  apps/web/components/vcs/vcs-dialogs.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(terminal): require task_id on all mutators + wire taskID into hooks
  apps/backend/internal/terminal/service/service.go
  apps/backend/internal/terminal/service/service_test.go
  apps/web/hooks/domains/session/use-mobile-terminals.ts
  apps/web/hooks/domains/session/use-terminals.ts
  apps/web/hooks/domains/session/use-user-shells.ts
  apps/web/lib/api/domains/user-shell-api.ts
  apps/web/lib/state/slices/index.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(vcs): default the commit dialog's stage-all checkbox to unchecked (#1010)
  apps/web/components/task/mobile/session-mobile-top-bar-git-controls.tsx
  apps/web/components/vcs/vcs-dialogs.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): honor window.__KANDEV_DEBUG so make start-debug logs surface
  apps/web/components/task/file-browser-hooks.ts
  apps/web/hooks/domains/session/use-session-agentctl.ts
  apps/web/hooks/domains/session/use-session-git-status.ts
  apps/web/lib/debug/log.ts
  apps/web/lib/ws/client.ts
  apps/web/lib/ws/handlers/git-status.ts
  apps/web/lib/ws/handlers/session-models.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): cover IS_DEBUG runtime fallback + restore lost invariant comment
  apps/web/components/task/file-browser-hooks.ts
  apps/web/lib/debug/log.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): drop redundant cast in ws send() debug helper
  apps/web/lib/ws/client.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(terminal): list parked, rollout-safe kind default, helper extraction
  apps/web/hooks/domains/session/use-terminals-build.ts
  apps/web/hooks/domains/session/use-terminals-types.ts
  apps/web/hooks/domains/session/use-terminals.ts
  apps/web/hooks/domains/session/use-user-shells.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): address CodeRabbit feedback on debug-log hooks
  apps/web/components/task/file-browser-actions.ts
  apps/web/components/task/file-browser-hooks.ts
  apps/web/hooks/domains/session/use-session-agentctl.ts
  apps/web/lib/debug/log.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(terminal): scope-keyed shell cache + null-task guard + tighter rollout default
  apps/web/hooks/domains/session/use-mobile-terminals.test.ts
  apps/web/hooks/domains/session/use-mobile-terminals.ts
  apps/web/hooks/domains/session/use-terminals.ts
  apps/web/hooks/domains/session/use-user-shells.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
