Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

fix: restore browser inspect annotation submission (#2374)
  apps/backend/internal/agentctl/server/api/html_injector_test.go
  apps/backend/internal/agentctl/server/api/scripts/inspector.js
  apps/web/e2e/tests/preview/inspector-submission.spec.ts
  docs/plans/browser-inspect-annotations-save/plan.md
  docs/plans/browser-inspect-annotations-save/task-01-inspector-state.md
  docs/plans/browser-inspect-annotations-save/task-02-preview-submit-e2e.md
  docs/specs/INDEX.md
  docs/specs/browser-inspect-annotations-save/spec.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

docs: mark issue 2348 plan complete
  docs/plans/github-cli-account-stderr/plan.md
Due: none

docs: align inspect annotation E2E coverage
  docs/plans/browser-inspect-annotations-save/plan.md
  docs/plans/browser-inspect-annotations-save/task-02-preview-submit-e2e.md
  docs/specs/browser-inspect-annotations-save/spec.md
Due: none

refactor(plugins): address review on task-card-tags slot
  apps/web/AGENTS.md
  apps/web/components/kanban-card-content.test.tsx
  apps/web/components/kanban-card-content.tsx
  docs/plans/plugins/PLUGIN-API.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(task): stop reporting abandoned requests as server errors
  apps/backend/internal/common/httpmw/logging.go
  apps/backend/internal/task/handlers/errors.go
  apps/backend/internal/task/handlers/errors_test.go
Due: gofmt, go-tests, go-lint

refactor(passthrough): clarify profile resolve and resume-flag ordering
  apps/backend/internal/agent/runtime/lifecycle/manager_execution.go
  apps/backend/internal/agent/runtime/lifecycle/manager_passthrough.go
Due: gofmt, go-tests, go-lint

refactor(make): report the real dev ports and document every override
  Makefile
Due: none

perf(i18n): lazy-load locale catalogs instead of bundling every language
  apps/web/e2e/tests/i18n/lazy-catalogs.spec.ts
  apps/web/e2e/tests/i18n/pseudo-coverage.spec.ts
  apps/web/lib/i18n/index.ts
  apps/web/lib/i18n/init-sync.test.tsx
  apps/web/lib/i18n/lazy-catalogs.test.ts
  apps/web/src/main.tsx
  apps/web/vite.config.ts
  apps/web/vitest.setup.ts
  docs/i18n.md
  docs/specs/platform/i18n.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(settings): prevent Add-panel dropdown from auto-selecting on tap
  apps/web/components/settings/layouts/layout-editor-toolbar.tsx
  apps/web/e2e/tests/settings/mobile-layout-profiles.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): drop dead trigger interpolation from integration descriptions
  apps/web/app/settings/integrations/page.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(deps): bump mermaid to 11.16.1 and js-yaml to 4.3.1
  apps/package.json
  apps/pnpm-lock.yaml
Due: none

feat(i18n): close the pt-PT parity gap (1,794 keys)
  apps/web/src/locales/pt-pt/common.json
  apps/web/src/locales/pt-pt/integrations.json
  apps/web/src/locales/pt-pt/office.json
  apps/web/src/locales/pt-pt/settings.json
  apps/web/src/locales/pt-pt/sidebar.json
  apps/web/src/locales/pt-pt/system.json
  apps/web/src/locales/pt-pt/task.json
  apps/web/src/locales/pt-pt/workflows.json
Due: prettier-format

feat(i18n): add an advisory catalog-parity report
  apps/web/package.json
  apps/web/scripts/i18n-parity.mjs
  apps/web/scripts/i18n-parity.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(user): pin explicit-false preservation for show_todo_list_panel
  apps/backend/internal/user/store/sqlite_test.go
Due: gofmt, go-tests, go-lint

fix(web): address integrations review feedback
  apps/web/app/settings/integrations/page.test.tsx
  apps/web/app/settings/integrations/page.tsx
  apps/web/components/app-sidebar/sections/settings/settings-tree.tsx
  apps/web/components/integrations/integrations-index-page.tsx
  apps/web/e2e/tests/settings/mobile-settings-sidebar.spec.ts
  apps/web/e2e/tests/settings/settings-gear-only.spec.ts
  apps/web/src/settings-routes.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(terminal): tell the client when a terminal will never reconnect
  apps/backend/internal/gateway/websocket/terminal_handler.go
  apps/backend/internal/gateway/websocket/terminal_handler_test.go
  apps/web/components/task/use-passthrough-terminal.test.ts
  apps/web/components/task/use-passthrough-terminal.ts
  apps/web/components/task/ws-reconnect.ts
  apps/web/src/locales/en/task.json
  apps/web/src/locales/pseudo/task.json
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(i18n): close four gaps no gate can see (plurals, fallback copy, orphans)
  apps/web/components/azure-devops/azure-devops-task-launcher.test.tsx
  apps/web/components/azure-devops/azure-devops-task-launcher.tsx
  apps/web/components/kanban-card-content.tsx
  apps/web/components/task/chat/messages/kandev/document-renderers.test.tsx
  apps/web/components/task/chat/messages/kandev/document-renderers.tsx
  apps/web/components/task/chat/messages/monitor-message.tsx
  apps/web/components/task/chat/messages/tool-edit-message.test.tsx
  apps/web/components/task/chat/messages/tool-edit-message.tsx
  apps/web/components/task/chat/messages/tool-read-message.test.tsx
  apps/web/components/task/chat/messages/tool-read-message.tsx
  apps/web/components/task/chat/messages/tool-search-message.test.tsx
  apps/web/components/task/chat/messages/tool-search-message.tsx
  apps/web/components/task/chat/messages/turn-group-message.tsx
  apps/web/components/task/chat/use-chat-input-container.ts
  apps/web/components/task/task-switcher.tsx
  apps/web/hooks/use-sidebar-multi-select.test.ts
  apps/web/hooks/use-sidebar-multi-select.ts
  apps/web/src/locales/en/azuredevops.json
  apps/web/src/locales/en/chat.json
  apps/web/src/locales/en/sidebar.json
  apps/web/src/locales/en/task.json
  apps/web/src/locales/pseudo/azuredevops.json
  apps/web/src/locales/pseudo/chat.json
  apps/web/src/locales/pseudo/sidebar.json
  apps/web/src/locales/pseudo/task.json
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(tasks): clear the error icon once the agent recovers
  apps/backend/internal/orchestrator/event_handlers_agent.go
  apps/backend/internal/orchestrator/event_handlers_streaming_test.go
  apps/backend/internal/task/models/models.go
  apps/backend/internal/task/repository/sqlite/base_migrations.go
  apps/backend/internal/task/repository/sqlite/session_test.go
  apps/backend/internal/task/service/service_status_summary_rebuild_test.go
  apps/backend/internal/task/statussummary/projector.go
  apps/backend/internal/task/statussummary/projector_helpers.go
  apps/backend/internal/task/statussummary/projector_test.go
  apps/backend/internal/task/statussummary/rebuild.go
Due: gofmt, go-tests, go-lint

feat(web): show unmeasured state for zero-usage context window
  apps/web/components/task/chat/token-usage-display.test.tsx
  apps/web/components/task/chat/token-usage-display.tsx
  apps/web/e2e/tests/chat/context-window-source-helpers.ts
  apps/web/e2e/tests/chat/context-window-source.spec.ts
  apps/web/e2e/tests/chat/mobile-context-window-source.spec.ts
  apps/web/src/locales/en/task.json
  apps/web/src/locales/pseudo/task.json
  docs/plans/context-window-unmeasured-state/plan.md
  docs/plans/context-window-unmeasured-state/task-01-render-unmeasured-context-state.md
  docs/plans/context-window-unmeasured-state/task-02-context-window-unmeasured-e2e.md
  docs/specs/INDEX.md
  docs/specs/ui/context-window-unmeasured-state.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(tasks): treat a cleared agent error as observed in every dialect
  apps/backend/internal/task/repository/sqlite/base_migrations.go
  apps/backend/internal/task/repository/sqlite/postgres_schema_test.go
  apps/backend/internal/task/repository/sqlite/session_test.go
  apps/backend/internal/task/statussummary/projector_helpers.go
  apps/backend/internal/task/statussummary/projector_test.go
Due: gofmt, go-tests, go-lint

feat(web): improve task PR status hover
  apps/web/components/github/pr-task-icon-draft.test.ts
  apps/web/components/github/pr-task-icon.test.ts
  apps/web/components/github/pr-task-icon.tsx
  apps/web/components/github/pr-task-status-summary.test.ts
  apps/web/components/github/pr-task-status-summary.tsx
  apps/web/e2e/tests/pr/pr-status-badge.spec.ts
  apps/web/e2e/tests/task/mobile-task-status-summary.spec.ts
  apps/web/src/locales/en/github.json
  apps/web/src/locales/pseudo/github.json
  docs/plans/pr-task-status-summary/plan.md
  docs/plans/pr-task-status-summary/task-01-readable-pr-task-summary.md
  docs/specs/INDEX.md
  docs/specs/ui/pr-task-status-summary.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address GitLab workflow sync review feedback
  apps/backend/internal/gitlab/pat_client.go
  apps/backend/internal/gitlab/pat_client_repo_contents_test.go
  apps/backend/internal/workflowsync/models.go
  apps/web/hooks/domains/settings/use-workflow-sync.test.ts
  apps/web/lib/utils/gitlab-repo-url.test.ts
  apps/web/lib/utils/gitlab-repo-url.ts
  docs/plans/gitlab-workflow-sync/plan.md
  docs/public/workflow-sync.md
  docs/specs/INDEX.md
  docs/specs/gitlab-workflow-sync/spec.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(web): translate measured token label and harden context-window specs
  apps/web/components/task/chat/token-usage-display.tsx
  apps/web/e2e/tests/chat/context-window-source-helpers.ts
  apps/web/e2e/tests/chat/context-window-source.spec.ts
  apps/web/e2e/tests/chat/mobile-context-window-source.spec.ts
  apps/web/src/locales/en/task.json
  apps/web/src/locales/pseudo/task.json
  docs/plans/context-window-unmeasured-state/plan.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(plugins): refresh mention dispatch generation
  apps/backend/internal/plugins/mentions.go
  apps/backend/internal/plugins/mentions_test.go
Due: gofmt, go-tests, go-lint

fix(web): keep PR summary labels aligned
  apps/web/components/github/pr-task-status-summary.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(i18n): correct a plural _one form and collapse a twinned key in en
  apps/web/components/task-create-dialog-options.tsx
  apps/web/lib/i18n/index.test.ts
  apps/web/src/locales/en/chat.json
  apps/web/src/locales/en/task.json
  apps/web/src/locales/pseudo/chat.json
  apps/web/src/locales/pseudo/task.json
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address review feedback on no-silent-model-fallback
  apps/backend/internal/agent/runtime/lifecycle/event_types.go
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction.go
  apps/backend/internal/agent/runtime/lifecycle/manager_profile.go
  apps/backend/internal/agent/runtime/lifecycle/start_model.go
  apps/backend/internal/agent/runtime/routingerr/routingerr.go
  apps/backend/internal/agent/settings/store/sqlite_fallback_test.go
  apps/backend/internal/gateway/websocket/session_notifications_test.go
  apps/backend/internal/office/scheduler/dispatch_routing.go
  apps/backend/internal/office/scheduler/routing_lifecycle.go
  apps/backend/internal/office/scheduler/routing_lifecycle_test.go
  apps/backend/internal/orchestrator/event_handlers_streaming_test.go
  apps/web/app/settings/agents/[agentId]/agent-save-helpers.test.ts
  apps/web/app/settings/agents/[agentId]/agent-save-helpers.ts
  apps/web/components/agent/cli-profile-editor.tsx
  apps/web/components/model-config-selector.tsx
  apps/web/components/settings/profile-model-fields.tsx
  apps/web/components/task-create-dialog-options.test.tsx
  apps/web/components/task-create-dialog-options.tsx
  apps/web/lib/ws/handlers/session-models.test.ts
  apps/web/lib/ws/handlers/session-models.ts
  apps/web/src/locales/en/settings.json
  apps/web/src/locales/pseudo/settings.json
  docs/plans/no-silent-model-fallback/task-07-profile-picker-gating.md
  docs/specs/no-silent-model-fallback/spec.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(agentctl): log canceled git status refreshes at debug
  apps/backend/internal/agentctl/server/process/workspace_git_status.go
  apps/backend/internal/agentctl/server/process/workspace_git_status_test.go
Due: gofmt, go-tests, go-lint

docs: plan Node 24 GitHub Actions upgrade
  docs/plans/github-actions-node24/audit.md
  docs/plans/github-actions-node24/plan.md
  docs/plans/github-actions-node24/task-01-test-workflows.md
  docs/plans/github-actions-node24/task-02-container-workflows.md
  docs/plans/github-actions-node24/task-03-release-workflow.md
  docs/plans/github-actions-node24/task-04-review-misc-workflows.md
  docs/plans/github-actions-node24/task-05-verify.md
Due: none

fix(agentctl): harden git status cancellation logging
  apps/backend/internal/agentctl/server/process/workspace_git_status.go
  apps/backend/internal/agentctl/server/process/workspace_git_status_test.go
Due: gofmt, go-tests, go-lint

feat(github): add saved query default views
  apps/web/app/github/github-page-client.tsx
  apps/web/components/github/my-github/presets-scope-bar.tsx
  apps/web/components/github/my-github/presets-sidebar.tsx
  apps/web/components/github/my-github/saved-preset-model.test.ts
  apps/web/components/github/my-github/saved-preset-model.ts
  apps/web/components/github/my-github/use-saved-preset-actions.test.ts
  apps/web/components/github/my-github/use-saved-preset-actions.ts
  apps/web/components/github/my-github/use-saved-presets.test.ts
  apps/web/components/github/my-github/use-saved-presets.ts
  apps/web/components/github/my-github/use-sidebar-selection.test.ts
  apps/web/components/github/my-github/use-sidebar-selection.ts
  apps/web/components/integrations/presets-scope-bar-base.test.tsx
  apps/web/components/integrations/presets-scope-bar-base.tsx
  apps/web/components/integrations/saved-query-default-button.tsx
  apps/web/e2e/pages/mobile-github-page.ts
  apps/web/e2e/tests/github/github-scope-bar.spec.ts
  apps/web/e2e/tests/github/mobile-github-sidebar.spec.ts
  apps/web/src/locales/en/integrations.json
  apps/web/src/locales/pseudo/integrations.json
  docs/plans/github-saved-query-defaults/plan.md
  docs/plans/github-saved-query-defaults/task-01-persist-default-saved-queries.md
  docs/plans/github-saved-query-defaults/task-02-apply-default-selection.md
  docs/plans/github-saved-query-defaults/task-03-default-view-controls.md
  docs/plans/github-saved-query-defaults/task-04-docs-and-verification.md
  docs/public/integrations.md
  docs/specs/INDEX.md
  docs/specs/ui/github-saved-query-defaults.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test(plugins): refresh packaged Bitbucket capture state
  apps/web/e2e/tests/plugins/bitbucket-packaged-plugin.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(make): keep DEV_ARGS verbatim when reporting the dev flags
  Makefile
Due: none

fix: address launcher review findings
  .github/workflows/backend-tests.yml
  apps/backend/Makefile
  apps/backend/internal/agent/runtime/lifecycle/testing_support.go
  apps/backend/internal/agentctl/server/instance/manager_ports_test.go
  apps/backend/internal/gateway/websocket/port_tunnel_test.go
  apps/backend/internal/launcher/health_test.go
  apps/cli/src/ports.test.ts
  apps/cli/src/ports.ts
  apps/cli/src/run.test.ts
  apps/cli/src/run.ts
  apps/cli/src/shared.test.ts
  apps/cli/src/shared.ts
  docs/plans/port-collision-safety/plan.md
  docs/plans/port-collision-safety/task-01-cli-explicit-port-preflight.md
  docs/plans/port-collision-safety/task-02-native-launcher-port-preflight.md
  docs/plans/port-collision-safety/task-03-cli-health-ownership.md
  docs/plans/port-collision-safety/task-04-native-health-ownership.md
  docs/plans/port-collision-safety/task-05-cross-platform-address-in-use.md
  docs/plans/port-collision-safety/task-06-update-launcher-documentation.md
  docs/public/cli.md
Due: gofmt, go-tests, go-lint, prettier-format

fix(github): serialize saved query mutations
  apps/web/components/github/my-github/saved-preset-model.test.ts
  apps/web/components/github/my-github/saved-preset-model.ts
  apps/web/components/github/my-github/use-saved-presets-concurrency.test.ts
  apps/web/components/github/my-github/use-saved-presets.test.ts
  apps/web/components/github/my-github/use-saved-presets.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: surface allowlisted OpenCode remediation links in recovery surfaces
  apps/backend/internal/agentctl/server/adapter/transport/acp/opencode_remediation.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/opencode_stderr.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/opencode_stderr_test.go
  apps/backend/internal/agentctl/types/streams/provider_error.go
  apps/backend/internal/gateway/websocket/task_notifications.go
  apps/backend/internal/gateway/websocket/task_notifications_redact_test.go
  apps/backend/internal/orchestrator/event_handlers_agent.go
  apps/backend/internal/orchestrator/event_handlers_test.go
  apps/backend/internal/orchestrator/recovery_actions_test.go
  apps/backend/internal/task/models/models.go
  apps/web/app/office/tasks/[id]/page.tsx
  apps/web/app/office/tasks/[id]/types.ts
  apps/web/components/task/chat/message-list-shared.test.tsx
  apps/web/components/task/chat/message-list-shared.tsx
  apps/web/components/task/chat/messages/action-message.test.tsx
  apps/web/components/task/chat/messages/action-message.tsx
  apps/web/components/task/remediation-link.tsx
  apps/web/components/task/simple/chat-entries.test.ts
  apps/web/components/task/simple/chat-entries.ts
  apps/web/components/task/simple/components/run-error-entry.tsx
  apps/web/e2e/tests/office/provider-remediation-link.spec.ts
  apps/web/e2e/tests/session/mobile-provider-remediation-link.spec.ts
  apps/web/e2e/tests/session/provider-remediation-link.spec.ts
  apps/web/lib/remediation-url.test.ts
  apps/web/lib/remediation-url.ts
  apps/web/lib/session-last-agent-error.test.ts
  apps/web/lib/session-last-agent-error.ts
  apps/web/src/locales/en/chat.json
  apps/web/src/locales/pseudo/chat.json
  apps/web/src/locales/pt-pt/chat.json
  apps/web/src/locales/zh-cn/chat.json
  docs/decisions/2026-08-07-allowlisted-provider-action-links.md
  docs/decisions/INDEX.md
  docs/plans/opencode-actionable-error-links/plan.md
  docs/plans/opencode-actionable-error-links/task-01-normalize-action-url.md
  docs/plans/opencode-actionable-error-links/task-02-persist-recovery-link.md
  docs/plans/opencode-actionable-error-links/task-03-render-recovery-link.md
  docs/plans/opencode-actionable-error-links/task-04-verify-actionable-error-links.md
  docs/specs/agent-stall-recovery/spec.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: harden remediation URL allowlist and metadata merge
  apps/backend/internal/agentctl/server/adapter/transport/acp/opencode_remediation.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/opencode_stderr.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/opencode_stderr_test.go
  apps/web/app/office/tasks/[id]/page.tsx
  apps/web/components/task/simple/chat-entries.test.ts
  apps/web/components/task/simple/chat-entries.ts
  apps/web/e2e/tests/office/provider-remediation-link.spec.ts
  apps/web/lib/remediation-url.test.ts
  apps/web/lib/remediation-url.ts
  docs/plans/opencode-actionable-error-links/plan.md
  docs/plans/opencode-actionable-error-links/task-03-render-recovery-link.md
  docs/plans/opencode-actionable-error-links/task-04-verify-actionable-error-links.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

docs: correct the web localization status for the finished i18n work
  docs/i18n.md
  docs/public/feature-status.md
  docs/public/web-development.md
  docs/specs/platform/i18n.md
Due: none

docs: fix i18n:sweep usage and the production switcher scenario
  docs/public/web-development.md
  docs/specs/platform/i18n.md
Due: none
