Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

chore: add product media capture skills
  .agents/skills/product-demo-seeding/SKILL.md
  .agents/skills/product-demo-seeding/references/isolation-and-seeding.md
  .agents/skills/product-demo-seeding/references/story-recipes.md
  .agents/skills/product-video-capture/SKILL.md
  .agents/skills/product-video-capture/references/camera-encoding.md
  .agents/skills/product-video-capture/references/capture-pipeline.md
  .agents/skills/product-video-capture/references/qa-checklist.md
  .agents/skills/using-agent-skills/SKILL.md
Due: none

fix(docs): harden publication validation
  Makefile
  scripts/validate-public-docs.mjs
  scripts/validate-public-docs.test.mjs
Due: none

ci: avoid redundant docs rebuilds
  .github/workflows/notify-docs.yml
Due: none

docs: clarify product media capture workflow
  .agents/skills/product-demo-seeding/SKILL.md
  .agents/skills/product-video-capture/SKILL.md
  .agents/skills/product-video-capture/references/qa-checklist.md
  .agents/skills/using-agent-skills/SKILL.md
Due: none

docs: use resolved landing root in capture skill
  .agents/skills/product-video-capture/SKILL.md
  .agents/skills/product-video-capture/references/camera-encoding.md
Due: none

docs: validate configured landing repository
  .agents/skills/product-video-capture/SKILL.md
Due: none

docs: harden product media capture validation
  .agents/skills/product-video-capture/SKILL.md
  .agents/skills/product-video-capture/references/camera-encoding.md
  .agents/skills/product-video-capture/references/qa-checklist.md
Due: none

fix(desktop): harden native notifications
  apps/desktop/src-tauri/src/shell.rs
  apps/web/hooks/domains/system/use-desktop-updater.ts
  apps/web/lib/desktop/native-notification-client.ts
  apps/web/lib/ws/handlers/notifications.test.ts
  apps/web/lib/ws/handlers/notifications.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

chore: improve harness reliability
  .agents/skills/e2e/SKILL.md
  .agents/skills/pr-fixup/SKILL.md
  .agents/skills/pr-fixup/references/ci-troubleshooting.md
  .agents/skills/verify/SKILL.md
  apps/web/AGENTS.md
  scripts/run-quiet
  scripts/run-quiet.test.sh
Due: prettier-format

fix(web): retain sidebar boot settings
  apps/web/lib/state/default-state.ts
  apps/web/lib/state/hydration/hydrator.test.ts
  apps/web/lib/state/store-overrides.ts
  apps/web/lib/state/store.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(jira): avoid duplicate saved-view syncs
  apps/web/components/jira/my-jira/use-saved-views.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): hydrate portable settings from boot state
  apps/backend/internal/backendapp/boot_state_routes.go
  apps/backend/internal/backendapp/boot_state_routes_test.go
  apps/web/components/task-create-dialog-effects-executor.test.ts
  apps/web/components/task-create-dialog-effects.ts
  apps/web/components/task-create-dialog-helpers.test.ts
  apps/web/components/task-create-dialog-multi-repo-guard.ts
  apps/web/e2e/fixtures/test-base.ts
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/tests/task/sidebar-filter.spec.ts
  apps/web/lib/state/default-state.ts
  apps/web/lib/state/hydration/hydrator.test.ts
  apps/web/lib/state/slices/ui/sidebar-view-actions.ts
  apps/web/lib/state/slices/ui/ui-slice.ts
  apps/web/lib/user-settings-sync.test.ts
  apps/web/lib/user-settings-sync.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(settings): preserve saved views during hydration
  apps/backend/internal/backendapp/boot_state_routes_test.go
  apps/web/components/jira/my-jira/use-saved-views.test.ts
  apps/web/components/jira/my-jira/use-saved-views.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(websocket): avoid shutdown teardown leaks
  apps/backend/internal/gateway/websocket/hub.go
  apps/backend/internal/gateway/websocket/hub_lifecycle_test.go
Due: gofmt, go-tests, go-lint

fix(boot): normalize sidebar task preferences
  apps/backend/internal/backendapp/boot_state_routes.go
  apps/backend/internal/backendapp/boot_state_routes_test.go
Due: gofmt, go-tests, go-lint

fix(jira): preserve saved views on fetch failure
  apps/web/components/jira/my-jira/use-saved-views.test.ts
  apps/web/components/jira/my-jira/use-saved-views.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): preserve sidebar sync contracts
  apps/web/lib/state/slices/ui/sidebar-view-actions.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): retain portable settings filters
  apps/web/lib/state/slices/ui/ui-slice.test.ts
  apps/web/lib/state/slices/ui/ui-slice.ts
  apps/web/lib/user-settings-sync.test.ts
  apps/web/lib/user-settings-sync.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): retry sidebar settings writes
  apps/web/lib/state/slices/ui/sidebar-view-actions.ts
  apps/web/lib/state/slices/ui/ui-slice.test.ts
  apps/web/lib/user-settings-sync.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(web): fill workflow sync form from a pasted github link
  apps/web/components/settings/workflow-sync-section.tsx
  apps/web/hooks/domains/settings/use-workflow-sync.ts
  apps/web/lib/utils/github-repo-url.test.ts
  apps/web/lib/utils/github-repo-url.ts
  docs/public/workflow-sync.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(desktop): restrict native bridge origin
  apps/desktop/src-tauri/capabilities/default.json
  apps/desktop/src-tauri/gen/schemas/capabilities.json
  apps/desktop/src-tauri/src/backend.rs
  apps/desktop/src-tauri/src/external_links.rs
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src-tauri/src/native_notifications.rs
  apps/desktop/src-tauri/src/shell.rs
  apps/desktop/src-tauri/src/updater.rs
  apps/web/lib/ws/handlers/notifications.test.ts
  apps/web/lib/ws/handlers/notifications.ts
  docs/decisions/0039-native-desktop-integration-boundary.md
  docs/specs/desktop-tauri-app/spec.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(jira): retry saved-view hydration failures
  apps/web/components/jira/my-jira/use-saved-views.test.ts
  apps/web/components/jira/my-jira/use-saved-views.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor(jira): simplify hydration request cleanup
  apps/web/components/jira/my-jira/use-saved-views.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: harden github log extraction
  .agents/skills/e2e/SKILL.md
  scripts/run-quiet
  scripts/run-quiet.test.sh
Due: none

fix(desktop): address native integration edge cases
  apps/desktop/src-tauri/src/backend.rs
  apps/desktop/src-tauri/src/external_links.rs
  apps/desktop/src-tauri/src/native_notifications.rs
  apps/desktop/src-tauri/src/window_state.rs
  apps/web/components/app-sidebar/app-sidebar-new-task-item.test.tsx
  apps/web/lib/desktop/command-actions.test.ts
  apps/web/lib/desktop/command-actions.ts
  apps/web/lib/desktop/contextual-close.test.ts
  apps/web/lib/desktop/contextual-close.ts
  apps/web/lib/desktop/new-task-request.ts
  docs/plans/desktop-native-integration/plan.md
  docs/plans/desktop-native-integration/task-01-native-shell-commands.md
  docs/plans/desktop-native-integration/task-04-updater-runtime-settings.md
  docs/plans/desktop-native-integration/task-05-native-notifications.md
  docs/plans/desktop-native-integration/task-06-external-links.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(desktop): harden release verification
  apps/desktop/src-tauri/src/backend.rs
  docs/public/desktop-app.md
  scripts/release/updater-manifest.mjs
  scripts/release/updater-manifest.test.sh
Due: none

fix(desktop): address integration edge cases
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/backend.rs
  apps/desktop/src-tauri/src/native_notifications.rs
  apps/web/components/desktop-command-host.tsx
  apps/web/components/settings/notifications-settings-actions.ts
  apps/web/components/settings/system/updates-card.tsx
  apps/web/hooks/domains/system/use-desktop-updater.test.ts
  apps/web/hooks/domains/system/use-desktop-updater.ts
  apps/web/hooks/use-session-failure-toast.test.ts
  apps/web/hooks/use-session-failure-toast.ts
  apps/web/lib/desktop/adapter.test.ts
  apps/web/lib/desktop/adapter.ts
  apps/web/lib/desktop/contextual-close.test.ts
  apps/web/lib/desktop/external-links.test.ts
  apps/web/lib/desktop/external-links.ts
  apps/web/lib/desktop/protocol.ts
  docs/decisions/0026-tauri-desktop-shell.md
  docs/decisions/INDEX.md
  docs/plans/desktop-native-integration/task-03-updater-release-artifacts.md
  docs/plans/desktop-native-integration/task-05-native-notifications.md
  docs/plans/desktop-native-integration/task-07-integration-qa-docs.md
  scripts/release/updater-manifest.mjs
  scripts/release/updater-manifest.test.sh
  scripts/release/updater-signing-ready.sh
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(desktop): address review followups
  apps/desktop/src-tauri/src/backend.rs
  apps/web/components/settings/notifications-settings-actions.ts
  apps/web/lib/desktop/protocol.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(websocket): close late clients after hub shutdown
  apps/backend/internal/gateway/websocket/hub.go
  apps/backend/internal/gateway/websocket/hub_lifecycle_test.go
Due: gofmt, go-tests, go-lint

fix(web): improve command palette alias matching
  apps/web/components/command-panel-footer.tsx
  apps/web/components/command-panel.tsx
  apps/web/components/global-commands.tsx
  apps/web/components/session-commands.tsx
  apps/web/components/task/recent-task-switcher-hooks.ts
  apps/web/e2e/tests/command-panel.spec.ts
  apps/web/lib/commands/search.test.ts
  apps/web/lib/commands/search.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): render walkthrough surfaces behind dialogs
  apps/web/components/diff/walkthrough-floating-window.tsx
  apps/web/components/review/walkthrough-overlay.tsx
  apps/web/e2e/tests/review/mobile-walkthrough.spec.ts
  apps/web/e2e/tests/review/walkthrough-layering.ts
  apps/web/e2e/tests/review/walkthrough.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(web): simplify workflow sync form to link, branch, and interval
  apps/web/components/settings/workflow-sync-section.tsx
  apps/web/hooks/domains/settings/use-workflow-sync.ts
  apps/web/lib/utils/github-repo-url.test.ts
  apps/web/lib/utils/github-repo-url.ts
  docs/public/workflow-sync.md
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(web): explain command priority tie-breaker
  apps/web/components/command-panel-footer.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): improve walkthrough layer diagnostics
  apps/web/e2e/tests/review/walkthrough-layering.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): preserve command palette selection
  apps/web/components/command-panel.tsx
  apps/web/lib/commands/search.test.ts
  apps/web/lib/commands/search.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(web): collapse workflow sync into a button, dialog, and status card
  apps/web/components/settings/workflow-sync-dialog.tsx
  apps/web/components/settings/workflow-sync-section.tsx
  apps/web/components/settings/workflow-sync-status-banner.tsx
  apps/web/hooks/domains/settings/use-workflow-sync.ts
  docs/public/workflow-sync.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): assert dialog visibility in layer checks
  apps/web/e2e/tests/review/walkthrough-layering.ts
Due: prettier-format, web-lint, web-tests, web-typecheck
