Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

test: align storage e2e with revised controls
  apps/web/e2e/tests/docker/storage-maintenance.spec.ts
  apps/web/e2e/tests/task/unarchive-storage-recovery.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: refine storage maintenance controls
  apps/web/components/settings/system/storage/storage-maintenance-settings.test.tsx
  apps/web/components/settings/system/storage/storage-maintenance-settings.tsx
  apps/web/components/settings/system/storage/storage-policy-card.test.tsx
  apps/web/components/settings/system/storage/storage-policy-card.tsx
  apps/web/components/settings/system/storage/storage-policy-fields.tsx
  apps/web/e2e/tests/system/mobile-storage-maintenance.spec.ts
  apps/web/e2e/tests/system/storage-maintenance.spec.ts
  docs/specs/system-page/storage-maintenance.md
Due: prettier-format, web-lint, web-tests, web-typecheck

ci: limit backend test report summary
  .github/workflows/backend-tests.yml
Due: none

fix: confine Go-cache adoption probe
  apps/backend/internal/system/storage/gocache/provider.go
  apps/backend/internal/system/storage/gocache/provider_test.go
  docs/plans/storage-maintenance/task-08-storage-settings-ui.md
Due: gofmt, go-tests, go-lint

fix: harden storage maintenance lifecycle
  apps/backend/internal/agent/runtime/activity/coordinator_test.go
  apps/backend/internal/agent/runtime/lifecycle/activity.go
  apps/backend/internal/agent/runtime/lifecycle/activity_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager.go
  apps/backend/internal/agent/runtime/lifecycle/manager_execution.go
  apps/backend/internal/agent/runtime/lifecycle/manager_execution_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_launch.go
  apps/backend/internal/agent/runtime/lifecycle/manager_launch_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_startup.go
  apps/backend/internal/agent/runtime/lifecycle/manager_startup_test.go
  apps/backend/internal/agent/runtime/lifecycle/process_runner.go
  apps/backend/internal/agent/runtime/lifecycle/process_runner_test.go
  apps/backend/internal/backendapp/storage_maintenance.go
  apps/backend/internal/backendapp/storage_maintenance_test.go
  apps/backend/internal/system/storage/gocache/provider.go
  apps/backend/internal/system/storage/gocache/provider_test.go
  apps/backend/internal/system/storage/path_safety.go
  apps/backend/internal/system/storage/runner_test.go
  apps/backend/internal/system/storage/runtime_test.go
  apps/backend/internal/system/storage/workspaces/provider.go
  apps/backend/internal/system/storage/workspaces/provider_test.go
  apps/backend/internal/task/repository/interface.go
  apps/backend/internal/task/repository/sqlite/resource_cleanup.go
  apps/backend/internal/task/repository/sqlite/resource_cleanup_test.go
  apps/backend/internal/task/service/resource_cleanup_activation_test.go
  apps/backend/internal/task/service/resource_cleanup_jobs.go
  apps/backend/internal/task/service/service_resources_test.go
  apps/backend/internal/task/service/service_tasks.go
  apps/backend/internal/worktree/manager_quarantine_cleanup_test.go
  apps/web/e2e/helpers/storage-maintenance.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: signal durable cleanup after persistence
  apps/backend/internal/task/service/resource_cleanup_jobs.go
Due: gofmt, go-tests, go-lint

fix: strengthen harness verification checks
  .agents/agents/verify.md
  .agents/skills/verify/SKILL.md
  .codex/agents/verify.toml
  .opencode/agents/verify.md
  Makefile
  scripts/run-quiet.test.sh
Due: none

fix: preserve quick chat across workspace session starts
  apps/web/lib/state/slices/ui/quick-chat-actions.test.ts
  apps/web/lib/state/slices/ui/ui-slice.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: prevent Azure DevOps request forgery
  apps/backend/internal/azuredevops/rest_client.go
  apps/backend/internal/azuredevops/rest_client_test.go
Due: gofmt, go-tests, go-lint

fix: indent multi-repo change trees
  apps/web/components/task/changes-panel-tree.test.tsx
  apps/web/components/task/changes-panel-tree.tsx
  apps/web/e2e/tests/git/changes-panel-multi-repo-indent.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address documentation review feedback
  .agents/skills/e2e/SKILL.md
  .agents/skills/pr/SKILL.md
Due: none

fix: address Azure DevOps review findings
  apps/backend/internal/azuredevops/copy.go
  apps/backend/internal/azuredevops/lifecycle.go
  apps/backend/internal/azuredevops/lifecycle_test.go
  apps/backend/internal/azuredevops/service_test.go
  apps/backend/internal/azuredevops/store_task_pr.go
  apps/backend/internal/azuredevops/store_test.go
  apps/backend/internal/backendapp/main.go
  apps/web/components/azure-devops/azure-devops-task-launcher.test.tsx
  apps/web/components/azure-devops/azure-devops-task-launcher.tsx
  apps/web/hooks/domains/azure-devops/use-azure-devops-task-pull-requests.test.tsx
  apps/web/hooks/domains/azure-devops/use-azure-devops-task-pull-requests.ts
  apps/web/lib/state/slices/azure-devops/azure-devops-slice.test.ts
  apps/web/lib/state/slices/azure-devops/azure-devops-slice.ts
  apps/web/lib/state/store.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(plugins): align install-dialog footer actions
  apps/web/components/settings/plugins/install-plugin-dialog.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

media: screenshots for PR #1780
  install-dialog-desktop-upload.png
  install-dialog-desktop-url.png
  install-dialog-mobile.png
Due: none

fix: harden Azure DevOps state handling
  apps/backend/internal/azuredevops/client_models.go
  apps/backend/internal/azuredevops/copy.go
  apps/backend/internal/azuredevops/rest_client_test.go
  apps/backend/internal/azuredevops/service.go
  apps/backend/internal/azuredevops/service_reads.go
  apps/backend/internal/azuredevops/service_task_pr_test.go
  apps/backend/internal/azuredevops/service_test.go
  apps/backend/internal/azuredevops/store.go
  apps/backend/internal/azuredevops/store_task_pr.go
  apps/backend/internal/azuredevops/store_test.go
  apps/web/app/azure-devops/azure-devops-page-client.tsx
  apps/web/components/azure-devops/azure-devops-results.test.tsx
  apps/web/components/azure-devops/azure-devops-results.tsx
  apps/web/components/azure-devops/azure-devops-settings.test.tsx
  apps/web/components/azure-devops/azure-devops-settings.tsx
  apps/web/components/azure-devops/azure-devops-task-launcher.tsx
  apps/web/hooks/domains/azure-devops/use-azure-devops-browse.test.tsx
  apps/web/hooks/domains/azure-devops/use-azure-devops-browse.ts
  apps/web/hooks/domains/azure-devops/use-azure-devops-projects.test.tsx
  apps/web/hooks/domains/azure-devops/use-azure-devops-projects.ts
  apps/web/hooks/domains/azure-devops/use-azure-devops-task-pull-requests.test.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(plugins): reset install-dialog inputs on close
  apps/web/app/settings/plugins/page.test.tsx
  apps/web/components/settings/plugins/install-plugin-dialog.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: reset Azure DevOps health after credential changes
  apps/backend/internal/azuredevops/service.go
  apps/backend/internal/azuredevops/service_test.go
Due: gofmt, go-tests, go-lint

fix: refresh Office views after task detachment
  apps/backend/internal/office/dashboard/service.go
  apps/backend/internal/office/dashboard/service_tasks.go
  apps/backend/internal/task/service/service_detachment.go
  apps/backend/internal/task/service/service_detachment_test.go
Due: gofmt, go-tests, go-lint

fix: warn Office users about shared task workspaces
  apps/web/app/office/tasks/[id]/types.ts
  apps/web/components/task/simple/components/parent-picker.test.tsx
  apps/web/components/task/simple/components/parent-picker.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test: stabilize plugin host callback integration test
  apps/backend/internal/plugins/runtime/manager_test.go
Due: gofmt, go-tests, go-lint

docs: document storage maintenance controls
  docs/public/coverage.json
  docs/public/operations.md
Due: none

docs: update plugin docs for host data API, config, and nav additions
  docs/public/configuration.md
  docs/public/coverage.json
  docs/public/feature-status.md
  docs/public/plugins-authoring.md
  docs/public/plugins-manifest.md
  docs/public/plugins.md
Due: none

docs: add plugin system guide, authoring tutorial, and manifest reference
  docs/public/extending-kandev.md
  docs/public/meta.json
  docs/public/plugins-authoring.md
  docs/public/plugins-manifest.md
  docs/public/plugins.md
Due: none

docs: replace how-it-works mermaid with a designed diagram image
  apps/web/e2e/tests/plugins/plugins-docs-screenshots.spec.ts
  docs/public/plugins.md
  docs/screenshots/plugin-architecture.png
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: note the plugin backend is any go-plugin gRPC executable, Go SDK only
  docs/public/plugins-authoring.md
Due: none

docs: give plugins its own nav section
  docs/public/meta.json
Due: none

docs: dark plugin diagram + space out the two page images
  apps/web/e2e/tests/plugins/plugins-docs-screenshots.spec.ts
  docs/public/plugins.md
  docs/screenshots/plugin-architecture.png
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: mark plugin docs as experimental
  docs/public/plugins-authoring.md
  docs/public/plugins-manifest.md
  docs/public/plugins.md
Due: none

docs: convert plugin how-it-works diagram to mermaid
  docs/public/plugins.md
Due: none

docs: make the how-it-works diagram a clean monochrome flowchart
  apps/web/e2e/tests/plugins/plugins-docs-screenshots.spec.ts
  docs/screenshots/plugin-architecture.png
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: clarify webhook relay in how-it-works diagram
  docs/public/plugins.md
Due: none

docs: remove plugin tools from the docs
  docs/public/plugins-authoring.md
  docs/public/plugins-manifest.md
  docs/public/plugins.md
Due: none

docs: make the how-it-works figure a real box-and-arrow diagram
  apps/web/e2e/tests/plugins/plugins-docs-screenshots.spec.ts
  docs/screenshots/plugin-architecture.png
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: fix plugin config route, signing claim, and data-dir layout
  docs/public/plugins-authoring.md
  docs/public/plugins-manifest.md
  docs/public/plugins.md
Due: none

docs: add plugin UI screenshots and a capture spec
  apps/web/e2e/tests/plugins/plugins-docs-screenshots.spec.ts
  docs/public/media/plugins/install-dialog.png
  docs/public/media/plugins/plugin-page.png
  docs/public/media/plugins/settings-list.png
  docs/public/media/plugins/settings-page.png
  docs/public/plugins-authoring.md
  docs/public/plugins.md
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: fix plugin screenshot paths for the landing publisher
  apps/web/e2e/tests/plugins/plugins-docs-screenshots.spec.ts
  docs/public/media/plugins/plugin-page.png
  docs/public/media/plugins/settings-page.png
  docs/public/plugins-authoring.md
  docs/public/plugins.md
  docs/screenshots/plugin-install-dialog.png
  docs/screenshots/plugin-native-page.png
  docs/screenshots/plugin-settings-list.png
  docs/screenshots/plugin-settings-page.png
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: clarify plugin tools are declared/listed, not agent-invocable yet
  docs/public/plugins-authoring.md
  docs/public/plugins-manifest.md
  docs/public/plugins.md
Due: none

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
