Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

fix: eliminate SSH lifecycle race flakes
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh_credentials_test.go
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh_operations.go
  apps/backend/internal/agent/runtime/lifecycle/manager_execution.go
  apps/backend/internal/agent/runtime/lifecycle/manager_launch.go
  apps/backend/internal/agent/runtime/lifecycle/manager_launch_test.go
Due: gofmt, go-tests, go-lint

fix: close launch persistence cleanup race
  apps/backend/internal/agent/runtime/lifecycle/manager_execution.go
  apps/backend/internal/agent/runtime/lifecycle/manager_launch.go
  apps/backend/internal/agent/runtime/lifecycle/manager_launch_test.go
Due: gofmt, go-tests, go-lint

test(e2e): eliminate remaining retry-only failures
  apps/web/e2e/tests/docker/add-workspace-sources.spec.ts
  apps/web/e2e/tests/pr/mobile-ci-automation-options.spec.ts
  apps/web/e2e/tests/task/mobile-changes-panel.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: gate launches during task cleanup
  apps/backend/internal/agent/runtime/lifecycle/executor_profile_env.go
  apps/backend/internal/agent/runtime/lifecycle/executor_profile_env_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_launch.go
  apps/backend/internal/agent/runtime/lifecycle/manager_launch_test.go
  apps/backend/internal/gateway/websocket/terminal_handler_test.go
  apps/backend/internal/task/repository/interface.go
  apps/backend/internal/task/repository/sqlite/resource_cleanup.go
  apps/backend/internal/task/repository/sqlite/resource_cleanup_test.go
Due: gofmt, go-tests, go-lint

test(e2e): await overlapping file hydration
  apps/web/e2e/tests/task/mobile-changes-panel.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: close task cleanup launch races
  apps/backend/internal/agent/runtime/lifecycle/executor_profile_env.go
  apps/backend/internal/agent/runtime/lifecycle/manager_launch.go
  apps/backend/internal/agent/runtime/lifecycle/manager_launch_test.go
  apps/backend/internal/agent/runtime/lifecycle/persistence.go
  apps/backend/internal/agent/runtime/lifecycle/persistence_test.go
  apps/backend/internal/task/service/resource_cleanup_jobs.go
  apps/backend/internal/task/service/resource_cleanup_jobs_test.go
Due: gofmt, go-tests, go-lint

fix: retain cleanup ownership through launch races
  apps/backend/internal/agent/runtime/lifecycle/manager_execution.go
  apps/backend/internal/agent/runtime/lifecycle/manager_execution_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_launch.go
  apps/backend/internal/agent/runtime/lifecycle/manager_launch_test.go
  apps/backend/internal/task/service/resource_cleanup_jobs.go
  apps/backend/internal/task/service/resource_cleanup_jobs_test.go
  apps/backend/internal/task/service/service_tasks.go
Due: gofmt, go-tests, go-lint

test(e2e): eliminate SSH and menu lifecycle flakes
  apps/web/e2e/fixtures/ssh-test-base.ts
  apps/web/e2e/tests/terminal/terminal-dockview-ui.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): await TUI cascade completion
  apps/web/e2e/tests/terminal/terminal-agent.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): await seeded chat completion
  apps/web/e2e/tests/chat/auto-scroll-toggle.spec.ts
  apps/web/e2e/tests/chat/message-send-pressure.spec.ts
  apps/web/e2e/tests/chat/mobile-auto-scroll-toggle.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(acpdbg): make the out-of-band queue unbounded so replays cannot deadlock
  apps/backend/internal/agent/acpdbg/ops.go
  apps/backend/internal/agent/acpdbg/runner.go
  apps/backend/internal/agent/acpdbg/runner_burst_test.go
  apps/backend/internal/agent/acpdbg/runner_test.go
Due: gofmt, go-tests, go-lint

test(acpdbg): resolve the helper process by absolute path
  apps/backend/internal/agent/acpdbg/ops_test.go
Due: gofmt, go-tests, go-lint

fix: address dead code audit review feedback
  Makefile
  apps/backend/Makefile
  apps/knip.json
  apps/web/components/task/chat/message-list.test.tsx
  docs/specs/ui/comment-markdown.md
  scripts/check-make-shells
Due: prettier-format, web-lint, web-tests, web-typecheck

chore: add dead code audits
  Makefile
  apps/backend/Makefile
  apps/knip.json
  apps/package.json
  apps/pnpm-lock.yaml
Due: none

refactor: remove unused virtuoso code
  apps/backend/internal/agentctl/server/adapter/transport/acp/shell_output_test.go
  apps/pnpm-lock.yaml
  apps/web/components/session/prepare-progress.tsx
  apps/web/components/task/chat/auto-scroll-toggle-button.tsx
  apps/web/components/task/chat/message-list-shared.tsx
  apps/web/components/task/chat/message-list-virtuoso-auto-scroll.ts
  apps/web/components/task/chat/message-list-virtuoso-edges.test.ts
  apps/web/components/task/chat/message-list-virtuoso-edges.ts
  apps/web/components/task/chat/message-list-virtuoso-index.ts
  apps/web/components/task/chat/message-list-virtuoso-scroll-lock.test.ts
  apps/web/components/task/chat/message-list-virtuoso-scroll-lock.ts
  apps/web/components/task/chat/message-list-virtuoso-scroll-parent.ts
  apps/web/components/task/chat/message-list-virtuoso.test.tsx
  apps/web/components/task/chat/message-list-virtuoso.tsx
  apps/web/components/task/chat/message-list.test.tsx
  apps/web/components/task/chat/message-list.tsx
  apps/web/components/task/chat/transcript-auto-scroll.test.ts
  apps/web/components/task/chat/transcript-auto-scroll.ts
  apps/web/components/task/chat/use-transcript-auto-scroll-enabled.ts
  apps/web/e2e/tests/chat/message-pagination.spec.ts
  apps/web/e2e/tests/search/session-search.spec.ts
  apps/web/e2e/tests/search/shared.ts
  apps/web/generated/licenses.json
  apps/web/lib/debug/log.ts
  apps/web/lib/state/slices/ui/transcript-auto-scroll-actions.test.ts
  apps/web/lib/state/slices/ui/types.ts
  apps/web/lib/state/slices/ui/ui-slice.ts
  apps/web/lib/state/store.ts
  apps/web/package.json
  docs/specs/last-prompt-pinning-regressions/spec.md
  docs/specs/ui/comment-markdown.md
  docs/specs/ui/transcript-auto-scroll.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(acpdbg): fail prompts on child death and stop queueing at shutdown
  apps/backend/internal/agent/acpdbg/ops.go
  apps/backend/internal/agent/acpdbg/runner.go
  apps/backend/internal/agent/acpdbg/runner_burst_test.go
Due: gofmt, go-tests, go-lint

fix: preserve unread divider scroll position
  apps/web/components/task/chat/message-list-native-scroll.ts
  apps/web/components/task/chat/message-list-native.test.tsx
  apps/web/components/task/chat/message-list-native.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: clarify dead code audit scope
  Makefile
  apps/backend/internal/agentctl/server/adapter/transport/acp/shell_output_test.go
Due: gofmt, go-tests, go-lint

test: stabilize mobile stream overload test
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/tests/session/mobile-session-stream-overload-isolation.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor: isolate native message list scroll management
  apps/web/components/task/chat/message-list-native-scroll.ts
  apps/web/components/task/chat/message-list-native.test.tsx
  apps/web/components/task/chat/message-list-native.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: finish session stream conflict resolution
  apps/web/e2e/tests/session/mobile-session-stream-overload-isolation.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(i18n): localize Automations
  apps/web/app/settings/automations/page.tsx
  apps/web/components/automations/automation-editor-sections.tsx
  apps/web/components/automations/automation-editor.tsx
  apps/web/components/automations/automation-payload.ts
  apps/web/components/automations/automation-repository-rows.tsx
  apps/web/components/automations/automation-repository-selection.ts
  apps/web/components/automations/automations-list-page.tsx
  apps/web/components/automations/automations-table.tsx
  apps/web/components/automations/config-section.tsx
  apps/web/components/automations/prompt-section.tsx
  apps/web/components/automations/required-field-label.tsx
  apps/web/components/automations/runs-section.tsx
  apps/web/components/automations/schedule-selector.tsx
  apps/web/components/automations/trigger-card.tsx
  apps/web/components/automations/trigger-configs/github-ci-config.tsx
  apps/web/components/automations/trigger-configs/github-pr-config.tsx
  apps/web/components/automations/trigger-configs/github-push-config.tsx
  apps/web/components/automations/trigger-configs/scheduled-config.tsx
  apps/web/components/automations/trigger-configs/webhook-config.tsx
  apps/web/components/automations/trigger-picker.tsx
  apps/web/components/automations/triggers-section.tsx
  apps/web/components/automations/webhook-created-dialog.tsx
  apps/web/components/task-create-dialog-multi-repo-guard.ts
  apps/web/eslint.i18n.options.mjs
  apps/web/hooks/domains/settings/use-automation-runs.ts
  apps/web/src/locales/en/automations.json
  apps/web/src/locales/en/common.json
  apps/web/src/locales/pseudo/automations.json
  apps/web/src/locales/pseudo/common.json
Due: prettier-format, web-lint, web-tests, web-typecheck

test(i18n): pin the Automations syntax-help Trans sentences
  apps/web/components/automations/automation-syntax-help.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(acpdbg): reject new request waiters once the read loop is terminal
  apps/backend/internal/agent/acpdbg/ops.go
  apps/backend/internal/agent/acpdbg/runner.go
  apps/backend/internal/agent/acpdbg/runner_burst_test.go
Due: gofmt, go-tests, go-lint

fix(backend): retry prompt once after agent-not-ready-after-resume timeout
  apps/backend/internal/task/handlers/message_handlers.go
  apps/backend/internal/task/handlers/message_handlers_resume_readiness_test.go
Due: gofmt, go-tests, go-lint

test(acpdbg): assert the terminal error and synchronise on read-loop exit
  apps/backend/internal/agent/acpdbg/runner_burst_test.go
Due: gofmt, go-tests, go-lint

fix(i18n): make the Automations guard entry actually match
  apps/web/components/automations/automation-editor.tsx
  apps/web/components/automations/automation-syntax-help.test.tsx
  apps/web/components/automations/automations-table.tsx
  apps/web/components/automations/schedule-selector.tsx
  apps/web/components/automations/trigger-card.tsx
  apps/web/components/automations/trigger-picker.tsx
  apps/web/eslint.i18n.options.mjs
  apps/web/src/locales/en/automations.json
  apps/web/src/locales/pseudo/automations.json
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(i18n): record the born-dead guard entry failure mode
  docs/i18n.md
Due: none

fix(i18n): escape three more born-dead guard allowlist entries
  apps/web/eslint.i18n.options.mjs
Due: prettier-format

fix(backend): preserve original prompt error on failed resume recovery
  apps/backend/internal/task/handlers/message_handlers.go
  apps/backend/internal/task/handlers/message_handlers_resume_readiness_test.go
Due: gofmt, go-tests, go-lint

test(backend): stub waitForSessionReady in resume-retry tests
  apps/backend/internal/task/handlers/message_handlers.go
  apps/backend/internal/task/handlers/message_handlers_resume_readiness_test.go
Due: gofmt, go-tests, go-lint

feat: add quick chat elevation
  apps/web/components/quick-chat/quick-chat-modal.tsx
  apps/web/e2e/tests/chat/quick-chat.spec.ts
  docs/plans/quick-chat-elevation/plan.md
  docs/plans/quick-chat-elevation/task-01-quick-chat-elevation.md
  docs/specs/INDEX.md
  docs/specs/ui/quick-chat-elevation.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(backend): surface the retry's own error, not origErr, on retry failure
  apps/backend/internal/task/handlers/message_handlers.go
  apps/backend/internal/task/handlers/message_handlers_resume_readiness_test.go
Due: gofmt, go-tests, go-lint

refactor(e2e): factor the shared force-set seeder shape
  apps/backend/internal/backendapp/e2e_reset.go
Due: gofmt, go-tests, go-lint

i18n(automations): reconcile with the upstream Automations localization
  apps/web/components/automations/automation-syntax-help.test.tsx
  apps/web/components/automations/automations-list-page.tsx
  apps/web/components/automations/config-section.tsx
  apps/web/components/automations/runs-section.tsx
  apps/web/src/locales/en/automations.json
  apps/web/src/locales/pseudo/automations.json
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: add no-silent-model-fallback spec, plan, and task files
  docs/plans/no-silent-model-fallback/plan.md
  docs/plans/no-silent-model-fallback/task-01-profile-fields.md
  docs/plans/no-silent-model-fallback/task-02-reconciler-keep-gone.md
  docs/plans/no-silent-model-fallback/task-03-session-start-strict.md
  docs/plans/no-silent-model-fallback/task-04-post-start-gating.md
  docs/plans/no-silent-model-fallback/task-05-picker-gone-support.md
  docs/plans/no-silent-model-fallback/task-06-profile-editor.md
  docs/plans/no-silent-model-fallback/task-07-profile-picker-gating.md
  docs/plans/no-silent-model-fallback/task-08-e2e.md
  docs/specs/INDEX.md
  docs/specs/no-silent-model-fallback/spec.md
Due: none

fix(web): point popular MCP presets at packages that exist
  apps/web/app/settings/agents/[agentId]/profile-mcp-config-card.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): move the github MCP preset to the authenticated remote server
  apps/web/app/settings/agents/[agentId]/profile-mcp-config-card.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
