Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

docs: update Workflow Sync public docs for GitLab support
  docs/public/workflow-sync.md
Due: none

fix(i18n): keep subagent chip identity untranslated and finish chat residuals
  apps/web/components/task/chat/context-popover.tsx
  apps/web/components/task/chat/messages/kandev/list-renderers.tsx
  apps/web/components/task/chat/messages/shell-output-disclosure.tsx
  apps/web/components/task/chat/messages/subagent-meta-row.tsx
  apps/web/components/task/chat/messages/subagent-meta.test.ts
  apps/web/components/task/chat/messages/subagent-meta.ts
  apps/web/components/task/chat/voice-input-button.tsx
  apps/web/src/locales/en/task.json
  apps/web/src/locales/pseudo/task.json
Due: prettier-format, web-lint, web-tests, web-typecheck

chore(i18n): add sweep for plural concatenation and non-JSX copy
  apps/web/package.json
  apps/web/scripts/i18n-sweep.mjs
  apps/web/scripts/i18n-sweep.test.ts
  docs/i18n.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): stabilize monitor e2e setup
  apps/web/e2e/tests/chat/monitor.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): harden monitor e2e assertions
  apps/web/e2e/tests/chat/monitor.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

ci(web): gate frontend CI on typecheck
  .github/workflows/frontend-tests.yml
  apps/web/components/app-sidebar/sections/settings/settings-tree-render.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): accept a plain translate fn in pickRepoLabel
  apps/web/components/vcs/vcs-dialogs.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(i18n): show prompt-builder caveat in the sweep's defect section
  apps/web/scripts/i18n-sweep.mjs
  apps/web/scripts/i18n-sweep.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(acp): let Cursor sessions leave fast mode (parameterizedModelPicker)
  apps/backend/internal/agentctl/acpcompat/cursor.go
  apps/backend/internal/agentctl/acpcompat/cursor_test.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/adapter.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/adapter_client_capabilities_test.go
  apps/backend/internal/agentctl/server/utility/acp_executor.go
  apps/backend/internal/agentctl/server/utility/acp_probe_capabilities_test.go
Due: gofmt, go-tests, go-lint

docs: define task-scoped LSP lifecycle
  docs/decisions/2026-08-05-task-scoped-lsp-ownership.md
  docs/decisions/INDEX.md
  docs/plans/task-scoped-lsp-lifecycle/plan.md
  docs/plans/task-scoped-lsp-lifecycle/task-01-acceptance-harness.md
  docs/plans/task-scoped-lsp-lifecycle/task-02-state-contracts.md
  docs/plans/task-scoped-lsp-lifecycle/task-03-task-host-supervisor.md
  docs/plans/task-scoped-lsp-lifecycle/task-04-attachment-hub.md
  docs/plans/task-scoped-lsp-lifecycle/task-05-language-discovery.md
  docs/plans/task-scoped-lsp-lifecycle/task-06-task-controller.md
  docs/plans/task-scoped-lsp-lifecycle/task-07-lifecycle-reconciliation.md
  docs/plans/task-scoped-lsp-lifecycle/task-08-frontend-protocol-bridge.md
  docs/plans/task-scoped-lsp-lifecycle/task-09-responsive-control-surface.md
  docs/plans/task-scoped-lsp-lifecycle/task-10-e2e-conformance.md
  docs/plans/task-scoped-lsp-lifecycle/task-11-public-documentation.md
  docs/specs/INDEX.md
  docs/specs/lsp-file-intelligence/spec.md
Due: none

fix(lsp): reconcile latest main
  apps/backend/internal/agent/runtime/lifecycle/manager_execution.go
  apps/backend/internal/agent/runtime/lifecycle/manager_execution_test.go
  apps/backend/internal/gateway/websocket/task_notifications_test.go
  apps/backend/internal/task/service/service_workspace_sources.go
  apps/web/lib/state/default-state.ts
  docs/plans/task-scoped-lsp-lifecycle/plan.md
  docs/plans/task-scoped-lsp-lifecycle/task-10-e2e-conformance.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

ci(gitlab): regenerate pseudo-locale catalog for new gitlab keys
  apps/web/src/locales/pseudo/gitlab.json
  apps/web/src/locales/pseudo/settings.json
  apps/web/src/locales/pseudo/sidebar.json
Due: prettier-format

fix(backend): allowlist GitHub credential broker and App webhook routes
  apps/backend/cmd/agentctl/github_credential.go
  apps/backend/cmd/agentctl/github_credential_test.go
  apps/backend/internal/auth/httpmw/middleware.go
  apps/backend/internal/auth/httpmw/middleware_test.go
  apps/backend/internal/github/credential_broker_http_test.go
  docs/specs/auth/spec.md
Due: gofmt, go-tests, go-lint

fix(gitlab): address PR review findings on MR automation
  apps/backend/internal/gitlab/store.go
  apps/backend/internal/orchestrator/event_handlers_gitlab_mr_ci_automation.go
  apps/backend/internal/orchestrator/event_handlers_gitlab_mr_ci_automation_test.go
  apps/web/components/gitlab/mr-ci-popover.test.tsx
  apps/web/components/gitlab/mr-ci-popover.tsx
  apps/web/components/gitlab/mr-task-icon.test.ts
  apps/web/components/gitlab/mr-task-icon.tsx
  apps/web/src/locales/en/gitlab.json
  apps/web/src/locales/pseudo/gitlab.json
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(gitlab): open the auto-fix editor on the effective prompt for a blank override
  apps/web/components/gitlab/mr-automation-controls.automation.test.tsx
  apps/web/components/gitlab/mr-automation-controls.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(gitlab): bound MR automation follow-up writes and use AppLink in the prompt dialog
  apps/backend/internal/orchestrator/event_handlers_gitlab_mr_ci_automation.go
  apps/web/components/gitlab/mr-auto-fix-prompt-dialog.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test: verify UTF-8 safety at broker error body truncation boundary
  apps/backend/cmd/agentctl/github_credential_utf8_test.go
Due: gofmt, go-tests, go-lint

docs(specs): add workflow-sync workspace-authorization repair spec + plan
  docs/plans/workflow-sync-workspace-authz/plan.md
  docs/plans/workflow-sync-workspace-authz/task-01-service-authorization.md
  docs/plans/workflow-sync-workspace-authz/task-02-handler-error-mapping.md
  docs/specs/workflow-sync-workspace-authz/spec.md
Due: none

fix(backend): enforce per-user workspace authorization in workflow sync
  apps/backend/internal/backendapp/services.go
  apps/backend/internal/workflowsync/handlers.go
  apps/backend/internal/workflowsync/handlers_test.go
  apps/backend/internal/workflowsync/service.go
  apps/backend/internal/workflowsync/service_authorization_test.go
  docs/plans/workflow-sync-workspace-authz/plan.md
  docs/plans/workflow-sync-workspace-authz/task-01-service-authorization.md
  docs/plans/workflow-sync-workspace-authz/task-02-handler-error-mapping.md
Due: gofmt, go-tests, go-lint

fix(backend): address Codex review findings + correct severity claim
  apps/backend/internal/backendapp/workflowsync_wiring_test.go
  apps/backend/internal/workflowsync/handlers.go
  apps/backend/internal/workflowsync/handlers_test.go
  apps/backend/internal/workflowsync/service_authorization_test.go
  docs/plans/workflow-sync-workspace-authz/plan.md
  docs/plans/workflow-sync-workspace-authz/task-01-service-authorization.md
  docs/plans/workflow-sync-workspace-authz/task-02-handler-error-mapping.md
  docs/specs/workflow-sync-workspace-authz/spec.md
Due: gofmt, go-tests, go-lint

fix(lsp): wait for process tree cleanup
  apps/backend/internal/agentctl/server/lsp/discovery_test.go
  apps/backend/internal/agentctl/server/lsp/manager.go
  apps/backend/internal/agentctl/server/lsp/manager_test.go
  apps/backend/internal/agentctl/server/lsp/process_tree_unix_test.go
Due: gofmt, go-tests, go-lint

fix(acp): keep todo indicator alive across session resume
  apps/backend/internal/agentctl/server/adapter/transport/acp/adapter_session.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/load_suppression_test.go
Due: gofmt, go-tests, go-lint

fix(lsp): harden task lifecycle concurrency
  apps/backend/internal/agent/runtime/agentctl/client_lsp.go
  apps/backend/internal/agent/runtime/agentctl/client_lsp_test.go
  apps/backend/internal/agentctl/server/lsp/documents.go
  apps/backend/internal/agentctl/server/lsp/documents_test.go
  apps/backend/internal/agentctl/server/lsp/hub.go
  apps/backend/internal/agentctl/server/lsp/hub_test.go
  apps/backend/internal/agentctl/server/lsp/manager.go
  apps/backend/internal/agentctl/server/lsp/manager_test.go
  apps/backend/internal/agentctl/server/lsp/progress.go
  apps/backend/internal/gateway/websocket/lsp_handler.go
  apps/backend/internal/gateway/websocket/lsp_handler_test.go
  apps/backend/internal/lsp/capacity.go
  apps/backend/internal/lsp/capacity_controller.go
  apps/backend/internal/lsp/capacity_test.go
  apps/backend/internal/lsp/controller.go
  apps/backend/internal/lsp/controller_discovery.go
  apps/backend/internal/lsp/controller_discovery_test.go
  apps/backend/internal/lsp/controller_store_test.go
  apps/backend/internal/lsp/controller_test.go
  apps/backend/internal/lsp/handlers.go
  apps/backend/internal/lsp/handlers_test.go
  apps/backend/internal/lsp/reconcile.go
  apps/backend/internal/lsp/reconcile_test.go
  apps/backend/internal/lsp/watch.go
  apps/backend/internal/lsp/watch_test.go
  apps/backend/internal/orchestrator/executor/executor_environment_test.go
  apps/backend/internal/orchestrator/executor/executor_execute.go
  apps/backend/internal/task/repository/sqlite/task_lsp.go
  apps/backend/internal/task/repository/sqlite/task_lsp_test.go
  apps/web/lib/state/slices/lsp/lsp-slice.test.ts
  apps/web/lib/state/slices/lsp/lsp-slice.ts
  apps/web/lib/types/http-lsp.ts
  docs/plans/task-scoped-lsp-lifecycle/plan.md
  docs/plans/task-scoped-lsp-lifecycle/task-03-task-host-supervisor.md
  docs/plans/task-scoped-lsp-lifecycle/task-04-attachment-hub.md
  docs/plans/task-scoped-lsp-lifecycle/task-06-task-controller.md
  docs/plans/task-scoped-lsp-lifecycle/task-07-lifecycle-reconciliation.md
  docs/plans/task-scoped-lsp-lifecycle/task-08-frontend-protocol-bridge.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat: add quick terminal launcher
  apps/web/app/layout.tsx
  apps/web/components/app-sidebar/app-sidebar-new-task-item.test.tsx
  apps/web/components/app-sidebar/app-sidebar-new-task-item.tsx
  apps/web/components/kanban/kanban-header-mobile.test.tsx
  apps/web/components/kanban/kanban-header-mobile.tsx
  apps/web/components/kanban/kanban-header.tsx
  apps/web/components/quick-terminal/quick-terminal-provider.test.tsx
  apps/web/components/quick-terminal/quick-terminal-provider.tsx
  apps/web/components/settings/host-shell-dialog.tsx
  apps/web/components/settings/pty-terminal-dialog.tsx
  apps/web/e2e/tests/terminal/mobile-quick-terminal.spec.ts
  apps/web/e2e/tests/terminal/quick-terminal.spec.ts
  apps/web/hooks/use-quick-terminal-launcher.ts
  apps/web/src/app-shell.tsx
  apps/web/src/locales/en/sidebar.json
  docs/plans/quick-terminal/plan.md
  docs/plans/quick-terminal/task-01-quick-terminal-ui.md
  docs/plans/quick-terminal/task-02-quick-terminal-e2e.md
  docs/specs/INDEX.md
  docs/specs/quick-terminal/spec.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: sync pseudo locale catalog
  apps/web/src/locales/pseudo/sidebar.json
Due: prettier-format

fix(queue): repair rebased hook test structure
  apps/web/hooks/domains/session/use-queue.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(queue): add Send Now dispatch controls
  apps/backend/internal/orchestrator/event_handlers_clarification.go
  apps/backend/internal/orchestrator/handlers/queue_handlers.go
  apps/backend/internal/orchestrator/handlers/queue_handlers_send_now_test.go
  apps/backend/internal/orchestrator/handlers/queue_handlers_test.go
  apps/backend/internal/orchestrator/messagequeue/repository.go
  apps/backend/internal/orchestrator/messagequeue/repository_memory.go
  apps/backend/internal/orchestrator/messagequeue/repository_send_now_test.go
  apps/backend/internal/orchestrator/messagequeue/repository_sqlite.go
  apps/backend/internal/orchestrator/messagequeue/send_now.go
  apps/backend/internal/orchestrator/messagequeue/send_now_test.go
  apps/backend/internal/orchestrator/messagequeue/service.go
  apps/backend/internal/orchestrator/queue_send_now.go
  apps/backend/internal/orchestrator/queue_send_now_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/task/models/attachments.go
  apps/backend/pkg/websocket/actions.go
  apps/web/components/task/chat/queued-ghost-list.test.tsx
  apps/web/components/task/chat/queued-ghost-list.tsx
  apps/web/components/task/chat/queued-ghost-message.tsx
  apps/web/e2e/tests/chat/message-queue.spec.ts
  apps/web/e2e/tests/chat/mobile-message-queue-management.spec.ts
  apps/web/hooks/domains/session/use-queue.test.ts
  apps/web/hooks/domains/session/use-queue.ts
  apps/web/lib/api/domains/queue-api.test.ts
  apps/web/lib/api/domains/queue-api.ts
  apps/web/src/locales/en/chat.json
  apps/web/src/locales/pseudo/chat.json
  docs/decisions/2026-08-05-queue-send-now-replaces-turn.md
  docs/decisions/INDEX.md
  docs/plans/message-queue-send-now/plan.md
  docs/plans/message-queue-send-now/task-01-queue-send-now-claims.md
  docs/plans/message-queue-send-now/task-02-replacement-turn-dispatch.md
  docs/plans/message-queue-send-now/task-03-send-now-queue-controls.md
  docs/plans/message-queue-send-now/task-04-send-now-e2e.md
  docs/plans/message-queue-send-now/task-05-document-send-now.md
  docs/public/coordination.md
  docs/public/sessions-and-review.md
  docs/specs/INDEX.md
  docs/specs/ui/message-queue-management.md
  docs/specs/ui/message-queue-send-now.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(queue): use persisted Send Now test snapshots
  apps/backend/internal/orchestrator/messagequeue/repository_send_now_test.go
Due: gofmt, go-tests, go-lint

fix(queue): arbitrate Send Now against FIFO drain
  apps/backend/internal/orchestrator/event_handlers_agent.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/queue_send_now.go
  apps/backend/internal/orchestrator/queue_send_now_test.go
  apps/backend/internal/orchestrator/queued_dispatch.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/web/e2e/tests/chat/message-queue.spec.ts
  docs/plans/message-queue-send-now-fifo-arbitration/plan.md
  docs/plans/message-queue-send-now-fifo-arbitration/task-01-fifo-send-now-arbitration.md
  docs/plans/message-queue-send-now-fifo-arbitration/task-02-aggregate-replacement-e2e.md
  docs/specs/ui/message-queue-send-now.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(queue): preserve Send Now snapshots on retry
  apps/backend/internal/orchestrator/messagequeue/repository.go
  apps/backend/internal/orchestrator/messagequeue/repository_memory.go
  apps/backend/internal/orchestrator/messagequeue/repository_send_now_test.go
  apps/backend/internal/orchestrator/messagequeue/repository_sqlite.go
  apps/backend/internal/orchestrator/messagequeue/send_now.go
  apps/backend/internal/orchestrator/messagequeue/service.go
  apps/backend/internal/orchestrator/queue_send_now.go
  apps/backend/internal/orchestrator/queue_send_now_test.go
  docs/plans/message-queue-send-now/plan.md
  docs/plans/message-queue-send-now/task-01-queue-send-now-claims.md
  docs/plans/message-queue-send-now/task-02-replacement-turn-dispatch.md
Due: gofmt, go-tests, go-lint

test(e2e): stabilize selector timing assertions
  apps/web/e2e/tests/task/file-tree-rename.spec.ts
  apps/web/e2e/tests/task/repository-selector-scroll.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address quick terminal review feedback
  apps/web/components/kanban/kanban-header-mobile.tsx
  apps/web/components/kanban/kanban-header.tsx
  apps/web/components/quick-terminal/quick-terminal-provider.test.tsx
  apps/web/components/settings/pty-terminal-dialog.tsx
  apps/web/e2e/tests/terminal/mobile-quick-terminal.spec.ts
  apps/web/e2e/tests/terminal/quick-terminal.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: sync quick terminal task verification
  docs/plans/quick-terminal/task-03-fix-quick-terminal-startup-race.md
Due: none

fix: prevent quick terminal tooltip on focus restore
  apps/web/components/app-sidebar/app-sidebar-new-task-item.test.tsx
  apps/web/components/app-sidebar/app-sidebar-new-task-item.tsx
  apps/web/e2e/tests/terminal/quick-terminal.spec.ts
  docs/plans/quick-terminal/plan.md
  docs/plans/quick-terminal/task-03-fix-quick-terminal-startup-race.md
  docs/specs/quick-terminal/spec.md
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: clarify quick terminal task records
  docs/plans/quick-terminal/task-01-quick-terminal-ui.md
Due: none

fix: keep quick terminal sessions alive during startup
  apps/web/components/settings/pty-terminal-dialog.tsx
  apps/web/e2e/tests/terminal/quick-terminal.spec.ts
  docs/plans/quick-terminal/plan.md
  docs/plans/quick-terminal/task-03-fix-quick-terminal-startup-race.md
  docs/specs/quick-terminal/spec.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): split queued row actions after rebase
  apps/web/components/task/chat/queued-ghost-message.tsx
  apps/web/components/task/chat/queued-ghost-row-actions.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
