Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

docs(plugins): ADR + spec + plan for the Host data API
  docs/decisions/0042-plugin-host-data-api.md
  docs/decisions/INDEX.md
  docs/plans/plugins/host-data-api/plan.md
  docs/plans/plugins/host-data-api/task-01-proto-contract.md
  docs/plans/plugins/host-data-api/task-02-session-loc-aggregation.md
  docs/plans/plugins/host-data-api/task-03-sdk-data-accessors.md
  docs/plans/plugins/host-data-api/task-04-host-data-impl.md
  docs/plans/plugins/host-data-api/task-05-rewrite-agent-stats-plugin.md
  docs/plans/plugins/host-data-api/task-06-tests.md
  docs/plans/plugins/host-data-api/task-07-docs.md
  docs/specs/plugins/spec.md
Due: none

feat(plugins): add Host data API RPCs and DTOs to plugin proto
  apps/backend/proto/kandev/plugin/v1/plugin.pb.go
  apps/backend/proto/kandev/plugin/v1/plugin.proto
  apps/backend/proto/kandev/plugin/v1/plugin_grpc.pb.go
Due: gofmt, go-tests, go-lint

test(plugins): wire test for Host data reads + docs (ADR 0042 accepted)
  apps/backend/internal/plugins/goleak_test.go
  apps/backend/internal/plugins/host_data_wire_test.go
  docs/decisions/0042-plugin-host-data-api.md
  docs/plans/plugins/GRPC-CONTRACT.md
  docs/plans/plugins/host-data-api/plan.md
  docs/plans/plugins/host-data-api/task-07-docs.md
  docs/specs/plugins/spec.md
Due: gofmt, go-tests, go-lint

feat(plugins): capability-gated Host data read handlers (ADR 0042)
  apps/backend/internal/backendapp/services.go
  apps/backend/internal/plugins/host.go
  apps/backend/internal/plugins/host_data.go
  apps/backend/internal/plugins/host_data_test.go
  apps/backend/internal/plugins/manifest/capability.go
  apps/backend/internal/plugins/service.go
  apps/backend/internal/task/service/service_sessions.go
  apps/backend/internal/task/service/service_sessions_test.go
Due: gofmt, go-tests, go-lint

feat(plugins): full session history + snapshot profile name in data API
  apps/backend/internal/plugins/host_data.go
  apps/backend/internal/plugins/host_data_test.go
  apps/backend/pkg/pluginsdk/data_types.go
  apps/backend/proto/kandev/plugin/v1/plugin.pb.go
  apps/backend/proto/kandev/plugin/v1/plugin.proto
  docs/plans/plugins/HOST-DATA-API.proto
Due: gofmt, go-tests, go-lint

feat(plugins): Host data API SDK accessors + session LOC aggregation
  apps/backend/cmd/plugin-fixture/main_test.go
  apps/backend/internal/analytics/models/models.go
  apps/backend/internal/analytics/repository/interface.go
  apps/backend/internal/analytics/repository/sqlite/repository_test.go
  apps/backend/internal/analytics/repository/sqlite/session_code_stats_test.go
  apps/backend/internal/analytics/repository/sqlite/stats.go
  apps/backend/internal/analytics/service/service.go
  apps/backend/internal/analytics/service/service_test.go
  apps/backend/internal/plugins/host.go
  apps/backend/internal/plugins/runtime/manager_test.go
  apps/backend/pkg/pluginsdk/data_types.go
  apps/backend/pkg/pluginsdk/data_types_test.go
  apps/backend/pkg/pluginsdk/host.go
  apps/backend/pkg/pluginsdk/host_data_test.go
  apps/backend/pkg/pluginsdk/host_test.go
  apps/backend/pkg/pluginsdk/plugin_test.go
Due: gofmt, go-tests, go-lint

docs(plugins): renumber Host data API ADR 0042 -> 0043
  apps/backend/cmd/plugin-fixture/main_test.go
  apps/backend/internal/analytics/repository/sqlite/stats.go
  apps/backend/internal/analytics/service/service.go
  apps/backend/internal/plugins/host.go
  apps/backend/internal/plugins/host_data.go
  apps/backend/internal/plugins/host_data_test.go
  apps/backend/internal/plugins/host_data_wire_test.go
  apps/backend/internal/plugins/manifest/capability.go
  apps/backend/internal/plugins/runtime/manager_test.go
  apps/backend/internal/plugins/service.go
  apps/backend/internal/task/service/service_sessions.go
  apps/backend/internal/task/service/service_sessions_test.go
  apps/backend/pkg/pluginsdk/data_types.go
  apps/backend/pkg/pluginsdk/host.go
  apps/backend/pkg/pluginsdk/host_data_test.go
  apps/backend/pkg/pluginsdk/host_test.go
  apps/backend/pkg/pluginsdk/plugin_test.go
  apps/backend/proto/kandev/plugin/v1/plugin.pb.go
  apps/backend/proto/kandev/plugin/v1/plugin.proto
  apps/backend/proto/kandev/plugin/v1/plugin_grpc.pb.go
  docs/decisions/0043-plugin-host-data-api.md
  docs/decisions/INDEX.md
  docs/plans/plugins/GRPC-CONTRACT.md
  docs/plans/plugins/host-data-api/plan.md
  docs/plans/plugins/host-data-api/task-01-proto-contract.md
  docs/plans/plugins/host-data-api/task-02-session-loc-aggregation.md
  docs/plans/plugins/host-data-api/task-03-sdk-data-accessors.md
  docs/plans/plugins/host-data-api/task-04-host-data-impl.md
  docs/plans/plugins/host-data-api/task-05-rewrite-agent-stats-plugin.md
  docs/plans/plugins/host-data-api/task-06-tests.md
  docs/plans/plugins/host-data-api/task-07-docs.md
  docs/specs/plugins/spec.md
Due: gofmt, go-tests, go-lint

test(web): address review feedback on mobile quick chat spec
  apps/web/e2e/tests/chat/mobile-quick-chat-entry.spec.ts
  apps/web/e2e/tests/chat/mobile-quick-chat-repository.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: document experimental plugin workflows
  docs/public/configuration.md
  docs/public/coverage.json
  docs/public/extending-kandev.md
  docs/public/feature-status.md
  docs/public/index.md
  docs/public/meta.json
  docs/public/plugins.md
  docs/public/security.md
Due: none

ci(docs): publish Cloudflare previews for pull requests
  .github/workflows/notify-docs.yml
Due: none

feat(web): link mobile Kandev brand to workspace home
  apps/web/components/kanban/kanban-header-mobile.test.tsx
  apps/web/components/kanban/kanban-header-mobile.tsx
  apps/web/e2e/tests/chat/mobile-quick-chat-entry.spec.ts
  docs/plans/mobile-quick-chat-topbar/plan.md
  docs/plans/mobile-quick-chat-topbar/task-01-mobile-topbar.md
  docs/specs/INDEX.md
  docs/specs/mobile-quick-chat-topbar/spec.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(ci): report missing Cloudflare deployment URLs
  .github/workflows/notify-docs.yml
Due: none

fix(ci): authenticate the landing publisher checkout
  .github/workflows/notify-docs.yml
Due: none

docs: defer public plugin documentation
  docs/public/configuration.md
  docs/public/coverage.json
  docs/public/extending-kandev.md
  docs/public/feature-status.md
  docs/public/index.md
  docs/public/meta.json
  docs/public/plugins.md
  docs/public/security.md
Due: none

fix(plugins): address Host data API review (perf, pagination, filters, proto)
  apps/backend/internal/analytics/repository/sqlite/repository_test.go
  apps/backend/internal/analytics/repository/sqlite/session_code_stats_test.go
  apps/backend/internal/analytics/repository/sqlite/stats.go
  apps/backend/internal/db/dialect/dialect_test.go
  apps/backend/internal/db/dialect/json.go
  apps/backend/internal/plugins/host.go
  apps/backend/internal/plugins/host_data.go
  apps/backend/internal/plugins/host_data_test.go
  apps/backend/internal/plugins/host_data_wire_test.go
  apps/backend/internal/task/repository/sqlite/task.go
  apps/backend/pkg/pluginsdk/host.go
  apps/backend/proto/kandev/plugin/v1/plugin.pb.go
  apps/backend/proto/kandev/plugin/v1/plugin.proto
  apps/backend/proto/kandev/plugin/v1/plugin_grpc.pb.go
  docs/plans/plugins/HOST-DATA-API.proto
  docs/plans/plugins/host-data-api/task-01-proto-contract.md
  docs/plans/plugins/host-data-api/task-02-session-loc-aggregation.md
  docs/plans/plugins/host-data-api/task-03-sdk-data-accessors.md
  docs/plans/plugins/host-data-api/task-04-host-data-impl.md
  docs/plans/plugins/host-data-api/task-05-rewrite-agent-stats-plugin.md
  docs/plans/plugins/host-data-api/task-06-tests.md
Due: gofmt, go-tests, go-lint

docs(plugins): mark Host data API plan tasks done
  docs/plans/plugins/host-data-api/plan.md
Due: none

fix(lifecycle): don't split streaming messages on subagent tool calls
  apps/backend/internal/agent/runtime/lifecycle/manager_events.go
  apps/backend/internal/agent/runtime/lifecycle/manager_events_test.go
Due: gofmt, go-tests, go-lint

feat(web): add cmd+shift+g shortcut to open the task's github pr
  apps/web/components/task/task-page-inner.tsx
  apps/web/components/task/task-pr-open.test.ts
  apps/web/components/task/task-pr-open.ts
  apps/web/components/task/task-pr-picker-dialog.tsx
  apps/web/components/task/task-pr-shortcut.tsx
  apps/web/e2e/tests/pr/pr-open-shortcut.spec.ts
  apps/web/lib/keyboard/constants.ts
  apps/web/lib/keyboard/shortcut-overrides.test.ts
  apps/web/lib/keyboard/shortcut-overrides.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

assets: screenshots for open-task-pr shortcut PR
  pr-picker-modal.png
  settings-shortcut-row.png
Due: none

feat(web): add repository defaults to saved GitHub queries
  apps/web/app/github/github-page-client.tsx
  apps/web/components/combobox.tsx
  apps/web/components/github/my-github/list-toolbar.tsx
  apps/web/components/github/my-github/repo-filter-combobox.tsx
  apps/web/components/github/my-github/save-preset-dialog.tsx
  apps/web/components/github/my-github/use-saved-preset-actions.test.ts
  apps/web/components/github/my-github/use-saved-preset-actions.ts
  apps/web/components/github/my-github/use-saved-presets.test.ts
  apps/web/components/github/my-github/use-saved-presets.ts
  apps/web/e2e/pages/mobile-github-page.ts
  apps/web/e2e/tests/github/github-scope-bar.spec.ts
  apps/web/e2e/tests/github/mobile-github-sidebar.spec.ts
  docs/public/integrations.md
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor(lifecycle): drop dead flush-text branch in tool call handler
  apps/backend/internal/agent/runtime/lifecycle/manager_events.go
Due: gofmt, go-tests, go-lint

fix: address PR review feedback on focus contract and null task guard
  apps/web/components/task/task-pr-picker-dialog.tsx
  apps/web/components/task/task-pr-shortcut.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): commit saved query draft after saving
  apps/web/components/github/my-github/use-saved-preset-actions.test.ts
  apps/web/components/github/my-github/use-saved-preset-actions.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(lifecycle): don't split streaming messages on subagent tool calls (#1756)
  apps/backend/internal/agent/runtime/lifecycle/manager_events.go
  apps/backend/internal/agent/runtime/lifecycle/manager_events_test.go
Due: gofmt, go-tests, go-lint

feat(plugins): richer frontend SDK — page chrome, nav icons, more host UI
  apps/web/components/plugins/plugin-nav-items.test.tsx
  apps/web/components/plugins/plugin-nav-items.tsx
  apps/web/components/plugins/plugin-page.test.tsx
  apps/web/components/plugins/plugin-page.tsx
  apps/web/lib/plugins/host-api.test.ts
  apps/web/lib/plugins/host-api.ts
  apps/web/lib/plugins/host.test.ts
  apps/web/lib/plugins/host.ts
  apps/web/lib/plugins/icons.test.ts
  apps/web/lib/plugins/icons.ts
  apps/web/lib/plugins/registry.test.ts
  apps/web/lib/plugins/registry.ts
  apps/web/lib/plugins/types.ts
  apps/web/src/spa-routes.plugin.test.tsx
  apps/web/src/spa-routes.tsx
  docs/plans/plugins/PLUGIN-API.md
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: reframe feature guides and mark experimental surfaces
  .agents/skills/product-demo-seeding/SKILL.md
  .agents/skills/product-video-capture/SKILL.md
  .agents/skills/product-video-capture/references/camera-encoding.md
  .agents/skills/product-video-capture/references/capture-pipeline.md
  .agents/skills/product-video-capture/references/qa-checklist.md
  docs/public/README.md
  docs/public/agents-and-profiles.md
  docs/public/automation-and-mcp.md
  docs/public/coordination.md
  docs/public/k8s.md
  docs/public/media/feature-guides/NOTES.txt
  docs/public/media/feature-guides/code-walkthrough.mp4
  docs/public/media/feature-guides/code-walkthrough.webm
  docs/public/media/feature-guides/code-walkthrough.webp
  docs/public/media/feature-guides/diff-line-feedback.mp4
  docs/public/media/feature-guides/diff-line-feedback.webm
  docs/public/media/feature-guides/diff-line-feedback.webp
  docs/public/media/feature-guides/manifest.json
  docs/public/media/feature-guides/parallel-named-sessions.mp4
  docs/public/media/feature-guides/parallel-named-sessions.webm
  docs/public/media/feature-guides/parallel-named-sessions.webp
  docs/public/media/feature-guides/plan-review-implement.mp4
  docs/public/media/feature-guides/plan-review-implement.webm
  docs/public/media/feature-guides/plan-review-implement.webp
  docs/public/media/feature-guides/profile-executor-selection.mp4
  docs/public/media/feature-guides/profile-executor-selection.webm
  docs/public/media/feature-guides/profile-executor-selection.webp
  docs/public/media/feature-guides/scheduled-workflow-automation.mp4
  docs/public/media/feature-guides/scheduled-workflow-automation.webm
  docs/public/media/feature-guides/scheduled-workflow-automation.webp
  docs/public/media/feature-guides/task-create.mp4
  docs/public/media/feature-guides/task-create.webm
  docs/public/media/feature-guides/task-create.webp
  docs/public/media/feature-guides/task-start-agent.mp4
  docs/public/media/feature-guides/task-start-agent.webm
  docs/public/media/feature-guides/task-start-agent.webp
  docs/public/tasks-and-workflows.md
Due: none

fix: tighten task demo framing
  .agents/skills/product-video-capture/SKILL.md
  .agents/skills/product-video-capture/references/camera-encoding.md
  .agents/skills/product-video-capture/references/qa-checklist.md
  docs/public/README.md
  docs/public/media/feature-guides/NOTES.txt
  docs/public/media/feature-guides/manifest.json
  docs/public/media/feature-guides/task-create.mp4
  docs/public/media/feature-guides/task-create.webm
  docs/public/media/feature-guides/task-create.webp
  docs/public/media/feature-guides/task-start-agent.mp4
  docs/public/media/feature-guides/task-start-agent.webm
  docs/public/media/feature-guides/task-start-agent.webp
Due: none

fix: validate experimental page status
  .agents/skills/product-video-capture/references/camera-encoding.md
  docs/public/README.md
  scripts/validate-public-docs.mjs
  scripts/validate-public-docs.test.mjs
Due: none

docs: anchor experimental office status
  docs/public/coordination.md
  docs/public/tasks-and-workflows.md
  scripts/validate-public-docs.test.mjs
Due: none

fix(ci): isolate Wrangler preview install
  .github/workflows/notify-docs.yml
Due: none

docs: complete focused camera example
  .agents/skills/product-video-capture/references/camera-encoding.md
Due: none

fix(ci): use valid Wrangler package name
  .github/workflows/notify-docs.yml
Due: none

fix(plugins): expose full Sheet subcomponent family on host.ui
  apps/web/lib/plugins/host-api.test.ts
  apps/web/lib/plugins/host-api.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: restore task model configuration tooltip
  apps/web/components/model-config-selector.test.tsx
  apps/web/components/model-config-selector.tsx
  apps/web/e2e/tests/chat/model-selector-error.spec.ts
  docs/specs/ui/acp-model-configuration-summary.md
Due: prettier-format, web-lint, web-tests, web-typecheck

feat: show context window data source
  apps/backend/internal/orchestrator/event_handlers_git.go
  apps/backend/internal/orchestrator/event_handlers_git_test.go
  apps/web/components/task/chat/token-usage-display.test.tsx
  apps/web/components/task/chat/token-usage-display.tsx
  apps/web/hooks/domains/session/use-session-context-window.ts
  apps/web/lib/state/slices/session-runtime/context-window.test.ts
  apps/web/lib/state/slices/session-runtime/context-window.ts
  apps/web/lib/state/slices/session-runtime/types.ts
  apps/web/lib/ws/handlers/agent-session.test.ts
  apps/web/lib/ws/handlers/agent-session.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: address context source review feedback
  apps/web/components/task/chat/token-usage-display.test.tsx
  apps/web/components/task/chat/token-usage-display.tsx
  apps/web/lib/state/slices/session-runtime/context-window.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(plugins): per-plugin settings pages driven by manifest config_schema
  apps/backend/cmd/plugin-fixture/fixture-package/manifest.yaml
  apps/backend/cmd/plugin-fixture/main_test.go
  apps/backend/cmd/plugin-fixture/plugin.go
  apps/backend/internal/plugins/config.go
  apps/backend/internal/plugins/config_test.go
  apps/backend/internal/plugins/handlers.go
  apps/backend/internal/plugins/host.go
  apps/backend/internal/plugins/runtime/manager_test.go
  apps/backend/internal/plugins/service.go
  apps/backend/pkg/pluginsdk/host.go
  apps/backend/pkg/pluginsdk/host_data_test.go
  apps/backend/pkg/pluginsdk/host_test.go
  apps/backend/pkg/pluginsdk/plugin_test.go
  apps/backend/proto/kandev/plugin/v1/plugin.pb.go
  apps/backend/proto/kandev/plugin/v1/plugin.proto
  apps/backend/proto/kandev/plugin/v1/plugin_grpc.pb.go
  apps/web/app/settings/plugins/[pluginId]/page.tsx
  apps/web/components/settings/plugins/plugin-config-form.tsx
  apps/web/components/settings/plugins/plugin-detail.tsx
  apps/web/components/settings/plugins/plugin-manifest-card.tsx
  apps/web/components/settings/plugins/plugin-row.tsx
  apps/web/components/settings/plugins/use-plugin-config-form.ts
  apps/web/e2e/tests/plugins/plugins.spec.ts
  apps/web/lib/api/domains/plugins-api.ts
  apps/web/lib/plugins/config-schema.test.ts
  apps/web/lib/plugins/config-schema.ts
  apps/web/src/settings-routes.tsx
  docs/plans/plugins/GRPC-CONTRACT.md
  docs/screenshots/plugin manifest.png
  docs/screenshots/plugin settings saved.png
  docs/screenshots/plugin settings.png
  docs/screenshots/plugins list.png
  docs/specs/plugins/spec.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(share): harden shared markdown
  apps/backend/internal/task/share/gist_html_test.go
  apps/backend/internal/task/share/gist_html_text.go
  apps/web/components/task/share/share-dialog.test.tsx
  apps/web/components/task/share/share-snapshot-preview.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(plugins): write plugin config file owner-only (0600)
  apps/backend/internal/plugins/store/fs_store.go
  apps/backend/internal/plugins/store/fs_store_test.go
Due: gofmt, go-tests, go-lint
