Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

feat(agentctl): real process-tree probe for background-work detection (task-04)
  apps/backend/internal/agentctl/server/api/agent.go
  apps/backend/internal/agentctl/server/api/agent_probe.go
  apps/backend/internal/agentctl/server/process/manager.go
  apps/backend/internal/agentctl/server/process/probe.go
  apps/backend/internal/agentctl/server/process/probe_darwin.go
  apps/backend/internal/agentctl/server/process/probe_darwin_test.go
  apps/backend/internal/agentctl/server/process/probe_linux.go
  apps/backend/internal/agentctl/server/process/probe_other.go
  apps/backend/internal/agentctl/server/process/probe_unix_test.go
  apps/backend/internal/agentctl/server/process/probe_windows.go
  docs/plans/disambiguate-waiting/task-04-agentctl-probe.md
Due: gofmt, go-tests, go-lint

feat(web): add parked-on-background-work frontend projection (task-06)
  apps/web/components/kanban-card-content.tsx
  apps/web/components/kanban-card.tsx
  apps/web/components/task/mobile/mobile-sessions-section.tsx
  apps/web/components/task/mobile/session-task-switcher-sheet-hooks.ts
  apps/web/components/task/session-reopen-menu.tsx
  apps/web/components/task/sessions-dropdown.tsx
  apps/web/components/task/task-item.test.tsx
  apps/web/components/task/task-item.tsx
  apps/web/components/task/task-session-sidebar-item.ts
  apps/web/lib/kanban/map-task.ts
  apps/web/lib/ssr/mapper.ts
  apps/web/lib/ui/state-icons.test.tsx
  apps/web/lib/ui/state-icons.tsx
  apps/web/lib/ws/handlers/kanban.ts
  apps/web/lib/ws/handlers/tasks.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(orchestrator): implement parked-on-background-work projection and WS handler (task-07)
  apps/backend/internal/backendapp/helpers.go
  apps/backend/internal/backendapp/orchestrator.go
  apps/backend/internal/events/types.go
  apps/backend/internal/gateway/websocket/task_notifications.go
  apps/backend/internal/gateway/websocket/task_notifications_test.go
  apps/backend/internal/orchestrator/event_handlers_streaming.go
  apps/backend/internal/orchestrator/parked_projection.go
  apps/backend/internal/orchestrator/parked_projection_test.go
  apps/backend/internal/orchestrator/parked_state.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/task/handlers/message_handlers.go
  apps/backend/internal/task/handlers/task_handlers.go
  apps/backend/internal/task/handlers/task_http_handlers.go
  apps/backend/internal/task/handlers/task_ws_handlers.go
  apps/backend/internal/task/handlers/workflow_handlers.go
  apps/backend/pkg/websocket/actions.go
  apps/web/lib/ws/handlers/agent-session-projection.ts
  apps/web/lib/ws/handlers/agent-session.ts
  docs/plans/disambiguate-waiting/task-01-turn-started-skeleton.md
  docs/plans/disambiguate-waiting/task-02-probe-seam.md
  docs/plans/disambiguate-waiting/task-03-parked-dto-fields.md
  docs/plans/disambiguate-waiting/task-05-recogniser-attestation.md
  docs/plans/disambiguate-waiting/task-06-frontend.md
  docs/plans/disambiguate-waiting/task-07-backend-projection.md
  docs/plans/disambiguate-waiting/task-08-guards-e2e-docs.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(orchestrator): add AC-35/76/77/78/79a guards and update contract docs (task-08)
  apps/backend/internal/orchestrator/parked_architecture_test.go
  docs/specs/disambiguate-waiting/spec.md
  docs/specs/platform/background-work-liveness.md
Due: gofmt, go-tests, go-lint

fix(task): home borrowed environments in the worktree cutover
  apps/backend/internal/task/repository/sqlite/worktree_ownership_migration_test.go
  apps/backend/internal/task/repository/sqlite/worktree_ownership_normalize.go
  apps/backend/internal/task/repository/sqlite/worktree_ownership_targets.go
  docs/specs/session-delete-resource-cleanup/spec.md
Due: gofmt, go-tests, go-lint

fix(web): add session.parked_changed BackendMessageMap type and typed payload
  apps/web/lib/types/backend.ts
  apps/web/lib/types/session-events.ts
  apps/web/lib/types/session-runtime-payloads.ts
  apps/web/lib/ws/handlers/agent-session-projection.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(waiting-attribution): repair Testing-round-2 defects D6-D8, D10, D11
  apps/web/components/kanban-card-status-icon.test.tsx
  apps/web/components/kanban/graph2-step-node.test.tsx
  apps/web/components/kanban/swimlane-graph-content.test.tsx
  apps/web/components/task/task-state-actions.test.tsx
  apps/web/e2e/tests/kanban/parked-session-affordance.spec.ts
  apps/web/scripts/lib/guard-allowlist.mjs
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(waiting-attribution): parked-session projection icons for D1-D5
  apps/web/app/tasks/rich-task-list-row.tsx
  apps/web/components/task/mobile/mobile-sessions-section.tsx
  apps/web/components/task/session-reopen-menu.tsx
  apps/web/components/task/sessions-dropdown.test.ts
  apps/web/components/task/sessions-dropdown.tsx
  apps/web/e2e/tests/kanban/parked-session-affordance.spec.ts
  apps/web/lib/ui/state-icons.test.tsx
  apps/web/lib/ui/state-icons.tsx
  apps/web/scripts/lib/guard-allowlist.mjs
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(waiting-attribution): repair Review-round-1 defects on turn_started and BackgroundProbe port
  apps/backend/internal/agent/runtime/agentctl/client_probe_test.go
  apps/backend/internal/agent/runtime/agentctl/client_stream.go
  apps/backend/internal/agent/runtime/lifecycle/manager_probe.go
  apps/backend/internal/agent/runtime/lifecycle/manager_probe_test.go
  apps/backend/internal/agentctl/server/adapter/adapter.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/adapter_prompt.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/turn_started_emission_test.go
  apps/backend/internal/agentctl/server/adapter/transport/shared/config.go
  apps/backend/internal/agentctl/server/api/agent.go
  apps/backend/internal/agentctl/server/process/manager.go
  apps/backend/internal/agentctl/server/process/probe.go
  apps/backend/internal/agentctl/server/process/probe_darwin.go
  apps/backend/internal/agentctl/server/process/probe_linux.go
  apps/backend/internal/agentctl/server/process/probe_unix_test.go
  apps/backend/internal/agentctl/server/process/probe_windows.go
  apps/backend/internal/backendapp/mcp_stop_composition_test.go
  apps/backend/internal/backendapp/orchestrator.go
  apps/backend/internal/integration/mcp_stop_task_test.go
  apps/backend/internal/integration/test_server_test.go
  apps/backend/internal/orchestrator/background_work_accounting_test.go
  apps/backend/internal/orchestrator/event_handlers_streaming.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/foreground_busy_signal_test.go
  apps/backend/internal/orchestrator/parked_architecture_test.go
  apps/backend/internal/orchestrator/parked_projection.go
  apps/backend/internal/orchestrator/parked_projection_test.go
  apps/backend/internal/orchestrator/parked_state.go
  apps/backend/internal/orchestrator/parked_state_test.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/turn_activity.go
Due: gofmt, go-tests, go-lint

fix(waiting-attribution): repair Review-round-2 defects on D2 revalidation and publish carrier
  apps/backend/internal/agent/runtime/lifecycle/manager_probe.go
  apps/backend/internal/agent/runtime/lifecycle/manager_probe_test.go
  apps/backend/internal/agentctl/server/process/probe_darwin_test.go
  apps/backend/internal/agentctl/server/process/probe_linux_test.go
  apps/backend/internal/agentctl/server/process/probe_notdarwin_test.go
  apps/backend/internal/events/types.go
  apps/backend/internal/gateway/websocket/task_notifications.go
  apps/backend/internal/gateway/websocket/task_notifications_test.go
  apps/backend/internal/orchestrator/parked_architecture_test.go
  apps/backend/internal/orchestrator/parked_projection.go
  apps/backend/internal/orchestrator/parked_projection_test.go
  apps/backend/internal/orchestrator/parked_state.go
  apps/backend/internal/orchestrator/turn_activity.go
  apps/backend/pkg/websocket/actions.go
  apps/web/lib/types/backend.ts
  apps/web/lib/types/session-events.ts
  apps/web/lib/types/session-runtime-payloads.ts
  apps/web/lib/ws/handlers/agent-session-activity-pick.ts
  apps/web/lib/ws/handlers/agent-session-projection.ts
  apps/web/lib/ws/handlers/agent-session.test.ts
  apps/web/lib/ws/handlers/agent-session.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(waiting-attribution): repair Review-round-3 defects on task publish trigger and D1 discard rule
  apps/backend/internal/backendapp/orchestrator.go
  apps/backend/internal/orchestrator/parked_projection.go
  apps/backend/internal/orchestrator/parked_projection_test.go
  apps/backend/internal/task/dto/dto.go
  apps/backend/internal/task/dto/parked.go
  apps/backend/internal/task/dto/parked_test.go
  apps/backend/internal/task/service/service.go
  apps/backend/internal/task/service/service_events.go
  apps/backend/internal/task/service/task_activity.go
  apps/backend/internal/task/service/task_activity_test.go
  apps/web/lib/kanban/map-task.ts
  apps/web/lib/ssr/mapper.ts
  apps/web/lib/state/slices/kanban/types.ts
  apps/web/lib/state/slices/session/session-parked-merge.ts
  apps/web/lib/state/slices/session/session-slice.ts
  apps/web/lib/state/slices/session/session-slice.upsert.test.ts
  apps/web/lib/types/backend.ts
  apps/web/lib/types/http.ts
  apps/web/lib/ws/handlers/kanban.ts
  apps/web/lib/ws/handlers/task-archive-cache.ts
  apps/web/lib/ws/handlers/task-parked-merge.ts
  apps/web/lib/ws/handlers/tasks-parked.test.ts
  apps/web/lib/ws/handlers/tasks.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(waiting-attribution): stop mergeKanbanTasks mutating caller task objects
  apps/web/lib/state/hydration/hydrator-kanban-parked-mutation.test.ts
  apps/web/lib/state/hydration/hydrator.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(waiting-attribution): protect parked triple on REST kanban refreshes
  apps/web/hooks/domains/kanban/use-all-workflow-snapshots-parked.test.ts
  apps/web/hooks/domains/kanban/use-all-workflow-snapshots.ts
  apps/web/lib/kanban/parked-projection.test.ts
  apps/web/lib/kanban/parked-projection.ts
  apps/web/lib/state/hydration/hydrator-kanban-parked.test.ts
  apps/web/lib/state/hydration/hydrator.ts
  apps/web/lib/state/slices/session/session-parked-merge.ts
  apps/web/lib/ws/handlers/task-parked-merge.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(github): log install callback failures
  apps/backend/internal/github/app_installation_service.go
  apps/backend/internal/github/controller_auth.go
Due: gofmt, go-tests, go-lint

fix(git): ignore inherited indexed Git config beyond GIT_CONFIG_COUNT
  apps/backend/AGENTS.md
  apps/backend/internal/agentctl/server/config/config_test.go
  apps/backend/internal/gitconfigenv/environment.go
  apps/backend/internal/gitconfigenv/environment_test.go
Due: gofmt, go-tests, go-lint

fix(e2e): stabilize autopilot waiting assertions
  apps/backend/cmd/mock-agent/handler.go
  apps/web/e2e/tests/settings/mobile-repository-secrets.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(lifecycle): return copies from the passthrough MCP env and test metadata seeders
  apps/backend/internal/agent/runtime/lifecycle/execution_metadata_test.go
  apps/backend/internal/agent/runtime/lifecycle/manager_passthrough.go
  apps/backend/internal/agent/runtime/lifecycle/testing_support.go
Due: gofmt, go-tests, go-lint

fix(github): retry new installation visibility
  apps/backend/internal/github/app_installation_service.go
  apps/backend/internal/github/app_installation_service_test.go
Due: gofmt, go-tests, go-lint

fix(e2e): eliminate remaining CI flakes
  apps/web/e2e/pages/session-page.ts
  apps/web/e2e/tests/integrations/github-workspace-settings.spec.ts
  apps/web/e2e/tests/integrations/hide-disabled-integrations-nav.spec.ts
  apps/web/e2e/tests/integrations/mobile-github-workspace-settings.spec.ts
  apps/web/e2e/tests/review/mobile-review-multi-pr.spec.ts
  apps/web/e2e/tests/review/review-multi-pr.spec.ts
  apps/web/e2e/tests/settings/config-management.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(waiting-attribution): repair PR review defects on probe walk and test hygiene
  apps/backend/internal/agent/runtime/lifecycle/manager_probe.go
  apps/backend/internal/agentctl/server/process/probe_darwin.go
  apps/backend/internal/agentctl/server/process/probe_darwin_test.go
  apps/backend/internal/agentctl/server/process/probe_linux.go
  apps/backend/internal/agentctl/server/process/probe_linux_test.go
  apps/backend/internal/agentctl/server/process/probe_unix_test.go
  apps/backend/internal/orchestrator/parked_projection_test.go
  apps/web/lib/state/slices/session/session-parked-merge.test.ts
  apps/web/scripts/lib/guard-allowlist.mjs
  apps/web/scripts/lib/guard-allowlist.test.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(e2e): recover worker backend before tests
  apps/web/e2e/fixtures/backend.ts
  apps/web/e2e/fixtures/docker-test-base.ts
  apps/web/e2e/fixtures/ssh-test-base.ts
  apps/web/e2e/fixtures/test-base.ts
  apps/web/e2e/tests/docker/storage-maintenance.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(e2e): remove hidden CI retries
  apps/web/e2e/tests/chat/mobile-entity-reference-composer.spec.ts
  apps/web/e2e/tests/ssh/lsp-unsupported-executor.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(automations): cover recordSuccessRun dedup-key consumption and add config component tests
  apps/backend/internal/orchestrator/github_pr_merged_dedup_test.go
  apps/web/components/automations/trigger-configs/github-pr-merged-config.test.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(plugins): point the backend absence rule at its own contract source
  .agents/skills/create-kandev-plugin/SKILL.md
Due: none

fix(e2e): harden storage and autopilot waits
  apps/web/e2e/tests/docker/storage-maintenance.spec.ts
  apps/web/e2e/tests/task/autopilot-mode.spec.ts
  apps/web/e2e/tests/task/mobile-autopilot-mode.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(plugins): add cross-scope storage scan and plugin-owned task filters
  apps/backend/cmd/plugin-fixture/fixture-package/ui/bundle.js
  apps/backend/internal/plugins/state/user_store.go
  apps/backend/internal/plugins/state/user_store_test.go
  apps/backend/internal/plugins/user_state_handlers.go
  apps/backend/internal/plugins/user_state_handlers_test.go
  apps/web/components/kanban/kanban-header.tsx
  apps/web/hooks/use-plugin-task-filters.test.ts
  apps/web/hooks/use-plugin-task-filters.ts
  apps/web/lib/plugins/duplicate-render.test.tsx
  apps/web/lib/plugins/host-api.test.ts
  apps/web/lib/plugins/host-api.ts
  apps/web/lib/plugins/host-lifecycle.test.ts
  apps/web/lib/plugins/host.test.ts
  apps/web/lib/plugins/task-filter-selections.ts
  apps/web/lib/plugins/types.ts
  docs/plans/plugins/PLUGIN-API.md
  docs/public/plugins-authoring.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

docs: avoid a bracketed array literal that reads as a dangling ref
  docs/public/plugins-authoring.md
Due: none

fix(e2e): wait for workflow and git reset readiness
  apps/web/e2e/tests/git/git-changes-panel.spec.ts
  apps/web/e2e/tests/terminal/terminal-agent.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(e2e): stabilize slow CI flows
  apps/web/e2e/tests/docker/storage-maintenance.spec.ts
  apps/web/e2e/tests/pr/pr-checks-timer.spec.ts
  apps/web/e2e/tests/review/review-sidebar-resize.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(e2e): wait for attribution target readiness
  apps/web/e2e/tests/chat/agent-message-attribution.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): stabilize frontend test expectations
  apps/web/components/github/pr-detail-panel.test.ts
  apps/web/components/task/changes-panel-hooks.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(e2e): stabilize SSH LSP file opening
  apps/web/e2e/tests/lsp/lsp-e2e-helpers.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(e2e): stabilize remaining CI races
  apps/web/e2e/pages/session-page.ts
  apps/web/e2e/tests/chat/tool-completion.spec.ts
  apps/web/e2e/tests/lsp/lsp-e2e-helpers.ts
  apps/web/e2e/tests/settings/mobile-config-chat-popover.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(e2e): wait for dialog motion to settle
  apps/web/e2e/tests/integrations/github-workspace-settings.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: plan Forgejo integration
  docs/plans/forgejo-integration/plan.md
Due: none

feat: add Forgejo REST client
  apps/backend/internal/forgejo/client.go
  apps/backend/internal/forgejo/client_test.go
Due: gofmt, go-tests, go-lint

feat: add Forgejo workspace connection
  apps/backend/internal/forgejo/config.go
  apps/backend/internal/forgejo/config_test.go
  apps/backend/internal/forgejo/controller.go
Due: gofmt, go-tests, go-lint

feat: wire Forgejo provider into backend
  apps/backend/internal/backendapp/helpers.go
  apps/backend/internal/backendapp/services.go
  apps/backend/internal/backendapp/types.go
Due: gofmt, go-tests, go-lint

fix: retain configured Forgejo token on update
  apps/backend/internal/forgejo/config.go
  apps/backend/internal/forgejo/config_test.go
Due: gofmt, go-tests, go-lint

docs: expand Forgejo parity scope
  docs/plans/forgejo-integration/plan.md
Due: none
