Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

feat(gitlab): sync lifecycle-subscribed MRs on poll and retain review tasks
  apps/backend/internal/gitlab/poller.go
  apps/backend/internal/gitlab/poller_lifecycle_test.go
  apps/backend/internal/gitlab/service_cleanup.go
  apps/backend/internal/gitlab/service_cleanup_mr_automation_test.go
  apps/backend/internal/gitlab/service_task_mr_link.go
Due: gofmt, go-tests, go-lint

feat(orchestrator): add GitLab MR lifecycle evaluation and dispatch
  apps/backend/internal/backendapp/main.go
  apps/backend/internal/gitlab/service_mr_automation.go
  apps/backend/internal/gitlab/service_task_mr_link.go
  apps/backend/internal/orchestrator/event_handlers_agent.go
  apps/backend/internal/orchestrator/event_handlers_github_pr_automation.go
  apps/backend/internal/orchestrator/event_handlers_gitlab.go
  apps/backend/internal/orchestrator/event_handlers_gitlab_mr_automation.go
  apps/backend/internal/orchestrator/event_handlers_gitlab_mr_automation_eval.go
  apps/backend/internal/orchestrator/event_handlers_gitlab_mr_automation_test.go
  apps/backend/internal/orchestrator/event_handlers_lifecycle_dispatch.go
  apps/backend/internal/orchestrator/service.go
Due: gofmt, go-tests, go-lint

docs: record GitLab MR lifecycle notifications ADR and update public docs
  docs/decisions/2026-08-01-gitlab-mr-lifecycle-notifications.md
  docs/decisions/INDEX.md
  docs/public/feature-status.md
  docs/public/integrations.md
  docs/public/sessions-and-review.md
Due: none

test: pin GitLab MR state constants to normalized vocabulary
  apps/backend/internal/orchestrator/event_handlers_gitlab_mr_automation_test.go
Due: gofmt, go-tests, go-lint

feat(gitlab): add MR automation MCP tools and WS notification wiring
  apps/backend/internal/backendapp/helpers.go
  apps/backend/internal/gateway/websocket/task_notifications.go
  apps/backend/internal/gateway/websocket/task_notifications_test.go
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/task_mr_automation.go
  apps/backend/internal/mcp/handlers/task_mr_automation_test.go
  apps/backend/internal/mcp/server/handlers.go
  apps/backend/internal/mcp/server/handlers_test.go
  apps/backend/internal/mcp/server/server.go
  apps/backend/internal/mcp/server/server_test.go
  apps/backend/pkg/websocket/actions.go
Due: gofmt, go-tests, go-lint

feat(web): add GitLab MR automation controls to the topbar dropdown
  apps/web/components/gitlab/mr-automation-controls.test.tsx
  apps/web/components/gitlab/mr-automation-controls.tsx
  apps/web/components/gitlab/mr-topbar-button.tsx
  apps/web/hooks/domains/gitlab/use-task-mr-automation.test.tsx
  apps/web/hooks/domains/gitlab/use-task-mr-automation.ts
  apps/web/lib/api/domains/gitlab-api.ts
  apps/web/lib/types/gitlab.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address remaining GitLab MR automation review nitpicks
  apps/backend/internal/gitlab/poller_lifecycle_test.go
  apps/backend/internal/mcp/handlers/task_mr_automation.go
  apps/backend/internal/mcp/server/handlers.go
  apps/backend/internal/orchestrator/event_handlers_gitlab_mr_automation.go
  apps/backend/internal/orchestrator/event_handlers_gitlab_mr_automation_test.go
Due: gofmt, go-tests, go-lint

fix: scope and harden GitLab MR lifecycle automation per review findings
  apps/backend/internal/backendapp/main.go
  apps/backend/internal/gateway/websocket/task_notifications.go
  apps/backend/internal/gitlab/controller_mr_automation.go
  apps/backend/internal/gitlab/models_mr_automation.go
  apps/backend/internal/gitlab/poller.go
  apps/backend/internal/gitlab/poller_lifecycle_test.go
  apps/backend/internal/gitlab/service.go
  apps/backend/internal/gitlab/service_mr_automation.go
  apps/backend/internal/gitlab/service_task_mr_link.go
  apps/backend/internal/gitlab/store_mr_automation.go
  apps/backend/internal/gitlab/store_mr_automation_test.go
  apps/backend/internal/orchestrator/event_handlers_gitlab_mr_automation_eval.go
  apps/backend/internal/orchestrator/event_handlers_gitlab_mr_automation_test.go
  apps/web/hooks/domains/gitlab/use-task-mr-automation.test.tsx
  apps/web/hooks/domains/gitlab/use-task-mr-automation.ts
  docs/public/sessions-and-review.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat(gitlab): add MR automation options storage, service, and HTTP API
  apps/backend/config/prompts/mr-closed-final.md
  apps/backend/config/prompts/mr-merged-final.md
  apps/backend/config/prompts/mr-review-requested.md
  apps/backend/internal/events/types.go
  apps/backend/internal/gitlab/controller.go
  apps/backend/internal/gitlab/controller_mr_automation.go
  apps/backend/internal/gitlab/controller_mr_automation_test.go
  apps/backend/internal/gitlab/models_mr_automation.go
  apps/backend/internal/gitlab/service_config.go
  apps/backend/internal/gitlab/service_mr_automation.go
  apps/backend/internal/gitlab/service_mr_automation_test.go
  apps/backend/internal/gitlab/store.go
  apps/backend/internal/gitlab/store_e2e_reset.go
  apps/backend/internal/gitlab/store_e2e_reset_mr_automation_test.go
  apps/backend/internal/gitlab/store_mr_automation.go
  apps/backend/internal/gitlab/store_mr_automation_test.go
Due: gofmt, go-tests, go-lint

feat(workflows): make pr-review's automation instruction provider-aware
  apps/backend/config/workflows/loader_test.go
  apps/backend/config/workflows/pr-review.yml
Due: gofmt, go-tests, go-lint

fix: show a retry banner when GitLab MR automation options fail to load
  apps/web/components/gitlab/mr-automation-controls.test.tsx
  apps/web/components/gitlab/mr-automation-controls.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: fix NATS event decoding and reviewer-refresh baseline gap
  apps/backend/internal/gitlab/models_mr_automation.go
  apps/backend/internal/gitlab/store_mr_automation.go
  apps/backend/internal/gitlab/store_mr_automation_test.go
  apps/backend/internal/orchestrator/event_handlers_gitlab.go
  apps/backend/internal/orchestrator/event_handlers_gitlab_test.go
  apps/backend/internal/orchestrator/event_handlers_lifecycle_dispatch.go
Due: gofmt, go-tests, go-lint

fix: synchronize GitLab MR automation hook state via layout effects
  apps/web/hooks/domains/gitlab/use-task-mr-automation.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): add desktop and mobile coverage for GitLab MR automation
  apps/web/components/gitlab/mr-automation-controls.tsx
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/tests/gitlab/mobile-mr-automation-options.spec.ts
  apps/web/e2e/tests/gitlab/mr-automation-options.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: make MR automation writes Postgres-safe and close data-integrity gaps
  apps/backend/internal/gitlab/controller_mr_automation.go
  apps/backend/internal/gitlab/controller_mr_automation_test.go
  apps/backend/internal/gitlab/service.go
  apps/backend/internal/gitlab/service_cleanup_mr_automation_test.go
  apps/backend/internal/gitlab/service_mr_automation.go
  apps/backend/internal/gitlab/service_mr_automation_test.go
  apps/backend/internal/gitlab/store.go
  apps/backend/internal/gitlab/store_mr_automation.go
  apps/backend/internal/gitlab/store_mr_automation_test.go
  apps/backend/internal/gitlab/store_test.go
  apps/backend/internal/mcp/handlers/task_mr_automation.go
  apps/backend/internal/mcp/server/handlers.go
  apps/backend/internal/orchestrator/event_handlers_gitlab_mr_automation.go
  apps/backend/internal/orchestrator/event_handlers_gitlab_mr_automation_test.go
Due: gofmt, go-tests, go-lint

feat(orchestrator): evaluate a task's linked MRs on options change
  apps/backend/internal/orchestrator/event_handlers_gitlab.go
  apps/backend/internal/orchestrator/event_handlers_gitlab_mr_automation.go
  apps/backend/internal/orchestrator/event_handlers_gitlab_mr_automation_test.go
  apps/backend/internal/orchestrator/event_handlers_gitlab_test.go
Due: gofmt, go-tests, go-lint

fix: key GitLab MR lifecycle single-flight dedup by project path
  apps/backend/internal/orchestrator/event_handlers_gitlab.go
  apps/backend/internal/orchestrator/event_handlers_gitlab_test.go
Due: gofmt, go-tests, go-lint

fix: clear recovered GitLab MR lifecycle sync errors
  apps/backend/internal/gitlab/poller.go
  apps/backend/internal/gitlab/poller_lifecycle_test.go
  apps/backend/internal/gitlab/service_mr_automation.go
Due: gofmt, go-tests, go-lint

fix: close remaining GitLab MR automation races and host-safety gap
  apps/backend/internal/gitlab/poller.go
  apps/backend/internal/gitlab/poller_lifecycle_test.go
  apps/backend/internal/gitlab/service.go
  apps/backend/internal/orchestrator/event_handlers_gitlab_test.go
  apps/web/components/gitlab/mr-automation-controls.test.tsx
  apps/web/components/gitlab/mr-automation-controls.tsx
  apps/web/hooks/domains/gitlab/use-task-mr-automation.test.tsx
  apps/web/hooks/domains/gitlab/use-task-mr-automation.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: guard GitLab MR automation hook against WS-push and refresh races
  apps/web/components/gitlab/mr-automation-controls.test.tsx
  apps/web/components/gitlab/mr-automation-controls.tsx
  apps/web/e2e/tests/gitlab/mobile-mr-automation-options.spec.ts
  apps/web/e2e/tests/gitlab/mr-automation-options.spec.ts
  apps/web/hooks/domains/gitlab/use-task-mr-automation.test.tsx
  apps/web/hooks/domains/gitlab/use-task-mr-automation.ts
  apps/web/lib/state/slices/gitlab/gitlab-slice.ts
  apps/web/lib/state/slices/gitlab/types.ts
  apps/web/lib/ws/handlers/gitlab.test.ts
  apps/web/lib/ws/handlers/gitlab.ts
  apps/web/src/locales/en/gitlab.json
  apps/web/src/locales/pseudo/gitlab.json
  docs/public/integrations.md
  docs/public/sessions-and-review.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: publish GitLab MR automation state on evaluation error
  apps/backend/internal/orchestrator/event_handlers_gitlab_mr_automation_eval.go
  apps/backend/internal/orchestrator/event_handlers_gitlab_mr_automation_test.go
Due: gofmt, go-tests, go-lint

fix: reject unknown fields and null switches in MR automation PATCH
  apps/backend/internal/gitlab/controller_mr_automation.go
  apps/backend/internal/gitlab/controller_mr_automation_test.go
Due: gofmt, go-tests, go-lint

fix: separate GitLab MR lifecycle sync and delivery error tracking
  apps/backend/internal/gitlab/models_mr_automation.go
  apps/backend/internal/gitlab/poller.go
  apps/backend/internal/gitlab/poller_lifecycle_test.go
  apps/backend/internal/gitlab/service_mr_automation.go
  apps/backend/internal/gitlab/store_mr_automation.go
  apps/backend/internal/gitlab/store_mr_automation_test.go
Due: gofmt, go-tests, go-lint

test: verify the unsubscribed row stays uncheckpointed in lifecycle sync
  apps/backend/internal/gitlab/poller_lifecycle_test.go
Due: gofmt, go-tests, go-lint

chore: remove unwired GitLab MR lifecycle prompt files
  apps/backend/config/prompts/mr-closed-final.md
  apps/backend/config/prompts/mr-merged-final.md
  apps/backend/config/prompts/mr-review-requested.md
Due: none

feat(web): move GitLab MR automation options into the store
  apps/web/AGENTS.md
  apps/web/hooks/domains/gitlab/use-task-mr-automation.test.tsx
  apps/web/hooks/domains/gitlab/use-task-mr-automation.ts
  apps/web/lib/state/default-state.ts
  apps/web/lib/state/slices/gitlab/gitlab-slice.test.ts
  apps/web/lib/state/slices/gitlab/gitlab-slice.ts
  apps/web/lib/state/slices/gitlab/types.ts
  apps/web/lib/state/store.ts
  apps/web/lib/types/backend.ts
  apps/web/lib/ws/handlers/gitlab.test.ts
  apps/web/lib/ws/handlers/gitlab.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: pin GitLab lifecycle prompt session-ID clearing on empty session
  apps/backend/internal/gitlab/store_mr_automation_test.go
Due: gofmt, go-tests, go-lint

fix: wrap workspace lookup errors and drop dead WS action constants
  apps/backend/internal/gitlab/service_config.go
  apps/backend/internal/gitlab/service_mr_automation_test.go
  apps/backend/pkg/websocket/actions.go
Due: gofmt, go-tests, go-lint

fix: harden sleep inhibition lifecycle
  apps/backend/internal/system/sleepinhibition/goleak_test.go
  apps/backend/internal/system/sleepinhibition/inhibitor_linux.go
  apps/backend/internal/system/sleepinhibition/inhibitor_linux_test.go
  apps/backend/internal/system/sleepinhibition/inhibitor_windows.go
  apps/backend/internal/system/sleepinhibition/service.go
  apps/backend/internal/system/sleepinhibition/service_test.go
Due: gofmt, go-tests, go-lint

fix: propagate sleep inhibition failures
  apps/backend/internal/system/sleepinhibition/inhibitor_linux.go
  apps/backend/internal/system/sleepinhibition/inhibitor_linux_test.go
  apps/backend/internal/system/sleepinhibition/inhibitor_windows_test.go
  apps/backend/internal/system/sleepinhibition/service.go
  apps/backend/internal/system/sleepinhibition/service_test.go
Due: gofmt, go-tests, go-lint

feat: prevent host sleep during active tasks
  apps/backend/go.mod
  apps/backend/go.sum
  apps/backend/internal/backendapp/main.go
  apps/backend/internal/system/sleepinhibition/handler.go
  apps/backend/internal/system/sleepinhibition/handler_test.go
  apps/backend/internal/system/sleepinhibition/inhibitor_darwin.go
  apps/backend/internal/system/sleepinhibition/inhibitor_linux.go
  apps/backend/internal/system/sleepinhibition/inhibitor_linux_test.go
  apps/backend/internal/system/sleepinhibition/inhibitor_other.go
  apps/backend/internal/system/sleepinhibition/inhibitor_windows.go
  apps/backend/internal/system/sleepinhibition/service.go
  apps/backend/internal/system/sleepinhibition/service_test.go
  apps/backend/internal/system/sleepinhibition/store.go
  apps/backend/internal/system/sleepinhibition/store_test.go
  apps/backend/internal/system/sleepinhibition/types.go
  apps/backend/internal/system/system.go
  apps/backend/internal/system/system_routes_test.go
  apps/web/components/settings/general-settings.tsx
  apps/web/components/settings/sleep-inhibition-settings.test.tsx
  apps/web/components/settings/sleep-inhibition-settings.tsx
  apps/web/e2e/tests/settings/mobile-general-settings.spec.ts
  apps/web/e2e/tests/settings/settings-manual-save.spec.ts
  apps/web/lib/api/domains/settings-api.test.ts
  apps/web/lib/api/domains/settings-api.ts
  apps/web/lib/api/domains/sleep-inhibition-api.ts
  apps/web/lib/types/system.ts
  apps/web/src/locales/en/settings.json
  apps/web/src/locales/pseudo/settings.json
  docs/plans/task-sleep-inhibition/plan.md
  docs/plans/task-sleep-inhibition/task-01-lifecycle-service.md
  docs/plans/task-sleep-inhibition/task-02-native-platform-inhibitors.md
  docs/plans/task-sleep-inhibition/task-03-system-api-wiring.md
  docs/plans/task-sleep-inhibition/task-04-task-actions-card.md
  docs/plans/task-sleep-inhibition/task-05-settings-e2e.md
  docs/plans/task-sleep-inhibition/task-06-public-documentation.md
  docs/public/operations.md
  docs/specs/INDEX.md
  docs/specs/platform/task-sleep-inhibition.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat: explain host sleep inhibition
  apps/web/components/settings/sleep-inhibition-settings.test.tsx
  apps/web/components/settings/sleep-inhibition-settings.tsx
  apps/web/e2e/tests/settings/mobile-general-settings.spec.ts
  apps/web/e2e/tests/settings/settings-manual-save.spec.ts
  apps/web/src/locales/en/settings.json
  apps/web/src/locales/pseudo/settings.json
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: preserve macOS sleep inhibition flags
  apps/web/components/settings/sleep-inhibition-settings.tsx
  apps/web/src/locales/en/settings.json
  apps/web/src/locales/pseudo/settings.json
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: stabilize provider automation CI checks
  apps/backend/internal/backendapp/provider_refresher.go
  apps/backend/internal/orchestrator/event_handlers_gitlab_mr.go
  apps/web/e2e/tests/workflow/workflow-automation.spec.ts
  apps/web/e2e/tests/workflow/workflow-cancel-completion.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(i18n): add missing zh-cn keys for MR automation and attachments
  apps/web/src/locales/zh-cn/gitlab.json
Due: prettier-format

fix: address sleep inhibition review findings
  apps/backend/internal/system/sleepinhibition/inhibitor_darwin.go
  apps/backend/internal/system/sleepinhibition/inhibitor_darwin_test.go
  apps/backend/internal/system/sleepinhibition/inhibitor_linux.go
  apps/backend/internal/system/sleepinhibition/inhibitor_linux_test.go
  apps/backend/internal/system/sleepinhibition/service.go
  apps/backend/internal/system/sleepinhibition/service_test.go
  apps/web/components/settings/sleep-inhibition-settings.test.tsx
  apps/web/components/settings/sleep-inhibition-settings.tsx
  apps/web/hooks/domains/settings/use-sleep-inhibition-settings.ts
  apps/web/lib/state/default-state.ts
  apps/web/lib/state/hydration/hydrator.ts
  apps/web/lib/state/slices/index.ts
  apps/web/lib/state/slices/settings/settings-slice.ts
  apps/web/lib/state/slices/settings/types.ts
  apps/web/lib/state/store-overrides.ts
  apps/web/lib/state/store-reexports.ts
  apps/web/lib/state/store.ts
  docs/plans/task-sleep-inhibition/plan.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: keep real locale catalogs in sync
  apps/web/src/locales/zh-cn/settings.json
Due: prettier-format

fix: remove duplicate Chinese attachment translations
  apps/web/src/locales/zh-cn/chat.json
Due: prettier-format

feat: rename generated task branches
  apps/backend/internal/agent/runtime/git.go
  apps/backend/internal/agent/runtime/lifecycle/manager_workspace_branch.go
  apps/backend/internal/agent/runtime/lifecycle/manager_workspace_branch_test.go
  apps/backend/internal/backendapp/helpers.go
  apps/backend/internal/backendapp/orchestrator.go
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/set_task_title_test.go
  apps/backend/internal/mcp/server/server.go
  apps/backend/internal/orchestrator/event_handlers_git.go
  apps/backend/internal/orchestrator/event_handlers_git_test.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/task_title_branch.go
  apps/backend/internal/orchestrator/task_title_branch_runtime.go
  apps/backend/internal/orchestrator/task_title_branch_service_test.go
  apps/backend/internal/orchestrator/task_title_branch_test.go
  apps/backend/internal/task/repository/sqlite/executor.go
  apps/backend/internal/task/repository/sqlite/session.go
  apps/backend/internal/task/repository/sqlite/session_test.go
  docs/plans/agent-title-branch-renaming/plan.md
  docs/plans/agent-title-branch-renaming/task-01-branch-rename-runtime.md
  docs/plans/agent-title-branch-renaming/task-02-title-tool-integration.md
  docs/plans/agent-title-branch-renaming/task-03-regression-documentation.md
  docs/public/automation-and-mcp.md
  docs/public/git-operations.md
  docs/specs/tasks/agent-generated-titles.md
Due: gofmt, go-tests, go-lint

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
