Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

fix: remove duplicate WebSocket event subscriptions for messages and session state
  apps/backend/cmd/kandev/helpers.go
  apps/backend/cmd/kandev/main.go
  apps/backend/internal/gateway/websocket/task_notifications_test.go
Due: gofmt, go-tests, go-lint

fix: remove unused broadcastRecorder.all method
  apps/backend/internal/gateway/websocket/task_notifications_test.go
Due: gofmt, go-tests, go-lint

fix: address review comments — replace tautological test with subscription count guard
  apps/backend/internal/gateway/websocket/task_notifications_test.go
Due: gofmt, go-tests, go-lint

fix: update test comments per review feedback
  apps/backend/internal/gateway/websocket/task_notifications_test.go
Due: gofmt, go-tests, go-lint

fix: include archived tasks in completed tasks over time chart
  apps/backend/internal/analytics/repository/sqlite/repository_test.go
  apps/backend/internal/analytics/repository/sqlite/stats.go
Due: gofmt, go-tests, go-lint

fix: address review feedback - isolate completion paths in test
  apps/backend/internal/analytics/repository/sqlite/repository_test.go
Due: gofmt, go-tests, go-lint

fix(backend): prevent duplicate CLI flag in Auggie passthrough preview
  apps/backend/internal/agent/settings/controller/agent_config.go
  apps/backend/internal/agent/settings/controller/controller_test.go
Due: gofmt, go-tests, go-lint

fix(backend): gate post-reset session flip to running ACP sessions
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/event_handlers_workflow_triggers_test.go
Due: gofmt, go-tests, go-lint

refactor(backend): extract markIdleAfterReset helper
  apps/backend/internal/orchestrator/event_handlers_workflow.go
Due: gofmt, go-tests, go-lint

test(backend): tighten passthrough+reset assertion to positive
  apps/backend/internal/orchestrator/event_handlers_workflow_triggers_test.go
Due: gofmt, go-tests, go-lint

fix: check fmt.Sscanf return value in integration test
  apps/backend/internal/agentctl/server/api/handshake_integration_test.go
Due: gofmt, go-tests, go-lint

fix: address review feedback - constant-time nonce comparison, safe ID truncation
  apps/backend/internal/agent/lifecycle/manager_execution.go
  apps/backend/internal/agentctl/server/config/config.go
Due: gofmt, go-tests, go-lint

feat(backend): per-launch authentication for agentctl
  apps/backend/cmd/kandev/agentctl.go
  apps/backend/cmd/kandev/agents.go
  apps/backend/cmd/kandev/main.go
  apps/backend/internal/agent/hostutility/manager.go
  apps/backend/internal/agent/lifecycle/container.go
  apps/backend/internal/agent/lifecycle/executor_backend.go
  apps/backend/internal/agent/lifecycle/executor_docker.go
  apps/backend/internal/agent/lifecycle/executor_sprites.go
  apps/backend/internal/agent/lifecycle/executor_standalone.go
  apps/backend/internal/agent/lifecycle/manager.go
  apps/backend/internal/agent/lifecycle/manager_auth_test.go
  apps/backend/internal/agent/lifecycle/manager_execution.go
  apps/backend/internal/agentctl/client/agent.go
  apps/backend/internal/agentctl/client/client.go
  apps/backend/internal/agentctl/client/client_shell_terminal.go
  apps/backend/internal/agentctl/client/control.go
  apps/backend/internal/agentctl/client/launcher/launcher.go
  apps/backend/internal/agentctl/client/workspace_stream.go
  apps/backend/internal/agentctl/server/api/auth.go
  apps/backend/internal/agentctl/server/api/auth_test.go
  apps/backend/internal/agentctl/server/api/control_server.go
  apps/backend/internal/agentctl/server/api/handshake_integration_test.go
  apps/backend/internal/agentctl/server/api/handshake_test.go
  apps/backend/internal/agentctl/server/api/server.go
  apps/backend/internal/agentctl/server/config/config.go
  apps/backend/internal/agentctl/server/config/config_test.go
  apps/backend/internal/common/config/config.go
Due: gofmt, go-tests, go-lint

fix(backend): exempt MCP routes from agentctl auth middleware
  apps/backend/internal/agent/lifecycle/manager_execution.go
  apps/backend/internal/agentctl/server/api/server.go
Due: gofmt, go-tests, go-lint

refactor(backend): remove query param token fallback and document SetAuthToken constraint
  apps/backend/internal/agentctl/client/control.go
  apps/backend/internal/agentctl/server/api/auth.go
  apps/backend/internal/agentctl/server/api/auth_test.go
Due: gofmt, go-tests, go-lint

feat(backend): per-launch authentication for agentctl (#666)
  apps/backend/cmd/kandev/agentctl.go
  apps/backend/cmd/kandev/agents.go
  apps/backend/cmd/kandev/main.go
  apps/backend/internal/agent/hostutility/manager.go
  apps/backend/internal/agent/lifecycle/container.go
  apps/backend/internal/agent/lifecycle/executor_backend.go
  apps/backend/internal/agent/lifecycle/executor_docker.go
  apps/backend/internal/agent/lifecycle/executor_sprites.go
  apps/backend/internal/agent/lifecycle/executor_standalone.go
  apps/backend/internal/agent/lifecycle/manager.go
  apps/backend/internal/agent/lifecycle/manager_auth_test.go
  apps/backend/internal/agent/lifecycle/manager_execution.go
  apps/backend/internal/agentctl/client/agent.go
  apps/backend/internal/agentctl/client/client.go
  apps/backend/internal/agentctl/client/client_shell_terminal.go
  apps/backend/internal/agentctl/client/control.go
  apps/backend/internal/agentctl/client/launcher/launcher.go
  apps/backend/internal/agentctl/client/workspace_stream.go
  apps/backend/internal/agentctl/server/api/auth.go
  apps/backend/internal/agentctl/server/api/auth_test.go
  apps/backend/internal/agentctl/server/api/control_server.go
  apps/backend/internal/agentctl/server/api/handshake_integration_test.go
  apps/backend/internal/agentctl/server/api/handshake_test.go
  apps/backend/internal/agentctl/server/api/server.go
  apps/backend/internal/agentctl/server/config/config.go
  apps/backend/internal/agentctl/server/config/config_test.go
  apps/backend/internal/common/config/config.go
Due: gofmt, go-tests, go-lint

feat(github): add issue watcher with task creation and auto-cleanup
  apps/backend/cmd/kandev/orchestrator.go
  apps/backend/config/prompts/issue-watch-default.md
  apps/backend/internal/events/types.go
  apps/backend/internal/github/client.go
  apps/backend/internal/github/client_helpers.go
  apps/backend/internal/github/controller.go
  apps/backend/internal/github/controller_test.go
  apps/backend/internal/github/gh_client.go
  apps/backend/internal/github/handlers.go
  apps/backend/internal/github/mock_client.go
  apps/backend/internal/github/models.go
  apps/backend/internal/github/noop_client.go
  apps/backend/internal/github/pat_client.go
  apps/backend/internal/github/poller.go
  apps/backend/internal/github/service.go
  apps/backend/internal/github/store.go
  apps/backend/internal/orchestrator/event_handlers_github.go
  apps/backend/internal/orchestrator/event_handlers_github_test.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/pkg/websocket/actions.go
  apps/web/components/github/github-settings.tsx
  apps/web/components/github/issue-task-icon.tsx
  apps/web/components/github/issue-watch-dialog.tsx
  apps/web/components/github/issue-watch-placeholders.ts
  apps/web/components/github/issue-watch-table.tsx
  apps/web/components/task/task-item.tsx
  apps/web/components/task/task-session-sidebar.tsx
  apps/web/components/task/task-switcher.tsx
  apps/web/hooks/domains/github/use-issue-watches.ts
  apps/web/hooks/domains/kanban/use-all-workflow-snapshots.ts
  apps/web/lib/api/domains/github-api.ts
  apps/web/lib/ssr/mapper.ts
  apps/web/lib/state/default-state.ts
  apps/web/lib/state/slices/github/github-slice.ts
  apps/web/lib/state/slices/github/types.ts
  apps/web/lib/state/slices/index.ts
  apps/web/lib/state/slices/kanban/types.ts
  apps/web/lib/state/store.ts
  apps/web/lib/types/github.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(github): add issue watcher tests and fix review feedback
  apps/backend/internal/github/handlers.go
  apps/backend/internal/github/service_test.go
  apps/backend/internal/github/store.go
  apps/backend/internal/orchestrator/event_handlers_github_test.go
Due: gofmt, go-tests, go-lint

fix: resolve golangci-lint errors (goconst, nestif, dupl) and prettier formatting
  apps/backend/cmd/kandev/orchestrator.go
  apps/backend/internal/github/controller_test.go
  apps/backend/internal/github/handlers.go
  apps/backend/internal/github/mock_client.go
  apps/backend/internal/github/service.go
  apps/web/components/github/issue-task-icon.tsx
  apps/web/components/github/issue-watch-dialog.tsx
  apps/web/components/task/task-session-sidebar.tsx
  apps/web/hooks/domains/kanban/use-all-workflow-snapshots.ts
  apps/web/lib/api/domains/github-api.ts
  apps/web/lib/ssr/mapper.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: address Claude review — poll clamp and prompt injection
  apps/backend/config/prompts/issue-watch-default.md
  apps/backend/internal/github/service.go
  apps/backend/internal/orchestrator/event_handlers_github_issue_test.go
Due: gofmt, go-tests, go-lint

fix: remove {{issue.body}} from frontend DEFAULT_ISSUE_WATCH_PROMPT
  apps/web/components/github/issue-watch-placeholders.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: resolve eslint warnings (max-lines-per-function, no-nested-ternary)
  apps/web/components/github/github-settings.tsx
  apps/web/components/github/issue-watch-dialog.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address PR review feedback and CI failures
  apps/backend/cmd/kandev/orchestrator.go
  apps/backend/internal/github/controller.go
  apps/backend/internal/github/handlers.go
  apps/backend/internal/github/service.go
  apps/backend/internal/github/service_issue_test.go
  apps/backend/internal/github/service_review_cleanup_test.go
  apps/backend/internal/github/service_test.go
  apps/backend/internal/orchestrator/event_handlers_github_issue_test.go
  apps/backend/internal/orchestrator/event_handlers_github_test.go
  apps/web/components/github/issue-task-icon.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat(github): add isIssueWatch sidebar filter dimension
  apps/web/components/task/sidebar-filter/filter-dimension-registry.ts
  apps/web/components/task/task-session-sidebar.tsx
  apps/web/components/task/task-switcher.tsx
  apps/web/hooks/domains/kanban/use-all-workflow-snapshots.ts
  apps/web/lib/sidebar/apply-view.ts
  apps/web/lib/ssr/mapper.ts
  apps/web/lib/state/slices/kanban/types.ts
  apps/web/lib/state/slices/ui/sidebar-view-types.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor: move system prompts from Go constants to external config files
  apps/backend/config/prompts/config-context.md
  apps/backend/config/prompts/default-plan-prefix.md
  apps/backend/config/prompts/kandev-context.md
  apps/backend/config/prompts/plan-mode.md
  apps/backend/config/prompts/session-handover.md
  apps/backend/internal/agentctl/server/mcp/sysprompt_sync_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/sysprompt/sysprompt.go
  apps/backend/internal/sysprompt/sysprompt_test.go
Due: gofmt, go-tests, go-lint

refactor: extract metadata helpers to shared lib/metadata-utils.ts
  apps/web/hooks/domains/kanban/use-all-workflow-snapshots.ts
  apps/web/lib/metadata-utils.ts
  apps/web/lib/ssr/mapper.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

style: fix prettier formatting
  apps/web/hooks/domains/kanban/use-all-workflow-snapshots.ts
  apps/web/lib/ssr/mapper.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

style: fix prettier formatting in test files
  apps/web/lib/metadata-utils.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

style: extract duplicate string constant in metadata-utils test
  apps/web/lib/metadata-utils.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

style: fix prettier formatting in metadata-utils test
  apps/web/lib/metadata-utils.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address review — add session handover tests and Resolve doc comment
  apps/backend/internal/sysprompt/sysprompt.go
  apps/backend/internal/sysprompt/sysprompt_test.go
Due: gofmt, go-tests, go-lint

fix: single-pass placeholder replacement and remove no-op InterpolatePlaceholders
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/sysprompt/sysprompt.go
  apps/backend/internal/sysprompt/sysprompt_test.go
Due: gofmt, go-tests, go-lint

fix(backend): include metadata and parent_id in orchestrator task event payload
  apps/backend/internal/orchestrator/event_handlers.go
  apps/backend/internal/orchestrator/event_handlers_payload_test.go
Due: gofmt, go-tests, go-lint

fix(web): derive isPRReview on WS task updates
  apps/web/hooks/domains/kanban/use-all-workflow-snapshots.ts
  apps/web/lib/kanban/is-pr-review.test.ts
  apps/web/lib/kanban/is-pr-review.ts
  apps/web/lib/ws/handlers/tasks.test.ts
  apps/web/lib/ws/handlers/tasks.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): reuse metadata-utils and cover issue watch fields on WS updates
  apps/web/hooks/domains/kanban/use-all-workflow-snapshots.ts
  apps/web/lib/kanban/is-pr-review.test.ts
  apps/web/lib/kanban/is-pr-review.ts
  apps/web/lib/ws/handlers/tasks.test.ts
  apps/web/lib/ws/handlers/tasks.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address review feedback
  apps/backend/internal/orchestrator/event_handlers.go
  apps/web/lib/ws/handlers/tasks.test.ts
  apps/web/lib/ws/handlers/tasks.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

docs(backend): clarify buildTaskEventPayload scope
  apps/backend/internal/orchestrator/event_handlers.go
Due: gofmt, go-tests, go-lint

fix(backend): close resume-race holes flagged in PR review
  apps/backend/internal/orchestrator/executor/executor_resume.go
  apps/backend/internal/orchestrator/executor/executor_resume_test.go
Due: gofmt, go-tests, go-lint

fix(backend): abort resume on session re-read error to close race fully
  apps/backend/internal/orchestrator/executor/executor_mocks_test.go
  apps/backend/internal/orchestrator/executor/executor_resume.go
  apps/backend/internal/orchestrator/executor/executor_resume_test.go
Due: gofmt, go-tests, go-lint

refactor(orchestrator): introduce TaskEventPublisher collaborator
  apps/backend/cmd/kandev/orchestrator.go
  apps/backend/internal/orchestrator/service.go
Due: gofmt, go-tests, go-lint

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
