Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

feat(web): move github sync button into the workflows page header
  apps/web/app/settings/workspace/workspace-workflows-client.tsx
  apps/web/components/settings/workflow-sync-section.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): compact plan implement control
  apps/web/components/task/chat/implement-plan-button.tsx
  apps/web/e2e/tests/task/mobile-plan-toolbar-implement.spec.ts
  apps/web/e2e/tests/task/plan-toolbar-implement.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(web): move github sync button next to the workflow actions
  apps/web/app/settings/workspace/workspace-workflows-client.tsx
  apps/web/components/settings/workflow-section-actions.tsx
  apps/web/components/settings/workflow-sync-section.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(web): separate sync status card from the workflow list
  apps/web/components/settings/workflow-sync-section.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): align sync status card with the workflow list gutter
  apps/web/components/settings/workflow-sync-section.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): reduce plan implement control height
  apps/web/components/task/chat/implement-plan-button.tsx
  apps/web/e2e/tests/task/mobile-plan-toolbar-implement.spec.ts
  apps/web/e2e/tests/task/plan-toolbar-implement.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: repair local edits to synced workflows on periodic sync
  apps/backend/internal/workflow/service/sync_apply.go
  apps/backend/internal/workflow/service/sync_apply_test.go
  apps/backend/internal/workflowsync/handlers.go
  apps/backend/internal/workflowsync/service.go
  apps/backend/internal/workflowsync/service_test.go
  docs/public/workflow-sync.md
Due: gofmt, go-tests, go-lint

feat: make github-synced workflows read-only
  apps/backend/internal/task/handlers/workflow_handlers.go
  apps/backend/internal/workflow/controller/controller.go
  apps/backend/internal/workflow/handlers/handlers.go
  apps/backend/internal/workflow/service/readonly.go
  apps/backend/internal/workflow/service/sync_apply_test.go
  apps/web/components/settings/workflow-card-actions.test.ts
  apps/web/components/settings/workflow-card-actions.ts
  apps/web/components/settings/workflow-card.tsx
  docs/public/workflow-sync.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat: optional workflow sync polling and repo-derived branch picker
  apps/backend/internal/workflowsync/models.go
  apps/backend/internal/workflowsync/models_test.go
  apps/backend/internal/workflowsync/service.go
  apps/backend/internal/workflowsync/service_test.go
  apps/backend/internal/workflowsync/store.go
  apps/backend/internal/workflowsync/store_test.go
  apps/web/components/settings/workflow-sync-dialog.tsx
  apps/web/components/settings/workflow-sync-status-banner.tsx
  apps/web/hooks/domains/settings/use-workflow-sync.test.ts
  apps/web/hooks/domains/settings/use-workflow-sync.ts
  apps/web/lib/types/workflow-sync.ts
  docs/public/workflow-sync.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat: release synced workflows when the sync config is removed
  apps/backend/internal/workflow/service/sync_apply.go
  apps/backend/internal/workflow/service/sync_apply_test.go
  apps/backend/internal/workflowsync/service.go
  apps/backend/internal/workflowsync/service_test.go
  apps/web/hooks/domains/settings/use-workflow-sync.ts
  docs/public/workflow-sync.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat(web): drop branch selector and compact the auto-sync row
  apps/web/components/settings/workflow-sync-dialog.tsx
  docs/public/workflow-sync.md
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: document public validator contracts
  scripts/validate-public-docs.mjs
Due: none

fix(docs): address publication review feedback
  .agents/skills/docs-maintainer/SKILL.md
  .github/workflows/notify-docs.yml
  scripts/validate-public-docs.mjs
  scripts/validate-public-docs.test.mjs
Due: none

docs: document landing dependency install
  docs/public/README.md
Due: none

fix: address PR review feedback
  apps/backend/internal/backendapp/e2e_reset.go
  apps/backend/internal/task/handlers/workflow_handlers.go
  apps/backend/internal/workflow/service/readonly.go
  apps/backend/internal/workflow/service/sync_apply.go
  apps/backend/internal/workflow/service/sync_apply_test.go
  apps/backend/internal/workflowsync/handlers.go
  apps/backend/internal/workflowsync/models.go
  apps/backend/internal/workflowsync/models_test.go
  apps/backend/internal/workflowsync/poller.go
  apps/backend/internal/workflowsync/poller_test.go
  apps/backend/internal/workflowsync/service.go
  apps/backend/internal/workflowsync/store.go
  apps/backend/internal/workflowsync/store_test.go
  apps/web/components/settings/workflow-card-actions.ts
  apps/web/components/settings/workflow-card.tsx
  apps/web/components/settings/workflow-section-actions.tsx
  apps/web/components/settings/workflow-sync-dialog.tsx
  apps/web/components/settings/workflow-sync-status-banner.tsx
  apps/web/hooks/domains/settings/use-workflow-sync.test.ts
  apps/web/hooks/domains/settings/use-workflow-sync.ts
  apps/web/lib/api/domains/workflow-sync-api.test.ts
  apps/web/lib/utils/github-repo-url.test.ts
  apps/web/lib/utils/github-repo-url.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

docs: remove unreachable slug fallback
  scripts/validate-public-docs.mjs
Due: none

refactor(office): drop change-narration from comments
  apps/web/app/office/projects/repo-chip.tsx
  apps/web/e2e/tests/office/project-repository-picker.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(office): use repository picker in create-project dialog
  apps/web/app/office/projects/[id]/project-repos-section.tsx
  apps/web/app/office/projects/create-project-dialog.tsx
  apps/web/app/office/projects/project-repository-picker.tsx
  apps/web/app/office/projects/repo-chip.tsx
  apps/web/e2e/tests/office/project-repository-picker.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(office): only exact matches hide the picker custom-entry row
  apps/web/app/office/projects/project-repository-picker.tsx
  apps/web/app/office/projects/repo-entry.test.ts
  apps/web/app/office/projects/repo-entry.ts
  apps/web/e2e/tests/office/project-repository-picker.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor(office): share one repository fetch between chips and picker
  apps/web/app/office/projects/[id]/project-repos-section.tsx
  apps/web/app/office/projects/create-project-dialog.tsx
  apps/web/app/office/projects/project-repository-picker.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test(office): cover near-miss suggestion vs literal path in picker e2e
  apps/web/e2e/tests/office/project-repository-picker.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(office): key repo discovery by workspace and retry interrupted scans
  apps/web/app/office/projects/project-repository-picker.tsx
  apps/web/app/office/projects/use-discovered-repositories.test.ts
  apps/web/app/office/projects/use-discovered-repositories.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: guard workflow sync test fake against concurrent poller access
  apps/backend/internal/workflowsync/poller_test.go
  apps/backend/internal/workflowsync/service.go
  apps/backend/internal/workflowsync/service_test.go
Due: gofmt, go-tests, go-lint

release: 0.79.0
  CHANGELOG.md
  apps/cli/package.json
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier-format

fix(release): validate updater signing from workflow revision
  .github/scripts/release-workflow-contract_test.py
  .github/workflows/release.yml
  docs/decisions/0029-release-backfill-and-desktop-diagnostics.md
  docs/decisions/INDEX.md
  docs/desktop-tauri-signing.md
  scripts/release-desktop.test.sh
  scripts/release/updater-manifest.test.sh
  scripts/release/updater-signing-ready.sh
  scripts/release/updater-signing-ready.test.sh
Due: none

test(release): update updater signing workflow contract
  apps/cli/src/release-config.test.ts
Due: prettier-format

test(release): assert workflow helper authentication
  .github/scripts/release-workflow-contract_test.py
Due: none

test(release): harden updater workflow contract
  .github/scripts/release-workflow-contract_test.py
  docs/desktop-tauri-signing.md
Due: none

test(release): distinguish misspelled platform coverage
  scripts/release/updater-signing-ready.test.sh
Due: none

fix(web): keep settings section actions aligned on narrow screens
  apps/web/components/settings/settings-section.tsx
  apps/web/components/settings/workflow-section-actions.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(release): validate updater signing from workflow revision (#1726)
  .github/scripts/release-workflow-contract_test.py
  .github/workflows/release.yml
  apps/cli/src/release-config.test.ts
  docs/decisions/0029-release-backfill-and-desktop-diagnostics.md
  docs/decisions/INDEX.md
  docs/desktop-tauri-signing.md
  scripts/release-desktop.test.sh
  scripts/release/updater-manifest.test.sh
  scripts/release/updater-signing-ready.sh
  scripts/release/updater-signing-ready.test.sh
Due: prettier-format

fix(web): align sidebar resize handle
  apps/web/components/app-sidebar/app-sidebar-resize-handle.tsx
  apps/web/e2e/tests/layout/sidebar-resize-handle.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): stabilize sidebar resize assertion
  apps/web/e2e/tests/layout/sidebar-resize-handle.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): keep settings section actions aligned on narrow screens (#1727)
  apps/web/components/settings/settings-section.tsx
  apps/web/components/settings/workflow-section-actions.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(release): use Bash 3.2-safe artifact verifier
  .github/scripts/release-workflow-contract_test.py
  .github/workflows/release.yml
  docs/desktop-tauri-signing.md
  scripts/release-desktop.test.sh
  scripts/release/verify-desktop-assets.sh
Due: none

test(release): cover missing desktop artifacts
  scripts/release-desktop.test.sh
  scripts/release/verify-desktop-assets.sh
Due: none

docs: address public guide review feedback
  AGENTS.md
  README.md
  docs/public/README.md
  docs/public/automation-and-mcp.md
  docs/public/testing.md
  scripts/validate-public-docs.mjs
  scripts/validate-public-docs.test.mjs
Due: none

docs: expand public user and contributor guides
  README.md
  docs/public/README.md
  docs/public/agents-and-profiles.md
  docs/public/architecture.md
  docs/public/automation-and-mcp.md
  docs/public/backend-development.md
  docs/public/contributing.md
  docs/public/coordination.md
  docs/public/developer-tools.md
  docs/public/executors.md
  docs/public/extending-kandev.md
  docs/public/feature-status.md
  docs/public/index.md
  docs/public/integrations.md
  docs/public/meta.json
  docs/public/operations.md
  docs/public/release-process.md
  docs/public/sessions-and-review.md
  docs/public/tasks-and-workflows.md
  docs/public/testing.md
  docs/public/use-kandev.md
  docs/public/web-development.md
  docs/public/workflow-sync.md
  scripts/validate-public-docs.mjs
  scripts/validate-public-docs.test.mjs
Due: none

docs: align web e2e coverage guidance
  docs/public/web-development.md
Due: none
