Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

docs(office): plan children-completed wake child summaries
  docs/plans/office-children-completed-wake-summaries/plan.md
  docs/plans/office-children-completed-wake-summaries/task-01-child-summary-query.md
  docs/plans/office-children-completed-wake-summaries/task-02-child-summary-line.md
  docs/plans/office-children-completed-wake-summaries/task-03-assembly-time-enrichment.md
  docs/plans/office-children-completed-wake-summaries/task-04-drop-producer-reads.md
Due: none

fix(office): detach canonical task.updated publish from request cancellation
  apps/backend/internal/agentctl/server/process/probe/processtable_linux.go
  apps/backend/internal/agentctl/server/process/probe/processtable_linux_test.go
  apps/backend/internal/office/dashboard/service.go
  apps/backend/internal/office/dashboard/service_tasks.go
  apps/backend/internal/office/dashboard/task_updated_cancellation_internal_test.go
  apps/backend/internal/office/dashboard/task_updated_events_test.go
Due: gofmt, go-tests, go-lint

fix(office): make the child-summary query deterministic and live-only
  apps/backend/internal/office/repository/sqlite/blockers.go
  apps/backend/internal/office/repository/sqlite/child_summaries_postgres_test.go
  apps/backend/internal/office/repository/sqlite/child_summaries_test.go
Due: gofmt, go-tests, go-lint

fix: preserve first DST fall-back run
  apps/backend/internal/automation/scheduler.go
  apps/backend/internal/automation/scheduler_cron_test.go
Due: gofmt, go-tests, go-lint

fix(orchestrator): queue messages dropped during agent-profile step moves
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/task/handlers/message_handlers.go
  apps/backend/internal/task/handlers/message_handlers_queue_on_runtime_unavailable_test.go
  apps/backend/internal/task/handlers/message_handlers_resume_readiness_test.go
Due: gofmt, go-tests, go-lint

fix(orchestrator): keep queued runtime-unavailable prompts from being redispatched and lost
  apps/backend/internal/orchestrator/event_handlers_agent.go
  apps/backend/internal/orchestrator/queue_user_prompt_runtime_unavailable_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/task/handlers/message_handlers.go
Due: gofmt, go-tests, go-lint

feat(office): render pull requests and bounded fields on child summary lines
  apps/backend/internal/office/service/child_summary_line_test.go
  apps/backend/internal/office/service/prompt_builder.go
  apps/backend/internal/office/service/prompt_builder_test.go
Due: gofmt, go-tests, go-lint

fix(office): derive children-completed wake summaries at prompt assembly
  apps/backend/internal/office/service/base_test.go
  apps/backend/internal/office/service/scheduler_integration.go
  apps/backend/internal/office/service/scheduler_integration_children_test.go
  apps/backend/internal/office/service/test_helpers.go
Due: gofmt, go-tests, go-lint

feat(office): thread approval decider identity into causation resolution
  apps/backend/internal/office/approvals/handler.go
  apps/backend/internal/office/approvals/handler_security_test.go
  apps/backend/internal/office/approvals/service.go
  apps/backend/internal/office/approvals/service_test.go
Due: gofmt, go-tests, go-lint

refactor(office): stop producers assembling discarded child summaries
  apps/backend/internal/office/service/event_subscribers.go
  apps/backend/internal/office/service/event_subscribers_test.go
  apps/backend/internal/office/service/producer_child_reads_test.go
  apps/backend/internal/office/service/scheduler_wake_reconciler.go
Due: gofmt, go-tests, go-lint

fix: satisfy MCP config lint
  apps/backend/internal/agent/mcpconfig/catalog_service.go
Due: gofmt, go-tests, go-lint

docs(office): record children-completed wake summaries as delivered
  docs/plans/office-children-completed-wake-summaries/plan.md
  docs/plans/office-children-completed-wake-summaries/task-01-child-summary-query.md
  docs/plans/office-children-completed-wake-summaries/task-02-child-summary-line.md
  docs/plans/office-children-completed-wake-summaries/task-03-assembly-time-enrichment.md
  docs/plans/office-children-completed-wake-summaries/task-04-drop-producer-reads.md
  docs/specs/office/requirements/children-completed-wake-summaries.md
  docs/specs/office/system-design/children-completed-wake-summaries.md
Due: none

fix: only suppress the row context menu on the title's actual interactive trigger
  apps/web/components/kanban/graph2-task-pipeline.test.tsx
  apps/web/components/kanban/graph2-task-pipeline.tsx
  apps/web/components/task/task-title-hover-card.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(tasks): order archived branch index after normalization
  apps/backend/internal/task/repository/sqlite/base_migrations.go
Due: gofmt, go-tests, go-lint

fix(worktree): add task git metadata projection primitives
  apps/backend/internal/worktree/git_metadata.go
  apps/backend/internal/worktree/git_metadata_test.go
Due: gofmt, go-tests, go-lint

fix(office): harden SSH tunnel and cleanup paths
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh_credentials.go
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh_runtime_api.go
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh_runtime_api_test.go
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh_skills_test.go
  apps/backend/internal/agent/runtime/lifecycle/ssh_fake_server_test.go
Due: gofmt, go-tests, go-lint

docs(office): correct comments and ADR left stale by the GC deletion
  apps/backend/internal/backendapp/types.go
  apps/backend/internal/office/infra/reconcile.go
  apps/backend/internal/office/repository/sqlite/tasks.go
  apps/backend/internal/office/scheduler/run.go
  apps/backend/internal/worktree/manager.go
  apps/backend/internal/worktree/store.go
  docs/decisions/0009-fail-closed-gc-semantics.md
  docs/decisions/INDEX.md
Due: gofmt, go-tests, go-lint

chore(office): delete unwired garbage collector
  apps/backend/internal/office/infra/gc.go
  apps/backend/internal/office/infra/gc_test.go
  apps/backend/internal/office/infra/reconcile.go
  apps/backend/internal/office/scheduler/run.go
  apps/backend/internal/office/services.go
Due: gofmt, go-tests, go-lint

fix(mcp): audit attestation denials
  apps/backend/internal/mcp/server/handoff_handlers.go
  apps/backend/internal/mcp/server/handoff_handlers_test.go
Due: gofmt, go-tests, go-lint

fix: refuse ambiguous worktree recovery
  apps/backend/internal/worktree/errors.go
  apps/backend/internal/worktree/manager.go
  apps/backend/internal/worktree/manager_state.go
  apps/backend/internal/worktree/manager_test.go
  apps/backend/internal/worktree/recovery.go
Due: gofmt, go-tests, go-lint

fix(tasks): create archived branch index after cutover
  apps/backend/internal/task/repository/sqlite/base_schema.go
Due: gofmt, go-tests, go-lint

fix(orchestrator): stop misclassifying executor lookup errors as launch-pending
  apps/backend/internal/orchestrator/event_handlers_agent.go
  apps/backend/internal/orchestrator/event_handlers_queue_general_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/queue_user_prompt_runtime_unavailable_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/task/handlers/message_handlers.go
Due: gofmt, go-tests, go-lint

fix(web): retract empty-turn notice once real agent output lands
  apps/web/hooks/processed-message-filtering.test.ts
  apps/web/hooks/processed-message-filtering.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): retain eligible providers during refresh
  apps/web/hooks/domains/integrations/use-remote-repositories.test.tsx
  apps/web/hooks/domains/integrations/use-remote-repositories.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(orchestrator): state test invariants instead of narrating review rounds
  apps/backend/internal/orchestrator/event_handlers_queue_general_test.go
  apps/backend/internal/orchestrator/queue_user_prompt_runtime_unavailable_test.go
Due: gofmt, go-tests, go-lint

fix: refuse present invalid worktree admins
  apps/backend/internal/worktree/manager_state.go
  apps/backend/internal/worktree/manager_test.go
Due: gofmt, go-tests, go-lint

fix(plugins): preserve trusted legacy selector
  apps/backend/internal/plugins/config_test.go
  apps/backend/internal/plugins/service_config.go
Due: gofmt, go-tests, go-lint

fix(web): detect empty-turn supersession before visibility filtering
  apps/web/hooks/processed-message-filtering.test.ts
  apps/web/hooks/processed-message-filtering.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test: stabilize provider eligibility refresh
  apps/web/hooks/domains/integrations/use-remote-repositories.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(mcp): mark routine successor requeues after reservation
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/routine_wake_test.go
Due: gofmt, go-tests, go-lint

fix(db): preserve fresh SQLite reader snapshots
  apps/backend/internal/db/sqlite.go
Due: gofmt, go-tests, go-lint

fix(e2e): stabilize cancellation progress coverage
  apps/web/e2e/tests/chat/cancel-progress-task-switch.spec.ts
  apps/web/e2e/tests/chat/mobile-cancel-progress-reload.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(worktree): reject symlinked gitdir pointers
  apps/backend/internal/worktree/git_metadata.go
  apps/backend/internal/worktree/git_metadata_test.go
Due: gofmt, go-tests, go-lint

test(backend): cover hour-restricted DST fall-back multi-iteration case
  apps/backend/internal/automation/scheduler_cron_test.go
Due: gofmt, go-tests, go-lint

fix(github): restore PR sync context (#2916)
  apps/backend/internal/github/service_comparison_target_sync_test.go
  apps/backend/internal/github/service_pr_outcome_sync_test.go
  apps/backend/internal/github/service_pr_unwatched.go
  apps/backend/internal/github/service_pr_watch.go
  docs/plans/github-pr-sync-context-regression/plan.md
  docs/plans/github-pr-sync-context-regression/task-01-restore-sync-context.md
  docs/specs/pr-outcome-attribution/spec.md
Due: gofmt, go-tests, go-lint

feat(mcp): register task change links
  apps/backend/internal/mcp/server/handlers.go
  apps/backend/internal/mcp/server/handlers_test.go
  apps/backend/internal/mcp/server/server.go
  apps/backend/internal/mcp/server/server_test.go
  apps/backend/pkg/websocket/actions.go
Due: gofmt, go-tests, go-lint

fix(mcp): require task link identity
  apps/backend/internal/mcp/server/handlers.go
  apps/backend/internal/mcp/server/handlers_test.go
  apps/backend/internal/mcp/server/server.go
Due: gofmt, go-tests, go-lint

fix(task): scope coordinator grant schema checks
  apps/backend/internal/db/sqlguard/exemptions.json
  apps/backend/internal/task/repository/sqlite/coordinator_grants.go
  apps/backend/internal/task/repository/sqlite/coordinator_grants_postgres_test.go
Due: gofmt, go-tests, go-lint

fix(mcp): surface guarded TTY result encoding errors
  apps/backend/internal/mcp/handlers/guarded_tty_exec.go
  apps/backend/internal/mcp/server/guarded_tty_exec.go
  apps/backend/internal/mcp/server/guarded_tty_exec_test.go
Due: gofmt, go-tests, go-lint

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
