Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

feat: add mobile parity skill
  .agents/skills/mobile-parity/SKILL.md
Due: none

fix(web): show tasks from all workflows in the mobile task-switcher sheet
  apps/web/components/task/mobile/session-task-switcher-sheet-hooks.ts
  apps/web/components/task/mobile/session-task-switcher-sheet.tsx
  apps/web/components/task/task-session-sidebar.tsx
  apps/web/hooks/domains/kanban/use-workspace-sidebar-tasks.test.ts
  apps/web/hooks/domains/kanban/use-workspace-sidebar-tasks.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(layout): apply target env's widths after fast-path switch
  apps/web/lib/state/dockview-env-switch.test.ts
  apps/web/lib/state/dockview-env-switch.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: align mobile parity skill with repo e2e
  .agents/skills/mobile-parity/SKILL.md
Due: none

fix: clarify mobile fixture import guidance
  .agents/skills/mobile-parity/SKILL.md
Due: none

fix(ssh): auto-create a default profile on new SSH executor
  apps/web/app/settings/executors/new/[type]/ssh-create-page.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor(web): address review comments on PR #1025
  apps/web/components/task/mobile/session-task-switcher-sheet-hooks.ts
  apps/web/components/task/task-select-helpers.ts
  apps/web/components/task/task-session-sidebar.tsx
  apps/web/hooks/domains/kanban/use-workspace-sidebar-tasks.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(layout): pass measured dims to fromJSON so widths don't grow on rescale
  apps/web/lib/state/dockview-store.ts
  apps/web/lib/state/layout-manager/applier.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(terminal): dockview tab badges + rename context menu + existing-terminals list
  apps/web/components/task/dockview-add-panel-items.tsx
  apps/web/components/task/dockview-desktop-layout.tsx
  apps/web/components/task/dockview-shared.tsx
  apps/web/components/task/terminal-reopen-menu.tsx
  apps/web/components/task/terminal-tab.tsx
  apps/web/e2e/tests/terminal/terminal-new-tab.spec.ts
  apps/web/lib/state/dockview-panel-actions.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: align mobile parity example quote style
  .agents/skills/mobile-parity/SKILL.md
Due: none

fix(automations): polish run-mode lifecycle, validation, and editor UX
  apps/backend/cmd/kandev/orchestrator.go
  apps/backend/internal/automation/models.go
  apps/backend/internal/automation/service.go
  apps/backend/internal/automation/store.go
  apps/backend/internal/orchestrator/event_handlers_agent.go
  apps/backend/internal/orchestrator/event_handlers_automation.go
  apps/backend/internal/orchestrator/event_handlers_git.go
  apps/backend/internal/orchestrator/service.go
  apps/web/components/automations/automation-editor.tsx
  apps/web/components/automations/automations-table.tsx
  apps/web/components/automations/config-section.tsx
  apps/web/components/automations/runs-section.tsx
  apps/web/components/automations/schedule-selector.tsx
  apps/web/components/automations/trigger-configs/github-pr-config.tsx
  apps/web/components/automations/trigger-configs/github-push-config.tsx
  apps/web/components/automations/trigger-configs/scheduled-config.tsx
  apps/web/lib/types/automation.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(automations): add idempotent ALTERs for in-branch columns
  apps/backend/internal/automation/store.go
Due: gofmt, go-tests, go-lint

feat(automations): repo picker shows discovered repos too
  apps/web/components/automations/automation-editor.tsx
  apps/web/components/automations/config-section.tsx
  docs/specs/office/automations-settings.md
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(automations): execution_mode + flat /settings/automations
  apps/backend/cmd/kandev/orchestrator.go
  apps/backend/internal/automation/models.go
  apps/backend/internal/automation/service.go
  apps/backend/internal/automation/store.go
  apps/backend/internal/orchestrator/event_handlers_automation.go
  apps/backend/internal/orchestrator/event_handlers_github.go
  apps/backend/internal/task/models/models.go
  apps/web/app/settings/automations/page.tsx
  apps/web/components/automations/automation-editor.tsx
  apps/web/components/automations/automations-table.tsx
  apps/web/components/automations/config-section.tsx
  apps/web/components/settings/settings-app-sidebar.tsx
  apps/web/lib/types/automation.ts
  docs/specs/INDEX.md
  docs/specs/office/automations-settings.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat(automations): per-automation repository picker
  apps/backend/internal/automation/models.go
  apps/backend/internal/automation/service.go
  apps/backend/internal/automation/store.go
  apps/backend/internal/orchestrator/event_handlers_automation.go
  apps/web/components/automations/automation-editor.tsx
  apps/web/components/automations/config-section.tsx
  apps/web/lib/types/automation.ts
  docs/specs/office/automations-settings.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(automations): use generateUUID in non-secure contexts
  apps/web/components/automations/automation-editor.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(automations): address PR review feedback
  apps/backend/cmd/kandev/e2e_reset.go
  apps/backend/internal/automation/scheduler.go
  apps/backend/internal/automation/service.go
  apps/backend/internal/automation/webhook.go
  apps/backend/internal/orchestrator/event_handlers_agent.go
  apps/backend/internal/orchestrator/event_handlers_git.go
  apps/web/components/automations/schedule-selector.tsx
  apps/web/components/automations/trigger-configs/github-ci-config.tsx
  apps/web/components/automations/triggers-section.tsx
  apps/web/hooks/domains/settings/use-automations.ts
  apps/web/lib/state/slices/automations/automations-slice.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(web): empty scope when workspaceId is unresolved in mobile/desktop sidebar hook
  apps/web/hooks/domains/kanban/use-workspace-sidebar-tasks.test.ts
  apps/web/hooks/domains/kanban/use-workspace-sidebar-tasks.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(terminal): tab title shows "Terminal" with seq as badge, populate store on session page
  apps/web/components/task/dockview-header-actions.tsx
  apps/web/components/task/terminal-reopen-menu.tsx
  apps/web/components/task/terminal-tab.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(office): isolate kanban and office workspace selection (#1019)
  apps/backend/internal/agent/settings/controller/agent_crud.go
  apps/backend/internal/agent/settings/controller/agent_crud_filter_test.go
  apps/web/app/office/components/workspace-rail.tsx
  apps/web/app/office/layout.tsx
  apps/web/app/office/lib/get-active-workspace.test.ts
  apps/web/app/office/lib/get-active-workspace.ts
  apps/web/app/office/page.tsx
  apps/web/app/office/setup/setup-wizard.test.ts
  apps/web/app/office/setup/setup-wizard.tsx
  apps/web/e2e/tests/office/onboarding.spec.ts
  apps/web/e2e/tests/office/workspace-selection-isolation.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat(ssh): pre-flight the agent binary on the remote before launch
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh.go
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh_connection_test.go
  apps/web/e2e/tests/ssh/error-surfacing.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

refactor(web): consolidate findTaskInSnapshots and drop unused useSheetData.steps
  apps/web/components/task/mobile/session-task-switcher-sheet-hooks.ts
  apps/web/components/task/task-select-helpers.ts
  apps/web/components/task/task-session-sidebar.tsx
  apps/web/lib/kanban/find-task.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(tasks): address round-2 PR review feedback
  apps/backend/internal/task/handlers/task_http_handlers.go
  apps/backend/internal/task/handlers/task_http_handlers_test.go
  apps/backend/internal/task/service/handoff_cascade.go
  apps/backend/internal/task/service/handoff_cascade_test.go
  apps/web/hooks/use-subtask-count.test.ts
  apps/web/hooks/use-subtask-count.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(tasks): lint cleanup + drop unreachable catch in subtask hook
  apps/backend/internal/task/service/handoff_cascade.go
  apps/web/hooks/use-subtask-count.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(tasks): address PR review feedback on subtask cascade dialog
  apps/backend/internal/task/service/handoff_cascade.go
  apps/backend/internal/task/service/handoff_cascade_test.go
  apps/web/components/task/task-archive-confirm-dialog.tsx
  apps/web/components/task/task-delete-confirm-dialog.test.tsx
  apps/web/components/task/task-delete-confirm-dialog.tsx
  apps/web/hooks/use-subtask-count.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat(tasks): don't cascade archive/delete to subtasks by default
  apps/backend/internal/task/handlers/process_handlers_test.go
  apps/backend/internal/task/handlers/task_handlers.go
  apps/backend/internal/task/handlers/task_http_handlers.go
  apps/backend/internal/task/repository/interface.go
  apps/backend/internal/task/repository/sqlite/task.go
  apps/backend/internal/task/service/handoff_cascade.go
  apps/backend/internal/task/service/handoff_cascade_archive_column_regression_test.go
  apps/backend/internal/task/service/handoff_cascade_test.go
  apps/backend/internal/task/service/handoff_workspace_test.go
  apps/web/app/tasks/columns.tsx
  apps/web/app/tasks/tasks-page-client.tsx
  apps/web/components/kanban-card.tsx
  apps/web/components/kanban/graph2-task-pipeline.tsx
  apps/web/components/kanban/task-multi-select-toolbar.tsx
  apps/web/components/task/mobile/session-task-switcher-sheet-hooks.ts
  apps/web/components/task/mobile/session-task-switcher-sheet.tsx
  apps/web/components/task/task-archive-confirm-dialog.tsx
  apps/web/components/task/task-delete-confirm-dialog.test.tsx
  apps/web/components/task/task-delete-confirm-dialog.tsx
  apps/web/components/task/task-session-sidebar-dialogs.tsx
  apps/web/components/task/task-session-sidebar.tsx
  apps/web/hooks/use-task-actions.ts
  apps/web/hooks/use-task-crud.ts
  apps/web/hooks/use-task-multi-select.ts
  apps/web/lib/api/domains/kanban-api.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(e2e): cover cascade-subtasks toggle on archive and delete
  apps/web/e2e/tests/kanban/cascade-subtasks-toggle.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): share multiSelect with ChangesTree so bulk actions work in tree mode
  apps/web/components/task/changes-panel-timeline.tsx
  apps/web/components/task/changes-panel-tree.test.tsx
  apps/web/components/task/changes-panel-tree.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(terminal): "New X" rows live inside their section labels
  apps/web/components/task/dockview-add-panel-items.tsx
  apps/web/components/task/session-reopen-menu.tsx
  apps/web/components/task/terminal-reopen-menu.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(layout): lock pinned column max width to current size, unlock on drag
  apps/web/components/task/dockview-desktop-layout.tsx
  apps/web/components/task/dockview-layout-setup.ts
  apps/web/e2e/helpers/dockview-resize.ts
  apps/web/e2e/tests/layout/pane-resize-right.spec.ts
  apps/web/lib/state/dockview-env-switch-pinned.test.ts
  apps/web/lib/state/dockview-layout-builders.ts
  apps/web/lib/state/layout-manager/applier.ts
  apps/web/lib/state/layout-manager/caps.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(task): auto-fill task name from PR title when pasting a PR URL
  apps/web/components/task-create-dialog-effects.test.ts
  apps/web/components/task-create-dialog-effects.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(ssh): surface host/workdir/agentctl in the task executor popover
  apps/backend/internal/task/handlers/task_environment_handlers.go
  apps/backend/internal/task/service/service_task_environments.go
  apps/backend/internal/task/service/service_task_environments_test.go
  apps/web/components/task/executor-environment-info.tsx
  apps/web/components/task/executor-settings-button.tsx
  apps/web/components/task/task-top-bar.tsx
  apps/web/e2e/tests/ssh/popover.spec.ts
  apps/web/hooks/domains/session/use-task-environment.ts
  apps/web/lib/api/domains/task-environment-api.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(jira): tighten secret reuse and surface store errors
  apps/backend/internal/jira/service.go
  apps/web/components/jira/jira-settings.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(jira): normalize site URL for compare, gate DB read in TestConnection
  apps/backend/internal/jira/service.go
  apps/web/components/jira/jira-settings.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(web): add unit tests for findTaskInSnapshots fallback path
  apps/web/lib/kanban/find-task.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(task): clear lastAutoFilledTitleRef on reset and document dep-array constraint
  apps/web/components/task-create-dialog-effects.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): pass active-kanban fallback into desktop sidebar task lookups
  apps/web/components/task/task-session-sidebar.tsx
  apps/web/lib/kanban/find-task.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(editors): truncate file path in editor toolbar with hover-scroll
  apps/web/components/editors/codemirror/codemirror-code-editor.tsx
  apps/web/components/editors/monaco/monaco-editor-toolbar.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck
