Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

fix(github): align App callback contracts
  apps/backend/internal/github/app_registration_lifecycle_service.go
  apps/backend/internal/github/controller_app_registration_test.go
  apps/backend/internal/github/service_app_auth_test.go
  apps/web/components/github/github-app-import-form.test.tsx
  apps/web/components/github/github-app-import-guide.test.tsx
  docs/decisions/2026-07-21-workspace-selectable-github-app-registrations.md
  docs/public/integrations.md
  docs/specs/integrations/github-authentication.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: scope remote contribution history evidence
  apps/backend/internal/github/handlers.go
  apps/backend/internal/github/models.go
  apps/backend/internal/github/pat_client.go
  apps/backend/internal/github/pat_client_writes_test.go
  apps/backend/internal/github/service_pr.go
  apps/web/hooks/domains/github/use-pr-commits.test.ts
  apps/web/hooks/domains/github/use-pr-commits.ts
  apps/web/hooks/domains/session/remote-contribution-relation.test.ts
  apps/web/hooks/domains/session/remote-contribution-relation.ts
  apps/web/hooks/domains/session/use-remote-contribution-relation.test.tsx
  apps/web/hooks/domains/session/use-remote-contribution-relation.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat: automate Scoop stable releases
  .agents/skills/release/SKILL.md
  .github/scripts/release-workflow-contract_test.py
  .github/workflows/lint-action-pinning.yml
  .github/workflows/release.yml
  AGENTS.md
  Makefile
  apps/cli/README_internal.md
  docs/decisions/0029-release-backfill-and-desktop-diagnostics.md
  docs/decisions/2026-07-31-npm-nightly-release-channel.md
  docs/plans/scoop-release-automation/plan.md
  docs/plans/scoop-release-automation/task-01-scoop-publisher.md
  docs/plans/scoop-release-automation/task-02-release-workflow.md
  docs/plans/scoop-release-automation/task-03-release-contract-docs.md
  docs/public/release-process.md
  docs/specs/INDEX.md
  docs/specs/npm-nightly-channel/spec.md
  docs/specs/scoop-release-automation/spec.md
  scripts/release/update-scoop-bucket.sh
  scripts/release/update-scoop-bucket.test.mjs
Due: prettier-format

fix(release): validate Scoop version and tag
  scripts/release/update-scoop-bucket.sh
  scripts/release/update-scoop-bucket.test.mjs
Due: none

fix(plugins): color task indicators by status
  apps/web/AGENTS.md
  apps/web/components/github/pr-task-icon.tsx
  apps/web/components/integrations/change-request-task-status-color.ts
  apps/web/components/integrations/registered-change-request-task-icon.test.tsx
  apps/web/components/integrations/registered-change-request-task-icon.tsx
  docs/plans/bitbucket-plugin/plan.md
  docs/plans/bitbucket-plugin/task-12i-shared-task-indicator-hover-summary.md
  docs/plans/plugins/PLUGIN-API.md
  docs/specs/bitbucket-plugin/spec.md
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(plugins): document code host integration hooks
  apps/web/e2e/tests/plugins/bitbucket-packaged-plugin.spec.ts
  apps/web/e2e/tests/plugins/plugin-code-host-docs-fixture.ts
  apps/web/e2e/tests/plugins/plugin-code-host-docs-screenshots.spec.ts
  docs/plans/bitbucket-plugin/plan.md
  docs/plans/bitbucket-plugin/task-12i-shared-task-indicator-hover-summary.md
  docs/public/plugins-authoring.md
  docs/screenshots/plugin-code-host-ci-popover.png
  docs/screenshots/plugin-code-host-dashboard.png
  docs/screenshots/plugin-code-host-link-dialog.png
  docs/screenshots/plugin-code-host-link-menu.png
  docs/screenshots/plugin-code-host-reference-search.png
  docs/screenshots/plugin-code-host-repository-picker.png
  docs/screenshots/plugin-code-host-review-panel.png
  docs/screenshots/plugin-code-host-sidebar-status.png
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): stabilize plugin change-request hooks
  apps/web/hooks/use-change-request-provider-target.test.tsx
  apps/web/hooks/use-change-request-provider-target.ts
  apps/web/lib/plugins/host-api.test.ts
  apps/web/lib/plugins/host-api.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): localize plugin review loading state
  apps/web/lib/plugins/host-api.test.ts
  apps/web/lib/plugins/host-api.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(decisions): scope ADR 0015 audit-trail completeness claim
  docs/decisions/0015-explicit-completion-signal-for-auto-advance.md
Due: none

fix(backend): record deferred move_task_kandev and approval step transitions
  apps/backend/internal/orchestrator/event_handlers_step_completion.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/step_history_test.go
  apps/backend/internal/task/service/service_workflow.go
  apps/backend/internal/task/service/service_workflow_step_history_test.go
Due: gofmt, go-tests, go-lint

fix(backend): attribute approval audit rows correctly and survive cancelled ctx
  apps/backend/internal/common/constants/timeouts.go
  apps/backend/internal/orchestrator/event_handlers_step_completion.go
  apps/backend/internal/orchestrator/step_history_test.go
  apps/backend/internal/task/service/service_workflow.go
  apps/backend/internal/task/service/service_workflow_step_history_test.go
  docs/decisions/0015-explicit-completion-signal-for-auto-advance.md
Due: gofmt, go-tests, go-lint

fix(backend): wire session_step_history writes for manual and auto-advance step transitions
  apps/backend/internal/backendapp/orchestrator.go
  apps/backend/internal/backendapp/services.go
  apps/backend/internal/orchestrator/event_handlers_step_completion.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/step_history_test.go
  apps/backend/internal/task/service/service.go
  apps/backend/internal/task/service/service_workflow.go
  apps/backend/internal/task/service/service_workflow_step_history_test.go
  apps/backend/internal/workflow/repository/session_step_history_test.go
  apps/backend/internal/workflow/service/service.go
  apps/backend/internal/workflow/service/step_history_test.go
  docs/decisions/0015-explicit-completion-signal-for-auto-advance.md
Due: gofmt, go-tests, go-lint

test(backend): sync on-enter goroutine and widen recorder doc comment
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/step_history_test.go
Due: gofmt, go-tests, go-lint

test(e2e): disambiguate GitHub App callback labels
  apps/web/e2e/tests/settings/mobile-github-app-registration.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(backend): make the cached-token backfill self-healing, not one-shot
  apps/backend/internal/office/service/event_subscribers.go
  apps/backend/internal/task/repository/sqlite/base_migrations.go
  apps/backend/internal/task/repository/sqlite/session_usage_test.go
Due: gofmt, go-tests, go-lint

fix(backend): index office_cost_events.session_id before the cached-token backfill
  apps/backend/internal/task/repository/sqlite/base_migrations.go
  apps/backend/internal/task/repository/sqlite/session_usage_test.go
Due: gofmt, go-tests, go-lint

fix(backend): thread cached input tokens through the session usage rollup
  apps/backend/internal/office/service/event_subscribers.go
  apps/backend/internal/office/service/session_usage_reconcile_test.go
  apps/backend/internal/office/shared/interfaces.go
  apps/backend/internal/task/repository/sqlite/base_migrations.go
  apps/backend/internal/task/repository/sqlite/base_schema.go
  apps/backend/internal/task/repository/sqlite/session.go
  apps/backend/internal/task/repository/sqlite/session_test.go
  apps/backend/internal/task/repository/sqlite/session_usage_test.go
Due: gofmt, go-tests, go-lint

fix(backend): widen tokens_cached_in to BIGINT to survive Postgres
  apps/backend/internal/task/repository/sqlite/base_migrations.go
  apps/backend/internal/task/repository/sqlite/base_schema.go
  apps/backend/internal/task/repository/sqlite/session_usage_postgres_test.go
Due: gofmt, go-tests, go-lint

docs: plan status bar appearance preference
  docs/decisions/0018-runtime-settings-overrides.md
  docs/decisions/2026-08-11-user-owned-status-bar-visibility.md
  docs/decisions/INDEX.md
  docs/plans/app-status-bar-appearance-setting/plan.md
  docs/plans/app-status-bar-appearance-setting/task-01-portable-visibility-contract.md
  docs/plans/app-status-bar-appearance-setting/task-02-appearance-control-and-surface-gates.md
  docs/plans/app-status-bar-appearance-setting/task-03-retire-runtime-flag.md
  docs/plans/app-status-bar-appearance-setting/task-04-e2e-public-docs-and-verification.md
  docs/specs/lsp-file-intelligence/spec.md
  docs/specs/platform/agent-runtime-availability.md
  docs/specs/ui/app-status-bar.md
  docs/specs/ui/ws-connectivity-warning.md
Due: none

docs: strengthen status bar retirement coverage
  docs/decisions/2026-08-11-user-owned-status-bar-visibility.md
  docs/plans/app-status-bar-appearance-setting/task-03-retire-runtime-flag.md
  docs/plans/app-status-bar-appearance-setting/task-04-e2e-public-docs-and-verification.md
Due: none

fix(search): include workspace root with submodules
  apps/backend/internal/agentctl/server/process/workspace_content_search.go
  apps/backend/internal/agentctl/server/process/workspace_files.go
  apps/backend/internal/agentctl/server/process/workspace_search_submodule_test.go
  apps/web/e2e/tests/command-panel.spec.ts
  docs/plans/submodule-workspace-search/plan.md
  docs/plans/submodule-workspace-search/task-01-correct-mixed-graph-search.md
  docs/plans/submodule-workspace-search/task-02-prove-command-palette-search.md
  docs/specs/ui/task-workspace-content-search.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(e2e): clean failed submodule fixtures
  apps/web/e2e/tests/review/submodule-review-helpers.ts
  apps/web/e2e/tests/review/submodule-review.spec.ts
  docs/plans/submodule-workspace-search/plan.md
  docs/plans/submodule-workspace-search/task-02-prove-command-palette-search.md
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(plugins): add sidebar-workspace-actions slot to the New Task row
  apps/backend/cmd/plugin-fixture/fixture-package/ui/bundle.js
  apps/web/AGENTS.md
  apps/web/components/app-sidebar/app-sidebar-new-task-item.test.tsx
  apps/web/components/app-sidebar/app-sidebar-new-task-item.tsx
  apps/web/components/app-sidebar/app-sidebar-workspace-actions.tsx
  apps/web/e2e/tests/plugins/plugin-sidebar-workspace-actions.spec.ts
  apps/web/lib/plugins/types.ts
  docs/plans/plugins/PLUGIN-API.md
  docs/public/plugins-authoring.md
  docs/specs/plugins/spec.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(github): stabilize PR automation checks
  apps/backend/internal/github/controller.go
  apps/backend/internal/github/controller_test.go
  apps/web/components/github/pr-status-automation-badges.test.tsx
  apps/web/components/github/pr-status-automation-badges.tsx
  apps/web/hooks/domains/github/use-task-ci-options.test.tsx
  apps/web/src/locales/en/github.json
  apps/web/src/locales/pseudo/github.json
  apps/web/src/locales/pt-pt/github.json
  apps/web/src/locales/zh-cn/github.json
  docs/plans/ci-pr-automation/task-21-composer-tray-pr-events-badge.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat(backend): publish ADR 0015 step-completion-signal received counter
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/step_complete_test.go
  apps/backend/internal/workflow/signalmetrics/metrics_vars.go
  apps/backend/internal/workflow/signalmetrics/metrics_vars_test.go
Due: gofmt, go-tests, go-lint

test(web): complete mobile task switcher store mock
  apps/web/components/task/mobile/session-task-switcher-sheet.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): isolate workspace picker state
  apps/web/e2e/tests/layout/workspace-picker-shortcut.spec.ts
  apps/web/e2e/tests/office/workspace-deletion-fallback.spec.ts
  docs/plans/submodule-workspace-search/plan.md
  docs/plans/submodule-workspace-search/task-02-prove-command-palette-search.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(backend): label ADR 0015 signal counter by agent type, fix count-on-receipt
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/step_complete_test.go
  apps/backend/internal/workflow/signalmetrics/metrics_vars.go
  apps/backend/internal/workflow/signalmetrics/metrics_vars_test.go
Due: gofmt, go-tests, go-lint

fix(backend): label ADR 0015 signal counter by agent_name, not UUID
  AGENTS.md
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/step_complete_test.go
  apps/backend/internal/workflow/signalmetrics/metrics_vars.go
Due: gofmt, go-tests, go-lint

test(github): align paused auto-fix assertion
  apps/web/components/github/pr-status-chip.auto-fix-rounds.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(plugins): harden code-host provider contracts
  apps/backend/internal/plugins/action_handlers.go
  apps/backend/internal/plugins/handlers.go
  apps/backend/internal/plugins/handlers_test.go
  apps/backend/internal/plugins/host_write.go
  apps/backend/internal/plugins/host_write_test.go
  apps/backend/pkg/pluginsdk/host.go
  apps/backend/pkg/pluginsdk/protocol_test.go
  apps/backend/pkg/pluginsdk/types.go
  apps/backend/proto/kandev/plugin/v1/plugin.pb.go
  apps/backend/proto/kandev/plugin/v1/plugin.proto
  apps/web/components/task-create-dialog-remote-repo-provider-tabs.test.tsx
  apps/web/components/task-create-dialog-remote-repo-provider-tabs.tsx
  apps/web/hooks/domains/integrations/use-remote-repositories.test.tsx
  apps/web/hooks/domains/integrations/use-remote-repositories.ts
  apps/web/lib/plugins/registry-provider-lifecycle.test.ts
  apps/web/lib/plugins/registry-provider-lifecycle.ts
  apps/web/lib/plugins/registry-provider-ownership.ts
  apps/web/lib/plugins/registry-registration-types.ts
  apps/web/lib/plugins/registry-work-lifecycle.ts
  apps/web/lib/plugins/registry.ts
  apps/web/lib/plugins/repository-provider-url-resolution.test.ts
  apps/web/lib/plugins/repository-provider-url-resolution.ts
  apps/web/lib/plugins/types.ts
  docs/decisions/2026-07-31-authenticated-plugin-actions.md
  docs/decisions/2026-08-04-plugin-contribution-lifecycle-authority.md
  docs/decisions/2026-08-06-plugin-code-host-dashboard-parity.md
  docs/plans/plugins/GRPC-CONTRACT.md
  docs/plans/plugins/PLUGIN-API.md
  docs/public/plugins-authoring.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(plugins): preserve merged status color
  apps/web/components/integrations/change-request-task-status-color.test.ts
  apps/web/components/integrations/change-request-task-status-color.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(stats): cover model usage and range boundaries
  apps/backend/internal/analytics/repository/sqlite/repository_test.go
  apps/web/app/stats/stats-utils.test.ts
  apps/web/lib/api/domains/stats-api.test.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(task): recover hybrid worktree cutovers
  apps/backend/internal/task/repository/sqlite/worktree_ownership_migration.go
  apps/backend/internal/task/repository/sqlite/worktree_ownership_migration_test.go
  apps/backend/internal/task/repository/sqlite/worktree_ownership_normalize.go
  docs/plans/task-worktree-cutover-hybrid-schema/plan.md
  docs/plans/task-worktree-cutover-hybrid-schema/task-01-recover-hybrid-schema.md
  docs/specs/session-delete-resource-cleanup/spec.md
Due: gofmt, go-tests, go-lint

fix: default status bar preference to off
  apps/backend/internal/user/store/app_status_bar_visibility_test.go
  apps/backend/internal/user/store/sqlite.go
  apps/web/e2e/helpers/app-status-bar-settings.ts
  apps/web/e2e/tests/kanban/mobile-kanban.spec.ts
  apps/web/e2e/tests/layout/compact-desktop-responsive.spec.ts
  apps/web/e2e/tests/layout/topbar-alignment.spec.ts
  apps/web/e2e/tests/plugins/mobile-status-drawer.spec.ts
  apps/web/e2e/tests/plugins/plugins.spec.ts
  apps/web/e2e/tests/settings/mobile-resource-metrics-display.spec.ts
  apps/web/e2e/tests/settings/resource-metrics-display.spec.ts
  apps/web/hooks/use-ensure-user-settings.test.ts
  apps/web/lib/ssr/user-settings.test.ts
  apps/web/lib/ssr/user-settings.ts
  apps/web/lib/ws/handlers/users.test.ts
  docs/decisions/2026-08-11-user-owned-status-bar-visibility.md
  docs/plans/app-status-bar-appearance-setting/plan.md
  docs/plans/app-status-bar-appearance-setting/task-01-portable-visibility-contract.md
  docs/plans/app-status-bar-appearance-setting/task-02-appearance-control-and-surface-gates.md
  docs/plans/app-status-bar-appearance-setting/task-03-retire-runtime-flag.md
  docs/plans/app-status-bar-appearance-setting/task-04-e2e-public-docs-and-verification.md
  docs/public/agents-and-profiles.md
  docs/public/developer-tools.md
  docs/public/feature-status.md
  docs/public/operations.md
  docs/public/sessions-and-review.md
  docs/specs/ui/app-status-bar.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(plugins): assert lifecycle abort contract
  apps/web/lib/plugins/registry.review-providers.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(task): strengthen hybrid cutover coverage
  apps/backend/internal/task/repository/sqlite/postgres_schema_test.go
  apps/backend/internal/task/repository/sqlite/worktree_ownership_migration_test.go
  docs/plans/task-worktree-cutover-hybrid-schema/plan.md
  docs/plans/task-worktree-cutover-hybrid-schema/task-01-recover-hybrid-schema.md
Due: gofmt, go-tests, go-lint
