Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

test(e2e): align task dialog teardown with Escape behavior
  apps/web/e2e/tests/task/create-task.spec.ts
  apps/web/e2e/tests/task/enhance-prompt.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: make lock metadata fixture Windows-safe
  apps/backend/internal/backendapp/ownershiplock/lock_test.go
Due: gofmt, go-tests, go-lint

fix(worktree): project task git metadata permissions
  apps/backend/AGENTS.md
  apps/backend/internal/agent/runtime/lifecycle/env_preparer.go
  apps/backend/internal/agent/runtime/lifecycle/env_preparer_worktree.go
  apps/backend/internal/agent/runtime/lifecycle/env_preparer_worktree_multi_test.go
  apps/backend/internal/task/service/repository_discovery.go
  apps/backend/internal/worktree/git_metadata.go
  apps/backend/internal/worktree/git_metadata_test.go
  docs/decisions/2026-08-19-task-scoped-git-metadata-projection.md
  docs/decisions/INDEX.md
  docs/specs/INDEX.md
  docs/specs/platform/task-git-metadata-permissions.md
  docs/specs/tasks/attach-workspace-sources.md
Due: gofmt, go-tests, go-lint

fix: harden rich output delivery
  apps/backend/internal/agentctl/server/adapter/transport/acp/codex_mcp_tool_test.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/dialect_codex.go
  apps/web/components/settings/rich-output-motion-settings-card.test.tsx
  apps/web/components/settings/rich-output-motion-settings-card.tsx
  apps/web/components/task/chat/messages/kandev/parse.ts
  apps/web/components/task/chat/messages/kandev/rich-output/chart-format.ts
  apps/web/components/task/chat/messages/kandev/rich-output/file-preview-block.tsx
  apps/web/components/task/chat/types.test.ts
  apps/web/components/task/chat/types.ts
  apps/web/hooks/domains/session/use-workspace-file-preview.test.ts
  apps/web/hooks/domains/session/use-workspace-file-preview.ts
  docs/plans/agent-rich-output/plan.md
  docs/plans/agent-rich-output/task-06-csv-chart-sources.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

perf: reduce rich output instruction size
  apps/backend/config/prompts/kandev-context.md
  apps/backend/config/prompts/office-context.md
  apps/backend/internal/mcp/server/rich_output.go
  apps/backend/internal/mcp/server/rich_output_test.go
  apps/backend/internal/mcp/server/sysprompt_sync_test.go
  apps/backend/internal/mcp/server/tool_metadata_test.go
  docs/plans/agent-rich-output/plan.md
  docs/plans/agent-rich-output/task-08-real-agent-acp-delivery.md
  docs/plans/agent-rich-output/task-09-compact-mcp-guidance.md
  docs/specs/agent-rich-output/spec.md
Due: gofmt, go-tests, go-lint

fix: align rich output with current main
  apps/web/components/settings/appearance-account-sections.tsx
  apps/web/components/settings/general-settings.tsx
  apps/web/components/task/chat/messages/kandev/rich-output/chart-visibility.ts
  apps/web/hooks/use-processed-messages-rich-output.test.ts
  apps/web/hooks/use-processed-messages.test.ts
  apps/web/src/locales/pt-pt/settings.json
  apps/web/src/locales/zh-cn/settings.json
  apps/web/src/locales/zh-hk/settings.json
  apps/web/src/locales/zh-hk/task.json
  apps/web/src/locales/zh-tw/settings.json
  apps/web/src/locales/zh-tw/task.json
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor: simplify status summary reconciliation
  apps/backend/internal/task/service/service_status_summary_rebuild.go
Due: gofmt, go-tests, go-lint

fix(web): show model option loading state
  apps/web/components/model-config-selector.test.tsx
  apps/web/components/model-config-selector.tsx
  apps/web/components/settings/profile-form-fields.test.tsx
  apps/web/components/settings/profile-form-fields.tsx
  apps/web/components/settings/profile-model-fields.tsx
  apps/web/e2e/tests/settings/agent-profile-acp.spec.ts
  apps/web/e2e/tests/settings/mobile-agent-profile-config-selector.spec.ts
  docs/plans/model-options-loading-spinner/plan.md
  docs/plans/model-options-loading-spinner/task-01-selector-loading-state.md
  docs/plans/model-options-loading-spinner/task-02-desktop-mobile-e2e.md
  docs/specs/agents/dynamic-provider-options.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(docker): mount task git metadata narrowly
  apps/backend/internal/agent/docker/client.go
  apps/backend/internal/agent/runtime/lifecycle/container.go
  apps/backend/internal/agent/runtime/lifecycle/container_config_test.go
  apps/backend/internal/agent/runtime/lifecycle/executor_backend.go
  apps/backend/internal/agent/runtime/lifecycle/executor_docker.go
  apps/backend/internal/agent/runtime/lifecycle/git_metadata_permissions.go
  apps/backend/internal/agent/runtime/lifecycle/manager_launch.go
Due: gofmt, go-tests, go-lint

feat(workflow): persist completion intents
  apps/backend/internal/task/models/completion_intent_test.go
  apps/backend/internal/task/models/models.go
  apps/backend/internal/task/repository/interface.go
  apps/backend/internal/task/repository/sqlite/base_schema.go
  apps/backend/internal/task/repository/sqlite/completion_intent.go
  apps/backend/internal/task/repository/sqlite/completion_intent_test.go
  docs/decisions/2026-08-19-durable-administrative-turn-settlement.md
  docs/decisions/2026-08-19-recoverable-cross-task-delivery.md
  docs/decisions/INDEX.md
  docs/specs/INDEX.md
  docs/specs/tasks/parent-child-task-stop.md
  docs/specs/tasks/recoverable-cross-task-delivery.md
  docs/specs/workflow/administrative-turn-settlement/spec.md
  docs/specs/workflow/explicit-completion-signal/spec.md
Due: gofmt, go-tests, go-lint

fix(web): clear stale model options after resolution failure
  apps/web/components/model-config-selector.test.tsx
  apps/web/components/model-config-selector.tsx
  apps/web/e2e/tests/settings/agent-profile-acp.spec.ts
  apps/web/e2e/tests/settings/mobile-agent-profile-config-selector.spec.ts
  apps/web/hooks/domains/settings/use-dynamic-models.test.ts
  apps/web/hooks/domains/settings/use-dynamic-models.ts
  docs/plans/model-options-loading-spinner/plan.md
  docs/plans/model-options-loading-spinner/task-01-selector-loading-state.md
  docs/plans/model-options-loading-spinner/task-02-desktop-mobile-e2e.md
  docs/specs/agents/dynamic-provider-options.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): deduplicate loading status announcement
  apps/web/components/model-config-selector.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(office): resolve agent reports_to on config import
  apps/backend/internal/office/config/dto.go
  apps/backend/internal/office/config/helpers_test.go
  apps/backend/internal/office/config/import.go
  apps/backend/internal/office/config/import_reports_to_test.go
  apps/backend/internal/office/config/import_test.go
Due: gofmt, go-tests, go-lint

fix(office): carry reports_to through filesystem config sync
  apps/backend/internal/office/config/import.go
  apps/backend/internal/office/config/import_reports_to_test.go
  apps/backend/internal/office/config/sync.go
  apps/backend/internal/office/config/sync_test.go
Due: gofmt, go-tests, go-lint

fix(plugins): require admin for global mutations
  apps/backend/internal/plugins/autoupdate_handlers_test.go
  apps/backend/internal/plugins/config_test.go
  apps/backend/internal/plugins/handlers.go
  apps/backend/internal/plugins/handlers_management_auth_test.go
  apps/backend/internal/plugins/handlers_test.go
  apps/backend/internal/plugins/marketplace_handlers.go
  apps/backend/internal/plugins/marketplace_handlers_test.go
Due: gofmt, go-tests, go-lint

test(e2e): align task dialog teardown with Escape behavior
  apps/web/e2e/tests/improve-kandev.spec.ts
  apps/web/e2e/tests/office/sidebar-office-gating.spec.ts
  apps/web/e2e/tests/workflow/workflow-agent-profile.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(plugins): reuse identity route setup
  apps/backend/internal/plugins/handlers_test.go
Due: gofmt, go-tests, go-lint

fix: add terminal tab context menu
  apps/web/components/session-tabs.tsx
  apps/web/components/task/task-right-panel.test.tsx
  apps/web/components/task/task-right-panel.tsx
  apps/web/components/task/terminal-tab.tsx
  apps/web/e2e/tests/terminal/terminal-dockview-ui.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(ui): add localized action confirmations
  apps/web/app/settings/workspace/workspace-repository-set-delete.tsx
  apps/web/app/settings/workspace/workspace-repository-sets-section.test.tsx
  apps/web/app/settings/workspace/workspace-repository-sets-section.tsx
  apps/web/components/confirmation/action-confirm-popover.test.tsx
  apps/web/components/confirmation/action-confirm-popover.tsx
  apps/web/components/confirmation/inline-confirm-actions.test.tsx
  apps/web/components/confirmation/inline-confirm-actions.tsx
  apps/web/components/task/close-terminal-confirm-popover.test.tsx
  apps/web/components/task/close-terminal-confirm-popover.tsx
  apps/web/components/task/terminal-close-inline-confirmation.tsx
  apps/web/e2e/tests/settings/mobile-workspace-repository-sets.spec.ts
  apps/web/e2e/tests/settings/workspace-repository-sets.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: route agents directly to rich output
  apps/backend/config/prompts/kandev-context.md
  apps/backend/config/prompts/office-context.md
  apps/backend/internal/mcp/server/rich_output.go
  apps/backend/internal/mcp/server/rich_output_test.go
  apps/backend/internal/mcp/server/sysprompt_sync_test.go
  docs/plans/agent-rich-output/plan.md
  docs/plans/agent-rich-output/task-10-agent-routing-regression.md
  docs/specs/agent-rich-output/spec.md
Due: gofmt, go-tests, go-lint

fix(office): preserve hierarchy during config sync
  apps/backend/internal/backendapp/adapters_office.go
  apps/backend/internal/office/config/import.go
  apps/backend/internal/office/config/import_reports_to_test.go
  apps/backend/internal/office/config/sync.go
  apps/backend/internal/office/config/sync_util.go
  apps/backend/internal/office/config/sync_util_test.go
  apps/backend/internal/office/onboarding/dto.go
  apps/backend/internal/office/onboarding/handler.go
  apps/backend/internal/office/onboarding/service.go
  apps/backend/internal/office/onboarding/service_test.go
  apps/web/app/office/setup/setup-wizard.tsx
  apps/web/app/office/workspace/settings/sync/use-sync-state.ts
  apps/web/lib/api/domains/office-extended-api.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: reconcile cross-agent session config on resume
  apps/backend/internal/agent/runtime/lifecycle/session.go
  apps/backend/internal/agent/runtime/lifecycle/session_runtime_layers_test.go
  apps/web/components/task/model-selector.test.ts
  apps/web/components/task/model-selector.tsx
  docs/plans/session-config-cross-agent-reconcile/plan.md
  docs/plans/session-config-cross-agent-reconcile/task-01-backend-replay-catalog-filter.md
  docs/plans/session-config-cross-agent-reconcile/task-02-frontend-selector-gate.md
  docs/specs/session-config-cross-agent-reconcile/spec.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

release: publish 0.90.0
  CHANGELOG.md
  apps/cli/package.json
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier-format

fix(web): retain focus when dismissing autocomplete
  apps/web/components/task-create-dialog-selectors.test.tsx
  apps/web/components/task-create-dialog-selectors.tsx
  apps/web/e2e/tests/chat/entity-reference-composer.spec.ts
  apps/web/e2e/tests/task/mobile-task-create-escape.spec.ts
  apps/web/e2e/tests/task/task-create-prompt-autocomplete-qa.spec.ts
  apps/web/hooks/use-inline-mention.test.ts
  apps/web/hooks/use-inline-mention.ts
  docs/plans/task-create-escape-dismissal/plan.md
  docs/plans/task-create-escape-dismissal/task-02-capture-autocomplete-escape.md
  docs/specs/tasks/task-create-escape-dismissal.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: fail safe on replay when agent config catalog is unknown
  apps/backend/internal/agent/runtime/lifecycle/session.go
  apps/backend/internal/agent/runtime/lifecycle/session_runtime_layers_test.go
Due: gofmt, go-tests, go-lint

fix(web): show loading state in selected model row
  apps/web/components/model-config-selector.test.tsx
  apps/web/components/model-config-selector.tsx
  apps/web/e2e/tests/settings/agent-profile-acp.spec.ts
  apps/web/e2e/tests/settings/mobile-agent-profile-config-selector.spec.ts
  docs/plans/model-options-loading-spinner/plan.md
  docs/plans/model-options-loading-spinner/task-01-selector-loading-state.md
  docs/plans/model-options-loading-spinner/task-02-desktop-mobile-e2e.md
  docs/specs/agents/dynamic-provider-options.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(office): allow changing an agent's manager from the configuration tab
  apps/web/app/office/agents/[id]/components/agent-configuration-tab.test.tsx
  apps/web/app/office/agents/[id]/components/agent-configuration-tab.tsx
  apps/web/app/office/agents/[id]/components/agent-overview-tab.tsx
  apps/web/app/office/agents/[id]/components/reports-to-options.test.ts
  apps/web/app/office/agents/[id]/components/reports-to-options.ts
  apps/web/e2e/tests/office/org-chart.spec.ts
  apps/web/src/locales/en/office.json
  apps/web/src/locales/pseudo/office.json
  apps/web/src/locales/pt-pt/office.json
  apps/web/src/locales/zh-cn/office.json
  apps/web/src/locales/zh-hk/office.json
  apps/web/src/locales/zh-tw/office.json
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(office): guard against reports_to cycles on import
  apps/backend/internal/office/config/import.go
  apps/backend/internal/office/config/import_reports_to_test.go
Due: gofmt, go-tests, go-lint

fix(office): harden reports_to import fixup
  apps/backend/internal/office/config/import.go
  apps/backend/internal/office/config/import_concurrency_test.go
  apps/backend/internal/office/config/import_reports_to_test.go
  apps/backend/internal/office/config/service.go
  apps/backend/internal/office/config/sync.go
Due: gofmt, go-tests, go-lint

fix(office): harden agent hierarchy updates
  apps/backend/internal/office/agents/service.go
  apps/backend/internal/office/agents/service_test.go
  apps/web/app/office/agents/[id]/components/agent-configuration-tab.test.tsx
  apps/web/app/office/agents/[id]/components/agent-configuration-tab.tsx
  apps/web/app/office/workspace/org/org-node-card.tsx
  apps/web/e2e/tests/office/mobile-office-reparent.spec.ts
  apps/web/e2e/tests/office/org-chart.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(office): resolve frontend typecheck errors
  apps/web/app/office/agents/[id]/components/agent-configuration-tab.test.tsx
  apps/web/app/office/agents/[id]/components/agent-configuration-tab.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test(office): stabilize hierarchy checks
  apps/web/app/office/agents/[id]/components/agent-configuration-tab.test.tsx
  apps/web/e2e/tests/office/org-chart.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(office): drive full-row RMW race tests through ApplyImport wiring
  apps/backend/internal/office/config/import_concurrent_write_test.go
Due: gofmt, go-tests, go-lint

fix(office): scope config-import writes to owned columns
  apps/backend/internal/office/config/import.go
  apps/backend/internal/office/config/import_concurrent_write_test.go
  apps/backend/internal/office/repository/sqlite/agents.go
  apps/backend/internal/office/repository/sqlite/agents_config_fields_test.go
  apps/backend/internal/office/repository/sqlite/projects.go
  apps/backend/internal/office/repository/sqlite/projects_config_fields_test.go
  apps/backend/internal/office/repository/sqlite/routines.go
  apps/backend/internal/office/repository/sqlite/routines_config_fields_test.go
  apps/backend/internal/office/repository/sqlite/skills.go
  apps/backend/internal/office/repository/sqlite/skills_config_fields_test.go
Due: gofmt, go-tests, go-lint

fix(lifecycle): clear stale dispatch gate after cancel
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction.go
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction_cancel_test.go
  apps/backend/internal/agent/runtime/lifecycle/session.go
  apps/backend/internal/agent/runtime/lifecycle/types.go
  docs/plans/lost-turn-completion-cancel-recovery/plan.md
  docs/plans/lost-turn-completion-cancel-recovery/task-01-clear-stale-dispatch-gate.md
  docs/specs/agent-stall-recovery/spec.md
Due: gofmt, go-tests, go-lint

fix(lifecycle): recover cancelled dispatch-only prompts
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction.go
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction_cancel_test.go
  docs/plans/lost-turn-completion-cancel-recovery/plan.md
  docs/plans/lost-turn-completion-cancel-recovery/task-01-clear-stale-dispatch-gate.md
Due: gofmt, go-tests, go-lint

fix(office): preserve scoped config import state
  apps/backend/internal/office/config/import.go
  apps/backend/internal/office/config/import_concurrent_write_test.go
  apps/backend/internal/office/models/skill_metadata.go
  apps/backend/internal/office/repository/sqlite/agents.go
  apps/backend/internal/office/repository/sqlite/agents_config_fields_test.go
  apps/backend/internal/office/repository/sqlite/skills.go
  apps/backend/internal/office/repository/sqlite/skills_config_fields_test.go
  apps/backend/internal/office/service/service.go
  apps/backend/internal/office/skills/service.go
Due: gofmt, go-tests, go-lint

fix: guard PATCH agent reports_to against hierarchy cycles
  apps/backend/internal/office/agents/service.go
  apps/backend/internal/office/agents/service_reports_to_test.go
Due: gofmt, go-tests, go-lint
