Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

media: screenshots for PR #3342
  mobile-pr-capture-env-switch-scroll--mobile-transcript-environment-switch.png
  pr-capture-env-switch-scroll--desktop-transcript-environment-switch.png
Due: none

fix(web): harden env-switch transcript placement lifecycle
  apps/web/components/task/chat/clamped-scroll-restore.test.ts
  apps/web/components/task/chat/clamped-scroll-restore.ts
  apps/web/components/task/chat/message-list-native-scroll.ts
  apps/web/hooks/domains/session/use-message-fetch-state.ts
  apps/web/hooks/domains/session/use-session-message-fetch.test.ts
  apps/web/hooks/domains/session/use-session-message-fetch.ts
  apps/web/hooks/domains/session/use-session-messages.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): guard transcript placement handoff paths
  apps/web/components/task/chat/message-list-native-scroll.ts
  apps/web/components/task/chat/message-list-native.tsx
  apps/web/lib/state/dockview-scroll-preserve.test.ts
  apps/web/lib/state/dockview-store.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): handle stale onboarding saves
  apps/web/components/onboarding-dialog.test.tsx
  apps/web/components/onboarding-dialog.tsx
  apps/web/e2e/tests/layout/backend-restart-page-recovery.spec.ts
  apps/web/e2e/tests/layout/mobile-backend-restart-page-recovery.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(settings): refresh storage operations screenshots
  docs/plans/system-data-storage-page-split/plan.md
  docs/plans/system-data-storage-page-split/task-01-split-system-pages.md
  docs/plans/system-data-storage-page-split/task-02-update-storage-operations-docs.md
  docs/screenshots/system-docker-cleanup.png
  docs/screenshots/system-maintenance-policy.png
  docs/screenshots/system-quarantine.png
  docs/screenshots/system-storage.png
  docs/specs/system-page/requirements/system-data-storage-pages.md
  docs/specs/system-page/system-design/system-data-storage-pages.md
Due: none

media: screenshots for PR #3348
  desktop-storage.png
  mobile-storage.png
Due: none

fix(settings): address system page review feedback
  apps/web/components/settings/system/system-invisible-copy.test.tsx
  docs/plans/system-data-storage-page-split/plan.md
  docs/plans/system-data-storage-page-split/task-01-split-system-pages.md
  docs/specs/system-page/system-design/system-data-storage-pages.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test: remove stale MCP coverage references
  apps/backend/internal/mcp/handlers/config_agent_handlers_test.go
  apps/backend/internal/mcp/server/config_agent_profile_auto_approve_test.go
Due: gofmt, go-tests, go-lint

fix(web): keep model selector visible after model switches
  apps/web/components/task/model-selector.test.ts
  apps/web/components/task/model-selector.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor(task): share clarification claim query
  apps/backend/internal/task/repository/sqlite/message_clarification_claim_index_test.go
  apps/backend/internal/task/repository/sqlite/message_clarification_response.go
Due: gofmt, go-tests, go-lint

fix(web): sync preview primary session across workflows
  apps/web/components/task/preview-session-tabs.test.tsx
  apps/web/components/task/preview-session-tabs.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(agents): harden Antigravity harness discovery
  apps/backend/internal/agent/agents/antigravity_acp.go
  apps/backend/internal/agent/agents/antigravity_acp_test.go
  apps/web/components/settings/profile-edit/remote-credentials-card.test.tsx
  docs/public/agents-and-profiles.md
  docs/specs/agents/requirements/antigravity-acp-agent.md
  docs/specs/agents/system-design/antigravity-acp-agent.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

media: screenshots for PR #3349
  chat-input-font-size--composer-1440px.png
  chat-input-font-size--composer-900px.png
  mobile-chat-input-font-size--mobile-composer.png
Due: none

fix: recover SSH sessions after dead runtime (#3330)
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh.go
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh_liveness_test.go
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh_operations.go
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh_stop_resume_test.go
  docs/plans/ssh-dead-runtime-resume/plan.md
  docs/plans/ssh-dead-runtime-resume/task-01-recover-dead-ssh-runtime.md
  docs/specs/executors/requirements/ssh-executor.md
  docs/specs/executors/system-design/ssh-executor.md
Due: gofmt, go-tests, go-lint

fix: close missing workspace recovery safety gaps
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh_operations.go
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh_operations_remote_test.go
  apps/backend/internal/orchestrator/executor/executor_resume.go
  apps/backend/internal/orchestrator/executor/executor_workspace_rehome.go
  apps/backend/internal/orchestrator/executor/executor_workspace_rehome_test.go
  apps/backend/internal/orchestrator/handlers/handlers.go
  apps/backend/internal/orchestrator/handlers/handlers_test.go
  apps/backend/internal/orchestrator/session_launch.go
  apps/backend/internal/orchestrator/task_launch_recovery.go
  apps/backend/internal/orchestrator/task_launch_recovery_test.go
  apps/backend/internal/task/repository/sqlite/task_environment_rehome.go
  apps/backend/internal/task/repository/sqlite/task_environment_rehome_test.go
  apps/web/components/settings/ssh-task-dir-reclamation-card.tsx
  apps/web/e2e/tests/ssh/launch-task.spec.ts
  apps/web/e2e/tests/ssh/workflow-missing-workspace-rehome.spec.ts
  apps/web/src/locales/en/executors.json
  apps/web/src/locales/pseudo/executors.json
  apps/web/src/locales/pt-pt/executors.json
  apps/web/src/locales/zh-cn/executors.json
  apps/web/src/locales/zh-hk/executors.json
  apps/web/src/locales/zh-tw/executors.json
  docs/plans/missing-workspace-rehome/plan.md
  docs/plans/missing-workspace-rehome/task-01-persist-rehome-generations.md
  docs/plans/missing-workspace-rehome/task-02-recover-launches.md
  docs/plans/missing-workspace-rehome/task-03-expose-recovery-warnings.md
  docs/plans/missing-workspace-rehome/task-04-prove-phase-recovery.md
  docs/specs/executors/requirements/coder-task-root-durability.md
  docs/specs/executors/system-design/coder-task-root-durability.md
  docs/specs/tasks/requirements/missing-workspace-rehome.md
  docs/specs/tasks/system-design/missing-workspace-rehome.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: recover pathless worktree failures (#3335)
  apps/backend/internal/task/repository/sqlite/task_environment.go
  apps/backend/internal/task/repository/sqlite/task_environment_test.go
  apps/web/hooks/domains/session/use-ensure-task-session.test.ts
  apps/web/hooks/domains/session/use-ensure-task-session.ts
  docs/plans/pathless-worktree-materialization-failure/plan.md
  docs/plans/pathless-worktree-materialization-failure/task-01-persist-pathless-failed-environment.md
  docs/plans/pathless-worktree-materialization-failure/task-02-latch-failed-session-ensure.md
  docs/specs/tasks/system-design/task-launch-failure-recovery.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: reject stale participant seat decisions
  apps/backend/internal/office/dashboard/decisions.go
  apps/backend/internal/workflow/repository/phase2_sqlite.go
  apps/backend/internal/workflow/repository/phase2_sqlite_test.go
Due: gofmt, go-tests, go-lint

fix(task): preserve active worktree during cutover
  apps/backend/internal/task/repository/sqlite/worktree_ownership_flat_precedence_test.go
  apps/backend/internal/task/repository/sqlite/worktree_ownership_normalize.go
  apps/backend/internal/task/repository/sqlite/worktree_ownership_targets.go
Due: gofmt, go-tests, go-lint

test(web): cover profile-only model option hydration
  apps/web/components/task/model-selector.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(agentctl): serialize ACP session transitions during reset
  apps/backend/internal/agentctl/server/adapter/transport/acp/adapter.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/adapter_session.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/adapter_session_test.go
Due: gofmt, go-tests, go-lint

fix: distinguish SSH PID permission failures (#3330)
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh_liveness_test.go
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh_operations.go
Due: gofmt, go-tests, go-lint

fix(web): harden preview workflow step navigation
  apps/web/components/task-preview-panel.test.tsx
  apps/web/components/task/workflow-step-disclosure.tsx
  apps/web/e2e/tests/kanban/preview-workflow-step-navigation.spec.ts
  docs/specs/guide/structure-and-ownership.md
  docs/specs/ui/requirements/kanban-preview-workflow-step-navigation.md
  docs/specs/ui/system-design/kanban-preview-workflow-step-navigation.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(tasks): cancel dependency candidate searches
  apps/web/components/task-create-dialog-dependencies.test.tsx
  apps/web/hooks/domains/task/use-task-edit-dialog-dependencies.test.ts
  apps/web/hooks/domains/task/use-task-edit-dialog-dependencies.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(docs): refresh Storage screenshot framing
  docs/audits/settings-typography/003-normalize-card-and-section-headings.md
  docs/plans/system-data-storage-page-split/task-02-update-storage-operations-docs.md
  docs/screenshots/system-docker-cleanup.png
  docs/screenshots/system-maintenance-policy.png
Due: none

fix(web): decouple failed session latch from final-step gate (#3351)
  apps/web/hooks/domains/session/use-ensure-task-session.test.ts
  apps/web/hooks/domains/session/use-ensure-task-session.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): suppress stale agent mutation errors
  apps/web/app/settings/agents/custom-tui-mcp-mount.test.tsx
  apps/web/components/settings/add-tui-agent-dialog.test.tsx
  apps/web/components/settings/add-tui-agent-dialog.tsx
  apps/web/components/settings/agents/agent-install-catalog.test.ts
  apps/web/components/settings/agents/agent-install-catalog.tsx
  apps/web/components/settings/custom-tui-mcp-card.tsx
  apps/web/components/settings/use-agent-update-dialog-state.test.ts
  apps/web/components/settings/use-agent-update-dialog-state.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: add diagrams to public guides
  docs/diagrams/automation-and-mcp.html
  docs/diagrams/configuration.html
  docs/diagrams/coordination.html
  docs/diagrams/git-operations.html
  docs/diagrams/integrations.html
  docs/diagrams/k8s.html
  docs/diagrams/tasks-and-workflows.html
  docs/diagrams/workflow-sync.html
  docs/public/automation-and-mcp.md
  docs/public/configuration.md
  docs/public/coordination.md
  docs/public/git-operations.md
  docs/public/integrations.md
  docs/public/k8s.md
  docs/public/tasks-and-workflows.md
  docs/public/workflow-sync.md
  docs/screenshots/automation-and-mcp.svg
  docs/screenshots/configuration.svg
  docs/screenshots/coordination.svg
  docs/screenshots/git-operations.svg
  docs/screenshots/integrations.svg
  docs/screenshots/k8s.svg
  docs/screenshots/tasks-and-workflows.svg
  docs/screenshots/workflow-sync.svg
Due: none

fix: guard missing recovery sessions
  apps/backend/internal/orchestrator/session_launch.go
  apps/backend/internal/orchestrator/session_scope_matrix_test.go
Due: gofmt, go-tests, go-lint

fix(docs): clarify Docker screenshot destination
  docs/screenshots/system-docker-cleanup.png
Due: none

fix: CAS all MCP executor profile updates
  apps/backend/internal/mcp/handlers/config_executor_handlers.go
  apps/backend/internal/mcp/handlers/config_executor_handlers_test.go
Due: gofmt, go-tests, go-lint

fix: block launch when post-repair attestation write fails
  apps/backend/internal/orchestrator/executor/executor_workspace_inventory_recovery.go
  apps/backend/internal/orchestrator/executor/executor_workspace_inventory_recovery_test.go
Due: gofmt, go-tests, go-lint

fix: require attested workspace repair before launch
  apps/backend/internal/orchestrator/executor/executor_execute.go
  apps/backend/internal/orchestrator/executor/executor_resume.go
  apps/backend/internal/orchestrator/executor/executor_workspace_inventory_attestation_test.go
  apps/backend/internal/orchestrator/executor/executor_workspace_inventory_recovery.go
  apps/backend/internal/orchestrator/executor/executor_workspace_inventory_recovery_test.go
  apps/backend/internal/task/repository/sqlite/workspace_inventory_recovery.go
  docs/public/operations.md
  docs/public/websocket-api.md
  docs/specs/agents/system-design/workspace-inventory-repair.md
Due: gofmt, go-tests, go-lint

fix(executors): gate unsafe Coder task roots
  apps/backend/internal/agent/runtime/lifecycle/executor_backend.go
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh.go
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh_lifecycle_test.go
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh_operations.go
  apps/backend/internal/agent/runtime/lifecycle/executor_ssh_operations_remote_test.go
  apps/backend/internal/orchestrator/executor/executor_state.go
  apps/backend/internal/orchestrator/executor/executor_state_test.go
  apps/web/e2e/tests/ssh/launch-task.spec.ts
  apps/web/src/locales/en/executors.json
  apps/web/src/locales/pseudo/executors.json
  apps/web/src/locales/pt-pt/executors.json
  apps/web/src/locales/zh-cn/executors.json
  apps/web/src/locales/zh-hk/executors.json
  apps/web/src/locales/zh-tw/executors.json
  docs/decisions/2026-09-03-coder-workdir-admission.md
  docs/decisions/INDEX.md
  docs/plans/missing-workspace-rehome/plan.md
  docs/plans/missing-workspace-rehome/task-03-expose-recovery-warnings.md
  docs/plans/missing-workspace-rehome/task-05-gate-coder-workdir.md
  docs/public/executors.md
  docs/specs/executors/requirements/coder-task-root-durability.md
  docs/specs/executors/system-design/coder-task-root-durability.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: tighten pending-move denial audit evidence
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/pending_move_cancellation.go
  apps/backend/internal/mcp/handlers/pending_move_read.go
  apps/backend/internal/mcp/handlers/pending_move_read_test.go
  apps/backend/internal/orchestrator/messagequeue/pending_move_exact_cancel.go
  apps/backend/internal/orchestrator/messagequeue/pending_move_exact_cancel_test.go
  apps/backend/internal/orchestrator/messagequeue/pending_move_exact_read.go
Due: gofmt, go-tests, go-lint

chore: record review remediation notes
  .kandev/review-notes.md
Due: none

test: clarify non-active session coverage (#3274)
  apps/backend/internal/office/engine_dispatcher/dispatcher_decisions_test.go
Due: gofmt, go-tests, go-lint

fix: make divergent workspace attestation monotonic
  apps/backend/internal/task/repository/sqlite/workspace_inventory_recovery.go
  apps/backend/internal/task/repository/sqlite/workspace_inventory_recovery_postgres_test.go
  apps/backend/internal/task/repository/sqlite/workspace_inventory_recovery_test.go
  docs/public/operations.md
  docs/specs/agents/system-design/workspace-inventory-repair.md
Due: gofmt, go-tests, go-lint

fix(web): clean up generation guard effects
  apps/web/hooks/domains/system/use-backend-generation-guard.test.ts
  apps/web/hooks/domains/system/use-backend-generation-guard.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
