Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

gofmt:
  name: gofmt (backend)
  entry: bash -c 'gofmt -w "$@"' --
  language: system
  pass_filenames: true

go-tests:
  name: Go tests (backend)
  entry: bash -c 'cd apps/backend && go test ./...'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint (backend)
  entry: bash -c 'cd apps/backend && golangci-lint run'
  language: system
  pass_filenames: false

prettier-format:
  name: Prettier format (web/cli/packages)
  entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
  language: system
  pass_filenames: true

web-lint:
  name: Web lint
  entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
  language: node
  pass_filenames: true
  additional_dependencies: []

web-tests:
  name: Web tests
  entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
  language: node
  pass_filenames: false
  additional_dependencies: []

web-typecheck:
  name: Typecheck web app
  entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

landing-typecheck:
  name: Typecheck landing page
  entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
  language: node
  pass_filenames: false
  additional_dependencies: []

fix(plugins): address code-review findings (backend)
  apps/backend/internal/plugins/delivery/deliverer.go
  apps/backend/internal/plugins/delivery/deliverer_test.go
  apps/backend/internal/plugins/handlers.go
  apps/backend/internal/plugins/handlers_test.go
  apps/backend/internal/plugins/host_test.go
  apps/backend/internal/plugins/manifest/manifest_test.go
  apps/backend/internal/plugins/manifest/semver.go
  apps/backend/internal/plugins/manifest/semver_test.go
  apps/backend/internal/plugins/manifest/validate.go
  apps/backend/internal/plugins/provider.go
  apps/backend/internal/plugins/runtime/manager.go
  apps/backend/internal/plugins/runtime/manager_test.go
  apps/backend/internal/plugins/service.go
  apps/backend/internal/plugins/service_sync.go
  apps/backend/internal/plugins/service_sync_test.go
  apps/backend/internal/plugins/service_test.go
  apps/backend/internal/plugins/store/fs_store.go
  apps/backend/internal/plugins/store/fs_store_test.go
Due: gofmt, go-tests, go-lint

fix(plugins): address code-review findings (frontend)
  apps/web/app/settings/plugins/page.test.tsx
  apps/web/components/app-sidebar/app-sidebar.test.tsx
  apps/web/components/plugins/plugin-error-boundary.test.tsx
  apps/web/components/plugins/plugin-error-boundary.tsx
  apps/web/components/plugins/plugin-nav-items.test.tsx
  apps/web/components/plugins/plugin-nav-items.tsx
  apps/web/components/plugins/plugin-slot.tsx
  apps/web/components/settings/plugins/use-plugin-actions.ts
  apps/web/lib/api/domains/plugins-api.test.ts
  apps/web/lib/api/domains/plugins-api.ts
  apps/web/lib/plugins/host.test.ts
  apps/web/lib/plugins/host.ts
  apps/web/src/settings-routes.plugin.test.ts
  apps/web/src/settings-routes.tsx
  apps/web/src/spa-routes.plugin.test.tsx
  apps/web/src/spa-routes.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(plugins): serialize per-plugin lifecycle + guard config writes
  apps/backend/internal/plugins/service.go
  apps/backend/internal/plugins/service_test.go
  apps/backend/internal/plugins/store/fs_store.go
  apps/backend/internal/plugins/store/fs_store_test.go
  apps/web/lib/plugins/host.test.ts
  apps/web/lib/plugins/host.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: handle unsettled ACP model configuration
  apps/backend/internal/agent/runtime/lifecycle/session.go
  apps/backend/internal/agent/runtime/lifecycle/session_test.go
  apps/web/components/model-config-selector.tsx
  apps/web/components/task/model-selector.test.ts
  docs/specs/ui/acp-model-configuration-summary.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: harden ACP model config state handling
  apps/backend/cmd/mock-agent/main.go
  apps/backend/cmd/mock-agent/session_config_test.go
  apps/backend/internal/agent/hostutility/manager_test.go
  apps/backend/internal/agent/runtime/lifecycle/event_types.go
  apps/backend/internal/agent/runtime/lifecycle/session_test.go
  apps/backend/internal/agent/runtime/lifecycle/types.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/adapter_session.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/set_config_option_test.go
  apps/backend/internal/agentctl/server/utility/acp_executor_test.go
  apps/backend/internal/orchestrator/event_handlers_streaming.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/task/service/service_turns_test.go
  apps/web/components/model-config-selector.test.tsx
  apps/web/components/model-config-selector.tsx
  apps/web/components/task/model-selector.tsx
  apps/web/components/task/selector-trigger-class.test.tsx
  docs/specs/INDEX.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test: clarify config description failures
  apps/backend/internal/utility/handlers/handlers_test.go
Due: gofmt, go-tests, go-lint

fix: remove redundant runtime mode assignment
  apps/backend/internal/task/service/service_turns.go
  apps/backend/internal/task/service/service_turns_test.go
Due: gofmt, go-tests, go-lint

fix: preserve provider defaults in task model selector
  apps/backend/cmd/mock-agent/main.go
  apps/backend/internal/agent/runtime/lifecycle/event_types.go
  apps/backend/internal/agent/runtime/lifecycle/session.go
  apps/backend/internal/agent/runtime/lifecycle/session_test.go
  apps/backend/internal/agent/runtime/lifecycle/types.go
  apps/backend/internal/backendapp/boot_state.go
  apps/backend/internal/backendapp/helpers_test.go
  apps/backend/internal/orchestrator/event_handlers_streaming.go
  apps/backend/internal/orchestrator/event_handlers_streaming_test.go
  apps/backend/internal/task/models/models.go
  apps/web/components/model-config-selector.test.tsx
  apps/web/components/model-config-selector.tsx
  apps/web/components/task/model-selector.test.ts
  apps/web/e2e/tests/chat/mobile-model-selector.spec.ts
  apps/web/e2e/tests/chat/model-selector-error.spec.ts
  docs/specs/ui/acp-model-configuration-summary.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

docs: decentralize ADR identifiers
  .agents/skills/record/SKILL.md
  .agents/skills/spec/SKILL.md
  docs/decisions/0001-file-based-knowledge-system.md
  docs/decisions/INDEX.md
Due: none

test(plugins): split service_test.go to satisfy file-length lint
  apps/backend/internal/plugins/service_install_test.go
  apps/backend/internal/plugins/service_test.go
Due: gofmt, go-tests, go-lint

fix(web): align sidebar resize handle (#1728)
  apps/web/components/app-sidebar/app-sidebar-resize-handle.tsx
  apps/web/e2e/tests/layout/sidebar-resize-handle.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): preserve settings sidebar on first click (#1744)
  apps/web/components/app-sidebar/app-sidebar-footer.test.tsx
  apps/web/components/app-sidebar/app-sidebar-footer.tsx
  apps/web/components/app-sidebar/app-sidebar.tsx
  apps/web/e2e/tests/settings/settings-gear-only.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: address model selector review feedback
  apps/backend/internal/agentctl/server/adapter/transport/acp/adapter.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/adapter_session.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/session_models_test.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/set_config_option_test.go
  apps/backend/internal/orchestrator/event_handlers_streaming.go
  apps/backend/internal/orchestrator/event_handlers_streaming_test.go
  apps/backend/internal/task/models/models.go
  apps/backend/internal/task/models/models_test.go
Due: gofmt, go-tests, go-lint

fix(web): stabilize remote repository picker
  apps/web/components/task-create-dialog-remote-repo-chip.test.tsx
  apps/web/components/task-create-dialog-remote-repo-chip.tsx
  apps/web/e2e/tests/task/create-task-branch-selector.spec.ts
  apps/web/e2e/tests/task/create-task-github-url.spec.ts
  apps/web/e2e/tests/task/create-task-remote-repo.spec.ts
  apps/web/e2e/tests/task/create-task-url-reopen-no-branches.spec.ts
  apps/web/e2e/tests/task/mobile-create-task-remote-repo.spec.ts
  apps/web/e2e/tests/task/subtask.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): commit remote URLs on blur
  apps/web/components/task-create-dialog-remote-repo-chip.test.tsx
  apps/web/components/task-create-dialog-remote-repo-chip.tsx
  apps/web/e2e/tests/task/create-task-github-url.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): preserve synced workflow guardrails
  apps/web/components/settings/workflow-card-actions.ts
  apps/web/components/settings/workflow-card.tsx
  apps/web/components/settings/workflow-read-only-actions.test.ts
  apps/web/components/settings/workflow-step-mutations.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): honor workflow transition priority
  apps/web/lib/workflows/replay-cycle-analysis.test.ts
  apps/web/lib/workflows/replay-cycle-analysis.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(web): warn about workflow replay cycles
  apps/web/components/settings/workflow-card-actions.test.ts
  apps/web/components/settings/workflow-card-actions.ts
  apps/web/components/settings/workflow-card.tsx
  apps/web/components/settings/workflow-cycle-diagnostic.test.tsx
  apps/web/components/settings/workflow-cycle-diagnostic.tsx
  apps/web/components/settings/workflow-mutation-guard.ts
  apps/web/components/settings/workflow-pipeline-editor.tsx
  apps/web/components/settings/workflow-step-mutations.ts
  apps/web/e2e/pages/workflow-settings-page.ts
  apps/web/e2e/tests/workflow/mobile-workflow-cycle-guardrails.spec.ts
  apps/web/e2e/tests/workflow/workflow-cycle-guardrails.spec.ts
  apps/web/lib/workflows/replay-cycle-analysis.test.ts
  apps/web/lib/workflows/replay-cycle-analysis.ts
  docs/plans/workflow-cycle-guardrails/plan.md
  docs/plans/workflow-cycle-guardrails/task-01-cycle-analyzer.md
  docs/plans/workflow-cycle-guardrails/task-02-mutation-guard.md
  docs/plans/workflow-cycle-guardrails/task-03-diagnostic-ui.md
  docs/plans/workflow-cycle-guardrails/task-04-e2e-verification.md
  docs/specs/INDEX.md
  docs/specs/workflow-cycle-guardrails/spec.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): improve cycle diagnostic layout
  apps/web/components/settings/workflow-cycle-diagnostic.test.tsx
  apps/web/components/settings/workflow-cycle-diagnostic.tsx
  apps/web/e2e/tests/workflow/mobile-workflow-cycle-guardrails.spec.ts
  docs/specs/workflow-cycle-guardrails/spec.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): align cycle guardrails with runtime
  apps/web/components/settings/workflow-card-actions.test.ts
  apps/web/components/settings/workflow-card-actions.ts
  apps/web/components/settings/workflow-card.tsx
  apps/web/components/settings/workflow-mutation-guard.ts
  apps/web/components/settings/workflow-pipeline-editor.tsx
  apps/web/e2e/pages/workflow-settings-page.ts
  apps/web/e2e/tests/workflow/mobile-workflow-cycle-guardrails.spec.ts
  apps/web/e2e/tests/workflow/workflow-cycle-guardrails.spec.ts
  apps/web/lib/workflows/replay-cycle-analysis.test.ts
  apps/web/lib/workflows/replay-cycle-analysis.ts
  docs/specs/INDEX.md
  docs/specs/workflow-cycle-guardrails/spec.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): wrap reorder response in act
  apps/web/components/settings/workflow-reorder-actions.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): address final cycle review findings
  apps/web/components/settings/workflow-card-actions.ts
  apps/web/components/settings/workflow-reorder-actions.test.ts
  apps/web/lib/workflows/replay-cycle-analysis.test.ts
  apps/web/lib/workflows/replay-cycle-analysis.ts
  docs/plans/workflow-cycle-guardrails/plan.md
  docs/plans/workflow-cycle-guardrails/task-01-cycle-analyzer.md
  docs/plans/workflow-cycle-guardrails/task-02-mutation-guard.md
  docs/specs/workflow-cycle-guardrails/spec.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): harden workflow cycle guardrails
  apps/web/components/settings/workflow-card-actions.test.ts
  apps/web/components/settings/workflow-card-actions.ts
  apps/web/components/settings/workflow-card.tsx
  apps/web/components/settings/workflow-cycle-diagnostic.test.tsx
  apps/web/components/settings/workflow-cycle-diagnostic.tsx
  apps/web/components/settings/workflow-mutation-guard.ts
  apps/web/components/settings/workflow-step-mutations.ts
  apps/web/e2e/pages/workflow-settings-page.ts
  apps/web/lib/workflows/replay-cycle-analysis.test.ts
  apps/web/lib/workflows/replay-cycle-analysis.ts
  docs/plans/workflow-cycle-guardrails/plan.md
  docs/plans/workflow-cycle-guardrails/task-01-cycle-analyzer.md
  docs/plans/workflow-cycle-guardrails/task-02-mutation-guard.md
  docs/plans/workflow-cycle-guardrails/task-03-diagnostic-ui.md
  docs/plans/workflow-cycle-guardrails/task-04-e2e-verification.md
  docs/specs/workflow-cycle-guardrails/spec.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): restore floating configuration chat
  apps/web/components/config-chat/config-chat-panel.tsx
  apps/web/components/config-chat/config-chat-provider.tsx
  apps/web/components/config-chat/config-chat-setup.test.tsx
  apps/web/components/config-chat/config-chat-setup.tsx
  apps/web/components/config-chat/use-config-chat.test.ts
  apps/web/components/config-chat/use-config-chat.ts
  apps/web/components/quick-chat/chat-type-selector.tsx
  apps/web/components/quick-chat/quick-chat-modal.test.ts
  apps/web/components/quick-chat/quick-chat-modal.tsx
  apps/web/components/quick-chat/quick-chat-session-view.tsx
  apps/web/components/quick-chat/quick-chat-setup.test.tsx
  apps/web/components/quick-chat/quick-chat-setup.tsx
  apps/web/components/quick-chat/use-quick-chat-modal.test.ts
  apps/web/components/quick-chat/use-quick-chat-modal.ts
  apps/web/e2e/tests/chat/mobile-quick-chat-repository.spec.ts
  apps/web/e2e/tests/chat/quick-chat.spec.ts
  apps/web/e2e/tests/settings/config-chat-popover.spec.ts
  apps/web/e2e/tests/settings/mobile-configuration-chat.spec.ts
  apps/web/lib/state/slices/ui/quick-chat-actions.test.ts
  apps/web/lib/state/slices/ui/types.ts
  apps/web/lib/state/slices/ui/ui-slice.ts
  apps/web/lib/state/store.ts
  docs/decisions/0043-typed-quick-chat-sessions.md
  docs/plans/typed-quick-chat-sessions/plan.md
  docs/plans/typed-quick-chat-sessions/task-02-unified-frontend-sessions.md
  docs/specs/tasks/quick-chat-expiration.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): validate remote repository URLs
  apps/web/components/task-create-dialog-remote-repo-chip.test.tsx
  apps/web/components/task-create-dialog-remote-repo-chip.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

ci: build and ship the e2e fixture plugin package to E2E shards
  .github/workflows/e2e-tests.yml
Due: none

fix(web): address cycle guardrail review feedback
  apps/web/components/settings/workflow-card.tsx
  apps/web/e2e/tests/workflow/workflow-cycle-guardrails.spec.ts
  docs/plans/workflow-cycle-guardrails/task-03-diagnostic-ui.md
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(orchestrator): persist ACP session id in session metadata
  apps/backend/internal/orchestrator/event_handlers.go
  apps/backend/internal/orchestrator/event_handlers_acp_metadata_test.go
Due: gofmt, go-tests, go-lint

fix(orchestrator): make ACP session id mirror atomic and rotation-safe
  apps/backend/internal/orchestrator/event_handlers.go
  apps/backend/internal/orchestrator/event_handlers_acp_metadata_test.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/task/handlers/process_handlers_test.go
  apps/backend/internal/task/repository/interface.go
  apps/backend/internal/task/repository/sqlite/session.go
Due: gofmt, go-tests, go-lint

fix(docs): address review findings
  apps/web/e2e/README.md
  docs/public/extending-kandev.md
  docs/public/feature-status.md
  docs/public/media/feature-guides/manifest.json
  docs/public/operations.md
  docs/public/run-as-a-service.md
  docs/public/security.md
  scripts/validate-public-docs.mjs
  scripts/validate-public-docs.test.mjs
Due: prettier-format

docs: clarify validation contracts
  scripts/validate-public-docs.mjs
Due: none

docs: complete validator API contracts
  scripts/validate-public-docs.mjs
Due: none

docs: clarify validator existence check
  scripts/validate-public-docs.mjs
Due: none

fix(web): commit remote URLs on tab
  apps/web/components/task-create-dialog-remote-repo-chip.test.tsx
  apps/web/components/task-create-dialog-remote-repo-chip.tsx
  apps/web/e2e/tests/task/create-task-remote-repo.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): preserve remote picker interactions
  apps/web/components/task-create-dialog-remote-repo-chip-label.test.ts
  apps/web/components/task-create-dialog-remote-repo-chip.test.tsx
  apps/web/components/task-create-dialog-remote-repo-chip.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(share): render conversation markdown
  apps/backend/go.mod
  apps/backend/go.sum
  apps/backend/internal/task/share/gist_css.go
  apps/backend/internal/task/share/gist_html_test.go
  apps/backend/internal/task/share/gist_html_text.go
  apps/web/components/task/share/share-dialog.test.tsx
  apps/web/components/task/share/share-snapshot-preview.tsx
  apps/web/e2e/tests/chat/mobile-share-markdown.spec.ts
  apps/web/e2e/tests/chat/share-markdown-flow.ts
  apps/web/e2e/tests/chat/share-markdown.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat(web): add quick chat entry points on mobile
  apps/web/components/kanban/kanban-header-mobile.test.tsx
  apps/web/components/kanban/kanban-header-mobile.tsx
  apps/web/components/kanban/kanban-header.tsx
  apps/web/components/quick-chat/quick-chat-modal.tsx
  apps/web/components/task/mobile/session-task-switcher-sheet.tsx
  apps/web/e2e/tests/chat/mobile-quick-chat-entry.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(plugins): draft Host data API proto (read + write DTOs)
  docs/plans/plugins/HOST-DATA-API.proto
Due: none

Path conditions:
  gofmt: any of: ^apps/backend/.*\.go$
  go-tests: any of: \.go$
  go-lint: any of: \.go$
  prettier-format: any of: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
  web-lint: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-tests: any of: ^apps/web/.*\.(ts|tsx|js|jsx)$
  web-typecheck: any of: ^apps/web/.*\.(ts|tsx)$
  landing-typecheck: any of: ^apps/landing/.*\.(ts|tsx)$
