Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

test(plugins): add fixup coverage for agent profile path
  apps/backend/internal/plugins/host_utility.go
  apps/backend/internal/plugins/host_utility_test.go
  apps/web/components/settings/plugins/plugin-config-form.agent-profile.test.tsx
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(scripts): make pr-state work on macOS's stock bash and jq 1.6
  scripts/pr-state
  scripts/pr-state.test.sh
Due: none

feat(plugins): add task priority and labels writes
  apps/backend/internal/backendapp/adapters_plugin_writer_test.go
  apps/backend/internal/backendapp/services.go
  apps/backend/internal/plugins/host_data_mappers.go
  apps/backend/internal/plugins/host_data_test.go
  apps/backend/internal/plugins/host_write.go
  apps/backend/internal/plugins/host_write_test.go
  apps/backend/internal/task/handlers/task_http_handlers.go
  apps/backend/internal/task/models/task_labels.go
  apps/backend/internal/task/service/service_requests.go
  apps/backend/internal/task/service/service_tasks.go
  apps/backend/internal/task/service/service_test.go
  apps/backend/internal/task/service/task_labels.go
  apps/backend/internal/task/service/task_labels_test.go
  apps/backend/pkg/pluginsdk/data_types.go
  apps/backend/pkg/pluginsdk/data_types_test.go
  apps/backend/pkg/pluginsdk/protocol_test.go
  apps/backend/proto/kandev/plugin/v1/plugin.pb.go
  apps/backend/proto/kandev/plugin/v1/plugin.proto
Due: gofmt, go-tests, go-lint

test(plugins): cover task priority write results
  apps/backend/internal/plugins/host_data_test.go
  apps/backend/internal/plugins/host_write_test.go
  apps/backend/pkg/pluginsdk/protocol_test.go
Due: gofmt, go-tests, go-lint

feat(plugins): expose workflow step id on read-side Task contract
  apps/backend/internal/plugins/host_data_mappers.go
  apps/backend/internal/plugins/host_data_test.go
  apps/backend/pkg/pluginsdk/data_types.go
  apps/backend/pkg/pluginsdk/data_types_test.go
  apps/backend/proto/kandev/plugin/v1/plugin.pb.go
  apps/backend/proto/kandev/plugin/v1/plugin.proto
Due: gofmt, go-tests, go-lint

docs(plugins): clarify WorkflowStepID is an opaque placement identifier
  apps/backend/internal/plugins/host_data_test.go
  apps/backend/pkg/pluginsdk/data_types.go
  apps/backend/pkg/pluginsdk/data_types_test.go
  apps/backend/proto/kandev/plugin/v1/plugin.pb.go
  apps/backend/proto/kandev/plugin/v1/plugin.proto
Due: gofmt, go-tests, go-lint

fix: address review threads — labels validation, unreachable error, proto test
  apps/backend/internal/task/handlers/task_http_handlers.go
  apps/backend/internal/task/service/service_tasks.go
  apps/backend/internal/task/service/task_labels.go
  apps/backend/internal/task/service/task_labels_test.go
  apps/backend/pkg/pluginsdk/data_types_test.go
Due: gofmt, go-tests, go-lint

fix(plugins): replace duplicated priority validator with shared service call
  apps/backend/internal/plugins/host_write.go
Due: gofmt, go-tests, go-lint

fix(service): reject null and non-array scalars in ValidateTaskLabels
  apps/backend/internal/task/service/task_labels.go
  apps/backend/internal/task/service/task_labels_test.go
Due: gofmt, go-tests, go-lint

feat(scripts): add pr-await CI gate to collapse PR polling into one call
  scripts/pr-await
  scripts/pr-await.test.sh
Due: none

docs(pr-fixup): route CI waiting through pr-await instead of timed polling
  .agents/agents/pr-poller.md
  .agents/skills/pr-fixup/SKILL.md
  AGENTS.md
Due: none

fix(scripts): stop pr-await reporting clean on unverifiable evidence
  .agents/skills/pr-fixup/SKILL.md
  scripts/pr-await
  scripts/pr-await.test.sh
Due: none

fix(scripts): record pr-await's toolchain instead of gating on it
  .agents/skills/pr-fixup/SKILL.md
  scripts/pr-await
  scripts/pr-await.test.sh
Due: none

fix(scripts): keep pr-await's deadline absolute and its JSON contract total
  .agents/agents/pr-poller.md
  scripts/pr-await
  scripts/pr-await.test.sh
Due: none

fix(scripts): close pr-await review round two (mergeability, deadline, CI wiring)
  Makefile
  scripts/pr-await
  scripts/pr-await.test.sh
Due: none

fix(scripts): share one read floor per poll and normalize merge state for JSON
  scripts/pr-await
  scripts/pr-await.test.sh
Due: none

fix(scripts): stop pr-await double-counting threads and trusting empty rollups
  scripts/pr-await
  scripts/pr-await.test.sh
Due: none

fix(scripts): bound pr-await's GitHub reads by the remaining deadline
  scripts/pr-await
  scripts/pr-await.test.sh
Due: none

fix(scripts): discard non-current snapshots instead of guarding each decision
  scripts/pr-await
  scripts/pr-await.test.sh
Due: none

test(scripts): cover pr-await's no-timeout fallback with a seam, not PATH surgery
  scripts/pr-await
  scripts/pr-await.test.sh
Due: none

fix(web): refresh handoff profile capability status after agent install
  apps/web/lib/ws/handlers/agents.test.ts
  apps/web/lib/ws/handlers/agents.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): sync settingsAgents capability_status on agent.available.updated
  apps/web/e2e/tests/session/session-handoff-unhealthy-profile.spec.ts
  apps/web/hooks/domains/settings/use-profile-duplicate.test.ts
  apps/web/lib/ws/handlers/agents.test.ts
  apps/web/lib/ws/handlers/agents.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): commit handoff unhealthy-profile e2e spec
  apps/web/e2e/tests/session/session-handoff-unhealthy-profile.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): propagate settled capability status from the HTTP/poll path too
  apps/web/lib/state/slices/settings/settings-slice.test.ts
  apps/web/lib/state/slices/settings/settings-slice.ts
  apps/web/lib/state/slices/settings/types.ts
  apps/web/lib/ws/handlers/agents.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): distinguish empty handoff states for unhealthy agents
  apps/web/components/task/handoff-profile-menu-items.test.ts
  apps/web/components/task/handoff-profile-menu-items.tsx
  apps/web/src/locales/en/task.json
  apps/web/src/locales/pseudo/task.json
  apps/web/src/locales/pt-pt/task.json
  apps/web/src/locales/zh-cn/task.json
  apps/web/src/locales/zh-hk/task.json
  apps/web/src/locales/zh-tw/task.json
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): carry capability status onto duplicated profile options
  apps/web/hooks/domains/settings/use-profile-duplicate.test.ts
  apps/web/hooks/domains/settings/use-profile-duplicate.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): hide handoff profiles whose agent capability isn't ready
  apps/web/components/task/handoff-profile-menu-items.test.ts
  apps/web/components/task/handoff-profile-menu-items.tsx
  apps/web/hooks/domains/settings/use-healthy-agent-profiles.ts
  apps/web/lib/ws/handlers/agents.test.ts
  apps/web/lib/ws/handlers/agents.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(scripts): preserve last-good pr-await evidence on a failed read
  scripts/pr-await
  scripts/pr-await.test.sh
Due: none

docs: fix scope/wording gaps in pr-poller, pr-fixup, and AGENTS.md
  .agents/agents/pr-poller.md
  .agents/skills/pr-fixup/SKILL.md
  AGENTS.md
Due: none

fix(web): interpolate max into the clarification over-limit message
  apps/web/components/task/chat/clarification-custom-input.test.tsx
  apps/web/components/task/chat/clarification-overlay-parts.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): mark unavailable non-inference agents unhealthy in Handoff
  apps/web/hooks/domains/settings/use-profile-duplicate.test.ts
  apps/web/hooks/domains/settings/use-profile-duplicate.ts
  apps/web/lib/state/slices/settings/settings-slice.test.ts
  apps/web/lib/state/slices/settings/types.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): hydrate GitHub PRs unconditionally on the tasks page
  apps/web/app/tasks/tasks-page-client.mr-hydration.test.tsx
  apps/web/app/tasks/tasks-page-client.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(auth): document raw authority validation (#2869)
  docs/specs/integrations/github-authentication.md
Due: none

test: add timeout to jq regression test
  scripts/pr-state.test.sh
Due: none

chore(acp): pin acp-go-sdk to merged kdlbs fork commit
  apps/backend/go.mod
  apps/backend/go.sum
Due: none

fix(web): harden handoff profile readiness
  apps/web/app/settings/agents/[agentId]/page.tsx
  apps/web/components/task/handoff-profile-menu-items.test.ts
  apps/web/components/task/handoff-profile-menu-items.tsx
  apps/web/components/task/new-session-dialog.test.tsx
  apps/web/components/task/new-session-dialog.tsx
  apps/web/e2e/tests/session/session-handoff-unhealthy-profile.spec.ts
  apps/web/lib/agent-executor-compat.test.ts
  apps/web/lib/agent-executor-compat.ts
  apps/web/lib/state/slices/settings/settings-slice.test.ts
  apps/web/lib/state/slices/settings/settings-slice.ts
  apps/web/lib/state/slices/settings/types.test.ts
  apps/web/lib/state/slices/settings/types.ts
  apps/web/lib/ws/handlers/agents.test.ts
  apps/web/lib/ws/handlers/agents.ts
  apps/web/src/locales/pt-pt/task.json
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(backend): deduplicate repeated JSON-schema and error-message string literals
  apps/backend/internal/clarification/handlers.go
  apps/backend/internal/mcp/server/handlers.go
  apps/backend/internal/mcp/server/question_handlers.go
  apps/backend/internal/mcp/server/server.go
Due: gofmt, go-tests, go-lint

fix(backend): use portable ON CONFLICT instead of SQLite-only INSERT OR IGNORE
  apps/backend/internal/task/repository/sqlite/clarification_bundle_query_test.go
Due: gofmt, go-tests, go-lint

fix: harden pr-await review gates
  scripts/pr-await
  scripts/pr-await.test.sh
  scripts/pr-state
  scripts/pr-state.test.sh
Due: none
