Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

fix(agents): preserve live siblings during profile creation
  apps/web/app/settings/agents/[agentId]/agent-create-target-catalogue.test.tsx
  apps/web/app/settings/agents/[agentId]/agent-save-helpers.ts
  apps/web/app/settings/agents/[agentId]/page.tsx
  apps/web/hooks/domains/settings/use-agent-creation-store-sync.test.tsx
  apps/web/hooks/domains/settings/use-agent-creation-store-sync.ts
  docs/plans/target-profile-creation-catalogue/plan.md
  docs/plans/target-profile-creation-catalogue/task-01-preserve-current-target.md
  docs/specs/agents/requirements/target-profile-creation-catalogue.md
  docs/specs/agents/system-design/target-profile-creation-catalogue.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(agents): satisfy discovery cleanup static checks
  apps/backend/internal/agent/discovery/host_cli.go
  apps/backend/internal/agent/hostcli/hostcli_test.go
Due: gofmt, go-tests, go-lint

fix(agents): reconcile partial creation with published profiles
  apps/web/app/settings/agents/[agentId]/agent-create-target-catalogue.test.tsx
  apps/web/app/settings/agents/[agentId]/agent-save-helpers.ts
  apps/web/hooks/domains/settings/use-agent-creation-store-sync.test.tsx
  apps/web/hooks/domains/settings/use-agent-creation-store-sync.ts
  docs/plans/target-profile-creation-catalogue/plan.md
  docs/plans/target-profile-creation-catalogue/task-01-preserve-current-target.md
  docs/specs/agents/system-design/target-profile-creation-catalogue.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(workspaces): preserve live catalogue during settings deletion
  apps/web/app/settings/workspace/workspace-delete-catalogue.integration.test.tsx
  apps/web/app/settings/workspace/workspace-delete-catalogue.test-helpers.tsx
  apps/web/app/settings/workspace/workspace-edit-client.tsx
  docs/plans/workspace-delete-catalogue-preservation/plan.md
  docs/plans/workspace-delete-catalogue-preservation/task-01-preserve-delete-catalogue.md
  docs/specs/workspaces/requirements/deletion.md
  docs/specs/workspaces/system-design/deletion.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: preserve profile selector alignment and mock catalogue copy
  apps/backend/cmd/mock-agent/host_cli.go
  apps/web/components/settings/profile-capabilities-row.tsx
  apps/web/components/settings/profile-model-fields.test.tsx
  apps/web/components/settings/profile-model-fields.tsx
  apps/web/e2e/tests/settings/mobile-agent-host-cli.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(tasks): exercise transfer commit rollback through an approved projection
  apps/backend/internal/task/repository/sqlite/task_transfer_test.go
Due: gofmt, go-tests, go-lint

refactor(tasks): keep transfer admission within complexity limits
  apps/backend/internal/task/repository/sqlite/task_transfer.go
Due: gofmt, go-tests, go-lint

fix(tasks): correct transfer fixtures and remaining lint findings
  apps/backend/internal/mcp/handlers/task_transfer_handler.go
  apps/backend/internal/task/repository/sqlite/task_transfer_rollback_test.go
  apps/backend/internal/task/repository/sqlite/task_transfer_test.go
Due: gofmt, go-tests, go-lint

fix(executors): preserve live choices after owner deletion
  apps/web/app/settings/executor/[id]/executor-delete-catalogue-publication.test-helpers.tsx
  apps/web/app/settings/executor/[id]/executor-delete-catalogue-publication.test.tsx
  apps/web/app/settings/executor/[id]/page.tsx
  docs/plans/executor-delete-catalogue-preservation/plan.md
  docs/plans/executor-delete-catalogue-preservation/task-01-preserve-owner-delete.md
  docs/specs/executors/requirements/executor-deletion.md
  docs/specs/executors/system-design/executor-deletion.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test(tasks): fix trimmed source paths and enabled CEO fixtures
  apps/backend/internal/backendapp/task_transfer_coordinator_test.go
  apps/backend/internal/db/sqlguard/analyzer_test.go
Due: gofmt, go-tests, go-lint

fix(tasks): project CEO enablement and synchronize retry proof
  apps/backend/internal/backendapp/task_transfer_coordinator_test.go
  apps/backend/internal/mcp/handlers/handlers_ask_retry_test.go
  apps/backend/internal/office/repository/sqlite/agents.go
  apps/backend/internal/office/repository/sqlite/agents_enabled_test.go
Due: gofmt, go-tests, go-lint

fix(executors): preserve live choices during executor creation
  apps/web/app/settings/executor/new/executor-create-catalogue-publication.test-helpers.tsx
  apps/web/app/settings/executor/new/executor-create-catalogue-publication.test.tsx
  apps/web/app/settings/executor/new/page.tsx
  docs/plans/executor-create-catalogue-preservation/plan.md
  docs/plans/executor-create-catalogue-preservation/task-01-publish-current-catalogue.md
  docs/specs/executors/requirements/executor-create-catalogue-publication.md
  docs/specs/executors/system-design/executor-create-catalogue-publication.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(executors): preserve live choices during initial loading
  apps/web/hooks/domains/settings/initial-executor-catalogue-read.ts
  apps/web/hooks/domains/settings/use-settings-data-executor-publication.test.tsx
  apps/web/hooks/domains/settings/use-settings-data.ts
  docs/plans/executor-initial-catalogue-preservation/plan.md
  docs/plans/executor-initial-catalogue-preservation/task-01-preserve-initial-publication.md
  docs/specs/executors/requirements/initial-catalogue-loading.md
  docs/specs/executors/system-design/initial-catalogue-loading.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: keep durable cancellation recoverable under journal pressure
  apps/backend/internal/agent/runtime/agentctl/agent.go
  apps/backend/internal/agent/runtime/lifecycle/durable_delivery_ack.go
  apps/backend/internal/agent/runtime/lifecycle/streams.go
  apps/backend/internal/agentctl/server/process/delivery_batch.go
  apps/backend/internal/agentctl/server/process/manager.go
Due: gofmt, go-tests, go-lint

fix: preserve saved global secrets during initial loading
  apps/web/components/settings/secrets-settings.global-publication.test.tsx
  apps/web/hooks/domains/settings/use-secrets.global-publication.test.tsx
  apps/web/hooks/domains/settings/use-secrets.test.ts
  apps/web/hooks/domains/settings/use-secrets.ts
  docs/plans/preserve-saved-global-secrets/plan.md
  docs/plans/preserve-saved-global-secrets/task-01-guard-global-publication.md
  docs/specs/workspaces/requirements/repository-secrets.md
  docs/specs/workspaces/system-design/repository-secrets.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test(agents): isolate PostgreSQL profile ordering races
  apps/backend/internal/agent/settings/store/sqlite_profile_order_concurrency_test.go
  apps/backend/internal/testutil/postgres.go
  apps/backend/internal/testutil/postgres_dsn.go
  apps/backend/internal/testutil/postgres_dsn_test.go
  apps/backend/internal/testutil/postgres_pool_test.go
Due: gofmt, go-tests, go-lint

test(agents): cover PostgreSQL fixture repairs in CI and work order
  apps/backend/internal/agent/settings/store/postgres_profile_order_fixture_test.go
  apps/backend/internal/testutil/postgres_dsn.go
  apps/backend/internal/testutil/postgres_dsn_test.go
  docs/plans/agent-profile-list-ordering/plan.md
  docs/plans/agent-profile-list-ordering/task-01-profile-order-backend.md
Due: gofmt, go-tests, go-lint

fix: preserve saved workspace secrets during initial loading
  apps/web/components/settings/secrets-settings.workspace-publication.test.tsx
  apps/web/hooks/domains/settings/use-secrets.ts
  apps/web/hooks/domains/settings/use-secrets.workspace-publication.test.tsx
  docs/plans/preserve-saved-workspace-secrets/plan.md
  docs/plans/preserve-saved-workspace-secrets/task-01-fence-workspace-publication.md
  docs/specs/workspaces/requirements/workspace-secret-catalogue.md
  docs/specs/workspaces/system-design/workspace-secret-catalogue.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(agents): preserve accepted creation across catalogue updates
  apps/backend/internal/agent/settings/store/postgres_profile_order_fixture_test.go
  apps/web/app/settings/agents/[agentId]/agent-create-catalogue.test.tsx
  apps/web/app/settings/agents/[agentId]/agent-create-target-catalogue.test.tsx
  apps/web/app/settings/agents/[agentId]/agent-save-helpers.ts
  apps/web/app/settings/agents/page.test.tsx
  apps/web/components/settings/agents/agent-profiles-section-delete-inventory.test.tsx
  apps/web/components/settings/custom-tui-mcp-card.test.tsx
  apps/web/e2e/tests/settings/agent-profile-order-selectors.spec.ts
  apps/web/hooks/domains/settings/use-agent-creation-store-sync.test.tsx
  apps/web/hooks/domains/settings/use-agent-creation-store-sync.ts
  docs/plans/agent-profile-list-ordering/plan.md
  docs/plans/agent-profile-list-ordering/task-02-profile-order-ui.md
  docs/specs/agents/system-design/creation-catalogue.md
  docs/specs/agents/system-design/profile-list-ordering.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(ci): release Playwright image before container e2e
  .github/workflows/e2e-tests.yml
Due: none

fix(agentctl): align replay closure with shared transactions
  apps/backend/internal/agentctl/journal/journal.go
  apps/backend/internal/agentctl/journal/journal_test.go
Due: gofmt, go-tests, go-lint

fix(session): recover interrupted Quick Chat through existing Resume
  apps/backend/internal/orchestrator/session_launch.go
  apps/backend/internal/orchestrator/session_native_delivery_recovery_test.go
  apps/backend/internal/orchestrator/session_workspace_recovery_block_test.go
  apps/web/e2e/tests/chat/mobile-quick-chat-resume-recovery.spec.ts
  apps/web/e2e/tests/chat/quick-chat-resume-recovery-helpers.ts
  apps/web/e2e/tests/chat/quick-chat-resume-recovery.spec.ts
  apps/web/hooks/domains/session/use-session-resumption-manual-recovery.test.ts
  apps/web/hooks/domains/session/use-session-resumption.test.ts
  apps/web/hooks/domains/session/use-session-resumption.ts
  apps/web/lib/services/session-recovery-service.test.ts
  apps/web/lib/services/session-recovery-service.ts
  docs/plans/quick-chat-interrupted-prompt-recovery/plan.md
  docs/plans/quick-chat-interrupted-prompt-recovery/task-01-workspace-access.md
  docs/plans/quick-chat-interrupted-prompt-recovery/task-02-manual-resume.md
  docs/specs/platform/requirements/durable-agent-delivery.md
  docs/specs/platform/system-design/durable-agent-delivery.md
  docs/specs/platform/system-design/interrupted-prompt-recovery.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(mcp): await retry question publication before count assertions
  apps/backend/internal/mcp/handlers/handlers_ask_retry_test.go
  docs/plans/agent-profile-list-ordering/task-01-profile-order-backend.md
Due: gofmt, go-tests, go-lint

media: screenshots for PR #1785 at 84448b0997
  mobile-queued-session-ownership--queued-session-status-mobile.png
  queued-session-ownership--queued-session-status-desktop.png
Due: none

fix: retain prompt jump alignment through prepend
  apps/web/components/task/chat/message-list-native-scroll.ts
  apps/web/components/task/chat/message-list-native.test.tsx
  docs/plans/agent-creation-ci-compatibility/plan.md
  docs/plans/agent-creation-ci-compatibility/task-01-restore-new-agent-publication.md
  docs/plans/preserve-prompt-jump-alignment/plan.md
  docs/plans/preserve-prompt-jump-alignment/task-01-retain-start-target.md
  docs/specs/agents/system-design/creation-catalogue.md
  docs/specs/ui/system-design/pinned-prompt-availability.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: publish accepted new agents across catalogue changes
  apps/web/app/settings/agents/[agentId]/agent-create-catalogue.test.tsx
  apps/web/app/settings/agents/[agentId]/agent-create-target-catalogue.test.tsx
  apps/web/app/settings/agents/[agentId]/agent-save-helpers.ts
  apps/web/app/settings/agents/page.test.tsx
  apps/web/components/settings/agents/agent-profiles-section-delete-inventory.test.tsx
  apps/web/components/settings/custom-tui-mcp-card.test.tsx
  apps/web/hooks/domains/settings/use-agent-creation-store-sync.ts
  docs/plans/agent-creation-ci-compatibility/plan.md
  docs/plans/agent-creation-ci-compatibility/task-01-restore-new-agent-publication.md
  docs/plans/preserve-prompt-jump-alignment/plan.md
  docs/plans/preserve-prompt-jump-alignment/task-01-retain-start-target.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: reconcile agent creation and postgres CI fixtures
  apps/backend/internal/agent/settings/store/sqlite_profile_order_concurrency_test.go
  apps/backend/internal/mcp/handlers/handlers_ask_retry_test.go
  apps/backend/internal/testutil/postgres.go
  apps/backend/internal/testutil/postgres_test.go
  apps/web/app/settings/agents/[agentId]/agent-create-catalogue.test.tsx
  apps/web/app/settings/agents/[agentId]/agent-create-target-catalogue.test.tsx
  apps/web/app/settings/agents/[agentId]/agent-save-helpers.ts
  apps/web/app/settings/agents/page.test.tsx
  apps/web/components/settings/agents/agent-profiles-section-delete-inventory.test.tsx
  apps/web/components/settings/custom-tui-mcp-card.test.tsx
  apps/web/hooks/domains/settings/use-agent-creation-store-sync.test.tsx
  apps/web/hooks/domains/settings/use-agent-creation-store-sync.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(agents): await rendered drag handle geometry
  apps/web/e2e/tests/settings/agent-profile-order.spec.ts
  docs/plans/agent-profile-list-ordering/task-02-profile-order-ui.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(agents): retain removal fences after editor unmount
  apps/web/hooks/domains/settings/use-agent-creation-store-sync.test.tsx
  apps/web/hooks/domains/settings/use-agent-creation-store-sync.ts
  apps/web/lib/state/settings-agent-removals.ts
  apps/web/lib/state/store.ts
  docs/plans/agent-profile-list-ordering/task-02-profile-order-ui.md
  docs/specs/agents/system-design/creation-catalogue.md
  docs/specs/agents/system-design/profile-list-ordering.md
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(agents): correct creation publication source anchors
  docs/specs/agents/system-design/creation-catalogue.md
Due: none

fix(web): stabilize quick terminal and diff navigation
  apps/web/components/quick-chat/quick-terminal-tab-view.test.tsx
  apps/web/components/quick-chat/quick-terminal-tab-view.tsx
  apps/web/lib/state/slices/ui/quick-chat-actions.test.ts
  apps/web/lib/state/slices/ui/quick-chat-sync.test.ts
  apps/web/lib/state/slices/ui/quick-chat-sync.ts
  apps/web/lib/state/slices/ui/quick-terminal-actions.ts
  docs/specs/ui/requirements/quick-terminal.md
  docs/specs/ui/system-design/quick-terminal.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test: stabilize Windows workspace timestamp assertion
  apps/backend/internal/task/handlers/workspace_field_updates_integration_test.go
Due: gofmt, go-tests, go-lint

fix: add missing index for GetRunBySessionAt causation lookup
  apps/backend/internal/office/repository/sqlite/base_migrations.go
Due: gofmt, go-tests, go-lint

fix: carry run causation through workflow step handoffs
  apps/backend/internal/backendapp/main.go
  apps/backend/internal/backendapp/runs_engine_adapter_step_transition_test.go
  apps/backend/internal/office/repository/sqlite/step_transitions.go
  apps/backend/internal/office/repository/sqlite/step_transitions_test.go
  apps/backend/internal/office/service/run.go
  apps/backend/internal/office/service/run_causation_step_transition_test.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/step_entry_causation_test.go
  apps/backend/internal/runs/repository/sqlite/runs.go
  apps/backend/internal/runs/repository/sqlite/runs_by_session_test.go
  apps/backend/internal/workflow/engine/adapters.go
  apps/backend/internal/workflow/engine/engine.go
  apps/backend/internal/workflow/engine/entrydispatch.go
  apps/backend/internal/workflow/engine/entrydispatch_test.go
  apps/backend/internal/workflow/engine/phase2_callbacks.go
  apps/backend/internal/workflow/engine/queue_run_causing_step_transition_test.go
  docs/plans/office-step-handoff-causation/plan.md
  docs/plans/office-step-handoff-causation/task-01-step-entry-causation-from-ledger.md
  docs/specs/office/requirements/run-causation-chain.md
  docs/specs/office/system-design/unattended-launch-safety-01.md
Due: gofmt, go-tests, go-lint

fix: use canonical run models after rebase
  apps/backend/internal/backendapp/runs_engine_adapter_step_transition_test.go
  apps/backend/internal/office/repository/sqlite/base_migrations.go
  apps/backend/internal/office/service/run.go
  apps/backend/internal/office/service/run_causation_step_transition_test.go
  apps/backend/internal/orchestrator/watcher/watcher_test.go
  apps/backend/internal/orchestrator/workflow_step_ledger_test.go
  apps/backend/internal/runs/repository/sqlite/runs.go
  apps/backend/internal/runs/repository/sqlite/runs_by_session_test.go
Due: gofmt, go-tests, go-lint

fix: stabilize profile settings sync and PostgreSQL tests
  apps/backend/internal/agent/settings/store/postgres_isolated_schema_test.go
  apps/backend/internal/agent/settings/store/sqlite_profile_order_concurrency_test.go
  apps/backend/internal/db/postgres.go
  apps/backend/internal/testutil/postgres.go
  apps/web/app/settings/agents/[agentId]/agent-create-catalogue.test.tsx
  apps/web/app/settings/agents/[agentId]/agent-create-target-catalogue.test.tsx
  apps/web/app/settings/agents/[agentId]/agent-save-helpers.ts
  apps/web/app/settings/agents/[agentId]/agent-save-store-sync.test.tsx
  apps/web/app/settings/agents/[agentId]/agent-save-store-sync.ts
  apps/web/app/settings/agents/[agentId]/page.tsx
  apps/web/app/settings/agents/page.test.tsx
  apps/web/components/settings/agents/agent-profiles-section-delete-inventory.test.tsx
  apps/web/components/settings/custom-tui-mcp-card.test.tsx
  apps/web/hooks/domains/settings/use-agent-creation-store-sync.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(session): restore Resume after read-only recovery
  apps/backend/internal/agent/runtime/agentctl/client_delivery.go
  apps/backend/internal/agent/runtime/lifecycle/durable_adoption.go
  apps/backend/internal/agent/runtime/lifecycle/native_resume_adoption.go
  apps/backend/internal/agent/runtime/lifecycle/native_resume_compatibility_test.go
  apps/backend/internal/agent/runtime/lifecycle/native_resume_delivery.go
  apps/backend/internal/agent/runtime/lifecycle/native_resume_delivery_test.go
  apps/backend/internal/agentctl/journal/journal_submissions.go
  apps/backend/internal/agentctl/journal/native_resume_test.go
  apps/backend/internal/agentctl/journal/recovery.go
  apps/backend/internal/agentctl/server/process/manager.go
  apps/backend/internal/agentctl/server/process/native_resume_delivery_test.go
  apps/backend/internal/backendapp/adapters_native_resume.go
  apps/backend/internal/orchestrator/session_launch.go
  apps/backend/internal/orchestrator/session_native_delivery_recovery.go
  apps/backend/internal/orchestrator/session_native_delivery_recovery_test.go
  apps/web/components/task/ensure-session-error.test.tsx
  apps/web/components/task/ensure-session-error.tsx
  apps/web/e2e/helpers/interrupted-prompt-recovery.ts
  apps/web/e2e/tests/chat/quick-chat-resume-recovery-helpers.ts
  apps/web/e2e/tests/session/mobile-read-only-resume.spec.ts
  apps/web/e2e/tests/session/read-only-resume-helpers.ts
  apps/web/e2e/tests/session/read-only-resume.spec.ts
  docs/plans/quick-chat-interrupted-prompt-recovery/plan.md
  docs/plans/quick-chat-interrupted-prompt-recovery/task-03-read-only-resume.md
  docs/public/sessions-and-review.md
  docs/specs/platform/requirements/durable-agent-delivery.md
  docs/specs/platform/system-design/interrupted-prompt-recovery.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

media: screenshots for PR #4402
  mobile-read-only-resume--resume-action.png
  read-only-resume--resume-action.png
Due: none

media: fresh screenshots for PR #1785 at 63b1a5d509
  mobile-queued-session-ownership--queued-session-status-mobile.png
  queued-session-ownership--queued-session-status-desktop.png
Due: none
