Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

docs(spec): mark live-propagation-fallback complete
  docs/specs/fine-grained-background-running-status-indicator/spec.md
Due: none

docs(spec): mark session-level-truth complete for mobile sessions
  SPEC.md
Due: none

feat(web): re-enable waiting-for-input reading on the task-list row
  apps/web/app/tasks/tasks-list-view.test.tsx
  apps/web/app/tasks/tasks-list-view.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(web): extend getTaskStateIcon with task-level background affordance
  apps/web/lib/kanban/map-task.ts
  apps/web/lib/ssr/mapper.ts
  apps/web/lib/state/slices/kanban/types.ts
  apps/web/lib/types/backend.ts
  apps/web/lib/types/http.ts
  apps/web/lib/ui/state-icons.test.tsx
  apps/web/lib/ui/state-icons.tsx
  apps/web/lib/ws/handlers/kanban.ts
  apps/web/lib/ws/handlers/tasks.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs: renumber busy-signal ADR references
  apps/backend/cmd/mock-agent/handler.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/monitor_contract_test.go
  apps/backend/internal/agentctl/types/streams/monitor_view.go
  apps/backend/internal/agentctl/types/streams/monitor_view_test.go
  apps/backend/internal/backendapp/adapters.go
  apps/backend/internal/backendapp/boot_state.go
  apps/backend/internal/events/types.go
  apps/backend/internal/orchestrator/event_handlers_streaming.go
  apps/backend/internal/orchestrator/foreground_busy_signal_test.go
  apps/backend/internal/orchestrator/foreground_claim_test.go
  apps/backend/internal/orchestrator/prompt_background_acceptance_test.go
  apps/backend/internal/orchestrator/turn_activity.go
  apps/backend/internal/task/dto/dto.go
  apps/backend/internal/task/handlers/message_handlers.go
  apps/backend/internal/task/handlers/message_handlers_test.go
  apps/backend/internal/task/handlers/task_handlers.go
  apps/backend/pkg/api/v1/task.go
  apps/web/e2e/tests/chat/busy-signal.spec.ts
  apps/web/e2e/tests/chat/mobile-busy-signal.spec.ts
  apps/web/hooks/domains/session/use-session-state.test.ts
  apps/web/hooks/domains/session/use-session-state.ts
  apps/web/lib/state/slices/session/session-slice.upsert.test.ts
  apps/web/lib/types/backend.ts
  apps/web/lib/types/http.ts
  apps/web/lib/ui/state-icons.test.tsx
  apps/web/lib/ui/state-icons.tsx
  apps/web/lib/ws/handlers/agent-session.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(orchestrator): align prompt dispatch callback mock
  apps/backend/internal/orchestrator/event_handlers_test.go
Due: gofmt, go-tests, go-lint

feat(web): give task-level background-running a distinct hue on compact surfaces
  apps/web/lib/ui/state-icons.test.tsx
  apps/web/lib/ui/state-icons.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(spec): mark destructive-action-guard complete
  SPEC.md
Due: none

fix(orchestrator): close prompt race and pin the Monitor view contract
  apps/backend/internal/agentctl/server/adapter/transport/acp/monitor.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/monitor_contract_test.go
  apps/backend/internal/agentctl/types/streams/monitor_view.go
  apps/backend/internal/agentctl/types/streams/monitor_view_test.go
  apps/backend/internal/orchestrator/foreground_claim_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/turn_activity.go
  apps/backend/internal/task/handlers/message_handlers.go
  apps/web/components/task/session-reopen-menu.tsx
  docs/decisions/0049-fine-grained-foreground-idle-busy-signal.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(orchestrator): reconcile busy signal with prompt generations
  apps/backend/cmd/mock-agent/handler.go
  apps/backend/internal/agent/runtime/lifecycle/session_test.go
  apps/backend/internal/agentctl/server/adapter/transport/acp/monitor_contract_test.go
  apps/backend/internal/agentctl/types/streams/monitor_view.go
  apps/backend/internal/agentctl/types/streams/monitor_view_test.go
  apps/backend/internal/backendapp/adapters.go
  apps/backend/internal/backendapp/boot_state.go
  apps/backend/internal/events/types.go
  apps/backend/internal/orchestrator/event_handlers_streaming.go
  apps/backend/internal/orchestrator/foreground_busy_signal_test.go
  apps/backend/internal/orchestrator/foreground_claim_test.go
  apps/backend/internal/orchestrator/prompt_background_acceptance_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/turn_activity.go
  apps/backend/internal/task/dto/dto.go
  apps/backend/internal/task/handlers/message_handlers.go
  apps/backend/internal/task/handlers/message_handlers_test.go
  apps/backend/internal/task/handlers/task_handlers.go
  apps/backend/pkg/api/v1/task.go
  apps/web/e2e/tests/chat/busy-signal.spec.ts
  apps/web/e2e/tests/chat/mobile-busy-signal.spec.ts
  apps/web/hooks/domains/session/use-session-state.test.ts
  apps/web/hooks/domains/session/use-session-state.ts
  apps/web/lib/state/slices/session/session-slice.upsert.test.ts
  apps/web/lib/types/backend.ts
  apps/web/lib/types/http.ts
  apps/web/lib/ui/state-icons.test.tsx
  apps/web/lib/ui/state-icons.tsx
  apps/web/lib/ws/handlers/agent-session.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(orchestrator): serialize foreground prompt admission
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction.go
  apps/backend/internal/agent/runtime/lifecycle/session.go
  apps/backend/internal/agent/runtime/lifecycle/session_test.go
  apps/backend/internal/agent/runtime/lifecycle/types.go
  apps/backend/internal/backendapp/adapters.go
  apps/backend/internal/orchestrator/event_handlers_streaming.go
  apps/backend/internal/orchestrator/executor/executor_interaction.go
  apps/backend/internal/orchestrator/foreground_activity_signal_test.go
  apps/backend/internal/orchestrator/foreground_busy_signal_test.go
  apps/backend/internal/orchestrator/foreground_claim_test.go
  apps/backend/internal/orchestrator/task_operations.go
  apps/backend/internal/orchestrator/turn_activity.go
  docs/decisions/0049-fine-grained-foreground-idle-busy-signal.md
Due: gofmt, go-tests, go-lint

feat(task): add task-level foreground-activity aggregate to TaskDTO
  apps/backend/internal/task/dto/dto.go
  apps/backend/internal/task/dto/foreground_activity_test.go
  apps/backend/internal/task/dto/task_activity.go
Due: gofmt, go-tests, go-lint

feat(web): carry waiting-for-input parity to the kanban card
  apps/web/components/kanban-card-content.tsx
  apps/web/components/kanban-card-status-icon.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(web): carry waiting-for-input parity to the open-task header
  apps/web/app/tasks/[id]/kanban-task-shell.tsx
  apps/web/components/task/TaskHeader.test.tsx
  apps/web/components/task/TaskHeader.tsx
  apps/web/components/task/task-state-actions.test.tsx
  apps/web/components/task/task-state-actions.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(web): add in-flight predicate and task hook for destructive-action guard
  apps/web/hooks/use-task-in-flight.test.tsx
  apps/web/hooks/use-task-in-flight.ts
  apps/web/lib/ui/state-icons.test.tsx
  apps/web/lib/ui/state-icons.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor(web): collapse identical task/session permission icon constants
  apps/web/lib/ui/state-icons.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(web): show task-level background-running affordance on the kanban card
  apps/web/components/kanban-card-content.tsx
  apps/web/components/kanban-card.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): show task-level background affordance when primary session is done
  apps/web/components/kanban-card-content.tsx
  apps/web/components/kanban-card-status-icon.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(sidebar): carry foreground_activity aggregate onto the mobile task-switcher row
  apps/web/components/task/mobile/session-task-switcher-sheet-hooks.test.ts
  apps/web/components/task/mobile/session-task-switcher-sheet-hooks.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(spec): mark session-level-indicator complete, vocabulary in progress
  docs/specs/fine-grained-background-running-status-indicator/spec.md
Due: none

docs(spec): mark task-level-indicator in progress (backend + 2 surfaces)
  docs/specs/fine-grained-background-running-status-indicator/spec.md
Due: none

feat(web): carry waiting-for-input parity to the session menus
  apps/web/components/task/mobile/mobile-sessions-section.test.tsx
  apps/web/components/task/mobile/mobile-sessions-section.tsx
  apps/web/components/task/session-reopen-menu.test.tsx
  apps/web/components/task/session-reopen-menu.tsx
  apps/web/components/task/sessions-dropdown.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

refactor(web): drop orphaned useTaskPendingClarification wrapper
  apps/web/hooks/use-task-pending-clarification.test.tsx
  apps/web/hooks/use-task-pending-clarification.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(web): warn before deleting a task that is still working
  apps/web/components/task/task-delete-confirm-dialog.test.tsx
  apps/web/components/task/task-delete-confirm-dialog.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test(web): lock task.updated live-flip, done-clear, and clobber-guard for the activity aggregate
  apps/web/lib/ws/handlers/tasks-activity.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(web): surface session substate in mobile sessions section
  apps/web/components/task/mobile/mobile-sessions-section.test.tsx
  apps/web/components/task/mobile/mobile-sessions-section.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(web): warn before archiving a task that is still working
  apps/web/components/task/task-archive-confirm-dialog.test.tsx
  apps/web/components/task/task-archive-confirm-dialog.tsx
  apps/web/components/task/task-still-working-warning.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test(websocket): stabilize origin connection cleanup
  apps/backend/internal/gateway/websocket/handler_origin_test.go
Due: gofmt, go-tests, go-lint

perf(web): skip hidden task activity lookups
  apps/web/components/task/task-archive-confirm-dialog.tsx
  apps/web/components/task/task-delete-confirm-dialog.tsx
  apps/web/hooks/use-task-in-flight.test.tsx
  apps/web/hooks/use-task-in-flight.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: reconcile busy-signal rebase conflicts
  apps/backend/internal/orchestrator/event_handlers_streaming.go
  apps/backend/internal/orchestrator/foreground_activity_fallback_test.go
  apps/backend/internal/task/service/task_activity.go
  apps/web/components/task/task-item.tsx
  apps/web/components/task/task-switcher.tsx
  apps/web/lib/ui/state-icons.test.tsx
  apps/web/lib/ui/state-icons.tsx
  apps/web/lib/utils/session-info.ts
  docs/specs/INDEX.md
  docs/specs/fine-grained-background-running-status-indicator/spec.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

docs(spec): fine-grained background-running status indicator
  docs/specs/fine-grained-background-running-status-indicator/spec.md
Due: none

feat(web): carry waiting-for-input parity to graph and swimlane nodes
  apps/web/components/kanban/graph2-step-node.test.tsx
  apps/web/components/kanban/graph2-step-node.tsx
  apps/web/components/kanban/swimlane-graph-content.test.tsx
  apps/web/components/kanban/swimlane-graph-content.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(requirements): busy indicators reflect all in-flight work
  REQUIREMENTS.md
Due: none

fix(web): surface background-running substate in session-reopen menu
  apps/web/components/task/session-reopen-menu.test.tsx
  apps/web/components/task/session-reopen-menu.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): close busy-indicator review gaps
  SPEC.md
  apps/web/app/tasks/tasks-list-view.test.tsx
  apps/web/app/tasks/tasks-list-view.tsx
  apps/web/components/task/mobile/mobile-sessions-section.test.tsx
  apps/web/components/task/mobile/mobile-sessions-section.tsx
  apps/web/components/task/task-archive-confirm-dialog.tsx
  apps/web/components/task/task-delete-confirm-dialog.tsx
  apps/web/components/task/task-item.test.tsx
  apps/web/components/task/task-item.tsx
  apps/web/components/task/task-still-working-warning.tsx
  apps/web/hooks/use-task-in-flight.ts
  apps/web/hooks/use-task-pending-input.ts
  apps/web/lib/ui/state-icons.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(spec): mark task-level-indicator and three-state-vocabulary complete
  docs/specs/fine-grained-background-running-status-indicator/spec.md
Due: none

fix(sidebar): read task-level foreground_activity aggregate for row state
  apps/web/components/task/task-item.test.tsx
  apps/web/components/task/task-item.tsx
  apps/web/components/task/task-session-sidebar.tsx
  apps/web/components/task/task-switcher.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(web): show task-level background affordance on graph/swimlane nodes
  apps/web/components/kanban/graph2-step-node.test.tsx
  apps/web/components/kanban/graph2-step-node.tsx
  apps/web/components/kanban/swimlane-graph-content.test.tsx
  apps/web/components/kanban/swimlane-graph-content.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

feat(web): lift waiting-for-input variants into shared state vocabulary
  apps/web/hooks/use-task-pending-clarification.ts
  apps/web/hooks/use-task-pending-input.test.tsx
  apps/web/hooks/use-task-pending-input.ts
  apps/web/lib/ui/state-icons.test.tsx
  apps/web/lib/ui/state-icons.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck
