Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

fix(alertsource): resolve Review Round 1 findings
  apps/backend/internal/db/sqlguard/exemptions.json
  apps/backend/internal/integrations/alertsource/config.go
  apps/backend/internal/integrations/alertsource/config_test.go
  apps/backend/internal/integrations/alertsource/descriptor.go
  apps/backend/internal/integrations/alertsource/descriptor_test.go
  apps/backend/internal/integrations/alertsource/fieldspec.go
  apps/backend/internal/integrations/alertsource/store.go
  apps/backend/internal/integrations/alertsource/store_postgres_test.go
  apps/backend/internal/integrations/alertsource/store_test.go
Due: gofmt, go-tests, go-lint

docs(alert-ingest): update T04 work-order Results section
  docs/plans/alert-ingest/task-04-alert-model-and-descriptor.md
Due: none

feat(alertsource): add ValidateConfig/LoadConfig and the Config accessor type
  apps/backend/internal/integrations/alertsource/config.go
  apps/backend/internal/integrations/alertsource/config_test.go
  apps/backend/internal/integrations/alertsource/fieldspec.go
  apps/backend/internal/integrations/alertsource/fieldspec_test.go
Due: gofmt, go-tests, go-lint

feat(alertsource): add declarative field-spec builder and JSON Schema emission
  apps/backend/internal/integrations/alertsource/field.go
  apps/backend/internal/integrations/alertsource/field_test.go
  apps/backend/internal/integrations/alertsource/fieldspec.go
  apps/backend/internal/integrations/alertsource/fieldspec_test.go
Due: gofmt, go-tests, go-lint

fix(alertsource): resolve Build-phase Round-5 findings R5-09, R5-11, R5-12, R5-13
  apps/backend/internal/integrations/alertsource/config.go
  apps/backend/internal/integrations/alertsource/config_test.go
  apps/backend/internal/integrations/alertsource/descriptor.go
  apps/backend/internal/integrations/alertsource/fieldspec_test.go
  apps/backend/internal/integrations/alertsource/fingerprint_test.go
Due: gofmt, go-tests, go-lint

feat(alertsource): add Descriptor, Capabilities and CheckCapabilities
  apps/backend/internal/integrations/alertsource/descriptor.go
  apps/backend/internal/integrations/alertsource/descriptor_test.go
  apps/backend/internal/integrations/alertsource/interfaces.go
Due: gofmt, go-tests, go-lint

feat(alertsource): add Alert model, typed errors and fingerprint encoding
  apps/backend/internal/integrations/alertsource/alert.go
  apps/backend/internal/integrations/alertsource/alert_test.go
  apps/backend/internal/integrations/alertsource/errors.go
  apps/backend/internal/integrations/alertsource/errors_test.go
  apps/backend/internal/integrations/alertsource/fingerprint.go
  apps/backend/internal/integrations/alertsource/fingerprint_test.go
Due: gofmt, go-tests, go-lint

fix(alertsource): correct isIdentifier alphabet to match D11/D2
  apps/backend/internal/integrations/alertsource/fieldspec.go
  apps/backend/internal/integrations/alertsource/fieldspec_test.go
Due: gofmt, go-tests, go-lint

fix(alertsource): correct schema emission and duplicate-field cardinality
  apps/backend/internal/integrations/alertsource/fieldspec.go
  apps/backend/internal/integrations/alertsource/fieldspec_test.go
Due: gofmt, go-tests, go-lint

feat(alertsource): add shared DB store for sources, watches, and reservations
  apps/backend/internal/integrations/alertsource/store.go
  apps/backend/internal/integrations/alertsource/store_postgres_test.go
  apps/backend/internal/integrations/alertsource/store_test.go
Due: gofmt, go-tests, go-lint

fix(docs): satisfy PR coverage metadata
  docs/plans/openai-compatible-providers/plan.md
  docs/plans/openai-compatible-providers/task-01-provider-primitive.md
  docs/plans/openai-compatible-providers/task-02-providerinject.md
  docs/plans/openai-compatible-providers/task-03-session-injection.md
  docs/plans/openai-compatible-providers/task-04-probe-inference-reach.md
  docs/plans/openai-compatible-providers/task-05-profile-editor.md
Due: none

test(tasks): cover exact profile receipt persistence
  apps/backend/internal/task/repository/sqlite/exact_profile_assignment_test.go
Due: gofmt, go-tests, go-lint

test(tasks): cover exact assignment workspace guards
  apps/backend/internal/task/repository/sqlite/exact_profile_assignment_test.go
Due: gofmt, go-tests, go-lint

fix(orchestrator): resolve remaining PR fixup review findings
  apps/backend/internal/backendapp/main.go
  apps/backend/internal/office/service/ceiling_credentials.go
  apps/backend/internal/orchestrator/ceiling_defer.go
  apps/backend/internal/orchestrator/ceiling_defer_test.go
  apps/backend/internal/orchestrator/ceiling_replay.go
  apps/backend/internal/orchestrator/ceiling_seam2.go
  apps/backend/internal/orchestrator/ceiling_seams.go
  apps/backend/internal/orchestrator/event_handlers_workflow.go
  apps/backend/internal/orchestrator/event_handlers_workflow_deferred_launch_race_test.go
  apps/backend/internal/orchestrator/service.go
  apps/backend/internal/orchestrator/session_ceiling.go
  apps/backend/internal/orchestrator/session_ceiling_lifecycle_test.go
  apps/backend/internal/task/service/service_workflow.go
  apps/backend/internal/task/service/service_workflow_deferred_launch_race_test.go
Due: gofmt, go-tests, go-lint

fix(e2e): stabilize CI automation and task navigation
  apps/backend/cmd/mock-agent/main.go
  apps/backend/cmd/mock-agent/mcp_client.go
  apps/backend/cmd/mock-agent/mcp_client_test.go
  apps/web/e2e/tests/kanban/stale-session-navigation.spec.ts
  apps/web/e2e/tests/pr/ci-automation-options.spec.ts
  apps/web/e2e/tests/pr/mobile-ci-automation-options.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(e2e): wait for refreshed storage network census
  apps/web/e2e/tests/docker/docker-network-reclamation.spec.ts
  apps/web/e2e/tests/system/mobile-storage-maintenance.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(orchestrator): publish task.updated on a successful ceiling replay too
  apps/backend/internal/orchestrator/ceiling_replay.go
  apps/backend/internal/orchestrator/ceiling_replay_test.go
Due: gofmt, go-tests, go-lint

fix(alertsource): resolve PR Fixup Round 1 findings
  apps/backend/internal/integrations/alertsource/field.go
  docs/plans/alert-ingest/plan.md
  docs/plans/alert-ingest/task-00-issue-watch-workspace-scoping.md
  docs/plans/alert-ingest/task-01-webhook-alert-ingest-path.md
  docs/plans/alert-ingest/task-04-alert-model-and-descriptor.md
  docs/plans/alert-ingest/task-06-registry-ingest-and-http.md
  docs/plans/alert-ingest/task-07-source-settings-ui.md
  docs/plans/alert-ingest/task-08-port-sentry.md
  docs/plans/alert-ingest/task-09-datadog-source.md
Due: gofmt, go-tests, go-lint

fix: discover locally installed agents across launch modes
  apps/backend/internal/launcher/env.go
  apps/backend/internal/launcher/local_agent_path.go
  apps/backend/internal/launcher/local_agent_path_test.go
  docs/plans/cursor-install-discovery/plan.md
  docs/plans/cursor-install-discovery/task-01-local-agent-path.md
  docs/public/cli.md
  docs/specs/platform/requirements/local-agent-path.md
  docs/specs/platform/system-design/local-agent-path.md
Due: gofmt, go-tests, go-lint

fix(alertsource): guard int64/float64 range and index reservations by task
  apps/backend/internal/integrations/alertsource/fieldspec.go
  apps/backend/internal/integrations/alertsource/store.go
Due: gofmt, go-tests, go-lint

fix(automation): harden signed webhook delivery and configuration
  apps/backend/cmd/plugin-fixture/fixture-package/manifest.yaml
  apps/backend/internal/automation/plugin_webhook.go
  apps/backend/internal/automation/plugin_webhook_regression_test.go
  apps/backend/internal/automation/plugin_webhook_test.go
  apps/backend/internal/automation/plugin_webhook_types.go
  apps/backend/internal/automation/plugin_webhook_validation.go
  apps/backend/internal/automation/plugin_webhook_worker.go
  apps/backend/internal/automation/service.go
  apps/backend/internal/automation/store.go
  apps/backend/internal/plugins/automation.go
  apps/backend/internal/plugins/manifest/automation.go
  apps/backend/internal/plugins/manifest/automation_test.go
  apps/web/components/automations/automation-editor.tsx
  apps/web/components/automations/trigger-card.tsx
  apps/web/components/automations/trigger-configs/plugin-event-config.tsx
  apps/web/components/automations/trigger-configs/plugin-webhook-controls.test.tsx
  apps/web/components/automations/trigger-configs/plugin-webhook-controls.tsx
  apps/web/components/automations/trigger-picker.tsx
  apps/web/components/automations/triggers-section.tsx
  apps/web/e2e/tests/plugins/automation-webhook-scenario.ts
  apps/web/e2e/tests/plugins/automation-webhook.spec.ts
  apps/web/e2e/tests/plugins/mobile-automation-webhook.spec.ts
  apps/web/hooks/use-automation-trigger-types.test.ts
  apps/web/hooks/use-automation-trigger-types.ts
  apps/web/hooks/use-plugin-webhook-controls.test.ts
  apps/web/hooks/use-plugin-webhook-controls.ts
  apps/web/lib/state/slices/automations/automations-slice.ts
  apps/web/lib/state/slices/automations/types.ts
  docs/decisions/2026-09-15-plugin-automation-webhook-adapters.md
  docs/plans/automation-webhook-adapters/plan.md
  docs/plans/automation-webhook-adapters/task-01-host-adapters.md
  docs/public/plugins-manifest.md
  docs/specs/plugins/requirements/automation-webhook-adapters.md
  docs/specs/plugins/system-design/automation-webhook-adapters.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: resolve local agent paths for the service account
  apps/backend/internal/launcher/local_agent_path.go
  apps/backend/internal/launcher/local_agent_path_test.go
  apps/backend/internal/launcher/local_agent_service_path_test.go
  docs/plans/cursor-install-discovery/plan.md
  docs/plans/cursor-install-discovery/task-01-local-agent-path.md
  docs/public/cli.md
  docs/specs/platform/requirements/local-agent-path.md
  docs/specs/platform/system-design/local-agent-path.md
Due: gofmt, go-tests, go-lint

fix(e2e): keep primed MCP sessions alive
  apps/backend/cmd/mock-agent/mcp_client.go
  apps/backend/cmd/mock-agent/mcp_client_test.go
Due: gofmt, go-tests, go-lint

fix(kubernetes): copy checkouts without preserving PVC metadata
  apps/backend/internal/agent/runtime/lifecycle/default_scripts.go
  apps/backend/internal/agent/runtime/lifecycle/default_scripts_kubernetes_test.go
  apps/backend/internal/agent/runtime/lifecycle/full_worker_prepare_test.go
  apps/backend/internal/agent/runtime/lifecycle/kubernetes_prepare_copy_test.go
  k8s/worker-images/full/prepare.sh
Due: gofmt, go-tests, go-lint

docs: clarify launchd local agent path handling
  apps/backend/internal/launcher/service.go
  docs/plans/cursor-install-discovery/plan.md
  docs/plans/cursor-install-discovery/task-01-local-agent-path.md
Due: gofmt, go-tests, go-lint

fix(e2e): assert active network attachment
  apps/web/e2e/tests/docker/docker-network-reclamation.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: restore single-user MCP PR linking
  apps/backend/internal/backendapp/helpers.go
  apps/backend/internal/backendapp/task_change_link_coordinator.go
  apps/backend/internal/backendapp/task_change_link_coordinator_test.go
  apps/backend/internal/backendapp/task_change_link_identity.go
  apps/backend/internal/backendapp/task_change_link_identity_test.go
  apps/backend/internal/backendapp/task_change_link_mcp_test.go
  docs/plans/mcp-pr-link-single-user/plan.md
  docs/plans/mcp-pr-link-single-user/task-01-restore-single-user-linking.md
  docs/specs/integrations/system-design/task-change-link-mcp.md
Due: gofmt, go-tests, go-lint

test: clarify failed PR link call recording
  apps/backend/internal/backendapp/task_change_link_coordinator_test.go
Due: gofmt, go-tests, go-lint

docs: close reposync ADR supersession sweep and add ledger amendment rule
  docs/decisions/2026-09-15-reposync-extraction-declined.md
  docs/specs/office/system-design/config-sync.md
Due: none

docs: correct two factual claims in the reposync-decline artifacts
  docs/decisions/2026-09-15-reposync-extraction-declined.md
  docs/specs/office/system-design/config-sync.md
Due: none

fix(kubernetes): normalize equivalent GitHub origins
  apps/backend/internal/agent/runtime/lifecycle/default_scripts.go
  apps/backend/internal/agent/runtime/lifecycle/kubernetes_prepare_copy_test.go
  k8s/worker-images/full/prepare.sh
Due: gofmt, go-tests, go-lint

test: wait for terminal setup before follow-up admission
  apps/backend/internal/orchestrator/completed_task_follow_up_test.go
  docs/plans/cursor-install-discovery/plan.md
  docs/plans/cursor-install-discovery/task-01-local-agent-path.md
Due: gofmt, go-tests, go-lint

docs(kubernetes): record retained workspace regressions
  docs/plans/kubernetes-docker-workloads/task-03-docker-lifecycle.md
Due: none

fix(e2e): keep active network fixture attached
  apps/web/e2e/tests/docker/docker-network-reclamation.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(kubernetes): upgrade persisted managed scripts
  apps/backend/internal/agent/runtime/lifecycle/default_scripts.go
  apps/backend/internal/agent/runtime/lifecycle/executor_kubernetes_bootstrap.go
  apps/backend/internal/agent/runtime/lifecycle/kubernetes_prepare_copy_test.go
  docs/plans/kubernetes-docker-workloads/task-03-docker-lifecycle.md
  k8s/worker-images/full/prepare.sh
Due: gofmt, go-tests, go-lint

test(mcp): strengthen related-read mutation coverage
  apps/backend/internal/mcp/handlers/handoff_authorization_dispatch_test.go
Due: gofmt, go-tests, go-lint

fix(e2e): close clarification and workspace hydration races
  apps/backend/internal/orchestrator/event_handlers_streaming.go
  apps/backend/internal/orchestrator/event_handlers_streaming_test.go
  apps/web/e2e/tests/chat/clarification.spec.ts
  apps/web/e2e/tests/review/code-review-on-demand.spec.ts
  apps/web/e2e/tests/session/session-tab-management.spec.ts
  apps/web/e2e/tests/session/setup-script-progress.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck
