Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

feat(mcp): add append mode to update_task_plan_kandev (#3448)
  apps/backend/internal/mcp/handlers/handlers.go
  apps/backend/internal/mcp/handlers/task_plan_append_mode_test.go
  apps/backend/internal/mcp/handlers/task_plan_guard.go
  apps/backend/internal/mcp/handlers/task_plan_guard_append_mode_test.go
  apps/backend/internal/mcp/server/handlers.go
  apps/backend/internal/mcp/server/server.go
  apps/backend/internal/mcp/server/task_plan_append_mode_test.go
  apps/backend/internal/task/handlers/task_plan_handlers_test.go
  apps/backend/internal/task/planws/errors.go
  apps/backend/internal/task/service/plan_append.go
  apps/backend/internal/task/service/plan_append_concurrency_test.go
  apps/backend/internal/task/service/plan_append_test.go
  apps/backend/internal/task/service/plan_mode.go
  apps/backend/internal/task/service/plan_service.go
  apps/backend/internal/task/service/plan_size.go
  docs/specs/tasks/README.md
  docs/specs/tasks/requirements/plan-write-append-mode.md
  docs/specs/tasks/system-design/plan-write-append-mode-agent-text.md
  docs/specs/tasks/system-design/plan-write-append-mode.md
Due: gofmt, go-tests, go-lint

fix(backend): break approver-first tie when neither quorum seat sits at the current step (#3442)
  apps/backend/internal/workflow/engine/quorum.go
  apps/backend/internal/workflow/engine/quorum_role_test.go
  docs/specs/tasks/requirements/workflow-quorum-decision-recording-agent-surface.md
  docs/specs/tasks/system-design/workflow-quorum-decision-recording.md
Due: gofmt, go-tests, go-lint

fix: keep PR walkthrough links canonical (#3438)
  .github/scripts/pr-walkthrough-workflow-contract_test.py
  .github/scripts/preview-env-workflow-contract_test.py
  .github/workflows/pr-walkthrough-reconcile.yml
  .github/workflows/pr-walkthrough.yml
  .github/workflows/preview-env.yml
  apps/backend/cmd/preview/cleanup.go
  apps/backend/cmd/preview/deploy.go
  apps/backend/cmd/preview/description.go
  apps/backend/cmd/preview/github.go
  apps/backend/cmd/preview/github_description_write_test.go
  apps/backend/cmd/preview/main.go
  docs/decisions/2026-09-05-pr-walkthrough-description-integrity.md
  docs/decisions/INDEX.md
  docs/plans/pr-walkthrough-description-integrity-fix/plan.md
  docs/plans/pr-walkthrough-description-integrity-fix/task-01-race-safe-description-writes.md
  docs/plans/pr-walkthrough-description-integrity-fix/task-02-reconcile-stale-walkthrough-links.md
  docs/specs/ci/system-design/unified-contributor-pr-automation.md
  docs/specs/ui/README.md
  docs/specs/ui/requirements/pr-walkthrough.md
  docs/specs/ui/system-design/pr-walkthrough.md
  scripts/pr-walkthrough-pr-body
  scripts/pr-walkthrough-pr-body.test.py
Due: gofmt, go-tests, go-lint

fix: suppress invalid task timestamps (#3434)
  apps/web/components/task/chat/messages/message-actions.test.tsx
  apps/web/components/task/chat/messages/message-actions.tsx
  apps/web/lib/state/slices/session/turn-actions.ts
  apps/web/lib/utils.test.ts
  apps/web/lib/utils.ts
  apps/web/lib/utils/strict-timestamp.ts
  docs/plans/invalid-task-date-display/plan.md
  docs/plans/invalid-task-date-display/task-01-suppress-invalid-message-timestamps.md
  docs/specs/ui/requirements/task-prompt-transcript-visibility.md
  docs/specs/ui/system-design/task-prompt-transcript-visibility.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: stabilize flaky e2e workflows
  apps/web/e2e/tests/settings/agent-runtime-update.spec.ts
  apps/web/e2e/tests/settings/mobile-plugin-marketplace-sources.spec.ts
  apps/web/e2e/tests/task/autopilot-mode.spec.ts
  apps/web/e2e/tests/task/mobile-autopilot-mode.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): preserve Kanban column width while dragging (#3345) (#3423)
  apps/web/components/kanban/adaptive-desktop-kanban.test.tsx
  apps/web/components/kanban/adaptive-desktop-kanban.tsx
  apps/web/components/kanban/kanban-grid-template.test.ts
  apps/web/e2e/tests/kanban/auto-hide-empty-columns.spec.ts
  docs/plans/kanban-drag-column-width-stability/plan.md
  docs/plans/kanban-drag-column-width-stability/task-01-stabilize-desktop-drag-columns.md
  docs/specs/ui/README.md
  docs/specs/ui/requirements/adaptive-kanban.md
  docs/specs/ui/system-design/adaptive-kanban.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(tasks): validate clarification response envelopes
  apps/backend/internal/task/repository/sqlite/message.go
  apps/backend/internal/task/repository/sqlite/message_pending_index_postgres_test.go
  apps/backend/internal/task/repository/sqlite/message_pending_index_test.go
  apps/web/components/task/chat/clarification-input-overlay.test.tsx
  apps/web/components/task/chat/clarification-panel-section.test.tsx
  apps/web/hooks/domains/session/use-clarification-group.regressions.test.ts
  apps/web/hooks/domains/session/use-clarification-group.test.ts
  apps/web/hooks/domains/session/use-clarification-group.timeout.test.ts
  apps/web/hooks/domains/session/use-clarification-group.ts
  docs/plans/clarification-response-reliability/plan.md
  docs/plans/clarification-response-reliability/task-01-index-pending-id-bundle-access.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

feat: add DeepSeek API Balance to plugin registry (#3452)
  plugin-registry/plugins.yaml
Due: none

docs: add task manager host monitor design
  docs/plans/task-manager-host-monitor/plan.md
  docs/plans/task-manager-host-monitor/task-01-ambient-summary-sampling.md
  docs/plans/task-manager-host-monitor/task-02-configurable-monitor-ui.md
  docs/plans/task-manager-host-monitor/task-03-packaged-monitor-verification.md
  docs/specs/plugins/README.md
  docs/specs/plugins/requirements/task-manager-host-monitor.md
  docs/specs/plugins/system-design/task-manager-host-monitor.md
Due: none

fix: reconcile task monitor host contracts
  apps/backend/internal/plugins/config.go
  apps/backend/internal/plugins/config_test.go
  apps/packages/plugin-sdk/src/index.ts
  apps/web/components/kanban/main-top-bar-plugin-actions.test.tsx
  apps/web/components/kanban/main-top-bar-plugin-actions.tsx
  apps/web/components/settings/plugins/plugin-config-form.tsx
  apps/web/components/settings/plugins/plugin-detail.test.tsx
  apps/web/components/settings/plugins/plugin-detail.tsx
  apps/web/lib/plugins/config-schema.test.ts
  apps/web/lib/plugins/config-schema.ts
  apps/web/lib/plugins/types.ts
  docs/plans/plugins/PLUGIN-API.md
  docs/plans/task-manager-host-monitor/plan.md
  docs/plans/task-manager-host-monitor/task-03-packaged-monitor-verification.md
  docs/public/plugins-authoring.md
  docs/specs/plugins/system-design/task-manager-host-monitor.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test: cover queued autopilot question delivery
  apps/web/e2e/helpers/settled-box.ts
  apps/web/e2e/tests/task/autopilot-mode.spec.ts
  apps/web/e2e/tests/task/mobile-autopilot-mode.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(sidebar): address automatic color review findings
  apps/backend/internal/task/repository/session_repository_test.go
  apps/backend/internal/task/repository/sqlite/session.go
  apps/backend/internal/task/service/service_events.go
  apps/web/components/task/add-workspace-sources/use-workspace-repository-options.ts
  apps/web/components/task/mobile/session-task-switcher-sheet-hooks.ts
  apps/web/components/task/sidebar-filter/automatic-color-settings.test.tsx
  apps/web/components/task/sidebar-filter/sidebar-filter-popover.test.tsx
  apps/web/components/task/sidebar-filter/sidebar-filter-popover.tsx
  apps/web/components/task/sidebar-filter/sidebar-settings-disclosure.tsx
  apps/web/components/task/sidebar-filter/task-color-rule-options.test.tsx
  apps/web/components/task/sidebar-filter/task-color-rule-options.tsx
  apps/web/components/task/sidebar-filter/use-repository-rule-catalog.ts
  apps/web/components/task/sidebar-filter/use-sidebar-task-color-automation.ts
  apps/web/components/task/task-archived-context.tsx
  apps/web/components/task/task-page-content-helpers.ts
  apps/web/components/task/task-session-sidebar-archived-item.test.ts
  apps/web/components/task/task-session-sidebar-archived-item.ts
  apps/web/components/task/task-session-sidebar-item.ts
  apps/web/components/task/task-session-sidebar.tsx
  apps/web/hooks/domains/integrations/use-remote-repositories.test.tsx
  apps/web/hooks/domains/integrations/use-remote-repositories.ts
  apps/web/lib/sidebar/repository-rule-identity.test.ts
  apps/web/lib/sidebar/repository-rule-identity.ts
  apps/web/lib/sidebar/task-color-rules.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(session): stabilize message hydration fixture
  apps/web/hooks/domains/session/use-session-messages.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(sidebar): address follow-up automatic color review
  apps/web/components/task/sidebar-filter/automatic-color-rule-fields.tsx
  apps/web/components/task/sidebar-filter/automatic-color-rule-settings-helpers.ts
  apps/web/components/task/sidebar-filter/automatic-color-settings.test.tsx
  apps/web/components/task/sidebar-filter/sidebar-filter-popover.test.tsx
  apps/web/components/task/sidebar-filter/sidebar-view-editor.tsx
  apps/web/components/task/sidebar-filter/sort-picker.tsx
  apps/web/components/task/sidebar-filter/use-repository-rule-catalog.test.tsx
  apps/web/e2e/pages/sidebar-filter-popover.ts
  apps/web/e2e/tests/task/mobile-sidebar-views.spec.ts
  apps/web/e2e/tests/task/sidebar-filter.spec.ts
  apps/web/src/locales/en/task.json
  apps/web/src/locales/pseudo/task.json
  apps/web/src/locales/pt-pt/task.json
  apps/web/src/locales/zh-cn/task.json
  apps/web/src/locales/zh-hk/task.json
  apps/web/src/locales/zh-tw/task.json
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(user): satisfy backend static checks
  apps/backend/internal/user/store/sidebar_task_colors.go
  apps/backend/internal/user/store/sqlite.go
Due: gofmt, go-tests, go-lint

fix(web): update color test fixtures
  apps/web/components/task/mobile/session-task-switcher-sheet.test.tsx
  apps/web/e2e/tests/task/mobile-sidebar-task-actions.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): harden personal task color synchronization
  apps/web/e2e/tests/task/sidebar-task-color-sync.spec.ts
  apps/web/hooks/use-ensure-user-settings.ts
  apps/web/hooks/use-task-color-migration.test.tsx
  apps/web/hooks/use-task-color-migration.ts
  apps/web/hooks/use-task-color.test.tsx
  apps/web/hooks/use-task-color.ts
  apps/web/src/app-shell.test.tsx
  apps/web/src/app-shell.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): polish automatic color editor
  apps/web/components/task/sidebar-filter/automatic-color-rule-fields.tsx
  apps/web/components/task/sidebar-filter/automatic-color-settings.test.tsx
  apps/web/components/task/sidebar-filter/automatic-color-settings.tsx
  apps/web/components/task/sidebar-filter/sidebar-filter-popover.test.tsx
  apps/web/components/task/sidebar-filter/sidebar-view-editor.tsx
  apps/web/components/task/sidebar-filter/task-color-rule-options.test.tsx
  apps/web/components/task/sidebar-filter/task-color-rule-options.tsx
  apps/web/components/task/sidebar-filter/task-row-settings.tsx
  apps/web/e2e/tests/task/mobile-sidebar-automatic-colors.spec.ts
  apps/web/e2e/tests/task/sidebar-automatic-colors.spec.ts
  apps/web/src/locales/en/task.json
  apps/web/src/locales/pseudo/task.json
  apps/web/src/locales/pt-pt/task.json
  apps/web/src/locales/zh-cn/task.json
  apps/web/src/locales/zh-hk/task.json
  apps/web/src/locales/zh-tw/task.json
  docs/plans/sidebar-automatic-task-colors/task-04-deliver-responsive-automatic-color-editor.md
  docs/specs/ui/requirements/sidebar-automatic-task-colors.md
  docs/specs/ui/system-design/sidebar-automatic-task-colors.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): compact automatic color editor layout
  apps/web/components/task/sidebar-filter/automatic-color-settings.test.tsx
  apps/web/components/task/sidebar-filter/automatic-color-settings.tsx
  apps/web/components/task/sidebar-filter/sidebar-filter-popover.test.tsx
  apps/web/components/task/sidebar-filter/sidebar-filter-popover.tsx
  apps/web/components/task/sidebar-filter/sidebar-settings-disclosure.tsx
  apps/web/components/task/sidebar-filter/sidebar-view-editor.tsx
  apps/web/e2e/tests/task/mobile-sidebar-automatic-colors.spec.ts
  apps/web/e2e/tests/task/sidebar-automatic-colors.spec.ts
  docs/plans/sidebar-automatic-task-colors/plan.md
  docs/plans/sidebar-automatic-task-colors/task-04-deliver-responsive-automatic-color-editor.md
  docs/specs/ui/requirements/sidebar-automatic-task-colors.md
  docs/specs/ui/system-design/sidebar-automatic-task-colors.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): refine automatic color rule layout
  apps/web/components/task/sidebar-filter/automatic-color-repository-picker.tsx
  apps/web/components/task/sidebar-filter/automatic-color-rule-card.tsx
  apps/web/components/task/sidebar-filter/automatic-color-settings.test.tsx
  apps/web/components/task/sidebar-filter/sidebar-filter-popover.test.tsx
  apps/web/components/task/sidebar-filter/sidebar-filter-popover.tsx
  apps/web/e2e/tests/task/mobile-sidebar-automatic-colors.spec.ts
  apps/web/e2e/tests/task/sidebar-automatic-colors.spec.ts
  docs/plans/sidebar-automatic-task-colors/plan.md
  docs/plans/sidebar-automatic-task-colors/task-04-deliver-responsive-automatic-color-editor.md
  docs/specs/ui/requirements/sidebar-automatic-task-colors.md
  docs/specs/ui/system-design/sidebar-automatic-task-colors.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: repair rebase compatibility for task projections
  apps/backend/internal/task/dto/converters_test.go
  apps/backend/internal/task/dto/dto.go
  apps/backend/internal/task/dto/primary_agent_profile_test.go
  apps/web/components/task/mobile/session-task-switcher-sheet-item.ts
  apps/web/components/task/task-session-sidebar-item.ts
  apps/web/lib/ssr/mapper.ts
  apps/web/lib/state/slices/kanban/types.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(tasks): use valid clarification success envelopes
  apps/web/e2e/tests/chat/clarification.spec.ts
  apps/web/e2e/tests/chat/mobile-clarification.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(i18n): restore Traditional Chinese week units
  apps/web/src/locales/zh-hk/common.json
  apps/web/src/locales/zh-tw/common.json
Due: prettier-format

fix: align prompt guidance with launch behavior (#3336)
  apps/web/components/settings/workflow-step-prompt-section.tsx
  apps/web/e2e/tests/workflow/mobile-workflow-settings.spec.ts
  apps/web/e2e/tests/workflow/workflow-settings.spec.ts
  apps/web/src/locales/en/workflows.json
  apps/web/src/locales/pseudo/workflows.json
  apps/web/src/locales/pt-pt/workflows.json
  apps/web/src/locales/zh-cn/workflows.json
  apps/web/src/locales/zh-hk/workflows.json
  apps/web/src/locales/zh-tw/workflows.json
  docs/plans/workflow-step-prompt-guidance/task-01-show-step-prompt-guidance.md
  docs/public/workflow-tips.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: auto-start steps with new prompts (#3336)
  apps/web/components/settings/workflow-pipeline-editor-helpers.test.tsx
  apps/web/components/settings/workflow-pipeline-editor-helpers.tsx
  apps/web/components/settings/workflow-pipeline-editor-panels.tsx
  apps/web/components/settings/workflow-step-prompt-section.test.tsx
  apps/web/components/settings/workflow-step-prompt-section.tsx
  apps/web/e2e/tests/workflow/mobile-workflow-settings.spec.ts
  apps/web/e2e/tests/workflow/workflow-settings.spec.ts
  apps/web/src/locales/en/workflows.json
  apps/web/src/locales/pseudo/workflows.json
  apps/web/src/locales/pt-pt/workflows.json
  apps/web/src/locales/zh-cn/workflows.json
  apps/web/src/locales/zh-hk/workflows.json
  apps/web/src/locales/zh-tw/workflows.json
  docs/plans/workflow-step-prompt-guidance/plan.md
  docs/plans/workflow-step-prompt-guidance/task-02-auto-enable-prompted-steps.md
  docs/public/workflow-tips.md
  docs/specs/tasks/requirements/workflow-step-agent-start-ownership.md
  docs/specs/tasks/system-design/workflow-step-agent-start-ownership.md
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: refine workflow prompt guidance UX
  apps/web/components/settings/workflow-cycle-diagnostic.tsx
  apps/web/components/settings/workflow-step-prompt-section.tsx
  apps/web/e2e/tests/workflow/mobile-workflow-settings.spec.ts
  apps/web/e2e/tests/workflow/workflow-cycle-guardrails.spec.ts
  apps/web/e2e/tests/workflow/workflow-settings.spec.ts
  apps/web/src/locales/en/workflows.json
  apps/web/src/locales/pseudo/workflows.json
  apps/web/src/locales/pt-pt/workflows.json
  apps/web/src/locales/zh-cn/workflows.json
  apps/web/src/locales/zh-hk/workflows.json
  apps/web/src/locales/zh-tw/workflows.json
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: clarify workflow step prompt trigger (#3336)
  apps/web/components/settings/workflow-step-prompt-section.tsx
  apps/web/e2e/tests/workflow/mobile-workflow-settings.spec.ts
  apps/web/e2e/tests/workflow/workflow-settings.spec.ts
  apps/web/src/locales/en/workflows.json
  apps/web/src/locales/pseudo/workflows.json
  apps/web/src/locales/pt-pt/workflows.json
  apps/web/src/locales/zh-cn/workflows.json
  apps/web/src/locales/zh-hk/workflows.json
  apps/web/src/locales/zh-tw/workflows.json
  docs/plans/workflow-step-prompt-guidance/plan.md
  docs/plans/workflow-step-prompt-guidance/task-01-show-step-prompt-guidance.md
  docs/public/workflow-tips.md
  docs/specs/tasks/requirements/workflow-step-agent-start-ownership.md
  docs/specs/tasks/system-design/workflow-step-agent-start-ownership.md
Due: prettier-format, web-lint, web-tests, web-typecheck

test(e2e): keep cancellation fixture within pending window
  apps/web/e2e/tests/chat/cancel-progress-task-switch.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix: preserve launch recovery ownership and PR refs
  apps/backend/internal/agent/runtime/routingerr/sanitize.go
  apps/backend/internal/agent/runtime/routingerr/sanitize_test.go
  apps/backend/internal/repoclone/clone.go
  apps/backend/internal/repoclone/clone_auth_test.go
  apps/backend/internal/worktree/manager_checkout_branch_test.go
  apps/backend/internal/worktree/manager_git.go
  apps/backend/internal/worktree/manager_lifecycle.go
  apps/backend/internal/worktree/manager_pr_head_collision_test.go
  apps/backend/internal/worktree/manager_pr_refspec_test.go
  apps/backend/internal/worktree/manager_recreate_recovery_test.go
  apps/web/components/task/chat/message-list-footer.test.tsx
  apps/web/components/task/chat/message-list-footer.tsx
  apps/web/components/task/chat/message-list-native.tsx
  apps/web/components/task/chat/message-list-shared.test.tsx
  apps/web/components/task/chat/message-list-shared.tsx
  apps/web/components/task/chat/types.test.ts
  apps/web/components/task/chat/types.ts
  apps/web/components/task/task-chat-panel.launch-error.test.tsx
  apps/web/components/task/task-chat-panel.tsx
  apps/web/e2e/tests/pr/mobile-pr-watcher-missing-branch.spec.ts
  apps/web/e2e/tests/pr/pr-watcher-missing-branch.spec.ts
  docs/plans/task-launch-error-consolidation/plan.md
  docs/plans/task-launch-error-consolidation/task-01-isolate-reused-pr-refs.md
  docs/plans/task-launch-error-consolidation/task-03-consolidate-launch-error-presentation.md
  docs/specs/tasks/system-design/task-launch-failure-recovery.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: preserve PR status colors across reload
  apps/backend/internal/task/statussummary/projector_pr.go
  apps/backend/internal/task/statussummary/projector_pr_precedence_test.go
  apps/web/components/kanban-card-content.tsx
  apps/web/components/kanban-card.tsx
  apps/web/e2e/tests/pr/pr-sidebar-hover-hydration.spec.ts
  apps/web/e2e/tests/pr/pr-status-badge.spec.ts
  apps/web/e2e/tests/task/mobile-task-status-summary.spec.ts
  docs/plans/pr-status-summary-color-parity/plan.md
  docs/plans/pr-status-summary-color-parity/task-01-align-pr-status-precedence.md
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(web): stabilize Kanban drag destination
  apps/web/e2e/tests/kanban/wip-overflow-queue.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

media: screenshots for PR #3454
  desktop-kanban-pending-ci-reloaded.png
  desktop-sidebar-pending-ci-reloaded.png
  desktop-sidebar-pr-summary.png
  mobile-pr-status-drawer.png
  mobile-task-switcher-pending-ci.png
Due: none

fix(web): hide human assignee badge in status strip when auth disabled
  apps/web/components/kanban-card-status-strip.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck

test(tasks): scope postgres claim plan assertion
  apps/backend/internal/task/repository/sqlite/message_pending_index_postgres_test.go
Due: gofmt, go-tests, go-lint

fix: align multi-pr status precedence
  apps/backend/internal/task/statussummary/projector_pr.go
  apps/backend/internal/task/statussummary/projector_pr_precedence_test.go
  docs/plans/pr-status-summary-color-parity/plan.md
  docs/plans/pr-status-summary-color-parity/task-01-align-pr-status-precedence.md
Due: gofmt, go-tests, go-lint

fix: stabilize flaky e2e workflows (#3453)
  apps/web/e2e/helpers/settled-box.ts
  apps/web/e2e/tests/settings/agent-runtime-update.spec.ts
  apps/web/e2e/tests/settings/mobile-plugin-marketplace-sources.spec.ts
  apps/web/e2e/tests/task/autopilot-mode.spec.ts
  apps/web/e2e/tests/task/mobile-autopilot-mode.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck
