Repository kdlbs/kandev: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck, landing-typecheck

.pre-commit-config.yaml:

repos:
  # Backend (Go) hooks
  - repo: local
    hooks:
      - id: gofmt
        name: gofmt (backend)
        entry: bash -c 'gofmt -w "$@"' --
        language: system
        files: ^apps/backend/.*\.go$
        pass_filenames: true

      - id: go-tests
        name: Go tests (backend)
        entry: bash -c 'cd apps/backend && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (backend)
        entry: bash -c 'cd apps/backend && golangci-lint run'
        language: system
        files: \.go$
        pass_filenames: false

  # Web app (TypeScript/React) hooks
  - repo: local
    hooks:
      - id: prettier-format
        name: Prettier format (web/cli/packages)
        entry: bash -c 'cd apps && pnpm exec prettier --write --ignore-unknown "${@/#apps\//}"' --
        language: system
        files: ^apps/(web|cli|packages)/.*\.(ts|tsx|js|jsx|mjs|cjs|json|md|mdx|yml|yaml|css|scss)$
        pass_filenames: true

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd apps && pnpm --filter @kandev/web lint'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: true
        additional_dependencies: []

      - id: web-tests
        name: Web tests
        entry: bash -c 'cd apps && pnpm --filter @kandev/web test'
        language: node
        files: ^apps/web/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        additional_dependencies: []

      - id: web-typecheck
        name: Typecheck web app
        entry: bash -c 'cd apps && pnpm --filter @kandev/web exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/web/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

  # Landing page hooks
  - repo: local
    hooks:
      # - id: landing-lint
      #   name: Landing lint
      #   entry: bash -c 'cd apps && pnpm --filter @kandev/landing lint'
      #   language: node
      #   files: ^apps/landing/.*\.(ts|tsx|js|jsx)$
      #   pass_filenames: true
      #   additional_dependencies: []

      - id: landing-typecheck
        name: Typecheck landing page
        entry: bash -c 'cd apps && pnpm --filter @kandev/landing exec tsc -p tsconfig.json --noEmit'
        language: node
        files: ^apps/landing/.*\.(ts|tsx)$
        pass_filenames: false
        additional_dependencies: []

fix(office): extract newAgentAuth helper to satisfy funlen
  apps/backend/cmd/kandev/main.go
Due: gofmt, go-tests, go-lint

chore(ci): bump JS actions off deprecated Node 20 runtime
  .github/workflows/backend-tests.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/frontend-tests.yml
  .github/workflows/preview-env.yml
  .github/workflows/release.yml
  .github/workflows/universal-rebuild.yml
Due: none

revert(ci): keep claude workflows on actions/checkout@v4 on this branch
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

fix: ignore pi version banner in utility inference output
  apps/backend/internal/agentctl/server/utility/acp_executor.go
  apps/backend/internal/agentctl/server/utility/acp_executor_test.go
Due: gofmt, go-tests, go-lint

feat(profiles): runtime profiles for prod/dev/e2e via profiles.yaml
  AGENTS.md
  apps/backend/cmd/kandev/helpers.go
  apps/backend/cmd/kandev/main.go
  apps/backend/internal/common/config/config.go
  apps/backend/internal/common/config/config_test.go
  apps/backend/internal/profiles/profiles.go
  apps/backend/internal/profiles/profiles.yaml
  apps/backend/internal/profiles/profiles_test.go
  apps/cli/src/dev.ts
  apps/web/app/actions/features.ts
  apps/web/app/layout.tsx
  apps/web/app/office/layout.tsx
  apps/web/components/kanban/kanban-header.tsx
  apps/web/e2e/fixtures/backend.ts
  apps/web/hooks/domains/features/use-feature.ts
  apps/web/lib/api/domains/features-api.ts
  apps/web/lib/state/default-state.ts
  apps/web/lib/state/hydration/hydrator.ts
  apps/web/lib/state/slices/features/features-slice.test.ts
  apps/web/lib/state/slices/features/features-slice.ts
  apps/web/lib/state/slices/features/types.ts
  apps/web/lib/state/slices/index.ts
  apps/web/lib/state/store.ts
  docs/decisions/0007-runtime-feature-flags.md
  docs/decisions/INDEX.md
  profiles.yaml
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

test(e2e): assorted flake fixes and OS-notification suppression
  apps/backend/internal/notifications/providers/system_provider.go
  apps/web/e2e/fixtures/test-base.ts
  apps/web/e2e/helpers/api-client.ts
  apps/web/e2e/helpers/notifications-capture.ts
  apps/web/e2e/tests/kanban/preview-session-tabs.spec.ts
  apps/web/e2e/tests/office/agent-run-live.spec.ts
  apps/web/e2e/tests/task/create-task-github-url.spec.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(office): extract newOfficeTaskStarter to satisfy funlen + wire pre-commit doctor
  .agents/skills/commit/SKILL.md
  Makefile
  apps/backend/cmd/kandev/main.go
Due: gofmt, go-tests, go-lint

refactor(features): type-drive the wire shape so new flags need no handler edits
  apps/backend/cmd/kandev/helpers.go
  apps/backend/internal/common/config/config.go
  apps/backend/internal/common/config/config_test.go
  apps/web/app/actions/features.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(agents): MockAgent.BuildCommand respects configured binaryPath
  apps/backend/internal/agent/agents/mock.go
Due: gofmt, go-tests, go-lint

test(e2e): reload-on-timeout helper for chat-idle WS subscribe race
  apps/web/e2e/pages/session-page.ts
  apps/web/e2e/tests/task/mobile-changes-panel.spec.ts
  apps/web/e2e/tests/terminal/mobile-terminal-keybar.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(office): hide "Open in office view" link on kanban-origin tasks
  .gitignore
  apps/backend/internal/task/dto/dto.go
  apps/backend/internal/task/models/models.go
  apps/backend/internal/task/models/models_test.go
  apps/web/app/tasks/[id]/kanban-task-shell.tsx
  apps/web/lib/types/http.test.ts
  apps/web/lib/types/http.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix(office): detect office tasks via workspace.office_workflow_id, not project alone
  apps/backend/internal/task/dto/dto.go
  apps/backend/internal/task/models/models.go
  apps/backend/internal/task/models/models_test.go
  apps/backend/internal/task/repository/sqlite/task.go
  apps/web/lib/types/http.test.ts
  apps/web/lib/types/http.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

fix: show PR diff when clicking file row that has local changes (#908)
  apps/web/components/task/dockview-desktop-layout.tsx
  apps/web/components/task/mobile/mobile-changes-panel.tsx
  apps/web/components/task/task-changes-panel.test.ts
  apps/web/components/task/task-changes-panel.tsx
  apps/web/e2e/tests/git/changes-panel-section-order.spec.ts
  apps/web/e2e/tests/task/mobile-changes-panel.spec.ts
  apps/web/hooks/domains/session/use-review-sources.ts
  apps/web/lib/state/dockview-panel-actions.ts
  apps/web/lib/state/dockview-store.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(utility): add edge-case tests for sanitizeInferenceChunk
  apps/backend/internal/agentctl/server/utility/acp_executor.go
  apps/backend/internal/agentctl/server/utility/acp_executor_test.go
Due: gofmt, go-tests, go-lint

fix: ignore pi version banner in utility inference output (#915)
  apps/backend/internal/agentctl/server/utility/acp_executor.go
  apps/backend/internal/agentctl/server/utility/acp_executor_test.go
Due: gofmt, go-tests, go-lint

fix: address Claude review on isFromOffice + waitForChatIdle
  apps/backend/internal/task/models/models_test.go
  apps/backend/internal/task/repository/sqlite/is_from_office_test.go
  apps/backend/internal/task/repository/sqlite/task.go
  apps/web/e2e/pages/session-page.ts
Due: gofmt, go-tests, go-lint, prettier-format, web-lint, web-tests, web-typecheck

release: 0.49.0
  CHANGELOG.md
  apps/cli/package.json
Due: prettier-format

test(web): cover stale LAST_AGENT_PROFILE_ID in create-task dialog
  apps/web/components/task-create-dialog-effects.test.ts
  apps/web/e2e/tests/task/create-task.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(web): validate stored agent profile id before restoring it
  apps/web/components/task-create-dialog-effects.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(db): bubble meta-read errors in persistence.Provide
  apps/backend/internal/persistence/provider.go
  docs/specs/db-upgrade-safety/spec.md
Due: gofmt, go-tests, go-lint

feat: update skills
  .agents/agents/pr-poller.md
  .agents/skills/pr-fixup/SKILL.md
Due: none

fix(office): disable destructive worktree GC sweep
  apps/backend/internal/office/infra/gc.go
  apps/backend/internal/office/infra/gc_test.go
Due: gofmt, go-tests, go-lint

fix(office): rewrite worktree GC sweep against authoritative inventory
  apps/backend/cmd/kandev/main.go
  apps/backend/cmd/kandev/types.go
  apps/backend/internal/agent/runtime/lifecycle/env_preparer_worktree_multi_test.go
  apps/backend/internal/office/infra/gc.go
  apps/backend/internal/office/infra/gc_test.go
  apps/backend/internal/office/repository/sqlite/tasks.go
  apps/backend/internal/worktree/manager.go
  apps/backend/internal/worktree/manager_test.go
  apps/backend/internal/worktree/store.go
  apps/backend/internal/worktree/store_test.go
Due: gofmt, go-tests, go-lint

docs: record ADR 0009 for fail-closed GC semantics
  docs/decisions/0009-fail-closed-gc-semantics.md
  docs/decisions/INDEX.md
  docs/specs/INDEX.md
  docs/specs/office-gc-worktree-safety/spec.md
Due: none

docs: drop bug-fix spec, tighten spec vs ADR boundary in skills
  .agents/skills/fix/SKILL.md
  .agents/skills/spec/SKILL.md
  docs/decisions/0009-fail-closed-gc-semantics.md
  docs/specs/INDEX.md
  docs/specs/office-gc-worktree-safety/spec.md
Due: none

feat: add shards to e2e docker tests
  .github/workflows/e2e-tests.yml
Due: none

fix: e2e shard
  apps/web/e2e/playwright.config.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(specs): fill needs-upgrade gaps across 11 office specs
  docs/specs/INDEX.md
  docs/specs/office/agents.md
  docs/specs/office/assistant.md
  docs/specs/office/costs.md
  docs/specs/office/dashboard.md
  docs/specs/office/inbox.md
  docs/specs/office/live-updates.md
  docs/specs/office/routing.md
  docs/specs/office/runtime.md
  docs/specs/office/scheduler.md
  docs/specs/office/tasks.md
  docs/specs/office/testing.md
Due: none

fix: e2e docker
  apps/backend/internal/agent/agents/agent.go
  apps/backend/internal/agent/agents/mock.go
  apps/backend/internal/agent/executor/executor.go
  apps/backend/internal/agent/registry/provider.go
  apps/backend/internal/agent/runtime/lifecycle/manager_interaction.go
  apps/backend/internal/agent/runtime/lifecycle/manager_launch.go
  apps/backend/internal/agentruntime/runtime.go
  apps/backend/internal/agentruntime/runtime_test.go
  apps/backend/internal/task/models/models.go
Due: gofmt, go-tests, go-lint

test: cover MockAgent.BuildCommand runtime branches + ExecutorType.Runtime map
  apps/backend/internal/agent/agents/mock_test.go
  apps/backend/internal/common/logger/logger.go
  apps/backend/internal/task/models/models_test.go
Due: gofmt, go-tests, go-lint

test(diff): add unit and E2E coverage for @pierre/diffs integration
  apps/web/components/diff/diff-header-toolbar.test.tsx
  apps/web/components/diff/use-diff-metadata.test.ts
  apps/web/e2e/tests/git/diff-expansion.spec.ts
  apps/web/lib/diff/adapter.test.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

chore(deps): bump @pierre/diffs from 1.0.11 to 1.1.22
  apps/pnpm-lock.yaml
  apps/web/components/diff/diff-header-toolbar.test.tsx
  apps/web/components/diff/diff-header-toolbar.tsx
  apps/web/components/diff/diff-viewer.tsx
  apps/web/components/diff/use-diff-options.tsx
  apps/web/components/diff/use-diff-viewer-state.ts
  apps/web/package.json
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(diff): complete @pierre/diffs 1.1.22 migration and address review feedback
  apps/web/components/diff/use-diff-options.tsx
  apps/web/components/diff/use-diff-viewer-state.test.ts
  apps/web/components/diff/use-diff-viewer-state.ts
  apps/web/components/diff/use-expandable-diff.ts
  apps/web/e2e/tests/git/diff-expansion.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

test(diff): fold Shiki token-count assertion into the first hunk test
  apps/web/e2e/tests/git/diff-expansion.spec.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

fix(diff): use processFile to attach full content for hunk expansion
  apps/web/components/diff/use-diff-viewer-state.ts
  apps/web/components/diff/use-expandable-diff.ts
Due: prettier-format, web-lint, web-tests, web-typecheck

docs(diff): fix stale RenderHeaderMetadataProps comment in test
  apps/web/components/diff/diff-header-toolbar.test.tsx
Due: prettier-format, web-lint, web-tests, web-typecheck
